In [ ]:
import pymysql
import pandas as pd
import numpy as np
import requests
from datetime import datetime

In [38]:
connection = pymysql.connect(
    host='localhost',
    user='root',
    password='Abdec@90',
    database='market',
    cursorclass=pymysql.cursors.DictCursor
)

In [ ]:
try:
    with connection.cursor() as cursor:
        # Example query
        sql = "SELECT * FROM Country;"
        #sql = "DESCRIBE Country;"
        cursor.execute(sql)
        results = cursor.fetchall()
        for row in results:
            print((row))
finally:
    pass
    #connection.close()

In [ ]:



headers = {
    "User-Agent": "Mozilla/5.0"
}
url = "https://www.nseindia.com/api/search/autocomplete?q=IBULHSGFIN"
response = requests.get(url, headers=headers)

a = response.json()

In [50]:
a

{'symbols': [],
 'mfsymbols': [],
 'search_content': [{'title': 'List of Underlyings and Information',
   'content': 'LIMITEDHDFC84ICICI BANK LIMITEDICICIBANK85\nICICI LOMBARD GENERAL INSURANCE COMPANY LIMITEDICICIGI86ICICI PRUDENTIAL LIFE INSURANCE COMPANY LIMITEDICICIPRULI87IDFC\nFIRST BANK LIMITEDIDFCFIRSTB88IDFC LIMITEDIDFC89INDIABULLS HOUSING FINANCE <b>LIMITEDIBULHSGFIN90INDIAMART</b>',
   'url': '/products-services/equity-derivatives-list-underlyings-information',
   'result_type': 'content',
   'result_sub_type': 'content'}],
 'sitemap': []}

In [190]:
import requests
from datetime import datetime

headers = {
    "User-Agent": "Mozilla/5.0"
}
url = "https://www.nseindia.com/api/search/autocomplete?q=VEDL"
response = requests.get(url, headers=headers)

a = response.json()
b = a['symbols'][0]['listing_date']
ListingDate = datetime.strptime(b, "%Y-%m-%d").date()

ISIN = 'INE205A01025'

values = (ListingDate, ISIN)

In [21]:
try:
    with connection.cursor() as cursor:
        # Example query
        sql = "Update stock set ListingDate = %s where ISIN = %s"
        cursor.execute(sql, values)
        connection.commit()
        results = cursor.rowcount
        print(results)
finally:
    pass
    #connection.close()

0

In [13]:
import requests
from datetime import datetime

In [40]:
def get_listing_date(ISIN, symbol):
    

    headers = {
        "User-Agent": "Mozilla/5.0"
    }
    url = f"https://www.nseindia.com/api/search/autocomplete?q={symbol}"
    response = requests.get(url, headers=headers)

    a = response.json()
    print(ISIN)
    print(symbol)
    b = a['symbols'][0]['listing_date']
    ListingDate = datetime.strptime(b, "%Y-%m-%d").date()
    
    values = (ListingDate, ISIN)
    return values

In [1]:
from mymodule.DatabaseConnection import CRUD

In [2]:
from dotenv import load_dotenv
load_dotenv()

True

In [3]:
os.environ['database']

NameError: name 'os' is not defined

In [83]:
lo_stock = CRUD('Stock')
df_stock = lo_stock.Read('')
df_stock = df_stock[df_stock['ListingDate'].isnull()]
df_stock.shape

DataBase Disconnected

(221, 6)

In [84]:
lo_sestockcode = CRUD('stockexchange_stockcode')
df_sestockcode = lo_sestockcode.Read('')
df_sestockcode = df_sestockcode[df_sestockcode['StockExchange']=='NSE']
df_sestockcode.shape

DataBase Disconnected

(2151, 3)

In [85]:
df_stock1 = pd.merge(df_sestockcode, df_stock, on='ISIN', how='inner')
df_stock1.shape

(12, 8)

In [86]:
df_stock1

,ISIN,StockExchange,Symbol,StockName,SectorId,ListingDate,stock_status,trading_status
0,INE00FF01017,NSE,AMIORG,Ami Organics Limited,None,None,NaN,NaN
1,INE148I01020,NSE,SAMMAANCAP,Sammaan Capital Limited,None,None,NaN,NaN
2,INE202Z01029,NSE,SUNDARMHLD,Sundaram Finance Holdings Limited,None,None,NaN,NaN
3,INE273D01019,NSE,AARVEEDEN,Aarvee Denims & Exports Limited,None,None,NaN,NaN
4,INE382M01027,NSE,BARBEQUE,Barbeque Nation Hospitality Limited,None,None,NaN,NaN
5,INE460C01014,NSE,GANESHHOUC,Ganesh Housing Corporation Limited,None,None,NaN,NaN
6,INE596H01014,NSE,HOVS,HOV Services Limited,None,None,NaN,NaN
7,INE665A01038,NSE,SWANENERGY,Swan Energy Limited,None,None,NaN,NaN
8,INE686A01026,NSE,ITDCEM,ITD Cementation India Limited,None,None,NaN,NaN
9,INE818A01017,NSE,SELAN,Selan Exploration Technology Limited,None,None,NaN,NaN
10,INE878A01011,NSE,GEPIL,GE Power India Limited,None,None,NaN,NaN
11,INE981B01011,NSE,CMICABLES,CMI Limited,None,None,NaN,NaN

In [ ]:
try:
    with connection.cursor() as cursor:
        # Example query
        sql = "Update stock set ListingDate = %s where ISIN = %s"
        for i, row in df_stock1[1:].iterrows():
            if row['StockExchange'] == 'NSE':
                values = get_listing_date(row['ISIN'], row['Symbol'])
                cursor.execute(sql, values)
                connection.commit()
finally:
    pass

INE148I01020
SAMMAANCAP
INE202Z01029
SUNDARMHLD

IndexError: list index out of range

:

In [ ]:
try:
    with connection.cursor() as cursor:
        # Example query
        sql = "Update stock set ListingDate = %s where ISIN = %s"
        cursor.execute(sql, values)
        connection.commit()
        results = cursor.rowcount
        print(results)
finally:
    pass
    #connection.close()

In [46]:
df_stock1

,ISIN,StockExchange,Symbol,StockName,SectorId,ListingDate,stock_status,trading_status
0,IN9110D01011,NSE,GUJNREDVR,Gujarat NRE Coke (DVR) Ltd.,None,None,None,None
1,IN9155A01020,NSE,TATAMTRDVR,Tata Motors Limited,None,None,None,None
2,INE001A01036,NSE,HDFC,Housing Development Finance Corporation Limited,None,None,None,None
3,INE008Z01012,NSE,SRPL,Shree Ram Proteins Limited,None,None,None,None
4,INE00FF01017,NSE,AMIORG,Ami Organics Limited,None,None,None,None
5,INE148I01020,NSE,IBULHSGFIN,Indiabulls Housing Finance Limited,None,None,None,None
6,INE202Z01029,NSE,SUNDARMHLD,Sundaram Finance Holdings Limited,None,None,None,None
7,INE273D01019,NSE,AARVEEDEN,Aarvee Denims & Exports Limited,None,None,None,None
8,INE382M01027,NSE,BARBEQUE,Barbeque Nation Hospitality Limited,None,None,None,None
9,INE460C01014,NSE,GANESHHOUC,Ganesh Housing Corporation Limited,None,None,None,None
10,INE596H01014,NSE,HOVS,HOV Services Limited,None,None,None,None
11,INE665A01038,NSE,SWANENERGY,Swan Energy Limited,None,None,None,None
12,INE686A01026,NSE,ITDCEM,ITD Cementation India Limited,None,None,None,None
13,INE776C01039,NSE,GMRINFRA,GMR Airports Infrastructure Limited,None,None,None,None
14,INE818A01017,NSE,SELAN,Selan Exploration Technology Limited,None,None,None,None
15,INE878A01011,NSE,GEPIL,GE Power India Limited,None,None,None,None

In [45]:
get_listing_date('INE148A01019', 'TNPETRO')

INE148A01019

(datetime.date(1999, 10, 27), 'INE148A01019')

In [39]:
df_sestockcode = df_sestockcode[df_sestockcode['StockExchange']=='NSE']

In [40]:
df_sestockcode.reset_index(inplace=True, drop='index')

In [73]:
df_sestockcode[df_sestockcode['ISIN']=='INE878A01011']

              ISIN StockExchange Symbol
1953  INE878A01011           NSE  GEPIL

In [74]:
try:
    with connection.cursor() as cursor:
        # Example query
        sql = "Update stock set ListingDate = %s where ISIN = %s"
        for i, row in df_sestockcode[1954:].iterrows():
            if row['StockExchange'] == 'NSE':
                values = get_listing_date(row['ISIN'], row['Symbol'])
                cursor.execute(sql, values)
                connection.commit()
finally:
    pass

INE878B01027
KEI
INE878E01021
SETCO
INE878H01024
INVENTURE
INE878I01022
BAFNAPH
INE878K01010
BFINVEST
INE879A01019
SHREERAMA
INE879E01037
KANANIIND
INE879I01012
DBREALTY
INE880J01026
JSWINFRA
INE880L01014
KIOCL
INE881D01027
OFSS
INE882A01013
MARALOVER
INE883A01011
MRF
INE883F01010
AADHARHFC
INE883N01014
PARAGMILK
INE884A01027
VAIBHAVGBL
INE885A01032
ARE&M
INE885E01042
MAZDA
INE885F01015
MASKINVEST
INE885H01029
SPORTKING
INE886A01014
IITL
INE886D01026
EFCIL
INE887E01022
NGLFINE
INE887G01027
GOKEX
INE888C01040
SADHNANIQ
INE890C01046
SANWARIA
INE891B01012
DCMFINSERV
INE891D01026
REDINGTON
INE893I01013
VASCONEQ
INE893J01029
MOLDTKPAC
INE894V01022
BELRISE
INE895B01021
RUPA
INE895W01019
PANACHE
INE896L01010
INDOSTAR
INE898S01029
AURUM
INE900B01029
KABRAEXTRU
INE900C01027
ASAL
INE900L01010
MBAPL
INE901L01018
APLLTD
INE902B01017
S&SPOWER
INE903D01011
MONARCH
INE903U01023
SIGNATURE
INE907A01026
KSL
INE908D01010
SHAKTIPUMP
INE908V01012
LIBAS
INE910C01018
TTKHLTCARE
INE911B01018
TCIFINANCE
INE912H01013
MBLINFRA
INE912L01015
ONELIFECAP
INE912T01018
RPEL
INE913H01037
ENDURANCE
INE914E01040
ALANKIT
INE914M01019
ASTERDM
INE915B01019
INDSWFTLAB
INE916G01016
GEECEE
INE916U01025
SFL
INE916Y01027
AFIL
INE917H01012
SRHHYPOLTD
INE917I01010
BAJAJ-AUTO
INE917M01012
DBL
INE918I01026
BAJAJFINSV
INE918N01018
VETO
INE918Z01012
KAYNES
INE919H01018
IMFA
INE919I01024
RADIOCITY
INE920A01037
DOLPHIN
INE921B01025
DBSTOCKBRO
INE922A01025
BEPL
INE922B01023
PANACEABIO
INE922K01024
INDIASHLTR
INE923A01015
SILINV
INE924D01017
THEINVEST
INE924H01018
TARMAT
INE925C01016
MADHAV
INE925R01014
CMSINFO
INE925Y01036
GODHA
INE926K01017
AHLEAST
INE926X01010
HGINFRA
INE927A01040
ROLLT
INE927C01020
DIGISPICE
INE927D01051
JBMA
INE930H01031
KPRMILL
INE930P01018
ANURAS
INE931S01010
ADANIENSOL
INE932A01024
PENIND
INE932C01012
TOKYOPLAST
INE932X01026
SHAREINDIA
INE933A01014
LYKALABS
INE933B01012
MEGASOFT
INE933K01021
BAJAJCON
INE933S01016
INDIAMART
INE933X01016
SHANTI
INE934S01014
GNA
INE935A01035
GLENMARK
INE935B01025
MOSCHIP
INE935N01020
DIXON
INE936B01015
NATCAPSUQ
INE937A01023
SPMLINFRA
INE937C01029
NILAINFRA
INE938A01021
LCCINFOTEC
INE939A01011
STAR
INE939X01013
MANBA
INE940H01022
PGIL
INE942C01045
GUJTHEM
INE942G01012
MCLEODRUSS
INE943D01017
MPSLTD
INE943P01029
AGARWALEYE
INE944F01028
RADICO
INE945H01013
V2RETAIL
INE946H01037
VIPULLTD
INE947A01014
SUNFLAG
INE947I01017
LOTUSEYE
INE947J01015
DEN
INE947Q01028
LAURUSLABS
INE948A01012
TRIGYN
INE949H01023
MANINFRA
INE949L01017
AUBANK
INE949P01018
GENUSPAPER
INE950I01011
DBCORP
INE950M01013
MONTECARLO
INE951D01028
ATULAUTO
INE951I01027
VGUARD
INE952A01022
HINDNATGLS
INE952H01027
RAJTV
INE953L01027
JSFB
INE953O01021
SANSERA
INE953R01016
PNGJL
INE954E01012
MOHITIND
INE955D01029
GENUSPOWER
INE955I01044
SEJALLTD
INE955V01021
ARVINDFASN
INE956G01038
WABAG
INE959A01019
PRIVISCL
INE959C01023
OAL
INE961D01019
UNIDT
INE961O01016
RAINBOW
INE962C01035
EASTSILK
INE962Y01021
IRCON
INE963C01033
FAZE3Q
INE964H01014
SEPC
INE964W01021
MKPL
INE965B01022
HYBRIDFIN
INE965H01011
SITINET
INE966A01022
DOLATALGO
INE966H01019
ZEEMEDIA
INE967C01018
KAMATHOTEL
INE967H01025
KIMS
INE970D01010
LOYALTEX
INE970N01027
SPCENET
INE970X01018
LEMONTREE
INE972X01022
VAISHALI
INE973A01010
GOLDENTOBC
INE974B01016
CHEVIOT
INE974X01010
TIINDIA
INE974Z01015
PRITI
INE975G01012
IL&FSTRANS
INE976A01021
WSTCSTPAPR
INE976E01023
FOODSIN
INE976G01028
RBLBANK
INE976R01025
AGIIL
INE976T01013
SAGARDEEP
INE977Y01011
BCONCEPTS
INE978A01027
HERITGFOOD
INE978G01016
SPLIL
INE979A01025
SAREGAMA
INE979R01011
SHYAMCENT
INE980O01024
JYOTICNC
INE980Y01015
SOUTHWEST
INE982B01027
ADFFOODS
INE982F01036
HATHWAY
INE982J01020
PAYTM
INE982V01025
JETFREIGHT
INE985A01022
SINCLAIR
INE985S01024
TEAMLEASE
INE985W01018
CREATIVE
INE987B01026
NATCOPHARM
INE988S01028
PARKHOTELS
INE989A01032
SANGHVIMOV
INE989C01038
DIACABS
INE991I01015
ASPINWALL
INE992I01013
STARTECK
INE993A01026
MANINDS
INE995D01025
CHEMBOND
INE995S01015
NIVABUPA
INE997Y01027
MITTAL
INE998H01012
ORIENTALTL
INE998I01010
MHRIL
INE999A01023
KSB
INE999B01013
SANGHIIND
INE999K01014
GREENPOWER

In [4]:
get_listing_date('PAGEIND')

2007-03-16

In [2]:
import pandas as pd

In [199]:
df_bulk = pd.read_csv('.\Data\Block Deal\BSE\Block_01Jan2000to05Oct2025.csv', dtype={'Security Code':object}, parse_dates=['Deal Date'], dayfirst=True)

<>:1: SyntaxWarning: invalid escape sequence '\D'
<>:1: SyntaxWarning: invalid escape sequence '\D'
C:\Users\Ravi\AppData\Local\Temp\ipykernel_40268\3096419382.py:1: SyntaxWarning: invalid escape sequence '\D'
  df_bulk = pd.read_csv('.\Data\Block Deal\BSE\Block_01Jan2000to05Oct2025.csv', dtype={'Security Code':object}, parse_dates=['Deal Date'], dayfirst=True)

In [4]:
df_bulk.head()

,Deal Date,Security Code,Company,Client Name,Deal Type,Quantity,Price
0,29-11-2005,523886,MICROINK,BILAKHIA HOLDINGS PVT LTD,S,1378031,640.0
1,29-11-2005,523886,MICROINK,MUMBAI INTEGRATED SEZ LTD,P,1172000,640.0
2,29-11-2005,507878,UNITECH,PRAKAUSLI INVESTMENT INDIA PVT LTD,P,235000,650.0
3,29-11-2005,507878,UNITECH,UNIBUILD ENGG AND CONSTURCTION,S,235000,650.0
4,29-11-2005,523886,MICROINK,NARENDRA DHARMSINGH DESAI,P,126031,640.0

In [5]:
df_bulk['Client Name'].unique()

array(['BILAKHIA HOLDINGS PVT LTD', 'MUMBAI INTEGRATED SEZ LTD',
       'PRAKAUSLI INVESTMENT INDIA PVT LTD', ...,
       'NEO INFRA INCOME OPPORTUNITIES FUND',
       'PICO CAPITAL PRIVATE LIMITED',
       'B ARUNKUMAR CAPITAL & CREDIT SERVICES PVT LTD'],
      shape=(5358,), dtype=object)

In [6]:
df_bulk.shape

(21460, 7)

In [7]:
from mymodule.DatabaseConnection import CRUD

In [8]:
lo_client = CRUD('client')

In [9]:
df_client = lo_client.Read('')

In [10]:
i = 0
for name in df_bulk['Client Name'].unique():
    df_client.loc[i] = [i+1, name]
    i = i + 1
print(i)

5358

In [11]:
df_client.shape

(5358, 2)

In [12]:
df_client[1400:1410]

      client_id                                             name
1400       1401                          SESA RESOURCES LIIMITED
1401       1402                                BINITABEN K PATEL
1402       1403                           TRUST FINSTOCK PVT LTD
1403       1404                                   DHRUV  SAWHNEY
1404       1405                                    RATI  SAWHNEY
1405       1406               UMANANDA TRADE AND FINANCE LIMITED
1406       1407                         DHANKARI INVESTMENTS LTD
1407       1408  BHUPATI INVESTMENTS AND FINANCE PRIVATE LIMITED
1408       1409                               RAHUL VINOD PODDAR
1409       1410                          VISHAL FURNISHINGS LTD.

In [50]:
rows = 5100
lo_client.Create(df_client[rows:])

In [45]:
df_client[rows:rows+1]

      client_id                                               name
4743       4744  INTERNATIONAL MONETARY FUND (IN RESPECT OF THE...

In [52]:
lo_stockcode = CRUD('stockexchange_stockcode')

In [53]:
df_stock = lo_stockcode.Read('')

In [82]:
df_stock.shape

(3722, 3)

In [83]:
df_stock[df_stock['Symbol']=='500295'] #['ISIN'][0]

              ISIN StockExchange  Symbol
1140  INE205A01025           BSE  500295

In [120]:
dealtype = lambda x: 'B' if x == 'P' else x

In [ ]:
df_client[df_client['name'] == row['Client Name']['client_id'][0]]

'B'

In [264]:
lo_blockdeal = CRUD('blockdeal')
#df_blockdeal = lo_blockdeal.Read('')

DataBase Disconnected

In [216]:
df_blockdeal.shape

(0, 7)

In [217]:
df_blockdeal.dtypes

ISIN             object
DealDate         object
StockExchange    object
Client           object
DealType         object
Quantity         object
price            object
dtype: object

In [223]:
count = 0
df_blockdeal = pd.DataFrame(columns={
    'ISIN':object,
    'DealDate':"datetime64[ns]",
    'StockExchange':object,
    'Client':object,
    'DealType':object,
    'Quantity':"int64",
    'price':"float64"})
for i, row in df_bulk.iterrows():
    a = df_stock[df_stock['Symbol']==row['Security Code']]
    if a.shape[0] == 0:
        continue
    else:
        list1 = [a['ISIN'].values[0], 
                 datetime.date(row['Deal Date']), 
                 'BSE', 
                 int(df_client[df_client['name'] == row['Client Name']]['client_id'].values[0]),
                 dealtype(row['Deal Type']),
                 row['Quantity'],
                 row['Price']
                 ]
        df_blockdeal.loc[count] = list1
        count = count + 1

print(count)

16343

In [236]:
#df_blockdeal['Client'] = df_blockdeal['Client'].astype(object)
df_blockdeal["DealDate"] = pd.to_datetime(df_blockdeal['DealDate'], format="%Y-%m-%d", errors="coerce")
df_blockdeal.dtypes

ISIN                     object
DealDate         datetime64[ns]
StockExchange            object
Client                   object
DealType                 object
Quantity                  int64
price                   float64
DealDate1        datetime64[ns]
dtype: object

In [238]:
df_blockdeal.drop(['DealDate1'], axis=1, inplace=True)

In [247]:
df_bulk[:20]

,Deal Date,Security Code,Company,Client Name,Deal Type,Quantity,Price
0,2005-11-29,523886,MICROINK,BILAKHIA HOLDINGS PVT LTD,S,1378031,640.00
1,2005-11-29,523886,MICROINK,MUMBAI INTEGRATED SEZ LTD,P,1172000,640.00
2,2005-11-29,507878,UNITECH,PRAKAUSLI INVESTMENT INDIA PVT LTD,P,235000,650.00
3,2005-11-29,507878,UNITECH,UNIBUILD ENGG AND CONSTURCTION,S,235000,650.00
4,2005-11-29,523886,MICROINK,NARENDRA DHARMSINGH DESAI,P,126031,640.00
5,2005-11-29,507878,UNITECH,MILLENIUM CONSTURCTION PVT LTD,S,93468,650.00
6,2005-11-29,507878,UNITECH,PRAKAUSLI INVESTMENT INDIA LTD,P,93468,650.00
7,2005-11-29,523886,MICROINK,KAMAL VISARIA HUF,P,80000,640.00
8,2005-12-05,532129,HEXAWARE,IRVINE LIMITED,S,2500000,104.00
9,2005-12-05,532129,HEXAWARE,UBS SECURITIES ASIA LIMITED.,P,2500000,104.00
10,2005-12-05,500325,RELIANCE,EKLAVYA MERCANTILE PRIVATE LTD,P,80063,846.65
11,2005-12-05,500325,RELIANCE,SPARK TRADECOM PRIVATE LTD,S,80063,846.65
12,2005-12-05,500325,RELIANCE,BHUMIKA TRADING PVT LTD,P,67063,847.00
13,2005-12-05,500325,RELIANCE,PLATINUM COMMERCIALS PVT LTD,S,67063,847.00
14,2005-12-05,500325,RELIANCE,NEELAM MERCANTILE PVT LTD,S,60063,847.55
15,2005-12-05,500325,RELIANCE,EKANSHA ENTERPRISES PVT LTD,P,60063,847.55
16,2005-12-07,532129,HEXAWARE,IRVINE LIMITED,S,2500000,108.25
17,2005-12-07,532129,HEXAWARE,MACQUARIE BANK LTD,P,2500000,108.25
18,2005-12-08,500325,RELIANCE,EKLAVYA MERCANTILE PRIVATE LTD,P,1200000,847.85
19,2005-12-08,500325,RELIANCE,SPARK TRADECOM PRIVATE LTD,S,1200000,847.85

In [257]:
import uuid

In [258]:
df_blockdeal['UUID'] = [uuid.uuid4() for _ in range(len(df_blockdeal))]

In [260]:
cols = ["UUID"] + [col for col in df_blockdeal.columns if col != "UUID"]
df_blockdeal = df_blockdeal[cols]

In [261]:
df_blockdeal.head()

,UUID,ISIN,DealDate,StockExchange,Client,DealType,Quantity,price
0,cd4f63b7-b589-4e17-9ebd-ebb2d0169922,INE694A01020,2005-11-29,BSE,3,B,235000,650.00
1,a36c146a-f1d4-4d1e-a39c-3fc192ba2b6f,INE694A01020,2005-11-29,BSE,4,S,235000,650.00
2,61890f1b-b266-4037-b1ec-a1c0a1998d79,INE694A01020,2005-11-29,BSE,6,S,93468,650.00
3,956eae46-13f1-4a63-9ab1-8a52471dc398,INE694A01020,2005-11-29,BSE,7,B,93468,650.00
4,fdaf92fd-6e11-476e-b177-f37c9a90fb1e,INE002A01018,2005-12-05,BSE,11,B,80063,846.65

In [ ]:
row = 20
lo_blockdeal.Create(df_blockdeal[row:])

:

In [255]:
df_blockdeal[1:row+1]

            ISIN   DealDate StockExchange Client DealType  Quantity   price
1   INE694A01020 2005-11-29           BSE      4        S    235000  650.00
2   INE694A01020 2005-11-29           BSE      6        S     93468  650.00
3   INE694A01020 2005-11-29           BSE      7        B     93468  650.00
4   INE002A01018 2005-12-05           BSE     11        B     80063  846.65
5   INE002A01018 2005-12-05           BSE     12        S     80063  846.65
6   INE002A01018 2005-12-05           BSE     13        B     67063  847.00
7   INE002A01018 2005-12-05           BSE     14        S     67063  847.00
8   INE002A01018 2005-12-05           BSE     15        S     60063  847.55
9   INE002A01018 2005-12-05           BSE     16        B     60063  847.55
10  INE002A01018 2005-12-08           BSE     11        B   1200000  847.85
11  INE002A01018 2005-12-08           BSE     12        S   1200000  847.85
12  INE002A01018 2005-12-08           BSE     18        S    807063  844.15
13  INE002A01018 2005-12-08           BSE     19        B    807063  844.15
14  INE002A01018 2005-12-08           BSE     20        S    807002  847.45
15  INE002A01018 2005-12-08           BSE     11        B    807002  847.45

In [234]:
df_blockdeal.loc[0]['DealDate']

datetime.date(2005, 11, 29)

In [115]:
df_bulk.sample(2)

,Deal Date,Security Code,Company,Client Name,Deal Type,Quantity,Price
3123,21-11-2012,505533,WESTLIFE,HORIZON IMPEX PVT LTD,P,400000,152.2
9554,17-06-2020,509930,SUPREMEIND,VENKTESH INVESTMENT AND TRADING COMPANY PRIVAT...,S,1225000,1080.0

In [ ]:
symbol = "RELIANCE"
price = 2500

query = f"The stock {a} is priced at {b}"
print(query.format(a=symbol, b=price))

NameError: name 'a' is not defined

: