# Money Control API

In [ ]:
from moneycontrol.moneycontrol_api import get_news, get_latest_news, get_business_news
import moneycontrol.moneycontrol_api as mc

In [80]:
print(mc.date_text)
print(mc.html_parser)
print(mc.link_text)
print(mc.news_type)
print(mc.title_text)
print(mc.url)

Date:
html.parser
Link:
News Type:
Title:
['https://www.moneycontrol.com/news', 'https://www.moneycontrol.com/news/business', 'https://www.moneycontrol.com/news/latest-news/']

In [81]:
get_business_news()

{'News Type:': 'Business News',
 'Title:': 'Shringar House of Mangalsutra to be second IPO hitting Dalal Street on September 10',
 'Link:': 'https://www.moneycontrol.com/news/business/ipo/shringar-house-of-mangalsutra-to-be-second-ipo-hitting-dalal-street-on-september-10-13513893.html',
 'Date:': None}

In [82]:
get_latest_news()

{'News Type:': 'Latest News',
 'Title:': '‘Hurried trail will affect rights, bail not a universal rule’: Delhi HC order denying bail to Umar, Sharjeel and others in 2020 Delhi riots case',
 'Link:': 'https://www.moneycontrol.com/news/india/hurried-trail-will-affect-rights-bail-not-a-universal-rule-delhi-hc-order-denying-bail-to-umar-sharjeel-and-others-in-2020-delhi-riots-case-13513944.html',
 'Date:': 'September 02, 2025 09:31 PM'}

In [83]:
get_news()

Money Control API has only news APIs.<br/>
Still, It returns only the link. And must be scraped and parsed via Beautiful Soup

# Yahoo Finance API

In [3]:
import yfinance as yf

In [27]:
dat = yf.Ticker("VEDL.NS")

In [28]:
dat.info

{'address1': 'Unit 103, Corporate Avenue',
 'address2': '1st Floor, C wing Atul Projects, Chakala Andheri (East)',
 'city': 'Mumbai',
 'zip': '400093',
 'country': 'India',
 'phone': '91 22 6643 4500',
 'fax': '91 22 6643 4530',
 'website': 'https://www.vedantalimited.com',
 'industry': 'Other Industrial Metals & Mining',
 'industryKey': 'other-industrial-metals-mining',
 'industryDisp': 'Other Industrial Metals & Mining',
 'sector': 'Basic Materials',
 'sectorKey': 'basic-materials',
 'sectorDisp': 'Basic Materials',
 'longBusinessSummary': 'Vedanta Limited, a diversified natural resources company, explores, extracts, and processes minerals, and oil and gas in India, Europe, China, the United States, Mexico, and internationally. The company operates through seven reportable segments: Copper, Aluminium, Iron Ore, Power, Zinc India, Zinc International, Oil and Gas, and Others. It explores, produces, and sells oil and gas, zinc, lead, silver, copper, aluminum, steel, pig iron, chrome ores, and metallurgical coke. The company also operates a thermal coal-based commercial power facility of 600 megawatts (MW) at Jharsuguda in Odisha; a 1,200 MW thermal coal-based power plants in the Chhattisgarh; 1,980 MW thermal coal- based commercial power facilities in Punjab; wind power plants; a 1,000 MW coal-based power plant at Nellore, Andhra Pradesh; and power plants located at Mettur Dam in the state of Tamil Nadu in southern India. In addition, it manufactures and supplies billets, TMT bars, wire rods, and ductile iron pipes; mechanizes coal handling facilities and upgrades general cargo berth for handling coal at the outer harbor of Visakhapatnam Port on the east coast of India; offers port/berth services; and manufactures glass substrates, semiconductor, display glass panels, ferro alloys, and slag cements. The company was formerly known as Sesa Sterlite Limited and changed its name to Vedanta Limited in March 2015. The company was founded in 1954 and is headquartered in Mumbai, India.',
 'fullTimeEmployees': 17332,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Navin Kumar Agarwal',
   'age': 63,
   'title': 'Executive Vice Chairman',
   'yearBorn': 1961,
   'fiscalYear': 2025,
   'totalPay': 235165277,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Arun  Misra',
   'age': 59,
   'title': 'CEO of Zinc Business & Executive Director',
   'yearBorn': 1965,
   'fiscalYear': 2025,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Ajay Kumar Goel',
   'age': 49,
   'title': 'Chief Financial Officer',
   'yearBorn': 1975,
   'fiscalYear': 2025,
   'totalPay': 2970000,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Charanjit  Singh',
   'title': 'Group Head of Investor Relations',
   'fiscalYear': 2025,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Prerna  Halwasiya',
   'title': 'Compliance Officer & Company Secretary',
   'fiscalYear': 2025,
   'totalPay': 4635176,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Swapnil  Patil',
   'title': 'Head of Commodities Procurement- Pig Iron Business',
   'fiscalYear': 2025,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Manish  Gupta',
   'age': 56,
   'title': 'Head of Ports',
   'yearBorn': 1968,
   'fiscalYear': 2025,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Deodatta  Padgaonkar',
   'age': 50,
   'title': 'Senior VP of MAS & Risk Officer',
   'yearBorn': 1974,
   'fiscalYear': 2025,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Pushpender  Singla',
   'age': 41,
   'title': 'Chief Financial Officer of Zinc International Division & CMT',
   'yearBorn': 1983,
   'fiscalYear': 2025,
   'totalPay': 16000000,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Navin Kumar Jaju',
   'age': 42,
   'title': 'Chief Executive Officer of Sesa Goa Iron Ore',
   'yearBorn': 1982,
   'fiscalYear': 2025,
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'auditRisk': 5,
 'boardRisk': 10,
 'compensationRisk': 4,
 'shareHolderRightsRisk': 4,
 'overallRisk': 10,
 'governanceEpochDate': 1761955200,
 'compensationAsOfEpochDate': 1767139200,
 'executiveTeam': [],
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 519.6,
 'open': 520.1,
 'dayLow': 515.55,
 'dayHigh': 524.0,
 'regularMarketPreviousClose': 519.6,
 'regularMarketOpen': 520.1,
 'regularMarketDayLow': 515.55,
 'regularMarketDayHigh': 524.0,
 'dividendRate': 51.5,
 'dividendYield': 9.91,
 'exDividendDate': 1756166400,
 'payoutRatio': 1.0335,
 'fiveYearAvgDividendYield': 15.87,
 'beta': 0.825,
 'trailingPE': 16.95246,
 'forwardPE': 10.460246,
 'volume': 3062540,
 'regularMarketVolume': 3062540,
 'averageVolume': 10561825,
 'averageVolume10days': 12000671,
 'averageDailyVolume10Day': 12000671,
 'bid': 516.9,
 'ask': 517.0,
 'bidSize': 0,
 'askSize': 0,
 'marketCap': 2019237691392,
 'fiftyTwoWeekLow': 363.0,
 'fiftyTwoWeekHigh': 526.95,
 'allTimeHigh': 526.95,
 'allTimeLow': 0.9275,
 'priceToSalesTrailing12Months': 1.2978941,
 'fiftyDayAverage': 471.838,
 'twoHundredDayAverage': 444.53024,
 'trailingAnnualDividendRate': 51.5,
 'trailingAnnualDividendYield': 0.09911471,
 'currency': 'INR',
 'tradeable': False,
 'enterpriseValue': 2799302606848,
 'profitMargins': 0.07722,
 'floatShares': 1614728807,
 'sharesOutstanding': 3905304540,
 'heldPercentInsiders': 0.58525,
 'heldPercentInstitutions': 0.21659,
 'impliedSharesOutstanding': 3905700174,
 'bookValue': 102.928,
 'priceToBook': 5.023414,
 'lastFiscalYearEnd': 1743379200,
 'nextFiscalYearEnd': 1774915200,
 'mostRecentQuarter': 1759190400,
 'earningsQuarterlyGrowth': -0.587,
 'netIncomeToCommon': 120130002944,
 'trailingEps': 30.5,
 'forwardEps': 49.43,
 'lastSplitFactor': '10:1',
 'lastSplitDate': 1218153600,
 'enterpriseToRevenue': 1.799,
 'enterpriseToEbitda': 6.383,
 '52WeekChange': 0.16829681,
 'SandP52WeekChange': 0.14178503,
 'lastDividendValue': 16.0,
 'lastDividendDate': 1756166400,
 'quoteType': 'EQUITY',
 'currentPrice': 517.05,
 'targetHighPrice': 686.0,
 'targetLowPrice': 480.0,
 'targetMeanPrice': 550.2308,
 'targetMedianPrice': 540.0,
 'recommendationMean': 1.76923,
 'recommendationKey': 'buy',
 'numberOfAnalystOpinions': 13,
 'totalCash': 218590003200,
 'totalCashPerShare': 56.046,
 'ebitda': 438530015232,
 'totalDebt': 850650005504,
 'quickRatio': 0.316,
 'currentRatio': 0.733,
 'totalRevenue': 1555779944448,
 'debtToEquity': 156.909,
 'revenuePerShare': 398.681,
 'returnOnAssets': 0.09712,
 'returnOnEquity': 0.35051998,
 'grossProfits': 765149970432,
 'freeCashflow': 56610000896,
 'operatingCashflow': 374339993600,
 'earningsGrowth': -0.592,
 'revenueGrowth': 0.055,
 'grossMargins': 0.49181,
 'ebitdaMargins': 0.28187,
 'operatingMargins': 0.21747999,
 'financialCurrency': 'INR',
 'symbol': 'VEDL.NS',
 'language': 'en-US',
 'region': 'US',
 'typeDisp': 'Equity',
 'quoteSourceName': 'Free Realtime Quote',
 'triggerable': True,
 'customPriceAlertConfidence': 'HIGH',
 'hasPrePostMarketData': False,
 'firstTradeDateMilliseconds': 820467900000,
 'shortName': 'VEDANTA LIMITED',
 'corporateActions': [],
 'regularMarketTime': 1762841258,
 'exchange': 'NSI',
 'messageBoardId': 'finmb_878252',
 'exchangeTimezoneName': 'Asia/Kolkata',
 'exchangeTimezoneShortName': 'IST',
 'gmtOffSetMilliseconds': 19800000,
 'market': 'in_market',
 'esgPopulated': False,
 'regularMarketChangePercent': -0.49085423,
 'regularMarketPrice': 517.05,
 'longName': 'Vedanta Limited',
 'marketState': 'REGULAR',
 'fullExchangeName': 'NSE',
 'averageDailyVolume3Month': 10561825,
 'fiftyTwoWeekLowChange': 154.04999,
 'fiftyTwoWeekLowChangePercent': 0.42438012,
 'fiftyTwoWeekRange': '363.0 - 526.95',
 'fiftyTwoWeekHighChange': -9.900024,
 'fiftyTwoWeekHighChangePercent': -0.018787406,
 'fiftyTwoWeekChangePercent': 16.829681,
 'earningsTimestamp': 1761904800,
 'earningsTimestampStart': 1769680800,
 'earningsTimestampEnd': 1769680800,
 'earningsCallTimestampStart': 1761910200,
 'earningsCallTimestampEnd': 1761910200,
 'isEarningsDateEstimate': True,
 'epsTrailingTwelveMonths': 30.5,
 'epsForward': 49.43,
 'epsCurrentYear': 43.83137,
 'priceEpsCurrentYear': 11.796345,
 'fiftyDayAverageChange': 45.211975,
 'fiftyDayAverageChangePercent': 0.09582097,
 'twoHundredDayAverageChange': 72.519745,
 'twoHundredDayAverageChangePercent': 0.16313793,
 'sourceInterval': 15,
 'exchangeDataDelayedBy': 15,
 'averageAnalystRating': '1.8 - Buy',
 'cryptoTradeable': False,
 'regularMarketChange': -2.5499878,
 'regularMarketDayRange': '515.55 - 524.0',
 'trailingPegRatio': None}

In [4]:
print(dat.info['marketCap'])
print(dat.info["sharesOutstanding"])
print(dat.info['floatShares'])
print(dat.info['currentPrice'])
print(dat.info['bookValue'])
print(dat.info['beta'])
print(dat.info['regularMarketPrice'])
print(dat.info['marketCap']/dat.info["sharesOutstanding"])
print(dat.info['bookValue']*dat.info["priceToBook"])

2452627128320
1928314320
702460407
1263.0
22.996
0.25
1263.0
1271.902149396474
1263.000017616

In [21]:
dat._fundamentals

In [10]:
#dat.get_news()

In [11]:
#dat.actions

In [12]:
#dat.analyst_price_targets

In [13]:
#dat.balance_sheet

In [14]:
#dat.balancesheet

In [15]:
#dat.calendar

In [16]:
#dat.capital_gains

In [17]:
#dat.cash_flow

In [26]:
#dat.cashflow

In [18]:
#dat.dividends

In [100]:
dat.earnings

c:\Projects\Market\venv\Lib\site-packages\yfinance\scrapers\fundamentals.py:36: DeprecationWarning: 'Ticker.earnings' is deprecated as not available via API. Look for "Net Income" in Ticker.income_stmt.
  warnings.warn("'Ticker.earnings' is deprecated as not available via API. Look for \"Net Income\" in Ticker.income_stmt.", DeprecationWarning)

In [19]:
#dat.income_stmt

In [25]:
#dat.earnings_dates

In [24]:
#dat.earnings_history

In [23]:
#dat.earnings_estimate

In [22]:
#dat.eps_revisions

In [20]:
#dat.eps_trend

In [21]:
#dat.financials

In [8]:
#dat.info
#dat.calendar
#dat.analyst_price_targets
#dat.quarterly_income_stmt
dat.history(period='10y')
#dat.option_chain(dat.options[0]).calls

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2015-11-10 00:00:00+05:30,273.609457,273.609457,267.421198,268.406891,656560,0.0,0.0
2015-11-13 00:00:00+05:30,272.053551,273.432647,265.829950,266.722809,2315820,0.0,0.0
2015-11-16 00:00:00+05:30,267.421171,268.305208,263.553509,264.612152,2203940,0.0,0.0
2015-11-17 00:00:00+05:30,265.432115,271.304319,263.045204,268.950592,1351420,0.0,0.0
2015-11-18 00:00:00+05:30,269.852329,271.173960,268.216855,268.848938,556000,0.0,0.0
...,...,...,...,...,...,...,...
2025-11-04 00:00:00+05:30,1266.000000,1269.000000,1250.699951,1265.000000,770668,0.0,0.0
2025-11-05 00:00:00+05:30,1265.000000,1265.000000,1265.000000,1265.000000,0,0.0,0.0
2025-11-06 00:00:00+05:30,1265.000000,1278.900024,1260.099976,1266.099976,1171263,0.0,0.0
2025-11-07 00:00:00+05:30,1264.000000,1270.900024,1256.400024,1262.699951,596683,0.0,0.0
2025-11-10 00:00:00+05:30,1263.099976,1273.199951,1260.199951,1264.699951,737702,0.0,0.0

import importlib
import mymodule.DatabaseConnection  # first import
importlib.reload(mymodule.DatabaseConnection)

In [43]:
import importlib
import mymodule.DatabaseConnection  # first import
importlib.reload(mymodule.DatabaseConnection)

In [44]:
from mymodule.DatabaseConnection import CRUD
lo_stock = CRUD('sector')

In [55]:
lo_stock.Read(where = "Name = 'Energy'")

Name = 'Energy'

Empty DataFrame
Columns: [SectorId, Name, ParentSectorId]
Index: []

In [ ]:
# Update Dividend for Stocks
from mymodule.DatabaseConnection import CRUD
import yfinance as yf
import pandas as pd
import numpy as np

lo_stockcode = CRUD('StockExchange_stockcode')
df_stockcode = pd.DataFrame(lo_stockcode.Read(''))

sub = lambda a: 'NS' if a == 'NSE' else 'BO'

lo_div = CRUD('dividends')
df_dividends = pd.DataFrame(lo_div.Read(''))

for i, code in df_stockcode[1:].iterrows():
    if code['StockExchange'] != 'NSE':
        continue
    query_symbol = code['Symbol'] + '.' + sub(code['StockExchange'])
    print(query_symbol)
    dat = yf.Ticker(query_symbol)
    dividend = pd.DataFrame(dat.dividends)
    if len(dat.dividends) > 0:
        dividend['ISIN'] = code['ISIN']
        dividend['RecordDate'] = dividend.index.date
        dividend['dividend'] = (dividend['Dividends'])
        df_dividends = pd.concat([df_dividends, dividend[df_dividends.columns]])

df_dividends.reset_index(drop=True, inplace=True)
lo_div.Create(df_dividends)

DataBase Disconnected
DataBase Disconnected
JISLDVREQS.NS

C:\Users\Ravi\AppData\Local\Temp\ipykernel_41312\426574245.py:26: FutureWarning: The behavior of array concatenation with empty entries is deprecated. In a future version, this will no longer exclude empty items when determining the result dtype. To retain the old behavior, exclude the empty entries before the concat operation.
  df_dividends = pd.concat([df_dividends, dividend[df_dividends.columns]])
C:\Users\Ravi\AppData\Local\Temp\ipykernel_41312\426574245.py:26: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_dividends = pd.concat([df_dividends, dividend[df_dividends.columns]])

FELDVR.NS
KRBL.NS
RELIANCE.NS
SJVN.NS
MGL.NS
SIEMENS.NS
PROTEAN.NS
AVANTEL.NS
AMDIND.NS
ASTRAL.NS
ARVEE.NS
CRISIL.NS
GEOJITFSL.NS
FEDFINA.NS
IDBI.NS
SRPL.NS
INFY.NS
TREJHARA.NS
SVLL.NS
BIKAJI.NS
MEGASTAR.NS
HARIOMPIPE.NS
PRUDENT.NS
ACUTAAS.NS
SWIGGY.NS
OSWALSEEDS.NS
STOVEKRAFT.NS
RAJMET.NS
SONAMLTD.NS
CRAFTSMAN.NS
SWSOLAR.NS
INTERARCH.NS
DHARMAJ.NS
AHLADA.NS
SGIL.NS
DALBHARAT.NS
HILINFRA.NS
NILASPACES.NS
UNIECOM.NS
MANORAMA.NS
AFFLE.NS
FLAIR.NS
AKG.NS
ABINFRA.NS
KRITIKA.NS
AFSL.NS
ENTERO.NS
PRSMJOHNSN.NS
ZYDUSLIFE.NS
TEJASNET.NS
LTTS.NS
BALUFORGE.NS
TEGA.NS
ACC.NS
KSHITIJPOL.NS
ONESOURCE.NS
TECILCHEM.NS
TINNARUBR.NS
MANAKSIA.NS
DABUR.NS
DNAMEDIA.NS
GESHIP.NS
SMLT.NS
SUVIDHAA.NS
LT.NS
SBICARD.NS
JSWSTEEL.NS
HSCL.NS
SASTASUNDR.NS
STANLEY.NS
AWHCL.NS
AARTECH.NS
VMM.NS
BBTCL.NS
RITCO.NS
SPECTRUM.NS
STYLEBAAZA.NS
IRISDOREME.NS
SILGO.NS
SKYGOLD.NS
MARINE.NS
VINNY.NS
SRD.NS
XELPMOC.NS
EMUDHRA.NS
SPENCERS.NS
RECLTD.NS
BAIDFIN.NS
INSPIRISYS.NS
GOKUL.NS
ASIANPAINT.NS
DODLA.NS
EUROTEXIND.NS
ASIANTILES.NS
IEX.NS
NSIL.NS
NECLIFE.NS
SETUINFRA.NS
AEROFLEX.NS
PRUDMOULI.NS
GRAVITA.NS
CONSOFINVT.NS
GOLDIAM.NS
ARTEMISMED.NS
GSFC.NS
RCF.NS
MAXHEALTH.NS
BANKBARODA.NS
BPCL.NS
KICL.NS
ROSSARI.NS
ANMOL.NS
AXITA.NS
NOVAAGRI.NS
RAYMONDLSL.NS
AZAD.NS
BOROSCI.NS
FINOPB.NS
BOROLTD.NS
FIRSTCRY.NS
WEL.NS
EMIL.NS
HINDUNILVR.NS
HUDCO.NS
AJANTPHARM.NS
BOMDYEING.NS
PRIMESECU.NS
BSHSL.NS
ARVIND.NS
PTL.NS
ARVSMART.NS
AERONEU.NS
SOTL.NS
RELINFRA.NS
GAEL.NS
KARURVYSYA.NS
UNIENTER.NS
CEWATER.NS
HINDALCO.NS
TVTODAY.NS
IFCI.NS
CINEVISTA.NS
JAMNAAUTO.NS
JASH.NS
JUBLCPL.NS
RETAIL.NS
MAXESTATES.NS
VLEGOV.NS
DGCONTENT.NS
GODIGIT.NS
BRIGHOTEL.NS
ALIVUS.NS
COHANCE.NS
DRCSYSTEMS.NS
UNIVPHOTO.NS
CHEMCON.NS
HDFCBANK.NS
MAYURUNIQ.NS
SUZLON.NS
TREEHOUSE.NS
DHAMPURSUG.NS
ESCORTS.NS
GTL.NS
IVP.NS
VIJAYA.NS
SUNPHARMA.NS
PARAS.NS
ADOR.NS
NELCO.NS
FCL.NS
RIIL.NS
MUTHOOTMF.NS
GRASIM.NS
GILLANDERS.NS
NIBL.NS
JAGSNPHARM.NS
VHLTD.NS
NAVINFLUOR.NS
HIMATSEIDE.NS
WOCKPHARMA.NS
NAHARCAP.NS
SBC.NS
KPITTECH.NS
PAR.NS
ETHOSLTD.NS
PPL.NS
ELIN.NS
BBTC.NS
IVC.NS
BALAMINES.NS
RML.NS
VSSL.NS
VAKRANGEE.NS
WINDMACHIN.NS
CAMLINFINE.NS
BESTAGRO.NS
INDHOTEL.NS
IRFC.NS
ODIGMA.NS
VIPIND.NS
ABREL.NS
KEEPLEARN.NS
CYIENTDLM.NS
REFEX.NS
SANOFI.NS
ZENITHEXPO.NS
IEL.NS
CIPLA.NS
SIMPLEXINF.NS
LAOPALA.NS
HINDWAREAP.NS
RATNAVEER.NS
IGCL.NS
SBGLP.NS
HPIL.NS
LIKHITHA.NS
NAVNETEDUL.NS
KHANDSE.NS
FLEXITUFF.NS
DEVIT.NS
INDIANCARD.NS
FORTIS.NS
SBIN.NS
ALICON.NS
POCL.NS
EQUITASBNK.NS
TRIDENT.NS
AEROENTER.NS
TPHQ.NS
INDGN.NS
EICHERMOT.NS
HAL.NS
WONDERLA.NS
INOXWIND.NS
CGPOWER.NS
CANTABIL.NS
GLAND.NS
EMBDL.NS
ECOSMOBLTY.NS
OSIAHYPER.NS
INDIQUBE.NS
LAXMIINDIA.NS
GEMAROMA.NS
SHANTIGOLD.NS
SHREECEM.NS
JAICORPLTD.NS
INSECTICID.NS
BILVYAPAR.NS
MENONBE.NS
UGARSUGAR.NS
APCL.NS
EPIGRAL.NS
SUNDRMBRAK.NS
ASALCBR.NS
SONACOMS.NS
COMSYN.NS
PRAJIND.NS
PARACABLES.NS
WIPRO.NS
SICALLOG.NS
GMBREW.NS
HCG.NS
SIYSIL.NS
IFBAGRO.NS
GOCLCORP.NS
VIKRAMSOLR.NS
AMBUJACEM.NS
GATEWAY.NS
ZAGGLE.NS
EASEMYTRIP.NS
NDRAUTO.NS
SUPRIYA.NS
PAVNAIND.NS
RBA.NS
IRMENERGY.NS
POWERINDIA.NS
WEIZMANIND.NS
KOHINOOR.NS
LLOYDSENT.NS
LLOYDSE-RE.NS

LLOYDSE-RE.NS: Period 'max' is invalid, must be one of: 1d, 5d

TATASTEEL.NS
KOPRAN.NS
WEWIN.NS
MOREPENLAB.NS
THEMISMED.NS
PLASTIBLEN.NS
BALPHARMA.NS
BANKINDIA.NS
RACE.NS
CHAMBLFERT.NS
THANGAMAYL.NS
ELECTCAST.NS
KESORAMIND.NS
ANIKINDS.NS
RENUKA.NS
AAKASH.NS
PARADEEP.NS
DRREDDY.NS
STLTECH.NS
MUFIN.NS
DCMNVL.NS
KRSNAA.NS
MBEL.NS
SANSTAR.NS
SAMHI.NS
GREENPANEL.NS
SCODATUBES.NS
ICICIBANK.NS
OMAXAUTO.NS
JAIBALAJI.NS
TATACHEM.NS
INDNIPPON.NS
IDFCFIRSTB.NS
HEXT.NS
ALPSINDUS.NS
OBEROIRLTY.NS
LLOYDSENGG.NS
HINDPETRO.NS
KOLTEPATIL.NS
UTIAMC.NS
INDUSINDBK.NS
PPAP.NS
NBCC.NS
NUCLEUS.NS
VCL.NS
AMRUTANJAN.NS
SREEL.NS
MIDHANI.NS
RVHL.NS
AARTISURF.NS
ATAM.NS
FLUOROCHEM.NS
INDIGOPNTS.NS
AKUMS.NS
SIGMA.NS
DCI.NS
VPRPL.NS
CEIGALL.NS
HEMIPROP.NS
ATALREAL.NS
MGEL.NS
THELEELA.NS
KRONOX.NS
DJML.NS
BANSALWIRE.NS
GOCOLORS.NS
PREMIERENE.NS
KAMOPAINTS.NS
SECMARK.NS
MAPMYINDIA.NS
AETHER.NS
PROSTARM.NS
JUBLINGREA.NS
OSWALPUMPS.NS
MUKKA.NS
MAXIND.NS
ADL.NS
KMEW.NS
WCIL.NS
RATEGAIN.NS
MOL.NS
GMRP&UI.NS
ANTHEM.NS
SIGACHI.NS
AAATECH.NS
IPL.NS
KSOLVES.NS
RVTH.NS
RAILTEL.NS
PPLPHARMA.NS
FAIRCHEMOR.NS
NURECA.NS
INNOVACAP.NS
SYRMA.NS
HMAAGRO.NS
BTML.NS
TARC.NS
NPST.NS
DEEPINDS.NS
MOTISONS.NS
MSUMI.NS
EPACK.NS
EXXARO.NS
KRISHIVAL.NS
UMAEXPORTS.NS
TATVA.NS
HPAL.NS
ALLTIME.NS
WINDLAS.NS
ARISINFRA.NS
MOBIKWIK.NS
TRACXN.NS
DDEVPLSTIK.NS
IXIGO.NS
PRABHA.NS
DBOL.NS
LATENTVIEW.NS
PLAZACABLE.NS
AEGISVOPAK.NS
VERANDA.NS
DATAPATTNS.NS
RPTECH.NS
LICI.NS
HONASA.NS
JSLL.NS
VENUSPIPES.NS
NRL.NS
YATHARTH.NS
SANATHAN.NS
YATRA.NS
DREAMFOLKS.NS
GSLSU.NS
HARSHA.NS
GARUDA.NS
VALIANTLAB.NS
BLUEJET.NS
EUREKAFORB.NS
SIGNPOST.NS
DCXINDIA.NS
MVGJL.NS
BAJEL.NS
GOPAL.NS
AVALON.NS
ATHERENERG.NS
EIEL.NS
CELLO.NS
IKIO.NS
TIPSFILMS.NS
AARTIPHARM.NS
QUADFUTURE.NS
OLAELEC.NS
REDTAPE.NS
SGLTL.NS
JGCHEM.NS
REGAAL.NS
PYRAMID.NS
USK.NS
RISHABH.NS
BLAL.NS
SMARTWORKS.NS
BLSE.NS
ATL.NS
NSLNISP.NS
RKSWAMY.NS
NETWEB.NS
TREL.NS
KROSS.NS
BAJAJINDEF.NS
JNKINDIA.NS
ROSSTECH.NS
NTPCGREEN.NS
DBEIL.NS
EMSLIMITED.NS
GHCLTEXTIL.NS
SCILAL.NS
RBZJEWEL.NS
OCCLLTD.NS
ORIENTTECH.NS
SSDL.NS
DIGIDRIVE.NS
PLATIND.NS
KRN.NS
SUNCLAY.NS
IGIL.NS
KRYSTAL.NS
ARKADE.NS
VSTL.NS
DENTA.NS
SRM.NS
PATELRMART.NS
SENORES.NS
GALAPREC.NS
TOLINS.NS
STALLION.NS
BALAJEE.NS
VRAJ.NS
CRIZAC.NS
QPOWER.NS
CHEMBONDCH.NS
MAMATA.NS
UNIMECH.NS
BLUSPRING.NS
DIGITIDE.NS
BLACKBUCK.NS
SANOFICONR.NS
GLOBALE.NS
MFML.NS
GLOBECIVIL.NS
HYUNDAI.NS
CARRARO.NS
LOTUSDEV.NS
SAGILITY.NS
LAXMIDENTL.NS
ATUL.NS
WSI.NS
M&M.NS
GRANULES.NS
AFCONS.NS
HLVLTD.NS
CHOICEIN.NS
GODREJCP.NS
ADSL.NS
MRPL.NS
SMCGLOBAL.NS
TRAVELFOOD.NS
TVSHLTD.NS
3PLAND.NS
SELMC.NS
RPGLIFE.NS
ANKITMETAL.NS
HITECH.NS
TNPL.NS
WANBURY.NS
SUNDARAM.NS
AWFIS.NS
SCI.NS
ARMANFIN.NS
BPL.NS
MINDTECK.NS
CONCOR.NS
63MOONS.NS
PDSL.NS
MHLXMIRU.NS
LAMBODHARA.NS
METROPOLIS.NS
SIKKO.NS
GNFC.NS
SAIL.NS
LICHSGFIN.NS
IKS.NS
APCOTEXIND.NS
BAGFILMS.NS
VARDHACRLC.NS
ABB.NS
CURAA.NS
NARMADA.NS
BAJAJHLDNG.NS
NUVOCO.NS
BSE.NS
BALRAMCHIN.NS
CARBORUNIV.NS
HITECHCORP.NS
CHOLAFIN.NS
JSWENERGY.NS
INDUSTOWER.NS
THEJO.NS
ESSARSHPNG.NS
NAGREEKEXP.NS
TAINWALCHM.NS
MMTC.NS
SBILIFE.NS
STEELCAS.NS
DELTACORP.NS
PASHUPATI.NS
EIDPARRY.NS
APOLLOPIPE.NS
YAARI.NS
HITECHGEAR.NS
HDFCAMC.NS
GOODLUCK.NS
KPEL.NS
EVEREADY.NS
FIVESTAR.NS
ACI.NS
GAIL.NS
SINTERCOM.NS
SAMBHV.NS
SURANAT&P.NS
GMDCLTD.NS
RELAXO.NS
AURIONPRO.NS
AKZOINDIA.NS
TI.NS
IFGLEXPOR.NS
KECL.NS
PFC.NS
CYIENT.NS
NEOGEN.NS
ALPHAGEO.NS
GRPLTD.NS
PENINLAND.NS
KANORICHEM.NS
KFINTECH.NS
NATIONALUM.NS
UCAL.NS
BVCL.NS
FUSION.NS
PEL.NS
TNTELE.NS
TEXMOPIPES.NS
OSWALAGRO.NS
TAKE.NS
LYPSAGEMS.NS
TATATECH.NS
SULA.NS
ORIENTELEC.NS
OSWALGREEN.NS
CUBEXTUB.NS
20MICRONS.NS
TARSONS.NS
KIRLOSENG.NS
SPIC.NS
JPOLYINVST.NS
TNPETRO.NS
IBULHSGFIN.NS

$IBULHSGFIN.NS: possibly delisted; no timezone found

DELHIVERY.NS
CHOLAHLDNG.NS
SANDUMA.NS
NIBE.NS
ABLBL.NS
ALKYLAMINE.NS
LUXIND.NS
TATACOMM.NS
SHAILY.NS
THERMAX.NS
ACLGATI.NS
UYFINCORP.NS
TRITURBINE.NS
MTNL.NS
BLS.NS
ITC.NS
TATAMOTORS.NS
ALBERTDAVD.NS
NDTV.NS
MACPOWER.NS
INDORAMA.NS
PIONEEREMB.NS
KMSUGAR.NS
HEROMOTOCO.NS
EIMCOELECO.NS
GLAXO.NS
VIJIFIN.NS
PNB.NS
NIITLTD.NS
MORARJEE.NS
VIKASLIFE.NS
GIPCL.NS
LUMAXIND.NS
PARASPETRO.NS
NOCIL.NS
BALMLAWRIE.NS
KELLTONTEC.NS
RSSOFTWARE.NS
J&KBANK.NS
EMCURE.NS
COROMANDEL.NS
BORANA.NS
SATIA.NS
HGS.NS
SALASAR.NS
FEDERALBNK.NS
BDL.NS
CASTROLIND.NS
IMAGICAA.NS
SIL.NS
JISLJALEQS.NS
BATAINDIA.NS
HAVELLS.NS
INGERRAND.NS
GPIL.NS
CHENNPETRO.NS
SMARTLINK.NS
PGHH.NS
DAVANGERE.NS
MFSL.NS
CGCL.NS
PFIZER.NS
MARATHON.NS
FINPIPE.NS
EKC.NS
DIFFNKG.NS
FILATFASH.NS
CELEBRITY.NS
GUJALKALI.NS
BASML.NS
TALBROAUTO.NS
FACT.NS
IGARASHI.NS
VERTOZ.NS
STYRENIX.NS
NELCAST.NS
EBGNG.NS
SAKUMA.NS
ORCHPHARMA.NS
WELCORP.NS
PVRINOX.NS
HDIL.NS
TATACONSUM.NS
WELSPUNLIV.NS
GRMOVER.NS
DMART.NS
AYMSYNTEX.NS
BAJAJELEC.NS
SUPREMEIND.NS
PNCINFRA.NS
PROZONER.NS
MARICO.NS
WORTH.NS
JYOTISTRUC.NS
JINDALPOLY.NS
LPDC.NS
AAREYDRUGS.NS
PGHL.NS
ADVANIHOTR.NS
JAGRAN.NS
SHREEJISPG.NS
ENRIN.NS
RAYMONDREL.NS
GVT&D.NS
VBL.NS
MANALIPETC.NS
EXPLEOSOL.NS
CLEDUCATE.NS
GRINFRA.NS
IREDA.NS
KERNEX.NS
SUNDARMHLD.NS
ASTRAZEN.NS
IGL.NS
SILLYMONKS.NS
IGPL.NS
AGARIND.NS
VEDL.NS
ELECON.NS
POLYMED.NS
ZODIACLOTH.NS
AIIL.NS
RELTD.NS
RAMRAT.NS
ASHOKLEY.NS
AEGISLOG.NS
SUNDROP.NS
RICOAUTO.NS
JWL.NS
WILLAMAGOR.NS
AROGRANITE.NS
PHOENIXLTD.NS
POWERMECH.NS
AIAENG.NS
SPAL.NS
ONGC.NS
BANCOINDIA.NS
CYBERTECH.NS
LTIM.NS
ORCHASP.NS
MAHEPC.NS
WIPL.NS
MAANALU.NS
BRITANNIA.NS
AAVAS.NS
ZUARIIND.NS
KAJARIACER.NS
EQUIPPP.NS
RHFL.NS
SHRIRAMPPS.NS
AUSOMENT.NS
PALREDTEC.NS
RMDRIP.NS
KPIL.NS
JSL.NS
MUFTI.NS
DYNAMATECH.NS
GTLINFRA.NS
SHARDACROP.NS
GREAVESCOT.NS
GATECH.NS
GATECHDVR.NS
SYMPHONY.NS
VOLTAS.NS
SADBHAV.NS
MMFL.NS
INDOWIND.NS
KALPATARU.NS
CLEAN.NS
USHAMART.NS
ASAHISONG.NS
ONWARDTEC.NS
SAGCEM.NS
NITINSPIN.NS
EIHOTEL.NS
CREATIVEYE.NS
RAMASTEEL.NS
SHREYANIND.NS
SASKEN.NS
ORBTEXP.NS
SHREDIGCEM.NS
SPARC.NS
GODREJIND.NS
BLUEDART.NS
KAUSHALYA.NS
FINCABLES.NS
SUMEETINDS.NS
HCL-INSYS.NS
ELLEN.NS
TVSELECT.NS
NGIL.NS
KOTAKBANK.NS
AXISBANK.NS
NESTLEIND.NS
STYLAMIND.NS
OMINFRAL.NS
UMESLTD.NS
IOC.NS
ANANTRAJ.NS
BFUTILITIE.NS
DENORA.NS
PATELENG.NS
UNIPARTS.NS
TATAPOWER.NS
NAGREEKCAP.NS
RAMCOSYS.NS
GSPL.NS
JINDWORLD.NS
SPECIALITY.NS
ITI.NS
MAZDOCK.NS
KIRLOSIND.NS
VINYLINDIA.NS
DLINKINDIA.NS
INDOUS.NS
ZENTEC.NS
ABMINTLLTD.NS
GVKPIL.NS
HINDMOTORS.NS
21STCENMGM.NS
HNDFDS.NS
EPL.NS
GULPOLY.NS
MSTCLTD.NS
E2E.NS
ZEEL.NS
TRIVENI.NS
DYNPRO.NS
AKSHAR.NS
BHEL.NS
BEML.NS
FDC.NS
SUMICHEM.NS
LGHL.NS
COLPAL.NS
GODFRYPHLP.NS
OLECTRA.NS
HMT.NS
PERSISTENT.NS
LATTEYS.NS
BEL.NS
RUSTOMJEE.NS
MAHESHWARI.NS
CAPACITE.NS
ENIL.NS
APTECHT.NS
DPABHUSHAN.NS
HINDZINC.NS
ARSSINFRA.NS
KREBSBIO.NS
NAVKARURB.NS
SHEKHAWATI.NS
SONATSOFTW.NS
LMW.NS
ALOKTEXT.NS

$ALOKTEXT.NS: possibly delisted; no timezone found

VISHNU.NS
MAHSEAMLES.NS
DLF.NS
SURANASOL.NS
AARVEEDEN.NS
WENDT.NS
WESTLIFE.NS
DHANI.NS
OIL.NS
SHANKARA.NS
AJAXENGG.NS
HUHTAMAKI.NS
AMNPLST.NS
GARFIBRES.NS
EIHAHOTELS.NS
ASIANENE.NS
SWARAJENG.NS
PUNJABCHEM.NS
REGENCERAM.NS
RAMANEWS.NS
CYBERMEDIA.NS
SANDHAR.NS
NAVKARCORP.NS
DHARAN.NS
CAMPUS.NS
UNIVCABLES.NS
TITAN.NS
SAHYADRI.NS
CENTEXT.NS
LLOYDSME.NS
PRECOT.NS
ROHLTD.NS
ESABINDIA.NS
DAMCAPITAL.NS
SJS.NS
ELGIEQUIP.NS
SPICEJET.NS
ATLANTAA.NS
SIS.NS
TECHNOE.NS
VISASTEEL.NS
SUBROS.NS
MICEL.NS
GAYAHWS.NS
MAHSCOOTER.NS
DEEPAKNTR.NS
NAHARINDUS.NS
GICHSGFIN.NS
TEAMGTY.NS
NAHARSPING.NS
CARTRADE.NS
GRWRHITECH.NS
KDDL.NS
GLOBAL.NS
HBLENGINE.NS
ROLTA.NS
HAVISHA.NS
SMLISUZU.NS
ROML.NS
ANUP.NS
EVERESTIND.NS
NACLIND.NS
BUTTERFLY.NS
BAJFINANCE.NS
FIBERWEB.NS
MUTHOOTCAP.NS
EMKAY.NS
GALLANTT.NS
CUMMINSIND.NS
AJMERA.NS
ARIES.NS
NAM-INDIA.NS
WAAREERTL.NS
CROMPTON.NS
RAYMOND.NS
RUBYMILLS.NS
EXIDEIND.NS
DICIND.NS
KALYANKJIL.NS
MUKANDLTD.NS
BLUESTONE.NS
TFCILTD.NS
PANAMAPET.NS
BAJAJHIND.NS
ENERGYDEV.NS
QUICKHEAL.NS
INTELLECT.NS
NAHARPOLY.NS
SVPGLOB.NS
PREMIERPOL.NS
NILKAMAL.NS
HINDCOMPOS.NS
SYNCOMF.NS
SOMATEX.NS
KALYANIFRG.NS
GOKULAGRO.NS
BHARATWIRE.NS
NESCO.NS
METROBRAND.NS
PIDILITIND.NS
ZENITHSTL.NS
BYKE.NS
TIRUPATIFL.NS
CENTUM.NS
RITES.NS
DHUNINV.NS
SMSLIFE.NS
DOMS.NS
GILLETTE.NS
BOSCHLTD.NS
AVONMORE.NS
INDIANHUME.NS
PURVA.NS
SOMICONVEY.NS
JINDALSAW.NS
RPPINFRA.NS
SARVESHWAR.NS
TIMKEN.NS
DOLLAR.NS
SINDHUTRAD.NS
LUPIN.NS
ALMONDZ.NS
NIRAJISPAT.NS
RCOM.NS
HAPPYFORGE.NS
RAMCOCEM.NS
THOMASCOOK.NS
INDOTECH.NS
STERTOOLS.NS
SURYAROSNI.NS
COFFEEDAY.NS
GANGESSECU.NS
IRCTC.NS
GAYAPROJ.NS
TOTAL.NS
LGBBROSLTD.NS
INDOTHAI.NS
TIRUMALCHM.NS
BODALCHEM.NS
CONCORDBIO.NS
MOTILALOFS.NS
BIRLACORPN.NS
DTIL.NS
PREMIER.NS
NIITMTS.NS
ZFCVINDIA.NS
RAJESHEXPO.NS
BHARTIHEXA.NS
SOLARINDS.NS
INFOBEAN.NS
BELLACASA.NS
HINDOILEXP.NS
CEREBRAINT.NS
CIFL.NS
APEX.NS
MANGLMCEM.NS
PETRONET.NS
MAGADSUGAR.NS
ASHAPURMIN.NS
CENTURYPLY.NS
MASFIN.NS
NRBBEARING.NS
AVADHSUGAR.NS
IDEAFORGE.NS
OPTIEMUS.NS
BLKASHYAP.NS
GLOSTERLTD.NS
UNICHEMLAB.NS
JPPOWER.NS
NDLVENTURE.NS
SGL.NS
ITDC.NS
BHAGERIA.NS
SOMANYCERA.NS
MPHASIS.NS
ABBOTINDIA.NS
ZOTA.NS
DPSCLTD.NS
FMNL.NS
DIVISLAB.NS
PVP.NS
ASIANHOTNR.NS
SHEMAROO.NS
JAYSREETEA.NS
ADANIGREEN.NS
REPL.NS
DATAMATICS.NS
ASHIANA.NS
NBIFIN.NS
DWARKESH.NS
VRLLOG.NS
PFOCUS.NS
NIRAJ.NS
UNITEDPOLY.NS
EXCELINDUS.NS
NORBTEAEXP.NS
IL&FSENGG.NS
MANORG.NS
VIVIDHA.NS
GRAPHITE.NS
PODDARMENT.NS
AMBER.NS
APARINDS.NS
PRECWIRE.NS
BASF.NS
MUKTAARTS.NS
RELIABLE.NS
BIOCON.NS
COASTCORP.NS
WAAREEENER.NS
BAJAJHFL.NS
MADHUCON.NS
ITCHOTELS.NS
BARBEQUE.NS
GVPTECH.NS
GRSE.NS
INDIACEM.NS
MALUPAPER.NS
RANEHOLDIN.NS
YUKEN.NS
SARDAEN.NS
ALPA.NS
DCAL.NS
VESUVIUS.NS
ASTRAMICRO.NS
SBCL.NS
SUNDRMFAST.NS
MAGNUM.NS
GANESHBE.NS
TICL.NS
NYKAA.NS
MALLCOM.NS
KEC.NS
WELINV.NS
GPTINFRA.NS
KAMDHENU.NS
TRF.NS
JTLIND.NS
VISAKAIND.NS
PNC.NS
DELTAMAGNT.NS
DIAMONDYD.NS
STEELCITY.NS
TVSSCS.NS
NINSYS.NS
BHARTIARTL.NS
LOKESHMACH.NS
VENKEYS.NS
UMIYA-MRO.NS
SYNGENE.NS
SUPRAJIT.NS
RKFORGE.NS
RTNPOWER.NS
ATGL.NS
KKCL.NS
INNOVANA.NS
ABSLAMC.NS
LINCOLN.NS
UNOMINDA.NS
AUROPHARMA.NS
ERIS.NS
SWELECTES.NS
VINATIORGA.NS
NH.NS
VENUSREM.NS
SKMEGGPROD.NS
RSYSTEMS.NS
BAJAJHCARE.NS
DIL.NS
JMA.NS
BCLIND.NS
BIGBLOC.NS
RUCHINFRA.NS
TPLPLASTEH.NS
MADRASFERT.NS
ANTGRAPHIC.NS
BHAGCHEM.NS
MUTHOOTFIN.NS
AGI.NS
BHARATSE.NS
RVNL.NS
KIRIINDUS.NS
SABTNL.NS
BLISSGVS.NS
DSSL.NS
PILANIINVS.NS
POLICYBZR.NS
ALLCARGO.NS
NAZARA.NS
ESSENTIA.NS
KOTARISUG.NS
CLSEL.NS
TDPOWERSYS.NS
HAPPSTMNDS.NS
ARIHANTCAP.NS
PAISALO.NS
ABAN.NS
TVSSRICHAK.NS
CCL.NS
ADANIENT.NS
SBFC.NS
GINNIFILA.NS
SUNTV.NS
BCG.NS
RPSGVENT.NS
ALEMBICLTD.NS
GOACARBON.NS
OBCL.NS
CHALET.NS
SURYODAY.NS
SAFARI.NS
CCCL.NS
VISHWARAJ.NS
PKTEA.NS
ANDHRAPAP.NS
TEXINFRA.NS
DHANUKA.NS
ANSALAPI.NS
APOLLOHOSP.NS
KAKATCEM.NS
APOLLOTYRE.NS
KALAMANDIR.NS
ASAHIINDIA.NS
SKIPPER.NS
NITIRAJ.NS
ASHIMASYN.NS
TIJARIA.NS
ASHOKA.NS
SUYOG.NS
XPROINDIA.NS
ATLASCYCLE.NS
NATHBIOGEN.NS
AUTOAXLES.NS
AGRITECH.NS
PITTIENG.NS
SUKHJITS.NS
VIPCLOTHNG.NS
ROUTE.NS
FORCEMOT.NS
RAJRATAN.NS
APOLSINHOT.NS
MAHASTEEL.NS
INCREDIBLE.NS
COMPUSOFT.NS
SARLAPOLY.NS
NAGAFERT.NS
TRANSRAILL.NS
KSCL.NS
POLYCAB.NS
MEDIASSIST.NS
MAHABANK.NS
SALZERELEC.NS
PGEL.NS
BHAGYANGR.NS
UNITEDTEA.NS
BANARISUG.NS
GANESHHOUC.NS
STARCEMENT.NS
REPRO.NS
GREENPLY.NS
HLEGLAS.NS
BAYERCROP.NS
BERGEPAINT.NS
ANANDRATHI.NS
BBL.NS
BHARATFORG.NS
360ONE.NS
TCS.NS
3MINDIA.NS
NIACL.NS
PALASHSECU.NS
BLUESTARCO.NS
BLUECOAST.NS
MTEDUCARE.NS
LINDEINDIA.NS
HATSUN.NS
KINGFA.NS
REMSONSIND.NS
BHANDARI.NS
OMKARCHEM.NS
MEDANTA.NS
HIKAL.NS
CAPLIPOINT.NS
CANBK.NS
CANFINHOME.NS
DVL.NS
KRITI.NS
SDBL.NS
THOMASCOTT.NS
ULTRACEMCO.NS
HOMEFIRST.NS
GICRE.NS
UNIINFO.NS
CEATLTD.NS
TERASOFT.NS
CARYSIL.NS
SHAH.NS
CENTRALBK.NS
ICIL.NS
TANLA.NS
INFIBEAM.NS
VEEDOL.NS
PRECAM.NS
GODREJPROP.NS
CENTENKA.NS
IOLCP.NS
CESC.NS
GPTHEALTH.NS
TOUCHWOOD.NS
CHEMPLASTS.NS
TASTYBITE.NS
AVTNPL.NS
PSPPROJECT.NS
ANUHPHR.NS
IIFLCAPS.NS
MOIL.NS
CUB.NS
ASKAUTOLTD.NS
CROWN.NS
HEUBACHIND.NS
TVSMOTOR.NS
DALMIASUG.NS
SUVEN.NS
SANGAMIND.NS
BECTORFOOD.NS
HPL.NS
SEAMECLTD.NS
DAMODARIND.NS
GODAVARIB.NS
DCM.NS
SHOPERSTOP.NS
SALONA.NS
LTF.NS
VINCOFE.NS
DCMSHRIRAM.NS
DCW.NS
SHK.NS
LEXUS.NS
DEEPAKFERT.NS
HTMEDIA.NS
SCPL.NS
DCBBANK.NS
STEELXIND.NS
DMCC.NS
PRAENG.NS
EUROBOND.NS
VINEETLAB.NS
DREDGECORP.NS
KRISHANA.NS
DHRUV.NS
TIMETECHNO.NS
RHL.NS
CUPID.NS
ENGINERSIN.NS
INOXGREEN.NS
POONAWALLA.NS
MMP.NS
FCSSOFT.NS
SCHAEFFLER.NS
MOKSH.NS
UFLEX.NS
GOENKA.NS
TTML.NS
GPPL.NS
ZIMLAB.NS
FOSECOIND.NS
SUMMITSEC.NS
ZENSARTECH.NS
BEARDSELL.NS
ICEMAKE.NS
CPCAP.NS
MANAPPURAM.NS
COALINDIA.NS
AKSHOPTFBR.NS
GABRIEL.NS
GANDHITUBE.NS
KRIDHANINF.NS
CALSOFT.NS
SHRIPISTON.NS
UFO.NS
GKWLIMITED.NS
YESBANK.NS
FMGOETZE.NS
PATINTLOG.NS
SIGIND.NS
KUANTUM.NS
IIFL.NS
KANSAINER.NS
HINDCOPPER.NS
NUVAMA.NS
EDELWEISS.NS
RAJRILTD.NS
ROTO.NS
RAJOOENG.NS
GRINDWELL.NS
CIEINDIA.NS
GFLLIMITED.NS
GHCL.NS
VIRINCHI.NS
GLFL.NS
AMBIKCO.NS
VOLTAMP.NS
ALKEM.NS
GMMPFAUDLR.NS
AKSHARCHEM.NS
NKIND.NS
KPIGREEN.NS
KAPSTON.NS
ACEINTEG.NS
HARRMALAYA.NS
JHS.NS
GREENLAM.NS
HEG.NS
TIIL.NS
MANCREDIT.NS
BANDHANBNK.NS
PICCADIL.NS
EIFFL.NS
PRAXIS.NS
XTGLOBAL.NS
IMPAL.NS
HFCL.NS
EMAMILTD.NS
LAGNAM.NS
HCC.NS
HBSL.NS
URJA.NS
SUPREMEINF.NS
PAKKA.NS
UJJIVANSFB.NS
CONFIPET.NS
ABDL.NS
NECCLTD.NS
AXISCADES.NS
TARACHAND.NS
BIRLANU.NS
LIBERTSHOE.NS
PIGL.NS
MANGCHEFER.NS
CORALFINAC.NS
HECPROJECT.NS
IFBIND.NS
CREST.NS
SRGHFL.NS
LANDMARK.NS
INDIAGLYCO.NS
PFS.NS
BHARATGEAR.NS
PARSVNATH.NS
ISHANCH.NS
INDIANB.NS
RAJSREESUG.NS
UNIVASTU.NS
ASTEC.NS
IOB.NS
ZEELEARN.NS
VALIANTORG.NS
ISFT.NS
NIPPOBATRY.NS
URAVIDEF.NS
ORIENTCER.NS
IONEXCHANG.NS
ARROWGREEN.NS
SAILIFE.NS
IPCALAB.NS
JAYBARMARU.NS
JBCHEPHARM.NS
PNBHOUSING.NS
LANCORHOL.NS
SPANDANA.NS
JKTYRE.NS
RUSHIL.NS
SEYAIND.NS
INTLCONV.NS
STARHEALTH.NS
JKIL.NS
LXCHEM.NS
MUNJALSHOW.NS
STEL.NS
HEIDELBERG.NS
VIMTALABS.NS
GLOBE.NS
SANDESH.NS
DECCANCE.NS
UGROCAP.NS
AGSTRA.NS
PRITIKAUTO.NS
RADHIKAJWE.NS
NMDC.NS
MANGALAM.NS
MARUTI.NS
TAJGVK.NS
GULFPETRO.NS
TCIEXP.NS
GTECJAINX.NS
KAYA.NS
NLCINDIA.NS
VASWANI.NS
OILCOUNTUB.NS
DIAMINESQ.NS
COFORGE.NS
ORIENTPPR.NS
TTL.NS
FOCUS.NS
BSL.NS
THYROCARE.NS
PTCIL.NS
HOVS.NS
CAMS.NS
SHARDAMOTR.NS
SHALBY.NS
LOVABLE.NS
HISARMETAL.NS
JUSTDIAL.NS
PILITA.NS
GALAXYSURF.NS
LALPATHLAB.NS
DYCL.NS
PCBL.NS
KITEX.NS
SENCO.NS
PRAKASH.NS
PIIND.NS
AMJLAND.NS
PRIMO.NS
ORIENTBELL.NS
PSB.NS
ORIENTLTD.NS
GUJRAFFIA.NS
ARENTERP.NS
KALYANI.NS
RSWM.NS
INDTERRAIN.NS
REPCOHOME.NS
RALLIS.NS
ICDSLTD.NS
MCLOUD.NS
RAMCOIND.NS
KTKBANK.NS
RPOWER.NS
TITAGARH.NS
GLOBUSSPR.NS
QUESS.NS
TRU.NS
INOXINDIA.NS
YASHO.NS
SEMAC.NS
5PAISA.NS
BALAXI.NS
SGFIN.NS
PATANJALI.NS
NEWGEN.NS
A2ZINFRA.NS
RELIGARE.NS
TEXRAIL.NS
INDOFARM.NS
ACMESOLAR.NS
SAKHTISUG.NS
FEL.NS
SOLARA.NS
RANASUG.NS
WELENT.NS
SILVERTUC.NS
SAURASHCEM.NS
HARDWYN.NS
CTE.NS
UPL.NS
BANSWRAS.NS
SESHAPAPER.NS
MEDICO.NS
SHANTIGEAR.NS
VIDHIING.NS
SHRENIK.NS
POLYPLEX.NS
HONDAPOWER.NS
KNRCON.NS
MANKIND.NS
SHYAMTEL.NS
GULFOILLUB.NS
MAWANASUG.NS
POKARNA.NS
SHIVAMAUTO.NS
SKFINDIA.NS
SHAHALLOYS.NS
KAVDEFENCE.NS
RUBFILA.NS
HINDCON.NS
AKI.NS
JTEKTINDIA.NS
ARIHANTSUP.NS
SHIVAMILLS.NS
SUTLEJTEX.NS
ROLEXRINGS.NS
AIRAN.NS
MEDICAMEQ.NS
GROBTEA.NS
CAPITALSFB.NS
INDIGO.NS
ASTRON.NS
SRF.NS
ABFRL.NS
ACCURACY.NS
SECURKLOUD.NS
BROOKS.NS
CCHHL.NS
AVROIND.NS
STCINDIA.NS
BANARBEADS.NS
SALSTEEL.NS
WEALTH.NS
SUDARSCHEM.NS
SUNDARMFIN.NS
CENTRUM.NS
BGRENERGY.NS
SUPERSPIN.NS
SPLPETRO.NS
CONTROLPR.NS
NAUKRI.NS
SWANENERGY.NS
VMART.NS
VARROC.NS
BORORENEW.NS
ACL.NS
SAKSOFT.NS
TMB.NS
DONEAR.NS
JYOTHYLAB.NS
ELDEHSG.NS
TECHM.NS
IDEA.NS
GEEKAYWIRE.NS
TATAELXSI.NS
LODHA.NS
LASA.NS
HONAUT.NS
SOBHA.NS
TATAINVEST.NS
MUNJALAU.NS
TBOTEK.NS
ABCAPITAL.NS
CIGNITITEC.NS
BBOX.NS
MASTERTR.NS
CSBBANK.NS
AVL.NS
DHANBANK.NS
AVG.NS
INDRAMEDCO.NS
KEYFINSERV.NS
JLHL.NS
SOUTHBANK.NS
MAITHANALL.NS
FSL.NS
TORNTPHARM.NS
ITDCEM.NS
UBL.NS
FINEORG.NS
TCI.NS
RESPONIND.NS
HERCULES.NS
EXCEL.NS
DANGEE.NS
PRINCEPIPE.NS
TTKPRESTIG.NS
UCOBANK.NS
IMPEXFERRO.NS
GANGAFORGE.NS
UNIONBANK.NS
MURUDCERA.NS
XCHANGING.NS
AFFORDABLE.NS
UNITECH.NS
VADILALIND.NS
KANPRPLA.NS
HERANBA.NS
COUNCODOS.NS
JUNIPER.NS
PRAKASHSTL.NS
JAIPURKURT.NS
PANSARI.NS
SAMBHAAV.NS
AWL.NS
JUBLPHARMA.NS
VHL.NS
APLAPOLLO.NS
RATNAMANI.NS
HUBTOWN.NS
RACLGEAR.NS
CINELINE.NS
COCHINSHIP.NS
SHIVATEX.NS
GOYALALUM.NS
VINDHYATEL.NS
CAPTRUST.NS
VLSFINANCE.NS
VSTIND.NS
WALCHANNAG.NS
SUPERHOUSE.NS
SHREEPUSHK.NS
SURYALAXMI.NS
SURAJLTD.NS
APOLLO.NS
WHEELS.NS
ANDHRSUGAR.NS
SHRADHA.NS
WHIRLPOOL.NS
TIPSMUSIC.NS
GANDHAR.NS
CSLFINANCE.NS
AUTOIND.NS
JSWCEMENT.NS
KOTHARIPET.NS
SHRIRAMFIN.NS
AARON.NS
RGL.NS
RKDL.NS
NAVA.NS
ORISSAMINE.NS
ICRA.NS
KARMAENG.NS
ICICIPRULI.NS
DELPHIFX.NS
PRICOLLTD.NS
GENESYS.NS
BRNL.NS
SOFTTECH.NS
KILITCH.NS
ORICONENT.NS
ARCHIES.NS
KHAITANLTD.NS
ACE.NS
DIGJAMLMTD.NS
KIRLOSBROS.NS
NCLIND.NS
ANGELONE.NS
SAKAR.NS
STARPAPER.NS
NTPC.NS
SNOWMAN.NS
SAMPANN.NS
UTKARSHBNK.NS
CDSL.NS
ADROITINFO.NS
MODISONLTD.NS
FIEMIND.NS
AKASH.NS
ECLERX.NS
ARTNIRMAN.NS
CERA.NS
NRAIL.NS
AGROPHOS.NS
LAL.NS
CREDITACC.NS
DUCON.NS
GUFICBIO.NS
JINDRILL.NS
ADANIPORTS.NS
RHIM.NS
KHAICHEM.NS
MCX.NS
NEXTMEDIA.NS
TARAPUR.NS
3IINFOLTD.NS
SIMBHALS.NS
SUMIT.NS
JINDALSTEL.NS
ORTINGLOBE.NS
ORIENTHOT.NS
MARKSANS.NS
RELCHEMQ.NS
HEXATRADEX.NS
PIXTRANS.NS
POWERGRID.NS
MSPL.NS
CARERATING.NS
FRETAIL.NS
EMMBI.NS
DIVGIITTS.NS
SANGINITA.NS
SUBEXLTD.NS
AARVI.NS
NDGL.NS
HDBFS.NS
COSMOFIRST.NS
TRANSWORLD.NS
AHLUCONT.NS
JIOFIN.NS
ETERNAL.NS
MASTEK.NS
HEADSUP.NS
KOKUYOCMLN.NS
INDOAMIN.NS
TBZ.NS
RPPL.NS
ASHOKAMET.NS
PAGEIND.NS
ZODIAC.NS
TARIL.NS
VSTTILLERS.NS
SADBHIN.NS
ICICIGI.NS
MAHLOG.NS
AARTIDRUGS.NS
ZYDUSWELL.NS
AARTIIND.NS
MIRZAINT.NS
FISCHER.NS
PVSL.NS
ALKALI.NS
M&MFIN.NS
MOTHERSON.NS
GMRINFRA.NS

$GMRINFRA.NS: possibly delisted; no timezone found

MEP.NS
EXICOM.NS
RRKABEL.NS
ESTER.NS
EMAMIREAL.NS
JMFINANCIL.NS
INTENTECH.NS
NOIDATOLL.NS
VENTIVE.NS
JCHAC.NS
HESTERBIO.NS
SERVOTECH.NS
CHEMFAB.NS
WINSOME.NS
ARFIN.NS
MANOMAY.NS
JAYAGROGN.NS
PCJEWELLER.NS
JKLAKSHMI.NS
UTTAMSUGAR.NS
RKEC.NS
BALKRISIND.NS
HILTON.NS
SHIVALIK.NS
JKPAPER.NS
KCPSUGIND.NS
SHILPAMED.NS
BLBLIMITED.NS
BRIGADE.NS
AMBICAAGAR.NS
GLOBALVECT.NS
CORDSCABLE.NS
SIRCA.NS
ACCELYA.NS
NEULANDLAB.NS
BALAJITELE.NS
MODTHREAD.NS
HDFCLIFE.NS
JINDALPHOT.NS
JUBLFOOD.NS
TGBHOTELS.NS
KRITINUT.NS
BIRLACABLE.NS
OMAXE.NS
AIROLAM.NS
LAXMICOT.NS
LINC.NS
SSWL.NS
BOHRAIND.NS
INDOBORAX.NS
RUCHIRA.NS
TFL.NS
MEDPLUS.NS
GOLDTECH.NS
KCP.NS
SUNTECK.NS
VIKASECO.NS
TIL.NS
SAPPHIRE.NS
SEQUENT.NS
SCHAND.NS
RAMAPHO.NS
ONMOBILE.NS
SHYAMMETL.NS
KIRLPNU.NS
PRESTIGE.NS
SMSPHARMA.NS
MAHLIFE.NS
TORNTPOWER.NS
MCL.NS
ADANIPOWER.NS
FILATEX.NS
SELAN.NS
PASUPTAC.NS
LTFOODS.NS
ESAFSFB.NS
ELGIRUBCO.NS
CPPLUS.NS
AJOONI.NS
IRB.NS
TCPLPACK.NS
SUPREME.NS
ELECTHERM.NS
KOTHARIPRO.NS
JKCEMENT.NS
JSWHL.NS
MANAKSTEEL.NS
VTL.NS
MANYAVAR.NS
GUJAPOLLO.NS
BIL.NS
MITCON.NS
BIOFILCHEM.NS
EMAMIPAP.NS
MANAKCOAT.NS
MIRCELECTR.NS
MODIRUBBER.NS
KHADIM.NS
RTNINDIA.NS
VARDMNPOLY.NS
MOLDTECH.NS
HIRECT.NS
ALLDIGI.NS
BSOFT.NS
SATIN.NS
DISHTV.NS
ADVENZYMES.NS
BHARATRAS.NS
PONNIERODE.NS
JOCIL.NS
SCHNEIDER.NS
ZUARI.NS
ONEPOINT.NS
INDBANK.NS
DEEDEV.NS
MINDACORP.NS
MAHAPEXLTD.NS
DCMSRIND.NS
SURAJEST.NS
PEARLPOLY.NS
BEDMUTHA.NS
GUJGASLTD.NS
GANECOS.NS
LORDSCHLO.NS
ROSSELLIND.NS
IZMO.NS
NHPC.NS
TRENT.NS
SHALPAINTS.NS
ORTEL.NS
GODREJAGRO.NS
LFIC.NS
NORTHARC.NS
UDS.NS
APTUS.NS
JAYNECOIND.NS
UNITDSPR.NS
GENCON.NS
RAIN.NS
WEBELSOLAR.NS
ASMS.NS
RADIANTCMS.NS
ISGEC.NS
NITCO.NS
PNBGILTS.NS
MANAKALUCO.NS
HCLTECH.NS
SABEVENTS.NS
MOTOGENFIN.NS
BANKA.NS
PREMEXPLN.NS
BANG.NS
JITFINFRA.NS
MTARTECH.NS
IRIS.NS
DPWIRES.NS
BIRLAMONEY.NS
PDMJEPAPER.NS
MATRIMONY.NS
MANUGRAPH.NS
NCC.NS
GTPL.NS
TEMBO.NS
NFL.NS
NETWORK18.NS
AVANTIFEED.NS
GSS.NS
HMVL.NS
TVVISION.NS
LUMAXTECH.NS
DEVYANI.NS
INDOCO.NS
RADAAN.NS
RAMKY.NS
NDL.NS
BALKRISHNA.NS
ORIENTCEM.NS
PTC.NS
ARCHIDPLY.NS
SURAKSHA.NS
GEPIL.NS
KEI.NS
SETCO.NS
INVENTURE.NS
BAFNAPH.NS
BFINVEST.NS
SHREERAMA.NS
KANANIIND.NS
DBREALTY.NS
JSWINFRA.NS
KIOCL.NS
OFSS.NS
MARALOVER.NS
MRF.NS
AADHARHFC.NS
PARAGMILK.NS
VAIBHAVGBL.NS
ARE&M.NS
MAZDA.NS
MASKINVEST.NS
SPORTKING.NS
IITL.NS
EFCIL.NS
NGLFINE.NS
GOKEX.NS
SADHNANIQ.NS
SANWARIA.NS
DCMFINSERV.NS
REDINGTON.NS
VASCONEQ.NS
MOLDTKPAC.NS
BELRISE.NS
RUPA.NS
PANACHE.NS
INDOSTAR.NS
AURUM.NS
KABRAEXTRU.NS
ASAL.NS
MBAPL.NS
APLLTD.NS
S&SPOWER.NS
MONARCH.NS
SIGNATURE.NS
KSL.NS
SHAKTIPUMP.NS
LIBAS.NS
TTKHLTCARE.NS
TCIFINANCE.NS
MBLINFRA.NS
ONELIFECAP.NS
RPEL.NS
ENDURANCE.NS
ALANKIT.NS
ASTERDM.NS
INDSWFTLAB.NS
GEECEE.NS
SFL.NS
AFIL.NS
SRHHYPOLTD.NS
BAJAJ-AUTO.NS
DBL.NS
BAJAJFINSV.NS
VETO.NS
KAYNES.NS
IMFA.NS
RADIOCITY.NS
DOLPHIN.NS
DBSTOCKBRO.NS
BEPL.NS
PANACEABIO.NS
INDIASHLTR.NS
SILINV.NS
THEINVEST.NS
TARMAT.NS
MADHAV.NS
CMSINFO.NS
GODHA.NS
AHLEAST.NS
HGINFRA.NS
ROLLT.NS
DIGISPICE.NS
JBMA.NS
KPRMILL.NS
ANURAS.NS
ADANIENSOL.NS
PENIND.NS
TOKYOPLAST.NS
SHAREINDIA.NS
LYKALABS.NS
MEGASOFT.NS
BAJAJCON.NS
INDIAMART.NS
SHANTI.NS
GNA.NS
GLENMARK.NS
MOSCHIP.NS
DIXON.NS
NATCAPSUQ.NS
SPMLINFRA.NS
NILAINFRA.NS
LCCINFOTEC.NS
STAR.NS
MANBA.NS
PGIL.NS
GUJTHEM.NS
MCLEODRUSS.NS
MPSLTD.NS
AGARWALEYE.NS
RADICO.NS
V2RETAIL.NS
VIPULLTD.NS
SUNFLAG.NS
LOTUSEYE.NS
DEN.NS
LAURUSLABS.NS
TRIGYN.NS
MANINFRA.NS
AUBANK.NS
GENUSPAPER.NS
DBCORP.NS
MONTECARLO.NS
ATULAUTO.NS
VGUARD.NS
HINDNATGLS.NS
RAJTV.NS
JSFB.NS
SANSERA.NS
PNGJL.NS
MOHITIND.NS
GENUSPOWER.NS
SEJALLTD.NS
ARVINDFASN.NS
WABAG.NS
PRIVISCL.NS
OAL.NS
UNIDT.NS
RAINBOW.NS
EASTSILK.NS
IRCON.NS
FAZE3Q.NS
SEPC.NS
MKPL.NS
HYBRIDFIN.NS
SITINET.NS
DOLATALGO.NS
ZEEMEDIA.NS
KAMATHOTEL.NS
KIMS.NS
LOYALTEX.NS
SPCENET.NS
LEMONTREE.NS
VAISHALI.NS
GOLDENTOBC.NS
CHEVIOT.NS
TIINDIA.NS
PRITI.NS
IL&FSTRANS.NS
WSTCSTPAPR.NS
FOODSIN.NS
RBLBANK.NS
AGIIL.NS
SAGARDEEP.NS
BCONCEPTS.NS
HERITGFOOD.NS
SPLIL.NS
SAREGAMA.NS
SHYAMCENT.NS
JYOTICNC.NS
SOUTHWEST.NS
ADFFOODS.NS
HATHWAY.NS
PAYTM.NS
JETFREIGHT.NS
SINCLAIR.NS
TEAMLEASE.NS
CREATIVE.NS
NATCOPHARM.NS
PARKHOTELS.NS
SANGHVIMOV.NS
DIACABS.NS
ASPINWALL.NS
STARTECK.NS
MANINDS.NS
CHEMBOND.NS
NIVABUPA.NS
MITTAL.NS
ORIENTALTL.NS
MHRIL.NS
KSB.NS
SANGHIIND.NS
GREENPOWER.NS

In [ ]:
# To Upate Daily stock Price
from mymodule.DatabaseConnection import CRUD
import yfinance as yf
import pandas as pd

lo_stockcode = CRUD('StockExchange_stockcode')
df_stockcode = pd.DataFrame(lo_stockcode.Read())

lo_daily_update = CRUD("StockDailyUpdate")

sub = lambda a: 'NS' if a == 'NSE' else 'BO'

def get_exchange_from_ticker(ticker: yf.ticker.Ticker) -> str:
    if str(ticker.info['symbol']).endswith(".NS"):
        return "NSE"
    elif str(ticker.info['symbol']).endswith(".BO"):
        return "BSE"
    return "UNKNOWN"


for i, code in df_stockcode[3570:].iterrows():
    query_symbol = code['Symbol'] + '.' + sub(code['StockExchange'])
    dat = yf.Ticker(query_symbol)
    cedl = dat.history(start='2025-11-01',end='2025-12-01')
    #print(query_symbol)
    if cedl.shape[0] > 0:
        cedl["Date"] = cedl.index
        cedl["Date"] = cedl["Date"].dt.date
        cedl.insert(0, "Date", cedl.pop("Date"))
        #cedl.pop("Dividends")
        #cedl.pop("Stock Splits")
        cedl["delivery"] = 0
        cedl.insert(0, "Symbol",dat.info["symbol"].split(".")[0])
        cedl.insert(0, "StockExchange",get_exchange_from_ticker(dat))
        cedl = cedl[['StockExchange','Symbol','Date','Open','High','Low','Close','Volume','delivery']]
        cedl.fillna(0, inplace=True)
        lo_daily_update.Create(cedl)
        print('Row ',i,' : ',query_symbol, " : ",cedl.shape[0], " records inserted")
        #del cedl

DataBase Disconnected
DataBase Disconnected
[['NSE', 'VETO', datetime.date(2025, 11, 3), 119.3499984741211, 120.79000091552734, 118.51000213623047, 119.08000183105469, 22551, 0], ['NSE', 'VETO', datetime.date(2025, 11, 4), 120.4800033569336, 120.94999694824219, 117.5, 117.66000366210938, 22360, 0], ['NSE', 'VETO', datetime.date(2025, 11, 5), 117.66000366210938, 117.66000366210938, 117.66000366210938, 117.66000366210938, 0, 0], ['NSE', 'VETO', datetime.date(2025, 11, 6), 117.66000366210938, 119.98999786376953, 115.0999984741211, 116.30000305175781, 29876, 0], ['NSE', 'VETO', datetime.date(2025, 11, 7), 115.0999984741211, 118.0, 115.0, 115.56999969482422, 24570, 0], ['NSE', 'VETO', datetime.date(2025, 11, 10), 116.75, 117.25, 115.48999786376953, 116.02999877929688, 15038, 0], ['NSE', 'VETO', datetime.date(2025, 11, 11), 118.5, 118.5, 114.51000213623047, 116.7699966430664, 23374, 0], ['NSE', 'VETO', datetime.date(2025, 11, 12), 116.0, 117.83000183105469, 114.55999755859375, 115.11000061035156, 26661, 0], ['NSE', 'VETO', datetime.date(2025, 11, 13), 116.98999786376953, 117.04000091552734, 114.66999816894531, 114.95999908447266, 22581, 0], ['NSE', 'VETO', datetime.date(2025, 11, 14), 114.5999984741211, 116.0, 112.19999694824219, 113.77999877929688, 33164, 0], ['NSE', 'VETO', datetime.date(2025, 11, 17), 114.5, 122.69999694824219, 114.48999786376953, 117.37000274658203, 108190, 0], ['NSE', 'VETO', datetime.date(2025, 11, 18), 117.0, 118.79000091552734, 116.16000366210938, 116.72000122070312, 19670, 0], ['NSE', 'VETO', datetime.date(2025, 11, 19), 116.12000274658203, 117.76000213623047, 114.55999755859375, 115.26000213623047, 32738, 0], ['NSE', 'VETO', datetime.date(2025, 11, 20), 116.9800033569336, 116.9800033569336, 114.69999694824219, 115.12000274658203, 20721, 0], ['NSE', 'VETO', datetime.date(2025, 11, 21), 113.69999694824219, 115.7300033569336, 113.0, 113.77999877929688, 18572, 0], ['NSE', 'VETO', datetime.date(2025, 11, 24), 113.5, 114.51000213623047, 112.9000015258789, 113.12999725341797, 15607, 0], ['NSE', 'VETO', datetime.date(2025, 11, 25), 111.3499984741211, 114.98999786376953, 110.0, 111.80999755859375, 115331, 0], ['NSE', 'VETO', datetime.date(2025, 11, 26), 111.69999694824219, 114.83999633789062, 110.3499984741211, 112.30000305175781, 123287, 0], ['NSE', 'VETO', datetime.date(2025, 11, 27), 112.0999984741211, 114.48999786376953, 112.0999984741211, 112.6500015258789, 12129, 0], ['NSE', 'VETO', datetime.date(2025, 11, 28), 112.0, 113.97000122070312, 112.0, 112.45999908447266, 11811, 0]]
(1062, "Duplicate entry 'NSE-VETO-2025-11-03' for key 'stockdailyupdate.PRIMARY'")
Row  3570  :  VETO.NS  :  20  records inserted
[['NSE', 'KAYNES', datetime.date(2025, 11, 3), 6709.0, 6712.5, 6613.0, 6652.5, 222733, 0], ['NSE', 'KAYNES', datetime.date(2025, 11, 4), 6664.5, 6725.0, 6540.0, 6658.5, 437052, 0], ['NSE', 'KAYNES', datetime.date(2025, 11, 5), 6658.5, 6658.5, 6658.5, 6658.5, 0, 0], ['NSE', 'KAYNES', datetime.date(2025, 11, 6), 6890.0, 6890.0, 6302.5, 6358.5, 1539949, 0], ['NSE', 'KAYNES', datetime.date(2025, 11, 7), 6304.5, 6314.5, 6161.0, 6225.0, 596124, 0], ['NSE', 'KAYNES', datetime.date(2025, 11, 10), 6225.0, 6513.5, 6167.5, 6482.0, 731274, 0], ['NSE', 'KAYNES', datetime.date(2025, 11, 11), 6482.0, 6491.0, 6350.0, 6455.5, 376612, 0], ['NSE', 'KAYNES', datetime.date(2025, 11, 12), 6471.5, 6529.0, 6415.5, 6433.5, 230312, 0], ['NSE', 'KAYNES', datetime.date(2025, 11, 13), 6435.0, 6497.5, 6360.0, 6376.5, 284213, 0], ['NSE', 'KAYNES', datetime.date(2025, 11, 14), 6365.5, 6405.5, 6277.0, 6332.0, 287029, 0], ['NSE', 'KAYNES', datetime.date(2025, 11, 17), 6346.0, 6347.0, 6190.0, 6237.0, 316277, 0], ['NSE', 'KAYNES', datetime.date(2025, 11, 18), 6202.0, 6202.0, 5855.5, 5889.0, 3155999, 0], ['NSE', 'KAYNES', datetime.date(2025, 11, 19), 5889.0, 5996.5, 5778.5, 5974.0, 702111, 0], ['NSE', 'KAYNES', datetime.date(2025, 11, 20), 6010.0, 6034.5, 5951.5, 5967.5, 335154, 0], ['NSE', 'KAYNES', datetime.date(2025, 11, 21), 5936.0, 6048.5, 5870.0, 5883.5, 503982, 0], ['NSE', 'KAYNES', datetime.date(2025, 11, 24), 5900.0, 5938.0, 5801.0, 5826.0, 418110, 0], ['NSE', 'KAYNES', datetime.date(2025, 11, 25), 5860.0, 5864.0, 5755.5, 5777.5, 412553, 0], ['NSE', 'KAYNES', datetime.date(2025, 11, 26), 5830.0, 5962.0, 5772.0, 5796.5, 1447755, 0], ['NSE', 'KAYNES', datetime.date(2025, 11, 27), 5828.0, 5838.0, 5543.5, 5573.5, 1546834, 0], ['NSE', 'KAYNES', datetime.date(2025, 11, 28), 5595.0, 5610.0, 5475.5, 5490.0, 951787, 0]]
Row  3571  :  KAYNES.NS  :  20  records inserted
[['BSE', '533047', datetime.date(2025, 11, 3), 1208.7069812716181, 1217.8721051167408, 1187.9358137260092, 1203.875244140625, 8349, 0], ['BSE', '533047', datetime.date(2025, 11, 4), 1199.4421157557904, 1270.1733368676353, 1174.4371590928206, 1225.841796875, 29610, 0], ['BSE', '533047', datetime.date(2025, 11, 6), 1225.8916997354606, 1263.5485317409039, 1114.0666314041478, 1126.718505859375, 8978, 0], ['BSE', '533047', datetime.date(2025, 11, 7), 1105.8478210976434, 1203.4269709696596, 1105.8478210976434, 1190.3765869140625, 23057, 0], ['BSE', '533047', datetime.date(2025, 11, 10), 1207.3620123985263, 1345.7860784174195, 1201.036075180817, 1315.800048828125, 70784, 0], ['BSE', '533047', datetime.date(2025, 11, 11), 1322.5, 1382.0, 1296.1500244140625, 1344.75, 27348, 0], ['BSE', '533047', datetime.date(2025, 11, 12), 1344.75, 1385.949951171875, 1305.25, 1370.25, 10848, 0], ['BSE', '533047', datetime.date(2025, 11, 13), 1369.6500244140625, 1372.9000244140625, 1306.5999755859375, 1312.4000244140625, 7176, 0], ['BSE', '533047', datetime.date(2025, 11, 14), 1317.9000244140625, 1379.699951171875, 1313.949951171875, 1370.5, 13042, 0], ['BSE', '533047', datetime.date(2025, 11, 17), 1394.1500244140625, 1394.1500244140625, 1297.050048828125, 1321.75, 6772, 0], ['BSE', '533047', datetime.date(2025, 11, 18), 1320.0, 1338.25, 1278.949951171875, 1283.300048828125, 10483, 0], ['BSE', '533047', datetime.date(2025, 11, 19), 1292.0, 1394.050048828125, 1292.0, 1342.5999755859375, 58080, 0], ['BSE', '533047', datetime.date(2025, 11, 20), 1355.5999755859375, 1357.5999755859375, 1305.0999755859375, 1316.199951171875, 8389, 0], ['BSE', '533047', datetime.date(2025, 11, 21), 1300.75, 1342.5, 1290.050048828125, 1303.5999755859375, 9318, 0], ['BSE', '533047', datetime.date(2025, 11, 24), 1294.9000244140625, 1294.9000244140625, 1211.4000244140625, 1231.199951171875, 16102, 0], ['BSE', '533047', datetime.date(2025, 11, 25), 1222.25, 1264.4000244140625, 1218.300048828125, 1252.300048828125, 4724, 0], ['BSE', '533047', datetime.date(2025, 11, 26), 1252.300048828125, 1282.699951171875, 1243.050048828125, 1247.449951171875, 5677, 0], ['BSE', '533047', datetime.date(2025, 11, 28), 1295.75, 1357.4000244140625, 1266.449951171875, 1347.699951171875, 27630, 0]]
Row  3572  :  533047.BO  :  18  records inserted
[['NSE', 'IMFA', datetime.date(2025, 11, 3), 1204.32948787513, 1218.3761551209964, 1187.4933580574225, 1205.52490234375, 146812, 0], ['NSE', 'IMFA', datetime.date(2025, 11, 4), 1210.2071964724948, 1270.1795468241235, 1171.8527552546684, 1225.9473876953125, 1085421, 0], ['NSE', 'IMFA', datetime.date(2025, 11, 5), 1225.9473876953125, 1225.9473876953125, 1225.9473876953125, 1225.9473876953125, 0, 0], ['NSE', 'IMFA', datetime.date(2025, 11, 6), 1237.304346049117, 1263.1064497289058, 1114.7693745804845, 1124.7315673828125, 450800, 0], ['NSE', 'IMFA', datetime.date(2025, 11, 7), 1112.7769442935137, 1203.034387431908, 1110.8841033252384, 1192.4744873046875, 401612, 0], ['NSE', 'IMFA', datetime.date(2025, 11, 10), 1201.4404536862003, 1345.89224952741, 1200.2450391917237, 1317.5, 1499228, 0], ['NSE', 'IMFA', datetime.date(2025, 11, 11), 1316.0999755859375, 1382.5999755859375, 1296.0, 1346.5, 575759, 0], ['NSE', 'IMFA', datetime.date(2025, 11, 12), 1342.5, 1387.5999755859375, 1305.699951171875, 1370.800048828125, 293184, 0], ['NSE', 'IMFA', datetime.date(2025, 11, 13), 1370.0, 1374.5, 1306.4000244140625, 1312.4000244140625, 194748, 0], ['NSE', 'IMFA', datetime.date(2025, 11, 14), 1312.4000244140625, 1381.5999755859375, 1312.4000244140625, 1370.699951171875, 267720, 0], ['NSE', 'IMFA', datetime.date(2025, 11, 17), 1377.5999755859375, 1381.199951171875, 1297.0999755859375, 1320.699951171875, 204267, 0], ['NSE', 'IMFA', datetime.date(2025, 11, 18), 1326.199951171875, 1338.0, 1278.0999755859375, 1284.800048828125, 136429, 0], ['NSE', 'IMFA', datetime.date(2025, 11, 19), 1310.5, 1393.800048828125, 1310.5, 1343.300048828125, 1448727, 0], ['NSE', 'IMFA', datetime.date(2025, 11, 20), 1350.0, 1363.800048828125, 1305.0999755859375, 1319.300048828125, 225764, 0], ['NSE', 'IMFA', datetime.date(2025, 11, 21), 1316.199951171875, 1350.0, 1290.0, 1302.4000244140625, 189439, 0], ['NSE', 'IMFA', datetime.date(2025, 11, 24), 1294.0, 1294.0, 1219.0, 1232.4000244140625, 180876, 0], ['NSE', 'IMFA', datetime.date(2025, 11, 25), 1230.0, 1264.4000244140625, 1217.0999755859375, 1252.800048828125, 158663, 0], ['NSE', 'IMFA', datetime.date(2025, 11, 26), 1255.5999755859375, 1284.9000244140625, 1240.199951171875, 1247.0999755859375, 141325, 0], ['NSE', 'IMFA', datetime.date(2025, 11, 27), 1255.5999755859375, 1292.0, 1225.4000244140625, 1269.9000244140625, 220459, 0], ['NSE', 'IMFA', datetime.date(2025, 11, 28), 1285.0, 1357.5999755859375, 1263.5, 1348.0999755859375, 689089, 0]]
Row  3573  :  IMFA.NS  :  20  records inserted
[['BSE', '540366', datetime.date(2025, 11, 3), 8.59000015258789, 8.59000015258789, 7.800000190734863, 7.809999942779541, 10260, 0], ['BSE', '540366', datetime.date(2025, 11, 4), 8.670000076293945, 8.670000076293945, 7.559999942779541, 7.630000114440918, 10339, 0], ['BSE', '540366', datetime.date(2025, 11, 6), 7.659999847412109, 7.659999847412109, 6.860000133514404, 6.960000038146973, 36760, 0], ['BSE', '540366', datetime.date(2025, 11, 7), 7.639999866485596, 7.639999866485596, 6.809999942779541, 6.929999828338623, 12469, 0], ['BSE', '540366', datetime.date(2025, 11, 10), 6.929999828338623, 7.070000171661377, 6.78000020980835, 6.869999885559082, 2454, 0], ['BSE', '540366', datetime.date(2025, 11, 11), 6.800000190734863, 7.010000228881836, 6.800000190734863, 6.96999979019165, 4227, 0], ['BSE', '540366', datetime.date(2025, 11, 12), 6.880000114440918, 7.159999847412109, 6.829999923706055, 6.989999771118164, 3286, 0], ['BSE', '540366', datetime.date(2025, 11, 13), 7.119999885559082, 7.119999885559082, 6.869999885559082, 6.949999809265137, 1381, 0], ['BSE', '540366', datetime.date(2025, 11, 14), 6.920000076293945, 6.980000019073486, 6.849999904632568, 6.900000095367432, 3379, 0], ['BSE', '540366', datetime.date(2025, 11, 17), 7.989999771118164, 7.989999771118164, 6.829999923706055, 6.829999923706055, 4227, 0], ['BSE', '540366', datetime.date(2025, 11, 18), 6.840000152587891, 7.119999885559082, 6.840000152587891, 6.989999771118164, 3197, 0], ['BSE', '540366', datetime.date(2025, 11, 19), 6.900000095367432, 7.190000057220459, 6.900000095367432, 6.960000038146973, 2678, 0], ['BSE', '540366', datetime.date(2025, 11, 20), 6.699999809265137, 7.070000171661377, 6.699999809265137, 6.849999904632568, 3366, 0], ['BSE', '540366', datetime.date(2025, 11, 21), 6.75, 7.0, 6.75, 6.789999961853027, 6860, 0], ['BSE', '540366', datetime.date(2025, 11, 24), 7.880000114440918, 7.880000114440918, 6.829999923706055, 6.949999809265137, 4381, 0], ['BSE', '540366', datetime.date(2025, 11, 25), 7.0, 7.019999980926514, 6.809999942779541, 6.820000171661377, 5002, 0], ['BSE', '540366', datetime.date(2025, 11, 26), 6.989999771118164, 6.989999771118164, 6.760000228881836, 6.809999942779541, 3573, 0], ['BSE', '540366', datetime.date(2025, 11, 28), 6.980000019073486, 6.980000019073486, 6.539999961853027, 6.599999904632568, 8868, 0]]
Row  3574  :  540366.BO  :  18  records inserted
[['NSE', 'RADIOCITY', datetime.date(2025, 11, 3), 8.119999885559082, 8.119999885559082, 7.820000171661377, 7.869999885559082, 212252, 0], ['NSE', 'RADIOCITY', datetime.date(2025, 11, 4), 7.949999809265137, 7.949999809265137, 7.510000228881836, 7.630000114440918, 228911, 0], ['NSE', 'RADIOCITY', datetime.date(2025, 11, 5), 7.630000114440918, 7.630000114440918, 7.630000114440918, 7.630000114440918, 0, 0], ['NSE', 'RADIOCITY', datetime.date(2025, 11, 6), 7.789999961853027, 7.789999961853027, 6.849999904632568, 6.960000038146973, 839197, 0], ['NSE', 'RADIOCITY', datetime.date(2025, 11, 7), 7.039999961853027, 7.039999961853027, 6.78000020980835, 6.940000057220459, 206223, 0], ['NSE', 'RADIOCITY', datetime.date(2025, 11, 10), 7.0, 7.239999771118164, 6.75, 6.889999866485596, 214369, 0], ['NSE', 'RADIOCITY', datetime.date(2025, 11, 11), 6.889999866485596, 7.179999828338623, 6.760000228881836, 6.889999866485596, 122800, 0], ['NSE', 'RADIOCITY', datetime.date(2025, 11, 12), 7.0, 7.159999847412109, 6.900000095367432, 6.960000038146973, 66958, 0], ['NSE', 'RADIOCITY', datetime.date(2025, 11, 13), 6.960000038146973, 7.090000152587891, 6.829999923706055, 6.96999979019165, 73514, 0], ['NSE', 'RADIOCITY', datetime.date(2025, 11, 14), 6.900000095367432, 6.960000038146973, 6.809999942779541, 6.900000095367432, 88900, 0], ['NSE', 'RADIOCITY', datetime.date(2025, 11, 17), 6.900000095367432, 7.190000057220459, 6.860000133514404, 6.900000095367432, 117358, 0], ['NSE', 'RADIOCITY', datetime.date(2025, 11, 18), 7.059999942779541, 7.059999942779541, 6.800000190734863, 6.940000057220459, 51114, 0], ['NSE', 'RADIOCITY', datetime.date(2025, 11, 19), 6.989999771118164, 7.190000057220459, 6.849999904632568, 6.889999866485596, 132576, 0], ['NSE', 'RADIOCITY', datetime.date(2025, 11, 20), 7.050000190734863, 7.050000190734863, 6.820000171661377, 6.880000114440918, 25587, 0], ['NSE', 'RADIOCITY', datetime.date(2025, 11, 21), 6.900000095367432, 6.989999771118164, 6.760000228881836, 6.880000114440918, 216632, 0], ['NSE', 'RADIOCITY', datetime.date(2025, 11, 24), 7.090000152587891, 7.090000152587891, 6.849999904632568, 6.929999828338623, 37826, 0], ['NSE', 'RADIOCITY', datetime.date(2025, 11, 25), 6.96999979019165, 7.0, 6.71999979019165, 6.840000152587891, 82377, 0], ['NSE', 'RADIOCITY', datetime.date(2025, 11, 26), 6.960000038146973, 6.960000038146973, 6.760000228881836, 6.769999980926514, 110055, 0], ['NSE', 'RADIOCITY', datetime.date(2025, 11, 27), 6.900000095367432, 6.929999828338623, 6.650000095367432, 6.710000038146973, 48853, 0], ['NSE', 'RADIOCITY', datetime.date(2025, 11, 28), 6.659999847412109, 6.829999923706055, 6.510000228881836, 6.619999885559082, 135843, 0]]
Row  3575  :  RADIOCITY.NS  :  20  records inserted
[['NSE', 'DOLPHIN', datetime.date(2025, 11, 3), 409.95001220703125, 446.1000061035156, 400.0, 446.1000061035156, 272340, 0], ['NSE', 'DOLPHIN', datetime.date(2025, 11, 4), 464.0, 501.95001220703125, 406.6000061035156, 412.25, 399453, 0], ['NSE', 'DOLPHIN', datetime.date(2025, 11, 6), 419.0, 431.0, 400.1000061035156, 409.6000061035156, 41414, 0], ['NSE', 'DOLPHIN', datetime.date(2025, 11, 7), 414.8999938964844, 414.8999938964844, 390.0, 393.8999938964844, 16686, 0], ['NSE', 'DOLPHIN', datetime.date(2025, 11, 10), 392.04998779296875, 419.45001220703125, 390.1000061035156, 403.29998779296875, 14783, 0], ['NSE', 'DOLPHIN', datetime.date(2025, 11, 11), 403.29998779296875, 407.6000061035156, 390.0, 391.8500061035156, 5520, 0], ['NSE', 'DOLPHIN', datetime.date(2025, 11, 12), 403.6499938964844, 403.6499938964844, 380.1000061035156, 385.0, 11133, 0], ['NSE', 'DOLPHIN', datetime.date(2025, 11, 13), 381.25, 400.0, 381.25, 384.8999938964844, 13769, 0], ['NSE', 'DOLPHIN', datetime.date(2025, 11, 14), 383.1000061035156, 399.0, 378.1000061035156, 385.0, 12581, 0], ['NSE', 'DOLPHIN', datetime.date(2025, 11, 17), 385.1000061035156, 394.8999938964844, 383.1499938964844, 386.70001220703125, 5495, 0], ['NSE', 'DOLPHIN', datetime.date(2025, 11, 18), 392.6499938964844, 392.6499938964844, 377.79998779296875, 379.3999938964844, 10617, 0], ['NSE', 'DOLPHIN', datetime.date(2025, 11, 19), 382.04998779296875, 388.45001220703125, 360.0, 362.6499938964844, 18038, 0], ['NSE', 'DOLPHIN', datetime.date(2025, 11, 20), 362.6499938964844, 366.70001220703125, 352.0, 362.29998779296875, 159816, 0], ['NSE', 'DOLPHIN', datetime.date(2025, 11, 21), 360.0, 369.79998779296875, 360.0, 366.6499938964844, 6430, 0], ['NSE', 'DOLPHIN', datetime.date(2025, 11, 24), 366.79998779296875, 375.29998779296875, 351.1499938964844, 360.54998779296875, 5496, 0], ['NSE', 'DOLPHIN', datetime.date(2025, 11, 25), 352.1000061035156, 358.3999938964844, 351.04998779296875, 352.3500061035156, 4478, 0], ['NSE', 'DOLPHIN', datetime.date(2025, 11, 26), 351.1000061035156, 364.8999938964844, 345.6000061035156, 353.8999938964844, 27025, 0], ['NSE', 'DOLPHIN', datetime.date(2025, 11, 27), 357.5, 357.5, 344.0, 346.75, 10082, 0], ['NSE', 'DOLPHIN', datetime.date(2025, 11, 28), 345.04998779296875, 355.0, 345.04998779296875, 351.04998779296875, 3764, 0]]
Row  3576  :  DOLPHIN.NS  :  19  records inserted
[['BSE', '530393', datetime.date(2025, 11, 3), 25.40999984741211, 25.950000762939453, 25.290000915527344, 25.290000915527344, 673, 0], ['BSE', '530393', datetime.date(2025, 11, 4), 25.290000915527344, 25.299999237060547, 24.799999237060547, 25.299999237060547, 825, 0], ['BSE', '530393', datetime.date(2025, 11, 6), 25.420000076293945, 25.600000381469727, 24.799999237060547, 25.489999771118164, 2173, 0], ['BSE', '530393', datetime.date(2025, 11, 7), 25.489999771118164, 25.489999771118164, 25.100000381469727, 25.139999389648438, 442, 0], ['BSE', '530393', datetime.date(2025, 11, 10), 25.149999618530273, 25.270000457763672, 25.149999618530273, 25.270000457763672, 5, 0], ['BSE', '530393', datetime.date(2025, 11, 11), 25.280000686645508, 25.290000915527344, 24.860000610351562, 25.049999237060547, 386, 0], ['BSE', '530393', datetime.date(2025, 11, 12), 25.0, 25.43000030517578, 25.0, 25.149999618530273, 173, 0], ['BSE', '530393', datetime.date(2025, 11, 13), 25.010000228881836, 25.479999542236328, 24.829999923706055, 25.100000381469727, 138, 0], ['BSE', '530393', datetime.date(2025, 11, 14), 25.0, 25.43000030517578, 24.649999618530273, 24.979999542236328, 1031, 0], ['BSE', '530393', datetime.date(2025, 11, 17), 25.110000610351562, 25.290000915527344, 24.649999618530273, 24.809999465942383, 2165, 0], ['BSE', '530393', datetime.date(2025, 11, 18), 25.639999389648438, 25.639999389648438, 25.1200008392334, 25.469999313354492, 78, 0], ['BSE', '530393', datetime.date(2025, 11, 19), 25.469999313354492, 25.469999313354492, 25.0, 25.0, 12, 0], ['BSE', '530393', datetime.date(2025, 11, 20), 25.049999237060547, 28.799999237060547, 24.510000228881836, 25.280000686645508, 245213, 0], ['BSE', '530393', datetime.date(2025, 11, 21), 25.299999237060547, 25.40999984741211, 24.639999389648438, 24.770000457763672, 4705, 0], ['BSE', '530393', datetime.date(2025, 11, 24), 25.010000228881836, 25.290000915527344, 24.5, 24.690000534057617, 2472, 0], ['BSE', '530393', datetime.date(2025, 11, 25), 25.0, 25.600000381469727, 24.799999237060547, 24.860000610351562, 3576, 0], ['BSE', '530393', datetime.date(2025, 11, 26), 25.010000228881836, 27.600000381469727, 24.729999542236328, 24.780000686645508, 115307, 0], ['BSE', '530393', datetime.date(2025, 11, 28), 25.100000381469727, 25.690000534057617, 25.0, 25.0, 375, 0]]
Row  3577  :  530393.BO  :  18  records inserted

$500052.BO: possibly delisted; no timezone found

[['NSE', 'BEPL', datetime.date(2025, 11, 3), 97.69969291682581, 98.21442705366184, 97.00679029270678, 97.66999816894531, 271342, 0], ['NSE', 'BEPL', datetime.date(2025, 11, 4), 98.11000061035156, 98.7300033569336, 97.5199966430664, 97.83999633789062, 180340, 0], ['NSE', 'BEPL', datetime.date(2025, 11, 5), 97.83999633789062, 97.83999633789062, 97.83999633789062, 97.83999633789062, 0, 0], ['NSE', 'BEPL', datetime.date(2025, 11, 6), 97.5, 97.98999786376953, 96.0999984741211, 96.5, 239461, 0], ['NSE', 'BEPL', datetime.date(2025, 11, 7), 96.0, 96.94999694824219, 95.30000305175781, 96.0, 224056, 0], ['NSE', 'BEPL', datetime.date(2025, 11, 10), 96.04000091552734, 96.7699966430664, 95.5, 95.62000274658203, 209118, 0], ['NSE', 'BEPL', datetime.date(2025, 11, 11), 95.47000122070312, 96.5, 94.9000015258789, 96.0, 208818, 0], ['NSE', 'BEPL', datetime.date(2025, 11, 12), 96.06999969482422, 96.94000244140625, 95.72000122070312, 96.06999969482422, 205336, 0], ['NSE', 'BEPL', datetime.date(2025, 11, 13), 96.06999969482422, 96.43000030517578, 95.51000213623047, 95.69000244140625, 261024, 0], ['NSE', 'BEPL', datetime.date(2025, 11, 14), 95.4800033569336, 95.9800033569336, 95.36000061035156, 95.61000061035156, 134976, 0], ['NSE', 'BEPL', datetime.date(2025, 11, 17), 95.63999938964844, 96.44000244140625, 95.01000213623047, 95.41000366210938, 280081, 0], ['NSE', 'BEPL', datetime.date(2025, 11, 18), 95.41000366210938, 95.56999969482422, 94.44000244140625, 94.9000015258789, 207940, 0], ['NSE', 'BEPL', datetime.date(2025, 11, 19), 94.5, 94.7300033569336, 93.02999877929688, 93.22000122070312, 345715, 0], ['NSE', 'BEPL', datetime.date(2025, 11, 20), 93.25, 93.7300033569336, 92.5, 92.77999877929688, 220656, 0], ['NSE', 'BEPL', datetime.date(2025, 11, 21), 92.79000091552734, 92.91000366210938, 92.19999694824219, 92.4000015258789, 151181, 0], ['NSE', 'BEPL', datetime.date(2025, 11, 24), 92.30000305175781, 93.69000244140625, 90.05000305175781, 90.36000061035156, 295111, 0], ['NSE', 'BEPL', datetime.date(2025, 11, 25), 90.36000061035156, 91.79000091552734, 90.3499984741211, 91.20999908447266, 158767, 0], ['NSE', 'BEPL', datetime.date(2025, 11, 26), 91.0, 92.05000305175781, 90.8499984741211, 91.69999694824219, 139317, 0], ['NSE', 'BEPL', datetime.date(2025, 11, 27), 91.9000015258789, 92.94000244140625, 91.6500015258789, 91.83999633789062, 141525, 0], ['NSE', 'BEPL', datetime.date(2025, 11, 28), 91.93000030517578, 92.6500015258789, 91.41000366210938, 91.98999786376953, 175638, 0]]
Row  3580  :  BEPL.NS  :  20  records inserted

$531349.BO: possibly delisted; no timezone found

[['NSE', 'PANACEABIO', datetime.date(2025, 11, 3), 440.0, 443.95001220703125, 429.6000061035156, 431.8500061035156, 90515, 0], ['NSE', 'PANACEABIO', datetime.date(2025, 11, 4), 430.0, 443.95001220703125, 430.0, 432.29998779296875, 66131, 0], ['NSE', 'PANACEABIO', datetime.date(2025, 11, 5), 432.29998779296875, 432.29998779296875, 432.29998779296875, 432.29998779296875, 0, 0], ['NSE', 'PANACEABIO', datetime.date(2025, 11, 6), 432.75, 435.45001220703125, 405.95001220703125, 410.0, 123893, 0], ['NSE', 'PANACEABIO', datetime.date(2025, 11, 7), 408.79998779296875, 420.25, 404.20001220703125, 414.6000061035156, 53397, 0], ['NSE', 'PANACEABIO', datetime.date(2025, 11, 10), 410.20001220703125, 412.5, 405.0, 405.8500061035156, 58523, 0], ['NSE', 'PANACEABIO', datetime.date(2025, 11, 11), 405.8500061035156, 405.8500061035156, 395.0, 396.6499938964844, 135332, 0], ['NSE', 'PANACEABIO', datetime.date(2025, 11, 12), 402.3999938964844, 404.5, 393.04998779296875, 400.54998779296875, 88770, 0], ['NSE', 'PANACEABIO', datetime.date(2025, 11, 13), 402.0, 412.95001220703125, 401.1499938964844, 404.6000061035156, 62502, 0], ['NSE', 'PANACEABIO', datetime.date(2025, 11, 14), 405.20001220703125, 405.70001220703125, 396.25, 399.8500061035156, 57095, 0], ['NSE', 'PANACEABIO', datetime.date(2025, 11, 17), 399.8500061035156, 400.6000061035156, 384.0, 389.95001220703125, 150492, 0], ['NSE', 'PANACEABIO', datetime.date(2025, 11, 18), 390.54998779296875, 396.04998779296875, 373.1499938964844, 377.54998779296875, 148072, 0], ['NSE', 'PANACEABIO', datetime.date(2025, 11, 19), 373.04998779296875, 380.3999938964844, 362.45001220703125, 370.3500061035156, 154083, 0], ['NSE', 'PANACEABIO', datetime.date(2025, 11, 20), 371.5, 371.5, 351.3999938964844, 356.6000061035156, 255120, 0], ['NSE', 'PANACEABIO', datetime.date(2025, 11, 21), 356.6000061035156, 356.6000061035156, 341.6000061035156, 345.1499938964844, 283451, 0], ['NSE', 'PANACEABIO', datetime.date(2025, 11, 24), 345.1499938964844, 355.79998779296875, 341.5, 346.3500061035156, 96253, 0], ['NSE', 'PANACEABIO', datetime.date(2025, 11, 25), 346.1000061035156, 350.0, 342.5, 345.1499938964844, 90747, 0], ['NSE', 'PANACEABIO', datetime.date(2025, 11, 26), 346.04998779296875, 388.5, 346.04998779296875, 373.45001220703125, 336825, 0], ['NSE', 'PANACEABIO', datetime.date(2025, 11, 27), 378.0, 384.70001220703125, 366.0, 378.6000061035156, 247137, 0], ['NSE', 'PANACEABIO', datetime.date(2025, 11, 28), 372.8500061035156, 377.0, 365.0, 367.6000061035156, 65589, 0]]
Row  3582  :  PANACEABIO.NS  :  20  records inserted
[['NSE', 'INDIASHLTR', datetime.date(2025, 11, 3), 883.8499755859375, 896.0, 877.75, 886.7000122070312, 85437, 0], ['NSE', 'INDIASHLTR', datetime.date(2025, 11, 4), 894.5999755859375, 895.0, 880.0, 886.5999755859375, 96669, 0], ['NSE', 'INDIASHLTR', datetime.date(2025, 11, 5), 886.5999755859375, 886.5999755859375, 886.5999755859375, 886.5999755859375, 0, 0], ['NSE', 'INDIASHLTR', datetime.date(2025, 11, 6), 893.0499877929688, 894.9500122070312, 835.5499877929688, 845.9500122070312, 413598, 0], ['NSE', 'INDIASHLTR', datetime.date(2025, 11, 7), 846.0499877929688, 887.9000244140625, 835.0, 873.25, 263174, 0], ['NSE', 'INDIASHLTR', datetime.date(2025, 11, 10), 873.2000122070312, 886.1500244140625, 849.9500122070312, 856.2999877929688, 289474, 0], ['NSE', 'INDIASHLTR', datetime.date(2025, 11, 11), 852.0, 869.0, 838.5, 843.75, 198322, 0], ['NSE', 'INDIASHLTR', datetime.date(2025, 11, 12), 844.0, 863.0, 839.4500122070312, 844.4000244140625, 495454, 0], ['NSE', 'INDIASHLTR', datetime.date(2025, 11, 13), 842.0, 861.5, 841.9500122070312, 855.3499755859375, 362957, 0], ['NSE', 'INDIASHLTR', datetime.date(2025, 11, 14), 848.0, 880.7999877929688, 846.5499877929688, 874.5999755859375, 111104, 0], ['NSE', 'INDIASHLTR', datetime.date(2025, 11, 17), 874.0, 902.0, 868.25, 895.25, 154943, 0], ['NSE', 'INDIASHLTR', datetime.date(2025, 11, 18), 895.0, 924.0, 891.0499877929688, 918.9500122070312, 566379, 0], ['NSE', 'INDIASHLTR', datetime.date(2025, 11, 19), 914.0, 915.3499755859375, 882.5999755859375, 888.8499755859375, 159485, 0], ['NSE', 'INDIASHLTR', datetime.date(2025, 11, 20), 889.9000244140625, 901.2000122070312, 882.8499755859375, 895.5999755859375, 86534, 0], ['NSE', 'INDIASHLTR', datetime.date(2025, 11, 21), 887.1500244140625, 900.1500244140625, 874.7000122070312, 879.4500122070312, 106984, 0], ['NSE', 'INDIASHLTR', datetime.date(2025, 11, 24), 888.0, 888.0, 868.0499877929688, 876.9500122070312, 174013, 0], ['NSE', 'INDIASHLTR', datetime.date(2025, 11, 25), 877.0999755859375, 886.0, 850.0, 861.4000244140625, 111151, 0], ['NSE', 'INDIASHLTR', datetime.date(2025, 11, 26), 861.5, 881.4000244140625, 855.9500122070312, 878.8499755859375, 169559, 0], ['NSE', 'INDIASHLTR', datetime.date(2025, 11, 27), 876.0, 879.75, 865.9000244140625, 870.0499877929688, 60080, 0], ['NSE', 'INDIASHLTR', datetime.date(2025, 11, 28), 872.6500244140625, 885.5499877929688, 861.0999755859375, 880.6500244140625, 54381, 0]]
Row  3583  :  INDIASHLTR.NS  :  20  records inserted
[['BSE', '521194', datetime.date(2025, 11, 3), 650.0, 662.0, 639.0999755859375, 645.3499755859375, 1063, 0], ['BSE', '521194', datetime.date(2025, 11, 4), 645.3499755859375, 645.3499755859375, 620.0, 620.0499877929688, 369, 0], ['BSE', '521194', datetime.date(2025, 11, 6), 615.0, 618.7000122070312, 601.0, 601.0, 422, 0], ['BSE', '521194', datetime.date(2025, 11, 7), 590.0, 609.0, 590.0, 609.0, 133, 0], ['BSE', '521194', datetime.date(2025, 11, 10), 597.0, 619.3499755859375, 588.25, 619.3499755859375, 65, 0], ['BSE', '521194', datetime.date(2025, 11, 11), 610.0, 616.5, 600.0, 602.0, 52, 0], ['BSE', '521194', datetime.date(2025, 11, 12), 602.0, 622.0, 582.0, 615.0999755859375, 133, 0], ['BSE', '521194', datetime.date(2025, 11, 13), 595.0, 604.7999877929688, 595.0, 597.0999755859375, 192, 0], ['BSE', '521194', datetime.date(2025, 11, 14), 590.0, 609.7999877929688, 590.0, 591.9000244140625, 194, 0], ['BSE', '521194', datetime.date(2025, 11, 17), 591.9000244140625, 594.9500122070312, 581.0499877929688, 581.0499877929688, 612, 0], ['BSE', '521194', datetime.date(2025, 11, 18), 581.0499877929688, 590.9500122070312, 565.4500122070312, 588.1500244140625, 566, 0], ['BSE', '521194', datetime.date(2025, 11, 19), 585.6500244140625, 585.6500244140625, 574.0499877929688, 574.0499877929688, 54, 0], ['BSE', '521194', datetime.date(2025, 11, 20), 575.0, 580.8499755859375, 570.0, 570.25, 152, 0], ['BSE', '521194', datetime.date(2025, 11, 21), 560.5999755859375, 599.0, 560.5999755859375, 565.8499755859375, 160, 0], ['BSE', '521194', datetime.date(2025, 11, 24), 560.0, 560.0, 542.0, 543.5999755859375, 747, 0], ['BSE', '521194', datetime.date(2025, 11, 25), 542.7999877929688, 548.3499755859375, 540.0, 544.9500122070312, 1287, 0], ['BSE', '521194', datetime.date(2025, 11, 26), 548.0999755859375, 551.9000244140625, 542.75, 551.9000244140625, 79, 0], ['BSE', '521194', datetime.date(2025, 11, 28), 554.9500122070312, 554.9500122070312, 544.5, 554.7999877929688, 239, 0]]
Row  3584  :  521194.BO  :  18  records inserted
[['NSE', 'SILINV', datetime.date(2025, 11, 3), 641.4000244140625, 656.0, 631.0499877929688, 637.0, 2740, 0], ['NSE', 'SILINV', datetime.date(2025, 11, 4), 646.0999755859375, 652.2999877929688, 611.0, 615.5499877929688, 6675, 0], ['NSE', 'SILINV', datetime.date(2025, 11, 6), 615.5499877929688, 622.9000244140625, 595.2000122070312, 601.0999755859375, 7784, 0], ['NSE', 'SILINV', datetime.date(2025, 11, 7), 599.7999877929688, 604.0, 578.0, 601.2000122070312, 1400, 0], ['NSE', 'SILINV', datetime.date(2025, 11, 10), 592.0499877929688, 616.0, 592.0499877929688, 608.0, 3127, 0], ['NSE', 'SILINV', datetime.date(2025, 11, 11), 604.0, 608.0, 599.0, 605.0, 1474, 0], ['NSE', 'SILINV', datetime.date(2025, 11, 12), 605.25, 611.7999877929688, 578.0, 606.6500244140625, 4230, 0], ['NSE', 'SILINV', datetime.date(2025, 11, 13), 618.7999877929688, 618.7999877929688, 588.0, 592.7999877929688, 6528, 0], ['NSE', 'SILINV', datetime.date(2025, 11, 14), 600.0499877929688, 600.0499877929688, 582.0, 587.6500244140625, 2262, 0], ['NSE', 'SILINV', datetime.date(2025, 11, 17), 587.6500244140625, 594.0, 581.0, 581.25, 5889, 0], ['NSE', 'SILINV', datetime.date(2025, 11, 18), 581.0, 587.2999877929688, 565.2000122070312, 582.7999877929688, 7322, 0], ['NSE', 'SILINV', datetime.date(2025, 11, 19), 585.0, 589.7999877929688, 570.1500244140625, 578.6500244140625, 3258, 0], ['NSE', 'SILINV', datetime.date(2025, 11, 20), 581.3499755859375, 581.3499755859375, 564.0, 569.2000122070312, 2038, 0], ['NSE', 'SILINV', datetime.date(2025, 11, 21), 588.0, 588.0, 565.0, 566.0499877929688, 1260, 0], ['NSE', 'SILINV', datetime.date(2025, 11, 24), 579.7999877929688, 579.7999877929688, 511.0, 536.0499877929688, 9280, 0], ['NSE', 'SILINV', datetime.date(2025, 11, 25), 562.0, 562.0, 537.7999877929688, 541.7999877929688, 2360, 0], ['NSE', 'SILINV', datetime.date(2025, 11, 26), 541.7999877929688, 556.0, 540.1500244140625, 551.0499877929688, 3355, 0], ['NSE', 'SILINV', datetime.date(2025, 11, 27), 559.4500122070312, 559.4500122070312, 545.0, 547.0499877929688, 2113, 0], ['NSE', 'SILINV', datetime.date(2025, 11, 28), 549.3499755859375, 555.9000244140625, 547.25, 551.6500244140625, 3076, 0]]
Row  3585  :  SILINV.NS  :  19  records inserted

$530023.BO: possibly delisted; no timezone found

[['NSE', 'THEINVEST', datetime.date(2025, 11, 3), 141.8000030517578, 141.8000030517578, 138.89999389648438, 139.2899932861328, 2391, 0], ['NSE', 'THEINVEST', datetime.date(2025, 11, 4), 140.02000427246094, 141.8000030517578, 137.25, 138.0500030517578, 4120, 0], ['NSE', 'THEINVEST', datetime.date(2025, 11, 6), 136.0, 136.8000030517578, 129.0500030517578, 129.72999572753906, 80821, 0], ['NSE', 'THEINVEST', datetime.date(2025, 11, 7), 129.25, 131.9499969482422, 126.16999816894531, 127.20999908447266, 19977, 0], ['NSE', 'THEINVEST', datetime.date(2025, 11, 10), 125.0, 127.20999908447266, 125.0, 126.11000061035156, 10530, 0], ['NSE', 'THEINVEST', datetime.date(2025, 11, 11), 125.19999694824219, 127.0, 125.05000305175781, 126.5, 3154, 0], ['NSE', 'THEINVEST', datetime.date(2025, 11, 12), 126.97000122070312, 127.80000305175781, 124.38999938964844, 127.0, 11310, 0], ['NSE', 'THEINVEST', datetime.date(2025, 11, 13), 129.3000030517578, 130.77999877929688, 126.1500015258789, 129.7899932861328, 4277, 0], ['NSE', 'THEINVEST', datetime.date(2025, 11, 14), 130.8000030517578, 131.99000549316406, 128.1300048828125, 130.10000610351562, 12181, 0], ['NSE', 'THEINVEST', datetime.date(2025, 11, 17), 132.72999572753906, 133.0, 128.10000610351562, 131.22999572753906, 11792, 0], ['NSE', 'THEINVEST', datetime.date(2025, 11, 18), 131.4499969482422, 132.00999450683594, 125.0, 125.44000244140625, 12176, 0], ['NSE', 'THEINVEST', datetime.date(2025, 11, 19), 126.94000244140625, 131.7899932861328, 124.0999984741211, 125.0999984741211, 28689, 0], ['NSE', 'THEINVEST', datetime.date(2025, 11, 20), 126.76000213623047, 128.6699981689453, 121.01000213623047, 121.6500015258789, 12259, 0], ['NSE', 'THEINVEST', datetime.date(2025, 11, 21), 124.98999786376953, 124.98999786376953, 118.0, 120.0999984741211, 10987, 0], ['NSE', 'THEINVEST', datetime.date(2025, 11, 24), 120.33000183105469, 125.0, 118.0999984741211, 121.68000030517578, 10548, 0], ['NSE', 'THEINVEST', datetime.date(2025, 11, 25), 124.05000305175781, 124.05000305175781, 118.11000061035156, 120.87999725341797, 4223, 0], ['NSE', 'THEINVEST', datetime.date(2025, 11, 26), 123.18000030517578, 123.5, 120.1500015258789, 121.98999786376953, 14784, 0], ['NSE', 'THEINVEST', datetime.date(2025, 11, 27), 121.61000061035156, 123.25, 120.0, 122.37999725341797, 9382, 0], ['NSE', 'THEINVEST', datetime.date(2025, 11, 28), 122.37999725341797, 124.36000061035156, 121.0, 122.1500015258789, 2684, 0]]
Row  3587  :  THEINVEST.NS  :  19  records inserted
[['BSE', '532869', datetime.date(2025, 11, 3), 53.5, 53.5, 50.75, 51.0, 1290, 0], ['BSE', '532869', datetime.date(2025, 11, 4), 51.56999969482422, 53.599998474121094, 51.56999969482422, 52.029998779296875, 3006, 0], ['BSE', '532869', datetime.date(2025, 11, 6), 52.20000076293945, 52.20000076293945, 51.0, 51.0, 604, 0], ['BSE', '532869', datetime.date(2025, 11, 7), 51.5, 52.150001525878906, 50.81999969482422, 50.95000076293945, 701, 0], ['BSE', '532869', datetime.date(2025, 11, 10), 51.349998474121094, 51.58000183105469, 50.5, 51.540000915527344, 1589, 0], ['BSE', '532869', datetime.date(2025, 11, 11), 51.689998626708984, 52.5, 51.5, 52.11000061035156, 6374, 0], ['BSE', '532869', datetime.date(2025, 11, 12), 51.95000076293945, 52.79999923706055, 51.099998474121094, 52.0, 4889, 0], ['BSE', '532869', datetime.date(2025, 11, 13), 52.54999923706055, 53.900001525878906, 49.7400016784668, 53.439998626708984, 4784, 0], ['BSE', '532869', datetime.date(2025, 11, 14), 52.5, 53.0099983215332, 52.5, 53.0099983215332, 1429, 0], ['BSE', '532869', datetime.date(2025, 11, 17), 53.0, 53.099998474121094, 52.75, 52.75, 2228, 0], ['BSE', '532869', datetime.date(2025, 11, 18), 52.25, 52.650001525878906, 50.900001525878906, 50.9900016784668, 2456, 0], ['BSE', '532869', datetime.date(2025, 11, 19), 51.29999923706055, 51.29999923706055, 51.29999923706055, 51.29999923706055, 4, 0], ['BSE', '532869', datetime.date(2025, 11, 20), 52.599998474121094, 54.18000030517578, 50.099998474121094, 53.0099983215332, 25147, 0], ['BSE', '532869', datetime.date(2025, 11, 21), 52.75, 53.900001525878906, 51.7599983215332, 52.61000061035156, 6135, 0], ['BSE', '532869', datetime.date(2025, 11, 24), 53.150001525878906, 53.599998474121094, 51.77000045776367, 52.45000076293945, 612, 0], ['BSE', '532869', datetime.date(2025, 11, 25), 52.7599983215332, 53.38999938964844, 51.619998931884766, 51.619998931884766, 2883, 0], ['BSE', '532869', datetime.date(2025, 11, 26), 51.650001525878906, 52.630001068115234, 51.099998474121094, 51.34000015258789, 450, 0], ['BSE', '532869', datetime.date(2025, 11, 28), 51.0, 53.0, 51.0, 53.0, 9069, 0]]
Row  3588  :  532869.BO  :  18  records inserted
[['NSE', 'TARMAT', datetime.date(2025, 11, 3), 52.599998474121094, 52.599998474121094, 50.900001525878906, 50.970001220703125, 18573, 0], ['NSE', 'TARMAT', datetime.date(2025, 11, 4), 51.63999938964844, 53.20000076293945, 51.5, 52.25, 21165, 0], ['NSE', 'TARMAT', datetime.date(2025, 11, 6), 52.66999816894531, 52.66999816894531, 50.75, 51.060001373291016, 7077, 0], ['NSE', 'TARMAT', datetime.date(2025, 11, 7), 50.61000061035156, 52.0, 50.400001525878906, 51.29999923706055, 10144, 0], ['NSE', 'TARMAT', datetime.date(2025, 11, 10), 51.380001068115234, 52.0, 50.720001220703125, 51.08000183105469, 4749, 0], ['NSE', 'TARMAT', datetime.date(2025, 11, 11), 51.08000183105469, 52.900001525878906, 51.08000183105469, 51.97999954223633, 22473, 0], ['NSE', 'TARMAT', datetime.date(2025, 11, 12), 51.099998474121094, 52.70000076293945, 51.02000045776367, 52.45000076293945, 28791, 0], ['NSE', 'TARMAT', datetime.date(2025, 11, 13), 51.29999923706055, 54.38999938964844, 49.720001220703125, 53.13999938964844, 93439, 0], ['NSE', 'TARMAT', datetime.date(2025, 11, 14), 52.91999816894531, 53.400001525878906, 52.150001525878906, 52.91999816894531, 14070, 0], ['NSE', 'TARMAT', datetime.date(2025, 11, 17), 53.599998474121094, 53.599998474121094, 52.209999084472656, 52.77000045776367, 17064, 0], ['NSE', 'TARMAT', datetime.date(2025, 11, 18), 53.650001525878906, 53.650001525878906, 50.810001373291016, 51.68000030517578, 11436, 0], ['NSE', 'TARMAT', datetime.date(2025, 11, 19), 53.4900016784668, 53.4900016784668, 51.099998474121094, 51.2599983215332, 10280, 0], ['NSE', 'TARMAT', datetime.date(2025, 11, 20), 51.2599983215332, 53.5, 50.900001525878906, 52.84000015258789, 70403, 0], ['NSE', 'TARMAT', datetime.date(2025, 11, 21), 52.84000015258789, 53.5, 51.099998474121094, 52.869998931884766, 25772, 0], ['NSE', 'TARMAT', datetime.date(2025, 11, 24), 53.70000076293945, 53.70000076293945, 51.29999923706055, 51.56999969482422, 50141, 0], ['NSE', 'TARMAT', datetime.date(2025, 11, 25), 51.56999969482422, 53.0, 51.56999969482422, 51.810001373291016, 12649, 0], ['NSE', 'TARMAT', datetime.date(2025, 11, 26), 52.900001525878906, 53.0, 51.150001525878906, 51.36000061035156, 16596, 0], ['NSE', 'TARMAT', datetime.date(2025, 11, 27), 51.5, 52.5, 51.29999923706055, 51.349998474121094, 3253, 0], ['NSE', 'TARMAT', datetime.date(2025, 11, 28), 51.5099983215332, 53.900001525878906, 51.33000183105469, 52.88999938964844, 24763, 0]]
Row  3589  :  TARMAT.NS  :  19  records inserted
[['BSE', '515093', datetime.date(2025, 11, 3), 50.0, 50.0, 40.5, 40.9900016784668, 33045, 0], ['BSE', '515093', datetime.date(2025, 11, 4), 47.0, 47.0, 40.70000076293945, 41.09000015258789, 1390, 0], ['BSE', '515093', datetime.date(2025, 11, 6), 41.22999954223633, 41.54999923706055, 40.5, 40.5099983215332, 412, 0], ['BSE', '515093', datetime.date(2025, 11, 7), 39.0, 41.5, 39.0, 40.349998474121094, 1799, 0], ['BSE', '515093', datetime.date(2025, 11, 10), 42.54999923706055, 42.54999923706055, 41.4900016784668, 41.5, 370, 0], ['BSE', '515093', datetime.date(2025, 11, 11), 42.20000076293945, 42.97999954223633, 41.0, 41.220001220703125, 1058, 0], ['BSE', '515093', datetime.date(2025, 11, 12), 48.0, 48.0, 41.0, 41.13999938964844, 2928, 0], ['BSE', '515093', datetime.date(2025, 11, 13), 41.13999938964844, 41.13999938964844, 41.13999938964844, 41.13999938964844, 0, 0], ['BSE', '515093', datetime.date(2025, 11, 14), 41.20000076293945, 41.20000076293945, 40.5, 40.849998474121094, 2, 0], ['BSE', '515093', datetime.date(2025, 11, 17), 40.849998474121094, 40.849998474121094, 40.849998474121094, 40.849998474121094, 0, 0], ['BSE', '515093', datetime.date(2025, 11, 18), 41.54999923706055, 41.54999923706055, 41.54999923706055, 41.54999923706055, 14, 0], ['BSE', '515093', datetime.date(2025, 11, 19), 49.0, 49.0, 41.54999923706055, 42.36000061035156, 1166, 0], ['BSE', '515093', datetime.date(2025, 11, 20), 42.11000061035156, 42.779998779296875, 41.06999969482422, 42.779998779296875, 1170, 0], ['BSE', '515093', datetime.date(2025, 11, 21), 40.0, 42.38999938964844, 40.0, 40.68000030517578, 163, 0], ['BSE', '515093', datetime.date(2025, 11, 24), 48.0, 48.79999923706055, 41.130001068115234, 41.40999984741211, 5225, 0], ['BSE', '515093', datetime.date(2025, 11, 25), 41.40999984741211, 42.81999969482422, 41.40999984741211, 42.81999969482422, 402, 0], ['BSE', '515093', datetime.date(2025, 11, 26), 42.81999969482422, 43.810001373291016, 42.650001525878906, 43.25, 910, 0], ['BSE', '515093', datetime.date(2025, 11, 28), 43.79999923706055, 43.79999923706055, 43.79999923706055, 43.79999923706055, 0, 0]]
Row  3590  :  515093.BO  :  18  records inserted
[['NSE', 'MADHAV', datetime.date(2025, 11, 3), 42.66999816894531, 43.97999954223633, 40.54999923706055, 40.81999969482422, 38757, 0], ['NSE', 'MADHAV', datetime.date(2025, 11, 4), 41.43000030517578, 41.900001525878906, 40.849998474121094, 41.0099983215332, 9839, 0], ['NSE', 'MADHAV', datetime.date(2025, 11, 6), 42.959999084472656, 42.959999084472656, 40.0099983215332, 40.720001220703125, 7665, 0], ['NSE', 'MADHAV', datetime.date(2025, 11, 7), 40.97999954223633, 41.869998931884766, 39.5, 40.2599983215332, 6680, 0], ['NSE', 'MADHAV', datetime.date(2025, 11, 10), 41.9900016784668, 42.0, 40.400001525878906, 41.20000076293945, 3588, 0], ['NSE', 'MADHAV', datetime.date(2025, 11, 11), 41.79999923706055, 42.25, 41.11000061035156, 41.79999923706055, 1745, 0], ['NSE', 'MADHAV', datetime.date(2025, 11, 12), 42.439998626708984, 42.45000076293945, 40.720001220703125, 41.0, 6128, 0], ['NSE', 'MADHAV', datetime.date(2025, 11, 13), 40.75, 41.599998474121094, 40.04999923706055, 40.15999984741211, 1241, 0], ['NSE', 'MADHAV', datetime.date(2025, 11, 14), 40.0, 41.459999084472656, 39.5, 40.13999938964844, 3347, 0], ['NSE', 'MADHAV', datetime.date(2025, 11, 17), 40.150001525878906, 41.650001525878906, 40.150001525878906, 41.369998931884766, 9288, 0], ['NSE', 'MADHAV', datetime.date(2025, 11, 18), 42.84000015258789, 42.900001525878906, 41.220001220703125, 42.31999969482422, 5792, 0], ['NSE', 'MADHAV', datetime.date(2025, 11, 19), 41.5, 42.529998779296875, 41.25, 42.5, 2498, 0], ['NSE', 'MADHAV', datetime.date(2025, 11, 20), 42.88999938964844, 42.88999938964844, 41.099998474121094, 41.209999084472656, 8921, 0], ['NSE', 'MADHAV', datetime.date(2025, 11, 21), 39.36000061035156, 42.0, 39.36000061035156, 40.7599983215332, 601, 0], ['NSE', 'MADHAV', datetime.date(2025, 11, 24), 39.7400016784668, 46.0, 38.75, 41.900001525878906, 10478, 0], ['NSE', 'MADHAV', datetime.date(2025, 11, 25), 43.88999938964844, 43.88999938964844, 41.560001373291016, 42.75, 5199, 0], ['NSE', 'MADHAV', datetime.date(2025, 11, 26), 42.0099983215332, 43.689998626708984, 41.15999984741211, 43.25, 10228, 0], ['NSE', 'MADHAV', datetime.date(2025, 11, 27), 41.54999923706055, 43.900001525878906, 41.54999923706055, 43.52000045776367, 1524, 0], ['NSE', 'MADHAV', datetime.date(2025, 11, 28), 43.52000045776367, 43.70000076293945, 43.0099983215332, 43.040000915527344, 3184, 0]]
Row  3591  :  MADHAV.NS  :  19  records inserted
[['NSE', 'CMSINFO', datetime.date(2025, 11, 3), 371.1000061035156, 375.1000061035156, 368.1499938964844, 373.29998779296875, 351795, 0], ['NSE', 'CMSINFO', datetime.date(2025, 11, 4), 373.95001220703125, 374.04998779296875, 357.3500061035156, 362.5, 595116, 0], ['NSE', 'CMSINFO', datetime.date(2025, 11, 5), 362.5, 362.5, 362.5, 362.5, 0, 0], ['NSE', 'CMSINFO', datetime.date(2025, 11, 6), 358.8500061035156, 359.29998779296875, 340.20001220703125, 355.1000061035156, 2111402, 0], ['NSE', 'CMSINFO', datetime.date(2025, 11, 7), 354.0, 354.79998779296875, 343.1000061035156, 350.95001220703125, 664166, 0], ['NSE', 'CMSINFO', datetime.date(2025, 11, 10), 350.95001220703125, 357.0, 348.70001220703125, 355.20001220703125, 470222, 0], ['NSE', 'CMSINFO', datetime.date(2025, 11, 11), 358.0, 358.0, 351.8500061035156, 355.54998779296875, 517581, 0], ['NSE', 'CMSINFO', datetime.date(2025, 11, 12), 355.54998779296875, 359.3999938964844, 354.04998779296875, 355.1499938964844, 323101, 0], ['NSE', 'CMSINFO', datetime.date(2025, 11, 13), 355.20001220703125, 361.29998779296875, 355.0, 359.75, 257246, 0], ['NSE', 'CMSINFO', datetime.date(2025, 11, 14), 358.70001220703125, 362.1499938964844, 354.54998779296875, 357.8500061035156, 371181, 0], ['NSE', 'CMSINFO', datetime.date(2025, 11, 17), 358.0, 360.1499938964844, 354.1499938964844, 358.95001220703125, 692450, 0], ['NSE', 'CMSINFO', datetime.date(2025, 11, 18), 358.95001220703125, 359.20001220703125, 349.3999938964844, 354.0, 471604, 0], ['NSE', 'CMSINFO', datetime.date(2025, 11, 19), 354.0, 358.54998779296875, 352.0, 357.1000061035156, 392892, 0], ['NSE', 'CMSINFO', datetime.date(2025, 11, 20), 359.6000061035156, 360.04998779296875, 354.79998779296875, 357.20001220703125, 298637, 0], ['NSE', 'CMSINFO', datetime.date(2025, 11, 21), 356.95001220703125, 356.95001220703125, 352.3500061035156, 354.54998779296875, 290849, 0], ['NSE', 'CMSINFO', datetime.date(2025, 11, 24), 357.25, 357.25, 345.5, 350.25, 372484, 0], ['NSE', 'CMSINFO', datetime.date(2025, 11, 25), 348.0, 351.20001220703125, 345.95001220703125, 348.75, 200540, 0], ['NSE', 'CMSINFO', datetime.date(2025, 11, 26), 350.45001220703125, 359.8999938964844, 347.70001220703125, 357.75, 388227, 0], ['NSE', 'CMSINFO', datetime.date(2025, 11, 27), 359.6000061035156, 359.6000061035156, 351.6000061035156, 353.0, 344108, 0], ['NSE', 'CMSINFO', datetime.date(2025, 11, 28), 354.8999938964844, 357.3999938964844, 351.29998779296875, 354.95001220703125, 161450, 0]]
Row  3592  :  CMSINFO.NS  :  20  records inserted
[['NSE', 'GODHA', datetime.date(2025, 11, 3), 0.5699999928474426, 0.5699999928474426, 0.5400000214576721, 0.550000011920929, 8039447, 0], ['NSE', 'GODHA', datetime.date(2025, 11, 4), 0.5600000023841858, 0.5600000023841858, 0.5299999713897705, 0.5299999713897705, 6593776, 0], ['NSE', 'GODHA', datetime.date(2025, 11, 5), 0.5299999713897705, 0.5299999713897705, 0.5299999713897705, 0.5299999713897705, 0, 0], ['NSE', 'GODHA', datetime.date(2025, 11, 6), 0.5299999713897705, 0.5400000214576721, 0.5299999713897705, 0.5299999713897705, 2475789, 0], ['NSE', 'GODHA', datetime.date(2025, 11, 7), 0.5400000214576721, 0.5400000214576721, 0.5, 0.5199999809265137, 10542827, 0], ['NSE', 'GODHA', datetime.date(2025, 11, 10), 0.5199999809265137, 0.5400000214576721, 0.5199999809265137, 0.5299999713897705, 5440964, 0], ['NSE', 'GODHA', datetime.date(2025, 11, 11), 0.5400000214576721, 0.550000011920929, 0.5299999713897705, 0.550000011920929, 4810231, 0], ['NSE', 'GODHA', datetime.date(2025, 11, 12), 0.5600000023841858, 0.5699999928474426, 0.550000011920929, 0.5699999928474426, 3386365, 0], ['NSE', 'GODHA', datetime.date(2025, 11, 13), 0.5799999833106995, 0.5799999833106995, 0.550000011920929, 0.550000011920929, 6083310, 0], ['NSE', 'GODHA', datetime.date(2025, 11, 14), 0.550000011920929, 0.5600000023841858, 0.5299999713897705, 0.5299999713897705, 5326085, 0], ['NSE', 'GODHA', datetime.date(2025, 11, 17), 0.5400000214576721, 0.5400000214576721, 0.5099999904632568, 0.5099999904632568, 9907124, 0], ['NSE', 'GODHA', datetime.date(2025, 11, 18), 0.5199999809265137, 0.5199999809265137, 0.5, 0.5099999904632568, 5334116, 0], ['NSE', 'GODHA', datetime.date(2025, 11, 19), 0.5199999809265137, 0.5299999713897705, 0.5, 0.5199999809265137, 6003469, 0], ['NSE', 'GODHA', datetime.date(2025, 11, 20), 0.5199999809265137, 0.5400000214576721, 0.5199999809265137, 0.5299999713897705, 3951461, 0], ['NSE', 'GODHA', datetime.date(2025, 11, 21), 0.5400000214576721, 0.5400000214576721, 0.5199999809265137, 0.5199999809265137, 2128024, 0], ['NSE', 'GODHA', datetime.date(2025, 11, 24), 0.5299999713897705, 0.5400000214576721, 0.5199999809265137, 0.5199999809265137, 3330045, 0], ['NSE', 'GODHA', datetime.date(2025, 11, 25), 0.5199999809265137, 0.5400000214576721, 0.5099999904632568, 0.5199999809265137, 2133883, 0], ['NSE', 'GODHA', datetime.date(2025, 11, 26), 0.5299999713897705, 0.5299999713897705, 0.5199999809265137, 0.5199999809265137, 1078146, 0], ['NSE', 'GODHA', datetime.date(2025, 11, 27), 0.5199999809265137, 0.5299999713897705, 0.5199999809265137, 0.5199999809265137, 1103867, 0], ['NSE', 'GODHA', datetime.date(2025, 11, 28), 0.5199999809265137, 0.5299999713897705, 0.5099999904632568, 0.5099999904632568, 2072718, 0]]
Row  3593  :  GODHA.NS  :  20  records inserted
[['BSE', '533227', datetime.date(2025, 11, 3), 145.3000030517578, 146.0, 144.64999389648438, 145.0, 826, 0], ['BSE', '533227', datetime.date(2025, 11, 4), 145.0, 145.0, 145.0, 145.0, 0, 0], ['BSE', '533227', datetime.date(2025, 11, 5), 145.0, 145.0, 145.0, 145.0, 0, 0], ['BSE', '533227', datetime.date(2025, 11, 6), 145.0, 145.0, 145.0, 145.0, 0, 0], ['BSE', '533227', datetime.date(2025, 11, 7), 145.0, 145.0, 145.0, 145.0, 0, 0], ['BSE', '533227', datetime.date(2025, 11, 10), 145.0, 145.0, 145.0, 145.0, 0, 0], ['BSE', '533227', datetime.date(2025, 11, 11), 145.0, 145.0, 145.0, 145.0, 0, 0], ['BSE', '533227', datetime.date(2025, 11, 12), 144.35000610351562, 144.35000610351562, 141.85000610351562, 141.85000610351562, 1133, 0], ['BSE', '533227', datetime.date(2025, 11, 13), 140.0, 142.25, 140.0, 141.60000610351562, 1229, 0], ['BSE', '533227', datetime.date(2025, 11, 14), 141.64999389648438, 141.8000030517578, 140.89999389648438, 140.89999389648438, 201, 0], ['BSE', '533227', datetime.date(2025, 11, 17), 148.75, 148.75, 140.75, 141.25, 265, 0], ['BSE', '533227', datetime.date(2025, 11, 18), 141.25, 141.25, 141.25, 141.25, 0, 0], ['BSE', '533227', datetime.date(2025, 11, 19), 137.89999389648438, 142.0, 137.8000030517578, 142.0, 117, 0], ['BSE', '533227', datetime.date(2025, 11, 20), 137.5500030517578, 137.5500030517578, 135.89999389648438, 135.89999389648438, 2, 0], ['BSE', '533227', datetime.date(2025, 11, 21), 144.0, 144.0, 138.75, 140.0, 35, 0], ['BSE', '533227', datetime.date(2025, 11, 24), 134.35000610351562, 138.25, 134.3000030517578, 136.9499969482422, 408, 0], ['BSE', '533227', datetime.date(2025, 11, 25), 135.3000030517578, 137.4499969482422, 130.0, 137.4499969482422, 211, 0], ['BSE', '533227', datetime.date(2025, 11, 26), 140.0, 141.85000610351562, 138.89999389648438, 141.75, 1326, 0], ['BSE', '533227', datetime.date(2025, 11, 28), 139.0, 139.0, 139.0, 139.0, 0, 0]]
Row  3594  :  533227.BO  :  19  records inserted

$541019.BO: possibly delisted; no timezone found

[['NSE', 'HGINFRA', datetime.date(2025, 11, 3), 922.25, 929.0, 903.6500244140625, 909.6500244140625, 74781, 0], ['NSE', 'HGINFRA', datetime.date(2025, 11, 4), 915.0, 925.0, 899.0, 906.0999755859375, 98226, 0], ['NSE', 'HGINFRA', datetime.date(2025, 11, 5), 906.0999755859375, 906.0999755859375, 906.0999755859375, 906.0999755859375, 0, 0], ['NSE', 'HGINFRA', datetime.date(2025, 11, 6), 906.0999755859375, 913.9500122070312, 893.0, 898.4000244140625, 65824, 0], ['NSE', 'HGINFRA', datetime.date(2025, 11, 7), 890.0, 913.3499755859375, 888.0, 904.4000244140625, 40523, 0], ['NSE', 'HGINFRA', datetime.date(2025, 11, 10), 902.7000122070312, 914.0, 895.0, 898.2999877929688, 63751, 0], ['NSE', 'HGINFRA', datetime.date(2025, 11, 11), 897.9000244140625, 902.9500122070312, 885.5499877929688, 892.0999755859375, 40132, 0], ['NSE', 'HGINFRA', datetime.date(2025, 11, 12), 893.9500122070312, 914.9500122070312, 893.0, 907.3499755859375, 54002, 0], ['NSE', 'HGINFRA', datetime.date(2025, 11, 13), 880.0, 896.5999755859375, 875.0499877929688, 883.1500244140625, 146879, 0], ['NSE', 'HGINFRA', datetime.date(2025, 11, 14), 884.0499877929688, 904.2000122070312, 880.25, 896.6500244140625, 144510, 0], ['NSE', 'HGINFRA', datetime.date(2025, 11, 17), 896.6500244140625, 897.0, 884.0, 886.5999755859375, 55608, 0], ['NSE', 'HGINFRA', datetime.date(2025, 11, 18), 886.5499877929688, 886.5499877929688, 860.0, 868.75, 72272, 0], ['NSE', 'HGINFRA', datetime.date(2025, 11, 19), 865.0, 875.0, 854.2000122070312, 868.9500122070312, 168361, 0], ['NSE', 'HGINFRA', datetime.date(2025, 11, 20), 870.5, 881.6500244140625, 850.0, 860.2000122070312, 92628, 0], ['NSE', 'HGINFRA', datetime.date(2025, 11, 21), 861.0, 867.0, 856.4500122070312, 863.5999755859375, 41736, 0], ['NSE', 'HGINFRA', datetime.date(2025, 11, 24), 890.0, 916.2999877929688, 864.5499877929688, 878.1500244140625, 1213025, 0], ['NSE', 'HGINFRA', datetime.date(2025, 11, 25), 878.0, 880.0, 862.0, 873.0999755859375, 77202, 0], ['NSE', 'HGINFRA', datetime.date(2025, 11, 26), 874.5, 898.0, 871.0, 888.0499877929688, 142141, 0], ['NSE', 'HGINFRA', datetime.date(2025, 11, 27), 890.0, 894.5499877929688, 875.0499877929688, 880.2000122070312, 52483, 0], ['NSE', 'HGINFRA', datetime.date(2025, 11, 28), 880.2000122070312, 880.2000122070312, 860.0, 865.25, 46205, 0]]
Row  3597  :  HGINFRA.NS  :  20  records inserted

$502448.BO: possibly delisted; no timezone found

[['NSE', 'ROLLT', datetime.date(2025, 11, 3), 1.2100000381469727, 1.3200000524520874, 1.190000057220459, 1.2000000476837158, 172320, 0], ['NSE', 'ROLLT', datetime.date(2025, 11, 4), 1.2000000476837158, 1.2400000095367432, 1.2000000476837158, 1.2000000476837158, 44892, 0], ['NSE', 'ROLLT', datetime.date(2025, 11, 5), 1.2000000476837158, 1.2000000476837158, 1.2000000476837158, 1.2000000476837158, 0, 0], ['NSE', 'ROLLT', datetime.date(2025, 11, 6), 1.2300000190734863, 1.2300000190734863, 1.159999966621399, 1.2100000381469727, 98688, 0], ['NSE', 'ROLLT', datetime.date(2025, 11, 7), 1.2100000381469727, 1.2200000286102295, 1.1699999570846558, 1.190000057220459, 40422, 0], ['NSE', 'ROLLT', datetime.date(2025, 11, 10), 1.1799999475479126, 1.2200000286102295, 1.1399999856948853, 1.159999966621399, 111216, 0], ['NSE', 'ROLLT', datetime.date(2025, 11, 11), 1.149999976158142, 1.2000000476837158, 1.149999976158142, 1.1699999570846558, 80539, 0], ['NSE', 'ROLLT', datetime.date(2025, 11, 12), 1.1799999475479126, 1.2200000286102295, 1.1699999570846558, 1.2000000476837158, 48958, 0], ['NSE', 'ROLLT', datetime.date(2025, 11, 13), 1.2200000286102295, 1.2999999523162842, 1.1699999570846558, 1.2200000286102295, 310484, 0], ['NSE', 'ROLLT', datetime.date(2025, 11, 14), 1.2100000381469727, 1.2599999904632568, 1.2100000381469727, 1.2300000190734863, 203282, 0], ['NSE', 'ROLLT', datetime.date(2025, 11, 17), 1.2400000095367432, 1.25, 1.2200000286102295, 1.2300000190734863, 22199, 0], ['NSE', 'ROLLT', datetime.date(2025, 11, 18), 1.2300000190734863, 1.2300000190734863, 1.190000057220459, 1.2000000476837158, 131036, 0], ['NSE', 'ROLLT', datetime.date(2025, 11, 19), 1.2200000286102295, 1.2200000286102295, 1.159999966621399, 1.1699999570846558, 120585, 0], ['NSE', 'ROLLT', datetime.date(2025, 11, 20), 1.190000057220459, 1.2100000381469727, 1.1399999856948853, 1.149999976158142, 220192, 0], ['NSE', 'ROLLT', datetime.date(2025, 11, 21), 1.2000000476837158, 1.2000000476837158, 1.1399999856948853, 1.1699999570846558, 102711, 0], ['NSE', 'ROLLT', datetime.date(2025, 11, 24), 1.1699999570846558, 1.190000057220459, 1.149999976158142, 1.159999966621399, 55278, 0], ['NSE', 'ROLLT', datetime.date(2025, 11, 25), 1.1799999475479126, 1.2699999809265137, 1.149999976158142, 1.1699999570846558, 181697, 0], ['NSE', 'ROLLT', datetime.date(2025, 11, 26), 1.1799999475479126, 1.2100000381469727, 1.159999966621399, 1.190000057220459, 79645, 0], ['NSE', 'ROLLT', datetime.date(2025, 11, 27), 1.1799999475479126, 1.2100000381469727, 1.1799999475479126, 1.190000057220459, 64241, 0], ['NSE', 'ROLLT', datetime.date(2025, 11, 28), 1.2100000381469727, 1.2100000381469727, 1.0700000524520874, 1.1699999570846558, 268069, 0]]
Row  3599  :  ROLLT.NS  :  20  records inserted

$517214.BO: possibly delisted; no timezone found

[['NSE', 'DIGISPICE', datetime.date(2025, 11, 3), 25.889999389648438, 26.149999618530273, 25.399999618530273, 26.010000228881836, 161054, 0], ['NSE', 'DIGISPICE', datetime.date(2025, 11, 4), 25.59000015258789, 26.139999389648438, 25.59000015258789, 26.09000015258789, 32157, 0], ['NSE', 'DIGISPICE', datetime.date(2025, 11, 6), 26.040000915527344, 26.139999389648438, 25.010000228881836, 25.110000610351562, 33460, 0], ['NSE', 'DIGISPICE', datetime.date(2025, 11, 7), 25.0, 25.690000534057617, 24.530000686645508, 25.209999084472656, 29659, 0], ['NSE', 'DIGISPICE', datetime.date(2025, 11, 10), 25.700000762939453, 25.989999771118164, 24.549999237060547, 25.760000228881836, 57771, 0], ['NSE', 'DIGISPICE', datetime.date(2025, 11, 11), 25.770000457763672, 25.770000457763672, 24.799999237060547, 25.09000015258789, 21587, 0], ['NSE', 'DIGISPICE', datetime.date(2025, 11, 12), 25.489999771118164, 26.34000015258789, 25.049999237060547, 25.1200008392334, 67615, 0], ['NSE', 'DIGISPICE', datetime.date(2025, 11, 13), 25.0, 25.899999618530273, 23.889999389648438, 24.059999465942383, 127340, 0], ['NSE', 'DIGISPICE', datetime.date(2025, 11, 14), 24.059999465942383, 24.190000534057617, 23.6299991607666, 23.850000381469727, 32550, 0], ['NSE', 'DIGISPICE', datetime.date(2025, 11, 17), 23.209999084472656, 24.190000534057617, 23.209999084472656, 23.979999542236328, 52222, 0], ['NSE', 'DIGISPICE', datetime.date(2025, 11, 18), 23.700000762939453, 23.84000015258789, 23.25, 23.559999465942383, 27907, 0], ['NSE', 'DIGISPICE', datetime.date(2025, 11, 19), 23.3799991607666, 23.3799991607666, 22.899999618530273, 23.170000076293945, 88963, 0], ['NSE', 'DIGISPICE', datetime.date(2025, 11, 20), 22.989999771118164, 23.950000762939453, 22.610000610351562, 23.489999771118164, 33578, 0], ['NSE', 'DIGISPICE', datetime.date(2025, 11, 21), 24.270000457763672, 24.270000457763672, 23.0, 23.059999465942383, 37414, 0], ['NSE', 'DIGISPICE', datetime.date(2025, 11, 24), 23.790000915527344, 23.790000915527344, 22.549999237060547, 22.989999771118164, 40226, 0], ['NSE', 'DIGISPICE', datetime.date(2025, 11, 25), 22.989999771118164, 23.979999542236328, 22.420000076293945, 22.940000534057617, 33261, 0], ['NSE', 'DIGISPICE', datetime.date(2025, 11, 26), 22.989999771118164, 23.479999542236328, 22.700000762939453, 23.0, 19990, 0], ['NSE', 'DIGISPICE', datetime.date(2025, 11, 27), 22.6200008392334, 24.149999618530273, 22.6200008392334, 23.90999984741211, 53472, 0], ['NSE', 'DIGISPICE', datetime.date(2025, 11, 28), 23.90999984741211, 25.100000381469727, 23.799999237060547, 25.100000381469727, 92076, 0]]
Row  3601  :  DIGISPICE.NS  :  19  records inserted

$532605.BO: possibly delisted; no timezone found

[['NSE', 'JBMA', datetime.date(2025, 11, 3), 669.0, 672.9500122070312, 655.8499755859375, 658.9500122070312, 299205, 0], ['NSE', 'JBMA', datetime.date(2025, 11, 4), 659.7000122070312, 663.1500244140625, 648.0, 649.1500244140625, 168804, 0], ['NSE', 'JBMA', datetime.date(2025, 11, 5), 649.1500244140625, 649.1500244140625, 649.1500244140625, 649.1500244140625, 0, 0], ['NSE', 'JBMA', datetime.date(2025, 11, 6), 650.0, 652.8499755859375, 632.0, 639.75, 250913, 0], ['NSE', 'JBMA', datetime.date(2025, 11, 7), 640.0, 640.0499877929688, 628.3499755859375, 634.0999755859375, 227031, 0], ['NSE', 'JBMA', datetime.date(2025, 11, 10), 630.6500244140625, 639.0, 625.0, 627.2000122070312, 141361, 0], ['NSE', 'JBMA', datetime.date(2025, 11, 11), 626.0, 635.0, 621.0499877929688, 632.4500122070312, 195917, 0], ['NSE', 'JBMA', datetime.date(2025, 11, 12), 632.4500122070312, 643.4500122070312, 632.4500122070312, 635.5499877929688, 221931, 0], ['NSE', 'JBMA', datetime.date(2025, 11, 13), 633.5499877929688, 645.0, 629.3499755859375, 631.5499877929688, 234305, 0], ['NSE', 'JBMA', datetime.date(2025, 11, 14), 632.0, 635.25, 628.0, 633.4000244140625, 119353, 0], ['NSE', 'JBMA', datetime.date(2025, 11, 17), 639.4000244140625, 645.0, 634.1500244140625, 642.3499755859375, 207497, 0], ['NSE', 'JBMA', datetime.date(2025, 11, 18), 641.0, 641.0, 629.1500244140625, 630.7999877929688, 157382, 0], ['NSE', 'JBMA', datetime.date(2025, 11, 19), 629.0, 632.7000122070312, 623.7000122070312, 624.9500122070312, 137047, 0], ['NSE', 'JBMA', datetime.date(2025, 11, 20), 631.0, 634.25, 623.25, 624.5499877929688, 102670, 0], ['NSE', 'JBMA', datetime.date(2025, 11, 21), 626.5, 627.6500244140625, 610.0999755859375, 614.5999755859375, 152343, 0], ['NSE', 'JBMA', datetime.date(2025, 11, 24), 614.5, 614.5999755859375, 603.0, 606.25, 177263, 0], ['NSE', 'JBMA', datetime.date(2025, 11, 25), 606.25, 612.4000244140625, 603.2999877929688, 606.5, 126654, 0], ['NSE', 'JBMA', datetime.date(2025, 11, 26), 606.4000244140625, 618.9000244140625, 604.0499877929688, 617.25, 139417, 0], ['NSE', 'JBMA', datetime.date(2025, 11, 27), 620.5999755859375, 624.4500122070312, 615.0, 618.1500244140625, 87641, 0], ['NSE', 'JBMA', datetime.date(2025, 11, 28), 619.9500122070312, 621.4500122070312, 612.1500244140625, 614.0, 101169, 0]]
Row  3603  :  JBMA.NS  :  20  records inserted
[['NSE', 'KPRMILL', datetime.date(2025, 11, 3), 1072.9000244140625, 1089.0, 1067.0, 1076.699951171875, 171532, 0], ['NSE', 'KPRMILL', datetime.date(2025, 11, 4), 1069.9000244140625, 1081.199951171875, 1048.800048828125, 1056.199951171875, 158820, 0], ['NSE', 'KPRMILL', datetime.date(2025, 11, 5), 1056.199951171875, 1056.199951171875, 1056.199951171875, 1056.199951171875, 0, 0], ['NSE', 'KPRMILL', datetime.date(2025, 11, 6), 1062.0, 1085.0, 1040.199951171875, 1080.5999755859375, 133278, 0], ['NSE', 'KPRMILL', datetime.date(2025, 11, 7), 1083.0, 1083.0, 1051.5, 1070.9000244140625, 117001, 0], ['NSE', 'KPRMILL', datetime.date(2025, 11, 10), 1071.9000244140625, 1078.0, 1040.4000244140625, 1043.5999755859375, 166594, 0], ['NSE', 'KPRMILL', datetime.date(2025, 11, 11), 1053.0999755859375, 1124.0, 1017.7999877929688, 1094.199951171875, 662269, 0], ['NSE', 'KPRMILL', datetime.date(2025, 11, 12), 1103.5999755859375, 1109.0, 1059.0999755859375, 1089.300048828125, 1497039, 0], ['NSE', 'KPRMILL', datetime.date(2025, 11, 13), 1100.0, 1108.199951171875, 1080.300048828125, 1089.699951171875, 570830, 0], ['NSE', 'KPRMILL', datetime.date(2025, 11, 14), 1089.9000244140625, 1091.699951171875, 1071.4000244140625, 1078.4000244140625, 320212, 0], ['NSE', 'KPRMILL', datetime.date(2025, 11, 17), 1075.0, 1098.800048828125, 1066.0, 1086.300048828125, 291793, 0], ['NSE', 'KPRMILL', datetime.date(2025, 11, 18), 1090.0, 1129.5999755859375, 1072.699951171875, 1121.5999755859375, 826654, 0], ['NSE', 'KPRMILL', datetime.date(2025, 11, 19), 1126.9000244140625, 1138.0, 1099.0999755859375, 1109.699951171875, 382035, 0], ['NSE', 'KPRMILL', datetime.date(2025, 11, 20), 1105.699951171875, 1118.199951171875, 1090.0999755859375, 1094.699951171875, 208975, 0], ['NSE', 'KPRMILL', datetime.date(2025, 11, 21), 1089.0, 1104.5, 1080.0, 1087.9000244140625, 236363, 0], ['NSE', 'KPRMILL', datetime.date(2025, 11, 24), 1086.4000244140625, 1114.0, 1082.9000244140625, 1107.9000244140625, 395817, 0], ['NSE', 'KPRMILL', datetime.date(2025, 11, 25), 1107.9000244140625, 1107.9000244140625, 1075.0, 1079.0, 190951, 0], ['NSE', 'KPRMILL', datetime.date(2025, 11, 26), 1078.9000244140625, 1099.9000244140625, 1053.0999755859375, 1095.699951171875, 258875, 0], ['NSE', 'KPRMILL', datetime.date(2025, 11, 27), 1097.0, 1101.5, 1076.199951171875, 1081.4000244140625, 150234, 0], ['NSE', 'KPRMILL', datetime.date(2025, 11, 28), 1080.0, 1086.0, 1072.0, 1079.5, 84243, 0]]
Row  3604  :  KPRMILL.NS  :  20  records inserted

$543275.BO: possibly delisted; no timezone found

[['NSE', 'ANURAS', datetime.date(2025, 11, 3), 1069.9000244140625, 1086.0999755859375, 1062.5999755859375, 1081.9000244140625, 101441, 0], ['NSE', 'ANURAS', datetime.date(2025, 11, 4), 1087.0, 1087.0, 1063.199951171875, 1075.0, 69235, 0], ['NSE', 'ANURAS', datetime.date(2025, 11, 5), 1075.0, 1075.0, 1075.0, 1075.0, 0, 0], ['NSE', 'ANURAS', datetime.date(2025, 11, 6), 1072.800048828125, 1078.300048828125, 1060.0, 1068.5, 110564, 0], ['NSE', 'ANURAS', datetime.date(2025, 11, 7), 1068.5, 1094.4000244140625, 1053.5999755859375, 1082.9000244140625, 65836, 0], ['NSE', 'ANURAS', datetime.date(2025, 11, 10), 1084.800048828125, 1095.0, 1070.0, 1081.199951171875, 90188, 0], ['NSE', 'ANURAS', datetime.date(2025, 11, 11), 1092.9000244140625, 1092.9000244140625, 1065.0, 1075.5, 87704, 0], ['NSE', 'ANURAS', datetime.date(2025, 11, 12), 1070.0999755859375, 1075.0, 1061.199951171875, 1071.800048828125, 127614, 0], ['NSE', 'ANURAS', datetime.date(2025, 11, 13), 1067.0999755859375, 1077.199951171875, 1064.0, 1074.0999755859375, 187120, 0], ['NSE', 'ANURAS', datetime.date(2025, 11, 14), 1075.9000244140625, 1079.800048828125, 1059.0999755859375, 1073.199951171875, 161396, 0], ['NSE', 'ANURAS', datetime.date(2025, 11, 17), 1073.199951171875, 1102.5, 1070.0999755859375, 1085.9000244140625, 192816, 0], ['NSE', 'ANURAS', datetime.date(2025, 11, 18), 1075.0, 1112.0, 1075.0, 1106.800048828125, 226697, 0], ['NSE', 'ANURAS', datetime.date(2025, 11, 19), 1108.0, 1125.199951171875, 1097.5, 1117.9000244140625, 676524, 0], ['NSE', 'ANURAS', datetime.date(2025, 11, 20), 1113.9000244140625, 1196.0, 1110.0, 1179.199951171875, 538429, 0], ['NSE', 'ANURAS', datetime.date(2025, 11, 21), 1187.9000244140625, 1255.0, 1181.0999755859375, 1246.800048828125, 1760009, 0], ['NSE', 'ANURAS', datetime.date(2025, 11, 24), 1253.0, 1263.0, 1172.0999755859375, 1190.699951171875, 1015986, 0], ['NSE', 'ANURAS', datetime.date(2025, 11, 25), 1200.0, 1255.0, 1200.0, 1225.0, 720058, 0], ['NSE', 'ANURAS', datetime.date(2025, 11, 26), 1238.5999755859375, 1242.800048828125, 1214.0, 1231.800048828125, 293470, 0], ['NSE', 'ANURAS', datetime.date(2025, 11, 27), 1244.0, 1244.0, 1208.0, 1215.800048828125, 134499, 0], ['NSE', 'ANURAS', datetime.date(2025, 11, 28), 1215.0, 1230.9000244140625, 1195.0, 1221.699951171875, 231367, 0]]
Row  3606  :  ANURAS.NS  :  20  records inserted
[['BSE', '539254', datetime.date(2025, 11, 3), 989.9500122070312, 1006.1500244140625, 976.1500244140625, 994.5999755859375, 73484, 0], ['BSE', '539254', datetime.date(2025, 11, 4), 996.5, 1010.4500122070312, 977.25, 985.3499755859375, 151563, 0], ['BSE', '539254', datetime.date(2025, 11, 6), 986.7999877929688, 994.7000122070312, 962.6500244140625, 968.25, 49135, 0], ['BSE', '539254', datetime.date(2025, 11, 7), 960.0999755859375, 973.4000244140625, 945.0999755859375, 959.7999877929688, 69859, 0], ['BSE', '539254', datetime.date(2025, 11, 10), 963.7999877929688, 971.75, 956.0, 959.2000122070312, 32608, 0], ['BSE', '539254', datetime.date(2025, 11, 11), 958.1500244140625, 993.4000244140625, 947.2000122070312, 989.1500244140625, 129629, 0], ['BSE', '539254', datetime.date(2025, 11, 12), 994.0999755859375, 1022.0499877929688, 985.5499877929688, 1001.7999877929688, 90233, 0], ['BSE', '539254', datetime.date(2025, 11, 13), 1002.9000244140625, 1035.8499755859375, 997.7999877929688, 1020.9500122070312, 84596, 0], ['BSE', '539254', datetime.date(2025, 11, 14), 1023.75, 1050.0, 1017.25, 1024.199951171875, 95518, 0], ['BSE', '539254', datetime.date(2025, 11, 17), 1024.449951171875, 1030.050048828125, 1011.8499755859375, 1021.7000122070312, 75047, 0], ['BSE', '539254', datetime.date(2025, 11, 18), 1012.9500122070312, 1036.5, 1012.9500122070312, 1027.050048828125, 104372, 0], ['BSE', '539254', datetime.date(2025, 11, 19), 1028.0999755859375, 1044.1500244140625, 1002.0499877929688, 1005.4000244140625, 102058, 0], ['BSE', '539254', datetime.date(2025, 11, 20), 1010.9000244140625, 1014.5499877929688, 989.5999755859375, 993.4500122070312, 31247, 0], ['BSE', '539254', datetime.date(2025, 11, 21), 993.4500122070312, 996.75, 973.0499877929688, 974.7000122070312, 20990, 0], ['BSE', '539254', datetime.date(2025, 11, 24), 979.0, 984.5, 966.75, 970.4000244140625, 16515, 0], ['BSE', '539254', datetime.date(2025, 11, 25), 970.4000244140625, 976.4000244140625, 965.7000122070312, 972.0499877929688, 39218, 0], ['BSE', '539254', datetime.date(2025, 11, 26), 979.5999755859375, 998.4000244140625, 974.2000122070312, 990.75, 64109, 0], ['BSE', '539254', datetime.date(2025, 11, 28), 985.3499755859375, 1000.3499755859375, 979.0, 994.5499877929688, 26853, 0]]
Row  3607  :  539254.BO  :  18  records inserted
[['NSE', 'ADANIENSOL', datetime.date(2025, 11, 3), 987.0, 1005.9000244140625, 975.5, 994.5499877929688, 1679026, 0], ['NSE', 'ADANIENSOL', datetime.date(2025, 11, 4), 999.0499877929688, 1011.0, 976.6500244140625, 985.9000244140625, 1710963, 0], ['NSE', 'ADANIENSOL', datetime.date(2025, 11, 6), 985.9000244140625, 994.5999755859375, 962.7999877929688, 968.1500244140625, 1064046, 0], ['NSE', 'ADANIENSOL', datetime.date(2025, 11, 7), 966.8499755859375, 973.7000122070312, 945.2000122070312, 960.5999755859375, 1384632, 0], ['NSE', 'ADANIENSOL', datetime.date(2025, 11, 10), 965.5499877929688, 972.5, 955.0999755859375, 959.1500244140625, 674839, 0], ['NSE', 'ADANIENSOL', datetime.date(2025, 11, 11), 960.1500244140625, 994.4500122070312, 947.2999877929688, 989.2999877929688, 1703879, 0], ['NSE', 'ADANIENSOL', datetime.date(2025, 11, 12), 989.3499755859375, 1021.5999755859375, 986.0, 1001.9000244140625, 1704880, 0], ['NSE', 'ADANIENSOL', datetime.date(2025, 11, 13), 1003.2000122070312, 1035.75, 998.3499755859375, 1021.4000244140625, 2163072, 0], ['NSE', 'ADANIENSOL', datetime.date(2025, 11, 14), 1027.0, 1050.0, 1017.0, 1023.8499755859375, 2190871, 0], ['NSE', 'ADANIENSOL', datetime.date(2025, 11, 17), 1025.5, 1029.0, 1011.8499755859375, 1021.5499877929688, 837345, 0], ['NSE', 'ADANIENSOL', datetime.date(2025, 11, 18), 1023.7999877929688, 1036.0, 1017.75, 1026.6500244140625, 1175321, 0], ['NSE', 'ADANIENSOL', datetime.date(2025, 11, 19), 1032.0, 1044.0, 1002.2000122070312, 1006.25, 1574241, 0], ['NSE', 'ADANIENSOL', datetime.date(2025, 11, 20), 1014.0, 1014.0, 989.0, 993.5999755859375, 852319, 0], ['NSE', 'ADANIENSOL', datetime.date(2025, 11, 21), 993.3499755859375, 996.8499755859375, 972.75, 974.7999877929688, 815816, 0], ['NSE', 'ADANIENSOL', datetime.date(2025, 11, 24), 979.0, 983.9000244140625, 967.5999755859375, 970.1500244140625, 774740, 0], ['NSE', 'ADANIENSOL', datetime.date(2025, 11, 25), 970.0, 977.5, 965.75, 971.5, 504028, 0], ['NSE', 'ADANIENSOL', datetime.date(2025, 11, 26), 975.9500122070312, 998.0, 974.7000122070312, 991.2000122070312, 646270, 0], ['NSE', 'ADANIENSOL', datetime.date(2025, 11, 27), 992.5999755859375, 994.1500244140625, 974.0, 984.3499755859375, 868201, 0], ['NSE', 'ADANIENSOL', datetime.date(2025, 11, 28), 988.7000122070312, 1001.0, 977.9000244140625, 994.5499877929688, 827939, 0]]
Row  3608  :  ADANIENSOL.NS  :  19  records inserted
[['BSE', '513228', datetime.date(2025, 11, 3), 260.95001220703125, 272.6499938964844, 260.95001220703125, 270.79998779296875, 41963, 0], ['BSE', '513228', datetime.date(2025, 11, 4), 268.0, 275.1000061035156, 265.0, 274.6000061035156, 30951, 0], ['BSE', '513228', datetime.date(2025, 11, 6), 274.5, 274.5, 255.1999969482422, 258.0, 54413, 0], ['BSE', '513228', datetime.date(2025, 11, 7), 258.3500061035156, 279.79998779296875, 258.3500061035156, 276.25, 133625, 0], ['BSE', '513228', datetime.date(2025, 11, 10), 254.9499969482422, 255.0, 224.5, 231.9499969482422, 541409, 0], ['BSE', '513228', datetime.date(2025, 11, 11), 237.64999389648438, 237.64999389648438, 229.10000610351562, 230.75, 101297, 0], ['BSE', '513228', datetime.date(2025, 11, 12), 231.0500030517578, 232.8000030517578, 224.5, 227.14999389648438, 59174, 0], ['BSE', '513228', datetime.date(2025, 11, 13), 228.60000610351562, 235.64999389648438, 227.0500030517578, 228.4499969482422, 70268, 0], ['BSE', '513228', datetime.date(2025, 11, 14), 227.0, 230.0, 224.0, 225.0, 34691, 0], ['BSE', '513228', datetime.date(2025, 11, 17), 225.64999389648438, 231.0500030517578, 221.5, 226.4499969482422, 54157, 0], ['BSE', '513228', datetime.date(2025, 11, 18), 226.14999389648438, 227.64999389648438, 223.0, 223.85000610351562, 47486, 0], ['BSE', '513228', datetime.date(2025, 11, 19), 222.39999389648438, 226.5, 220.1999969482422, 223.10000610351562, 27476, 0], ['BSE', '513228', datetime.date(2025, 11, 20), 225.9499969482422, 225.9499969482422, 217.10000610351562, 217.9499969482422, 43602, 0], ['BSE', '513228', datetime.date(2025, 11, 21), 218.0, 224.35000610351562, 215.85000610351562, 222.14999389648438, 77268, 0], ['BSE', '513228', datetime.date(2025, 11, 24), 222.0, 224.35000610351562, 210.64999389648438, 217.0500030517578, 49107, 0], ['BSE', '513228', datetime.date(2025, 11, 25), 216.5, 224.25, 215.0, 223.10000610351562, 35715, 0], ['BSE', '513228', datetime.date(2025, 11, 26), 223.5, 233.4499969482422, 221.25, 229.64999389648438, 40756, 0], ['BSE', '513228', datetime.date(2025, 11, 28), 227.89999389648438, 230.60000610351562, 226.6999969482422, 229.8000030517578, 13662, 0]]
Row  3609  :  513228.BO  :  18  records inserted
[['NSE', 'PENIND', datetime.date(2025, 11, 3), 260.0, 272.8999938964844, 260.0, 270.8999938964844, 1375812, 0], ['NSE', 'PENIND', datetime.date(2025, 11, 4), 271.0, 275.25, 265.0, 274.54998779296875, 968695, 0], ['NSE', 'PENIND', datetime.date(2025, 11, 5), 274.54998779296875, 274.54998779296875, 274.54998779296875, 274.54998779296875, 0, 0], ['NSE', 'PENIND', datetime.date(2025, 11, 6), 274.0, 274.25, 256.29998779296875, 258.20001220703125, 1417728, 0], ['NSE', 'PENIND', datetime.date(2025, 11, 7), 259.95001220703125, 279.8999938964844, 259.0, 275.95001220703125, 3132030, 0], ['NSE', 'PENIND', datetime.date(2025, 11, 10), 249.3000030517578, 254.0, 223.6999969482422, 231.85000610351562, 9978610, 0], ['NSE', 'PENIND', datetime.date(2025, 11, 11), 235.0, 237.85000610351562, 228.6999969482422, 230.8000030517578, 1765075, 0], ['NSE', 'PENIND', datetime.date(2025, 11, 12), 232.60000610351562, 232.89999389648438, 224.89999389648438, 227.1999969482422, 1698703, 0], ['NSE', 'PENIND', datetime.date(2025, 11, 13), 228.3000030517578, 235.8000030517578, 227.14999389648438, 228.6999969482422, 2027215, 0], ['NSE', 'PENIND', datetime.date(2025, 11, 14), 229.85000610351562, 230.0500030517578, 223.5, 224.6999969482422, 780342, 0], ['NSE', 'PENIND', datetime.date(2025, 11, 17), 225.1999969482422, 231.4499969482422, 221.8000030517578, 226.25, 1186125, 0], ['NSE', 'PENIND', datetime.date(2025, 11, 18), 227.89999389648438, 228.14999389648438, 223.0, 223.6999969482422, 993042, 0], ['NSE', 'PENIND', datetime.date(2025, 11, 19), 224.1999969482422, 226.5, 220.0500030517578, 222.5, 659497, 0], ['NSE', 'PENIND', datetime.date(2025, 11, 20), 223.6999969482422, 224.0, 216.89999389648438, 218.0, 1240387, 0], ['NSE', 'PENIND', datetime.date(2025, 11, 21), 215.85000610351562, 223.9499969482422, 215.85000610351562, 221.89999389648438, 863670, 0], ['NSE', 'PENIND', datetime.date(2025, 11, 24), 222.0, 223.10000610351562, 210.25, 216.8000030517578, 1201223, 0], ['NSE', 'PENIND', datetime.date(2025, 11, 25), 216.89999389648438, 224.4499969482422, 214.8000030517578, 223.25, 761622, 0], ['NSE', 'PENIND', datetime.date(2025, 11, 26), 223.9499969482422, 233.5, 221.9499969482422, 229.39999389648438, 1277111, 0], ['NSE', 'PENIND', datetime.date(2025, 11, 27), 231.25, 233.64999389648438, 228.1999969482422, 229.4499969482422, 380179, 0], ['NSE', 'PENIND', datetime.date(2025, 11, 28), 229.25, 230.6999969482422, 226.0, 230.10000610351562, 266681, 0]]
Row  3610  :  PENIND.NS  :  20  records inserted
[['BSE', '500418', datetime.date(2025, 11, 3), 124.0, 125.3499984741211, 124.0, 125.3499984741211, 346, 0], ['BSE', '500418', datetime.date(2025, 11, 4), 125.3499984741211, 125.3499984741211, 125.3499984741211, 125.3499984741211, 0, 0], ['BSE', '500418', datetime.date(2025, 11, 5), 125.3499984741211, 125.3499984741211, 125.3499984741211, 125.3499984741211, 0, 0], ['BSE', '500418', datetime.date(2025, 11, 6), 124.05000305175781, 124.05000305175781, 124.0, 124.0, 10, 0], ['BSE', '500418', datetime.date(2025, 11, 7), 124.0, 124.0, 124.0, 124.0, 212, 0], ['BSE', '500418', datetime.date(2025, 11, 10), 120.1500015258789, 122.1500015258789, 118.1500015258789, 120.0, 848, 0], ['BSE', '500418', datetime.date(2025, 11, 11), 120.1500015258789, 122.9000015258789, 120.0, 122.19999694824219, 1582, 0], ['BSE', '500418', datetime.date(2025, 11, 12), 124.0, 124.0, 112.5999984741211, 122.1500015258789, 163, 0], ['BSE', '500418', datetime.date(2025, 11, 13), 122.1500015258789, 122.1500015258789, 122.1500015258789, 122.1500015258789, 0, 0], ['BSE', '500418', datetime.date(2025, 11, 14), 122.1500015258789, 122.1500015258789, 122.1500015258789, 122.1500015258789, 0, 0], ['BSE', '500418', datetime.date(2025, 11, 17), 127.0, 127.0, 120.0, 121.55000305175781, 412, 0], ['BSE', '500418', datetime.date(2025, 11, 18), 121.55000305175781, 121.55000305175781, 121.55000305175781, 121.55000305175781, 0, 0], ['BSE', '500418', datetime.date(2025, 11, 19), 121.55000305175781, 121.55000305175781, 121.55000305175781, 121.55000305175781, 0, 0], ['BSE', '500418', datetime.date(2025, 11, 20), 121.55000305175781, 121.55000305175781, 121.55000305175781, 121.55000305175781, 0, 0], ['BSE', '500418', datetime.date(2025, 11, 21), 114.94999694824219, 115.0, 114.94999694824219, 115.0, 223, 0], ['BSE', '500418', datetime.date(2025, 11, 24), 130.0, 130.0, 116.80000305175781, 117.6500015258789, 50, 0], ['BSE', '500418', datetime.date(2025, 11, 25), 119.05000305175781, 123.80000305175781, 117.05000305175781, 119.80000305175781, 300, 0], ['BSE', '500418', datetime.date(2025, 11, 26), 119.80000305175781, 119.80000305175781, 119.80000305175781, 119.80000305175781, 0, 0], ['BSE', '500418', datetime.date(2025, 11, 28), 119.80000305175781, 119.80000305175781, 119.80000305175781, 119.80000305175781, 0, 0]]
Row  3611  :  500418.BO  :  19  records inserted
[['NSE', 'TOKYOPLAST', datetime.date(2025, 11, 3), 125.0, 126.9800033569336, 123.80000305175781, 124.54000091552734, 41481, 0], ['NSE', 'TOKYOPLAST', datetime.date(2025, 11, 4), 126.9000015258789, 126.9000015258789, 124.55000305175781, 124.6500015258789, 2781, 0], ['NSE', 'TOKYOPLAST', datetime.date(2025, 11, 6), 125.01000213623047, 125.94000244140625, 120.80000305175781, 124.1500015258789, 13348, 0], ['NSE', 'TOKYOPLAST', datetime.date(2025, 11, 7), 125.0, 125.69000244140625, 122.52999877929688, 123.73999786376953, 7328, 0], ['NSE', 'TOKYOPLAST', datetime.date(2025, 11, 10), 124.01000213623047, 125.0, 117.55000305175781, 120.87999725341797, 24006, 0], ['NSE', 'TOKYOPLAST', datetime.date(2025, 11, 11), 121.0, 125.0, 118.05000305175781, 124.4000015258789, 18228, 0], ['NSE', 'TOKYOPLAST', datetime.date(2025, 11, 12), 123.48999786376953, 125.0, 121.48999786376953, 122.93000030517578, 3297, 0], ['NSE', 'TOKYOPLAST', datetime.date(2025, 11, 13), 120.0999984741211, 124.9800033569336, 120.0999984741211, 123.08000183105469, 680, 0], ['NSE', 'TOKYOPLAST', datetime.date(2025, 11, 14), 123.06999969482422, 123.69000244140625, 120.52999877929688, 123.20999908447266, 910, 0], ['NSE', 'TOKYOPLAST', datetime.date(2025, 11, 17), 124.94999694824219, 125.66000366210938, 121.12000274658203, 124.08000183105469, 5991, 0], ['NSE', 'TOKYOPLAST', datetime.date(2025, 11, 18), 124.98999786376953, 124.98999786376953, 121.12999725341797, 122.33999633789062, 2855, 0], ['NSE', 'TOKYOPLAST', datetime.date(2025, 11, 19), 122.0, 123.45999908447266, 120.1500015258789, 121.30999755859375, 4071, 0], ['NSE', 'TOKYOPLAST', datetime.date(2025, 11, 20), 122.0, 122.5, 121.30000305175781, 122.43000030517578, 2166, 0], ['NSE', 'TOKYOPLAST', datetime.date(2025, 11, 21), 121.0, 122.98999786376953, 120.75, 121.0199966430664, 822, 0], ['NSE', 'TOKYOPLAST', datetime.date(2025, 11, 24), 123.44000244140625, 123.44000244140625, 118.4000015258789, 118.94000244140625, 4857, 0], ['NSE', 'TOKYOPLAST', datetime.date(2025, 11, 25), 121.31999969482422, 123.98999786376953, 115.12000274658203, 118.80000305175781, 7836, 0], ['NSE', 'TOKYOPLAST', datetime.date(2025, 11, 26), 123.4000015258789, 123.4000015258789, 119.2300033569336, 120.08999633789062, 1257, 0], ['NSE', 'TOKYOPLAST', datetime.date(2025, 11, 27), 121.0, 122.45999908447266, 120.0, 121.8499984741211, 561, 0], ['NSE', 'TOKYOPLAST', datetime.date(2025, 11, 28), 121.0, 121.98999786376953, 119.0, 119.12999725341797, 896, 0]]
Row  3612  :  TOKYOPLAST.NS  :  19  records inserted
[['BSE', '540725', datetime.date(2025, 11, 3), 185.85000610351562, 190.35000610351562, 185.0500030517578, 188.6999969482422, 44938, 0], ['BSE', '540725', datetime.date(2025, 11, 4), 188.35000610351562, 189.25, 184.0, 185.3000030517578, 19415, 0], ['BSE', '540725', datetime.date(2025, 11, 6), 189.3000030517578, 189.3000030517578, 179.85000610351562, 180.14999389648438, 21953, 0], ['BSE', '540725', datetime.date(2025, 11, 7), 181.10000610351562, 181.10000610351562, 175.64999389648438, 178.4499969482422, 20808, 0], ['BSE', '540725', datetime.date(2025, 11, 10), 181.0500030517578, 181.0500030517578, 174.9499969482422, 175.4499969482422, 20322, 0], ['BSE', '540725', datetime.date(2025, 11, 11), 173.14999389648438, 175.75, 171.9499969482422, 172.85000610351562, 20423, 0], ['BSE', '540725', datetime.date(2025, 11, 12), 173.14999389648438, 175.3000030517578, 173.14999389648438, 173.35000610351562, 8224, 0], ['BSE', '540725', datetime.date(2025, 11, 13), 171.10000610351562, 175.60000610351562, 168.6999969482422, 169.9499969482422, 28743, 0], ['BSE', '540725', datetime.date(2025, 11, 14), 166.0500030517578, 171.35000610351562, 166.0500030517578, 169.10000610351562, 23308, 0], ['BSE', '540725', datetime.date(2025, 11, 17), 169.8000030517578, 172.0, 168.4499969482422, 171.64999389648438, 13454, 0], ['BSE', '540725', datetime.date(2025, 11, 18), 170.0, 170.35000610351562, 167.25, 168.5, 7340, 0], ['BSE', '540725', datetime.date(2025, 11, 19), 167.35000610351562, 169.35000610351562, 164.10000610351562, 169.0, 32899, 0], ['BSE', '540725', datetime.date(2025, 11, 20), 165.4499969482422, 172.0, 165.4499969482422, 169.5500030517578, 13264, 0], ['BSE', '540725', datetime.date(2025, 11, 21), 168.75, 168.9499969482422, 165.0, 165.39999389648438, 19160, 0], ['BSE', '540725', datetime.date(2025, 11, 24), 163.60000610351562, 166.25, 161.4499969482422, 163.10000610351562, 8415, 0], ['BSE', '540725', datetime.date(2025, 11, 25), 163.10000610351562, 163.35000610351562, 160.14999389648438, 161.6999969482422, 10516, 0], ['BSE', '540725', datetime.date(2025, 11, 26), 162.1999969482422, 164.9499969482422, 162.1999969482422, 164.39999389648438, 8093, 0], ['BSE', '540725', datetime.date(2025, 11, 28), 168.5500030517578, 171.14999389648438, 167.60000610351562, 170.3000030517578, 7906, 0]]
Row  3613  :  540725.BO  :  18  records inserted

$542726.BO: possibly delisted; no timezone found

[['NSE', 'INDIAMART', datetime.date(2025, 11, 3), 2447.89990234375, 2473.699951171875, 2437.800048828125, 2466.800048828125, 53005, 0], ['NSE', 'INDIAMART', datetime.date(2025, 11, 4), 2465.0, 2476.699951171875, 2441.60009765625, 2468.199951171875, 60053, 0], ['NSE', 'INDIAMART', datetime.date(2025, 11, 5), 2468.199951171875, 2468.199951171875, 2468.199951171875, 2468.199951171875, 0, 0], ['NSE', 'INDIAMART', datetime.date(2025, 11, 6), 2470.0, 2494.0, 2441.10009765625, 2473.10009765625, 114451, 0], ['NSE', 'INDIAMART', datetime.date(2025, 11, 7), 2473.0, 2479.89990234375, 2422.39990234375, 2447.5, 67233, 0], ['NSE', 'INDIAMART', datetime.date(2025, 11, 10), 2444.10009765625, 2458.60009765625, 2422.199951171875, 2451.800048828125, 30194, 0], ['NSE', 'INDIAMART', datetime.date(2025, 11, 11), 2451.800048828125, 2470.199951171875, 2421.0, 2452.0, 71520, 0], ['NSE', 'INDIAMART', datetime.date(2025, 11, 12), 2453.699951171875, 2510.0, 2448.89990234375, 2504.5, 108635, 0], ['NSE', 'INDIAMART', datetime.date(2025, 11, 13), 2509.0, 2525.89990234375, 2467.800048828125, 2477.10009765625, 118124, 0], ['NSE', 'INDIAMART', datetime.date(2025, 11, 14), 2489.5, 2489.5, 2446.0, 2451.39990234375, 42105, 0], ['NSE', 'INDIAMART', datetime.date(2025, 11, 17), 2463.699951171875, 2482.10009765625, 2426.0, 2475.5, 42898, 0], ['NSE', 'INDIAMART', datetime.date(2025, 11, 18), 2460.0, 2469.60009765625, 2435.10009765625, 2446.199951171875, 180243, 0], ['NSE', 'INDIAMART', datetime.date(2025, 11, 19), 2446.199951171875, 2446.699951171875, 2396.0, 2413.300048828125, 73904, 0], ['NSE', 'INDIAMART', datetime.date(2025, 11, 20), 2429.89990234375, 2435.0, 2375.0, 2391.800048828125, 374542, 0], ['NSE', 'INDIAMART', datetime.date(2025, 11, 21), 2381.800048828125, 2395.800048828125, 2315.0, 2341.800048828125, 91738, 0], ['NSE', 'INDIAMART', datetime.date(2025, 11, 24), 2321.800048828125, 2335.699951171875, 2303.5, 2307.5, 246974, 0], ['NSE', 'INDIAMART', datetime.date(2025, 11, 25), 2320.0, 2369.0, 2291.5, 2359.5, 55858, 0], ['NSE', 'INDIAMART', datetime.date(2025, 11, 26), 2359.5, 2359.800048828125, 2310.0, 2339.5, 48238, 0], ['NSE', 'INDIAMART', datetime.date(2025, 11, 27), 2339.39990234375, 2356.39990234375, 2315.0, 2323.10009765625, 31663, 0], ['NSE', 'INDIAMART', datetime.date(2025, 11, 28), 2323.10009765625, 2359.199951171875, 2300.0, 2310.0, 56915, 0]]
Row  3622  :  INDIAMART.NS  :  20  records inserted
[['NSE', 'SHANTI', datetime.date(2025, 11, 3), 10.100000381469727, 10.390000343322754, 9.770000457763672, 10.140000343322754, 46027, 0], ['NSE', 'SHANTI', datetime.date(2025, 11, 4), 10.140000343322754, 10.359999656677246, 9.770000457763672, 9.960000038146973, 46582, 0], ['NSE', 'SHANTI', datetime.date(2025, 11, 6), 9.960000038146973, 10.210000038146973, 9.90999984741211, 9.920000076293945, 24470, 0], ['NSE', 'SHANTI', datetime.date(2025, 11, 7), 9.899999618530273, 10.239999771118164, 9.5, 9.880000114440918, 40020, 0], ['NSE', 'SHANTI', datetime.date(2025, 11, 10), 9.84000015258789, 10.149999618530273, 9.680000305175781, 9.720000267028809, 35985, 0], ['NSE', 'SHANTI', datetime.date(2025, 11, 11), 9.800000190734863, 9.84000015258789, 9.3100004196167, 9.550000190734863, 33394, 0], ['NSE', 'SHANTI', datetime.date(2025, 11, 12), 9.5, 9.869999885559082, 9.5, 9.649999618530273, 42556, 0], ['NSE', 'SHANTI', datetime.date(2025, 11, 13), 9.510000228881836, 9.779999732971191, 9.399999618530273, 9.479999542236328, 26058, 0], ['NSE', 'SHANTI', datetime.date(2025, 11, 14), 9.470000267028809, 9.729999542236328, 9.399999618530273, 9.699999809265137, 20535, 0], ['NSE', 'SHANTI', datetime.date(2025, 11, 17), 9.699999809265137, 9.920000076293945, 9.210000038146973, 9.470000267028809, 20026, 0], ['NSE', 'SHANTI', datetime.date(2025, 11, 18), 9.399999618530273, 9.479999542236328, 9.220000267028809, 9.25, 63220, 0], ['NSE', 'SHANTI', datetime.date(2025, 11, 19), 9.220000267028809, 9.520000457763672, 9.15999984741211, 9.170000076293945, 35113, 0], ['NSE', 'SHANTI', datetime.date(2025, 11, 20), 9.15999984741211, 9.699999809265137, 9.15999984741211, 9.199999809265137, 37987, 0], ['NSE', 'SHANTI', datetime.date(2025, 11, 21), 9.199999809265137, 9.600000381469727, 9.199999809265137, 9.390000343322754, 17226, 0], ['NSE', 'SHANTI', datetime.date(2025, 11, 24), 9.699999809265137, 9.699999809265137, 9.319999694824219, 9.380000114440918, 28032, 0], ['NSE', 'SHANTI', datetime.date(2025, 11, 25), 9.609999656677246, 9.609999656677246, 9.199999809265137, 9.359999656677246, 44166, 0], ['NSE', 'SHANTI', datetime.date(2025, 11, 26), 9.170000076293945, 9.59000015258789, 9.170000076293945, 9.229999542236328, 43538, 0], ['NSE', 'SHANTI', datetime.date(2025, 11, 27), 9.5, 9.5, 9.279999732971191, 9.329999923706055, 19629, 0], ['NSE', 'SHANTI', datetime.date(2025, 11, 28), 9.170000076293945, 9.489999771118164, 9.170000076293945, 9.319999694824219, 12380, 0]]
Row  3623  :  SHANTI.NS  :  19  records inserted
[['BSE', '526235', datetime.date(2025, 11, 3), 0.8399999737739563, 0.8399999737739563, 0.8399999737739563, 0.8399999737739563, 0, 0], ['BSE', '526235', datetime.date(2025, 11, 4), 0.8399999737739563, 0.8399999737739563, 0.8399999737739563, 0.8399999737739563, 0, 0], ['BSE', '526235', datetime.date(2025, 11, 5), 0.8399999737739563, 0.8399999737739563, 0.8399999737739563, 0.8399999737739563, 0, 0], ['BSE', '526235', datetime.date(2025, 11, 6), 0.8399999737739563, 0.8399999737739563, 0.8399999737739563, 0.8399999737739563, 0, 0], ['BSE', '526235', datetime.date(2025, 11, 7), 0.8399999737739563, 0.8399999737739563, 0.8399999737739563, 0.8399999737739563, 0, 0], ['BSE', '526235', datetime.date(2025, 11, 10), 0.8399999737739563, 0.8399999737739563, 0.8399999737739563, 0.8399999737739563, 0, 0], ['BSE', '526235', datetime.date(2025, 11, 11), 0.8399999737739563, 0.8399999737739563, 0.8399999737739563, 0.8399999737739563, 0, 0], ['BSE', '526235', datetime.date(2025, 11, 12), 0.8399999737739563, 0.8399999737739563, 0.8399999737739563, 0.8399999737739563, 0, 0], ['BSE', '526235', datetime.date(2025, 11, 13), 0.8399999737739563, 0.8399999737739563, 0.8399999737739563, 0.8399999737739563, 0, 0], ['BSE', '526235', datetime.date(2025, 11, 14), 0.8399999737739563, 0.8399999737739563, 0.8399999737739563, 0.8399999737739563, 0, 0], ['BSE', '526235', datetime.date(2025, 11, 17), 0.8399999737739563, 0.8399999737739563, 0.8399999737739563, 0.8399999737739563, 0, 0], ['BSE', '526235', datetime.date(2025, 11, 18), 0.8399999737739563, 0.8399999737739563, 0.8399999737739563, 0.8399999737739563, 0, 0], ['BSE', '526235', datetime.date(2025, 11, 19), 0.8399999737739563, 0.8399999737739563, 0.8399999737739563, 0.8399999737739563, 0, 0], ['BSE', '526235', datetime.date(2025, 11, 20), 0.8399999737739563, 0.8399999737739563, 0.8399999737739563, 0.8399999737739563, 0, 0], ['BSE', '526235', datetime.date(2025, 11, 21), 0.8399999737739563, 0.8399999737739563, 0.8399999737739563, 0.8399999737739563, 0, 0], ['BSE', '526235', datetime.date(2025, 11, 24), 0.8399999737739563, 0.8399999737739563, 0.8399999737739563, 0.8399999737739563, 0, 0], ['BSE', '526235', datetime.date(2025, 11, 25), 0.8399999737739563, 0.8399999737739563, 0.8399999737739563, 0.8399999737739563, 0, 0], ['BSE', '526235', datetime.date(2025, 11, 26), 0.8399999737739563, 0.8399999737739563, 0.8399999737739563, 0.8399999737739563, 0, 0], ['BSE', '526235', datetime.date(2025, 11, 28), 0.8399999737739563, 0.8399999737739563, 0.8399999737739563, 0.8399999737739563, 0, 0]]
Row  3624  :  526235.BO  :  19  records inserted
[['NSE', 'MERCATOR', datetime.date(2025, 11, 3), 0.8500000238418579, 0.8500000238418579, 0.8500000238418579, 0.8500000238418579, 0, 0], ['NSE', 'MERCATOR', datetime.date(2025, 11, 4), 0.8500000238418579, 0.8500000238418579, 0.8500000238418579, 0.8500000238418579, 0, 0], ['NSE', 'MERCATOR', datetime.date(2025, 11, 5), 0.8500000238418579, 0.8500000238418579, 0.8500000238418579, 0.8500000238418579, 0, 0], ['NSE', 'MERCATOR', datetime.date(2025, 11, 6), 0.8500000238418579, 0.8500000238418579, 0.8500000238418579, 0.8500000238418579, 0, 0], ['NSE', 'MERCATOR', datetime.date(2025, 11, 7), 0.8500000238418579, 0.8500000238418579, 0.8500000238418579, 0.8500000238418579, 0, 0], ['NSE', 'MERCATOR', datetime.date(2025, 11, 10), 0.8500000238418579, 0.8500000238418579, 0.8500000238418579, 0.8500000238418579, 0, 0], ['NSE', 'MERCATOR', datetime.date(2025, 11, 11), 0.8500000238418579, 0.8500000238418579, 0.8500000238418579, 0.8500000238418579, 0, 0], ['NSE', 'MERCATOR', datetime.date(2025, 11, 12), 0.8500000238418579, 0.8500000238418579, 0.8500000238418579, 0.8500000238418579, 0, 0], ['NSE', 'MERCATOR', datetime.date(2025, 11, 13), 0.8500000238418579, 0.8500000238418579, 0.8500000238418579, 0.8500000238418579, 0, 0], ['NSE', 'MERCATOR', datetime.date(2025, 11, 14), 0.8500000238418579, 0.8500000238418579, 0.8500000238418579, 0.8500000238418579, 0, 0], ['NSE', 'MERCATOR', datetime.date(2025, 11, 17), 0.8500000238418579, 0.8500000238418579, 0.8500000238418579, 0.8500000238418579, 0, 0], ['NSE', 'MERCATOR', datetime.date(2025, 11, 18), 0.8500000238418579, 0.8500000238418579, 0.8500000238418579, 0.8500000238418579, 0, 0], ['NSE', 'MERCATOR', datetime.date(2025, 11, 19), 0.8500000238418579, 0.8500000238418579, 0.8500000238418579, 0.8500000238418579, 0, 0], ['NSE', 'MERCATOR', datetime.date(2025, 11, 20), 0.8500000238418579, 0.8500000238418579, 0.8500000238418579, 0.8500000238418579, 0, 0], ['NSE', 'MERCATOR', datetime.date(2025, 11, 21), 0.8500000238418579, 0.8500000238418579, 0.8500000238418579, 0.8500000238418579, 0, 0], ['NSE', 'MERCATOR', datetime.date(2025, 11, 24), 0.8500000238418579, 0.8500000238418579, 0.8500000238418579, 0.8500000238418579, 0, 0], ['NSE', 'MERCATOR', datetime.date(2025, 11, 25), 0.8500000238418579, 0.8500000238418579, 0.8500000238418579, 0.8500000238418579, 0, 0], ['NSE', 'MERCATOR', datetime.date(2025, 11, 26), 0.8500000238418579, 0.8500000238418579, 0.8500000238418579, 0.8500000238418579, 0, 0], ['NSE', 'MERCATOR', datetime.date(2025, 11, 27), 0.8500000238418579, 0.8500000238418579, 0.8500000238418579, 0.8500000238418579, 0, 0], ['NSE', 'MERCATOR', datetime.date(2025, 11, 28), 0.8500000238418579, 0.8500000238418579, 0.8500000238418579, 0.8500000238418579, 0, 0]]
Row  3625  :  MERCATOR.NS  :  20  records inserted
[['BSE', '540124', datetime.date(2025, 11, 3), 325.95001220703125, 329.29998779296875, 320.3999938964844, 321.1000061035156, 11282, 0], ['BSE', '540124', datetime.date(2025, 11, 4), 322.0, 324.95001220703125, 318.20001220703125, 320.29998779296875, 1455, 0], ['BSE', '540124', datetime.date(2025, 11, 6), 320.29998779296875, 320.6000061035156, 310.0, 315.5, 1610, 0], ['BSE', '540124', datetime.date(2025, 11, 7), 310.25, 315.29998779296875, 309.29998779296875, 314.8500061035156, 432, 0], ['BSE', '540124', datetime.date(2025, 11, 10), 312.3999938964844, 315.6000061035156, 309.29998779296875, 311.0, 834, 0], ['BSE', '540124', datetime.date(2025, 11, 11), 311.0, 317.5, 308.6000061035156, 312.29998779296875, 1513, 0], ['BSE', '540124', datetime.date(2025, 11, 12), 312.25, 319.8999938964844, 310.3500061035156, 313.04998779296875, 963, 0], ['BSE', '540124', datetime.date(2025, 11, 13), 312.29998779296875, 322.8999938964844, 310.79998779296875, 319.75, 2486, 0], ['BSE', '540124', datetime.date(2025, 11, 14), 317.8999938964844, 322.54998779296875, 314.25, 318.79998779296875, 1029, 0], ['BSE', '540124', datetime.date(2025, 11, 17), 318.79998779296875, 320.70001220703125, 315.0, 315.75, 476, 0], ['BSE', '540124', datetime.date(2025, 11, 18), 317.1499938964844, 317.1499938964844, 309.0, 313.04998779296875, 1192, 0], ['BSE', '540124', datetime.date(2025, 11, 19), 313.79998779296875, 315.6499938964844, 311.70001220703125, 313.79998779296875, 536, 0], ['BSE', '540124', datetime.date(2025, 11, 20), 313.8999938964844, 314.6000061035156, 311.0, 311.3999938964844, 300, 0], ['BSE', '540124', datetime.date(2025, 11, 21), 311.25, 311.25, 308.0, 308.0, 3913, 0], ['BSE', '540124', datetime.date(2025, 11, 24), 310.0, 310.0, 301.54998779296875, 302.20001220703125, 1530, 0], ['BSE', '540124', datetime.date(2025, 11, 25), 301.6499938964844, 308.45001220703125, 301.6499938964844, 307.54998779296875, 3185, 0], ['BSE', '540124', datetime.date(2025, 11, 26), 309.20001220703125, 311.29998779296875, 306.0, 308.25, 758, 0], ['BSE', '540124', datetime.date(2025, 11, 28), 325.0, 325.0, 315.45001220703125, 317.25, 2365, 0]]
Row  3626  :  540124.BO  :  18  records inserted
[['NSE', 'GNA', datetime.date(2025, 11, 3), 330.0, 330.0, 319.25, 321.79998779296875, 138923, 0], ['NSE', 'GNA', datetime.date(2025, 11, 4), 320.0, 326.0, 315.3500061035156, 320.0, 29064, 0], ['NSE', 'GNA', datetime.date(2025, 11, 5), 320.0, 320.0, 320.0, 320.0, 0, 0], ['NSE', 'GNA', datetime.date(2025, 11, 6), 320.0, 322.1499938964844, 309.04998779296875, 314.70001220703125, 32221, 0], ['NSE', 'GNA', datetime.date(2025, 11, 7), 320.0, 320.04998779296875, 309.0, 315.1499938964844, 14614, 0], ['NSE', 'GNA', datetime.date(2025, 11, 10), 315.1499938964844, 315.3999938964844, 309.20001220703125, 310.3999938964844, 15310, 0], ['NSE', 'GNA', datetime.date(2025, 11, 11), 310.3999938964844, 317.20001220703125, 307.29998779296875, 312.79998779296875, 26464, 0], ['NSE', 'GNA', datetime.date(2025, 11, 12), 313.1000061035156, 318.79998779296875, 311.20001220703125, 313.25, 21002, 0], ['NSE', 'GNA', datetime.date(2025, 11, 13), 313.54998779296875, 322.79998779296875, 311.0, 319.45001220703125, 62631, 0], ['NSE', 'GNA', datetime.date(2025, 11, 14), 320.8999938964844, 321.20001220703125, 314.1000061035156, 318.8500061035156, 16125, 0], ['NSE', 'GNA', datetime.date(2025, 11, 17), 321.0, 321.0, 314.8999938964844, 316.20001220703125, 15392, 0], ['NSE', 'GNA', datetime.date(2025, 11, 18), 316.20001220703125, 316.20001220703125, 308.0, 312.6499938964844, 41246, 0], ['NSE', 'GNA', datetime.date(2025, 11, 19), 312.25, 315.79998779296875, 311.25, 312.95001220703125, 16838, 0], ['NSE', 'GNA', datetime.date(2025, 11, 20), 312.95001220703125, 314.20001220703125, 310.5, 311.79998779296875, 11271, 0], ['NSE', 'GNA', datetime.date(2025, 11, 21), 311.79998779296875, 312.95001220703125, 307.45001220703125, 308.0, 18473, 0], ['NSE', 'GNA', datetime.date(2025, 11, 24), 308.0, 310.8500061035156, 300.20001220703125, 302.20001220703125, 26040, 0], ['NSE', 'GNA', datetime.date(2025, 11, 25), 302.25, 308.29998779296875, 302.25, 306.45001220703125, 13145, 0], ['NSE', 'GNA', datetime.date(2025, 11, 26), 307.95001220703125, 309.6000061035156, 306.3999938964844, 307.45001220703125, 12107, 0], ['NSE', 'GNA', datetime.date(2025, 11, 27), 309.1000061035156, 325.0, 309.1000061035156, 323.54998779296875, 160818, 0], ['NSE', 'GNA', datetime.date(2025, 11, 28), 325.0, 325.6499938964844, 314.0, 316.1000061035156, 64801, 0]]
Row  3627  :  GNA.NS  :  20  records inserted

$532296.BO: possibly delisted; no timezone found

[['NSE', 'GLENMARK', datetime.date(2025, 11, 3), 1889.0999755859375, 1919.0, 1885.199951171875, 1898.4000244140625, 521647, 0], ['NSE', 'GLENMARK', datetime.date(2025, 11, 4), 1907.9000244140625, 1907.9000244140625, 1842.9000244140625, 1845.0999755859375, 707890, 0], ['NSE', 'GLENMARK', datetime.date(2025, 11, 5), 1845.0999755859375, 1845.0999755859375, 1845.0999755859375, 1845.0999755859375, 0, 0], ['NSE', 'GLENMARK', datetime.date(2025, 11, 6), 1859.9000244140625, 1859.9000244140625, 1805.0, 1810.4000244140625, 356061, 0], ['NSE', 'GLENMARK', datetime.date(2025, 11, 7), 1801.4000244140625, 1829.4000244140625, 1801.4000244140625, 1811.5, 553200, 0], ['NSE', 'GLENMARK', datetime.date(2025, 11, 10), 1820.5999755859375, 1849.300048828125, 1810.4000244140625, 1829.9000244140625, 582091, 0], ['NSE', 'GLENMARK', datetime.date(2025, 11, 11), 1840.0, 1846.9000244140625, 1813.0, 1817.300048828125, 388962, 0], ['NSE', 'GLENMARK', datetime.date(2025, 11, 12), 1817.0, 1861.0, 1807.0, 1847.800048828125, 1811699, 0], ['NSE', 'GLENMARK', datetime.date(2025, 11, 13), 1862.0999755859375, 1918.9000244140625, 1845.9000244140625, 1880.5999755859375, 1708579, 0], ['NSE', 'GLENMARK', datetime.date(2025, 11, 14), 1890.0, 1931.9000244140625, 1855.0, 1895.5999755859375, 1808669, 0], ['NSE', 'GLENMARK', datetime.date(2025, 11, 17), 1855.0999755859375, 1924.9000244140625, 1810.0, 1868.9000244140625, 6171268, 0], ['NSE', 'GLENMARK', datetime.date(2025, 11, 18), 1880.0, 1882.0, 1818.0, 1842.800048828125, 2126546, 0], ['NSE', 'GLENMARK', datetime.date(2025, 11, 19), 1835.5, 1866.5, 1832.0999755859375, 1840.800048828125, 548782, 0], ['NSE', 'GLENMARK', datetime.date(2025, 11, 20), 1845.0, 1894.800048828125, 1842.0999755859375, 1878.0, 1275173, 0], ['NSE', 'GLENMARK', datetime.date(2025, 11, 21), 1878.4000244140625, 1908.0, 1838.0, 1844.199951171875, 943929, 0], ['NSE', 'GLENMARK', datetime.date(2025, 11, 24), 1844.199951171875, 1861.5, 1825.0999755859375, 1842.4000244140625, 1430032, 0], ['NSE', 'GLENMARK', datetime.date(2025, 11, 25), 1842.0, 1893.5999755859375, 1837.0, 1881.5, 1017631, 0], ['NSE', 'GLENMARK', datetime.date(2025, 11, 26), 1880.0, 1927.4000244140625, 1875.5999755859375, 1921.300048828125, 833315, 0], ['NSE', 'GLENMARK', datetime.date(2025, 11, 27), 1924.699951171875, 1958.0, 1922.300048828125, 1944.0, 1272760, 0], ['NSE', 'GLENMARK', datetime.date(2025, 11, 28), 1949.5, 1958.0, 1937.800048828125, 1946.199951171875, 687641, 0]]
Row  3629  :  GLENMARK.NS  :  20  records inserted
[['BSE', '532407', datetime.date(2025, 11, 3), 251.9499969482422, 251.9499969482422, 246.0, 247.5, 386567, 0], ['BSE', '532407', datetime.date(2025, 11, 4), 247.64999389648438, 249.60000610351562, 240.60000610351562, 242.1999969482422, 467336, 0], ['BSE', '532407', datetime.date(2025, 11, 6), 242.5500030517578, 242.64999389648438, 228.75, 229.5, 781542, 0], ['BSE', '532407', datetime.date(2025, 11, 7), 227.35000610351562, 236.0, 223.25, 233.75, 894785, 0], ['BSE', '532407', datetime.date(2025, 11, 10), 235.35000610351562, 237.10000610351562, 228.75, 229.89999389648438, 321941, 0], ['BSE', '532407', datetime.date(2025, 11, 11), 231.3000030517578, 231.3000030517578, 225.14999389648438, 227.0, 206788, 0], ['BSE', '532407', datetime.date(2025, 11, 12), 227.9499969482422, 235.0, 227.9499969482422, 232.85000610351562, 359426, 0], ['BSE', '532407', datetime.date(2025, 11, 13), 232.25, 232.39999389648438, 227.0500030517578, 227.8000030517578, 216156, 0], ['BSE', '532407', datetime.date(2025, 11, 14), 226.10000610351562, 230.8000030517578, 225.3000030517578, 228.8000030517578, 191762, 0], ['BSE', '532407', datetime.date(2025, 11, 17), 228.9499969482422, 231.9499969482422, 226.64999389648438, 227.5, 294675, 0], ['BSE', '532407', datetime.date(2025, 11, 18), 227.5, 227.5500030517578, 222.5, 223.14999389648438, 272086, 0], ['BSE', '532407', datetime.date(2025, 11, 19), 222.89999389648438, 226.4499969482422, 221.0, 224.39999389648438, 284163, 0], ['BSE', '532407', datetime.date(2025, 11, 20), 224.89999389648438, 226.5500030517578, 216.4499969482422, 216.8000030517578, 188014, 0], ['BSE', '532407', datetime.date(2025, 11, 21), 216.3000030517578, 216.75, 210.14999389648438, 211.5, 331922, 0], ['BSE', '532407', datetime.date(2025, 11, 24), 211.0500030517578, 214.0, 201.3000030517578, 203.8000030517578, 400030, 0], ['BSE', '532407', datetime.date(2025, 11, 25), 201.25, 211.8000030517578, 201.25, 209.89999389648438, 390880, 0], ['BSE', '532407', datetime.date(2025, 11, 26), 212.0, 219.10000610351562, 209.35000610351562, 215.8000030517578, 257584, 0], ['BSE', '532407', datetime.date(2025, 11, 27), 219.9499969482422, 219.9499969482422, 213.35000610351562, 216.5500030517578, 147532, 0], ['BSE', '532407', datetime.date(2025, 11, 28), 216.8000030517578, 227.0, 213.89999389648438, 218.9499969482422, 190010, 0]]
Row  3630  :  532407.BO  :  19  records inserted
[['NSE', 'MOSCHIP', datetime.date(2025, 11, 3), 251.5500030517578, 252.0, 246.0, 247.4499969482422, 1479865, 0], ['NSE', 'MOSCHIP', datetime.date(2025, 11, 4), 247.9499969482422, 249.60000610351562, 241.10000610351562, 242.0, 1396912, 0], ['NSE', 'MOSCHIP', datetime.date(2025, 11, 5), 242.0, 242.0, 242.0, 242.0, 0, 0], ['NSE', 'MOSCHIP', datetime.date(2025, 11, 6), 242.75, 242.75, 228.25, 229.35000610351562, 2944199, 0], ['NSE', 'MOSCHIP', datetime.date(2025, 11, 7), 228.25, 236.1999969482422, 223.25, 233.75, 3421484, 0], ['NSE', 'MOSCHIP', datetime.date(2025, 11, 10), 238.35000610351562, 238.35000610351562, 228.75, 230.0500030517578, 1261727, 0], ['NSE', 'MOSCHIP', datetime.date(2025, 11, 11), 231.0, 231.0, 225.0, 226.89999389648438, 1436298, 0], ['NSE', 'MOSCHIP', datetime.date(2025, 11, 12), 228.10000610351562, 235.0, 227.89999389648438, 232.60000610351562, 1596488, 0], ['NSE', 'MOSCHIP', datetime.date(2025, 11, 13), 232.5, 232.5, 227.0, 227.6999969482422, 799401, 0], ['NSE', 'MOSCHIP', datetime.date(2025, 11, 14), 227.5, 230.89999389648438, 225.4499969482422, 228.75, 822221, 0], ['NSE', 'MOSCHIP', datetime.date(2025, 11, 17), 229.1999969482422, 232.0, 226.5, 227.4499969482422, 936675, 0], ['NSE', 'MOSCHIP', datetime.date(2025, 11, 18), 227.89999389648438, 228.0, 222.5, 223.14999389648438, 885337, 0], ['NSE', 'MOSCHIP', datetime.date(2025, 11, 19), 223.14999389648438, 226.4499969482422, 221.0, 224.4499969482422, 1064628, 0], ['NSE', 'MOSCHIP', datetime.date(2025, 11, 20), 225.0500030517578, 226.6999969482422, 216.1999969482422, 216.6999969482422, 1627189, 0], ['NSE', 'MOSCHIP', datetime.date(2025, 11, 21), 216.64999389648438, 216.6999969482422, 210.10000610351562, 211.39999389648438, 1091737, 0], ['NSE', 'MOSCHIP', datetime.date(2025, 11, 24), 212.10000610351562, 213.85000610351562, 195.0, 202.89999389648438, 1503583, 0], ['NSE', 'MOSCHIP', datetime.date(2025, 11, 25), 202.0, 212.0, 201.8000030517578, 209.35000610351562, 1891579, 0], ['NSE', 'MOSCHIP', datetime.date(2025, 11, 26), 210.3000030517578, 219.8000030517578, 209.5, 215.9499969482422, 1097264, 0], ['NSE', 'MOSCHIP', datetime.date(2025, 11, 27), 219.3000030517578, 219.85000610351562, 213.1999969482422, 216.64999389648438, 1159380, 0], ['NSE', 'MOSCHIP', datetime.date(2025, 11, 28), 216.5, 226.89999389648438, 213.75, 218.9499969482422, 2178009, 0]]
Row  3631  :  MOSCHIP.NS  :  20  records inserted
[['BSE', '540699', datetime.date(2025, 11, 3), 15427.0, 15600.0, 15320.0498046875, 15477.7998046875, 12619, 0], ['BSE', '540699', datetime.date(2025, 11, 4), 15477.7998046875, 15521.9501953125, 15237.0, 15252.900390625, 28128, 0], ['BSE', '540699', datetime.date(2025, 11, 6), 15240.0, 15319.9501953125, 15051.0, 15077.150390625, 5906, 0], ['BSE', '540699', datetime.date(2025, 11, 7), 15060.599609375, 15060.599609375, 14672.5498046875, 14846.4501953125, 10462, 0], ['BSE', '540699', datetime.date(2025, 11, 10), 14996.650390625, 15001.0, 14713.2001953125, 14859.75, 7529, 0], ['BSE', '540699', datetime.date(2025, 11, 11), 14933.9501953125, 15152.0, 14762.7998046875, 15096.0, 8157, 0], ['BSE', '540699', datetime.date(2025, 11, 12), 15144.0, 15366.25, 15063.9501953125, 15311.349609375, 10594, 0], ['BSE', '540699', datetime.date(2025, 11, 13), 15427.150390625, 15573.0, 15242.599609375, 15315.7001953125, 15655, 0], ['BSE', '540699', datetime.date(2025, 11, 14), 15277.150390625, 15569.099609375, 15269.0, 15419.2998046875, 8851, 0], ['BSE', '540699', datetime.date(2025, 11, 17), 15462.150390625, 15690.0, 15368.099609375, 15640.7001953125, 16540, 0], ['BSE', '540699', datetime.date(2025, 11, 18), 15700.099609375, 15773.9501953125, 15505.849609375, 15696.849609375, 9178, 0], ['BSE', '540699', datetime.date(2025, 11, 19), 15642.4501953125, 15757.25, 15383.0, 15522.5498046875, 7510, 0], ['BSE', '540699', datetime.date(2025, 11, 20), 15722.5, 15722.5, 15276.0, 15307.599609375, 10174, 0], ['BSE', '540699', datetime.date(2025, 11, 21), 15315.0, 15320.0, 14924.2001953125, 14962.7001953125, 5661, 0], ['BSE', '540699', datetime.date(2025, 11, 24), 14960.0, 14993.400390625, 14611.0, 14674.0498046875, 8575, 0], ['BSE', '540699', datetime.date(2025, 11, 25), 14669.0, 14799.0, 14382.0498046875, 14400.2001953125, 14076, 0], ['BSE', '540699', datetime.date(2025, 11, 26), 14401.5498046875, 14875.25, 14380.0, 14837.099609375, 11788, 0], ['BSE', '540699', datetime.date(2025, 11, 28), 14652.0, 14699.0, 14515.099609375, 14599.599609375, 5935, 0]]
Row  3632  :  540699.BO  :  18  records inserted
[['NSE', 'DIXON', datetime.date(2025, 11, 3), 15494.0, 15610.0, 15325.0, 15485.0, 273990, 0], ['NSE', 'DIXON', datetime.date(2025, 11, 4), 15483.0, 15532.0, 15235.0, 15254.0, 172440, 0], ['NSE', 'DIXON', datetime.date(2025, 11, 5), 15254.0, 15254.0, 15254.0, 15254.0, 0, 0], ['NSE', 'DIXON', datetime.date(2025, 11, 6), 15257.0, 15324.0, 15050.0, 15079.0, 229915, 0], ['NSE', 'DIXON', datetime.date(2025, 11, 7), 15000.0, 15061.0, 14671.0, 14849.0, 302050, 0], ['NSE', 'DIXON', datetime.date(2025, 11, 10), 14875.0, 15006.0, 14710.0, 14867.0, 252744, 0], ['NSE', 'DIXON', datetime.date(2025, 11, 11), 14910.0, 15153.0, 14760.0, 15094.0, 183854, 0], ['NSE', 'DIXON', datetime.date(2025, 11, 12), 15155.0, 15369.0, 15054.0, 15307.0, 260843, 0], ['NSE', 'DIXON', datetime.date(2025, 11, 13), 15383.0, 15579.0, 15227.0, 15323.0, 244819, 0], ['NSE', 'DIXON', datetime.date(2025, 11, 14), 15299.0, 15570.0, 15232.0, 15419.0, 254561, 0], ['NSE', 'DIXON', datetime.date(2025, 11, 17), 15520.0, 15698.0, 15353.0, 15641.0, 232740, 0], ['NSE', 'DIXON', datetime.date(2025, 11, 18), 15700.0, 15771.0, 15501.0, 15697.0, 190994, 0], ['NSE', 'DIXON', datetime.date(2025, 11, 19), 15697.0, 15775.0, 15366.0, 15540.0, 178897, 0], ['NSE', 'DIXON', datetime.date(2025, 11, 20), 15600.0, 15600.0, 15264.0, 15313.0, 204503, 0], ['NSE', 'DIXON', datetime.date(2025, 11, 21), 15310.0, 15310.0, 14921.0, 14965.0, 207477, 0], ['NSE', 'DIXON', datetime.date(2025, 11, 24), 14965.0, 14990.0, 14599.0, 14669.0, 266515, 0], ['NSE', 'DIXON', datetime.date(2025, 11, 25), 14662.0, 14797.0, 14380.0, 14401.0, 257302, 0], ['NSE', 'DIXON', datetime.date(2025, 11, 26), 14473.0, 14877.0, 14374.0, 14825.0, 286601, 0], ['NSE', 'DIXON', datetime.date(2025, 11, 27), 14860.0, 14890.0, 14535.0, 14643.0, 151098, 0], ['NSE', 'DIXON', datetime.date(2025, 11, 28), 14668.0, 14708.0, 14511.0, 14601.0, 137276, 0]]
Row  3633  :  DIXON.NS  :  20  records inserted

$540798.BO: possibly delisted; no timezone found

[['NSE', 'FSC', datetime.date(2025, 11, 3), 2.75, 2.75, 2.75, 2.75, 0, 0], ['NSE', 'FSC', datetime.date(2025, 11, 4), 2.75, 2.75, 2.75, 2.75, 0, 0], ['NSE', 'FSC', datetime.date(2025, 11, 5), 2.75, 2.75, 2.75, 2.75, 0, 0], ['NSE', 'FSC', datetime.date(2025, 11, 6), 2.75, 2.75, 2.75, 2.75, 0, 0], ['NSE', 'FSC', datetime.date(2025, 11, 7), 2.75, 2.75, 2.75, 2.75, 0, 0], ['NSE', 'FSC', datetime.date(2025, 11, 10), 2.75, 2.75, 2.75, 2.75, 0, 0], ['NSE', 'FSC', datetime.date(2025, 11, 11), 2.75, 2.75, 2.75, 2.75, 0, 0], ['NSE', 'FSC', datetime.date(2025, 11, 12), 2.75, 2.75, 2.75, 2.75, 0, 0], ['NSE', 'FSC', datetime.date(2025, 11, 13), 2.75, 2.75, 2.75, 2.75, 0, 0], ['NSE', 'FSC', datetime.date(2025, 11, 14), 2.75, 2.75, 2.75, 2.75, 0, 0], ['NSE', 'FSC', datetime.date(2025, 11, 17), 2.75, 2.75, 2.75, 2.75, 0, 0], ['NSE', 'FSC', datetime.date(2025, 11, 18), 2.75, 2.75, 2.75, 2.75, 0, 0], ['NSE', 'FSC', datetime.date(2025, 11, 19), 2.75, 2.75, 2.75, 2.75, 0, 0], ['NSE', 'FSC', datetime.date(2025, 11, 20), 2.75, 2.75, 2.75, 2.75, 0, 0], ['NSE', 'FSC', datetime.date(2025, 11, 21), 2.75, 2.75, 2.75, 2.75, 0, 0], ['NSE', 'FSC', datetime.date(2025, 11, 24), 2.75, 2.75, 2.75, 2.75, 0, 0], ['NSE', 'FSC', datetime.date(2025, 11, 25), 2.75, 2.75, 2.75, 2.75, 0, 0], ['NSE', 'FSC', datetime.date(2025, 11, 26), 2.75, 2.75, 2.75, 2.75, 0, 0], ['NSE', 'FSC', datetime.date(2025, 11, 27), 2.75, 2.75, 2.75, 2.75, 0, 0], ['NSE', 'FSC', datetime.date(2025, 11, 28), 2.75, 2.75, 2.75, 2.75, 0, 0]]
Row  3635  :  FSC.NS  :  20  records inserted
[['BSE', '524654', datetime.date(2025, 11, 3), 205.1999969482422, 213.0, 205.1999969482422, 213.0, 520, 0], ['BSE', '524654', datetime.date(2025, 11, 4), 213.0, 214.89999389648438, 212.5, 212.60000610351562, 232, 0], ['BSE', '524654', datetime.date(2025, 11, 6), 207.5, 207.5500030517578, 204.1999969482422, 204.60000610351562, 41, 0], ['BSE', '524654', datetime.date(2025, 11, 7), 203.1999969482422, 203.25, 199.0, 199.0, 2122, 0], ['BSE', '524654', datetime.date(2025, 11, 10), 196.1999969482422, 198.9499969482422, 192.0, 192.0, 1111, 0], ['BSE', '524654', datetime.date(2025, 11, 11), 196.0, 199.64999389648438, 190.0, 192.6999969482422, 221, 0], ['BSE', '524654', datetime.date(2025, 11, 12), 200.0, 200.0, 200.0, 200.0, 150, 0], ['BSE', '524654', datetime.date(2025, 11, 13), 205.0500030517578, 205.0500030517578, 205.0500030517578, 205.0500030517578, 10, 0], ['BSE', '524654', datetime.date(2025, 11, 14), 205.0, 205.39999389648438, 194.8000030517578, 195.5, 16711, 0], ['BSE', '524654', datetime.date(2025, 11, 17), 194.0500030517578, 194.0500030517578, 187.10000610351562, 193.39999389648438, 1224, 0], ['BSE', '524654', datetime.date(2025, 11, 18), 188.0, 193.39999389648438, 188.0, 193.39999389648438, 27, 0], ['BSE', '524654', datetime.date(2025, 11, 19), 193.39999389648438, 193.39999389648438, 183.75, 183.75, 1546, 0], ['BSE', '524654', datetime.date(2025, 11, 20), 182.0, 185.85000610351562, 180.10000610351562, 180.5, 562, 0], ['BSE', '524654', datetime.date(2025, 11, 21), 181.0, 181.0, 180.5, 180.75, 4, 0], ['BSE', '524654', datetime.date(2025, 11, 24), 178.64999389648438, 186.8000030517578, 178.64999389648438, 185.0, 23, 0], ['BSE', '524654', datetime.date(2025, 11, 25), 177.0, 181.75, 176.0500030517578, 176.64999389648438, 419, 0], ['BSE', '524654', datetime.date(2025, 11, 26), 178.0, 182.1999969482422, 177.0, 177.0, 30, 0], ['BSE', '524654', datetime.date(2025, 11, 27), 177.0, 178.89999389648438, 176.1999969482422, 178.8000030517578, 192, 0], ['BSE', '524654', datetime.date(2025, 11, 28), 177.0, 187.6999969482422, 176.1999969482422, 187.6999969482422, 1125, 0]]
Row  3636  :  524654.BO  :  19  records inserted
[['NSE', 'NATCAPSUQ', datetime.date(2025, 11, 3), 206.39999389648438, 214.72000122070312, 198.5, 210.24000549316406, 8668, 0], ['NSE', 'NATCAPSUQ', datetime.date(2025, 11, 4), 208.5, 212.1999969482422, 201.1999969482422, 206.72999572753906, 1636, 0], ['NSE', 'NATCAPSUQ', datetime.date(2025, 11, 6), 206.72999572753906, 207.0, 202.1999969482422, 204.11000061035156, 2433, 0], ['NSE', 'NATCAPSUQ', datetime.date(2025, 11, 7), 204.11000061035156, 205.0, 196.10000610351562, 197.36000061035156, 5806, 0], ['NSE', 'NATCAPSUQ', datetime.date(2025, 11, 10), 197.10000610351562, 200.5, 190.0, 193.4199981689453, 8474, 0], ['NSE', 'NATCAPSUQ', datetime.date(2025, 11, 11), 193.4199981689453, 198.0, 186.22000122070312, 196.02000427246094, 6012, 0], ['NSE', 'NATCAPSUQ', datetime.date(2025, 11, 12), 204.8000030517578, 205.82000732421875, 197.0, 205.58999633789062, 3326, 0], ['NSE', 'NATCAPSUQ', datetime.date(2025, 11, 13), 209.0, 215.66000366210938, 206.0, 214.60000610351562, 3613, 0], ['NSE', 'NATCAPSUQ', datetime.date(2025, 11, 14), 209.5, 209.5, 203.8699951171875, 203.8699951171875, 14230, 0], ['NSE', 'NATCAPSUQ', datetime.date(2025, 11, 17), 194.02000427246094, 199.8300018310547, 193.6699981689453, 193.6699981689453, 11678, 0], ['NSE', 'NATCAPSUQ', datetime.date(2025, 11, 18), 190.0, 194.6699981689453, 185.75, 193.88999938964844, 1151, 0], ['NSE', 'NATCAPSUQ', datetime.date(2025, 11, 19), 193.88999938964844, 193.88999938964844, 184.19000244140625, 184.2100067138672, 7972, 0], ['NSE', 'NATCAPSUQ', datetime.date(2025, 11, 20), 184.5, 186.92999267578125, 180.10000610351562, 185.58999633789062, 7560, 0], ['NSE', 'NATCAPSUQ', datetime.date(2025, 11, 21), 184.82000732421875, 184.82000732421875, 180.0, 184.49000549316406, 5244, 0], ['NSE', 'NATCAPSUQ', datetime.date(2025, 11, 24), 185.99000549316406, 185.99000549316406, 178.3000030517578, 180.39999389648438, 849, 0], ['NSE', 'NATCAPSUQ', datetime.date(2025, 11, 25), 176.1999969482422, 180.39999389648438, 173.61000061035156, 179.19000244140625, 4862, 0], ['NSE', 'NATCAPSUQ', datetime.date(2025, 11, 26), 179.0, 179.0, 175.0, 176.13999938964844, 1205, 0], ['NSE', 'NATCAPSUQ', datetime.date(2025, 11, 27), 176.13999938964844, 179.9499969482422, 173.0, 176.8800048828125, 1960, 0], ['NSE', 'NATCAPSUQ', datetime.date(2025, 11, 28), 175.0, 185.72000122070312, 175.0, 185.42999267578125, 6327, 0]]
Row  3637  :  NATCAPSUQ.NS  :  19  records inserted
[['BSE', '500402', datetime.date(2025, 11, 3), 232.75, 235.3000030517578, 227.39999389648438, 233.1999969482422, 5244, 0], ['BSE', '500402', datetime.date(2025, 11, 4), 231.3000030517578, 233.75, 228.85000610351562, 233.3000030517578, 12566, 0], ['BSE', '500402', datetime.date(2025, 11, 6), 233.9499969482422, 233.9499969482422, 218.0, 219.60000610351562, 9636, 0], ['BSE', '500402', datetime.date(2025, 11, 7), 219.8000030517578, 223.14999389648438, 217.0, 220.85000610351562, 5359, 0], ['BSE', '500402', datetime.date(2025, 11, 10), 210.0500030517578, 220.85000610351562, 210.0500030517578, 216.0, 4841, 0], ['BSE', '500402', datetime.date(2025, 11, 11), 217.1999969482422, 217.1999969482422, 212.8000030517578, 213.39999389648438, 2999, 0], ['BSE', '500402', datetime.date(2025, 11, 12), 210.0500030517578, 218.5, 210.0500030517578, 216.60000610351562, 4071, 0], ['BSE', '500402', datetime.date(2025, 11, 13), 218.0500030517578, 218.35000610351562, 208.1999969482422, 208.75, 7396, 0], ['BSE', '500402', datetime.date(2025, 11, 14), 204.25, 218.5, 204.25, 215.25, 8687, 0], ['BSE', '500402', datetime.date(2025, 11, 17), 216.89999389648438, 221.3000030517578, 212.35000610351562, 214.4499969482422, 5877, 0], ['BSE', '500402', datetime.date(2025, 11, 18), 213.89999389648438, 217.35000610351562, 211.85000610351562, 212.3000030517578, 1814, 0], ['BSE', '500402', datetime.date(2025, 11, 19), 212.0500030517578, 212.0500030517578, 203.6999969482422, 206.6999969482422, 19259, 0], ['BSE', '500402', datetime.date(2025, 11, 20), 207.4499969482422, 209.64999389648438, 204.5, 205.25, 4821, 0], ['BSE', '500402', datetime.date(2025, 11, 21), 205.5500030517578, 205.64999389648438, 197.39999389648438, 199.5, 5616, 0], ['BSE', '500402', datetime.date(2025, 11, 24), 196.3000030517578, 199.10000610351562, 192.0, 192.4499969482422, 21934, 0], ['BSE', '500402', datetime.date(2025, 11, 25), 192.6999969482422, 201.9499969482422, 189.75, 199.8000030517578, 10512, 0], ['BSE', '500402', datetime.date(2025, 11, 26), 201.75, 208.9499969482422, 200.10000610351562, 201.6999969482422, 7676, 0], ['BSE', '500402', datetime.date(2025, 11, 28), 198.60000610351562, 198.6999969482422, 193.5500030517578, 196.9499969482422, 10693, 0]]
Row  3638  :  500402.BO  :  18  records inserted
[['NSE', 'SPMLINFRA', datetime.date(2025, 11, 3), 228.1999969482422, 235.86000061035156, 225.33999633789062, 232.3699951171875, 114755, 0], ['NSE', 'SPMLINFRA', datetime.date(2025, 11, 4), 232.3699951171875, 234.19000244140625, 229.25, 233.19000244140625, 106207, 0], ['NSE', 'SPMLINFRA', datetime.date(2025, 11, 5), 233.19000244140625, 233.19000244140625, 233.19000244140625, 233.19000244140625, 0, 0], ['NSE', 'SPMLINFRA', datetime.date(2025, 11, 6), 232.0, 235.77999877929688, 218.14999389648438, 220.2100067138672, 274904, 0], ['NSE', 'SPMLINFRA', datetime.date(2025, 11, 7), 220.8800048828125, 223.7100067138672, 216.97999572753906, 220.63999938964844, 127607, 0], ['NSE', 'SPMLINFRA', datetime.date(2025, 11, 10), 221.0, 221.0800018310547, 212.1999969482422, 216.3000030517578, 135949, 0], ['NSE', 'SPMLINFRA', datetime.date(2025, 11, 11), 216.3000030517578, 219.5399932861328, 212.5, 213.00999450683594, 77384, 0], ['NSE', 'SPMLINFRA', datetime.date(2025, 11, 12), 214.61000061035156, 219.0800018310547, 212.99000549316406, 217.05999755859375, 119700, 0], ['NSE', 'SPMLINFRA', datetime.date(2025, 11, 13), 217.05999755859375, 218.9600067138672, 207.74000549316406, 208.8800048828125, 106895, 0], ['NSE', 'SPMLINFRA', datetime.date(2025, 11, 14), 205.10000610351562, 219.11000061035156, 205.10000610351562, 215.3000030517578, 189607, 0], ['NSE', 'SPMLINFRA', datetime.date(2025, 11, 17), 217.02000427246094, 221.49000549316406, 211.67999267578125, 213.85000610351562, 119099, 0], ['NSE', 'SPMLINFRA', datetime.date(2025, 11, 18), 215.0, 217.7899932861328, 211.05999755859375, 212.5, 78988, 0], ['NSE', 'SPMLINFRA', datetime.date(2025, 11, 19), 214.10000610351562, 214.11000061035156, 203.99000549316406, 206.0399932861328, 140399, 0], ['NSE', 'SPMLINFRA', datetime.date(2025, 11, 20), 207.69000244140625, 210.7899932861328, 203.10000610351562, 204.6999969482422, 163858, 0], ['NSE', 'SPMLINFRA', datetime.date(2025, 11, 21), 205.0, 206.99000549316406, 196.9499969482422, 198.1699981689453, 99199, 0], ['NSE', 'SPMLINFRA', datetime.date(2025, 11, 24), 198.0, 198.57000732421875, 190.10000610351562, 192.17999267578125, 166431, 0], ['NSE', 'SPMLINFRA', datetime.date(2025, 11, 25), 189.3000030517578, 202.5, 189.3000030517578, 198.52999877929688, 182177, 0], ['NSE', 'SPMLINFRA', datetime.date(2025, 11, 26), 201.99000549316406, 209.75, 200.1199951171875, 201.75, 126073, 0], ['NSE', 'SPMLINFRA', datetime.date(2025, 11, 27), 203.75, 204.89999389648438, 192.4499969482422, 197.49000549316406, 176331, 0], ['NSE', 'SPMLINFRA', datetime.date(2025, 11, 28), 199.07000732421875, 199.07000732421875, 192.0, 196.7100067138672, 80889, 0]]
Row  3639  :  SPMLINFRA.NS  :  20  records inserted

$530377.BO: possibly delisted; no timezone found

[['NSE', 'NILAINFRA', datetime.date(2025, 11, 3), 10.0, 10.199999809265137, 9.920000076293945, 10.020000457763672, 366351, 0], ['NSE', 'NILAINFRA', datetime.date(2025, 11, 4), 10.1899995803833, 10.1899995803833, 9.899999618530273, 9.9399995803833, 294734, 0], ['NSE', 'NILAINFRA', datetime.date(2025, 11, 5), 9.9399995803833, 9.9399995803833, 9.9399995803833, 9.9399995803833, 0, 0], ['NSE', 'NILAINFRA', datetime.date(2025, 11, 6), 10.050000190734863, 10.050000190734863, 9.710000038146973, 9.770000457763672, 428597, 0], ['NSE', 'NILAINFRA', datetime.date(2025, 11, 7), 9.710000038146973, 9.819999694824219, 9.579999923706055, 9.720000267028809, 354345, 0], ['NSE', 'NILAINFRA', datetime.date(2025, 11, 10), 9.890000343322754, 10.0600004196167, 9.619999885559082, 9.9399995803833, 321817, 0], ['NSE', 'NILAINFRA', datetime.date(2025, 11, 11), 9.819999694824219, 10.1899995803833, 9.819999694824219, 10.020000457763672, 609842, 0], ['NSE', 'NILAINFRA', datetime.date(2025, 11, 12), 10.010000228881836, 10.09000015258789, 9.8100004196167, 9.899999618530273, 323808, 0], ['NSE', 'NILAINFRA', datetime.date(2025, 11, 13), 9.8100004196167, 9.899999618530273, 9.649999618530273, 9.65999984741211, 439948, 0], ['NSE', 'NILAINFRA', datetime.date(2025, 11, 14), 9.65999984741211, 9.890000343322754, 9.399999618530273, 9.550000190734863, 494728, 0], ['NSE', 'NILAINFRA', datetime.date(2025, 11, 17), 9.550000190734863, 9.710000038146973, 9.539999961853027, 9.619999885559082, 215455, 0], ['NSE', 'NILAINFRA', datetime.date(2025, 11, 18), 9.619999885559082, 9.760000228881836, 9.399999618530273, 9.430000305175781, 247166, 0], ['NSE', 'NILAINFRA', datetime.date(2025, 11, 19), 9.430000305175781, 9.600000381469727, 9.399999618530273, 9.550000190734863, 428811, 0], ['NSE', 'NILAINFRA', datetime.date(2025, 11, 20), 9.460000038146973, 9.710000038146973, 9.449999809265137, 9.460000038146973, 302917, 0], ['NSE', 'NILAINFRA', datetime.date(2025, 11, 21), 9.460000038146973, 9.6899995803833, 9.350000381469727, 9.470000267028809, 250684, 0], ['NSE', 'NILAINFRA', datetime.date(2025, 11, 24), 9.479999542236328, 9.550000190734863, 9.149999618530273, 9.210000038146973, 301956, 0], ['NSE', 'NILAINFRA', datetime.date(2025, 11, 25), 9.220000267028809, 9.739999771118164, 9.180000305175781, 9.430000305175781, 290293, 0], ['NSE', 'NILAINFRA', datetime.date(2025, 11, 26), 9.4399995803833, 9.619999885559082, 9.399999618530273, 9.449999809265137, 230899, 0], ['NSE', 'NILAINFRA', datetime.date(2025, 11, 27), 9.449999809265137, 10.199999809265137, 9.449999809265137, 9.9399995803833, 1096334, 0], ['NSE', 'NILAINFRA', datetime.date(2025, 11, 28), 10.0600004196167, 10.270000457763672, 9.850000381469727, 10.010000228881836, 442998, 0]]
Row  3641  :  NILAINFRA.NS  :  20  records inserted
[['BSE', '532019', datetime.date(2025, 11, 3), 4.010000228881836, 4.400000095367432, 4.010000228881836, 4.190000057220459, 16990, 0], ['BSE', '532019', datetime.date(2025, 11, 4), 4.119999885559082, 4.389999866485596, 4.110000133514404, 4.190000057220459, 1132, 0], ['BSE', '532019', datetime.date(2025, 11, 6), 4.150000095367432, 4.199999809265137, 4.050000190734863, 4.190000057220459, 3211, 0], ['BSE', '532019', datetime.date(2025, 11, 7), 3.990000009536743, 4.119999885559082, 3.990000009536743, 4.059999942779541, 4828, 0], ['BSE', '532019', datetime.date(2025, 11, 10), 4.059999942779541, 4.260000228881836, 4.059999942779541, 4.150000095367432, 2795, 0], ['BSE', '532019', datetime.date(2025, 11, 11), 4.170000076293945, 4.170000076293945, 4.0, 4.039999961853027, 5373, 0], ['BSE', '532019', datetime.date(2025, 11, 12), 4.139999866485596, 4.159999847412109, 4.0, 4.159999847412109, 3606, 0], ['BSE', '532019', datetime.date(2025, 11, 13), 4.340000152587891, 4.340000152587891, 4.0, 4.199999809265137, 7408, 0], ['BSE', '532019', datetime.date(2025, 11, 14), 4.099999904632568, 4.409999847412109, 3.990000009536743, 4.409999847412109, 32868, 0], ['BSE', '532019', datetime.date(2025, 11, 17), 4.329999923706055, 4.630000114440918, 4.329999923706055, 4.630000114440918, 193747, 0], ['BSE', '532019', datetime.date(2025, 11, 18), 4.840000152587891, 4.860000133514404, 4.769999980926514, 4.860000133514404, 142078, 0], ['BSE', '532019', datetime.date(2025, 11, 19), 5.0, 5.099999904632568, 4.940000057220459, 5.099999904632568, 137750, 0], ['BSE', '532019', datetime.date(2025, 11, 20), 5.329999923706055, 5.329999923706055, 4.849999904632568, 4.849999904632568, 141917, 0], ['BSE', '532019', datetime.date(2025, 11, 21), 4.610000133514404, 4.670000076293945, 4.610000133514404, 4.610000133514404, 40113, 0], ['BSE', '532019', datetime.date(2025, 11, 24), 4.789999961853027, 4.840000152587891, 4.400000095367432, 4.699999809265137, 116258, 0], ['BSE', '532019', datetime.date(2025, 11, 25), 4.46999979019165, 4.929999828338623, 4.46999979019165, 4.929999828338623, 73905, 0], ['BSE', '532019', datetime.date(2025, 11, 26), 5.170000076293945, 5.170000076293945, 5.090000152587891, 5.170000076293945, 79338, 0], ['BSE', '532019', datetime.date(2025, 11, 28), 5.679999828338623, 5.679999828338623, 5.420000076293945, 5.659999847412109, 192086, 0]]
Row  3642  :  532019.BO  :  18  records inserted
[['NSE', 'LCCINFOTEC', datetime.date(2025, 11, 3), 4.329999923706055, 4.360000133514404, 4.210000038146973, 4.239999771118164, 83190, 0], ['NSE', 'LCCINFOTEC', datetime.date(2025, 11, 4), 4.170000076293945, 4.329999923706055, 4.079999923706055, 4.110000133514404, 57576, 0], ['NSE', 'LCCINFOTEC', datetime.date(2025, 11, 6), 4.300000190734863, 4.309999942779541, 3.990000009536743, 4.119999885559082, 54429, 0], ['NSE', 'LCCINFOTEC', datetime.date(2025, 11, 7), 3.9600000381469727, 4.119999885559082, 3.9600000381469727, 4.03000020980835, 72472, 0], ['NSE', 'LCCINFOTEC', datetime.date(2025, 11, 10), 4.03000020980835, 4.179999828338623, 3.8499999046325684, 4.059999942779541, 78237, 0], ['NSE', 'LCCINFOTEC', datetime.date(2025, 11, 11), 4.139999866485596, 4.159999847412109, 4.019999980926514, 4.070000171661377, 22084, 0], ['NSE', 'LCCINFOTEC', datetime.date(2025, 11, 12), 4.21999979019165, 4.21999979019165, 3.859999895095825, 4.150000095367432, 78077, 0], ['NSE', 'LCCINFOTEC', datetime.date(2025, 11, 13), 4.190000057220459, 4.190000057220459, 4.0, 4.079999923706055, 84618, 0], ['NSE', 'LCCINFOTEC', datetime.date(2025, 11, 14), 3.950000047683716, 4.28000020980835, 3.950000047683716, 4.28000020980835, 127233, 0], ['NSE', 'LCCINFOTEC', datetime.date(2025, 11, 17), 4.489999771118164, 4.489999771118164, 4.489999771118164, 4.489999771118164, 56473, 0], ['NSE', 'LCCINFOTEC', datetime.date(2025, 11, 18), 4.710000038146973, 4.710000038146973, 4.710000038146973, 4.710000038146973, 65124, 0], ['NSE', 'LCCINFOTEC', datetime.date(2025, 11, 19), 4.940000057220459, 4.940000057220459, 4.940000057220459, 4.940000057220459, 28338, 0], ['NSE', 'LCCINFOTEC', datetime.date(2025, 11, 20), 5.179999828338623, 5.179999828338623, 4.690000057220459, 4.690000057220459, 831737, 0], ['NSE', 'LCCINFOTEC', datetime.date(2025, 11, 21), 4.449999809265137, 4.690000057220459, 4.449999809265137, 4.519999980926514, 353309, 0], ['NSE', 'LCCINFOTEC', datetime.date(2025, 11, 24), 4.71999979019165, 4.739999771118164, 4.510000228881836, 4.650000095367432, 348525, 0], ['NSE', 'LCCINFOTEC', datetime.date(2025, 11, 25), 4.650000095367432, 4.880000114440918, 4.460000038146973, 4.880000114440918, 358905, 0], ['NSE', 'LCCINFOTEC', datetime.date(2025, 11, 26), 5.119999885559082, 5.119999885559082, 4.980000019073486, 5.119999885559082, 218612, 0], ['NSE', 'LCCINFOTEC', datetime.date(2025, 11, 27), 5.369999885559082, 5.369999885559082, 4.920000076293945, 5.320000171661377, 306693, 0], ['NSE', 'LCCINFOTEC', datetime.date(2025, 11, 28), 5.579999923706055, 5.579999923706055, 5.400000095367432, 5.579999923706055, 244147, 0]]
Row  3643  :  LCCINFOTEC.NS  :  19  records inserted
[['BSE', '532531', datetime.date(2025, 11, 3), 934.5, 1024.9000244140625, 921.5, 984.25, 319814, 0], ['BSE', '532531', datetime.date(2025, 11, 4), 989.9500122070312, 999.0999755859375, 957.0, 962.4000244140625, 28699, 0], ['BSE', '532531', datetime.date(2025, 11, 6), 954.5, 985.0999755859375, 949.4000244140625, 959.7000122070312, 22901, 0], ['BSE', '532531', datetime.date(2025, 11, 7), 942.2999877929688, 955.8499755859375, 934.9000244140625, 946.9500122070312, 15237, 0], ['BSE', '532531', datetime.date(2025, 11, 10), 955.9000244140625, 958.0, 922.0, 928.5, 9844, 0], ['BSE', '532531', datetime.date(2025, 11, 11), 935.8499755859375, 967.0, 906.0499877929688, 925.2999877929688, 23242, 0], ['BSE', '532531', datetime.date(2025, 11, 12), 925.2999877929688, 946.0999755859375, 920.2999877929688, 923.5999755859375, 20770, 0], ['BSE', '532531', datetime.date(2025, 11, 13), 916.0, 980.0, 916.0, 973.7999877929688, 24145, 0], ['BSE', '532531', datetime.date(2025, 11, 14), 974.0, 991.0499877929688, 930.5999755859375, 945.2000122070312, 17415, 0], ['BSE', '532531', datetime.date(2025, 11, 17), 948.2000122070312, 959.5, 940.0, 948.2000122070312, 13677, 0], ['BSE', '532531', datetime.date(2025, 11, 18), 959.2000122070312, 968.6500244140625, 940.5499877929688, 965.75, 13670, 0], ['BSE', '532531', datetime.date(2025, 11, 19), 942.0499877929688, 974.4500122070312, 942.0499877929688, 961.2000122070312, 8601, 0], ['BSE', '532531', datetime.date(2025, 11, 20), 951.0499877929688, 965.5, 920.25, 923.7999877929688, 14745, 0], ['BSE', '532531', datetime.date(2025, 11, 21), 925.0, 927.5999755859375, 891.25, 894.5499877929688, 23195, 0], ['BSE', '532531', datetime.date(2025, 11, 24), 897.6500244140625, 897.6500244140625, 870.0499877929688, 888.9000244140625, 17456, 0], ['BSE', '532531', datetime.date(2025, 11, 25), 888.9000244140625, 892.75, 874.3499755859375, 885.0999755859375, 9268, 0], ['BSE', '532531', datetime.date(2025, 11, 26), 864.7999877929688, 909.5499877929688, 864.7999877929688, 903.7999877929688, 7454, 0], ['BSE', '532531', datetime.date(2025, 11, 28), 889.4000244140625, 896.75, 872.0, 878.4500122070312, 18141, 0]]
Row  3644  :  532531.BO  :  18  records inserted
[['NSE', 'STAR', datetime.date(2025, 11, 3), 934.4000244140625, 1025.0, 921.5999755859375, 984.7999877929688, 5210098, 0], ['NSE', 'STAR', datetime.date(2025, 11, 4), 983.0, 997.5, 956.4500122070312, 962.7999877929688, 569002, 0], ['NSE', 'STAR', datetime.date(2025, 11, 5), 962.7999877929688, 962.7999877929688, 962.7999877929688, 962.7999877929688, 0, 0], ['NSE', 'STAR', datetime.date(2025, 11, 6), 966.0, 984.25, 949.0499877929688, 959.4500122070312, 585485, 0], ['NSE', 'STAR', datetime.date(2025, 11, 7), 951.0, 956.0, 934.0999755859375, 948.2000122070312, 305465, 0], ['NSE', 'STAR', datetime.date(2025, 11, 10), 955.0499877929688, 958.75, 915.5499877929688, 929.2000122070312, 338904, 0], ['NSE', 'STAR', datetime.date(2025, 11, 11), 936.0, 968.5499877929688, 906.2999877929688, 925.2999877929688, 800335, 0], ['NSE', 'STAR', datetime.date(2025, 11, 12), 924.7999877929688, 947.2999877929688, 920.5999755859375, 924.0999755859375, 341751, 0], ['NSE', 'STAR', datetime.date(2025, 11, 13), 927.5999755859375, 982.0, 927.3499755859375, 973.9500122070312, 932396, 0], ['NSE', 'STAR', datetime.date(2025, 11, 14), 973.9500122070312, 993.2000122070312, 910.0, 943.5499877929688, 374713, 0], ['NSE', 'STAR', datetime.date(2025, 11, 17), 951.0, 959.0, 939.1500244140625, 948.75, 211022, 0], ['NSE', 'STAR', datetime.date(2025, 11, 18), 952.0499877929688, 969.0, 939.1500244140625, 966.1500244140625, 414567, 0], ['NSE', 'STAR', datetime.date(2025, 11, 19), 960.0, 975.0, 941.9000244140625, 963.2999877929688, 359608, 0], ['NSE', 'STAR', datetime.date(2025, 11, 20), 958.0, 966.5999755859375, 920.0, 923.4000244140625, 400095, 0], ['NSE', 'STAR', datetime.date(2025, 11, 21), 923.4000244140625, 929.9500122070312, 892.0, 895.0499877929688, 389052, 0], ['NSE', 'STAR', datetime.date(2025, 11, 24), 897.0, 898.0499877929688, 870.5999755859375, 889.2999877929688, 271137, 0], ['NSE', 'STAR', datetime.date(2025, 11, 25), 890.0, 891.0, 873.0999755859375, 885.7000122070312, 142090, 0], ['NSE', 'STAR', datetime.date(2025, 11, 26), 895.75, 909.2000122070312, 883.2999877929688, 903.0999755859375, 176873, 0], ['NSE', 'STAR', datetime.date(2025, 11, 27), 904.0, 913.0, 883.2999877929688, 888.75, 107429, 0], ['NSE', 'STAR', datetime.date(2025, 11, 28), 890.0, 896.8499755859375, 872.0, 878.4000244140625, 133346, 0]]
Row  3645  :  STAR.NS  :  20  records inserted
[['NSE', 'MANBA', datetime.date(2025, 11, 3), 142.43269788701755, 150.45357006007353, 141.2968238602698, 144.5051727294922, 104104, 0], ['NSE', 'MANBA', datetime.date(2025, 11, 4), 143.98705796949665, 145.19268604697078, 141.48614634886954, 141.5957489013672, 19406, 0], ['NSE', 'MANBA', datetime.date(2025, 11, 6), 143.47891204025106, 143.47891204025106, 136.6138452598014, 138.51693725585938, 78861, 0], ['NSE', 'MANBA', datetime.date(2025, 11, 7), 138.56674484697027, 142.5223643397349, 137.37107520903538, 139.83213806152344, 15135, 0], ['NSE', 'MANBA', datetime.date(2025, 11, 10), 141.5060787713641, 141.5060787713641, 135.51781733123886, 137.17181396484375, 49438, 0], ['NSE', 'MANBA', datetime.date(2025, 11, 11), 139.9915662039109, 144.47528184745252, 133.01689742506835, 139.8919219970703, 91966, 0], ['NSE', 'MANBA', datetime.date(2025, 11, 12), 139.50334154288157, 142.7316224560103, 137.95896267741952, 140.97799682617188, 55906, 0], ['NSE', 'MANBA', datetime.date(2025, 11, 13), 139.49338712603668, 141.87473791240254, 138.19808834772323, 138.43722534179688, 21705, 0], ['NSE', 'MANBA', datetime.date(2025, 11, 14), 138.78594171538748, 144.39557318344467, 138.3575050629682, 139.95172119140625, 75625, 0], ['NSE', 'MANBA', datetime.date(2025, 11, 17), 139.95172584365494, 143.57855321302068, 138.8955488814017, 139.4236297607422, 39540, 0], ['NSE', 'MANBA', datetime.date(2025, 11, 18), 140.46983583242186, 142.3729278240995, 139.08486639003067, 139.2941131591797, 38712, 0], ['NSE', 'MANBA', datetime.date(2025, 11, 19), 139.49337449593548, 141.1772612349221, 137.5006120031364, 139.00514221191406, 56979, 0], ['NSE', 'MANBA', datetime.date(2025, 11, 20), 140.48975898578362, 140.48975898578362, 137.50061517757544, 137.6699981689453, 92920, 0], ['NSE', 'MANBA', datetime.date(2025, 11, 21), 138.00999450683594, 140.0, 136.00999450683594, 137.42999267578125, 108658, 0], ['NSE', 'MANBA', datetime.date(2025, 11, 24), 137.0, 140.72000122070312, 135.5, 136.1199951171875, 99695, 0], ['NSE', 'MANBA', datetime.date(2025, 11, 25), 136.60000610351562, 137.1999969482422, 136.0, 136.22000122070312, 26378, 0], ['NSE', 'MANBA', datetime.date(2025, 11, 26), 137.00999450683594, 137.9199981689453, 135.0, 135.25, 75608, 0], ['NSE', 'MANBA', datetime.date(2025, 11, 27), 138.00999450683594, 139.85000610351562, 136.3000030517578, 138.7899932861328, 45631, 0], ['NSE', 'MANBA', datetime.date(2025, 11, 28), 136.6999969482422, 138.6999969482422, 136.3000030517578, 137.52000427246094, 58068, 0]]
Row  3646  :  MANBA.NS  :  19  records inserted
[['BSE', '532808', datetime.date(2025, 11, 3), 1304.6491011622356, 1328.1652439770182, 1302.1579817615873, 1313.0191650390625, 940, 0], ['BSE', '532808', datetime.date(2025, 11, 4), 1309.5316930845097, 1309.6811845867549, 1281.4319128569448, 1297.773681640625, 1674, 0], ['BSE', '532808', datetime.date(2025, 11, 6), 1297.7735874166303, 1304.9978336792203, 1286.0154551897388, 1293.0902099609375, 2648, 0], ['BSE', '532808', datetime.date(2025, 11, 7), 1255.5740720607673, 1372.1085911116122, 1255.5740720607673, 1355.4180908203125, 111991, 0], ['BSE', '532808', datetime.date(2025, 11, 10), 1372.1085838618517, 1411.5181419513403, 1356.763263825383, 1409.7244873046875, 9425, 0], ['BSE', '532808', datetime.date(2025, 11, 11), 1390.1942272160295, 1420.237153895872, 1375.098018124497, 1403.3472900390625, 8639, 0], ['BSE', '532808', datetime.date(2025, 11, 12), 1433.7888013561626, 1683.996826171875, 1402.0020913750463, 1683.996826171875, 157631, 0], ['BSE', '532808', datetime.date(2025, 11, 13), 1783.6913775026223, 1986.219386546138, 1645.8327313560233, 1666.6087646484375, 354686, 0], ['BSE', '532808', datetime.date(2025, 11, 14), 1668.103508991438, 1730.5308671285125, 1659.8329434938964, 1683.0999755859375, 42823, 0], ['BSE', '532808', datetime.date(2025, 11, 17), 1693.9000244140625, 1698.75, 1637.3499755859375, 1657.6500244140625, 19079, 0], ['BSE', '532808', datetime.date(2025, 11, 18), 1674.800048828125, 1761.699951171875, 1654.0, 1679.449951171875, 30425, 0], ['BSE', '532808', datetime.date(2025, 11, 19), 1690.0, 1785.0, 1660.0, 1766.800048828125, 30878, 0], ['BSE', '532808', datetime.date(2025, 11, 20), 1785.0, 1832.6500244140625, 1744.0999755859375, 1754.8499755859375, 15247, 0], ['BSE', '532808', datetime.date(2025, 11, 21), 1769.949951171875, 1805.0, 1725.0, 1745.050048828125, 7716, 0], ['BSE', '532808', datetime.date(2025, 11, 24), 1739.550048828125, 1747.5999755859375, 1701.300048828125, 1725.9000244140625, 11265, 0], ['BSE', '532808', datetime.date(2025, 11, 25), 1729.800048828125, 1741.5, 1697.949951171875, 1711.949951171875, 4586, 0], ['BSE', '532808', datetime.date(2025, 11, 26), 1720.0, 1775.0, 1703.0, 1752.3499755859375, 6825, 0], ['BSE', '532808', datetime.date(2025, 11, 28), 1688.9000244140625, 1696.25, 1670.0, 1683.199951171875, 2890, 0]]
Row  3647  :  532808.BO  :  18  records inserted
[['NSE', 'PGIL', datetime.date(2025, 11, 3), 1296.5751713131767, 1332.1483578462648, 1296.5751713131767, 1313.714111328125, 38690, 0], ['NSE', 'PGIL', datetime.date(2025, 11, 4), 1313.2158001258413, 1315.8065345944233, 1281.5287785064027, 1296.4754638671875, 38684, 0], ['NSE', 'PGIL', datetime.date(2025, 11, 5), 1296.4754638671875, 1296.4754638671875, 1296.4754638671875, 1296.4754638671875, 0, 0], ['NSE', 'PGIL', datetime.date(2025, 11, 6), 1296.4754967837532, 1305.9417310859244, 1287.4078650952772, 1292.7886962890625, 66701, 0], ['NSE', 'PGIL', datetime.date(2025, 11, 7), 1292.3901032036008, 1370.1128696260225, 1281.4292002465927, 1359.2515869140625, 299166, 0], ['NSE', 'PGIL', datetime.date(2025, 11, 10), 1370.1128291665416, 1414.9528853938102, 1355.4651261202087, 1405.88525390625, 173080, 0], ['NSE', 'PGIL', datetime.date(2025, 11, 11), 1395.1236593800095, 1422.9245199157358, 1381.6716418597975, 1406.383544921875, 80557, 0], ['NSE', 'PGIL', datetime.date(2025, 11, 12), 1434.8818344798326, 1687.5804443359375, 1399.1094088623877, 1687.5804443359375, 2593409, 0], ['NSE', 'PGIL', datetime.date(2025, 11, 13), 1798.4848692633427, 1986.215263575645, 1645.131851620271, 1667.5518798828125, 4406058, 0], ['NSE', 'PGIL', datetime.date(2025, 11, 14), 1683.9932467586937, 1732.8190864576145, 1661.0749954714452, 1682.0999755859375, 599470, 0], ['NSE', 'PGIL', datetime.date(2025, 11, 17), 1688.0999755859375, 1698.0, 1638.0, 1658.9000244140625, 174646, 0], ['NSE', 'PGIL', datetime.date(2025, 11, 18), 1677.0, 1759.4000244140625, 1655.0, 1676.0, 466079, 0], ['NSE', 'PGIL', datetime.date(2025, 11, 19), 1678.0, 1777.9000244140625, 1660.4000244140625, 1766.9000244140625, 438534, 0], ['NSE', 'PGIL', datetime.date(2025, 11, 20), 1775.199951171875, 1835.0, 1742.300048828125, 1754.5, 242884, 0], ['NSE', 'PGIL', datetime.date(2025, 11, 21), 1761.0999755859375, 1808.800048828125, 1721.0, 1742.0, 142579, 0], ['NSE', 'PGIL', datetime.date(2025, 11, 24), 1736.0999755859375, 1748.4000244140625, 1701.4000244140625, 1726.9000244140625, 92096, 0], ['NSE', 'PGIL', datetime.date(2025, 11, 25), 1726.9000244140625, 1742.4000244140625, 1694.4000244140625, 1709.199951171875, 91555, 0], ['NSE', 'PGIL', datetime.date(2025, 11, 26), 1715.5999755859375, 1775.5999755859375, 1702.300048828125, 1754.5999755859375, 129066, 0], ['NSE', 'PGIL', datetime.date(2025, 11, 27), 1771.9000244140625, 1772.0, 1682.800048828125, 1690.4000244140625, 123200, 0], ['NSE', 'PGIL', datetime.date(2025, 11, 28), 1700.0, 1703.9000244140625, 1669.0999755859375, 1688.699951171875, 54339, 0]]
Row  3648  :  PGIL.NS  :  20  records inserted

$532497.BO: possibly delisted; no timezone found

[['NSE', 'RADICO', datetime.date(2025, 11, 3), 3149.89990234375, 3203.39990234375, 3120.5, 3193.60009765625, 348002, 0], ['NSE', 'RADICO', datetime.date(2025, 11, 4), 3210.0, 3216.10009765625, 3185.10009765625, 3199.60009765625, 264233, 0], ['NSE', 'RADICO', datetime.date(2025, 11, 5), 3199.60009765625, 3199.60009765625, 3199.60009765625, 3199.60009765625, 0, 0], ['NSE', 'RADICO', datetime.date(2025, 11, 6), 3207.0, 3258.0, 3169.0, 3185.89990234375, 316849, 0], ['NSE', 'RADICO', datetime.date(2025, 11, 7), 3175.0, 3329.0, 3163.5, 3310.89990234375, 596731, 0], ['NSE', 'RADICO', datetime.date(2025, 11, 10), 3315.89990234375, 3319.0, 3247.0, 3259.60009765625, 188149, 0], ['NSE', 'RADICO', datetime.date(2025, 11, 11), 3259.60009765625, 3304.0, 3249.60009765625, 3275.60009765625, 222817, 0], ['NSE', 'RADICO', datetime.date(2025, 11, 12), 3288.0, 3357.0, 3273.0, 3302.699951171875, 357217, 0], ['NSE', 'RADICO', datetime.date(2025, 11, 13), 3319.0, 3319.0, 3179.0, 3187.10009765625, 239572, 0], ['NSE', 'RADICO', datetime.date(2025, 11, 14), 3186.0, 3265.699951171875, 3180.0, 3259.89990234375, 163688, 0], ['NSE', 'RADICO', datetime.date(2025, 11, 17), 3279.5, 3315.0, 3273.60009765625, 3285.39990234375, 234414, 0], ['NSE', 'RADICO', datetime.date(2025, 11, 18), 3299.0, 3311.89990234375, 3276.60009765625, 3290.800048828125, 268061, 0], ['NSE', 'RADICO', datetime.date(2025, 11, 19), 3299.0, 3301.0, 3225.199951171875, 3229.5, 214939, 0], ['NSE', 'RADICO', datetime.date(2025, 11, 20), 3262.0, 3591.89990234375, 3261.699951171875, 3368.0, 5902795, 0], ['NSE', 'RADICO', datetime.date(2025, 11, 21), 3395.0, 3447.199951171875, 3253.60009765625, 3273.10009765625, 1111713, 0], ['NSE', 'RADICO', datetime.date(2025, 11, 24), 3289.39990234375, 3332.10009765625, 3237.0, 3256.10009765625, 445431, 0], ['NSE', 'RADICO', datetime.date(2025, 11, 25), 3280.0, 3316.800048828125, 3270.0, 3284.5, 271029, 0], ['NSE', 'RADICO', datetime.date(2025, 11, 26), 3301.0, 3313.0, 3268.0, 3294.0, 259136, 0], ['NSE', 'RADICO', datetime.date(2025, 11, 27), 3307.5, 3308.0, 3145.0, 3160.199951171875, 324504, 0], ['NSE', 'RADICO', datetime.date(2025, 11, 28), 3183.0, 3245.0, 3165.800048828125, 3208.10009765625, 405458, 0]]
Row  3656  :  RADICO.NS  :  20  records inserted
[['BSE', '532867', datetime.date(2025, 11, 3), 2465.050048828125, 2572.0, 2428.699951171875, 2495.10009765625, 49930, 0], ['BSE', '532867', datetime.date(2025, 11, 4), 2525.0, 2525.0, 2440.85009765625, 2450.64990234375, 4325, 0], ['BSE', '532867', datetime.date(2025, 11, 6), 2350.0, 2419.050048828125, 2328.14990234375, 2328.14990234375, 5934, 0], ['BSE', '532867', datetime.date(2025, 11, 7), 2299.0, 2299.0, 2211.75, 2235.85009765625, 6775, 0], ['BSE', '532867', datetime.date(2025, 11, 10), 2279.5, 2284.949951171875, 2208.449951171875, 2235.25, 5535, 0], ['BSE', '532867', datetime.date(2025, 11, 11), 2210.050048828125, 2320.050048828125, 2210.050048828125, 2285.449951171875, 6378, 0], ['BSE', '532867', datetime.date(2025, 11, 12), 2262.050048828125, 2347.75, 2262.050048828125, 2315.199951171875, 7246, 0], ['BSE', '532867', datetime.date(2025, 11, 13), 2339.14990234375, 2375.0, 2317.75, 2330.85009765625, 6923, 0], ['BSE', '532867', datetime.date(2025, 11, 14), 2335.050048828125, 2406.75, 2335.050048828125, 2374.199951171875, 3504, 0], ['BSE', '532867', datetime.date(2025, 11, 17), 2492.89990234375, 2492.89990234375, 2323.300048828125, 2395.89990234375, 25547, 0], ['BSE', '532867', datetime.date(2025, 11, 18), 2350.14990234375, 2398.14990234375, 2310.800048828125, 2324.64990234375, 2512, 0], ['BSE', '532867', datetime.date(2025, 11, 19), 2344.949951171875, 2351.699951171875, 2312.0, 2319.60009765625, 6142, 0], ['BSE', '532867', datetime.date(2025, 11, 20), 2389.949951171875, 2435.550048828125, 2346.449951171875, 2391.050048828125, 144579, 0], ['BSE', '532867', datetime.date(2025, 11, 21), 2370.75, 2390.0, 2305.0, 2324.0, 3457, 0], ['BSE', '532867', datetime.date(2025, 11, 24), 2324.25, 2367.75, 2280.0, 2351.89990234375, 2590, 0], ['BSE', '532867', datetime.date(2025, 11, 25), 2398.89990234375, 2420.0, 2349.25, 2401.35009765625, 10021, 0], ['BSE', '532867', datetime.date(2025, 11, 26), 2410.0, 2505.0, 2410.0, 2496.949951171875, 10856, 0], ['BSE', '532867', datetime.date(2025, 11, 28), 2433.10009765625, 2465.0, 2410.199951171875, 2442.0, 3515, 0]]
Row  3657  :  532867.BO  :  18  records inserted
[['NSE', 'V2RETAIL', datetime.date(2025, 11, 3), 2519.800048828125, 2564.10009765625, 2430.0, 2495.60009765625, 367123, 0], ['NSE', 'V2RETAIL', datetime.date(2025, 11, 4), 2529.0, 2529.0, 2441.0, 2451.60009765625, 93551, 0], ['NSE', 'V2RETAIL', datetime.date(2025, 11, 5), 2451.60009765625, 2451.60009765625, 2451.60009765625, 2451.60009765625, 0, 0], ['NSE', 'V2RETAIL', datetime.date(2025, 11, 6), 2329.10009765625, 2422.0, 2329.10009765625, 2329.10009765625, 127993, 0], ['NSE', 'V2RETAIL', datetime.date(2025, 11, 7), 2212.699951171875, 2288.199951171875, 2212.699951171875, 2236.199951171875, 390288, 0], ['NSE', 'V2RETAIL', datetime.date(2025, 11, 10), 2255.0, 2287.0, 2205.199951171875, 2240.10009765625, 111944, 0], ['NSE', 'V2RETAIL', datetime.date(2025, 11, 11), 2221.10009765625, 2316.0, 2221.10009765625, 2284.5, 139804, 0], ['NSE', 'V2RETAIL', datetime.date(2025, 11, 12), 2311.800048828125, 2339.0, 2272.800048828125, 2309.89990234375, 99185, 0], ['NSE', 'V2RETAIL', datetime.date(2025, 11, 13), 2312.0, 2374.699951171875, 2312.0, 2336.10009765625, 98020, 0], ['NSE', 'V2RETAIL', datetime.date(2025, 11, 14), 2360.0, 2408.0, 2341.0, 2374.5, 119740, 0], ['NSE', 'V2RETAIL', datetime.date(2025, 11, 17), 2493.199951171875, 2493.199951171875, 2325.0, 2397.199951171875, 432976, 0], ['NSE', 'V2RETAIL', datetime.date(2025, 11, 18), 2400.0, 2401.60009765625, 2310.0, 2321.5, 64563, 0], ['NSE', 'V2RETAIL', datetime.date(2025, 11, 19), 2325.0, 2351.800048828125, 2310.0, 2318.89990234375, 50894, 0], ['NSE', 'V2RETAIL', datetime.date(2025, 11, 20), 2357.39990234375, 2434.800048828125, 2347.60009765625, 2391.60009765625, 206798, 0], ['NSE', 'V2RETAIL', datetime.date(2025, 11, 21), 2391.60009765625, 2391.699951171875, 2305.0, 2331.5, 98900, 0], ['NSE', 'V2RETAIL', datetime.date(2025, 11, 24), 2349.699951171875, 2374.699951171875, 2275.0, 2349.800048828125, 101743, 0], ['NSE', 'V2RETAIL', datetime.date(2025, 11, 25), 2390.0, 2420.0, 2351.199951171875, 2402.699951171875, 125185, 0], ['NSE', 'V2RETAIL', datetime.date(2025, 11, 26), 2402.699951171875, 2510.0, 2402.699951171875, 2492.5, 152713, 0], ['NSE', 'V2RETAIL', datetime.date(2025, 11, 27), 2520.699951171875, 2520.699951171875, 2425.5, 2432.39990234375, 72114, 0], ['NSE', 'V2RETAIL', datetime.date(2025, 11, 28), 2447.89990234375, 2470.0, 2410.10009765625, 2449.800048828125, 39144, 0]]
Row  3658  :  V2RETAIL.NS  :  20  records inserted

$511726.BO: possibly delisted; no timezone found

[['NSE', 'VIPULLTD', datetime.date(2025, 11, 3), 8.140000343322754, 8.140000343322754, 7.829999923706055, 7.949999809265137, 728196, 0], ['NSE', 'VIPULLTD', datetime.date(2025, 11, 4), 7.989999771118164, 8.739999771118164, 7.900000095367432, 8.739999771118164, 1109820, 0], ['NSE', 'VIPULLTD', datetime.date(2025, 11, 6), 9.050000190734863, 9.489999771118164, 8.819999694824219, 9.050000190734863, 1278923, 0], ['NSE', 'VIPULLTD', datetime.date(2025, 11, 7), 9.050000190734863, 9.649999618530273, 8.699999809265137, 8.729999542236328, 228958, 0], ['NSE', 'VIPULLTD', datetime.date(2025, 11, 10), 8.729999542236328, 9.550000190734863, 8.100000381469727, 8.800000190734863, 1310983, 0], ['NSE', 'VIPULLTD', datetime.date(2025, 11, 11), 8.800000190734863, 9.680000305175781, 8.630000114440918, 9.680000305175781, 1972498, 0], ['NSE', 'VIPULLTD', datetime.date(2025, 11, 12), 10.300000190734863, 10.569999694824219, 9.869999885559082, 9.920000076293945, 1159643, 0], ['NSE', 'VIPULLTD', datetime.date(2025, 11, 13), 9.90999984741211, 9.90999984741211, 9.40999984741211, 9.449999809265137, 262040, 0], ['NSE', 'VIPULLTD', datetime.date(2025, 11, 14), 9.619999885559082, 9.619999885559082, 9.050000190734863, 9.15999984741211, 162722, 0], ['NSE', 'VIPULLTD', datetime.date(2025, 11, 17), 9.300000190734863, 10.069999694824219, 8.850000381469727, 9.949999809265137, 889459, 0], ['NSE', 'VIPULLTD', datetime.date(2025, 11, 18), 10.0, 10.1899995803833, 9.40999984741211, 9.630000114440918, 478269, 0], ['NSE', 'VIPULLTD', datetime.date(2025, 11, 19), 9.84000015258789, 9.84000015258789, 9.0, 9.069999694824219, 310235, 0], ['NSE', 'VIPULLTD', datetime.date(2025, 11, 20), 9.069999694824219, 9.399999618530273, 9.010000228881836, 9.079999923706055, 146610, 0], ['NSE', 'VIPULLTD', datetime.date(2025, 11, 21), 9.329999923706055, 9.329999923706055, 8.800000190734863, 8.869999885559082, 211892, 0], ['NSE', 'VIPULLTD', datetime.date(2025, 11, 24), 8.8100004196167, 9.270000457763672, 8.550000190734863, 8.729999542236328, 118692, 0], ['NSE', 'VIPULLTD', datetime.date(2025, 11, 25), 8.800000190734863, 8.880000114440918, 8.430000305175781, 8.640000343322754, 298159, 0], ['NSE', 'VIPULLTD', datetime.date(2025, 11, 26), 9.010000228881836, 9.050000190734863, 8.699999809265137, 8.970000267028809, 142361, 0], ['NSE', 'VIPULLTD', datetime.date(2025, 11, 27), 9.119999885559082, 9.119999885559082, 8.609999656677246, 8.649999618530273, 217897, 0], ['NSE', 'VIPULLTD', datetime.date(2025, 11, 28), 8.609999656677246, 8.699999809265137, 8.390000343322754, 8.40999984741211, 199797, 0]]
Row  3660  :  VIPULLTD.NS  :  19  records inserted
[['BSE', '500404', datetime.date(2025, 11, 3), 267.6499938964844, 268.75, 264.95001220703125, 267.20001220703125, 2089, 0], ['BSE', '500404', datetime.date(2025, 11, 4), 268.5, 268.5, 262.8500061035156, 264.8500061035156, 1855, 0], ['BSE', '500404', datetime.date(2025, 11, 6), 260.0, 264.20001220703125, 258.0, 258.29998779296875, 1552, 0], ['BSE', '500404', datetime.date(2025, 11, 7), 256.8999938964844, 263.1000061035156, 254.60000610351562, 260.29998779296875, 2568, 0], ['BSE', '500404', datetime.date(2025, 11, 10), 260.70001220703125, 262.8500061035156, 259.1499938964844, 259.6000061035156, 1571, 0], ['BSE', '500404', datetime.date(2025, 11, 11), 260.70001220703125, 290.0, 259.0, 266.8500061035156, 20236, 0], ['BSE', '500404', datetime.date(2025, 11, 12), 268.1000061035156, 269.5, 264.79998779296875, 268.8500061035156, 4864, 0], ['BSE', '500404', datetime.date(2025, 11, 13), 269.79998779296875, 273.29998779296875, 266.8500061035156, 267.29998779296875, 9260, 0], ['BSE', '500404', datetime.date(2025, 11, 14), 258.70001220703125, 263.45001220703125, 257.8500061035156, 259.8999938964844, 5814, 0], ['BSE', '500404', datetime.date(2025, 11, 17), 260.04998779296875, 260.04998779296875, 255.75, 256.29998779296875, 727, 0], ['BSE', '500404', datetime.date(2025, 11, 18), 254.5500030517578, 255.39999389648438, 252.1999969482422, 252.5500030517578, 4705, 0], ['BSE', '500404', datetime.date(2025, 11, 19), 255.39999389648438, 255.39999389648438, 247.0500030517578, 248.64999389648438, 6870, 0], ['BSE', '500404', datetime.date(2025, 11, 20), 248.64999389648438, 250.39999389648438, 243.10000610351562, 244.60000610351562, 3962, 0], ['BSE', '500404', datetime.date(2025, 11, 21), 244.60000610351562, 254.0, 244.60000610351562, 247.5500030517578, 14286, 0], ['BSE', '500404', datetime.date(2025, 11, 24), 248.0, 253.1999969482422, 246.0500030517578, 246.64999389648438, 3908, 0], ['BSE', '500404', datetime.date(2025, 11, 25), 247.3000030517578, 251.75, 247.3000030517578, 250.0500030517578, 5932, 0], ['BSE', '500404', datetime.date(2025, 11, 26), 250.10000610351562, 255.85000610351562, 250.10000610351562, 255.0500030517578, 2470, 0], ['BSE', '500404', datetime.date(2025, 11, 28), 257.79998779296875, 257.79998779296875, 250.75, 254.10000610351562, 3445, 0]]
Row  3661  :  500404.BO  :  18  records inserted
[['NSE', 'SUNFLAG', datetime.date(2025, 11, 3), 265.1000061035156, 268.8999938964844, 265.0, 267.1000061035156, 67307, 0], ['NSE', 'SUNFLAG', datetime.date(2025, 11, 4), 265.20001220703125, 268.20001220703125, 262.1000061035156, 264.1000061035156, 70066, 0], ['NSE', 'SUNFLAG', datetime.date(2025, 11, 6), 264.1000061035156, 264.95001220703125, 257.0, 259.1000061035156, 85647, 0], ['NSE', 'SUNFLAG', datetime.date(2025, 11, 7), 257.5, 263.45001220703125, 254.0, 260.3500061035156, 111040, 0], ['NSE', 'SUNFLAG', datetime.date(2025, 11, 10), 260.04998779296875, 262.8999938964844, 258.8999938964844, 259.8500061035156, 72891, 0], ['NSE', 'SUNFLAG', datetime.date(2025, 11, 11), 260.5, 293.25, 258.0, 266.54998779296875, 378739, 0], ['NSE', 'SUNFLAG', datetime.date(2025, 11, 12), 267.8999938964844, 269.5, 264.1000061035156, 268.45001220703125, 148403, 0], ['NSE', 'SUNFLAG', datetime.date(2025, 11, 13), 269.79998779296875, 273.70001220703125, 266.6000061035156, 267.95001220703125, 171534, 0], ['NSE', 'SUNFLAG', datetime.date(2025, 11, 14), 260.0, 264.8999938964844, 257.8500061035156, 259.3500061035156, 168703, 0], ['NSE', 'SUNFLAG', datetime.date(2025, 11, 17), 260.1000061035156, 261.0, 255.60000610351562, 256.0, 86466, 0], ['NSE', 'SUNFLAG', datetime.date(2025, 11, 18), 256.5, 256.5, 252.0500030517578, 253.25, 59479, 0], ['NSE', 'SUNFLAG', datetime.date(2025, 11, 19), 254.0, 254.0, 247.5500030517578, 248.64999389648438, 105459, 0], ['NSE', 'SUNFLAG', datetime.date(2025, 11, 20), 248.64999389648438, 251.0, 243.10000610351562, 244.5, 123334, 0], ['NSE', 'SUNFLAG', datetime.date(2025, 11, 21), 247.14999389648438, 254.8000030517578, 245.5500030517578, 247.39999389648438, 278445, 0], ['NSE', 'SUNFLAG', datetime.date(2025, 11, 24), 248.10000610351562, 252.6999969482422, 245.64999389648438, 247.8000030517578, 137595, 0], ['NSE', 'SUNFLAG', datetime.date(2025, 11, 25), 247.0, 252.0, 247.0, 249.9499969482422, 111586, 0], ['NSE', 'SUNFLAG', datetime.date(2025, 11, 26), 250.10000610351562, 256.20001220703125, 250.10000610351562, 255.3000030517578, 59990, 0], ['NSE', 'SUNFLAG', datetime.date(2025, 11, 27), 256.0, 256.54998779296875, 251.14999389648438, 254.75, 69927, 0], ['NSE', 'SUNFLAG', datetime.date(2025, 11, 28), 256.5, 256.5, 250.5, 254.0500030517578, 71775, 0]]
Row  3662  :  SUNFLAG.NS  :  19  records inserted

$532998.BO: possibly delisted; no timezone found

[['NSE', 'LOTUSEYE', datetime.date(2025, 11, 3), 127.0, 131.27999877929688, 125.02999877929688, 131.1699981689453, 81699, 0], ['NSE', 'LOTUSEYE', datetime.date(2025, 11, 4), 133.0, 133.0, 124.69999694824219, 125.16999816894531, 61153, 0], ['NSE', 'LOTUSEYE', datetime.date(2025, 11, 5), 125.16999816894531, 125.16999816894531, 125.16999816894531, 125.16999816894531, 0, 0], ['NSE', 'LOTUSEYE', datetime.date(2025, 11, 6), 125.16999816894531, 128.0, 120.5999984741211, 123.2300033569336, 23598, 0], ['NSE', 'LOTUSEYE', datetime.date(2025, 11, 7), 125.0, 125.0, 117.1500015258789, 121.2300033569336, 7975, 0], ['NSE', 'LOTUSEYE', datetime.date(2025, 11, 10), 121.19999694824219, 123.0, 117.0, 117.41000366210938, 13322, 0], ['NSE', 'LOTUSEYE', datetime.date(2025, 11, 11), 116.23999786376953, 118.58999633789062, 115.0, 117.58999633789062, 12569, 0], ['NSE', 'LOTUSEYE', datetime.date(2025, 11, 12), 117.6500015258789, 118.5, 117.5, 117.70999908447266, 5049, 0], ['NSE', 'LOTUSEYE', datetime.date(2025, 11, 13), 116.1500015258789, 117.70999908447266, 114.01000213623047, 114.91999816894531, 21845, 0], ['NSE', 'LOTUSEYE', datetime.date(2025, 11, 14), 113.5999984741211, 115.87000274658203, 109.16999816894531, 110.7300033569336, 33837, 0], ['NSE', 'LOTUSEYE', datetime.date(2025, 11, 17), 107.95999908447266, 110.0, 106.0, 106.2699966430664, 17287, 0], ['NSE', 'LOTUSEYE', datetime.date(2025, 11, 18), 106.0, 107.80000305175781, 102.11000061035156, 103.75, 21933, 0], ['NSE', 'LOTUSEYE', datetime.date(2025, 11, 19), 105.77999877929688, 106.5999984741211, 104.0199966430664, 105.20999908447266, 3795, 0], ['NSE', 'LOTUSEYE', datetime.date(2025, 11, 20), 105.20999908447266, 107.5, 104.0999984741211, 105.33000183105469, 6171, 0], ['NSE', 'LOTUSEYE', datetime.date(2025, 11, 21), 105.33000183105469, 107.4800033569336, 105.0, 105.5999984741211, 2512, 0], ['NSE', 'LOTUSEYE', datetime.date(2025, 11, 24), 106.0, 107.98999786376953, 105.0, 105.0, 4450, 0], ['NSE', 'LOTUSEYE', datetime.date(2025, 11, 25), 105.0999984741211, 108.45999908447266, 105.0999984741211, 107.48999786376953, 4472, 0], ['NSE', 'LOTUSEYE', datetime.date(2025, 11, 26), 107.48999786376953, 109.25, 105.5, 106.0199966430664, 4942, 0], ['NSE', 'LOTUSEYE', datetime.date(2025, 11, 27), 106.0199966430664, 107.1500015258789, 105.0, 106.37000274658203, 2656, 0], ['NSE', 'LOTUSEYE', datetime.date(2025, 11, 28), 107.0, 107.4000015258789, 105.3499984741211, 105.6500015258789, 3732, 0]]
Row  3664  :  LOTUSEYE.NS  :  20  records inserted
[['BSE', '533137', datetime.date(2025, 11, 3), 33.79999923706055, 33.939998626708984, 33.119998931884766, 33.900001525878906, 10770, 0], ['BSE', '533137', datetime.date(2025, 11, 4), 33.5099983215332, 34.0, 33.29999923706055, 33.34000015258789, 13004, 0], ['BSE', '533137', datetime.date(2025, 11, 6), 33.36000061035156, 33.36000061035156, 32.65999984741211, 33.0099983215332, 2741, 0], ['BSE', '533137', datetime.date(2025, 11, 7), 33.400001525878906, 33.400001525878906, 32.36000061035156, 32.66999816894531, 11494, 0], ['BSE', '533137', datetime.date(2025, 11, 10), 33.400001525878906, 33.400001525878906, 32.15999984741211, 32.310001373291016, 23318, 0], ['BSE', '533137', datetime.date(2025, 11, 11), 32.959999084472656, 32.959999084472656, 31.90999984741211, 32.11000061035156, 19694, 0], ['BSE', '533137', datetime.date(2025, 11, 12), 32.189998626708984, 32.349998474121094, 32.029998779296875, 32.2400016784668, 22900, 0], ['BSE', '533137', datetime.date(2025, 11, 13), 32.150001525878906, 32.36000061035156, 31.809999465942383, 32.27000045776367, 32288, 0], ['BSE', '533137', datetime.date(2025, 11, 14), 31.610000610351562, 32.16999816894531, 31.610000610351562, 31.860000610351562, 11071, 0], ['BSE', '533137', datetime.date(2025, 11, 17), 31.309999465942383, 33.18000030517578, 31.309999465942383, 32.33000183105469, 25065, 0], ['BSE', '533137', datetime.date(2025, 11, 18), 31.510000228881836, 32.40999984741211, 31.510000228881836, 31.969999313354492, 14750, 0], ['BSE', '533137', datetime.date(2025, 11, 19), 31.969999313354492, 32.060001373291016, 31.809999465942383, 31.90999984741211, 17801, 0], ['BSE', '533137', datetime.date(2025, 11, 20), 31.899999618530273, 32.209999084472656, 31.59000015258789, 31.709999084472656, 37796, 0], ['BSE', '533137', datetime.date(2025, 11, 21), 31.59000015258789, 31.59000015258789, 31.219999313354492, 31.309999465942383, 15517, 0], ['BSE', '533137', datetime.date(2025, 11, 24), 31.299999237060547, 31.31999969482422, 29.299999237060547, 30.350000381469727, 140160, 0], ['BSE', '533137', datetime.date(2025, 11, 25), 30.399999618530273, 31.450000762939453, 30.360000610351562, 30.670000076293945, 8788, 0], ['BSE', '533137', datetime.date(2025, 11, 26), 30.700000762939453, 31.889999389648438, 30.700000762939453, 31.559999465942383, 17006, 0], ['BSE', '533137', datetime.date(2025, 11, 28), 32.0, 32.380001068115234, 31.639999389648438, 32.029998779296875, 18823, 0]]
Row  3665  :  533137.BO  :  18  records inserted
[['NSE', 'DEN', datetime.date(2025, 11, 3), 33.400001525878906, 33.70000076293945, 33.119998931884766, 33.599998474121094, 268626, 0], ['NSE', 'DEN', datetime.date(2025, 11, 4), 33.59000015258789, 34.0099983215332, 33.25, 33.33000183105469, 309599, 0], ['NSE', 'DEN', datetime.date(2025, 11, 5), 33.33000183105469, 33.33000183105469, 33.33000183105469, 33.33000183105469, 0, 0], ['NSE', 'DEN', datetime.date(2025, 11, 6), 33.45000076293945, 33.45000076293945, 32.66999816894531, 32.90999984741211, 208846, 0], ['NSE', 'DEN', datetime.date(2025, 11, 7), 32.97999954223633, 33.02000045776367, 32.400001525878906, 32.650001525878906, 319671, 0], ['NSE', 'DEN', datetime.date(2025, 11, 10), 32.650001525878906, 32.68000030517578, 32.099998474121094, 32.29999923706055, 438199, 0], ['NSE', 'DEN', datetime.date(2025, 11, 11), 32.5, 32.5, 31.899999618530273, 32.099998474121094, 340863, 0], ['NSE', 'DEN', datetime.date(2025, 11, 12), 32.2400016784668, 32.349998474121094, 32.029998779296875, 32.20000076293945, 204225, 0], ['NSE', 'DEN', datetime.date(2025, 11, 13), 32.25, 32.439998626708984, 31.850000381469727, 31.959999084472656, 284175, 0], ['NSE', 'DEN', datetime.date(2025, 11, 14), 31.899999618530273, 31.989999771118164, 31.65999984741211, 31.790000915527344, 206843, 0], ['NSE', 'DEN', datetime.date(2025, 11, 17), 31.75, 33.20000076293945, 31.75, 32.290000915527344, 545713, 0], ['NSE', 'DEN', datetime.date(2025, 11, 18), 32.31999969482422, 32.400001525878906, 31.81999969482422, 31.959999084472656, 283416, 0], ['NSE', 'DEN', datetime.date(2025, 11, 19), 31.989999771118164, 32.040000915527344, 31.790000915527344, 31.899999618530273, 151816, 0], ['NSE', 'DEN', datetime.date(2025, 11, 20), 31.93000030517578, 32.150001525878906, 31.399999618530273, 31.649999618530273, 325572, 0], ['NSE', 'DEN', datetime.date(2025, 11, 21), 31.5, 31.59000015258789, 31.200000762939453, 31.270000457763672, 253739, 0], ['NSE', 'DEN', datetime.date(2025, 11, 24), 31.5, 31.5, 29.5, 30.31999969482422, 799846, 0], ['NSE', 'DEN', datetime.date(2025, 11, 25), 30.139999389648438, 31.350000381469727, 30.139999389648438, 30.739999771118164, 449775, 0], ['NSE', 'DEN', datetime.date(2025, 11, 26), 30.81999969482422, 31.649999618530273, 30.809999465942383, 31.469999313354492, 258242, 0], ['NSE', 'DEN', datetime.date(2025, 11, 27), 31.520000457763672, 32.31999969482422, 31.5, 32.029998779296875, 398937, 0], ['NSE', 'DEN', datetime.date(2025, 11, 28), 32.029998779296875, 32.31999969482422, 31.780000686645508, 32.02000045776367, 211417, 0]]
Row  3666  :  DEN.NS  :  20  records inserted
[['BSE', '540222', datetime.date(2025, 11, 3), 959.0999755859375, 979.5, 956.0, 975.1500244140625, 80237, 0], ['BSE', '540222', datetime.date(2025, 11, 4), 978.0, 985.5499877929688, 971.0, 983.0499877929688, 69193, 0], ['BSE', '540222', datetime.date(2025, 11, 6), 983.4500122070312, 994.5999755859375, 974.9500122070312, 978.9500122070312, 708903, 0], ['BSE', '540222', datetime.date(2025, 11, 7), 973.7000122070312, 989.7999877929688, 973.7000122070312, 982.5, 25081, 0], ['BSE', '540222', datetime.date(2025, 11, 10), 983.2999877929688, 1002.6500244140625, 983.2999877929688, 1001.4500122070312, 98030, 0], ['BSE', '540222', datetime.date(2025, 11, 11), 1001.0499877929688, 1005.0, 970.0499877929688, 985.9000244140625, 84790, 0], ['BSE', '540222', datetime.date(2025, 11, 12), 986.0499877929688, 998.0, 985.0, 989.2000122070312, 34881, 0], ['BSE', '540222', datetime.date(2025, 11, 13), 988.2999877929688, 1004.5499877929688, 986.0999755859375, 997.0499877929688, 22324, 0], ['BSE', '540222', datetime.date(2025, 11, 14), 1003.5, 1014.9500122070312, 992.5, 997.8499755859375, 60495, 0], ['BSE', '540222', datetime.date(2025, 11, 17), 1004.7000122070312, 1025.0, 997.5999755859375, 1022.2999877929688, 58420, 0], ['BSE', '540222', datetime.date(2025, 11, 18), 1022.5999755859375, 1033.550048828125, 1000.0499877929688, 1006.0, 141278, 0], ['BSE', '540222', datetime.date(2025, 11, 19), 1007.1500244140625, 1014.4500122070312, 982.2000122070312, 987.4000244140625, 53377, 0], ['BSE', '540222', datetime.date(2025, 11, 20), 990.0499877929688, 993.4000244140625, 971.0, 987.2000122070312, 18000, 0], ['BSE', '540222', datetime.date(2025, 11, 21), 995.2000122070312, 995.2000122070312, 974.9500122070312, 977.5499877929688, 47563, 0], ['BSE', '540222', datetime.date(2025, 11, 24), 980.0, 988.0, 974.5, 980.6500244140625, 15538, 0], ['BSE', '540222', datetime.date(2025, 11, 25), 988.5, 988.5, 972.0999755859375, 979.9000244140625, 300203, 0], ['BSE', '540222', datetime.date(2025, 11, 26), 984.5999755859375, 989.5999755859375, 973.0, 985.5, 47835, 0], ['BSE', '540222', datetime.date(2025, 11, 28), 1008.0499877929688, 1032.550048828125, 1008.0499877929688, 1031.3499755859375, 151584, 0]]
Row  3667  :  540222.BO  :  18  records inserted
[['NSE', 'LAURUSLABS', datetime.date(2025, 11, 3), 957.9500122070312, 979.5999755859375, 955.7000122070312, 975.4000244140625, 1954182, 0], ['NSE', 'LAURUSLABS', datetime.date(2025, 11, 4), 978.0, 986.0, 970.5499877929688, 983.1500244140625, 2347486, 0], ['NSE', 'LAURUSLABS', datetime.date(2025, 11, 5), 983.1500244140625, 983.1500244140625, 983.1500244140625, 983.1500244140625, 0, 0], ['NSE', 'LAURUSLABS', datetime.date(2025, 11, 6), 985.0, 994.7999877929688, 975.5, 979.7999877929688, 1667068, 0], ['NSE', 'LAURUSLABS', datetime.date(2025, 11, 7), 977.0, 989.7999877929688, 975.0, 982.1500244140625, 1087182, 0], ['NSE', 'LAURUSLABS', datetime.date(2025, 11, 10), 985.0, 1004.0, 983.0, 1001.0499877929688, 1569187, 0], ['NSE', 'LAURUSLABS', datetime.date(2025, 11, 11), 1001.0499877929688, 1005.0, 970.3499755859375, 985.7000122070312, 1828103, 0], ['NSE', 'LAURUSLABS', datetime.date(2025, 11, 12), 994.0, 997.4000244140625, 984.8499755859375, 989.25, 1468376, 0], ['NSE', 'LAURUSLABS', datetime.date(2025, 11, 13), 989.25, 1005.0, 984.6500244140625, 997.0499877929688, 1039405, 0], ['NSE', 'LAURUSLABS', datetime.date(2025, 11, 14), 1001.2000122070312, 1014.4000244140625, 992.9500122070312, 999.0, 1785705, 0], ['NSE', 'LAURUSLABS', datetime.date(2025, 11, 17), 1001.0499877929688, 1025.0, 997.2999877929688, 1021.8499755859375, 1696744, 0], ['NSE', 'LAURUSLABS', datetime.date(2025, 11, 18), 1028.0, 1033.5, 1000.5999755859375, 1006.9000244140625, 2922214, 0], ['NSE', 'LAURUSLABS', datetime.date(2025, 11, 19), 1010.0, 1010.0, 982.1500244140625, 987.5, 1288996, 0], ['NSE', 'LAURUSLABS', datetime.date(2025, 11, 20), 990.0, 993.9000244140625, 970.25, 987.0999755859375, 1375536, 0], ['NSE', 'LAURUSLABS', datetime.date(2025, 11, 21), 988.5999755859375, 994.1500244140625, 975.0999755859375, 978.2000122070312, 1425481, 0], ['NSE', 'LAURUSLABS', datetime.date(2025, 11, 24), 979.0, 988.7000122070312, 974.5, 979.5499877929688, 1348847, 0], ['NSE', 'LAURUSLABS', datetime.date(2025, 11, 25), 982.0, 988.0, 971.4000244140625, 977.5499877929688, 1005154, 0], ['NSE', 'LAURUSLABS', datetime.date(2025, 11, 26), 981.0, 989.4500122070312, 973.3499755859375, 986.5999755859375, 2951910, 0], ['NSE', 'LAURUSLABS', datetime.date(2025, 11, 27), 990.0, 1011.9000244140625, 981.0999755859375, 1003.2000122070312, 2606483, 0], ['NSE', 'LAURUSLABS', datetime.date(2025, 11, 28), 1007.0, 1032.75, 1006.5, 1031.3499755859375, 2486519, 0]]
Row  3668  :  LAURUSLABS.NS  :  20  records inserted
[['BSE', '517562', datetime.date(2025, 11, 3), 76.9000015258789, 76.9000015258789, 76.0, 76.0, 691, 0], ['BSE', '517562', datetime.date(2025, 11, 4), 75.06999969482422, 75.5999984741211, 74.20999908447266, 75.29000091552734, 3066, 0], ['BSE', '517562', datetime.date(2025, 11, 6), 75.0, 75.0, 73.25, 73.26000213623047, 4245, 0], ['BSE', '517562', datetime.date(2025, 11, 7), 71.01000213623047, 73.98999786376953, 71.01000213623047, 72.5199966430664, 1374, 0], ['BSE', '517562', datetime.date(2025, 11, 10), 73.0, 74.9000015258789, 72.0, 72.41000366210938, 7067, 0], ['BSE', '517562', datetime.date(2025, 11, 11), 72.41000366210938, 72.41000366210938, 70.4000015258789, 71.88999938964844, 1898, 0], ['BSE', '517562', datetime.date(2025, 11, 12), 71.88999938964844, 72.88999938964844, 71.88999938964844, 72.66000366210938, 1337, 0], ['BSE', '517562', datetime.date(2025, 11, 13), 71.66000366210938, 73.0, 71.66000366210938, 73.0, 784, 0], ['BSE', '517562', datetime.date(2025, 11, 14), 76.5999984741211, 76.6500015258789, 75.0, 76.6500015258789, 10504, 0], ['BSE', '517562', datetime.date(2025, 11, 17), 77.5, 77.5, 73.01000213623047, 74.9000015258789, 6425, 0], ['BSE', '517562', datetime.date(2025, 11, 18), 74.0, 74.0, 71.5, 73.83999633789062, 2464, 0], ['BSE', '517562', datetime.date(2025, 11, 19), 71.5, 72.0, 70.6500015258789, 72.0, 4431, 0], ['BSE', '517562', datetime.date(2025, 11, 20), 70.55000305175781, 72.75, 70.55000305175781, 70.87000274658203, 1352, 0], ['BSE', '517562', datetime.date(2025, 11, 21), 71.4000015258789, 71.4000015258789, 70.0, 71.0, 2714, 0], ['BSE', '517562', datetime.date(2025, 11, 24), 70.80000305175781, 70.80000305175781, 70.01000213623047, 70.11000061035156, 352, 0], ['BSE', '517562', datetime.date(2025, 11, 25), 70.0999984741211, 71.5, 70.0, 71.48999786376953, 446, 0], ['BSE', '517562', datetime.date(2025, 11, 26), 71.48999786376953, 71.48999786376953, 69.72000122070312, 70.79000091552734, 63, 0], ['BSE', '517562', datetime.date(2025, 11, 28), 70.44999694824219, 71.4000015258789, 70.01000213623047, 70.26000213623047, 1408, 0]]
Row  3669  :  517562.BO  :  18  records inserted
[['NSE', 'TRIGYN', datetime.date(2025, 11, 3), 75.1500015258789, 77.0, 75.1500015258789, 76.1500015258789, 9158, 0], ['NSE', 'TRIGYN', datetime.date(2025, 11, 4), 77.4800033569336, 77.4800033569336, 74.01000213623047, 74.44999694824219, 18372, 0], ['NSE', 'TRIGYN', datetime.date(2025, 11, 6), 75.98999786376953, 75.98999786376953, 73.5, 73.88999938964844, 10405, 0], ['NSE', 'TRIGYN', datetime.date(2025, 11, 7), 74.25, 74.25, 72.0, 73.41000366210938, 20405, 0], ['NSE', 'TRIGYN', datetime.date(2025, 11, 10), 74.4800033569336, 75.0, 71.2300033569336, 72.11000061035156, 18631, 0], ['NSE', 'TRIGYN', datetime.date(2025, 11, 11), 73.97000122070312, 73.97000122070312, 70.55999755859375, 70.98999786376953, 27360, 0], ['NSE', 'TRIGYN', datetime.date(2025, 11, 12), 72.0, 72.5999984741211, 71.05000305175781, 72.48999786376953, 10469, 0], ['NSE', 'TRIGYN', datetime.date(2025, 11, 13), 72.0, 73.86000061035156, 71.0, 72.30999755859375, 33308, 0], ['NSE', 'TRIGYN', datetime.date(2025, 11, 14), 75.91999816894531, 75.91999816894531, 74.0, 75.91999816894531, 33131, 0], ['NSE', 'TRIGYN', datetime.date(2025, 11, 17), 78.5, 78.5, 73.5, 73.91999816894531, 16104, 0], ['NSE', 'TRIGYN', datetime.date(2025, 11, 18), 73.80000305175781, 74.69999694824219, 71.0, 72.3499984741211, 24987, 0], ['NSE', 'TRIGYN', datetime.date(2025, 11, 19), 72.30000305175781, 72.30000305175781, 71.0199966430664, 71.55999755859375, 13618, 0], ['NSE', 'TRIGYN', datetime.date(2025, 11, 20), 69.76000213623047, 73.48999786376953, 69.76000213623047, 71.30999755859375, 18333, 0], ['NSE', 'TRIGYN', datetime.date(2025, 11, 21), 69.76000213623047, 72.94999694824219, 69.76000213623047, 70.62999725341797, 22231, 0], ['NSE', 'TRIGYN', datetime.date(2025, 11, 24), 69.76000213623047, 71.38999938964844, 69.76000213623047, 70.0999984741211, 15197, 0], ['NSE', 'TRIGYN', datetime.date(2025, 11, 25), 71.4000015258789, 71.8499984741211, 70.0, 70.45999908447266, 29607, 0], ['NSE', 'TRIGYN', datetime.date(2025, 11, 26), 70.80999755859375, 72.0, 69.76000213623047, 70.58000183105469, 28000, 0], ['NSE', 'TRIGYN', datetime.date(2025, 11, 27), 71.3499984741211, 71.80000305175781, 70.0, 70.26000213623047, 15611, 0], ['NSE', 'TRIGYN', datetime.date(2025, 11, 28), 70.05000305175781, 71.98999786376953, 69.61000061035156, 71.33999633789062, 13476, 0]]
Row  3670  :  TRIGYN.NS  :  19  records inserted
[['BSE', '533169', datetime.date(2025, 11, 3), 149.44811562201673, 149.44811562201673, 145.01301277457839, 145.31201171875, 19817, 0], ['BSE', '533169', datetime.date(2025, 11, 4), 144.3651890837004, 147.15580523925038, 143.6176993546672, 144.3153533935547, 18091, 0], ['BSE', '533169', datetime.date(2025, 11, 6), 143.61769985383822, 144.71400900226686, 135.5946403594526, 136.59129333496094, 50937, 0], ['BSE', '533169', datetime.date(2025, 11, 7), 135.4949705827924, 136.391967395999, 131.1595392126392, 134.89698791503906, 52513, 0], ['BSE', '533169', datetime.date(2025, 11, 10), 136.44178537518732, 137.58794541418604, 134.29898757489016, 135.14614868164062, 8837, 0], ['BSE', '533169', datetime.date(2025, 11, 11), 133.40201054080057, 134.19932077706306, 130.66121478242394, 133.15284729003906, 39612, 0], ['BSE', '533169', datetime.date(2025, 11, 12), 133.15284274360886, 137.73743727645146, 131.90702653233902, 135.14614868164062, 49788, 0], ['BSE', '533169', datetime.date(2025, 11, 13), 136.989961966192, 138.63444866276058, 131.65787714545138, 132.20602416992188, 104375, 0], ['BSE', '533169', datetime.date(2025, 11, 14), 132.35552978515625, 135.04649001324918, 129.91373282277044, 132.35552978515625, 50128, 0], ['BSE', '533169', datetime.date(2025, 11, 17), 132.8538550715756, 134.59799791518066, 131.657874448933, 134.0, 15091, 0], ['BSE', '533169', datetime.date(2025, 11, 18), 134.0, 134.3000030517578, 129.6999969482422, 130.14999389648438, 46039, 0], ['BSE', '533169', datetime.date(2025, 11, 19), 130.14999389648438, 131.35000610351562, 125.75, 127.9000015258789, 96027, 0], ['BSE', '533169', datetime.date(2025, 11, 20), 130.0500030517578, 130.0500030517578, 125.0, 125.25, 36860, 0], ['BSE', '533169', datetime.date(2025, 11, 21), 125.30000305175781, 125.30000305175781, 122.4000015258789, 123.19999694824219, 40296, 0], ['BSE', '533169', datetime.date(2025, 11, 24), 122.8499984741211, 122.8499984741211, 117.0, 119.25, 70288, 0], ['BSE', '533169', datetime.date(2025, 11, 25), 117.0, 123.69999694824219, 117.0, 122.55000305175781, 50857, 0], ['BSE', '533169', datetime.date(2025, 11, 26), 122.5999984741211, 129.5, 122.5999984741211, 127.30000305175781, 93029, 0], ['BSE', '533169', datetime.date(2025, 11, 28), 129.89999389648438, 130.0500030517578, 127.5, 128.0500030517578, 29713, 0]]
Row  3671  :  533169.BO  :  18  records inserted

$531795.BO: possibly delisted; no timezone found

[['NSE', 'ATULAUTO', datetime.date(2025, 11, 3), 485.25, 488.3999938964844, 478.0, 479.29998779296875, 69211, 0], ['NSE', 'ATULAUTO', datetime.date(2025, 11, 4), 478.0, 486.8500061035156, 475.1000061035156, 477.8500061035156, 57069, 0], ['NSE', 'ATULAUTO', datetime.date(2025, 11, 5), 477.8500061035156, 477.8500061035156, 477.8500061035156, 477.8500061035156, 0, 0], ['NSE', 'ATULAUTO', datetime.date(2025, 11, 6), 476.8999938964844, 476.8999938964844, 452.0, 454.6499938964844, 164804, 0], ['NSE', 'ATULAUTO', datetime.date(2025, 11, 7), 450.0, 452.75, 434.3999938964844, 445.75, 159843, 0], ['NSE', 'ATULAUTO', datetime.date(2025, 11, 10), 443.0, 448.04998779296875, 438.3999938964844, 445.75, 66777, 0], ['NSE', 'ATULAUTO', datetime.date(2025, 11, 11), 453.6499938964844, 508.79998779296875, 439.0, 487.70001220703125, 4007029, 0], ['NSE', 'ATULAUTO', datetime.date(2025, 11, 12), 480.0, 503.8999938964844, 475.3500061035156, 479.1000061035156, 639053, 0], ['NSE', 'ATULAUTO', datetime.date(2025, 11, 13), 479.1499938964844, 484.79998779296875, 470.0, 472.04998779296875, 135657, 0], ['NSE', 'ATULAUTO', datetime.date(2025, 11, 14), 472.04998779296875, 474.75, 464.1000061035156, 466.25, 75027, 0], ['NSE', 'ATULAUTO', datetime.date(2025, 11, 17), 468.0, 475.8999938964844, 466.25, 470.79998779296875, 72744, 0], ['NSE', 'ATULAUTO', datetime.date(2025, 11, 18), 470.79998779296875, 475.0, 461.0, 462.70001220703125, 62622, 0], ['NSE', 'ATULAUTO', datetime.date(2025, 11, 19), 459.5, 465.75, 459.5, 461.54998779296875, 63992, 0], ['NSE', 'ATULAUTO', datetime.date(2025, 11, 20), 463.0, 463.0, 455.1000061035156, 457.8999938964844, 62274, 0], ['NSE', 'ATULAUTO', datetime.date(2025, 11, 21), 458.3500061035156, 459.04998779296875, 448.0, 449.5, 45180, 0], ['NSE', 'ATULAUTO', datetime.date(2025, 11, 24), 451.04998779296875, 463.8999938964844, 444.04998779296875, 447.45001220703125, 94317, 0], ['NSE', 'ATULAUTO', datetime.date(2025, 11, 25), 447.45001220703125, 454.45001220703125, 447.1000061035156, 449.29998779296875, 54710, 0], ['NSE', 'ATULAUTO', datetime.date(2025, 11, 26), 449.75, 466.5, 449.75, 460.8500061035156, 102911, 0], ['NSE', 'ATULAUTO', datetime.date(2025, 11, 27), 462.70001220703125, 476.0, 462.70001220703125, 467.79998779296875, 152802, 0], ['NSE', 'ATULAUTO', datetime.date(2025, 11, 28), 468.04998779296875, 475.0, 467.79998779296875, 473.04998779296875, 83678, 0]]
Row  3682  :  ATULAUTO.NS  :  20  records inserted

$532953.BO: possibly delisted; no timezone found
$515145.BO: possibly delisted; no price data found  (1d 2025-11-01 -> 2025-12-01)

[['NSE', 'VGUARD', datetime.date(2025, 11, 3), 363.0, 380.79998779296875, 363.0, 369.70001220703125, 1124381, 0], ['NSE', 'VGUARD', datetime.date(2025, 11, 4), 370.5, 377.5, 364.29998779296875, 373.3500061035156, 325193, 0], ['NSE', 'VGUARD', datetime.date(2025, 11, 5), 373.3500061035156, 373.3500061035156, 373.3500061035156, 373.3500061035156, 0, 0], ['NSE', 'VGUARD', datetime.date(2025, 11, 6), 379.6499938964844, 379.6499938964844, 365.8999938964844, 369.20001220703125, 353604, 0], ['NSE', 'VGUARD', datetime.date(2025, 11, 7), 369.20001220703125, 369.25, 359.0, 360.95001220703125, 186528, 0], ['NSE', 'VGUARD', datetime.date(2025, 11, 10), 360.1000061035156, 362.6000061035156, 353.0, 359.0, 357643, 0], ['NSE', 'VGUARD', datetime.date(2025, 11, 11), 358.1000061035156, 359.95001220703125, 354.6000061035156, 357.1000061035156, 94320, 0], ['NSE', 'VGUARD', datetime.date(2025, 11, 12), 359.6000061035156, 359.6000061035156, 353.8999938964844, 355.1499938964844, 115598, 0], ['NSE', 'VGUARD', datetime.date(2025, 11, 13), 356.3999938964844, 359.25, 353.95001220703125, 354.29998779296875, 121080, 0], ['NSE', 'VGUARD', datetime.date(2025, 11, 14), 354.29998779296875, 355.8500061035156, 349.79998779296875, 351.25, 119744, 0], ['NSE', 'VGUARD', datetime.date(2025, 11, 17), 351.25, 354.0, 350.0, 350.95001220703125, 130938, 0], ['NSE', 'VGUARD', datetime.date(2025, 11, 18), 351.0, 352.3999938964844, 348.6000061035156, 349.3999938964844, 96658, 0], ['NSE', 'VGUARD', datetime.date(2025, 11, 19), 351.0, 351.8999938964844, 346.6000061035156, 348.3999938964844, 110983, 0], ['NSE', 'VGUARD', datetime.date(2025, 11, 20), 351.0, 351.0, 346.25, 347.8999938964844, 68174, 0], ['NSE', 'VGUARD', datetime.date(2025, 11, 21), 347.3999938964844, 348.75, 342.25, 345.8500061035156, 624092, 0], ['NSE', 'VGUARD', datetime.date(2025, 11, 24), 345.0, 350.8500061035156, 342.1499938964844, 349.3500061035156, 281776, 0], ['NSE', 'VGUARD', datetime.date(2025, 11, 25), 350.95001220703125, 350.95001220703125, 338.8999938964844, 341.20001220703125, 2391688, 0], ['NSE', 'VGUARD', datetime.date(2025, 11, 26), 341.20001220703125, 343.3999938964844, 340.1000061035156, 340.8500061035156, 106716, 0], ['NSE', 'VGUARD', datetime.date(2025, 11, 27), 344.0, 344.0, 335.3999938964844, 338.6000061035156, 144682, 0], ['NSE', 'VGUARD', datetime.date(2025, 11, 28), 338.6000061035156, 344.8999938964844, 336.20001220703125, 344.29998779296875, 110207, 0]]
Row  3684  :  VGUARD.NS  :  20  records inserted

$HINDNATGLS.NS: possibly delisted; no price data found  (1d 2025-11-01 -> 2025-12-01) (Yahoo error = "No data found, symbol may be delisted")
$532826.BO: possibly delisted; no timezone found

[['NSE', 'RAJTV', datetime.date(2025, 11, 3), 40.099998474121094, 42.4900016784668, 40.099998474121094, 40.599998474121094, 1710, 0], ['NSE', 'RAJTV', datetime.date(2025, 11, 4), 42.7400016784668, 42.7400016784668, 41.0, 41.4900016784668, 2156, 0], ['NSE', 'RAJTV', datetime.date(2025, 11, 6), 41.4900016784668, 41.4900016784668, 38.5, 39.650001525878906, 10725, 0], ['NSE', 'RAJTV', datetime.date(2025, 11, 7), 39.650001525878906, 40.349998474121094, 39.650001525878906, 40.02000045776367, 2383, 0], ['NSE', 'RAJTV', datetime.date(2025, 11, 10), 40.220001220703125, 40.9900016784668, 37.04999923706055, 38.27000045776367, 20328, 0], ['NSE', 'RAJTV', datetime.date(2025, 11, 11), 37.65999984741211, 38.29999923706055, 37.0, 37.599998474121094, 8384, 0], ['NSE', 'RAJTV', datetime.date(2025, 11, 12), 37.66999816894531, 38.0, 36.70000076293945, 37.459999084472656, 9105, 0], ['NSE', 'RAJTV', datetime.date(2025, 11, 13), 38.0099983215332, 38.939998626708984, 37.0, 37.13999938964844, 12949, 0], ['NSE', 'RAJTV', datetime.date(2025, 11, 14), 37.13999938964844, 38.18000030517578, 36.79999923706055, 37.349998474121094, 6043, 0], ['NSE', 'RAJTV', datetime.date(2025, 11, 17), 37.29999923706055, 38.79999923706055, 37.0, 37.189998626708984, 4448, 0], ['NSE', 'RAJTV', datetime.date(2025, 11, 18), 37.939998626708984, 37.95000076293945, 36.81999969482422, 37.38999938964844, 4940, 0], ['NSE', 'RAJTV', datetime.date(2025, 11, 19), 37.939998626708984, 37.939998626708984, 36.75, 37.349998474121094, 4363, 0], ['NSE', 'RAJTV', datetime.date(2025, 11, 20), 37.58000183105469, 38.70000076293945, 37.09000015258789, 38.540000915527344, 8439, 0], ['NSE', 'RAJTV', datetime.date(2025, 11, 21), 40.0, 41.220001220703125, 38.189998626708984, 40.34000015258789, 40533, 0], ['NSE', 'RAJTV', datetime.date(2025, 11, 24), 40.34000015258789, 41.97999954223633, 40.0, 40.779998779296875, 7953, 0], ['NSE', 'RAJTV', datetime.date(2025, 11, 25), 40.9900016784668, 41.54999923706055, 40.0099983215332, 41.4900016784668, 1925, 0], ['NSE', 'RAJTV', datetime.date(2025, 11, 26), 39.150001525878906, 42.900001525878906, 39.150001525878906, 40.630001068115234, 6138, 0], ['NSE', 'RAJTV', datetime.date(2025, 11, 27), 40.61000061035156, 41.90999984741211, 40.0099983215332, 41.68000030517578, 10261, 0], ['NSE', 'RAJTV', datetime.date(2025, 11, 28), 41.849998474121094, 42.849998474121094, 41.5, 42.11000061035156, 7826, 0]]
Row  3688  :  RAJTV.NS  :  19  records inserted
[['NSE', 'JSFB', datetime.date(2025, 11, 3), 465.0, 484.0, 462.1499938964844, 482.5, 295621, 0], ['NSE', 'JSFB', datetime.date(2025, 11, 4), 482.0, 487.8999938964844, 480.8500061035156, 486.95001220703125, 206639, 0], ['NSE', 'JSFB', datetime.date(2025, 11, 6), 481.0, 483.45001220703125, 463.75, 465.3500061035156, 117125, 0], ['NSE', 'JSFB', datetime.date(2025, 11, 7), 469.5, 477.54998779296875, 457.3999938964844, 476.25, 271806, 0], ['NSE', 'JSFB', datetime.date(2025, 11, 10), 476.25, 480.0, 464.70001220703125, 465.8999938964844, 143335, 0], ['NSE', 'JSFB', datetime.date(2025, 11, 11), 470.0, 470.0, 456.20001220703125, 458.29998779296875, 435655, 0], ['NSE', 'JSFB', datetime.date(2025, 11, 12), 460.0, 461.25, 443.8999938964844, 446.29998779296875, 931019, 0], ['NSE', 'JSFB', datetime.date(2025, 11, 13), 448.0, 461.79998779296875, 446.3500061035156, 458.1000061035156, 397051, 0], ['NSE', 'JSFB', datetime.date(2025, 11, 14), 453.20001220703125, 468.0, 452.29998779296875, 464.54998779296875, 267764, 0], ['NSE', 'JSFB', datetime.date(2025, 11, 17), 468.8999938964844, 470.0, 454.8999938964844, 462.95001220703125, 413628, 0], ['NSE', 'JSFB', datetime.date(2025, 11, 18), 462.95001220703125, 465.8999938964844, 456.0, 456.6000061035156, 137459, 0], ['NSE', 'JSFB', datetime.date(2025, 11, 19), 460.0, 460.0, 450.0, 457.1499938964844, 89130, 0], ['NSE', 'JSFB', datetime.date(2025, 11, 20), 460.0, 461.70001220703125, 453.04998779296875, 455.3500061035156, 67428, 0], ['NSE', 'JSFB', datetime.date(2025, 11, 21), 452.5, 457.0, 448.0, 449.3500061035156, 80508, 0], ['NSE', 'JSFB', datetime.date(2025, 11, 24), 449.3500061035156, 459.0, 443.8500061035156, 454.54998779296875, 193047, 0], ['NSE', 'JSFB', datetime.date(2025, 11, 25), 450.0, 454.54998779296875, 445.0, 446.5, 99432, 0], ['NSE', 'JSFB', datetime.date(2025, 11, 26), 447.95001220703125, 456.0, 445.0, 453.5, 85101, 0], ['NSE', 'JSFB', datetime.date(2025, 11, 27), 456.0, 456.20001220703125, 445.25, 451.20001220703125, 135084, 0], ['NSE', 'JSFB', datetime.date(2025, 11, 28), 448.95001220703125, 458.79998779296875, 448.0, 453.70001220703125, 93461, 0]]
Row  3689  :  JSFB.NS  :  19  records inserted
[['NSE', 'SANSERA', datetime.date(2025, 11, 3), 1509.0, 1576.5, 1487.4000244140625, 1558.0999755859375, 310909, 0], ['NSE', 'SANSERA', datetime.date(2025, 11, 4), 1570.0, 1570.0, 1518.0999755859375, 1528.699951171875, 94424, 0], ['NSE', 'SANSERA', datetime.date(2025, 11, 6), 1528.699951171875, 1547.0999755859375, 1518.0, 1531.300048828125, 51033, 0], ['NSE', 'SANSERA', datetime.date(2025, 11, 7), 1530.0, 1530.0, 1488.0, 1514.800048828125, 49566, 0], ['NSE', 'SANSERA', datetime.date(2025, 11, 10), 1519.0, 1543.5999755859375, 1515.9000244140625, 1528.9000244140625, 32774, 0], ['NSE', 'SANSERA', datetime.date(2025, 11, 11), 1528.9000244140625, 1550.0, 1518.0, 1547.0, 41099, 0], ['NSE', 'SANSERA', datetime.date(2025, 11, 12), 1547.0, 1570.0, 1536.199951171875, 1553.9000244140625, 71533, 0], ['NSE', 'SANSERA', datetime.date(2025, 11, 13), 1570.0999755859375, 1625.0, 1540.0, 1555.0, 432513, 0], ['NSE', 'SANSERA', datetime.date(2025, 11, 14), 1575.0, 1580.0, 1543.5999755859375, 1555.9000244140625, 63770, 0], ['NSE', 'SANSERA', datetime.date(2025, 11, 17), 1564.0999755859375, 1575.0, 1519.0999755859375, 1534.5999755859375, 90092, 0], ['NSE', 'SANSERA', datetime.date(2025, 11, 18), 1540.0, 1554.9000244140625, 1525.0, 1546.9000244140625, 106188, 0], ['NSE', 'SANSERA', datetime.date(2025, 11, 19), 1555.0, 1599.699951171875, 1535.0, 1579.699951171875, 172497, 0], ['NSE', 'SANSERA', datetime.date(2025, 11, 20), 1587.0, 1604.0999755859375, 1576.5999755859375, 1594.5999755859375, 92181, 0], ['NSE', 'SANSERA', datetime.date(2025, 11, 21), 1594.0999755859375, 1628.0999755859375, 1580.0999755859375, 1606.4000244140625, 214064, 0], ['NSE', 'SANSERA', datetime.date(2025, 11, 24), 1619.4000244140625, 1634.0, 1607.0, 1627.699951171875, 219037, 0], ['NSE', 'SANSERA', datetime.date(2025, 11, 25), 1635.5, 1689.0, 1622.800048828125, 1660.5999755859375, 425252, 0], ['NSE', 'SANSERA', datetime.date(2025, 11, 26), 1678.800048828125, 1720.199951171875, 1650.0999755859375, 1711.4000244140625, 252868, 0], ['NSE', 'SANSERA', datetime.date(2025, 11, 27), 1724.9000244140625, 1770.0, 1720.800048828125, 1744.5999755859375, 413108, 0], ['NSE', 'SANSERA', datetime.date(2025, 11, 28), 1764.300048828125, 1764.300048828125, 1707.0, 1749.0999755859375, 154527, 0]]
Row  3690  :  SANSERA.NS  :  19  records inserted
[['NSE', 'PNGJL', datetime.date(2025, 11, 3), 649.0, 667.7000122070312, 639.75, 659.9000244140625, 197392, 0], ['NSE', 'PNGJL', datetime.date(2025, 11, 4), 663.0, 670.0, 652.0, 665.7000122070312, 292272, 0], ['NSE', 'PNGJL', datetime.date(2025, 11, 6), 667.9000244140625, 667.9000244140625, 643.0, 645.9500122070312, 165838, 0], ['NSE', 'PNGJL', datetime.date(2025, 11, 7), 632.4000244140625, 657.0, 632.2999877929688, 652.25, 419693, 0], ['NSE', 'PNGJL', datetime.date(2025, 11, 10), 662.9500122070312, 673.0, 655.2000122070312, 667.5, 346322, 0], ['NSE', 'PNGJL', datetime.date(2025, 11, 11), 674.9000244140625, 674.9000244140625, 652.2999877929688, 664.7000122070312, 244214, 0], ['NSE', 'PNGJL', datetime.date(2025, 11, 12), 674.4000244140625, 688.2000122070312, 658.0, 671.0, 1297286, 0], ['NSE', 'PNGJL', datetime.date(2025, 11, 14), 665.0, 665.0, 641.0, 642.2000122070312, 284418, 0], ['NSE', 'PNGJL', datetime.date(2025, 11, 17), 644.2999877929688, 651.0, 639.9500122070312, 649.2000122070312, 147268, 0], ['NSE', 'PNGJL', datetime.date(2025, 11, 18), 652.9500122070312, 652.9500122070312, 635.9500122070312, 638.2000122070312, 198368, 0], ['NSE', 'PNGJL', datetime.date(2025, 11, 19), 645.0, 647.0, 630.0499877929688, 640.0, 250170, 0], ['NSE', 'PNGJL', datetime.date(2025, 11, 20), 653.7000122070312, 653.7000122070312, 634.1500244140625, 638.9500122070312, 117966, 0], ['NSE', 'PNGJL', datetime.date(2025, 11, 21), 638.25, 638.25, 625.1500244140625, 631.4500122070312, 132733, 0], ['NSE', 'PNGJL', datetime.date(2025, 11, 24), 634.0, 634.0499877929688, 614.9000244140625, 623.2000122070312, 174268, 0], ['NSE', 'PNGJL', datetime.date(2025, 11, 25), 623.0, 623.0, 612.0499877929688, 618.2000122070312, 104734, 0], ['NSE', 'PNGJL', datetime.date(2025, 11, 26), 618.1500244140625, 628.5999755859375, 615.0, 616.4500122070312, 101411, 0], ['NSE', 'PNGJL', datetime.date(2025, 11, 27), 622.9500122070312, 638.75, 619.2999877929688, 628.1500244140625, 268759, 0], ['NSE', 'PNGJL', datetime.date(2025, 11, 28), 628.1500244140625, 634.75, 625.0, 629.6500244140625, 156045, 0]]
Row  3691  :  PNGJL.NS  :  18  records inserted

$531453.BO: possibly delisted; no timezone found

[['NSE', 'MOHITIND', datetime.date(2025, 11, 3), 33.68000030517578, 33.68000030517578, 32.15999984741211, 32.369998931884766, 10158, 0], ['NSE', 'MOHITIND', datetime.date(2025, 11, 4), 31.100000381469727, 33.849998474121094, 31.100000381469727, 33.25, 21771, 0], ['NSE', 'MOHITIND', datetime.date(2025, 11, 6), 33.25, 33.25, 31.600000381469727, 32.83000183105469, 19036, 0], ['NSE', 'MOHITIND', datetime.date(2025, 11, 7), 32.11000061035156, 33.5, 32.0, 33.41999816894531, 34880, 0], ['NSE', 'MOHITIND', datetime.date(2025, 11, 10), 33.41999816894531, 34.79999923706055, 32.0, 32.810001373291016, 25453, 0], ['NSE', 'MOHITIND', datetime.date(2025, 11, 11), 32.810001373291016, 33.459999084472656, 32.20000076293945, 32.79999923706055, 15637, 0], ['NSE', 'MOHITIND', datetime.date(2025, 11, 12), 32.79999923706055, 32.79999923706055, 31.5, 31.6299991607666, 46077, 0], ['NSE', 'MOHITIND', datetime.date(2025, 11, 13), 32.4900016784668, 32.4900016784668, 31.0, 31.780000686645508, 15384, 0], ['NSE', 'MOHITIND', datetime.date(2025, 11, 14), 31.549999237060547, 32.380001068115234, 30.700000762939453, 31.139999389648438, 29773, 0], ['NSE', 'MOHITIND', datetime.date(2025, 11, 17), 31.139999389648438, 31.989999771118164, 30.600000381469727, 31.209999084472656, 9740, 0], ['NSE', 'MOHITIND', datetime.date(2025, 11, 18), 30.15999984741211, 31.790000915527344, 30.15999984741211, 31.639999389648438, 14864, 0], ['NSE', 'MOHITIND', datetime.date(2025, 11, 19), 30.799999237060547, 31.489999771118164, 30.170000076293945, 30.239999771118164, 13065, 0], ['NSE', 'MOHITIND', datetime.date(2025, 11, 20), 30.239999771118164, 30.93000030517578, 30.020000457763672, 30.18000030517578, 6822, 0], ['NSE', 'MOHITIND', datetime.date(2025, 11, 21), 30.0, 30.8799991607666, 29.110000610351562, 30.3700008392334, 6200, 0], ['NSE', 'MOHITIND', datetime.date(2025, 11, 24), 30.979999542236328, 30.979999542236328, 30.0, 30.010000228881836, 4306, 0], ['NSE', 'MOHITIND', datetime.date(2025, 11, 25), 30.5, 30.940000534057617, 29.0, 29.020000457763672, 50579, 0], ['NSE', 'MOHITIND', datetime.date(2025, 11, 26), 29.0, 29.84000015258789, 28.610000610351562, 29.719999313354492, 7149, 0], ['NSE', 'MOHITIND', datetime.date(2025, 11, 27), 29.719999313354492, 30.0, 28.450000762939453, 29.079999923706055, 7516, 0], ['NSE', 'MOHITIND', datetime.date(2025, 11, 28), 29.0, 29.170000076293945, 28.75, 29.079999923706055, 9520, 0]]
Row  3693  :  MOHITIND.NS  :  19  records inserted
[['BSE', '530343', datetime.date(2025, 11, 3), 340.3500061035156, 354.70001220703125, 338.75, 351.54998779296875, 170085, 0], ['BSE', '530343', datetime.date(2025, 11, 4), 351.70001220703125, 357.3999938964844, 339.70001220703125, 353.04998779296875, 178005, 0], ['BSE', '530343', datetime.date(2025, 11, 6), 355.04998779296875, 359.95001220703125, 351.3999938964844, 355.29998779296875, 86539, 0], ['BSE', '530343', datetime.date(2025, 11, 7), 360.0, 363.20001220703125, 348.6000061035156, 353.79998779296875, 303878, 0], ['BSE', '530343', datetime.date(2025, 11, 10), 354.0, 361.95001220703125, 332.0, 332.5, 209090, 0], ['BSE', '530343', datetime.date(2025, 11, 11), 330.1499938964844, 344.0, 329.0, 342.6499938964844, 79696, 0], ['BSE', '530343', datetime.date(2025, 11, 12), 340.1499938964844, 342.6499938964844, 332.20001220703125, 334.1000061035156, 76579, 0], ['BSE', '530343', datetime.date(2025, 11, 13), 336.5, 336.5, 328.0, 329.79998779296875, 50507, 0], ['BSE', '530343', datetime.date(2025, 11, 14), 331.95001220703125, 335.6000061035156, 326.8500061035156, 331.3500061035156, 15611, 0], ['BSE', '530343', datetime.date(2025, 11, 17), 321.0, 351.0, 321.0, 346.6000061035156, 46141, 0], ['BSE', '530343', datetime.date(2025, 11, 18), 348.0, 348.0, 341.6000061035156, 346.29998779296875, 39901, 0], ['BSE', '530343', datetime.date(2025, 11, 19), 344.0, 344.8999938964844, 333.04998779296875, 334.6000061035156, 59261, 0], ['BSE', '530343', datetime.date(2025, 11, 20), 338.20001220703125, 343.20001220703125, 335.45001220703125, 336.45001220703125, 57530, 0], ['BSE', '530343', datetime.date(2025, 11, 21), 336.45001220703125, 336.45001220703125, 329.5, 331.8500061035156, 9329, 0], ['BSE', '530343', datetime.date(2025, 11, 24), 332.8999938964844, 332.8999938964844, 320.45001220703125, 323.6499938964844, 27946, 0], ['BSE', '530343', datetime.date(2025, 11, 25), 320.04998779296875, 326.3999938964844, 320.04998779296875, 322.20001220703125, 37259, 0], ['BSE', '530343', datetime.date(2025, 11, 26), 322.20001220703125, 327.0, 321.5, 322.8999938964844, 20274, 0], ['BSE', '530343', datetime.date(2025, 11, 28), 315.5, 320.45001220703125, 314.5, 315.6000061035156, 32286, 0]]
Row  3694  :  530343.BO  :  18  records inserted
[['NSE', 'GENUSPOWER', datetime.date(2025, 11, 3), 340.0, 354.54998779296875, 338.29998779296875, 351.5, 1459250, 0], ['NSE', 'GENUSPOWER', datetime.date(2025, 11, 4), 352.1000061035156, 357.29998779296875, 339.79998779296875, 353.45001220703125, 1127150, 0], ['NSE', 'GENUSPOWER', datetime.date(2025, 11, 5), 353.45001220703125, 353.45001220703125, 353.45001220703125, 353.45001220703125, 0, 0], ['NSE', 'GENUSPOWER', datetime.date(2025, 11, 6), 357.0, 360.0, 350.75, 354.45001220703125, 1723516, 0], ['NSE', 'GENUSPOWER', datetime.date(2025, 11, 7), 360.0, 363.0, 348.20001220703125, 353.5, 3635332, 0], ['NSE', 'GENUSPOWER', datetime.date(2025, 11, 10), 355.3500061035156, 361.8500061035156, 332.0, 332.75, 1875025, 0], ['NSE', 'GENUSPOWER', datetime.date(2025, 11, 11), 332.54998779296875, 344.75, 329.1000061035156, 342.6499938964844, 1265906, 0], ['NSE', 'GENUSPOWER', datetime.date(2025, 11, 12), 343.0, 343.0, 331.8500061035156, 334.04998779296875, 771137, 0], ['NSE', 'GENUSPOWER', datetime.date(2025, 11, 13), 335.0, 336.0, 328.1000061035156, 329.95001220703125, 478584, 0], ['NSE', 'GENUSPOWER', datetime.date(2025, 11, 14), 329.3500061035156, 336.0, 326.8500061035156, 331.3999938964844, 378762, 0], ['NSE', 'GENUSPOWER', datetime.date(2025, 11, 17), 332.3999938964844, 351.1000061035156, 331.3999938964844, 346.95001220703125, 1040724, 0], ['NSE', 'GENUSPOWER', datetime.date(2025, 11, 18), 348.0, 348.25, 341.25, 346.1000061035156, 462038, 0], ['NSE', 'GENUSPOWER', datetime.date(2025, 11, 19), 344.0, 345.25, 332.79998779296875, 334.54998779296875, 420069, 0], ['NSE', 'GENUSPOWER', datetime.date(2025, 11, 20), 337.04998779296875, 343.29998779296875, 335.70001220703125, 336.8500061035156, 336691, 0], ['NSE', 'GENUSPOWER', datetime.date(2025, 11, 21), 336.1000061035156, 336.5, 329.29998779296875, 331.95001220703125, 257313, 0], ['NSE', 'GENUSPOWER', datetime.date(2025, 11, 24), 332.0, 332.5, 320.29998779296875, 322.75, 514165, 0], ['NSE', 'GENUSPOWER', datetime.date(2025, 11, 25), 320.54998779296875, 326.45001220703125, 320.54998779296875, 322.29998779296875, 227312, 0], ['NSE', 'GENUSPOWER', datetime.date(2025, 11, 26), 323.20001220703125, 327.0, 321.6000061035156, 323.04998779296875, 355291, 0], ['NSE', 'GENUSPOWER', datetime.date(2025, 11, 27), 326.0, 328.1499938964844, 319.0, 320.3999938964844, 260786, 0], ['NSE', 'GENUSPOWER', datetime.date(2025, 11, 28), 319.8999938964844, 320.5, 313.0, 315.3500061035156, 226736, 0]]
Row  3695  :  GENUSPOWER.NS  :  20  records inserted
[['NSE', 'SEJALLTD', datetime.date(2025, 11, 3), 935.5499877929688, 935.5499877929688, 888.7999877929688, 888.7999877929688, 9072, 0], ['NSE', 'SEJALLTD', datetime.date(2025, 11, 4), 844.4000244140625, 900.0, 844.4000244140625, 853.7999877929688, 21251, 0], ['NSE', 'SEJALLTD', datetime.date(2025, 11, 5), 853.7999877929688, 853.7999877929688, 853.7999877929688, 853.7999877929688, 0, 0], ['NSE', 'SEJALLTD', datetime.date(2025, 11, 6), 845.0, 848.9500122070312, 811.1500244140625, 831.6500244140625, 17884, 0], ['NSE', 'SEJALLTD', datetime.date(2025, 11, 7), 824.0, 835.0, 790.0999755859375, 825.9000244140625, 22464, 0], ['NSE', 'SEJALLTD', datetime.date(2025, 11, 10), 834.0, 834.0, 790.0, 801.0999755859375, 10271, 0], ['NSE', 'SEJALLTD', datetime.date(2025, 11, 11), 796.0, 830.0, 795.0, 825.1500244140625, 7946, 0], ['NSE', 'SEJALLTD', datetime.date(2025, 11, 12), 830.0, 866.4000244140625, 830.0, 866.4000244140625, 15414, 0], ['NSE', 'SEJALLTD', datetime.date(2025, 11, 13), 889.7999877929688, 909.7000122070312, 884.0, 892.2000122070312, 11113, 0], ['NSE', 'SEJALLTD', datetime.date(2025, 11, 14), 888.8499755859375, 888.8499755859375, 850.3499755859375, 871.0, 5953, 0], ['NSE', 'SEJALLTD', datetime.date(2025, 11, 17), 875.0, 902.0, 875.0, 893.5999755859375, 8423, 0], ['NSE', 'SEJALLTD', datetime.date(2025, 11, 18), 918.0, 918.0, 861.0999755859375, 878.75, 5699, 0], ['NSE', 'SEJALLTD', datetime.date(2025, 11, 19), 898.5, 898.5, 882.0, 884.75, 3277, 0], ['NSE', 'SEJALLTD', datetime.date(2025, 11, 20), 896.9000244140625, 928.9500122070312, 876.0, 928.9500122070312, 10569, 0], ['NSE', 'SEJALLTD', datetime.date(2025, 11, 21), 975.3499755859375, 975.3499755859375, 935.0499877929688, 962.7000122070312, 17791, 0], ['NSE', 'SEJALLTD', datetime.date(2025, 11, 24), 949.8499755859375, 1010.7999877929688, 930.0499877929688, 984.5499877929688, 38945, 0], ['NSE', 'SEJALLTD', datetime.date(2025, 11, 25), 965.2999877929688, 978.0, 960.0, 966.7000122070312, 8184, 0], ['NSE', 'SEJALLTD', datetime.date(2025, 11, 26), 966.7000122070312, 980.0, 938.0, 942.2999877929688, 5791, 0], ['NSE', 'SEJALLTD', datetime.date(2025, 11, 27), 915.0, 959.7999877929688, 915.0, 921.5, 4928, 0], ['NSE', 'SEJALLTD', datetime.date(2025, 11, 28), 939.9500122070312, 949.6500244140625, 909.0, 929.6500244140625, 8342, 0]]
Row  3696  :  SEJALLTD.NS  :  20  records inserted

$542484.BO: possibly delisted; no timezone found

[['NSE', 'ARVINDFASN', datetime.date(2025, 11, 3), 502.8500061035156, 569.0, 502.8500061035156, 556.0999755859375, 2784171, 0], ['NSE', 'ARVINDFASN', datetime.date(2025, 11, 4), 548.5999755859375, 556.5, 533.1500244140625, 548.25, 510355, 0], ['NSE', 'ARVINDFASN', datetime.date(2025, 11, 5), 548.25, 548.25, 548.25, 548.25, 0, 0], ['NSE', 'ARVINDFASN', datetime.date(2025, 11, 6), 545.0999755859375, 547.2999877929688, 517.4000244140625, 525.0499877929688, 253970, 0], ['NSE', 'ARVINDFASN', datetime.date(2025, 11, 7), 525.0499877929688, 525.0499877929688, 508.20001220703125, 516.0499877929688, 181529, 0], ['NSE', 'ARVINDFASN', datetime.date(2025, 11, 10), 512.0, 517.0, 501.0, 502.0, 152109, 0], ['NSE', 'ARVINDFASN', datetime.date(2025, 11, 11), 502.5, 508.04998779296875, 493.04998779296875, 501.0, 176766, 0], ['NSE', 'ARVINDFASN', datetime.date(2025, 11, 12), 504.29998779296875, 512.9000244140625, 499.6499938964844, 502.45001220703125, 182045, 0], ['NSE', 'ARVINDFASN', datetime.date(2025, 11, 13), 503.8999938964844, 508.25, 497.20001220703125, 498.6499938964844, 97737, 0], ['NSE', 'ARVINDFASN', datetime.date(2025, 11, 14), 500.0, 505.0, 496.25, 500.54998779296875, 85612, 0], ['NSE', 'ARVINDFASN', datetime.date(2025, 11, 17), 503.1499938964844, 513.0, 494.0, 509.1000061035156, 187813, 0], ['NSE', 'ARVINDFASN', datetime.date(2025, 11, 18), 512.2999877929688, 512.2999877929688, 498.54998779296875, 501.6000061035156, 183055, 0], ['NSE', 'ARVINDFASN', datetime.date(2025, 11, 19), 497.0, 511.45001220703125, 497.0, 503.95001220703125, 129552, 0], ['NSE', 'ARVINDFASN', datetime.date(2025, 11, 20), 508.0, 512.5499877929688, 499.0, 506.6000061035156, 217774, 0], ['NSE', 'ARVINDFASN', datetime.date(2025, 11, 21), 508.70001220703125, 512.0, 496.0, 501.3500061035156, 134101, 0], ['NSE', 'ARVINDFASN', datetime.date(2025, 11, 24), 501.29998779296875, 503.8999938964844, 483.54998779296875, 495.3999938964844, 234538, 0], ['NSE', 'ARVINDFASN', datetime.date(2025, 11, 25), 495.3999938964844, 509.6499938964844, 490.29998779296875, 507.6000061035156, 368219, 0], ['NSE', 'ARVINDFASN', datetime.date(2025, 11, 26), 509.6499938964844, 527.9500122070312, 507.0, 523.5999755859375, 241247, 0], ['NSE', 'ARVINDFASN', datetime.date(2025, 11, 27), 523.5999755859375, 525.4500122070312, 510.95001220703125, 513.5999755859375, 103841, 0], ['NSE', 'ARVINDFASN', datetime.date(2025, 11, 28), 511.70001220703125, 515.3499755859375, 501.1000061035156, 504.04998779296875, 150826, 0]]
Row  3698  :  ARVINDFASN.NS  :  20  records inserted
[['BSE', '533269', datetime.date(2025, 11, 3), 1416.050048828125, 1427.0, 1401.25, 1409.4000244140625, 10777, 0], ['BSE', '533269', datetime.date(2025, 11, 4), 1426.949951171875, 1426.949951171875, 1391.949951171875, 1400.199951171875, 6299, 0], ['BSE', '533269', datetime.date(2025, 11, 6), 1391.1500244140625, 1407.9000244140625, 1353.5, 1360.449951171875, 7118, 0], ['BSE', '533269', datetime.date(2025, 11, 7), 1358.0, 1395.0, 1337.6500244140625, 1389.4000244140625, 20618, 0], ['BSE', '533269', datetime.date(2025, 11, 10), 1389.3499755859375, 1389.3499755859375, 1341.25, 1357.0999755859375, 28421, 0], ['BSE', '533269', datetime.date(2025, 11, 11), 1361.050048828125, 1414.0999755859375, 1359.550048828125, 1410.800048828125, 25075, 0], ['BSE', '533269', datetime.date(2025, 11, 12), 1413.0, 1414.0, 1389.800048828125, 1393.75, 18005, 0], ['BSE', '533269', datetime.date(2025, 11, 13), 1394.050048828125, 1417.300048828125, 1390.0, 1410.0, 11223, 0], ['BSE', '533269', datetime.date(2025, 11, 14), 1410.1500244140625, 1415.050048828125, 1401.449951171875, 1408.9000244140625, 4439, 0], ['BSE', '533269', datetime.date(2025, 11, 17), 1415.9000244140625, 1415.9000244140625, 1397.6500244140625, 1408.449951171875, 4161, 0], ['BSE', '533269', datetime.date(2025, 11, 18), 1401.6500244140625, 1408.800048828125, 1396.300048828125, 1401.9000244140625, 5711, 0], ['BSE', '533269', datetime.date(2025, 11, 19), 1390.050048828125, 1412.3499755859375, 1390.050048828125, 1402.1500244140625, 12294, 0], ['BSE', '533269', datetime.date(2025, 11, 20), 1428.449951171875, 1449.3499755859375, 1408.75, 1414.199951171875, 10971, 0], ['BSE', '533269', datetime.date(2025, 11, 21), 1431.25, 1431.25, 1390.0, 1393.5, 8958, 0], ['BSE', '533269', datetime.date(2025, 11, 24), 1402.9000244140625, 1420.0, 1382.0, 1415.1500244140625, 7096, 0], ['BSE', '533269', datetime.date(2025, 11, 25), 1401.050048828125, 1409.5999755859375, 1393.0, 1395.800048828125, 4358, 0], ['BSE', '533269', datetime.date(2025, 11, 26), 1392.050048828125, 1415.6500244140625, 1391.6500244140625, 1408.3499755859375, 13829, 0], ['BSE', '533269', datetime.date(2025, 11, 28), 1391.5, 1396.6500244140625, 1350.199951171875, 1354.550048828125, 29999, 0]]
Row  3699  :  533269.BO  :  18  records inserted
[['NSE', 'WABAG', datetime.date(2025, 11, 3), 1414.0999755859375, 1427.800048828125, 1401.0, 1409.5, 85323, 0], ['NSE', 'WABAG', datetime.date(2025, 11, 4), 1418.4000244140625, 1418.4000244140625, 1391.800048828125, 1400.4000244140625, 123861, 0], ['NSE', 'WABAG', datetime.date(2025, 11, 5), 1400.4000244140625, 1400.4000244140625, 1400.4000244140625, 1400.4000244140625, 0, 0], ['NSE', 'WABAG', datetime.date(2025, 11, 6), 1403.9000244140625, 1409.699951171875, 1351.0, 1358.699951171875, 244463, 0], ['NSE', 'WABAG', datetime.date(2025, 11, 7), 1364.199951171875, 1395.0, 1338.0, 1385.800048828125, 132615, 0], ['NSE', 'WABAG', datetime.date(2025, 11, 10), 1385.0, 1387.4000244140625, 1341.699951171875, 1356.5, 226343, 0], ['NSE', 'WABAG', datetime.date(2025, 11, 11), 1365.0, 1414.800048828125, 1360.0999755859375, 1410.800048828125, 197325, 0], ['NSE', 'WABAG', datetime.date(2025, 11, 12), 1412.800048828125, 1415.5999755859375, 1389.0, 1392.5999755859375, 123586, 0], ['NSE', 'WABAG', datetime.date(2025, 11, 13), 1406.0, 1415.9000244140625, 1389.9000244140625, 1410.4000244140625, 166494, 0], ['NSE', 'WABAG', datetime.date(2025, 11, 14), 1411.699951171875, 1414.5999755859375, 1402.0, 1409.5, 68366, 0], ['NSE', 'WABAG', datetime.date(2025, 11, 17), 1418.5999755859375, 1421.5, 1396.0999755859375, 1409.4000244140625, 110071, 0], ['NSE', 'WABAG', datetime.date(2025, 11, 18), 1410.199951171875, 1412.0, 1395.5999755859375, 1400.0999755859375, 100804, 0], ['NSE', 'WABAG', datetime.date(2025, 11, 19), 1396.0, 1411.800048828125, 1396.0, 1403.5999755859375, 98689, 0], ['NSE', 'WABAG', datetime.date(2025, 11, 20), 1412.0, 1449.199951171875, 1407.800048828125, 1413.0, 294870, 0], ['NSE', 'WABAG', datetime.date(2025, 11, 21), 1420.0999755859375, 1420.4000244140625, 1390.0, 1394.199951171875, 110807, 0], ['NSE', 'WABAG', datetime.date(2025, 11, 24), 1398.0, 1421.0, 1382.0, 1416.800048828125, 201187, 0], ['NSE', 'WABAG', datetime.date(2025, 11, 25), 1412.0, 1415.699951171875, 1392.0, 1395.5, 83910, 0], ['NSE', 'WABAG', datetime.date(2025, 11, 26), 1399.0999755859375, 1415.0, 1388.0, 1409.5, 106993, 0], ['NSE', 'WABAG', datetime.date(2025, 11, 27), 1409.5, 1414.0, 1390.0, 1396.0999755859375, 105462, 0], ['NSE', 'WABAG', datetime.date(2025, 11, 28), 1391.199951171875, 1396.5, 1350.0, 1355.5999755859375, 142152, 0]]
Row  3700  :  WABAG.NS  :  20  records inserted
[['BSE', '530117', datetime.date(2025, 11, 3), 2890.050048828125, 2963.39990234375, 2886.60009765625, 2951.550048828125, 11380, 0], ['BSE', '530117', datetime.date(2025, 11, 4), 2963.35009765625, 3018.0, 2938.050048828125, 2982.39990234375, 3849, 0], ['BSE', '530117', datetime.date(2025, 11, 6), 3134.550048828125, 3326.0, 3130.050048828125, 3287.050048828125, 36924, 0], ['BSE', '530117', datetime.date(2025, 11, 7), 3260.0, 3420.0, 3260.0, 3386.75, 21499, 0], ['BSE', '530117', datetime.date(2025, 11, 10), 3387.550048828125, 3406.699951171875, 3315.949951171875, 3387.60009765625, 7307, 0], ['BSE', '530117', datetime.date(2025, 11, 11), 3296.25, 3433.0, 3296.25, 3324.949951171875, 7899, 0], ['BSE', '530117', datetime.date(2025, 11, 12), 3419.85009765625, 3419.85009765625, 3275.550048828125, 3305.199951171875, 4995, 0], ['BSE', '530117', datetime.date(2025, 11, 13), 3300.25, 3300.25, 3227.75, 3240.25, 5248, 0], ['BSE', '530117', datetime.date(2025, 11, 14), 3265.800048828125, 3287.0, 3226.050048828125, 3244.199951171875, 4221, 0], ['BSE', '530117', datetime.date(2025, 11, 17), 3264.949951171875, 3346.0, 3264.949951171875, 3314.050048828125, 5093, 0], ['BSE', '530117', datetime.date(2025, 11, 18), 3314.050048828125, 3314.050048828125, 3200.14990234375, 3234.550048828125, 2583, 0], ['BSE', '530117', datetime.date(2025, 11, 19), 3233.0, 3264.699951171875, 3190.0, 3210.550048828125, 2484, 0], ['BSE', '530117', datetime.date(2025, 11, 20), 3231.699951171875, 3260.050048828125, 3152.89990234375, 3204.550048828125, 3907, 0], ['BSE', '530117', datetime.date(2025, 11, 21), 3191.199951171875, 3221.449951171875, 3124.5, 3151.85009765625, 2303, 0], ['BSE', '530117', datetime.date(2025, 11, 24), 3000.14990234375, 3168.75, 3000.14990234375, 3126.25, 9599, 0], ['BSE', '530117', datetime.date(2025, 11, 25), 3126.300048828125, 3133.0, 3049.35009765625, 3060.14990234375, 1107, 0], ['BSE', '530117', datetime.date(2025, 11, 26), 3060.199951171875, 3108.699951171875, 3057.449951171875, 3093.25, 1693, 0], ['BSE', '530117', datetime.date(2025, 11, 28), 2958.0, 3204.300048828125, 2958.0, 3162.050048828125, 7431, 0]]
Row  3701  :  530117.BO  :  18  records inserted
[['NSE', 'PRIVISCL', datetime.date(2025, 11, 3), 2901.699951171875, 2965.300048828125, 2885.800048828125, 2953.199951171875, 69114, 0], ['NSE', 'PRIVISCL', datetime.date(2025, 11, 4), 2953.199951171875, 3014.0, 2937.10009765625, 2984.10009765625, 82863, 0], ['NSE', 'PRIVISCL', datetime.date(2025, 11, 5), 2984.10009765625, 2984.10009765625, 2984.10009765625, 2984.10009765625, 0, 0], ['NSE', 'PRIVISCL', datetime.date(2025, 11, 6), 3125.0, 3343.0, 3125.0, 3280.0, 1137781, 0], ['NSE', 'PRIVISCL', datetime.date(2025, 11, 7), 3280.0, 3420.800048828125, 3269.60009765625, 3388.0, 352389, 0], ['NSE', 'PRIVISCL', datetime.date(2025, 11, 10), 3371.199951171875, 3408.39990234375, 3315.10009765625, 3386.5, 97863, 0], ['NSE', 'PRIVISCL', datetime.date(2025, 11, 11), 3370.0, 3440.5, 3317.0, 3324.60009765625, 67345, 0], ['NSE', 'PRIVISCL', datetime.date(2025, 11, 12), 3325.10009765625, 3355.89990234375, 3278.0, 3301.199951171875, 74009, 0], ['NSE', 'PRIVISCL', datetime.date(2025, 11, 13), 3301.199951171875, 3310.10009765625, 3226.39990234375, 3250.39990234375, 70326, 0], ['NSE', 'PRIVISCL', datetime.date(2025, 11, 14), 3250.10009765625, 3290.0, 3227.199951171875, 3244.199951171875, 53364, 0], ['NSE', 'PRIVISCL', datetime.date(2025, 11, 17), 3250.0, 3347.199951171875, 3250.0, 3314.699951171875, 57800, 0], ['NSE', 'PRIVISCL', datetime.date(2025, 11, 18), 3310.0, 3324.800048828125, 3201.60009765625, 3234.60009765625, 49583, 0], ['NSE', 'PRIVISCL', datetime.date(2025, 11, 19), 3239.0, 3270.0, 3184.0, 3213.300048828125, 43444, 0], ['NSE', 'PRIVISCL', datetime.date(2025, 11, 20), 3213.300048828125, 3265.0, 3145.89990234375, 3205.199951171875, 61838, 0], ['NSE', 'PRIVISCL', datetime.date(2025, 11, 21), 3205.199951171875, 3229.0, 3125.89990234375, 3142.10009765625, 55171, 0], ['NSE', 'PRIVISCL', datetime.date(2025, 11, 24), 3130.699951171875, 3197.89990234375, 3027.10009765625, 3132.60009765625, 109440, 0], ['NSE', 'PRIVISCL', datetime.date(2025, 11, 25), 3134.89990234375, 3137.89990234375, 3051.89990234375, 3061.300048828125, 35259, 0], ['NSE', 'PRIVISCL', datetime.date(2025, 11, 26), 3061.300048828125, 3110.89990234375, 3051.10009765625, 3100.699951171875, 44200, 0], ['NSE', 'PRIVISCL', datetime.date(2025, 11, 27), 3081.0, 3125.89990234375, 3019.300048828125, 3046.300048828125, 52041, 0], ['NSE', 'PRIVISCL', datetime.date(2025, 11, 28), 3064.89990234375, 3211.699951171875, 3048.800048828125, 3153.60009765625, 119269, 0]]
Row  3702  :  PRIVISCL.NS  :  20  records inserted

$500078.BO: possibly delisted; no timezone found

[['NSE', 'OAL', datetime.date(2025, 11, 3), 374.25, 374.25, 343.3500061035156, 347.1000061035156, 21817, 0], ['NSE', 'OAL', datetime.date(2025, 11, 4), 357.29998779296875, 357.29998779296875, 337.0, 339.54998779296875, 14545, 0], ['NSE', 'OAL', datetime.date(2025, 11, 6), 335.0, 353.0, 331.1000061035156, 347.45001220703125, 16067, 0], ['NSE', 'OAL', datetime.date(2025, 11, 7), 352.70001220703125, 352.70001220703125, 341.1499938964844, 350.6000061035156, 15405, 0], ['NSE', 'OAL', datetime.date(2025, 11, 10), 354.75, 354.75, 330.0, 334.04998779296875, 9140, 0], ['NSE', 'OAL', datetime.date(2025, 11, 11), 334.04998779296875, 339.95001220703125, 322.1499938964844, 333.04998779296875, 13828, 0], ['NSE', 'OAL', datetime.date(2025, 11, 12), 335.04998779296875, 343.70001220703125, 335.0, 341.25, 13373, 0], ['NSE', 'OAL', datetime.date(2025, 11, 13), 336.8500061035156, 341.8999938964844, 336.5, 340.04998779296875, 4124, 0], ['NSE', 'OAL', datetime.date(2025, 11, 14), 338.75, 340.75, 336.6000061035156, 340.04998779296875, 2386, 0], ['NSE', 'OAL', datetime.date(2025, 11, 17), 341.3999938964844, 349.45001220703125, 337.0, 346.6499938964844, 10111, 0], ['NSE', 'OAL', datetime.date(2025, 11, 18), 338.1000061035156, 345.25, 338.1000061035156, 340.25, 3470, 0], ['NSE', 'OAL', datetime.date(2025, 11, 19), 341.1000061035156, 343.79998779296875, 337.5, 340.29998779296875, 3761, 0], ['NSE', 'OAL', datetime.date(2025, 11, 20), 343.8999938964844, 345.04998779296875, 335.29998779296875, 342.1000061035156, 14310, 0], ['NSE', 'OAL', datetime.date(2025, 11, 21), 339.6000061035156, 339.6000061035156, 327.0, 329.04998779296875, 15937, 0], ['NSE', 'OAL', datetime.date(2025, 11, 24), 331.6000061035156, 332.5, 324.0, 325.45001220703125, 6578, 0], ['NSE', 'OAL', datetime.date(2025, 11, 25), 323.0, 323.70001220703125, 317.0, 320.6000061035156, 6914, 0], ['NSE', 'OAL', datetime.date(2025, 11, 26), 321.6499938964844, 323.95001220703125, 319.6000061035156, 320.1000061035156, 8194, 0], ['NSE', 'OAL', datetime.date(2025, 11, 27), 320.3999938964844, 323.20001220703125, 313.95001220703125, 315.6499938964844, 4347, 0], ['NSE', 'OAL', datetime.date(2025, 11, 28), 305.1000061035156, 318.79998779296875, 305.1000061035156, 311.70001220703125, 5046, 0]]
Row  3704  :  OAL.NS  :  19  records inserted

$522014.BO: possibly delisted; no timezone found

[['NSE', 'UNIDT', datetime.date(2025, 11, 3), 208.0, 209.89999389648438, 204.25, 205.30999755859375, 8387, 0], ['NSE', 'UNIDT', datetime.date(2025, 11, 4), 205.0, 209.66000366210938, 200.74000549316406, 204.1999969482422, 10044, 0], ['NSE', 'UNIDT', datetime.date(2025, 11, 6), 204.8000030517578, 204.92999267578125, 195.60000610351562, 197.11000061035156, 11432, 0], ['NSE', 'UNIDT', datetime.date(2025, 11, 7), 193.25, 202.0, 193.25, 200.25999450683594, 7513, 0], ['NSE', 'UNIDT', datetime.date(2025, 11, 10), 199.72999572753906, 207.0, 195.63999938964844, 197.3300018310547, 24315, 0], ['NSE', 'UNIDT', datetime.date(2025, 11, 11), 205.0, 205.0, 197.0, 197.61000061035156, 7385, 0], ['NSE', 'UNIDT', datetime.date(2025, 11, 12), 202.91000366210938, 207.0, 199.0, 201.9600067138672, 21757, 0], ['NSE', 'UNIDT', datetime.date(2025, 11, 13), 206.0, 211.92999267578125, 204.0, 207.05999755859375, 35722, 0], ['NSE', 'UNIDT', datetime.date(2025, 11, 14), 209.8000030517578, 209.8000030517578, 200.25, 201.77000427246094, 11058, 0], ['NSE', 'UNIDT', datetime.date(2025, 11, 17), 204.32000732421875, 209.97999572753906, 201.44000244140625, 206.19000244140625, 8473, 0], ['NSE', 'UNIDT', datetime.date(2025, 11, 18), 202.02000427246094, 207.5, 196.25, 199.6300048828125, 20006, 0], ['NSE', 'UNIDT', datetime.date(2025, 11, 19), 198.0, 207.0, 196.10000610351562, 202.10000610351562, 29888, 0], ['NSE', 'UNIDT', datetime.date(2025, 11, 20), 206.0, 206.0, 200.1300048828125, 200.97999572753906, 4454, 0], ['NSE', 'UNIDT', datetime.date(2025, 11, 21), 199.27000427246094, 201.99000549316406, 196.9600067138672, 199.89999389648438, 14425, 0], ['NSE', 'UNIDT', datetime.date(2025, 11, 24), 198.0, 204.1300048828125, 197.00999450683594, 198.75999450683594, 7595, 0], ['NSE', 'UNIDT', datetime.date(2025, 11, 25), 201.25, 201.8800048828125, 194.72000122070312, 197.27000427246094, 11685, 0], ['NSE', 'UNIDT', datetime.date(2025, 11, 26), 200.8000030517578, 200.8000030517578, 195.30999755859375, 197.08999633789062, 6938, 0], ['NSE', 'UNIDT', datetime.date(2025, 11, 27), 200.67999267578125, 200.67999267578125, 196.02999877929688, 198.3800048828125, 4164, 0], ['NSE', 'UNIDT', datetime.date(2025, 11, 28), 200.0, 200.0, 194.14999389648438, 196.97000122070312, 7435, 0]]
Row  3706  :  UNIDT.NS  :  19  records inserted
[['NSE', 'RAINBOW', datetime.date(2025, 11, 3), 1375.0, 1384.800048828125, 1358.5, 1377.5, 153029, 0], ['NSE', 'RAINBOW', datetime.date(2025, 11, 4), 1372.5, 1395.9000244140625, 1372.199951171875, 1390.5, 194428, 0], ['NSE', 'RAINBOW', datetime.date(2025, 11, 6), 1399.9000244140625, 1399.9000244140625, 1360.0999755859375, 1363.699951171875, 140818, 0], ['NSE', 'RAINBOW', datetime.date(2025, 11, 7), 1363.699951171875, 1381.9000244140625, 1341.0, 1373.5, 85580, 0], ['NSE', 'RAINBOW', datetime.date(2025, 11, 10), 1374.9000244140625, 1387.9000244140625, 1337.699951171875, 1349.800048828125, 258940, 0], ['NSE', 'RAINBOW', datetime.date(2025, 11, 11), 1362.0, 1362.0, 1337.9000244140625, 1355.0999755859375, 83768, 0], ['NSE', 'RAINBOW', datetime.date(2025, 11, 12), 1365.0, 1365.0, 1349.5, 1359.0999755859375, 102433, 0], ['NSE', 'RAINBOW', datetime.date(2025, 11, 13), 1360.0, 1367.800048828125, 1343.5999755859375, 1355.699951171875, 71453, 0], ['NSE', 'RAINBOW', datetime.date(2025, 11, 14), 1353.0, 1353.0, 1325.800048828125, 1341.5, 190449, 0], ['NSE', 'RAINBOW', datetime.date(2025, 11, 17), 1350.0, 1352.9000244140625, 1293.199951171875, 1308.199951171875, 496386, 0], ['NSE', 'RAINBOW', datetime.date(2025, 11, 18), 1316.0, 1316.0, 1279.0, 1300.4000244140625, 351319, 0], ['NSE', 'RAINBOW', datetime.date(2025, 11, 19), 1300.5, 1346.800048828125, 1297.4000244140625, 1341.199951171875, 207921, 0], ['NSE', 'RAINBOW', datetime.date(2025, 11, 20), 1337.5999755859375, 1342.199951171875, 1329.300048828125, 1337.9000244140625, 52641, 0], ['NSE', 'RAINBOW', datetime.date(2025, 11, 21), 1338.5, 1344.199951171875, 1315.300048828125, 1330.0, 133333, 0], ['NSE', 'RAINBOW', datetime.date(2025, 11, 24), 1332.0999755859375, 1355.0, 1326.199951171875, 1348.0999755859375, 126089, 0], ['NSE', 'RAINBOW', datetime.date(2025, 11, 25), 1348.0999755859375, 1350.5, 1322.0, 1347.0, 110880, 0], ['NSE', 'RAINBOW', datetime.date(2025, 11, 26), 1348.9000244140625, 1354.0, 1328.800048828125, 1350.5, 141187, 0], ['NSE', 'RAINBOW', datetime.date(2025, 11, 27), 1354.0, 1361.800048828125, 1338.300048828125, 1356.699951171875, 128352, 0], ['NSE', 'RAINBOW', datetime.date(2025, 11, 28), 1358.0, 1366.0, 1332.0, 1351.300048828125, 90585, 0]]
Row  3707  :  RAINBOW.NS  :  19  records inserted

$590022.BO: possibly delisted; no timezone found

[['NSE', 'EASTSILK', datetime.date(2025, 11, 3), 70.04000091552734, 70.04000091552734, 70.04000091552734, 70.04000091552734, 571, 0], ['NSE', 'EASTSILK', datetime.date(2025, 11, 4), 70.04000091552734, 70.04000091552734, 70.04000091552734, 70.04000091552734, 0, 0], ['NSE', 'EASTSILK', datetime.date(2025, 11, 5), 70.04000091552734, 70.04000091552734, 70.04000091552734, 70.04000091552734, 0, 0], ['NSE', 'EASTSILK', datetime.date(2025, 11, 6), 70.04000091552734, 70.04000091552734, 70.04000091552734, 70.04000091552734, 0, 0], ['NSE', 'EASTSILK', datetime.date(2025, 11, 7), 70.04000091552734, 70.04000091552734, 70.04000091552734, 70.04000091552734, 0, 0], ['NSE', 'EASTSILK', datetime.date(2025, 11, 10), 73.54000091552734, 73.54000091552734, 73.54000091552734, 73.54000091552734, 2322, 0], ['NSE', 'EASTSILK', datetime.date(2025, 11, 11), 73.54000091552734, 73.54000091552734, 73.54000091552734, 73.54000091552734, 0, 0], ['NSE', 'EASTSILK', datetime.date(2025, 11, 12), 73.54000091552734, 73.54000091552734, 73.54000091552734, 73.54000091552734, 0, 0], ['NSE', 'EASTSILK', datetime.date(2025, 11, 13), 73.54000091552734, 73.54000091552734, 73.54000091552734, 73.54000091552734, 0, 0], ['NSE', 'EASTSILK', datetime.date(2025, 11, 14), 73.54000091552734, 73.54000091552734, 73.54000091552734, 73.54000091552734, 0, 0], ['NSE', 'EASTSILK', datetime.date(2025, 11, 17), 77.20999908447266, 77.20999908447266, 77.20999908447266, 77.20999908447266, 8506, 0], ['NSE', 'EASTSILK', datetime.date(2025, 11, 18), 77.20999908447266, 77.20999908447266, 77.20999908447266, 77.20999908447266, 0, 0], ['NSE', 'EASTSILK', datetime.date(2025, 11, 19), 77.20999908447266, 77.20999908447266, 77.20999908447266, 77.20999908447266, 0, 0], ['NSE', 'EASTSILK', datetime.date(2025, 11, 20), 77.20999908447266, 77.20999908447266, 77.20999908447266, 77.20999908447266, 0, 0], ['NSE', 'EASTSILK', datetime.date(2025, 11, 21), 77.20999908447266, 77.20999908447266, 77.20999908447266, 77.20999908447266, 0, 0], ['NSE', 'EASTSILK', datetime.date(2025, 11, 24), 81.06999969482422, 81.06999969482422, 74.0, 74.08999633789062, 34308, 0], ['NSE', 'EASTSILK', datetime.date(2025, 11, 25), 74.08999633789062, 74.08999633789062, 74.08999633789062, 74.08999633789062, 0, 0], ['NSE', 'EASTSILK', datetime.date(2025, 11, 26), 74.08999633789062, 74.08999633789062, 74.08999633789062, 74.08999633789062, 0, 0], ['NSE', 'EASTSILK', datetime.date(2025, 11, 27), 74.08999633789062, 74.08999633789062, 74.08999633789062, 74.08999633789062, 0, 0], ['NSE', 'EASTSILK', datetime.date(2025, 11, 28), 74.08999633789062, 74.08999633789062, 74.08999633789062, 74.08999633789062, 0, 0]]
Row  3709  :  EASTSILK.NS  :  20  records inserted

$541956.BO: possibly delisted; no timezone found

[['NSE', 'IRCON', datetime.date(2025, 11, 3), 169.50999450683594, 171.72000122070312, 169.0, 169.3800048828125, 1253481, 0], ['NSE', 'IRCON', datetime.date(2025, 11, 4), 169.6300048828125, 169.88999938964844, 167.47000122070312, 168.16000366210938, 1387725, 0], ['NSE', 'IRCON', datetime.date(2025, 11, 5), 168.16000366210938, 168.16000366210938, 168.16000366210938, 168.16000366210938, 0, 0], ['NSE', 'IRCON', datetime.date(2025, 11, 6), 168.44000244140625, 168.44000244140625, 162.5, 163.5399932861328, 2004456, 0], ['NSE', 'IRCON', datetime.date(2025, 11, 7), 162.89999389648438, 164.0, 159.7100067138672, 163.60000610351562, 1578924, 0], ['NSE', 'IRCON', datetime.date(2025, 11, 10), 164.1999969482422, 164.8000030517578, 162.5500030517578, 162.94000244140625, 822240, 0], ['NSE', 'IRCON', datetime.date(2025, 11, 11), 163.10000610351562, 165.1999969482422, 162.16000366210938, 164.3699951171875, 1194097, 0], ['NSE', 'IRCON', datetime.date(2025, 11, 12), 165.0, 167.85000610351562, 163.60000610351562, 166.4499969482422, 1530553, 0], ['NSE', 'IRCON', datetime.date(2025, 11, 13), 161.0500030517578, 164.0, 160.6300048828125, 161.1300048828125, 3783077, 0], ['NSE', 'IRCON', datetime.date(2025, 11, 14), 161.1999969482422, 167.8000030517578, 161.1999969482422, 163.27000427246094, 4180743, 0], ['NSE', 'IRCON', datetime.date(2025, 11, 17), 163.58999633789062, 172.3000030517578, 163.2100067138672, 168.49000549316406, 12588402, 0], ['NSE', 'IRCON', datetime.date(2025, 11, 18), 169.9499969482422, 169.9499969482422, 166.0, 167.89999389648438, 2338445, 0], ['NSE', 'IRCON', datetime.date(2025, 11, 19), 168.10000610351562, 168.3000030517578, 165.3300018310547, 166.27999877929688, 1452276, 0], ['NSE', 'IRCON', datetime.date(2025, 11, 20), 166.30999755859375, 168.13999938964844, 164.7899932861328, 165.2100067138672, 1597768, 0], ['NSE', 'IRCON', datetime.date(2025, 11, 21), 164.58999633789062, 165.16000366210938, 162.0, 162.3000030517578, 1212588, 0], ['NSE', 'IRCON', datetime.date(2025, 11, 24), 162.5, 162.9499969482422, 159.0, 160.25, 1338380, 0], ['NSE', 'IRCON', datetime.date(2025, 11, 25), 160.4499969482422, 162.52000427246094, 158.64999389648438, 160.8300018310547, 1318122, 0], ['NSE', 'IRCON', datetime.date(2025, 11, 26), 160.83999633789062, 162.6999969482422, 160.5500030517578, 161.80999755859375, 1154896, 0], ['NSE', 'IRCON', datetime.date(2025, 11, 27), 163.0, 166.39999389648438, 161.8000030517578, 162.47999572753906, 2059897, 0], ['NSE', 'IRCON', datetime.date(2025, 11, 28), 162.47999572753906, 162.47999572753906, 160.02000427246094, 160.9199981689453, 1082249, 0]]
Row  3711  :  IRCON.NS  :  20  records inserted

$530079.BO: possibly delisted; no timezone found

[['NSE', 'FAZE3Q', datetime.date(2025, 11, 3), 483.0, 488.1000061035156, 476.0, 478.5, 27217, 0], ['NSE', 'FAZE3Q', datetime.date(2025, 11, 4), 478.5, 488.0, 475.0, 475.8999938964844, 16271, 0], ['NSE', 'FAZE3Q', datetime.date(2025, 11, 5), 475.8999938964844, 475.8999938964844, 475.8999938964844, 475.8999938964844, 0, 0], ['NSE', 'FAZE3Q', datetime.date(2025, 11, 6), 477.0, 494.0, 462.3500061035156, 468.79998779296875, 94304, 0], ['NSE', 'FAZE3Q', datetime.date(2025, 11, 7), 471.79998779296875, 483.95001220703125, 462.3999938964844, 478.3999938964844, 33793, 0], ['NSE', 'FAZE3Q', datetime.date(2025, 11, 10), 478.3999938964844, 490.0, 474.29998779296875, 485.1000061035156, 20422, 0], ['NSE', 'FAZE3Q', datetime.date(2025, 11, 11), 492.0, 494.79998779296875, 470.1000061035156, 490.8999938964844, 38741, 0], ['NSE', 'FAZE3Q', datetime.date(2025, 11, 12), 490.0, 524.0, 487.3999938964844, 512.9500122070312, 117416, 0], ['NSE', 'FAZE3Q', datetime.date(2025, 11, 13), 522.5, 534.5, 506.0, 513.5, 115217, 0], ['NSE', 'FAZE3Q', datetime.date(2025, 11, 14), 505.0, 537.2000122070312, 505.0, 512.4000244140625, 127797, 0], ['NSE', 'FAZE3Q', datetime.date(2025, 11, 17), 509.54998779296875, 516.3499755859375, 504.8999938964844, 509.5, 29069, 0], ['NSE', 'FAZE3Q', datetime.date(2025, 11, 18), 512.0999755859375, 565.0, 512.0999755859375, 546.9500122070312, 595551, 0], ['NSE', 'FAZE3Q', datetime.date(2025, 11, 19), 545.4000244140625, 558.4000244140625, 532.1500244140625, 541.0499877929688, 138228, 0], ['NSE', 'FAZE3Q', datetime.date(2025, 11, 20), 545.4000244140625, 565.9000244140625, 532.7000122070312, 561.3499755859375, 208061, 0], ['NSE', 'FAZE3Q', datetime.date(2025, 11, 21), 551.0499877929688, 570.0, 537.0, 558.5499877929688, 121250, 0], ['NSE', 'FAZE3Q', datetime.date(2025, 11, 24), 542.5, 557.7999877929688, 535.0499877929688, 539.9500122070312, 160079, 0], ['NSE', 'FAZE3Q', datetime.date(2025, 11, 25), 527.0999755859375, 557.4500122070312, 527.0, 544.7000122070312, 50548, 0], ['NSE', 'FAZE3Q', datetime.date(2025, 11, 26), 542.9000244140625, 556.0, 536.0, 547.0, 34055, 0], ['NSE', 'FAZE3Q', datetime.date(2025, 11, 27), 547.0, 551.3499755859375, 529.0, 532.2000122070312, 27167, 0], ['NSE', 'FAZE3Q', datetime.date(2025, 11, 28), 530.0, 534.2999877929688, 505.54998779296875, 519.9500122070312, 109164, 0]]
Row  3713  :  FAZE3Q.NS  :  20  records inserted

$532945.BO: possibly delisted; no timezone found

[['NSE', 'SEPC', datetime.date(2025, 11, 3), 11.25, 11.270000457763672, 10.960000038146973, 11.0, 5122541, 0], ['NSE', 'SEPC', datetime.date(2025, 11, 4), 11.069999694824219, 11.680000305175781, 10.970000267028809, 11.039999961853027, 19640334, 0], ['NSE', 'SEPC', datetime.date(2025, 11, 5), 11.039999961853027, 11.039999961853027, 11.039999961853027, 11.039999961853027, 0, 0], ['NSE', 'SEPC', datetime.date(2025, 11, 6), 11.199999809265137, 11.210000038146973, 11.010000228881836, 11.0600004196167, 5069916, 0], ['NSE', 'SEPC', datetime.date(2025, 11, 7), 11.020000457763672, 11.039999961853027, 10.869999885559082, 10.949999809265137, 5171570, 0], ['NSE', 'SEPC', datetime.date(2025, 11, 10), 10.970000267028809, 11.079999923706055, 10.90999984741211, 10.930000305175781, 4185749, 0], ['NSE', 'SEPC', datetime.date(2025, 11, 11), 10.930000305175781, 10.989999771118164, 10.859999656677246, 10.890000343322754, 2560526, 0], ['NSE', 'SEPC', datetime.date(2025, 11, 12), 11.020000457763672, 11.09000015258789, 10.90999984741211, 10.989999771118164, 2844868, 0], ['NSE', 'SEPC', datetime.date(2025, 11, 13), 11.0, 11.390000343322754, 11.0, 11.220000267028809, 5674943, 0], ['NSE', 'SEPC', datetime.date(2025, 11, 14), 11.229999542236328, 11.399999618530273, 11.100000381469727, 11.300000190734863, 3401191, 0], ['NSE', 'SEPC', datetime.date(2025, 11, 17), 11.069999694824219, 11.239999771118164, 10.600000381469727, 10.680000305175781, 13003062, 0], ['NSE', 'SEPC', datetime.date(2025, 11, 18), 10.899999618530273, 10.949999809265137, 10.359999656677246, 10.4399995803833, 14739431, 0], ['NSE', 'SEPC', datetime.date(2025, 11, 19), 10.630000114440918, 11.029999732971191, 10.180000305175781, 10.510000228881836, 16435650, 0], ['NSE', 'SEPC', datetime.date(2025, 11, 20), 10.569999694824219, 10.630000114440918, 10.1899995803833, 10.220000267028809, 21815205, 0], ['NSE', 'SEPC', datetime.date(2025, 11, 21), 10.220000267028809, 10.25, 10.0, 10.149999618530273, 12678851, 0], ['NSE', 'SEPC', datetime.date(2025, 11, 24), 10.1899995803833, 10.1899995803833, 9.600000381469727, 9.649999618530273, 8537817, 0], ['NSE', 'SEPC', datetime.date(2025, 11, 25), 9.649999618530273, 9.8100004196167, 9.529999732971191, 9.739999771118164, 4418771, 0], ['NSE', 'SEPC', datetime.date(2025, 11, 26), 9.779999732971191, 9.979999542236328, 9.739999771118164, 9.850000381469727, 3950667, 0], ['NSE', 'SEPC', datetime.date(2025, 11, 27), 9.869999885559082, 10.300000190734863, 9.869999885559082, 10.220000267028809, 9588323, 0], ['NSE', 'SEPC', datetime.date(2025, 11, 28), 10.350000381469727, 10.5600004196167, 9.960000038146973, 10.050000190734863, 14863383, 0]]
Row  3715  :  SEPC.NS  :  20  records inserted
[['NSE', 'MKPL', datetime.date(2025, 11, 3), 6.809999942779541, 6.809999942779541, 6.659999847412109, 6.71999979019165, 170597, 0], ['NSE', 'MKPL', datetime.date(2025, 11, 4), 6.75, 6.800000190734863, 6.699999809265137, 6.710000038146973, 145933, 0], ['NSE', 'MKPL', datetime.date(2025, 11, 5), 6.710000038146973, 6.710000038146973, 6.710000038146973, 6.710000038146973, 0, 0], ['NSE', 'MKPL', datetime.date(2025, 11, 6), 6.829999923706055, 6.829999923706055, 6.480000019073486, 6.539999961853027, 269941, 0], ['NSE', 'MKPL', datetime.date(2025, 11, 7), 6.630000114440918, 6.639999866485596, 6.400000095367432, 6.46999979019165, 184432, 0], ['NSE', 'MKPL', datetime.date(2025, 11, 10), 6.510000228881836, 6.650000095367432, 6.5, 6.619999885559082, 106376, 0], ['NSE', 'MKPL', datetime.date(2025, 11, 11), 6.75, 6.849999904632568, 6.619999885559082, 6.650000095367432, 196969, 0], ['NSE', 'MKPL', datetime.date(2025, 11, 12), 6.809999942779541, 6.840000152587891, 6.71999979019165, 6.789999961853027, 146282, 0], ['NSE', 'MKPL', datetime.date(2025, 11, 13), 6.920000076293945, 6.920000076293945, 6.5, 6.650000095367432, 270156, 0], ['NSE', 'MKPL', datetime.date(2025, 11, 14), 6.650000095367432, 6.789999961853027, 6.599999904632568, 6.639999866485596, 180486, 0], ['NSE', 'MKPL', datetime.date(2025, 11, 17), 6.5, 6.659999847412109, 6.440000057220459, 6.460000038146973, 351916, 0], ['NSE', 'MKPL', datetime.date(2025, 11, 18), 6.5, 6.590000152587891, 6.449999809265137, 6.460000038146973, 189321, 0], ['NSE', 'MKPL', datetime.date(2025, 11, 19), 6.5, 6.579999923706055, 6.429999828338623, 6.480000019073486, 131355, 0], ['NSE', 'MKPL', datetime.date(2025, 11, 20), 6.579999923706055, 6.579999923706055, 6.380000114440918, 6.409999847412109, 136809, 0], ['NSE', 'MKPL', datetime.date(2025, 11, 21), 6.53000020980835, 6.670000076293945, 6.360000133514404, 6.400000095367432, 95508, 0], ['NSE', 'MKPL', datetime.date(2025, 11, 24), 6.400000095367432, 6.46999979019165, 6.0, 6.260000228881836, 152321, 0], ['NSE', 'MKPL', datetime.date(2025, 11, 25), 6.260000228881836, 6.340000152587891, 6.21999979019165, 6.21999979019165, 75046, 0], ['NSE', 'MKPL', datetime.date(2025, 11, 26), 6.210000038146973, 6.539999961853027, 6.210000038146973, 6.230000019073486, 85756, 0], ['NSE', 'MKPL', datetime.date(2025, 11, 27), 6.25, 6.349999904632568, 6.25, 6.289999961853027, 74407, 0], ['NSE', 'MKPL', datetime.date(2025, 11, 28), 6.210000038146973, 6.340000152587891, 6.199999809265137, 6.289999961853027, 87490, 0]]
Row  3716  :  MKPL.NS  :  20  records inserted
[['NSE', 'HYBRIDFIN', datetime.date(2025, 11, 3), 23.450000762939453, 24.600000381469727, 23.450000762939453, 23.520000457763672, 197602, 0], ['NSE', 'HYBRIDFIN', datetime.date(2025, 11, 4), 22.43000030517578, 23.0, 22.34000015258789, 22.34000015258789, 144544, 0], ['NSE', 'HYBRIDFIN', datetime.date(2025, 11, 5), 22.34000015258789, 22.34000015258789, 22.34000015258789, 22.34000015258789, 0, 0], ['NSE', 'HYBRIDFIN', datetime.date(2025, 11, 6), 21.780000686645508, 21.889999389648438, 21.219999313354492, 21.3700008392334, 84695, 0], ['NSE', 'HYBRIDFIN', datetime.date(2025, 11, 7), 20.81999969482422, 22.43000030517578, 20.31999969482422, 22.40999984741211, 47131, 0], ['NSE', 'HYBRIDFIN', datetime.date(2025, 11, 10), 22.6299991607666, 23.530000686645508, 22.520000457763672, 23.520000457763672, 80806, 0], ['NSE', 'HYBRIDFIN', datetime.date(2025, 11, 11), 23.950000762939453, 24.649999618530273, 22.360000610351562, 23.860000610351562, 60730, 0], ['NSE', 'HYBRIDFIN', datetime.date(2025, 11, 12), 23.770000457763672, 23.770000457763672, 22.75, 22.8799991607666, 27492, 0], ['NSE', 'HYBRIDFIN', datetime.date(2025, 11, 13), 22.010000228881836, 23.75, 21.8799991607666, 22.360000610351562, 22187, 0], ['NSE', 'HYBRIDFIN', datetime.date(2025, 11, 14), 21.3700008392334, 23.469999313354492, 21.3700008392334, 23.469999313354492, 59885, 0], ['NSE', 'HYBRIDFIN', datetime.date(2025, 11, 17), 23.43000030517578, 23.43000030517578, 22.299999237060547, 22.959999084472656, 22159, 0], ['NSE', 'HYBRIDFIN', datetime.date(2025, 11, 18), 22.020000457763672, 22.899999618530273, 22.020000457763672, 22.489999771118164, 9856, 0], ['NSE', 'HYBRIDFIN', datetime.date(2025, 11, 19), 21.559999465942383, 22.3799991607666, 21.559999465942383, 21.989999771118164, 11179, 0], ['NSE', 'HYBRIDFIN', datetime.date(2025, 11, 20), 21.3799991607666, 22.799999237060547, 21.25, 21.760000228881836, 12373, 0], ['NSE', 'HYBRIDFIN', datetime.date(2025, 11, 21), 21.989999771118164, 21.989999771118164, 20.8799991607666, 21.299999237060547, 5747, 0], ['NSE', 'HYBRIDFIN', datetime.date(2025, 11, 24), 22.25, 22.25, 20.420000076293945, 20.950000762939453, 6809, 0], ['NSE', 'HYBRIDFIN', datetime.date(2025, 11, 25), 20.899999618530273, 21.389999389648438, 20.110000610351562, 20.770000457763672, 10381, 0], ['NSE', 'HYBRIDFIN', datetime.date(2025, 11, 26), 21.25, 21.799999237060547, 20.100000381469727, 21.780000686645508, 15609, 0], ['NSE', 'HYBRIDFIN', datetime.date(2025, 11, 27), 21.780000686645508, 22.219999313354492, 20.790000915527344, 21.709999084472656, 13349, 0], ['NSE', 'HYBRIDFIN', datetime.date(2025, 11, 28), 20.75, 21.649999618530273, 20.6200008392334, 20.729999542236328, 13157, 0]]
Row  3717  :  HYBRIDFIN.NS  :  20  records inserted
[['BSE', '532795', datetime.date(2025, 11, 3), 0.49000000953674316, 0.49000000953674316, 0.49000000953674316, 0.49000000953674316, 426041, 0], ['BSE', '532795', datetime.date(2025, 11, 4), 0.49000000953674316, 0.49000000953674316, 0.49000000953674316, 0.49000000953674316, 7951, 0], ['BSE', '532795', datetime.date(2025, 11, 6), 0.49000000953674316, 0.49000000953674316, 0.49000000953674316, 0.49000000953674316, 13320, 0], ['BSE', '532795', datetime.date(2025, 11, 7), 0.49000000953674316, 0.49000000953674316, 0.49000000953674316, 0.49000000953674316, 1502, 0], ['BSE', '532795', datetime.date(2025, 11, 10), 0.49000000953674316, 0.49000000953674316, 0.49000000953674316, 0.49000000953674316, 113506, 0], ['BSE', '532795', datetime.date(2025, 11, 11), 0.49000000953674316, 0.49000000953674316, 0.49000000953674316, 0.49000000953674316, 17156, 0], ['BSE', '532795', datetime.date(2025, 11, 12), 0.49000000953674316, 0.49000000953674316, 0.49000000953674316, 0.49000000953674316, 21184, 0], ['BSE', '532795', datetime.date(2025, 11, 13), 0.49000000953674316, 0.49000000953674316, 0.49000000953674316, 0.49000000953674316, 32803, 0], ['BSE', '532795', datetime.date(2025, 11, 14), 0.49000000953674316, 0.49000000953674316, 0.49000000953674316, 0.49000000953674316, 244448, 0], ['BSE', '532795', datetime.date(2025, 11, 17), 0.49000000953674316, 0.49000000953674316, 0.49000000953674316, 0.49000000953674316, 24739, 0], ['BSE', '532795', datetime.date(2025, 11, 18), 0.49000000953674316, 0.49000000953674316, 0.49000000953674316, 0.49000000953674316, 18789, 0], ['BSE', '532795', datetime.date(2025, 11, 19), 0.49000000953674316, 0.49000000953674316, 0.49000000953674316, 0.49000000953674316, 15696, 0], ['BSE', '532795', datetime.date(2025, 11, 20), 0.49000000953674316, 0.49000000953674316, 0.49000000953674316, 0.49000000953674316, 27226, 0], ['BSE', '532795', datetime.date(2025, 11, 21), 0.49000000953674316, 0.49000000953674316, 0.49000000953674316, 0.49000000953674316, 5248, 0], ['BSE', '532795', datetime.date(2025, 11, 24), 0.49000000953674316, 0.49000000953674316, 0.49000000953674316, 0.49000000953674316, 14180, 0], ['BSE', '532795', datetime.date(2025, 11, 25), 0.49000000953674316, 0.49000000953674316, 0.49000000953674316, 0.49000000953674316, 23737, 0], ['BSE', '532795', datetime.date(2025, 11, 26), 0.49000000953674316, 0.49000000953674316, 0.49000000953674316, 0.49000000953674316, 41524, 0], ['BSE', '532795', datetime.date(2025, 11, 28), 0.49000000953674316, 0.49000000953674316, 0.49000000953674316, 0.49000000953674316, 6786, 0]]
Row  3718  :  532795.BO  :  18  records inserted
[['NSE', 'SITINET', datetime.date(2025, 11, 3), 0.4300000071525574, 0.44999998807907104, 0.4300000071525574, 0.4399999976158142, 536060, 0], ['NSE', 'SITINET', datetime.date(2025, 11, 4), 0.44999998807907104, 0.44999998807907104, 0.4300000071525574, 0.4300000071525574, 900098, 0], ['NSE', 'SITINET', datetime.date(2025, 11, 6), 0.4300000071525574, 0.4399999976158142, 0.41999998688697815, 0.4399999976158142, 817276, 0], ['NSE', 'SITINET', datetime.date(2025, 11, 7), 0.4399999976158142, 0.4399999976158142, 0.4300000071525574, 0.4300000071525574, 750353, 0], ['NSE', 'SITINET', datetime.date(2025, 11, 10), 0.4399999976158142, 0.4399999976158142, 0.41999998688697815, 0.41999998688697815, 1169056, 0], ['NSE', 'SITINET', datetime.date(2025, 11, 11), 0.4300000071525574, 0.4300000071525574, 0.4099999964237213, 0.4099999964237213, 1025739, 0], ['NSE', 'SITINET', datetime.date(2025, 11, 12), 0.4000000059604645, 0.41999998688697815, 0.4000000059604645, 0.4099999964237213, 503350, 0], ['NSE', 'SITINET', datetime.date(2025, 11, 13), 0.41999998688697815, 0.41999998688697815, 0.4000000059604645, 0.4099999964237213, 268367, 0], ['NSE', 'SITINET', datetime.date(2025, 11, 14), 0.4099999964237213, 0.41999998688697815, 0.4000000059604645, 0.41999998688697815, 792311, 0], ['NSE', 'SITINET', datetime.date(2025, 11, 17), 0.4300000071525574, 0.4300000071525574, 0.4099999964237213, 0.4300000071525574, 828602, 0], ['NSE', 'SITINET', datetime.date(2025, 11, 18), 0.4399999976158142, 0.4399999976158142, 0.41999998688697815, 0.41999998688697815, 828278, 0], ['NSE', 'SITINET', datetime.date(2025, 11, 19), 0.4300000071525574, 0.4300000071525574, 0.4099999964237213, 0.4099999964237213, 978582, 0], ['NSE', 'SITINET', datetime.date(2025, 11, 20), 0.41999998688697815, 0.41999998688697815, 0.4000000059604645, 0.4000000059604645, 1506767, 0], ['NSE', 'SITINET', datetime.date(2025, 11, 21), 0.4000000059604645, 0.4099999964237213, 0.38999998569488525, 0.4000000059604645, 2769952, 0], ['NSE', 'SITINET', datetime.date(2025, 11, 24), 0.4000000059604645, 0.4099999964237213, 0.38999998569488525, 0.38999998569488525, 1067949, 0], ['NSE', 'SITINET', datetime.date(2025, 11, 25), 0.38999998569488525, 0.38999998569488525, 0.3799999952316284, 0.3799999952316284, 894336, 0], ['NSE', 'SITINET', datetime.date(2025, 11, 26), 0.3799999952316284, 0.38999998569488525, 0.3700000047683716, 0.3700000047683716, 1481990, 0], ['NSE', 'SITINET', datetime.date(2025, 11, 27), 0.3799999952316284, 0.3799999952316284, 0.36000001430511475, 0.36000001430511475, 1859716, 0], ['NSE', 'SITINET', datetime.date(2025, 11, 28), 0.36000001430511475, 0.3700000047683716, 0.3499999940395355, 0.3499999940395355, 1784897, 0]]
Row  3719  :  SITINET.NS  :  19  records inserted

$505526.BO: possibly delisted; no timezone found

[['NSE', 'DOLATALGO', datetime.date(2025, 11, 3), 79.0, 79.80000305175781, 78.02999877929688, 79.12000274658203, 142874, 0], ['NSE', 'DOLATALGO', datetime.date(2025, 11, 4), 78.3499984741211, 79.45999908447266, 77.25, 77.7699966430664, 295348, 0], ['NSE', 'DOLATALGO', datetime.date(2025, 11, 6), 77.05000305175781, 78.36000061035156, 76.80999755859375, 77.08999633789062, 157937, 0], ['NSE', 'DOLATALGO', datetime.date(2025, 11, 7), 76.1500015258789, 77.11000061035156, 75.25, 75.9000015258789, 206505, 0], ['NSE', 'DOLATALGO', datetime.date(2025, 11, 10), 75.16000366210938, 78.87000274658203, 75.16000366210938, 78.01000213623047, 169654, 0], ['NSE', 'DOLATALGO', datetime.date(2025, 11, 11), 77.0999984741211, 78.0, 76.31999969482422, 77.33000183105469, 101814, 0], ['NSE', 'DOLATALGO', datetime.date(2025, 11, 12), 77.48999786376953, 78.94999694824219, 77.04000091552734, 77.7300033569336, 105123, 0], ['NSE', 'DOLATALGO', datetime.date(2025, 11, 13), 72.0, 81.83000183105469, 69.51000213623047, 77.5, 2704312, 0], ['NSE', 'DOLATALGO', datetime.date(2025, 11, 14), 77.0, 80.30000305175781, 76.69000244140625, 77.44999694824219, 590502, 0], ['NSE', 'DOLATALGO', datetime.date(2025, 11, 17), 77.47000122070312, 79.9000015258789, 75.3499984741211, 76.1500015258789, 337314, 0], ['NSE', 'DOLATALGO', datetime.date(2025, 11, 18), 76.0, 76.18000030517578, 74.12000274658203, 74.5199966430664, 341900, 0], ['NSE', 'DOLATALGO', datetime.date(2025, 11, 19), 73.9000015258789, 74.44999694824219, 72.11000061035156, 72.83000183105469, 379970, 0], ['NSE', 'DOLATALGO', datetime.date(2025, 11, 20), 72.5, 76.48999786376953, 71.19999694824219, 73.75, 633194, 0], ['NSE', 'DOLATALGO', datetime.date(2025, 11, 21), 73.81999969482422, 73.81999969482422, 71.05000305175781, 71.66999816894531, 234409, 0], ['NSE', 'DOLATALGO', datetime.date(2025, 11, 24), 71.5, 72.1500015258789, 68.12000274658203, 69.05999755859375, 391547, 0], ['NSE', 'DOLATALGO', datetime.date(2025, 11, 25), 68.12000274658203, 70.83999633789062, 68.12000274658203, 70.06999969482422, 190789, 0], ['NSE', 'DOLATALGO', datetime.date(2025, 11, 26), 70.12000274658203, 71.26000213623047, 69.0, 70.12999725341797, 251251, 0], ['NSE', 'DOLATALGO', datetime.date(2025, 11, 27), 70.12999725341797, 70.83999633789062, 69.48999786376953, 69.80999755859375, 96156, 0], ['NSE', 'DOLATALGO', datetime.date(2025, 11, 28), 70.05000305175781, 70.05000305175781, 69.05999755859375, 69.26000213623047, 125737, 0]]
Row  3721  :  DOLATALGO.NS  :  19  records inserted
[['BSE', '532794', datetime.date(2025, 11, 3), 9.640000343322754, 10.039999961853027, 9.640000343322754, 10.029999732971191, 138153, 0], ['BSE', '532794', datetime.date(2025, 11, 4), 10.079999923706055, 10.100000381469727, 9.960000038146973, 10.010000228881836, 36397, 0], ['BSE', '532794', datetime.date(2025, 11, 6), 10.010000228881836, 10.210000038146973, 9.649999618530273, 9.699999809265137, 78213, 0], ['BSE', '532794', datetime.date(2025, 11, 7), 9.729999542236328, 9.850000381469727, 9.59000015258789, 9.8100004196167, 83598, 0], ['BSE', '532794', datetime.date(2025, 11, 10), 10.010000228881836, 10.010000228881836, 9.75, 9.779999732971191, 51848, 0], ['BSE', '532794', datetime.date(2025, 11, 11), 9.949999809265137, 9.979999542236328, 9.350000381469727, 9.510000228881836, 124500, 0], ['BSE', '532794', datetime.date(2025, 11, 12), 9.380000114440918, 9.770000457763672, 9.380000114440918, 9.710000038146973, 142362, 0], ['BSE', '532794', datetime.date(2025, 11, 13), 9.630000114440918, 9.899999618530273, 9.550000190734863, 9.609999656677246, 147606, 0], ['BSE', '532794', datetime.date(2025, 11, 14), 9.699999809265137, 9.699999809265137, 9.420000076293945, 9.520000457763672, 189100, 0], ['BSE', '532794', datetime.date(2025, 11, 17), 9.359999656677246, 9.949999809265137, 9.359999656677246, 9.399999618530273, 86109, 0], ['BSE', '532794', datetime.date(2025, 11, 18), 9.600000381469727, 9.600000381469727, 9.319999694824219, 9.329999923706055, 94120, 0], ['BSE', '532794', datetime.date(2025, 11, 19), 9.579999923706055, 9.579999923706055, 9.289999961853027, 9.399999618530273, 52810, 0], ['BSE', '532794', datetime.date(2025, 11, 20), 9.430000305175781, 9.510000228881836, 9.399999618530273, 9.4399995803833, 28180, 0], ['BSE', '532794', datetime.date(2025, 11, 21), 9.600000381469727, 9.600000381469727, 9.069999694824219, 9.109999656677246, 108552, 0], ['BSE', '532794', datetime.date(2025, 11, 24), 9.109999656677246, 9.149999618530273, 8.859999656677246, 8.930000305175781, 75627, 0], ['BSE', '532794', datetime.date(2025, 11, 25), 8.899999618530273, 9.399999618530273, 8.899999618530273, 9.279999732971191, 105162, 0], ['BSE', '532794', datetime.date(2025, 11, 26), 9.270000457763672, 10.0, 9.270000457763672, 9.819999694824219, 359916, 0], ['BSE', '532794', datetime.date(2025, 11, 28), 9.550000190734863, 9.850000381469727, 9.359999656677246, 9.649999618530273, 128727, 0]]
Row  3722  :  532794.BO  :  18  records inserted
[['NSE', 'ZEEMEDIA', datetime.date(2025, 11, 3), 10.0, 10.079999923706055, 9.869999885559082, 10.010000228881836, 1968649, 0], ['NSE', 'ZEEMEDIA', datetime.date(2025, 11, 4), 10.039999961853027, 10.149999618530273, 9.90999984741211, 10.0, 2622813, 0], ['NSE', 'ZEEMEDIA', datetime.date(2025, 11, 6), 10.100000381469727, 10.270000457763672, 9.600000381469727, 9.720000267028809, 3174725, 0], ['NSE', 'ZEEMEDIA', datetime.date(2025, 11, 7), 9.779999732971191, 10.0, 9.579999923706055, 9.829999923706055, 1794600, 0], ['NSE', 'ZEEMEDIA', datetime.date(2025, 11, 10), 9.869999885559082, 9.949999809265137, 9.760000228881836, 9.789999961853027, 899427, 0], ['NSE', 'ZEEMEDIA', datetime.date(2025, 11, 11), 9.800000190734863, 9.850000381469727, 9.329999923706055, 9.5, 3759620, 0], ['NSE', 'ZEEMEDIA', datetime.date(2025, 11, 12), 9.460000038146973, 9.819999694824219, 9.460000038146973, 9.710000038146973, 2662411, 0], ['NSE', 'ZEEMEDIA', datetime.date(2025, 11, 13), 9.699999809265137, 9.9399995803833, 9.5, 9.619999885559082, 2224205, 0], ['NSE', 'ZEEMEDIA', datetime.date(2025, 11, 14), 9.699999809265137, 9.699999809265137, 9.420000076293945, 9.5, 1701173, 0], ['NSE', 'ZEEMEDIA', datetime.date(2025, 11, 17), 9.510000228881836, 10.100000381469727, 9.34000015258789, 9.390000343322754, 2570957, 0], ['NSE', 'ZEEMEDIA', datetime.date(2025, 11, 18), 9.470000267028809, 9.649999618530273, 9.300000190734863, 9.319999694824219, 1230942, 0], ['NSE', 'ZEEMEDIA', datetime.date(2025, 11, 19), 9.390000343322754, 9.5, 9.270000457763672, 9.40999984741211, 863404, 0], ['NSE', 'ZEEMEDIA', datetime.date(2025, 11, 20), 9.40999984741211, 9.529999732971191, 9.369999885559082, 9.420000076293945, 948572, 0], ['NSE', 'ZEEMEDIA', datetime.date(2025, 11, 21), 9.399999618530273, 9.430000305175781, 9.029999732971191, 9.09000015258789, 2472814, 0], ['NSE', 'ZEEMEDIA', datetime.date(2025, 11, 24), 9.170000076293945, 9.170000076293945, 8.859999656677246, 8.920000076293945, 2521108, 0], ['NSE', 'ZEEMEDIA', datetime.date(2025, 11, 25), 8.899999618530273, 9.489999771118164, 8.890000343322754, 9.350000381469727, 2240934, 0], ['NSE', 'ZEEMEDIA', datetime.date(2025, 11, 26), 9.289999961853027, 9.979999542236328, 9.239999771118164, 9.84000015258789, 4935847, 0], ['NSE', 'ZEEMEDIA', datetime.date(2025, 11, 27), 9.600000381469727, 9.970000267028809, 9.40999984741211, 9.489999771118164, 2158389, 0], ['NSE', 'ZEEMEDIA', datetime.date(2025, 11, 28), 9.600000381469727, 9.850000381469727, 9.369999885559082, 9.670000076293945, 2937989, 0]]
Row  3723  :  ZEEMEDIA.NS  :  19  records inserted
[['BSE', '526668', datetime.date(2025, 11, 3), 290.0, 296.25, 285.1499938964844, 294.95001220703125, 877, 0], ['BSE', '526668', datetime.date(2025, 11, 4), 294.25, 294.75, 291.8999938964844, 292.54998779296875, 629, 0], ['BSE', '526668', datetime.date(2025, 11, 6), 292.79998779296875, 292.79998779296875, 276.3999938964844, 279.1499938964844, 6797, 0], ['BSE', '526668', datetime.date(2025, 11, 7), 276.0, 280.20001220703125, 274.95001220703125, 278.95001220703125, 1421, 0], ['BSE', '526668', datetime.date(2025, 11, 10), 255.60000610351562, 258.0, 225.0, 227.60000610351562, 75417, 0], ['BSE', '526668', datetime.date(2025, 11, 11), 234.0500030517578, 236.89999389648438, 228.85000610351562, 231.14999389648438, 11607, 0], ['BSE', '526668', datetime.date(2025, 11, 12), 231.14999389648438, 242.35000610351562, 229.6999969482422, 238.75, 3065, 0], ['BSE', '526668', datetime.date(2025, 11, 13), 253.10000610351562, 253.10000610351562, 235.60000610351562, 238.4499969482422, 6005, 0], ['BSE', '526668', datetime.date(2025, 11, 14), 236.89999389648438, 239.4499969482422, 233.9499969482422, 237.0, 1239, 0], ['BSE', '526668', datetime.date(2025, 11, 17), 237.35000610351562, 239.0, 231.0500030517578, 234.6999969482422, 2621, 0], ['BSE', '526668', datetime.date(2025, 11, 18), 230.4499969482422, 239.25, 230.4499969482422, 238.35000610351562, 3327, 0], ['BSE', '526668', datetime.date(2025, 11, 19), 239.10000610351562, 245.75, 236.39999389648438, 239.60000610351562, 3395, 0], ['BSE', '526668', datetime.date(2025, 11, 20), 231.0500030517578, 242.0, 231.0500030517578, 239.0, 760, 0], ['BSE', '526668', datetime.date(2025, 11, 21), 237.85000610351562, 245.9499969482422, 235.6999969482422, 239.3000030517578, 16255, 0], ['BSE', '526668', datetime.date(2025, 11, 24), 235.25, 238.10000610351562, 234.0, 235.14999389648438, 1388, 0], ['BSE', '526668', datetime.date(2025, 11, 25), 234.85000610351562, 236.89999389648438, 234.0500030517578, 236.35000610351562, 256, 0], ['BSE', '526668', datetime.date(2025, 11, 26), 238.1999969482422, 246.0, 234.5, 244.39999389648438, 1836, 0], ['BSE', '526668', datetime.date(2025, 11, 28), 243.0500030517578, 245.9499969482422, 240.60000610351562, 243.5, 3887, 0]]
Row  3724  :  526668.BO  :  18  records inserted
[['NSE', 'KAMATHOTEL', datetime.date(2025, 11, 3), 292.8500061035156, 298.0, 285.20001220703125, 294.6000061035156, 54716, 0], ['NSE', 'KAMATHOTEL', datetime.date(2025, 11, 4), 295.6499938964844, 295.6499938964844, 292.0, 293.1499938964844, 17900, 0], ['NSE', 'KAMATHOTEL', datetime.date(2025, 11, 5), 293.1499938964844, 293.1499938964844, 293.1499938964844, 293.1499938964844, 0, 0], ['NSE', 'KAMATHOTEL', datetime.date(2025, 11, 6), 292.0, 293.0, 276.20001220703125, 278.04998779296875, 68096, 0], ['NSE', 'KAMATHOTEL', datetime.date(2025, 11, 7), 275.0, 281.8999938964844, 274.3999938964844, 278.95001220703125, 36238, 0], ['NSE', 'KAMATHOTEL', datetime.date(2025, 11, 10), 258.3999938964844, 259.0, 224.1999969482422, 227.89999389648438, 1053566, 0], ['NSE', 'KAMATHOTEL', datetime.date(2025, 11, 11), 234.0, 237.0, 227.10000610351562, 231.0, 281325, 0], ['NSE', 'KAMATHOTEL', datetime.date(2025, 11, 12), 230.10000610351562, 243.5, 230.10000610351562, 238.9499969482422, 215067, 0], ['NSE', 'KAMATHOTEL', datetime.date(2025, 11, 13), 242.0, 244.5, 235.9499969482422, 238.39999389648438, 102374, 0], ['NSE', 'KAMATHOTEL', datetime.date(2025, 11, 14), 238.39999389648438, 239.75, 233.10000610351562, 237.10000610351562, 68890, 0], ['NSE', 'KAMATHOTEL', datetime.date(2025, 11, 17), 237.10000610351562, 239.6999969482422, 233.5500030517578, 235.4499969482422, 82504, 0], ['NSE', 'KAMATHOTEL', datetime.date(2025, 11, 18), 234.25, 240.0, 233.60000610351562, 239.10000610351562, 48329, 0], ['NSE', 'KAMATHOTEL', datetime.date(2025, 11, 19), 239.0, 245.39999389648438, 235.60000610351562, 239.5500030517578, 86581, 0], ['NSE', 'KAMATHOTEL', datetime.date(2025, 11, 20), 240.0, 242.8000030517578, 237.0, 238.89999389648438, 52734, 0], ['NSE', 'KAMATHOTEL', datetime.date(2025, 11, 21), 239.14999389648438, 245.0, 234.9499969482422, 240.0, 73170, 0], ['NSE', 'KAMATHOTEL', datetime.date(2025, 11, 24), 237.5, 238.4499969482422, 234.0, 234.5, 44415, 0], ['NSE', 'KAMATHOTEL', datetime.date(2025, 11, 25), 235.0, 237.0, 234.14999389648438, 236.25, 18543, 0], ['NSE', 'KAMATHOTEL', datetime.date(2025, 11, 26), 236.0, 246.60000610351562, 236.0, 245.3000030517578, 35963, 0], ['NSE', 'KAMATHOTEL', datetime.date(2025, 11, 27), 245.1999969482422, 249.5, 238.3000030517578, 242.60000610351562, 70015, 0], ['NSE', 'KAMATHOTEL', datetime.date(2025, 11, 28), 242.60000610351562, 247.3000030517578, 241.0500030517578, 242.60000610351562, 37579, 0]]
Row  3725  :  KAMATHOTEL.NS  :  20  records inserted

$543308.BO: possibly delisted; no timezone found

[['NSE', 'KIMS', datetime.date(2025, 11, 3), 724.5, 733.0499877929688, 718.75, 726.75, 131735, 0], ['NSE', 'KIMS', datetime.date(2025, 11, 4), 729.0, 731.0, 715.0, 716.8499755859375, 168833, 0], ['NSE', 'KIMS', datetime.date(2025, 11, 6), 719.7999877929688, 721.9500122070312, 702.5999755859375, 720.2999877929688, 285402, 0], ['NSE', 'KIMS', datetime.date(2025, 11, 7), 722.0, 733.4500122070312, 708.0, 728.0999755859375, 708166, 0], ['NSE', 'KIMS', datetime.date(2025, 11, 10), 725.0, 726.0, 692.75, 700.9500122070312, 557382, 0], ['NSE', 'KIMS', datetime.date(2025, 11, 11), 704.9000244140625, 704.9000244140625, 664.0499877929688, 670.2999877929688, 765670, 0], ['NSE', 'KIMS', datetime.date(2025, 11, 12), 673.7000122070312, 689.75, 669.0, 687.3499755859375, 363587, 0], ['NSE', 'KIMS', datetime.date(2025, 11, 13), 687.4500122070312, 688.0499877929688, 675.0499877929688, 678.1500244140625, 188271, 0], ['NSE', 'KIMS', datetime.date(2025, 11, 14), 675.0, 675.2999877929688, 662.0, 665.0, 333073, 0], ['NSE', 'KIMS', datetime.date(2025, 11, 17), 661.2999877929688, 679.7999877929688, 660.0, 676.0499877929688, 295767, 0], ['NSE', 'KIMS', datetime.date(2025, 11, 18), 679.5999755859375, 682.6500244140625, 661.0999755859375, 668.2000122070312, 372768, 0], ['NSE', 'KIMS', datetime.date(2025, 11, 19), 672.25, 672.25, 653.6500244140625, 663.75, 360581, 0], ['NSE', 'KIMS', datetime.date(2025, 11, 20), 661.0499877929688, 674.5999755859375, 659.6500244140625, 673.0499877929688, 229914, 0], ['NSE', 'KIMS', datetime.date(2025, 11, 21), 672.0, 672.9500122070312, 663.2000122070312, 670.0999755859375, 208762, 0], ['NSE', 'KIMS', datetime.date(2025, 11, 24), 670.0, 682.0499877929688, 657.75, 678.4500122070312, 339736, 0], ['NSE', 'KIMS', datetime.date(2025, 11, 25), 677.9500122070312, 679.25, 661.7999877929688, 675.1500244140625, 348030, 0], ['NSE', 'KIMS', datetime.date(2025, 11, 26), 675.0499877929688, 686.0, 669.1500244140625, 684.1500244140625, 268587, 0], ['NSE', 'KIMS', datetime.date(2025, 11, 27), 684.0, 688.9500122070312, 678.2999877929688, 683.4500122070312, 173236, 0], ['NSE', 'KIMS', datetime.date(2025, 11, 28), 687.0, 688.0, 678.6500244140625, 685.0999755859375, 112590, 0]]
Row  3727  :  KIMS.NS  :  19  records inserted

$506074.BO: possibly delisted; no timezone found

[['NSE', 'ARSHIYA', datetime.date(2025, 11, 3), 1.7599999904632568, 1.8700000047683716, 1.7599999904632568, 1.7899999618530273, 85196, 0], ['NSE', 'ARSHIYA', datetime.date(2025, 11, 4), 1.840000033378601, 1.8600000143051147, 1.7699999809265137, 1.7899999618530273, 101643, 0], ['NSE', 'ARSHIYA', datetime.date(2025, 11, 5), 1.7899999618530273, 1.7899999618530273, 1.7899999618530273, 1.7899999618530273, 0, 0], ['NSE', 'ARSHIYA', datetime.date(2025, 11, 6), 1.7300000190734863, 1.8600000143051147, 1.7300000190734863, 1.7599999904632568, 87601, 0], ['NSE', 'ARSHIYA', datetime.date(2025, 11, 7), 1.7899999618530273, 1.840000033378601, 1.7000000476837158, 1.7300000190734863, 202752, 0], ['NSE', 'ARSHIYA', datetime.date(2025, 11, 10), 1.7300000190734863, 1.7699999809265137, 1.6799999475479126, 1.7400000095367432, 82101, 0], ['NSE', 'ARSHIYA', datetime.date(2025, 11, 11), 1.7400000095367432, 1.7799999713897705, 1.7000000476837158, 1.7200000286102295, 44028, 0], ['NSE', 'ARSHIYA', datetime.date(2025, 11, 12), 1.75, 1.7999999523162842, 1.7300000190734863, 1.7999999523162842, 103982, 0], ['NSE', 'ARSHIYA', datetime.date(2025, 11, 13), 1.7999999523162842, 1.840000033378601, 1.7100000381469727, 1.7599999904632568, 234789, 0], ['NSE', 'ARSHIYA', datetime.date(2025, 11, 14), 1.7599999904632568, 1.7599999904632568, 1.6699999570846558, 1.6699999570846558, 356261, 0], ['NSE', 'ARSHIYA', datetime.date(2025, 11, 17), 1.6699999570846558, 1.690000057220459, 1.5800000429153442, 1.5800000429153442, 435146, 0], ['NSE', 'ARSHIYA', datetime.date(2025, 11, 18), 1.5499999523162842, 1.600000023841858, 1.5, 1.5299999713897705, 384144, 0], ['NSE', 'ARSHIYA', datetime.date(2025, 11, 19), 1.4700000286102295, 1.5, 1.4500000476837158, 1.4800000190734863, 1458879, 0], ['NSE', 'ARSHIYA', datetime.date(2025, 11, 20), 1.4600000381469727, 1.4700000286102295, 1.399999976158142, 1.399999976158142, 181524, 0], ['NSE', 'ARSHIYA', datetime.date(2025, 11, 21), 1.350000023841858, 1.3799999952316284, 1.3300000429153442, 1.3300000429153442, 430102, 0], ['NSE', 'ARSHIYA', datetime.date(2025, 11, 24), 1.3300000429153442, 1.3300000429153442, 1.2599999904632568, 1.2599999904632568, 517554, 0], ['NSE', 'ARSHIYA', datetime.date(2025, 11, 25), 1.190000057220459, 1.2400000095367432, 1.190000057220459, 1.2000000476837158, 545820, 0], ['NSE', 'ARSHIYA', datetime.date(2025, 11, 26), 1.2000000476837158, 1.2599999904632568, 1.190000057220459, 1.2599999904632568, 144460, 0], ['NSE', 'ARSHIYA', datetime.date(2025, 11, 27), 1.2999999523162842, 1.3200000524520874, 1.2999999523162842, 1.3200000524520874, 25716, 0], ['NSE', 'ARSHIYA', datetime.date(2025, 11, 28), 1.3799999952316284, 1.3799999952316284, 1.3799999952316284, 1.3799999952316284, 123471, 0]]
Row  3729  :  ARSHIYA.NS  :  20  records inserted

$514036.BO: possibly delisted; no timezone found

[['NSE', 'LOYALTEX', datetime.date(2025, 11, 3), 249.0, 249.0, 240.39999389648438, 242.22000122070312, 329, 0], ['NSE', 'LOYALTEX', datetime.date(2025, 11, 4), 242.1999969482422, 244.97999572753906, 231.0, 231.9199981689453, 382, 0], ['NSE', 'LOYALTEX', datetime.date(2025, 11, 6), 232.00999450683594, 235.0, 225.1999969482422, 226.0399932861328, 732, 0], ['NSE', 'LOYALTEX', datetime.date(2025, 11, 7), 225.39999389648438, 236.38999938964844, 225.39999389648438, 226.0399932861328, 439, 0], ['NSE', 'LOYALTEX', datetime.date(2025, 11, 10), 234.8000030517578, 234.8000030517578, 227.1699981689453, 233.0500030517578, 70, 0], ['NSE', 'LOYALTEX', datetime.date(2025, 11, 11), 238.0, 244.6999969482422, 228.0, 240.0500030517578, 843, 0], ['NSE', 'LOYALTEX', datetime.date(2025, 11, 12), 238.0, 238.0, 230.39999389648438, 237.89999389648438, 388, 0], ['NSE', 'LOYALTEX', datetime.date(2025, 11, 13), 240.27999877929688, 248.0, 232.39999389648438, 243.3300018310547, 561, 0], ['NSE', 'LOYALTEX', datetime.date(2025, 11, 14), 239.5, 240.0, 239.5, 239.97000122070312, 22, 0], ['NSE', 'LOYALTEX', datetime.date(2025, 11, 17), 239.97000122070312, 239.97000122070312, 227.97999572753906, 228.8699951171875, 871, 0], ['NSE', 'LOYALTEX', datetime.date(2025, 11, 18), 227.99000549316406, 230.39999389648438, 217.4199981689453, 220.74000549316406, 1580, 0], ['NSE', 'LOYALTEX', datetime.date(2025, 11, 19), 225.0, 227.0, 210.41000366210938, 218.1300048828125, 4101, 0], ['NSE', 'LOYALTEX', datetime.date(2025, 11, 20), 221.99000549316406, 227.38999938964844, 218.60000610351562, 220.0, 1079, 0], ['NSE', 'LOYALTEX', datetime.date(2025, 11, 21), 221.94000244140625, 222.10000610351562, 216.10000610351562, 217.6300048828125, 1660, 0], ['NSE', 'LOYALTEX', datetime.date(2025, 11, 24), 217.0, 218.0, 216.10000610351562, 217.49000549316406, 679, 0], ['NSE', 'LOYALTEX', datetime.date(2025, 11, 25), 224.8800048828125, 224.88999938964844, 216.11000061035156, 218.02000427246094, 66, 0], ['NSE', 'LOYALTEX', datetime.date(2025, 11, 26), 228.0, 228.0, 218.0, 220.0, 343, 0], ['NSE', 'LOYALTEX', datetime.date(2025, 11, 27), 220.0, 220.0, 216.0, 219.0, 201, 0], ['NSE', 'LOYALTEX', datetime.date(2025, 11, 28), 218.35000610351562, 229.0, 215.52999877929688, 218.77000427246094, 716, 0]]
Row  3731  :  LOYALTEX.NS  :  19  records inserted
[['NSE', 'SPCENET', datetime.date(2025, 11, 3), 10.5, 10.550000190734863, 10.020000457763672, 10.140000343322754, 285290, 0], ['NSE', 'SPCENET', datetime.date(2025, 11, 4), 10.130000114440918, 10.640000343322754, 9.710000038146973, 10.020000457763672, 1303985, 0], ['NSE', 'SPCENET', datetime.date(2025, 11, 5), 10.020000457763672, 10.020000457763672, 10.020000457763672, 10.020000457763672, 0, 0], ['NSE', 'SPCENET', datetime.date(2025, 11, 6), 9.9399995803833, 9.9399995803833, 9.510000228881836, 9.510000228881836, 966351, 0], ['NSE', 'SPCENET', datetime.date(2025, 11, 7), 9.300000190734863, 9.979999542236328, 9.029999732971191, 9.680000305175781, 2107692, 0], ['NSE', 'SPCENET', datetime.date(2025, 11, 10), 9.539999961853027, 9.539999961853027, 9.1899995803833, 9.1899995803833, 648583, 0], ['NSE', 'SPCENET', datetime.date(2025, 11, 11), 8.829999923706055, 9.1899995803833, 8.729999542236328, 9.100000381469727, 1173037, 0], ['NSE', 'SPCENET', datetime.date(2025, 11, 12), 9.1899995803833, 9.1899995803833, 8.710000038146973, 8.960000038146973, 475339, 0], ['NSE', 'SPCENET', datetime.date(2025, 11, 13), 8.949999809265137, 9.0, 8.649999618530273, 8.729999542236328, 259183, 0], ['NSE', 'SPCENET', datetime.date(2025, 11, 14), 8.890000343322754, 8.890000343322754, 8.520000457763672, 8.680000305175781, 812980, 0], ['NSE', 'SPCENET', datetime.date(2025, 11, 17), 8.510000228881836, 9.100000381469727, 8.449999809265137, 8.569999694824219, 453336, 0], ['NSE', 'SPCENET', datetime.date(2025, 11, 18), 8.359999656677246, 8.6899995803833, 8.350000381469727, 8.40999984741211, 152328, 0], ['NSE', 'SPCENET', datetime.date(2025, 11, 19), 8.399999618530273, 8.829999923706055, 8.399999618530273, 8.789999961853027, 1134611, 0], ['NSE', 'SPCENET', datetime.date(2025, 11, 20), 8.800000190734863, 9.140000343322754, 8.800000190734863, 9.029999732971191, 530209, 0], ['NSE', 'SPCENET', datetime.date(2025, 11, 21), 9.210000038146973, 9.210000038146973, 8.649999618530273, 8.829999923706055, 192267, 0], ['NSE', 'SPCENET', datetime.date(2025, 11, 24), 8.649999618530273, 8.649999618530273, 8.380000114440918, 8.380000114440918, 373834, 0], ['NSE', 'SPCENET', datetime.date(2025, 11, 25), 8.300000190734863, 8.699999809265137, 8.300000190734863, 8.399999618530273, 498625, 0], ['NSE', 'SPCENET', datetime.date(2025, 11, 26), 8.489999771118164, 8.6899995803833, 8.210000038146973, 8.329999923706055, 419351, 0], ['NSE', 'SPCENET', datetime.date(2025, 11, 27), 8.329999923706055, 8.649999618530273, 8.260000228881836, 8.329999923706055, 100298, 0], ['NSE', 'SPCENET', datetime.date(2025, 11, 28), 8.199999809265137, 8.489999771118164, 8.0, 8.109999656677246, 213661, 0]]
Row  3732  :  SPCENET.NS  :  20  records inserted

$541233.BO: possibly delisted; no timezone found

[['NSE', 'LEMONTREE', datetime.date(2025, 11, 3), 165.36000061035156, 168.58999633789062, 165.27000427246094, 168.3000030517578, 1293133, 0], ['NSE', 'LEMONTREE', datetime.date(2025, 11, 4), 168.92999267578125, 168.92999267578125, 167.0, 168.00999450683594, 1060473, 0], ['NSE', 'LEMONTREE', datetime.date(2025, 11, 5), 168.00999450683594, 168.00999450683594, 168.00999450683594, 168.00999450683594, 0, 0], ['NSE', 'LEMONTREE', datetime.date(2025, 11, 6), 166.6199951171875, 168.19000244140625, 164.33999633789062, 166.0500030517578, 1434471, 0], ['NSE', 'LEMONTREE', datetime.date(2025, 11, 7), 164.8800048828125, 164.8800048828125, 162.25, 162.7100067138672, 1380773, 0], ['NSE', 'LEMONTREE', datetime.date(2025, 11, 10), 162.38999938964844, 162.85000610351562, 161.0, 161.19000244140625, 1787596, 0], ['NSE', 'LEMONTREE', datetime.date(2025, 11, 11), 161.41000366210938, 162.30999755859375, 155.5500030517578, 159.5500030517578, 2265674, 0], ['NSE', 'LEMONTREE', datetime.date(2025, 11, 12), 160.77999877929688, 163.6999969482422, 159.66000366210938, 163.24000549316406, 1306748, 0], ['NSE', 'LEMONTREE', datetime.date(2025, 11, 13), 160.0, 160.8800048828125, 154.55999755859375, 155.19000244140625, 6213313, 0], ['NSE', 'LEMONTREE', datetime.date(2025, 11, 14), 155.2899932861328, 160.4499969482422, 155.11000061035156, 156.52000427246094, 3680103, 0], ['NSE', 'LEMONTREE', datetime.date(2025, 11, 17), 156.52000427246094, 158.52999877929688, 156.3800048828125, 156.74000549316406, 1543216, 0], ['NSE', 'LEMONTREE', datetime.date(2025, 11, 18), 156.74000549316406, 156.85000610351562, 155.00999450683594, 155.1199951171875, 1140139, 0], ['NSE', 'LEMONTREE', datetime.date(2025, 11, 19), 155.88999938964844, 155.89999389648438, 150.10000610351562, 150.97999572753906, 3035709, 0], ['NSE', 'LEMONTREE', datetime.date(2025, 11, 20), 151.50999450683594, 155.0, 151.0500030517578, 152.4600067138672, 2159567, 0], ['NSE', 'LEMONTREE', datetime.date(2025, 11, 21), 152.5, 155.0, 152.5, 153.75, 2561944, 0], ['NSE', 'LEMONTREE', datetime.date(2025, 11, 24), 152.75, 152.75, 147.1999969482422, 148.42999267578125, 3011591, 0], ['NSE', 'LEMONTREE', datetime.date(2025, 11, 25), 147.75, 151.47999572753906, 147.75, 150.0, 1524293, 0], ['NSE', 'LEMONTREE', datetime.date(2025, 11, 26), 150.49000549316406, 151.9499969482422, 149.25, 151.5399932861328, 1519162, 0], ['NSE', 'LEMONTREE', datetime.date(2025, 11, 27), 152.0, 154.8000030517578, 151.50999450683594, 154.35000610351562, 1729406, 0], ['NSE', 'LEMONTREE', datetime.date(2025, 11, 28), 155.88999938964844, 159.89999389648438, 155.3000030517578, 158.27000427246094, 5430310, 0]]
Row  3734  :  LEMONTREE.NS  :  20  records inserted
[['NSE', 'VAISHALI', datetime.date(2025, 11, 3), 10.1899995803833, 10.270000457763672, 9.960000038146973, 10.0, 637105, 0], ['NSE', 'VAISHALI', datetime.date(2025, 11, 4), 10.0, 10.199999809265137, 9.899999618530273, 10.0, 350555, 0], ['NSE', 'VAISHALI', datetime.date(2025, 11, 6), 10.199999809265137, 10.199999809265137, 9.800000190734863, 9.84000015258789, 413903, 0], ['NSE', 'VAISHALI', datetime.date(2025, 11, 7), 9.84000015258789, 9.899999618530273, 9.520000457763672, 9.739999771118164, 120122, 0], ['NSE', 'VAISHALI', datetime.date(2025, 11, 10), 9.699999809265137, 9.710000038146973, 9.479999542236328, 9.59000015258789, 945869, 0], ['NSE', 'VAISHALI', datetime.date(2025, 11, 11), 9.600000381469727, 9.729999542236328, 9.5, 9.510000228881836, 244951, 0], ['NSE', 'VAISHALI', datetime.date(2025, 11, 12), 9.449999809265137, 9.880000114440918, 9.449999809265137, 9.680000305175781, 469761, 0], ['NSE', 'VAISHALI', datetime.date(2025, 11, 13), 9.899999618530273, 9.899999618530273, 9.520000457763672, 9.5600004196167, 95928, 0], ['NSE', 'VAISHALI', datetime.date(2025, 11, 14), 9.5600004196167, 9.789999961853027, 9.520000457763672, 9.630000114440918, 57596, 0], ['NSE', 'VAISHALI', datetime.date(2025, 11, 17), 9.600000381469727, 9.859999656677246, 9.449999809265137, 9.5, 277145, 0], ['NSE', 'VAISHALI', datetime.date(2025, 11, 18), 9.5, 9.869999885559082, 9.100000381469727, 9.520000457763672, 1120849, 0], ['NSE', 'VAISHALI', datetime.date(2025, 11, 19), 9.699999809265137, 9.699999809265137, 9.3100004196167, 9.359999656677246, 84345, 0], ['NSE', 'VAISHALI', datetime.date(2025, 11, 20), 9.579999923706055, 9.84000015258789, 9.210000038146973, 9.6899995803833, 455868, 0], ['NSE', 'VAISHALI', datetime.date(2025, 11, 21), 9.6899995803833, 9.760000228881836, 9.399999618530273, 9.470000267028809, 292572, 0], ['NSE', 'VAISHALI', datetime.date(2025, 11, 24), 9.539999961853027, 9.539999961853027, 9.0, 9.109999656677246, 258751, 0], ['NSE', 'VAISHALI', datetime.date(2025, 11, 25), 9.010000228881836, 9.15999984741211, 8.75, 8.899999618530273, 1325362, 0], ['NSE', 'VAISHALI', datetime.date(2025, 11, 26), 9.050000190734863, 9.300000190734863, 8.989999771118164, 9.079999923706055, 150669, 0], ['NSE', 'VAISHALI', datetime.date(2025, 11, 27), 9.289999961853027, 9.289999961853027, 8.949999809265137, 9.010000228881836, 110454, 0], ['NSE', 'VAISHALI', datetime.date(2025, 11, 28), 9.300000190734863, 9.300000190734863, 8.510000228881836, 8.789999961853027, 418600, 0]]
Row  3735  :  VAISHALI.NS  :  19  records inserted
[['BSE', '500151', datetime.date(2025, 11, 3), 33.900001525878906, 33.900001525878906, 33.900001525878906, 33.900001525878906, 0, 0], ['BSE', '500151', datetime.date(2025, 11, 4), 34.7400016784668, 35.59000015258789, 33.75, 33.75, 725, 0], ['BSE', '500151', datetime.date(2025, 11, 6), 33.75, 33.75, 33.75, 33.75, 0, 0], ['BSE', '500151', datetime.date(2025, 11, 7), 34.79999923706055, 34.79999923706055, 34.79999923706055, 34.79999923706055, 23, 0], ['BSE', '500151', datetime.date(2025, 11, 10), 35.66999816894531, 35.66999816894531, 33.099998474121094, 33.15999984741211, 153, 0], ['BSE', '500151', datetime.date(2025, 11, 11), 33.15999984741211, 33.15999984741211, 33.15999984741211, 33.15999984741211, 0, 0], ['BSE', '500151', datetime.date(2025, 11, 12), 33.15999984741211, 33.15999984741211, 33.15999984741211, 33.15999984741211, 0, 0], ['BSE', '500151', datetime.date(2025, 11, 13), 33.15999984741211, 33.15999984741211, 33.15999984741211, 33.15999984741211, 0, 0], ['BSE', '500151', datetime.date(2025, 11, 14), 33.97999954223633, 33.97999954223633, 33.97999954223633, 33.97999954223633, 400, 0], ['BSE', '500151', datetime.date(2025, 11, 17), 33.97999954223633, 33.97999954223633, 33.20000076293945, 33.97999954223633, 849, 0], ['BSE', '500151', datetime.date(2025, 11, 18), 33.02000045776367, 33.029998779296875, 33.02000045776367, 33.02000045776367, 352, 0], ['BSE', '500151', datetime.date(2025, 11, 19), 33.83000183105469, 34.0, 32.5, 33.0, 291, 0], ['BSE', '500151', datetime.date(2025, 11, 20), 33.0, 33.099998474121094, 33.0, 33.0099983215332, 305, 0], ['BSE', '500151', datetime.date(2025, 11, 21), 33.83000183105469, 34.65999984741211, 33.0099983215332, 34.65999984741211, 145, 0], ['BSE', '500151', datetime.date(2025, 11, 24), 35.52000045776367, 35.52000045776367, 34.65999984741211, 34.65999984741211, 2586, 0], ['BSE', '500151', datetime.date(2025, 11, 25), 34.65999984741211, 34.65999984741211, 34.65999984741211, 34.65999984741211, 0, 0], ['BSE', '500151', datetime.date(2025, 11, 26), 34.310001373291016, 34.310001373291016, 34.310001373291016, 34.310001373291016, 1, 0], ['BSE', '500151', datetime.date(2025, 11, 28), 34.0099983215332, 34.0099983215332, 34.0, 34.0, 210, 0]]
Row  3736  :  500151.BO  :  18  records inserted
[['NSE', 'GOLDENTOBC', datetime.date(2025, 11, 3), 34.45000076293945, 34.45000076293945, 33.099998474121094, 33.900001525878906, 802, 0], ['NSE', 'GOLDENTOBC', datetime.date(2025, 11, 4), 34.45000076293945, 34.45000076293945, 33.34000015258789, 34.0, 325, 0], ['NSE', 'GOLDENTOBC', datetime.date(2025, 11, 5), 34.0, 34.0, 34.0, 34.0, 0, 0], ['NSE', 'GOLDENTOBC', datetime.date(2025, 11, 6), 33.5, 35.150001525878906, 33.5, 33.79999923706055, 2690, 0], ['NSE', 'GOLDENTOBC', datetime.date(2025, 11, 7), 33.31999969482422, 34.95000076293945, 33.31999969482422, 34.83000183105469, 422, 0], ['NSE', 'GOLDENTOBC', datetime.date(2025, 11, 10), 33.11000061035156, 34.880001068115234, 33.11000061035156, 34.61000061035156, 1059, 0], ['NSE', 'GOLDENTOBC', datetime.date(2025, 11, 11), 34.61000061035156, 34.61000061035156, 33.5, 33.650001525878906, 2603, 0], ['NSE', 'GOLDENTOBC', datetime.date(2025, 11, 12), 33.470001220703125, 34.900001525878906, 33.099998474121094, 34.38999938964844, 1173, 0], ['NSE', 'GOLDENTOBC', datetime.date(2025, 11, 13), 33.70000076293945, 35.150001525878906, 33.5, 34.72999954223633, 1254, 0], ['NSE', 'GOLDENTOBC', datetime.date(2025, 11, 14), 34.0, 34.0, 33.0099983215332, 33.599998474121094, 1816, 0], ['NSE', 'GOLDENTOBC', datetime.date(2025, 11, 17), 33.400001525878906, 34.5, 33.0, 34.400001525878906, 2003, 0], ['NSE', 'GOLDENTOBC', datetime.date(2025, 11, 18), 34.0, 34.0, 33.31999969482422, 33.83000183105469, 1458, 0], ['NSE', 'GOLDENTOBC', datetime.date(2025, 11, 19), 33.529998779296875, 34.84000015258789, 33.0, 34.84000015258789, 458, 0], ['NSE', 'GOLDENTOBC', datetime.date(2025, 11, 20), 34.11000061035156, 34.689998626708984, 33.09000015258789, 33.70000076293945, 941, 0], ['NSE', 'GOLDENTOBC', datetime.date(2025, 11, 21), 33.40999984741211, 34.400001525878906, 33.40999984741211, 34.02000045776367, 405, 0], ['NSE', 'GOLDENTOBC', datetime.date(2025, 11, 24), 35.0, 35.0, 33.33000183105469, 33.34000015258789, 1749, 0], ['NSE', 'GOLDENTOBC', datetime.date(2025, 11, 25), 33.34000015258789, 34.20000076293945, 33.0, 34.189998626708984, 259, 0], ['NSE', 'GOLDENTOBC', datetime.date(2025, 11, 26), 35.0, 35.0, 33.0099983215332, 33.560001373291016, 873, 0], ['NSE', 'GOLDENTOBC', datetime.date(2025, 11, 27), 33.0, 34.400001525878906, 33.0, 33.099998474121094, 961, 0], ['NSE', 'GOLDENTOBC', datetime.date(2025, 11, 28), 33.099998474121094, 34.369998931884766, 32.599998474121094, 32.65999984741211, 626, 0]]
Row  3737  :  GOLDENTOBC.NS  :  20  records inserted

$526817.BO: possibly delisted; no timezone found

[['NSE', 'CHEVIOT', datetime.date(2025, 11, 3), 1125.0999755859375, 1152.0999755859375, 1125.0999755859375, 1141.800048828125, 2864, 0], ['NSE', 'CHEVIOT', datetime.date(2025, 11, 4), 1132.5999755859375, 1150.5999755859375, 1131.0, 1140.300048828125, 1020, 0], ['NSE', 'CHEVIOT', datetime.date(2025, 11, 6), 1123.0, 1132.0, 1112.0, 1118.800048828125, 3419, 0], ['NSE', 'CHEVIOT', datetime.date(2025, 11, 7), 1119.0999755859375, 1135.0, 1111.0999755859375, 1124.699951171875, 2006, 0], ['NSE', 'CHEVIOT', datetime.date(2025, 11, 10), 1125.0, 1145.5999755859375, 1122.199951171875, 1138.4000244140625, 1251, 0], ['NSE', 'CHEVIOT', datetime.date(2025, 11, 11), 1134.5999755859375, 1170.0999755859375, 1082.300048828125, 1158.0, 10509, 0], ['NSE', 'CHEVIOT', datetime.date(2025, 11, 12), 1152.9000244140625, 1159.0, 1131.0, 1137.5999755859375, 1533, 0], ['NSE', 'CHEVIOT', datetime.date(2025, 11, 13), 1140.0, 1140.0, 1122.5999755859375, 1129.800048828125, 1316, 0], ['NSE', 'CHEVIOT', datetime.date(2025, 11, 14), 1122.0999755859375, 1140.9000244140625, 1122.0999755859375, 1125.800048828125, 1359, 0], ['NSE', 'CHEVIOT', datetime.date(2025, 11, 17), 1118.5999755859375, 1136.800048828125, 1118.199951171875, 1122.5999755859375, 1673, 0], ['NSE', 'CHEVIOT', datetime.date(2025, 11, 18), 1118.0, 1133.0, 1118.0, 1125.300048828125, 1062, 0], ['NSE', 'CHEVIOT', datetime.date(2025, 11, 19), 1123.4000244140625, 1127.4000244140625, 1110.0, 1112.699951171875, 1505, 0], ['NSE', 'CHEVIOT', datetime.date(2025, 11, 20), 1118.5999755859375, 1120.0, 1112.699951171875, 1114.199951171875, 1018, 0], ['NSE', 'CHEVIOT', datetime.date(2025, 11, 21), 1111.300048828125, 1117.800048828125, 1103.0, 1107.9000244140625, 953, 0], ['NSE', 'CHEVIOT', datetime.date(2025, 11, 24), 1105.199951171875, 1115.0, 1100.0, 1108.699951171875, 1018, 0], ['NSE', 'CHEVIOT', datetime.date(2025, 11, 25), 1108.5999755859375, 1108.5999755859375, 1077.199951171875, 1080.5, 2927, 0], ['NSE', 'CHEVIOT', datetime.date(2025, 11, 26), 1086.199951171875, 1097.800048828125, 1085.0999755859375, 1095.0, 1771, 0], ['NSE', 'CHEVIOT', datetime.date(2025, 11, 27), 1100.0999755859375, 1100.800048828125, 1075.0, 1076.9000244140625, 1765, 0], ['NSE', 'CHEVIOT', datetime.date(2025, 11, 28), 1076.9000244140625, 1094.800048828125, 1065.0, 1076.9000244140625, 3540, 0]]
Row  3739  :  CHEVIOT.NS  :  19  records inserted

$WINPRO.NS: possibly delisted; no price data found  (1d 2025-11-01 -> 2025-12-01)

[['BSE', '531337', datetime.date(2025, 11, 3), 3.059999942779541, 3.059999942779541, 2.9200000762939453, 2.9600000381469727, 6983, 0], ['BSE', '531337', datetime.date(2025, 11, 4), 2.930000066757202, 3.0299999713897705, 2.9000000953674316, 2.9600000381469727, 26384, 0], ['BSE', '531337', datetime.date(2025, 11, 6), 2.9200000762939453, 3.0399999618530273, 2.9000000953674316, 2.9200000762939453, 17846, 0], ['BSE', '531337', datetime.date(2025, 11, 7), 2.9600000381469727, 2.9800000190734863, 2.7799999713897705, 2.930000066757202, 85598, 0], ['BSE', '531337', datetime.date(2025, 11, 10), 2.930000066757202, 3.0, 2.8499999046325684, 2.950000047683716, 28202, 0], ['BSE', '531337', datetime.date(2025, 11, 11), 2.9200000762939453, 2.940000057220459, 2.809999942779541, 2.809999942779541, 176133, 0], ['BSE', '531337', datetime.date(2025, 11, 12), 2.809999942779541, 2.809999942779541, 2.6700000762939453, 2.700000047683716, 258542, 0], ['BSE', '531337', datetime.date(2025, 11, 13), 2.6600000858306885, 2.6600000858306885, 2.569999933242798, 2.569999933242798, 278020, 0], ['BSE', '531337', datetime.date(2025, 11, 14), 2.630000114440918, 2.630000114440918, 2.4800000190734863, 2.5, 103591, 0], ['BSE', '531337', datetime.date(2025, 11, 17), 2.380000114440918, 2.5899999141693115, 2.380000114440918, 2.549999952316284, 204803, 0], ['BSE', '531337', datetime.date(2025, 11, 18), 2.4700000286102295, 2.490000009536743, 2.430000066757202, 2.430000066757202, 159760, 0], ['BSE', '531337', datetime.date(2025, 11, 19), 2.430000066757202, 2.5, 2.309999942779541, 2.309999942779541, 138038, 0], ['BSE', '531337', datetime.date(2025, 11, 20), 2.2300000190734863, 2.3499999046325684, 2.200000047683716, 2.3299999237060547, 106539, 0], ['BSE', '531337', datetime.date(2025, 11, 21), 2.3399999141693115, 2.3399999141693115, 2.2200000286102295, 2.2200000286102295, 185167, 0], ['BSE', '531337', datetime.date(2025, 11, 24), 2.2200000286102295, 2.2200000286102295, 2.2200000286102295, 2.2200000286102295, 0, 0], ['BSE', '531337', datetime.date(2025, 11, 25), 2.2200000286102295, 2.2200000286102295, 2.2200000286102295, 2.2200000286102295, 0, 0], ['BSE', '531337', datetime.date(2025, 11, 26), 2.2200000286102295, 2.2200000286102295, 2.2200000286102295, 2.2200000286102295, 0, 0], ['BSE', '531337', datetime.date(2025, 11, 27), 2.2200000286102295, 2.2200000286102295, 2.2200000286102295, 2.2200000286102295, 0, 0], ['BSE', '531337', datetime.date(2025, 11, 28), 2.2200000286102295, 2.2200000286102295, 2.2200000286102295, 2.2200000286102295, 0, 0]]
Row  3740  :  531337.BO  :  19  records inserted
[['BSE', '540762', datetime.date(2025, 11, 3), 3017.0, 3076.5, 2997.449951171875, 3048.199951171875, 4287, 0], ['BSE', '540762', datetime.date(2025, 11, 4), 3067.550048828125, 3067.550048828125, 2982.0, 2990.89990234375, 8385, 0], ['BSE', '540762', datetime.date(2025, 11, 6), 2985.5, 3053.0, 2942.0, 2980.300048828125, 9284, 0], ['BSE', '540762', datetime.date(2025, 11, 7), 2970.300048828125, 2998.60009765625, 2902.60009765625, 2983.0, 11870, 0], ['BSE', '540762', datetime.date(2025, 11, 10), 3069.550048828125, 3069.550048828125, 2942.10009765625, 2981.39990234375, 4352, 0], ['BSE', '540762', datetime.date(2025, 11, 11), 2975.14990234375, 3008.75, 2951.300048828125, 2999.60009765625, 3323, 0], ['BSE', '540762', datetime.date(2025, 11, 12), 2999.0, 3055.0, 2976.550048828125, 3035.300048828125, 6059, 0], ['BSE', '540762', datetime.date(2025, 11, 13), 3031.0, 3069.0, 3025.699951171875, 3034.60009765625, 5633, 0], ['BSE', '540762', datetime.date(2025, 11, 14), 3054.699951171875, 3072.699951171875, 3021.0, 3069.64990234375, 32106, 0], ['BSE', '540762', datetime.date(2025, 11, 17), 3069.64990234375, 3105.0, 3058.25, 3091.800048828125, 6518, 0], ['BSE', '540762', datetime.date(2025, 11, 18), 3082.0, 3082.0, 3023.550048828125, 3029.949951171875, 10388, 0], ['BSE', '540762', datetime.date(2025, 11, 19), 3011.699951171875, 3042.64990234375, 3004.550048828125, 3035.25, 1460, 0], ['BSE', '540762', datetime.date(2025, 11, 20), 3035.550048828125, 3056.0, 2992.0, 3002.5, 4365, 0], ['BSE', '540762', datetime.date(2025, 11, 21), 3015.699951171875, 3015.699951171875, 2870.0, 2882.60009765625, 106230, 0], ['BSE', '540762', datetime.date(2025, 11, 24), 2865.35009765625, 2921.550048828125, 2854.10009765625, 2906.60009765625, 6277, 0], ['BSE', '540762', datetime.date(2025, 11, 25), 2894.050048828125, 2912.199951171875, 2860.449951171875, 2881.60009765625, 4026, 0], ['BSE', '540762', datetime.date(2025, 11, 26), 2881.60009765625, 2914.949951171875, 2871.39990234375, 2881.800048828125, 6406, 0], ['BSE', '540762', datetime.date(2025, 11, 28), 2837.050048828125, 2837.199951171875, 2778.75, 2780.39990234375, 68377, 0]]
Row  3742  :  540762.BO  :  18  records inserted
[['NSE', 'TIINDIA', datetime.date(2025, 11, 3), 3018.60009765625, 3079.300048828125, 2994.5, 3046.5, 411589, 0], ['NSE', 'TIINDIA', datetime.date(2025, 11, 4), 3052.0, 3058.800048828125, 2975.0, 2992.5, 323423, 0], ['NSE', 'TIINDIA', datetime.date(2025, 11, 5), 2992.5, 2992.5, 2992.5, 2992.5, 0, 0], ['NSE', 'TIINDIA', datetime.date(2025, 11, 6), 2980.10009765625, 3054.0, 2937.699951171875, 2977.60009765625, 415353, 0], ['NSE', 'TIINDIA', datetime.date(2025, 11, 7), 2974.699951171875, 2999.300048828125, 2901.10009765625, 2985.60009765625, 240259, 0], ['NSE', 'TIINDIA', datetime.date(2025, 11, 10), 2970.60009765625, 3017.89990234375, 2940.39990234375, 2980.300048828125, 169826, 0], ['NSE', 'TIINDIA', datetime.date(2025, 11, 11), 2991.60009765625, 3007.5, 2950.199951171875, 2999.39990234375, 103821, 0], ['NSE', 'TIINDIA', datetime.date(2025, 11, 12), 2999.0, 3055.0, 2975.199951171875, 3035.5, 201680, 0], ['NSE', 'TIINDIA', datetime.date(2025, 11, 13), 3024.60009765625, 3069.800048828125, 3024.0, 3033.39990234375, 138040, 0], ['NSE', 'TIINDIA', datetime.date(2025, 11, 14), 3044.60009765625, 3075.0, 3019.0, 3067.60009765625, 214533, 0], ['NSE', 'TIINDIA', datetime.date(2025, 11, 17), 3067.60009765625, 3106.60009765625, 3053.0, 3091.60009765625, 107644, 0], ['NSE', 'TIINDIA', datetime.date(2025, 11, 18), 3082.60009765625, 3082.60009765625, 3021.800048828125, 3031.699951171875, 193125, 0], ['NSE', 'TIINDIA', datetime.date(2025, 11, 19), 3025.0, 3042.699951171875, 3002.199951171875, 3033.300048828125, 365037, 0], ['NSE', 'TIINDIA', datetime.date(2025, 11, 20), 3036.0, 3059.89990234375, 2992.300048828125, 3005.0, 121655, 0], ['NSE', 'TIINDIA', datetime.date(2025, 11, 21), 2999.699951171875, 3000.0, 2870.0, 2884.39990234375, 546306, 0], ['NSE', 'TIINDIA', datetime.date(2025, 11, 24), 2870.0, 2930.0, 2850.0, 2909.300048828125, 615833, 0], ['NSE', 'TIINDIA', datetime.date(2025, 11, 25), 2910.0, 2914.89990234375, 2860.0, 2879.699951171875, 307363, 0], ['NSE', 'TIINDIA', datetime.date(2025, 11, 26), 2880.0, 2918.0, 2872.10009765625, 2880.699951171875, 357948, 0], ['NSE', 'TIINDIA', datetime.date(2025, 11, 27), 2898.89990234375, 2898.89990234375, 2831.60009765625, 2836.800048828125, 675560, 0], ['NSE', 'TIINDIA', datetime.date(2025, 11, 28), 2839.89990234375, 2849.300048828125, 2776.39990234375, 2784.39990234375, 734692, 0]]
Row  3743  :  TIINDIA.NS  :  20  records inserted
[['NSE', 'PRITI', datetime.date(2025, 11, 3), 68.86000061035156, 69.87999725341797, 68.0, 68.04000091552734, 20032, 0], ['NSE', 'PRITI', datetime.date(2025, 11, 4), 68.73999786376953, 70.30999755859375, 68.26000213623047, 69.2300033569336, 24963, 0], ['NSE', 'PRITI', datetime.date(2025, 11, 6), 69.2300033569336, 69.2300033569336, 68.0, 68.23999786376953, 8168, 0], ['NSE', 'PRITI', datetime.date(2025, 11, 7), 68.0, 69.38999938964844, 66.30000305175781, 67.79000091552734, 10642, 0], ['NSE', 'PRITI', datetime.date(2025, 11, 10), 66.5, 69.0, 66.5, 67.5199966430664, 13438, 0], ['NSE', 'PRITI', datetime.date(2025, 11, 11), 66.0999984741211, 67.9000015258789, 66.0999984741211, 66.94000244140625, 6632, 0], ['NSE', 'PRITI', datetime.date(2025, 11, 12), 66.30000305175781, 71.38999938964844, 66.30000305175781, 67.0199966430664, 19107, 0], ['NSE', 'PRITI', datetime.date(2025, 11, 13), 67.87999725341797, 70.81999969482422, 66.87000274658203, 68.26000213623047, 14458, 0], ['NSE', 'PRITI', datetime.date(2025, 11, 14), 66.5999984741211, 69.48999786376953, 66.5999984741211, 68.18000030517578, 4879, 0], ['NSE', 'PRITI', datetime.date(2025, 11, 17), 66.36000061035156, 68.0, 66.19999694824219, 66.44000244140625, 19809, 0], ['NSE', 'PRITI', datetime.date(2025, 11, 18), 66.44000244140625, 67.25, 64.5, 65.56999969482422, 28918, 0], ['NSE', 'PRITI', datetime.date(2025, 11, 19), 68.0, 68.0, 65.19999694824219, 65.37999725341797, 10919, 0], ['NSE', 'PRITI', datetime.date(2025, 11, 20), 65.80999755859375, 66.43000030517578, 65.0, 65.66999816894531, 10008, 0], ['NSE', 'PRITI', datetime.date(2025, 11, 21), 67.0, 67.0, 64.61000061035156, 64.81999969482422, 6775, 0], ['NSE', 'PRITI', datetime.date(2025, 11, 24), 65.0, 65.36000061035156, 59.0, 60.08000183105469, 43807, 0], ['NSE', 'PRITI', datetime.date(2025, 11, 25), 60.099998474121094, 61.459999084472656, 56.0, 57.09000015258789, 47967, 0], ['NSE', 'PRITI', datetime.date(2025, 11, 26), 58.900001525878906, 58.900001525878906, 54.5, 55.29999923706055, 53998, 0], ['NSE', 'PRITI', datetime.date(2025, 11, 27), 57.4900016784668, 66.36000061035156, 57.47999954223633, 66.36000061035156, 108536, 0], ['NSE', 'PRITI', datetime.date(2025, 11, 28), 76.0, 77.98999786376953, 68.36000061035156, 70.06999969482422, 500755, 0]]
Row  3744  :  PRITI.NS  :  19  records inserted
[['BSE', '533177', datetime.date(2025, 11, 3), 3.109999895095825, 3.109999895095825, 3.0399999618530273, 3.049999952316284, 16350, 0], ['BSE', '533177', datetime.date(2025, 11, 4), 3.0899999141693115, 3.0899999141693115, 2.9000000953674316, 2.930000066757202, 19176, 0], ['BSE', '533177', datetime.date(2025, 11, 6), 2.809999942779541, 2.9700000286102295, 2.809999942779541, 2.859999895095825, 17197, 0], ['BSE', '533177', datetime.date(2025, 11, 7), 2.869999885559082, 3.0, 2.799999952316284, 3.0, 3678, 0], ['BSE', '533177', datetime.date(2025, 11, 10), 3.0, 3.0799999237060547, 2.890000104904175, 2.9200000762939453, 27480, 0], ['BSE', '533177', datetime.date(2025, 11, 11), 2.950000047683716, 2.950000047683716, 2.8399999141693115, 2.890000104904175, 22851, 0], ['BSE', '533177', datetime.date(2025, 11, 12), 2.869999885559082, 3.0299999713897705, 2.809999942779541, 2.9800000190734863, 5252, 0], ['BSE', '533177', datetime.date(2025, 11, 13), 3.0399999618530273, 3.0399999618530273, 2.930000066757202, 2.950000047683716, 1522, 0], ['BSE', '533177', datetime.date(2025, 11, 14), 2.869999885559082, 2.940000057220459, 2.859999895095825, 2.9200000762939453, 7108, 0], ['BSE', '533177', datetime.date(2025, 11, 17), 2.9200000762939453, 2.9600000381469727, 2.8299999237060547, 2.930000066757202, 15752, 0], ['BSE', '533177', datetime.date(2025, 11, 18), 2.950000047683716, 2.950000047683716, 2.859999895095825, 2.9100000858306885, 4067, 0], ['BSE', '533177', datetime.date(2025, 11, 19), 2.9000000953674316, 2.9000000953674316, 2.809999942779541, 2.890000104904175, 3539, 0], ['BSE', '533177', datetime.date(2025, 11, 20), 2.859999895095825, 2.940000057220459, 2.819999933242798, 2.940000057220459, 34995, 0], ['BSE', '533177', datetime.date(2025, 11, 21), 2.940000057220459, 3.069999933242798, 2.8299999237060547, 2.950000047683716, 8539, 0], ['BSE', '533177', datetime.date(2025, 11, 24), 3.0199999809265137, 3.049999952316284, 2.8299999237060547, 2.990000009536743, 1420, 0], ['BSE', '533177', datetime.date(2025, 11, 25), 3.0899999141693115, 3.0899999141693115, 2.9600000381469727, 2.9600000381469727, 35289, 0], ['BSE', '533177', datetime.date(2025, 11, 26), 3.0399999618530273, 3.0799999237060547, 2.950000047683716, 2.950000047683716, 6164, 0], ['BSE', '533177', datetime.date(2025, 11, 28), 2.940000057220459, 3.059999942779541, 2.9100000858306885, 2.9200000762939453, 2867, 0]]
Row  3745  :  533177.BO  :  18  records inserted
[['NSE', 'IL&FSTRANS', datetime.date(2025, 11, 3), 3.180000066757202, 3.180000066757202, 2.9800000190734863, 3.0299999713897705, 20583, 0], ['NSE', 'IL&FSTRANS', datetime.date(2025, 11, 4), 3.0799999237060547, 3.0799999237060547, 2.9000000953674316, 2.9100000858306885, 124110, 0], ['NSE', 'IL&FSTRANS', datetime.date(2025, 11, 6), 2.9700000286102295, 2.990000009536743, 2.799999952316284, 2.8299999237060547, 80931, 0], ['NSE', 'IL&FSTRANS', datetime.date(2025, 11, 7), 2.7699999809265137, 2.9700000286102295, 2.7300000190734863, 2.9700000286102295, 60407, 0], ['NSE', 'IL&FSTRANS', datetime.date(2025, 11, 10), 3.0299999713897705, 3.0999999046325684, 2.880000114440918, 2.9200000762939453, 90618, 0], ['NSE', 'IL&FSTRANS', datetime.date(2025, 11, 11), 2.950000047683716, 2.9700000286102295, 2.8399999141693115, 2.8399999141693115, 102566, 0], ['NSE', 'IL&FSTRANS', datetime.date(2025, 11, 12), 2.890000104904175, 2.9800000190734863, 2.809999942779541, 2.9600000381469727, 107275, 0], ['NSE', 'IL&FSTRANS', datetime.date(2025, 11, 13), 2.9600000381469727, 3.049999952316284, 2.9000000953674316, 2.950000047683716, 40545, 0], ['NSE', 'IL&FSTRANS', datetime.date(2025, 11, 14), 2.9200000762939453, 2.990000009536743, 2.809999942779541, 2.9100000858306885, 38852, 0], ['NSE', 'IL&FSTRANS', datetime.date(2025, 11, 17), 2.950000047683716, 2.9700000286102295, 2.8499999046325684, 2.9000000953674316, 48737, 0], ['NSE', 'IL&FSTRANS', datetime.date(2025, 11, 18), 2.940000057220459, 2.940000057220459, 2.8499999046325684, 2.880000114440918, 9378, 0], ['NSE', 'IL&FSTRANS', datetime.date(2025, 11, 19), 2.9000000953674316, 2.9000000953674316, 2.799999952316284, 2.869999885559082, 17781, 0], ['NSE', 'IL&FSTRANS', datetime.date(2025, 11, 20), 2.8299999237060547, 2.940000057220459, 2.819999933242798, 2.930000066757202, 8137, 0], ['NSE', 'IL&FSTRANS', datetime.date(2025, 11, 21), 2.950000047683716, 3.0399999618530273, 2.9000000953674316, 2.9800000190734863, 65643, 0], ['NSE', 'IL&FSTRANS', datetime.date(2025, 11, 24), 3.0399999618530273, 3.0999999046325684, 2.9100000858306885, 2.950000047683716, 101453, 0], ['NSE', 'IL&FSTRANS', datetime.date(2025, 11, 25), 3.0199999809265137, 3.0799999237060547, 2.809999942779541, 2.990000009536743, 79407, 0], ['NSE', 'IL&FSTRANS', datetime.date(2025, 11, 26), 3.0799999237060547, 3.0799999237060547, 2.8499999046325684, 3.0199999809265137, 53264, 0], ['NSE', 'IL&FSTRANS', datetime.date(2025, 11, 27), 3.0899999141693115, 3.0899999141693115, 2.950000047683716, 2.950000047683716, 65274, 0], ['NSE', 'IL&FSTRANS', datetime.date(2025, 11, 28), 3.049999952316284, 3.049999952316284, 2.859999895095825, 2.950000047683716, 50428, 0]]
Row  3746  :  IL&FSTRANS.NS  :  19  records inserted
[['BSE', '500444', datetime.date(2025, 11, 3), 453.70001220703125, 456.1000061035156, 450.0, 454.0, 1424, 0], ['BSE', '500444', datetime.date(2025, 11, 4), 454.54998779296875, 454.54998779296875, 449.0, 450.6000061035156, 1633, 0], ['BSE', '500444', datetime.date(2025, 11, 6), 450.04998779296875, 457.25, 447.3999938964844, 450.1499938964844, 4962, 0], ['BSE', '500444', datetime.date(2025, 11, 7), 447.04998779296875, 453.29998779296875, 442.5, 451.45001220703125, 2847, 0], ['BSE', '500444', datetime.date(2025, 11, 10), 442.0, 450.04998779296875, 441.70001220703125, 444.5, 1518, 0], ['BSE', '500444', datetime.date(2025, 11, 11), 440.0, 444.0, 438.0, 438.70001220703125, 3098, 0], ['BSE', '500444', datetime.date(2025, 11, 12), 440.0, 440.0, 421.6499938964844, 435.45001220703125, 6022, 0], ['BSE', '500444', datetime.date(2025, 11, 13), 435.0, 439.5, 429.0, 434.1499938964844, 2553, 0], ['BSE', '500444', datetime.date(2025, 11, 14), 432.1000061035156, 435.0, 430.70001220703125, 431.3999938964844, 1983, 0], ['BSE', '500444', datetime.date(2025, 11, 17), 431.20001220703125, 431.3500061035156, 426.5, 427.0, 1812, 0], ['BSE', '500444', datetime.date(2025, 11, 18), 425.1499938964844, 427.3500061035156, 422.6499938964844, 424.79998779296875, 718, 0], ['BSE', '500444', datetime.date(2025, 11, 19), 424.79998779296875, 430.04998779296875, 423.3999938964844, 428.3500061035156, 769, 0], ['BSE', '500444', datetime.date(2025, 11, 20), 427.95001220703125, 428.8500061035156, 421.5, 422.29998779296875, 1584, 0], ['BSE', '500444', datetime.date(2025, 11, 21), 421.25, 425.79998779296875, 420.70001220703125, 422.0, 789, 0], ['BSE', '500444', datetime.date(2025, 11, 24), 422.0, 425.0, 415.0, 415.79998779296875, 842, 0], ['BSE', '500444', datetime.date(2025, 11, 25), 418.5, 424.75, 415.0, 418.04998779296875, 1188, 0], ['BSE', '500444', datetime.date(2025, 11, 26), 418.1000061035156, 421.25, 412.8500061035156, 416.6499938964844, 814, 0], ['BSE', '500444', datetime.date(2025, 11, 28), 416.6000061035156, 433.1499938964844, 416.6000061035156, 430.45001220703125, 3449, 0]]
Row  3747  :  500444.BO  :  18  records inserted
[['NSE', 'WSTCSTPAPR', datetime.date(2025, 11, 3), 452.45001220703125, 457.5, 450.0, 455.54998779296875, 24931, 0], ['NSE', 'WSTCSTPAPR', datetime.date(2025, 11, 4), 455.54998779296875, 455.6000061035156, 448.54998779296875, 450.25, 21780, 0], ['NSE', 'WSTCSTPAPR', datetime.date(2025, 11, 5), 450.25, 450.25, 450.25, 450.25, 0, 0], ['NSE', 'WSTCSTPAPR', datetime.date(2025, 11, 6), 450.0, 458.5, 448.0, 450.29998779296875, 83124, 0], ['NSE', 'WSTCSTPAPR', datetime.date(2025, 11, 7), 446.0, 452.95001220703125, 442.3999938964844, 451.3500061035156, 44680, 0], ['NSE', 'WSTCSTPAPR', datetime.date(2025, 11, 10), 450.29998779296875, 450.8999938964844, 442.25, 444.20001220703125, 22234, 0], ['NSE', 'WSTCSTPAPR', datetime.date(2025, 11, 11), 442.45001220703125, 446.8999938964844, 438.0, 438.8500061035156, 88186, 0], ['NSE', 'WSTCSTPAPR', datetime.date(2025, 11, 12), 440.0, 440.0, 421.95001220703125, 435.8999938964844, 289287, 0], ['NSE', 'WSTCSTPAPR', datetime.date(2025, 11, 13), 435.0, 438.95001220703125, 427.5, 434.8500061035156, 67761, 0], ['NSE', 'WSTCSTPAPR', datetime.date(2025, 11, 14), 437.0, 437.0, 430.25, 431.5, 20754, 0], ['NSE', 'WSTCSTPAPR', datetime.date(2025, 11, 17), 431.0, 432.29998779296875, 426.0, 426.6000061035156, 21830, 0], ['NSE', 'WSTCSTPAPR', datetime.date(2025, 11, 18), 425.1000061035156, 427.5, 422.1000061035156, 425.70001220703125, 26294, 0], ['NSE', 'WSTCSTPAPR', datetime.date(2025, 11, 19), 427.5, 429.70001220703125, 423.1499938964844, 428.79998779296875, 23776, 0], ['NSE', 'WSTCSTPAPR', datetime.date(2025, 11, 20), 429.25, 429.79998779296875, 421.70001220703125, 423.04998779296875, 41692, 0], ['NSE', 'WSTCSTPAPR', datetime.date(2025, 11, 21), 422.0, 426.0, 420.29998779296875, 421.45001220703125, 47771, 0], ['NSE', 'WSTCSTPAPR', datetime.date(2025, 11, 24), 423.0, 423.54998779296875, 414.0, 415.0, 34221, 0], ['NSE', 'WSTCSTPAPR', datetime.date(2025, 11, 25), 418.20001220703125, 421.0, 414.8999938964844, 417.1000061035156, 26061, 0], ['NSE', 'WSTCSTPAPR', datetime.date(2025, 11, 26), 418.0, 420.3999938964844, 412.0, 416.6000061035156, 35581, 0], ['NSE', 'WSTCSTPAPR', datetime.date(2025, 11, 27), 418.0, 421.25, 411.0, 417.54998779296875, 25333, 0], ['NSE', 'WSTCSTPAPR', datetime.date(2025, 11, 28), 418.3999938964844, 434.0, 415.5, 430.8500061035156, 67866, 0]]
Row  3748  :  WSTCSTPAPR.NS  :  20  records inserted

$507552.BO: possibly delisted; no timezone found

[['NSE', 'FOODSIN', datetime.date(2025, 11, 3), 81.9000015258789, 85.9000015258789, 81.9000015258789, 84.80999755859375, 97833, 0], ['NSE', 'FOODSIN', datetime.date(2025, 11, 4), 85.0, 85.72000122070312, 82.05999755859375, 82.48999786376953, 40459, 0], ['NSE', 'FOODSIN', datetime.date(2025, 11, 5), 82.48999786376953, 82.48999786376953, 82.48999786376953, 82.48999786376953, 0, 0], ['NSE', 'FOODSIN', datetime.date(2025, 11, 6), 82.11000061035156, 84.5, 80.5999984741211, 81.56999969482422, 48663, 0], ['NSE', 'FOODSIN', datetime.date(2025, 11, 7), 82.44999694824219, 83.72000122070312, 80.0, 82.61000061035156, 61831, 0], ['NSE', 'FOODSIN', datetime.date(2025, 11, 10), 82.61000061035156, 86.4000015258789, 80.51000213623047, 84.08999633789062, 145184, 0], ['NSE', 'FOODSIN', datetime.date(2025, 11, 11), 86.0, 86.4000015258789, 81.5, 82.02999877929688, 47059, 0], ['NSE', 'FOODSIN', datetime.date(2025, 11, 12), 82.88999938964844, 84.18000030517578, 81.0, 81.33000183105469, 58541, 0], ['NSE', 'FOODSIN', datetime.date(2025, 11, 13), 81.33000183105469, 83.0, 80.55999755859375, 81.04000091552734, 40947, 0], ['NSE', 'FOODSIN', datetime.date(2025, 11, 14), 79.19999694824219, 79.69999694824219, 77.22000122070312, 78.44999694824219, 104548, 0], ['NSE', 'FOODSIN', datetime.date(2025, 11, 17), 80.69999694824219, 85.27999877929688, 79.01000213623047, 82.12000274658203, 219357, 0], ['NSE', 'FOODSIN', datetime.date(2025, 11, 18), 82.5, 82.51000213623047, 79.33999633789062, 79.6500015258789, 45673, 0], ['NSE', 'FOODSIN', datetime.date(2025, 11, 19), 80.5999984741211, 80.5999984741211, 78.55000305175781, 78.69999694824219, 53353, 0], ['NSE', 'FOODSIN', datetime.date(2025, 11, 20), 79.48999786376953, 79.48999786376953, 75.25, 77.0999984741211, 146246, 0], ['NSE', 'FOODSIN', datetime.date(2025, 11, 21), 78.0, 78.0, 75.0999984741211, 75.66999816894531, 44781, 0], ['NSE', 'FOODSIN', datetime.date(2025, 11, 24), 75.66999816894531, 76.9800033569336, 72.16000366210938, 72.77999877929688, 62797, 0], ['NSE', 'FOODSIN', datetime.date(2025, 11, 25), 72.0, 75.69999694824219, 72.0, 74.36000061035156, 71448, 0], ['NSE', 'FOODSIN', datetime.date(2025, 11, 26), 74.36000061035156, 76.0, 73.41000366210938, 75.05999755859375, 73438, 0], ['NSE', 'FOODSIN', datetime.date(2025, 11, 27), 75.98999786376953, 76.94999694824219, 74.0999984741211, 74.56999969482422, 58444, 0], ['NSE', 'FOODSIN', datetime.date(2025, 11, 28), 75.0, 76.5, 73.5, 75.75, 45377, 0]]
Row  3750  :  FOODSIN.NS  :  20  records inserted
[['BSE', '540065', datetime.date(2025, 11, 3), 327.0, 331.79998779296875, 324.75, 328.54998779296875, 292064, 0], ['BSE', '540065', datetime.date(2025, 11, 4), 327.8500061035156, 328.75, 322.5, 324.0, 496630, 0], ['BSE', '540065', datetime.date(2025, 11, 6), 326.1499938964844, 331.79998779296875, 324.75, 325.5, 487275, 0], ['BSE', '540065', datetime.date(2025, 11, 7), 327.3999938964844, 330.0, 320.04998779296875, 328.29998779296875, 224731, 0], ['BSE', '540065', datetime.date(2025, 11, 10), 328.79998779296875, 331.0, 322.0, 323.8999938964844, 333552, 0], ['BSE', '540065', datetime.date(2025, 11, 11), 323.8999938964844, 324.8500061035156, 316.1000061035156, 320.25, 158751, 0], ['BSE', '540065', datetime.date(2025, 11, 12), 320.45001220703125, 322.75, 316.25, 319.54998779296875, 142294, 0], ['BSE', '540065', datetime.date(2025, 11, 13), 320.20001220703125, 322.70001220703125, 314.3500061035156, 315.1499938964844, 195179, 0], ['BSE', '540065', datetime.date(2025, 11, 14), 314.95001220703125, 319.54998779296875, 314.3999938964844, 318.04998779296875, 208139, 0], ['BSE', '540065', datetime.date(2025, 11, 17), 319.70001220703125, 320.5, 316.0, 316.5, 91515, 0], ['BSE', '540065', datetime.date(2025, 11, 18), 318.0, 319.45001220703125, 313.3500061035156, 314.0, 94918, 0], ['BSE', '540065', datetime.date(2025, 11, 19), 314.04998779296875, 315.04998779296875, 308.54998779296875, 309.5, 186066, 0], ['BSE', '540065', datetime.date(2025, 11, 20), 310.45001220703125, 315.20001220703125, 309.1000061035156, 313.8500061035156, 90178, 0], ['BSE', '540065', datetime.date(2025, 11, 21), 310.75, 318.5, 310.75, 312.0, 122549, 0], ['BSE', '540065', datetime.date(2025, 11, 24), 311.3500061035156, 316.6499938964844, 306.95001220703125, 308.04998779296875, 50507, 0], ['BSE', '540065', datetime.date(2025, 11, 25), 307.04998779296875, 309.95001220703125, 306.5, 308.8500061035156, 54866, 0], ['BSE', '540065', datetime.date(2025, 11, 26), 309.8999938964844, 317.8500061035156, 308.8500061035156, 317.3999938964844, 138190, 0], ['BSE', '540065', datetime.date(2025, 11, 28), 312.1499938964844, 314.0, 309.6000061035156, 312.20001220703125, 98518, 0]]
Row  3751  :  540065.BO  :  18  records inserted
[['NSE', 'RBLBANK', datetime.date(2025, 11, 3), 327.5, 332.0, 324.6000061035156, 328.75, 5670523, 0], ['NSE', 'RBLBANK', datetime.date(2025, 11, 4), 329.0, 329.3999938964844, 321.95001220703125, 323.8500061035156, 9204487, 0], ['NSE', 'RBLBANK', datetime.date(2025, 11, 5), 323.8500061035156, 323.8500061035156, 323.8500061035156, 323.8500061035156, 0, 0], ['NSE', 'RBLBANK', datetime.date(2025, 11, 6), 327.0, 332.0, 324.8500061035156, 325.6000061035156, 10775022, 0], ['NSE', 'RBLBANK', datetime.date(2025, 11, 7), 324.8500061035156, 330.0, 319.8500061035156, 328.25, 7953347, 0], ['NSE', 'RBLBANK', datetime.date(2025, 11, 10), 328.8999938964844, 331.0, 321.95001220703125, 324.0, 7494051, 0], ['NSE', 'RBLBANK', datetime.date(2025, 11, 11), 323.45001220703125, 324.5, 316.0, 320.3999938964844, 5671161, 0], ['NSE', 'RBLBANK', datetime.date(2025, 11, 12), 320.79998779296875, 322.6000061035156, 316.20001220703125, 319.54998779296875, 5092785, 0], ['NSE', 'RBLBANK', datetime.date(2025, 11, 13), 320.54998779296875, 322.70001220703125, 314.54998779296875, 315.45001220703125, 4057852, 0], ['NSE', 'RBLBANK', datetime.date(2025, 11, 14), 315.25, 319.5, 314.3500061035156, 318.6499938964844, 5156226, 0], ['NSE', 'RBLBANK', datetime.date(2025, 11, 17), 321.0, 321.0, 315.95001220703125, 316.70001220703125, 2615820, 0], ['NSE', 'RBLBANK', datetime.date(2025, 11, 18), 318.0, 319.3999938964844, 313.45001220703125, 314.04998779296875, 4853216, 0], ['NSE', 'RBLBANK', datetime.date(2025, 11, 19), 314.0, 314.8500061035156, 308.54998779296875, 309.6000061035156, 6438780, 0], ['NSE', 'RBLBANK', datetime.date(2025, 11, 20), 309.6000061035156, 315.29998779296875, 309.04998779296875, 313.6499938964844, 4991279, 0], ['NSE', 'RBLBANK', datetime.date(2025, 11, 21), 311.95001220703125, 318.3999938964844, 311.0, 312.45001220703125, 4259450, 0], ['NSE', 'RBLBANK', datetime.date(2025, 11, 24), 312.1000061035156, 316.8999938964844, 306.6499938964844, 308.29998779296875, 3839441, 0], ['NSE', 'RBLBANK', datetime.date(2025, 11, 25), 307.6000061035156, 310.0, 306.5, 308.25, 3017233, 0], ['NSE', 'RBLBANK', datetime.date(2025, 11, 26), 309.04998779296875, 318.1499938964844, 308.95001220703125, 317.5, 4294290, 0], ['NSE', 'RBLBANK', datetime.date(2025, 11, 27), 317.5, 318.1000061035156, 308.29998779296875, 311.75, 5707931, 0], ['NSE', 'RBLBANK', datetime.date(2025, 11, 28), 313.29998779296875, 314.20001220703125, 309.6499938964844, 312.3999938964844, 2877894, 0]]
Row  3752  :  RBLBANK.NS  :  20  records inserted
[['NSE', 'AGIIL', datetime.date(2025, 11, 3), 261.8999938964844, 274.29998779296875, 260.1499938964844, 268.1000061035156, 826256, 0], ['NSE', 'AGIIL', datetime.date(2025, 11, 4), 269.0, 270.8999938964844, 265.29998779296875, 265.8999938964844, 113649, 0], ['NSE', 'AGIIL', datetime.date(2025, 11, 6), 265.0, 266.75, 262.45001220703125, 263.79998779296875, 273414, 0], ['NSE', 'AGIIL', datetime.date(2025, 11, 7), 264.0, 270.0, 259.95001220703125, 266.20001220703125, 425430, 0], ['NSE', 'AGIIL', datetime.date(2025, 11, 10), 266.20001220703125, 266.6000061035156, 263.25, 264.04998779296875, 82328, 0], ['NSE', 'AGIIL', datetime.date(2025, 11, 11), 265.6000061035156, 266.3999938964844, 257.0, 258.70001220703125, 482226, 0], ['NSE', 'AGIIL', datetime.date(2025, 11, 12), 268.95001220703125, 276.54998779296875, 251.14999389648438, 254.25, 345545, 0], ['NSE', 'AGIIL', datetime.date(2025, 11, 13), 262.0, 263.79998779296875, 254.10000610351562, 255.39999389648438, 129921, 0], ['NSE', 'AGIIL', datetime.date(2025, 11, 14), 258.8999938964844, 267.3500061035156, 254.0, 256.1499938964844, 143996, 0], ['NSE', 'AGIIL', datetime.date(2025, 11, 17), 260.8500061035156, 260.8500061035156, 248.0, 252.60000610351562, 261642, 0], ['NSE', 'AGIIL', datetime.date(2025, 11, 18), 253.0, 261.6000061035156, 251.0, 252.1999969482422, 1249697, 0], ['NSE', 'AGIIL', datetime.date(2025, 11, 19), 254.60000610351562, 255.39999389648438, 250.0, 252.35000610351562, 115507, 0], ['NSE', 'AGIIL', datetime.date(2025, 11, 20), 254.0, 297.20001220703125, 250.60000610351562, 282.3500061035156, 2746927, 0], ['NSE', 'AGIIL', datetime.date(2025, 11, 21), 284.6000061035156, 286.0, 275.0, 279.0, 718253, 0], ['NSE', 'AGIIL', datetime.date(2025, 11, 24), 285.0, 285.0, 272.8999938964844, 281.0, 492078, 0], ['NSE', 'AGIIL', datetime.date(2025, 11, 25), 281.0, 289.0, 280.04998779296875, 283.70001220703125, 302805, 0], ['NSE', 'AGIIL', datetime.date(2025, 11, 26), 284.70001220703125, 284.70001220703125, 274.04998779296875, 275.5, 164350, 0], ['NSE', 'AGIIL', datetime.date(2025, 11, 27), 277.0, 280.0, 271.25, 275.0, 385189, 0], ['NSE', 'AGIIL', datetime.date(2025, 11, 28), 275.0, 276.0, 270.0, 271.29998779296875, 74955, 0]]
Row  3753  :  AGIIL.NS  :  19  records inserted
[['NSE', 'SAGARDEEP', datetime.date(2025, 11, 3), 28.84000015258789, 29.860000610351562, 28.84000015258789, 29.440000534057617, 4404, 0], ['NSE', 'SAGARDEEP', datetime.date(2025, 11, 4), 30.399999618530273, 30.850000381469727, 28.700000762939453, 28.739999771118164, 10940, 0], ['NSE', 'SAGARDEEP', datetime.date(2025, 11, 6), 28.700000762939453, 28.969999313354492, 28.219999313354492, 28.690000534057617, 7202, 0], ['NSE', 'SAGARDEEP', datetime.date(2025, 11, 7), 28.350000381469727, 28.350000381469727, 27.5, 28.0, 8685, 0], ['NSE', 'SAGARDEEP', datetime.date(2025, 11, 10), 28.010000228881836, 28.5, 26.299999237060547, 27.450000762939453, 16603, 0], ['NSE', 'SAGARDEEP', datetime.date(2025, 11, 11), 28.0, 28.0, 27.200000762939453, 27.729999542236328, 1329, 0], ['NSE', 'SAGARDEEP', datetime.date(2025, 11, 12), 27.25, 28.280000686645508, 26.719999313354492, 27.809999465942383, 15278, 0], ['NSE', 'SAGARDEEP', datetime.date(2025, 11, 13), 27.0, 27.940000534057617, 26.65999984741211, 27.040000915527344, 19865, 0], ['NSE', 'SAGARDEEP', datetime.date(2025, 11, 14), 27.1299991607666, 27.950000762939453, 27.100000381469727, 27.920000076293945, 6369, 0], ['NSE', 'SAGARDEEP', datetime.date(2025, 11, 17), 28.399999618530273, 28.399999618530273, 25.75, 26.190000534057617, 44110, 0], ['NSE', 'SAGARDEEP', datetime.date(2025, 11, 18), 26.200000762939453, 26.899999618530273, 25.799999237060547, 26.31999969482422, 10030, 0], ['NSE', 'SAGARDEEP', datetime.date(2025, 11, 19), 26.75, 26.75, 25.649999618530273, 26.15999984741211, 13439, 0], ['NSE', 'SAGARDEEP', datetime.date(2025, 11, 20), 26.75, 26.889999389648438, 25.81999969482422, 26.6200008392334, 8450, 0], ['NSE', 'SAGARDEEP', datetime.date(2025, 11, 21), 27.610000610351562, 27.610000610351562, 26.5, 26.760000228881836, 7681, 0], ['NSE', 'SAGARDEEP', datetime.date(2025, 11, 24), 25.8700008392334, 26.780000686645508, 25.0, 25.649999618530273, 11144, 0], ['NSE', 'SAGARDEEP', datetime.date(2025, 11, 25), 26.299999237060547, 26.299999237060547, 25.5, 26.239999771118164, 12395, 0], ['NSE', 'SAGARDEEP', datetime.date(2025, 11, 26), 26.790000915527344, 26.950000762939453, 26.200000762939453, 26.84000015258789, 4755, 0], ['NSE', 'SAGARDEEP', datetime.date(2025, 11, 27), 27.739999771118164, 27.739999771118164, 26.25, 26.809999465942383, 4580, 0], ['NSE', 'SAGARDEEP', datetime.date(2025, 11, 28), 27.0, 27.0, 25.5, 26.139999389648438, 6936, 0]]
Row  3754  :  SAGARDEEP.NS  :  19  records inserted
[['NSE', 'BCONCEPTS', datetime.date(2025, 11, 3), 353.95001220703125, 357.1000061035156, 332.0, 354.8999938964844, 8274, 0], ['NSE', 'BCONCEPTS', datetime.date(2025, 11, 4), 355.0, 372.6000061035156, 355.0, 372.6000061035156, 11295, 0], ['NSE', 'BCONCEPTS', datetime.date(2025, 11, 6), 372.6000061035156, 376.0, 356.04998779296875, 359.6499938964844, 4882, 0], ['NSE', 'BCONCEPTS', datetime.date(2025, 11, 7), 345.70001220703125, 377.6000061035156, 341.70001220703125, 371.95001220703125, 13810, 0], ['NSE', 'BCONCEPTS', datetime.date(2025, 11, 10), 370.5, 379.8500061035156, 355.54998779296875, 364.8999938964844, 11117, 0], ['NSE', 'BCONCEPTS', datetime.date(2025, 11, 11), 363.0, 373.45001220703125, 349.0, 350.70001220703125, 3572, 0], ['NSE', 'BCONCEPTS', datetime.date(2025, 11, 12), 350.70001220703125, 356.5, 342.0, 349.1499938964844, 4660, 0], ['NSE', 'BCONCEPTS', datetime.date(2025, 11, 13), 349.0, 353.0, 341.04998779296875, 344.5, 3256, 0], ['NSE', 'BCONCEPTS', datetime.date(2025, 11, 14), 342.79998779296875, 350.79998779296875, 336.04998779296875, 346.3500061035156, 1764, 0], ['NSE', 'BCONCEPTS', datetime.date(2025, 11, 17), 340.0, 355.5, 336.20001220703125, 344.75, 1874, 0], ['NSE', 'BCONCEPTS', datetime.date(2025, 11, 18), 348.20001220703125, 348.20001220703125, 330.5, 334.25, 5238, 0], ['NSE', 'BCONCEPTS', datetime.date(2025, 11, 19), 334.20001220703125, 334.25, 323.45001220703125, 326.95001220703125, 4283, 0], ['NSE', 'BCONCEPTS', datetime.date(2025, 11, 20), 327.20001220703125, 342.0, 327.20001220703125, 334.1499938964844, 4040, 0], ['NSE', 'BCONCEPTS', datetime.date(2025, 11, 21), 335.79998779296875, 342.5, 324.70001220703125, 329.04998779296875, 1690, 0], ['NSE', 'BCONCEPTS', datetime.date(2025, 11, 24), 342.3500061035156, 342.3500061035156, 320.3999938964844, 323.6000061035156, 3425, 0], ['NSE', 'BCONCEPTS', datetime.date(2025, 11, 25), 320.0, 335.0, 319.6000061035156, 328.6499938964844, 4672, 0], ['NSE', 'BCONCEPTS', datetime.date(2025, 11, 26), 328.6499938964844, 334.0, 325.0, 332.5, 5075, 0], ['NSE', 'BCONCEPTS', datetime.date(2025, 11, 27), 334.0, 343.8999938964844, 328.0, 331.3999938964844, 2173, 0], ['NSE', 'BCONCEPTS', datetime.date(2025, 11, 28), 331.3999938964844, 334.79998779296875, 325.0, 326.25, 2454, 0]]
Row  3755  :  BCONCEPTS.NS  :  19  records inserted

$519552.BO: possibly delisted; no timezone found

[['NSE', 'HERITGFOOD', datetime.date(2025, 11, 3), 483.0, 487.1499938964844, 482.54998779296875, 485.25, 163719, 0], ['NSE', 'HERITGFOOD', datetime.date(2025, 11, 4), 485.25, 487.70001220703125, 482.25, 483.6000061035156, 159382, 0], ['NSE', 'HERITGFOOD', datetime.date(2025, 11, 5), 483.6000061035156, 483.6000061035156, 483.6000061035156, 483.6000061035156, 0, 0], ['NSE', 'HERITGFOOD', datetime.date(2025, 11, 6), 483.6000061035156, 484.6499938964844, 479.6499938964844, 480.8500061035156, 184620, 0], ['NSE', 'HERITGFOOD', datetime.date(2025, 11, 7), 480.79998779296875, 483.20001220703125, 473.1000061035156, 476.6499938964844, 196934, 0], ['NSE', 'HERITGFOOD', datetime.date(2025, 11, 10), 476.95001220703125, 488.0, 475.0, 481.70001220703125, 184290, 0], ['NSE', 'HERITGFOOD', datetime.date(2025, 11, 11), 484.95001220703125, 484.95001220703125, 479.20001220703125, 481.20001220703125, 103646, 0], ['NSE', 'HERITGFOOD', datetime.date(2025, 11, 12), 479.0, 484.8999938964844, 479.0, 481.3999938964844, 162411, 0], ['NSE', 'HERITGFOOD', datetime.date(2025, 11, 13), 480.1000061035156, 485.04998779296875, 480.0, 481.3999938964844, 108433, 0], ['NSE', 'HERITGFOOD', datetime.date(2025, 11, 14), 481.3999938964844, 484.0, 480.0, 481.0, 109462, 0], ['NSE', 'HERITGFOOD', datetime.date(2025, 11, 17), 482.0, 485.0, 477.6000061035156, 480.8999938964844, 149352, 0], ['NSE', 'HERITGFOOD', datetime.date(2025, 11, 18), 480.8999938964844, 482.3500061035156, 475.0, 477.79998779296875, 204057, 0], ['NSE', 'HERITGFOOD', datetime.date(2025, 11, 19), 477.0, 478.0, 473.6000061035156, 474.95001220703125, 146127, 0], ['NSE', 'HERITGFOOD', datetime.date(2025, 11, 20), 476.0, 477.3999938964844, 468.20001220703125, 470.04998779296875, 187768, 0], ['NSE', 'HERITGFOOD', datetime.date(2025, 11, 21), 469.0, 469.1499938964844, 460.04998779296875, 463.0, 198674, 0], ['NSE', 'HERITGFOOD', datetime.date(2025, 11, 24), 459.5, 461.1000061035156, 450.1000061035156, 453.75, 211846, 0], ['NSE', 'HERITGFOOD', datetime.date(2025, 11, 25), 453.75, 466.0, 446.70001220703125, 464.04998779296875, 315723, 0], ['NSE', 'HERITGFOOD', datetime.date(2025, 11, 26), 464.04998779296875, 482.20001220703125, 463.25, 479.0, 227397, 0], ['NSE', 'HERITGFOOD', datetime.date(2025, 11, 27), 482.70001220703125, 482.70001220703125, 477.0, 481.6499938964844, 118129, 0], ['NSE', 'HERITGFOOD', datetime.date(2025, 11, 28), 478.20001220703125, 483.95001220703125, 476.3999938964844, 482.70001220703125, 103061, 0]]
Row  3757  :  HERITGFOOD.NS  :  20  records inserted

$532651.BO: possibly delisted; no timezone found

[['NSE', 'SPLIL', datetime.date(2025, 11, 3), 45.20000076293945, 45.20000076293945, 43.5, 43.97999954223633, 13631, 0], ['NSE', 'SPLIL', datetime.date(2025, 11, 4), 43.95000076293945, 44.47999954223633, 39.29999923706055, 40.2400016784668, 62971, 0], ['NSE', 'SPLIL', datetime.date(2025, 11, 6), 40.0099983215332, 40.79999923706055, 39.20000076293945, 39.779998779296875, 6615, 0], ['NSE', 'SPLIL', datetime.date(2025, 11, 7), 39.5, 39.70000076293945, 38.06999969482422, 39.11000061035156, 14116, 0], ['NSE', 'SPLIL', datetime.date(2025, 11, 10), 39.4900016784668, 40.0, 38.61000061035156, 39.18000030517578, 3688, 0], ['NSE', 'SPLIL', datetime.date(2025, 11, 11), 39.47999954223633, 39.47999954223633, 38.209999084472656, 38.58000183105469, 5370, 0], ['NSE', 'SPLIL', datetime.date(2025, 11, 12), 38.58000183105469, 44.439998626708984, 38.04999923706055, 40.779998779296875, 232826, 0], ['NSE', 'SPLIL', datetime.date(2025, 11, 13), 40.650001525878906, 43.45000076293945, 40.119998931884766, 40.91999816894531, 134131, 0], ['NSE', 'SPLIL', datetime.date(2025, 11, 14), 40.91999816894531, 41.709999084472656, 38.040000915527344, 38.93000030517578, 91901, 0], ['NSE', 'SPLIL', datetime.date(2025, 11, 17), 39.97999954223633, 40.79999923706055, 38.20000076293945, 40.40999984741211, 39555, 0], ['NSE', 'SPLIL', datetime.date(2025, 11, 18), 40.470001220703125, 41.70000076293945, 39.0099983215332, 39.720001220703125, 101687, 0], ['NSE', 'SPLIL', datetime.date(2025, 11, 19), 39.720001220703125, 41.70000076293945, 38.54999923706055, 38.939998626708984, 99678, 0], ['NSE', 'SPLIL', datetime.date(2025, 11, 20), 39.47999954223633, 39.709999084472656, 38.70000076293945, 39.5099983215332, 9202, 0], ['NSE', 'SPLIL', datetime.date(2025, 11, 21), 39.5099983215332, 39.880001068115234, 38.900001525878906, 39.060001373291016, 4253, 0], ['NSE', 'SPLIL', datetime.date(2025, 11, 24), 39.0099983215332, 39.81999969482422, 38.060001373291016, 38.27000045776367, 8259, 0], ['NSE', 'SPLIL', datetime.date(2025, 11, 25), 38.720001220703125, 40.38999938964844, 38.220001220703125, 38.970001220703125, 7768, 0], ['NSE', 'SPLIL', datetime.date(2025, 11, 26), 39.0099983215332, 39.869998931884766, 38.310001373291016, 38.86000061035156, 11137, 0], ['NSE', 'SPLIL', datetime.date(2025, 11, 27), 38.86000061035156, 39.2599983215332, 38.5, 38.70000076293945, 2141, 0], ['NSE', 'SPLIL', datetime.date(2025, 11, 28), 38.77000045776367, 39.060001373291016, 38.70000076293945, 38.720001220703125, 1305, 0]]
Row  3759  :  SPLIL.NS  :  19  records inserted
[['NSE', 'SAREGAMA', datetime.date(2025, 11, 3), 452.1902352479528, 453.0805621924701, 448.13426784539075, 451.25042724609375, 38349, 0], ['NSE', 'SAREGAMA', datetime.date(2025, 11, 4), 451.9429431664195, 455.0591027231972, 446.155772452526, 447.5902099609375, 65199, 0], ['NSE', 'SAREGAMA', datetime.date(2025, 11, 5), 447.5902099609375, 447.5902099609375, 447.5902099609375, 447.5902099609375, 0, 0], ['NSE', 'SAREGAMA', datetime.date(2025, 11, 6), 432.70183710634615, 445.6611347428181, 413.5102204716936, 421.7705383300781, 743655, 0], ['NSE', 'SAREGAMA', datetime.date(2025, 11, 7), 420.43502057269654, 421.8199769554496, 398.4734615398088, 404.705810546875, 501134, 0], ['NSE', 'SAREGAMA', datetime.date(2025, 11, 10), 410.0477981963198, 420.43501624471867, 404.60687445668225, 414.45001220703125, 808180, 0], ['NSE', 'SAREGAMA', datetime.date(2025, 11, 11), 406.6000061035156, 414.45001220703125, 403.79998779296875, 407.70001220703125, 445254, 0], ['NSE', 'SAREGAMA', datetime.date(2025, 11, 12), 405.04998779296875, 410.70001220703125, 405.04998779296875, 407.79998779296875, 416393, 0], ['NSE', 'SAREGAMA', datetime.date(2025, 11, 13), 407.0, 407.79998779296875, 395.0, 396.79998779296875, 468727, 0], ['NSE', 'SAREGAMA', datetime.date(2025, 11, 14), 397.25, 405.8500061035156, 395.1499938964844, 399.8999938964844, 685035, 0], ['NSE', 'SAREGAMA', datetime.date(2025, 11, 17), 400.0, 403.3500061035156, 395.0, 396.25, 596219, 0], ['NSE', 'SAREGAMA', datetime.date(2025, 11, 18), 396.25, 400.45001220703125, 394.29998779296875, 396.54998779296875, 256237, 0], ['NSE', 'SAREGAMA', datetime.date(2025, 11, 19), 397.95001220703125, 397.95001220703125, 378.0, 388.3500061035156, 833112, 0], ['NSE', 'SAREGAMA', datetime.date(2025, 11, 20), 389.0, 392.5, 384.1000061035156, 388.20001220703125, 356079, 0], ['NSE', 'SAREGAMA', datetime.date(2025, 11, 21), 388.0, 388.04998779296875, 374.04998779296875, 375.0, 321315, 0], ['NSE', 'SAREGAMA', datetime.date(2025, 11, 24), 375.25, 376.5, 364.79998779296875, 370.54998779296875, 403267, 0], ['NSE', 'SAREGAMA', datetime.date(2025, 11, 25), 369.45001220703125, 375.6499938964844, 364.1499938964844, 370.8999938964844, 338721, 0], ['NSE', 'SAREGAMA', datetime.date(2025, 11, 26), 370.0, 385.0, 370.0, 380.3999938964844, 783617, 0], ['NSE', 'SAREGAMA', datetime.date(2025, 11, 27), 382.8999938964844, 407.20001220703125, 380.6000061035156, 399.75, 9075196, 0], ['NSE', 'SAREGAMA', datetime.date(2025, 11, 28), 397.54998779296875, 409.8999938964844, 394.1499938964844, 397.5, 1894929, 0]]
Row  3760  :  SAREGAMA.NS  :  20  records inserted
[['BSE', '539252', datetime.date(2025, 11, 3), 7.690000057220459, 7.690000057220459, 6.769999980926514, 6.829999923706055, 23852, 0], ['BSE', '539252', datetime.date(2025, 11, 4), 6.800000190734863, 6.880000114440918, 6.760000228881836, 6.769999980926514, 16586, 0], ['BSE', '539252', datetime.date(2025, 11, 6), 7.590000152587891, 7.590000152587891, 6.53000020980835, 6.559999942779541, 14030, 0], ['BSE', '539252', datetime.date(2025, 11, 7), 6.5, 6.559999942779541, 6.28000020980835, 6.320000171661377, 11941, 0], ['BSE', '539252', datetime.date(2025, 11, 10), 6.320000171661377, 6.349999904632568, 6.190000057220459, 6.210000038146973, 13055, 0], ['BSE', '539252', datetime.date(2025, 11, 11), 6.25, 6.25, 6.039999961853027, 6.099999904632568, 20247, 0], ['BSE', '539252', datetime.date(2025, 11, 12), 6.099999904632568, 6.210000038146973, 6.039999961853027, 6.210000038146973, 5857, 0], ['BSE', '539252', datetime.date(2025, 11, 13), 6.329999923706055, 6.329999923706055, 6.0, 6.039999961853027, 16759, 0], ['BSE', '539252', datetime.date(2025, 11, 14), 6.0, 6.119999885559082, 5.769999980926514, 5.909999847412109, 43489, 0], ['BSE', '539252', datetime.date(2025, 11, 17), 5.909999847412109, 5.940000057220459, 5.650000095367432, 5.679999828338623, 78968, 0], ['BSE', '539252', datetime.date(2025, 11, 18), 5.679999828338623, 5.800000190734863, 5.599999904632568, 5.610000133514404, 35105, 0], ['BSE', '539252', datetime.date(2025, 11, 19), 5.610000133514404, 5.75, 5.5, 5.510000228881836, 45852, 0], ['BSE', '539252', datetime.date(2025, 11, 20), 5.619999885559082, 5.619999885559082, 5.239999771118164, 5.510000228881836, 21860, 0], ['BSE', '539252', datetime.date(2025, 11, 21), 5.400000095367432, 5.519999980926514, 4.860000133514404, 4.900000095367432, 99099, 0], ['BSE', '539252', datetime.date(2025, 11, 24), 5.150000095367432, 5.880000114440918, 5.099999904632568, 5.849999904632568, 1411966, 0], ['BSE', '539252', datetime.date(2025, 11, 25), 5.920000076293945, 6.949999809265137, 5.920000076293945, 6.46999979019165, 990603, 0], ['BSE', '539252', datetime.date(2025, 11, 26), 6.860000133514404, 6.869999885559082, 5.449999809265137, 5.559999942779541, 273754, 0], ['BSE', '539252', datetime.date(2025, 11, 28), 5.489999771118164, 6.320000171661377, 5.400000095367432, 6.010000228881836, 338852, 0]]
Row  3761  :  539252.BO  :  18  records inserted
[['NSE', 'SHYAMCENT', datetime.date(2025, 11, 3), 7.050000190734863, 7.050000190734863, 6.710000038146973, 6.829999923706055, 255079, 0], ['NSE', 'SHYAMCENT', datetime.date(2025, 11, 4), 6.980000019073486, 6.980000019073486, 6.75, 6.789999961853027, 168733, 0], ['NSE', 'SHYAMCENT', datetime.date(2025, 11, 6), 6.900000095367432, 6.900000095367432, 6.5, 6.53000020980835, 272891, 0], ['NSE', 'SHYAMCENT', datetime.date(2025, 11, 7), 6.829999923706055, 6.829999923706055, 6.210000038146973, 6.329999923706055, 224754, 0], ['NSE', 'SHYAMCENT', datetime.date(2025, 11, 10), 6.300000190734863, 6.420000076293945, 6.159999847412109, 6.190000057220459, 205769, 0], ['NSE', 'SHYAMCENT', datetime.date(2025, 11, 11), 6.150000095367432, 6.300000190734863, 6.059999942779541, 6.079999923706055, 144594, 0], ['NSE', 'SHYAMCENT', datetime.date(2025, 11, 12), 6.269999980926514, 6.269999980926514, 6.039999961853027, 6.190000057220459, 162797, 0], ['NSE', 'SHYAMCENT', datetime.date(2025, 11, 13), 6.170000076293945, 6.21999979019165, 5.980000019073486, 6.019999980926514, 246616, 0], ['NSE', 'SHYAMCENT', datetime.date(2025, 11, 14), 6.019999980926514, 6.019999980926514, 5.809999942779541, 5.880000114440918, 289167, 0], ['NSE', 'SHYAMCENT', datetime.date(2025, 11, 17), 5.800000190734863, 5.900000095367432, 5.659999847412109, 5.699999809265137, 453943, 0], ['NSE', 'SHYAMCENT', datetime.date(2025, 11, 18), 5.699999809265137, 5.789999961853027, 5.519999980926514, 5.599999904632568, 370292, 0], ['NSE', 'SHYAMCENT', datetime.date(2025, 11, 19), 5.699999809265137, 5.699999809265137, 5.510000228881836, 5.53000020980835, 448155, 0], ['NSE', 'SHYAMCENT', datetime.date(2025, 11, 20), 5.599999904632568, 5.599999904632568, 5.449999809265137, 5.46999979019165, 194501, 0], ['NSE', 'SHYAMCENT', datetime.date(2025, 11, 21), 5.349999904632568, 5.539999961853027, 4.710000038146973, 4.869999885559082, 1336763, 0], ['NSE', 'SHYAMCENT', datetime.date(2025, 11, 24), 5.099999904632568, 5.840000152587891, 4.96999979019165, 5.820000171661377, 5910686, 0], ['NSE', 'SHYAMCENT', datetime.date(2025, 11, 25), 5.940000057220459, 6.949999809265137, 5.929999828338623, 6.510000228881836, 8461476, 0], ['NSE', 'SHYAMCENT', datetime.date(2025, 11, 26), 6.590000152587891, 6.949999809265137, 5.449999809265137, 5.539999961853027, 2286242, 0], ['NSE', 'SHYAMCENT', datetime.date(2025, 11, 27), 5.619999885559082, 5.659999847412109, 5.25, 5.300000190734863, 723862, 0], ['NSE', 'SHYAMCENT', datetime.date(2025, 11, 28), 5.449999809265137, 6.289999961853027, 5.380000114440918, 6.010000228881836, 3572967, 0]]
Row  3762  :  SHYAMCENT.NS  :  19  records inserted

$PRESSMN.NS: possibly delisted; no timezone found

[['NSE', 'JYOTICNC', datetime.date(2025, 11, 3), 867.0, 896.5999755859375, 856.0999755859375, 876.7000122070312, 485699, 0], ['NSE', 'JYOTICNC', datetime.date(2025, 11, 4), 878.9000244140625, 948.0, 877.5, 940.2000122070312, 4244037, 0], ['NSE', 'JYOTICNC', datetime.date(2025, 11, 5), 940.2000122070312, 940.2000122070312, 940.2000122070312, 940.2000122070312, 0, 0], ['NSE', 'JYOTICNC', datetime.date(2025, 11, 6), 940.9000244140625, 946.0999755859375, 891.4500122070312, 895.5, 723110, 0], ['NSE', 'JYOTICNC', datetime.date(2025, 11, 7), 896.5499877929688, 904.25, 880.2999877929688, 886.1500244140625, 500359, 0], ['NSE', 'JYOTICNC', datetime.date(2025, 11, 10), 889.5, 927.9500122070312, 872.2000122070312, 905.7000122070312, 1152952, 0], ['NSE', 'JYOTICNC', datetime.date(2025, 11, 11), 914.9000244140625, 979.2000122070312, 914.0, 952.2000122070312, 4331034, 0], ['NSE', 'JYOTICNC', datetime.date(2025, 11, 12), 956.25, 999.9000244140625, 952.0, 988.9000244140625, 1593937, 0], ['NSE', 'JYOTICNC', datetime.date(2025, 11, 13), 989.0, 989.25, 927.0, 949.4000244140625, 964756, 0], ['NSE', 'JYOTICNC', datetime.date(2025, 11, 14), 945.5499877929688, 975.6500244140625, 945.5, 955.3499755859375, 442790, 0], ['NSE', 'JYOTICNC', datetime.date(2025, 11, 17), 964.1500244140625, 1003.9500122070312, 963.9000244140625, 972.4000244140625, 1689044, 0], ['NSE', 'JYOTICNC', datetime.date(2025, 11, 18), 979.6500244140625, 987.3499755859375, 963.75, 982.4500122070312, 528725, 0], ['NSE', 'JYOTICNC', datetime.date(2025, 11, 19), 982.0, 995.0, 970.0, 976.9000244140625, 269197, 0], ['NSE', 'JYOTICNC', datetime.date(2025, 11, 20), 983.5999755859375, 1002.1500244140625, 983.5999755859375, 992.1500244140625, 609382, 0], ['NSE', 'JYOTICNC', datetime.date(2025, 11, 21), 995.8499755859375, 1003.75, 988.5999755859375, 992.1500244140625, 537523, 0], ['NSE', 'JYOTICNC', datetime.date(2025, 11, 24), 999.0, 1055.9000244140625, 994.9500122070312, 1039.4000244140625, 2935017, 0], ['NSE', 'JYOTICNC', datetime.date(2025, 11, 25), 1041.0, 1052.449951171875, 1022.0499877929688, 1038.9000244140625, 539007, 0], ['NSE', 'JYOTICNC', datetime.date(2025, 11, 26), 1036.4000244140625, 1047.0, 1024.0, 1041.75, 359766, 0], ['NSE', 'JYOTICNC', datetime.date(2025, 11, 27), 1041.75, 1046.449951171875, 1030.0, 1039.3499755859375, 575255, 0], ['NSE', 'JYOTICNC', datetime.date(2025, 11, 28), 1039.0, 1042.699951171875, 1002.0, 1010.25, 198706, 0]]
Row  3764  :  JYOTICNC.NS  :  20  records inserted
[['NSE', 'SOUTHWEST', datetime.date(2025, 11, 3), 157.69000244140625, 184.89999389648438, 157.69000244140625, 175.7100067138672, 1712797, 0], ['NSE', 'SOUTHWEST', datetime.date(2025, 11, 4), 176.8699951171875, 182.49000549316406, 170.4499969482422, 179.6300048828125, 598180, 0], ['NSE', 'SOUTHWEST', datetime.date(2025, 11, 6), 180.0, 183.07000732421875, 173.5500030517578, 177.0399932861328, 318744, 0], ['NSE', 'SOUTHWEST', datetime.date(2025, 11, 7), 173.63999938964844, 177.0500030517578, 165.35000610351562, 173.63999938964844, 269933, 0], ['NSE', 'SOUTHWEST', datetime.date(2025, 11, 10), 179.94000244140625, 198.39999389648438, 179.5800018310547, 186.2899932861328, 765537, 0], ['NSE', 'SOUTHWEST', datetime.date(2025, 11, 11), 186.2899932861328, 189.97999572753906, 182.1199951171875, 186.02999877929688, 128642, 0], ['NSE', 'SOUTHWEST', datetime.date(2025, 11, 12), 186.02999877929688, 197.25, 186.0, 191.6699981689453, 262126, 0], ['NSE', 'SOUTHWEST', datetime.date(2025, 11, 13), 191.88999938964844, 195.0, 185.1999969482422, 186.77000427246094, 160514, 0], ['NSE', 'SOUTHWEST', datetime.date(2025, 11, 14), 183.0, 189.1999969482422, 175.39999389648438, 180.5500030517578, 202547, 0], ['NSE', 'SOUTHWEST', datetime.date(2025, 11, 17), 205.64999389648438, 205.64999389648438, 192.00999450683594, 194.25999450683594, 854587, 0], ['NSE', 'SOUTHWEST', datetime.date(2025, 11, 18), 194.1999969482422, 203.39999389648438, 190.0, 202.4499969482422, 483585, 0], ['NSE', 'SOUTHWEST', datetime.date(2025, 11, 19), 203.0, 205.9499969482422, 192.60000610351562, 194.74000549316406, 305476, 0], ['NSE', 'SOUTHWEST', datetime.date(2025, 11, 20), 197.5, 198.75, 190.39999389648438, 192.22000122070312, 122815, 0], ['NSE', 'SOUTHWEST', datetime.date(2025, 11, 21), 194.14999389648438, 197.99000549316406, 187.61000061035156, 193.60000610351562, 143179, 0], ['NSE', 'SOUTHWEST', datetime.date(2025, 11, 24), 196.5, 196.92999267578125, 185.0, 186.16000366210938, 110416, 0], ['NSE', 'SOUTHWEST', datetime.date(2025, 11, 25), 186.16000366210938, 195.0, 184.24000549316406, 193.30999755859375, 208814, 0], ['NSE', 'SOUTHWEST', datetime.date(2025, 11, 26), 195.60000610351562, 195.88999938964844, 186.35000610351562, 189.5500030517578, 113611, 0], ['NSE', 'SOUTHWEST', datetime.date(2025, 11, 27), 190.5, 204.1999969482422, 190.5, 195.25, 343740, 0], ['NSE', 'SOUTHWEST', datetime.date(2025, 11, 28), 199.0, 214.1699981689453, 194.6300048828125, 211.7100067138672, 697571, 0]]
Row  3765  :  SOUTHWEST.NS  :  19  records inserted

$517330.BO: possibly delisted; no timezone found

[['NSE', 'CMICABLES', datetime.date(2025, 11, 3), 3.9000000953674316, 3.9000000953674316, 3.9000000953674316, 3.9000000953674316, 17050, 0], ['NSE', 'CMICABLES', datetime.date(2025, 11, 4), 3.9000000953674316, 3.9000000953674316, 3.9000000953674316, 3.9000000953674316, 0, 0], ['NSE', 'CMICABLES', datetime.date(2025, 11, 5), 3.9000000953674316, 3.9000000953674316, 3.9000000953674316, 3.9000000953674316, 0, 0], ['NSE', 'CMICABLES', datetime.date(2025, 11, 6), 3.9000000953674316, 3.9000000953674316, 3.9000000953674316, 3.9000000953674316, 0, 0], ['NSE', 'CMICABLES', datetime.date(2025, 11, 7), 3.9000000953674316, 3.9000000953674316, 3.9000000953674316, 3.9000000953674316, 0, 0], ['NSE', 'CMICABLES', datetime.date(2025, 11, 10), 4.090000152587891, 4.090000152587891, 4.090000152587891, 4.090000152587891, 2108, 0], ['NSE', 'CMICABLES', datetime.date(2025, 11, 11), 4.090000152587891, 4.090000152587891, 4.090000152587891, 4.090000152587891, 0, 0], ['NSE', 'CMICABLES', datetime.date(2025, 11, 12), 4.090000152587891, 4.090000152587891, 4.090000152587891, 4.090000152587891, 0, 0], ['NSE', 'CMICABLES', datetime.date(2025, 11, 13), 4.090000152587891, 4.090000152587891, 4.090000152587891, 4.090000152587891, 0, 0], ['NSE', 'CMICABLES', datetime.date(2025, 11, 14), 4.090000152587891, 4.090000152587891, 4.090000152587891, 4.090000152587891, 0, 0], ['NSE', 'CMICABLES', datetime.date(2025, 11, 17), 4.289999961853027, 4.289999961853027, 4.289999961853027, 4.289999961853027, 3981, 0], ['NSE', 'CMICABLES', datetime.date(2025, 11, 18), 4.289999961853027, 4.289999961853027, 4.289999961853027, 4.289999961853027, 0, 0], ['NSE', 'CMICABLES', datetime.date(2025, 11, 19), 4.289999961853027, 4.289999961853027, 4.289999961853027, 4.289999961853027, 0, 0], ['NSE', 'CMICABLES', datetime.date(2025, 11, 20), 4.289999961853027, 4.289999961853027, 4.289999961853027, 4.289999961853027, 0, 0], ['NSE', 'CMICABLES', datetime.date(2025, 11, 21), 4.289999961853027, 4.289999961853027, 4.289999961853027, 4.289999961853027, 0, 0], ['NSE', 'CMICABLES', datetime.date(2025, 11, 24), 4.5, 4.5, 4.5, 4.5, 5390, 0], ['NSE', 'CMICABLES', datetime.date(2025, 11, 25), 4.5, 4.5, 4.5, 4.5, 0, 0], ['NSE', 'CMICABLES', datetime.date(2025, 11, 26), 4.5, 4.5, 4.5, 4.5, 0, 0], ['NSE', 'CMICABLES', datetime.date(2025, 11, 27), 4.5, 4.5, 4.5, 4.5, 0, 0], ['NSE', 'CMICABLES', datetime.date(2025, 11, 28), 4.5, 4.5, 4.5, 4.5, 0, 0]]
Row  3767  :  CMICABLES.NS  :  20  records inserted
[['BSE', '519183', datetime.date(2025, 11, 3), 219.85671721088178, 222.10066196285484, 218.31088556042215, 219.90658569335938, 3238, 0], ['BSE', '519183', datetime.date(2025, 11, 4), 220.55483866313196, 223.39717487700523, 218.6100895146673, 219.7570037841797, 5873, 0], ['BSE', '519183', datetime.date(2025, 11, 6), 212.476634801405, 225.44164870824463, 212.476634801405, 223.5467529296875, 48208, 0], ['BSE', '519183', datetime.date(2025, 11, 7), 221.40254625976388, 232.47267965984173, 217.26372096406965, 231.22604370117188, 9969, 0], ['BSE', '519183', datetime.date(2025, 11, 10), 238.20721696576263, 238.20721696576263, 218.85941679034542, 220.85403442382812, 18960, 0], ['BSE', '519183', datetime.date(2025, 11, 11), 223.3971649758797, 223.79608239767552, 216.66533076343688, 219.65725708007812, 3200, 0], ['BSE', '519183', datetime.date(2025, 11, 12), 218.4604926655492, 223.3472996309489, 218.4604926655492, 222.34999084472656, 3749, 0], ['BSE', '519183', datetime.date(2025, 11, 13), 222.1999969482422, 222.60000610351562, 215.0, 216.3000030517578, 6259, 0], ['BSE', '519183', datetime.date(2025, 11, 14), 216.75, 217.5500030517578, 213.1999969482422, 214.0, 4196, 0], ['BSE', '519183', datetime.date(2025, 11, 17), 216.0500030517578, 224.35000610351562, 213.6999969482422, 219.8000030517578, 11313, 0], ['BSE', '519183', datetime.date(2025, 11, 18), 218.5, 218.60000610351562, 213.0, 213.39999389648438, 3364, 0], ['BSE', '519183', datetime.date(2025, 11, 19), 213.39999389648438, 216.5, 212.14999389648438, 212.85000610351562, 3905, 0], ['BSE', '519183', datetime.date(2025, 11, 20), 212.89999389648438, 216.0, 210.0, 210.5, 5876, 0], ['BSE', '519183', datetime.date(2025, 11, 21), 208.5500030517578, 210.10000610351562, 207.8000030517578, 209.5, 3123, 0], ['BSE', '519183', datetime.date(2025, 11, 24), 208.5500030517578, 210.35000610351562, 204.85000610351562, 205.39999389648438, 9342, 0], ['BSE', '519183', datetime.date(2025, 11, 25), 204.39999389648438, 205.0, 202.8000030517578, 203.8000030517578, 17568, 0], ['BSE', '519183', datetime.date(2025, 11, 26), 203.8000030517578, 211.0, 203.8000030517578, 210.9499969482422, 2291, 0], ['BSE', '519183', datetime.date(2025, 11, 28), 209.39999389648438, 212.85000610351562, 207.9499969482422, 209.14999389648438, 6255, 0]]
Row  3768  :  519183.BO  :  18  records inserted
[['NSE', 'ADFFOODS', datetime.date(2025, 11, 3), 218.9482048352073, 222.93742249997865, 217.67165639989307, 220.63365173339844, 101870, 0], ['NSE', 'ADFFOODS', datetime.date(2025, 11, 4), 221.30184556528064, 223.8948431543541, 218.2201785478216, 219.64633178710938, 49524, 0], ['NSE', 'ADFFOODS', datetime.date(2025, 11, 6), 215.41775344449363, 226.3881019995373, 214.42044903039874, 224.2239532470703, 228680, 0], ['NSE', 'ADFFOODS', datetime.date(2025, 11, 7), 221.9999715908726, 233.07004160265112, 216.4150607112608, 231.86331176757812, 368283, 0], ['NSE', 'ADFFOODS', datetime.date(2025, 11, 10), 236.95954750921126, 236.95954750921126, 218.50941486481, 220.17491149902344, 242870, 0], ['NSE', 'ADFFOODS', datetime.date(2025, 11, 11), 221.80049848248788, 224.39349607980657, 216.43501101312032, 218.31991577148438, 94828, 0], ['NSE', 'ADFFOODS', datetime.date(2025, 11, 12), 218.90832318662805, 223.2166856444808, 218.90832318662805, 221.989990234375, 66754, 0], ['NSE', 'ADFFOODS', datetime.date(2025, 11, 13), 223.1999969482422, 223.1999969482422, 214.5800018310547, 216.17999267578125, 132091, 0], ['NSE', 'ADFFOODS', datetime.date(2025, 11, 14), 216.17999267578125, 217.60000610351562, 212.6699981689453, 213.8000030517578, 91657, 0], ['NSE', 'ADFFOODS', datetime.date(2025, 11, 17), 214.8000030517578, 224.89999389648438, 213.3000030517578, 219.57000732421875, 365534, 0], ['NSE', 'ADFFOODS', datetime.date(2025, 11, 18), 219.0, 219.14999389648438, 213.00999450683594, 213.67999267578125, 92230, 0], ['NSE', 'ADFFOODS', datetime.date(2025, 11, 19), 214.1999969482422, 216.38999938964844, 211.67999267578125, 213.4499969482422, 106545, 0], ['NSE', 'ADFFOODS', datetime.date(2025, 11, 20), 213.4499969482422, 216.0800018310547, 209.9499969482422, 211.0500030517578, 108121, 0], ['NSE', 'ADFFOODS', datetime.date(2025, 11, 21), 210.0, 210.00999450683594, 208.0, 209.24000549316406, 65188, 0], ['NSE', 'ADFFOODS', datetime.date(2025, 11, 24), 208.99000549316406, 210.36000061035156, 204.5, 205.2100067138672, 44066, 0], ['NSE', 'ADFFOODS', datetime.date(2025, 11, 25), 205.2100067138672, 205.25, 202.0, 203.83999633789062, 62243, 0], ['NSE', 'ADFFOODS', datetime.date(2025, 11, 26), 204.89999389648438, 211.5, 204.75999450683594, 210.5500030517578, 59095, 0], ['NSE', 'ADFFOODS', datetime.date(2025, 11, 27), 210.00999450683594, 214.47000122070312, 207.9199981689453, 209.16000366210938, 95373, 0], ['NSE', 'ADFFOODS', datetime.date(2025, 11, 28), 208.1999969482422, 212.5, 208.0, 209.4499969482422, 138147, 0]]
Row  3769  :  ADFFOODS.NS  :  19  records inserted
[['BSE', '533162', datetime.date(2025, 11, 3), 13.84000015258789, 13.850000381469727, 13.710000038146973, 13.739999771118164, 65978, 0], ['BSE', '533162', datetime.date(2025, 11, 4), 13.649999618530273, 13.760000228881836, 13.609999656677246, 13.640000343322754, 39317, 0], ['BSE', '533162', datetime.date(2025, 11, 6), 13.670000076293945, 13.670000076293945, 13.300000190734863, 13.350000381469727, 106267, 0], ['BSE', '533162', datetime.date(2025, 11, 7), 13.229999542236328, 13.399999618530273, 13.149999618530273, 13.289999961853027, 83770, 0], ['BSE', '533162', datetime.date(2025, 11, 10), 13.390000343322754, 13.390000343322754, 13.229999542236328, 13.260000228881836, 68117, 0], ['BSE', '533162', datetime.date(2025, 11, 11), 13.229999542236328, 13.279999732971191, 13.149999618530273, 13.239999771118164, 51942, 0], ['BSE', '533162', datetime.date(2025, 11, 12), 13.029999732971191, 13.319999694824219, 13.029999732971191, 13.220000267028809, 110084, 0], ['BSE', '533162', datetime.date(2025, 11, 13), 13.15999984741211, 13.3100004196167, 13.15999984741211, 13.210000038146973, 51010, 0], ['BSE', '533162', datetime.date(2025, 11, 14), 13.199999809265137, 13.3100004196167, 13.119999885559082, 13.220000267028809, 41204, 0], ['BSE', '533162', datetime.date(2025, 11, 17), 13.220000267028809, 13.390000343322754, 13.1899995803833, 13.270000457763672, 88085, 0], ['BSE', '533162', datetime.date(2025, 11, 18), 13.270000457763672, 13.319999694824219, 13.149999618530273, 13.210000038146973, 77572, 0], ['BSE', '533162', datetime.date(2025, 11, 19), 13.199999809265137, 13.229999542236328, 13.119999885559082, 13.170000076293945, 92548, 0], ['BSE', '533162', datetime.date(2025, 11, 20), 13.199999809265137, 13.34000015258789, 13.180000305175781, 13.25, 186034, 0], ['BSE', '533162', datetime.date(2025, 11, 21), 13.25, 13.25, 13.020000457763672, 13.039999961853027, 66158, 0], ['BSE', '533162', datetime.date(2025, 11, 24), 13.020000457763672, 13.100000381469727, 11.5600004196167, 12.760000228881836, 456644, 0], ['BSE', '533162', datetime.date(2025, 11, 25), 12.520000457763672, 13.199999809265137, 12.449999809265137, 13.039999961853027, 122976, 0], ['BSE', '533162', datetime.date(2025, 11, 26), 13.050000190734863, 13.210000038146973, 12.979999542236328, 13.140000343322754, 186632, 0], ['BSE', '533162', datetime.date(2025, 11, 28), 12.880000114440918, 13.149999618530273, 12.880000114440918, 13.069999694824219, 82224, 0]]
Row  3770  :  533162.BO  :  18  records inserted
[['NSE', 'HATHWAY', datetime.date(2025, 11, 3), 13.8100004196167, 13.859999656677246, 13.699999809265137, 13.720000267028809, 1265697, 0], ['NSE', 'HATHWAY', datetime.date(2025, 11, 4), 13.739999771118164, 13.779999732971191, 13.609999656677246, 13.65999984741211, 1064669, 0], ['NSE', 'HATHWAY', datetime.date(2025, 11, 6), 13.649999618530273, 13.65999984741211, 13.25, 13.329999923706055, 2231991, 0], ['NSE', 'HATHWAY', datetime.date(2025, 11, 7), 13.199999809265137, 13.399999618530273, 13.149999618530273, 13.34000015258789, 1416842, 0], ['NSE', 'HATHWAY', datetime.date(2025, 11, 10), 13.350000381469727, 13.399999618530273, 13.180000305175781, 13.239999771118164, 910154, 0], ['NSE', 'HATHWAY', datetime.date(2025, 11, 11), 13.25, 13.260000228881836, 13.130000114440918, 13.220000267028809, 803929, 0], ['NSE', 'HATHWAY', datetime.date(2025, 11, 12), 13.199999809265137, 13.319999694824219, 13.180000305175781, 13.210000038146973, 870717, 0], ['NSE', 'HATHWAY', datetime.date(2025, 11, 13), 13.1899995803833, 13.329999923706055, 13.140000343322754, 13.1899995803833, 786444, 0], ['NSE', 'HATHWAY', datetime.date(2025, 11, 14), 13.15999984741211, 13.300000190734863, 13.109999656677246, 13.229999542236328, 960524, 0], ['NSE', 'HATHWAY', datetime.date(2025, 11, 17), 13.170000076293945, 13.390000343322754, 13.170000076293945, 13.289999961853027, 1507522, 0], ['NSE', 'HATHWAY', datetime.date(2025, 11, 18), 13.289999961853027, 13.369999885559082, 13.15999984741211, 13.199999809265137, 932424, 0], ['NSE', 'HATHWAY', datetime.date(2025, 11, 19), 13.149999618530273, 13.220000267028809, 13.109999656677246, 13.170000076293945, 1009937, 0], ['NSE', 'HATHWAY', datetime.date(2025, 11, 20), 13.25, 13.350000381469727, 13.1899995803833, 13.239999771118164, 1450293, 0], ['NSE', 'HATHWAY', datetime.date(2025, 11, 21), 13.25, 13.25, 13.010000228881836, 13.050000190734863, 895755, 0], ['NSE', 'HATHWAY', datetime.date(2025, 11, 24), 13.100000381469727, 13.100000381469727, 12.609999656677246, 12.75, 2039177, 0], ['NSE', 'HATHWAY', datetime.date(2025, 11, 25), 12.6899995803833, 13.489999771118164, 12.539999961853027, 13.029999732971191, 1985488, 0], ['NSE', 'HATHWAY', datetime.date(2025, 11, 26), 13.069999694824219, 13.25, 12.949999809265137, 13.119999885559082, 1559612, 0], ['NSE', 'HATHWAY', datetime.date(2025, 11, 27), 13.199999809265137, 13.260000228881836, 12.979999542236328, 13.0600004196167, 997049, 0], ['NSE', 'HATHWAY', datetime.date(2025, 11, 28), 13.109999656677246, 13.239999771118164, 12.949999809265137, 13.069999694824219, 999627, 0]]
Row  3771  :  HATHWAY.NS  :  19  records inserted
[['NSE', 'PAYTM', datetime.date(2025, 11, 3), 1300.0999755859375, 1307.0999755859375, 1263.5, 1274.800048828125, 2867142, 0], ['NSE', 'PAYTM', datetime.date(2025, 11, 4), 1275.0, 1284.9000244140625, 1260.0999755859375, 1268.0, 2055596, 0], ['NSE', 'PAYTM', datetime.date(2025, 11, 5), 1268.0, 1268.0, 1268.0, 1268.0, 0, 0], ['NSE', 'PAYTM', datetime.date(2025, 11, 6), 1310.0, 1333.800048828125, 1292.699951171875, 1320.5999755859375, 10267401, 0], ['NSE', 'PAYTM', datetime.date(2025, 11, 7), 1315.0, 1351.699951171875, 1302.800048828125, 1346.5, 5871932, 0], ['NSE', 'PAYTM', datetime.date(2025, 11, 10), 1340.0, 1353.800048828125, 1325.4000244140625, 1330.699951171875, 2677468, 0], ['NSE', 'PAYTM', datetime.date(2025, 11, 11), 1330.699951171875, 1345.0999755859375, 1317.199951171875, 1332.5999755859375, 2604486, 0], ['NSE', 'PAYTM', datetime.date(2025, 11, 12), 1332.5999755859375, 1341.9000244140625, 1300.199951171875, 1306.199951171875, 2274788, 0], ['NSE', 'PAYTM', datetime.date(2025, 11, 13), 1310.0, 1316.800048828125, 1298.5999755859375, 1307.5, 2141870, 0], ['NSE', 'PAYTM', datetime.date(2025, 11, 14), 1307.5, 1315.0, 1289.0, 1299.199951171875, 1913597, 0], ['NSE', 'PAYTM', datetime.date(2025, 11, 17), 1306.0999755859375, 1336.0, 1302.5999755859375, 1332.9000244140625, 2603235, 0], ['NSE', 'PAYTM', datetime.date(2025, 11, 18), 1314.0, 1333.9000244140625, 1290.5, 1295.5, 18480822, 0], ['NSE', 'PAYTM', datetime.date(2025, 11, 19), 1300.0, 1300.5, 1275.199951171875, 1282.5999755859375, 3729532, 0], ['NSE', 'PAYTM', datetime.date(2025, 11, 20), 1289.0, 1303.800048828125, 1280.5999755859375, 1283.9000244140625, 2760654, 0], ['NSE', 'PAYTM', datetime.date(2025, 11, 21), 1283.0, 1292.0, 1252.0, 1265.800048828125, 2793810, 0], ['NSE', 'PAYTM', datetime.date(2025, 11, 24), 1274.5999755859375, 1283.300048828125, 1248.9000244140625, 1260.699951171875, 52117312, 0], ['NSE', 'PAYTM', datetime.date(2025, 11, 25), 1266.699951171875, 1272.5999755859375, 1231.0, 1241.4000244140625, 3548352, 0], ['NSE', 'PAYTM', datetime.date(2025, 11, 26), 1250.0, 1288.9000244140625, 1245.0, 1286.5, 2425988, 0], ['NSE', 'PAYTM', datetime.date(2025, 11, 27), 1305.0, 1309.0999755859375, 1283.0, 1293.0999755859375, 3799617, 0], ['NSE', 'PAYTM', datetime.date(2025, 11, 28), 1308.0999755859375, 1338.800048828125, 1308.0999755859375, 1320.5999755859375, 6950734, 0]]
Row  3772  :  PAYTM.NS  :  20  records inserted
[['NSE', 'JETFREIGHT', datetime.date(2025, 11, 3), 12.25, 12.489999771118164, 12.119999885559082, 12.180000305175781, 35243, 0], ['NSE', 'JETFREIGHT', datetime.date(2025, 11, 4), 12.180000305175781, 12.789999961853027, 12.0, 12.430000305175781, 93451, 0], ['NSE', 'JETFREIGHT', datetime.date(2025, 11, 6), 12.84000015258789, 12.84000015258789, 12.300000190734863, 12.470000267028809, 40080, 0], ['NSE', 'JETFREIGHT', datetime.date(2025, 11, 7), 12.470000267028809, 12.75, 12.239999771118164, 12.470000267028809, 52675, 0], ['NSE', 'JETFREIGHT', datetime.date(2025, 11, 10), 12.470000267028809, 13.350000381469727, 12.25, 13.220000267028809, 142070, 0], ['NSE', 'JETFREIGHT', datetime.date(2025, 11, 11), 13.399999618530273, 13.399999618530273, 12.5, 13.15999984741211, 69551, 0], ['NSE', 'JETFREIGHT', datetime.date(2025, 11, 12), 13.170000076293945, 13.170000076293945, 12.989999771118164, 13.09000015258789, 30009, 0], ['NSE', 'JETFREIGHT', datetime.date(2025, 11, 13), 12.819999694824219, 14.800000190734863, 12.819999694824219, 14.399999618530273, 503098, 0], ['NSE', 'JETFREIGHT', datetime.date(2025, 11, 14), 14.180000305175781, 15.100000381469727, 14.15999984741211, 14.329999923706055, 192829, 0], ['NSE', 'JETFREIGHT', datetime.date(2025, 11, 17), 14.199999809265137, 14.930000305175781, 14.050000190734863, 14.390000343322754, 90865, 0], ['NSE', 'JETFREIGHT', datetime.date(2025, 11, 18), 14.460000038146973, 14.800000190734863, 14.050000190734863, 14.229999542236328, 102232, 0], ['NSE', 'JETFREIGHT', datetime.date(2025, 11, 19), 14.470000267028809, 14.470000267028809, 14.010000228881836, 14.270000457763672, 45795, 0], ['NSE', 'JETFREIGHT', datetime.date(2025, 11, 20), 14.199999809265137, 14.800000190734863, 14.199999809265137, 14.520000457763672, 114490, 0], ['NSE', 'JETFREIGHT', datetime.date(2025, 11, 21), 14.029999732971191, 15.0, 14.029999732971191, 14.520000457763672, 97252, 0], ['NSE', 'JETFREIGHT', datetime.date(2025, 11, 24), 14.699999809265137, 17.420000076293945, 14.550000190734863, 17.420000076293945, 2086296, 0], ['NSE', 'JETFREIGHT', datetime.date(2025, 11, 25), 19.5, 20.3799991607666, 17.559999465942383, 17.920000076293945, 3546818, 0], ['NSE', 'JETFREIGHT', datetime.date(2025, 11, 26), 18.0, 18.25, 16.700000762939453, 17.899999618530273, 609139, 0], ['NSE', 'JETFREIGHT', datetime.date(2025, 11, 27), 18.0, 20.18000030517578, 16.65999984741211, 18.670000076293945, 909983, 0], ['NSE', 'JETFREIGHT', datetime.date(2025, 11, 28), 18.959999084472656, 19.700000762939453, 18.200000762939453, 18.299999237060547, 268617, 0]]
Row  3773  :  JETFREIGHT.NS  :  19  records inserted

$523023.BO: possibly delisted; no timezone found

[['NSE', 'SINCLAIR', datetime.date(2025, 11, 3), 94.63999938964844, 95.0999984741211, 91.25, 92.86000061035156, 117873, 0], ['NSE', 'SINCLAIR', datetime.date(2025, 11, 4), 92.05000305175781, 93.88999938964844, 90.91000366210938, 91.18000030517578, 72480, 0], ['NSE', 'SINCLAIR', datetime.date(2025, 11, 5), 91.18000030517578, 91.18000030517578, 91.18000030517578, 91.18000030517578, 0, 0], ['NSE', 'SINCLAIR', datetime.date(2025, 11, 6), 90.19000244140625, 91.9800033569336, 89.0199966430664, 89.51000213623047, 66268, 0], ['NSE', 'SINCLAIR', datetime.date(2025, 11, 7), 89.51000213623047, 91.88999938964844, 88.5199966430664, 89.37999725341797, 33529, 0], ['NSE', 'SINCLAIR', datetime.date(2025, 11, 10), 91.18000030517578, 91.18000030517578, 86.55999755859375, 87.91999816894531, 58025, 0], ['NSE', 'SINCLAIR', datetime.date(2025, 11, 11), 84.0, 87.87999725341797, 84.0, 85.69000244140625, 84340, 0], ['NSE', 'SINCLAIR', datetime.date(2025, 11, 12), 85.69000244140625, 91.44000244140625, 85.69000244140625, 90.12999725341797, 68688, 0], ['NSE', 'SINCLAIR', datetime.date(2025, 11, 13), 91.25, 91.41000366210938, 89.12999725341797, 89.87999725341797, 66699, 0], ['NSE', 'SINCLAIR', datetime.date(2025, 11, 14), 90.16999816894531, 91.0, 89.0999984741211, 90.05999755859375, 47377, 0], ['NSE', 'SINCLAIR', datetime.date(2025, 11, 17), 90.55000305175781, 90.55000305175781, 87.0999984741211, 87.30999755859375, 44928, 0], ['NSE', 'SINCLAIR', datetime.date(2025, 11, 18), 87.66000366210938, 87.77999877929688, 86.04000091552734, 86.58000183105469, 47129, 0], ['NSE', 'SINCLAIR', datetime.date(2025, 11, 19), 86.58000183105469, 88.0, 86.0, 86.38999938964844, 17942, 0], ['NSE', 'SINCLAIR', datetime.date(2025, 11, 20), 86.38999938964844, 87.52999877929688, 85.26000213623047, 86.04000091552734, 22817, 0], ['NSE', 'SINCLAIR', datetime.date(2025, 11, 21), 86.04000091552734, 89.08000183105469, 85.8499984741211, 87.73999786376953, 44414, 0], ['NSE', 'SINCLAIR', datetime.date(2025, 11, 24), 87.73999786376953, 87.73999786376953, 84.0199966430664, 84.45999908447266, 60588, 0], ['NSE', 'SINCLAIR', datetime.date(2025, 11, 25), 84.45999908447266, 85.98999786376953, 84.0, 84.2699966430664, 24283, 0], ['NSE', 'SINCLAIR', datetime.date(2025, 11, 26), 84.30999755859375, 86.37999725341797, 84.0, 85.33999633789062, 53734, 0], ['NSE', 'SINCLAIR', datetime.date(2025, 11, 27), 85.33999633789062, 88.30000305175781, 84.0, 84.19000244140625, 99798, 0], ['NSE', 'SINCLAIR', datetime.date(2025, 11, 28), 84.19999694824219, 86.2300033569336, 84.19999694824219, 85.12999725341797, 17747, 0]]
Row  3775  :  SINCLAIR.NS  :  20  records inserted
[['BSE', '539658', datetime.date(2025, 11, 3), 1680.699951171875, 1706.5, 1678.300048828125, 1702.300048828125, 372, 0], ['BSE', '539658', datetime.date(2025, 11, 4), 1706.5, 1706.5, 1682.699951171875, 1685.75, 209, 0], ['BSE', '539658', datetime.date(2025, 11, 6), 1736.0, 1764.5, 1663.0, 1692.25, 2128, 0], ['BSE', '539658', datetime.date(2025, 11, 7), 1718.949951171875, 1739.800048828125, 1660.050048828125, 1722.6500244140625, 263, 0], ['BSE', '539658', datetime.date(2025, 11, 10), 1676.199951171875, 1744.699951171875, 1676.199951171875, 1725.0, 459, 0], ['BSE', '539658', datetime.date(2025, 11, 11), 1720.0, 1720.0, 1690.0, 1693.6500244140625, 186, 0], ['BSE', '539658', datetime.date(2025, 11, 12), 1849.0999755859375, 1849.0999755859375, 1685.0, 1698.800048828125, 389, 0], ['BSE', '539658', datetime.date(2025, 11, 13), 1710.0, 1710.0, 1675.0, 1679.800048828125, 400, 0], ['BSE', '539658', datetime.date(2025, 11, 14), 1690.0, 1725.0, 1684.199951171875, 1712.1500244140625, 435, 0], ['BSE', '539658', datetime.date(2025, 11, 17), 1720.0, 1720.0, 1686.949951171875, 1689.25, 376, 0], ['BSE', '539658', datetime.date(2025, 11, 18), 1687.050048828125, 1695.0, 1674.300048828125, 1682.9000244140625, 169, 0], ['BSE', '539658', datetime.date(2025, 11, 19), 1695.0, 1710.949951171875, 1680.3499755859375, 1708.0, 207, 0], ['BSE', '539658', datetime.date(2025, 11, 20), 1708.0, 1720.0, 1678.0, 1683.199951171875, 87, 0], ['BSE', '539658', datetime.date(2025, 11, 21), 1683.199951171875, 1705.0, 1655.0, 1659.699951171875, 312, 0], ['BSE', '539658', datetime.date(2025, 11, 24), 1691.0999755859375, 1873.0, 1635.050048828125, 1686.949951171875, 341760, 0], ['BSE', '539658', datetime.date(2025, 11, 25), 1693.949951171875, 1745.0, 1670.699951171875, 1695.5, 40122, 0], ['BSE', '539658', datetime.date(2025, 11, 26), 1700.050048828125, 1720.0, 1688.3499755859375, 1705.25, 3541, 0], ['BSE', '539658', datetime.date(2025, 11, 28), 1675.699951171875, 1683.199951171875, 1642.0999755859375, 1648.8499755859375, 1306, 0]]
Row  3776  :  539658.BO  :  18  records inserted
[['NSE', 'TEAMLEASE', datetime.date(2025, 11, 3), 1687.5, 1707.699951171875, 1675.4000244140625, 1702.0999755859375, 10021, 0], ['NSE', 'TEAMLEASE', datetime.date(2025, 11, 4), 1702.0999755859375, 1704.0999755859375, 1680.4000244140625, 1687.9000244140625, 5054, 0], ['NSE', 'TEAMLEASE', datetime.date(2025, 11, 6), 1736.0, 1768.0, 1661.0999755859375, 1692.5999755859375, 85842, 0], ['NSE', 'TEAMLEASE', datetime.date(2025, 11, 7), 1692.5999755859375, 1739.699951171875, 1661.0999755859375, 1729.0999755859375, 18115, 0], ['NSE', 'TEAMLEASE', datetime.date(2025, 11, 10), 1745.0, 1745.5, 1702.0, 1718.699951171875, 11278, 0], ['NSE', 'TEAMLEASE', datetime.date(2025, 11, 11), 1723.300048828125, 1723.300048828125, 1684.0, 1696.5, 6253, 0], ['NSE', 'TEAMLEASE', datetime.date(2025, 11, 12), 1705.0, 1726.5, 1685.0, 1698.9000244140625, 18984, 0], ['NSE', 'TEAMLEASE', datetime.date(2025, 11, 13), 1709.0999755859375, 1711.0, 1671.5999755859375, 1680.699951171875, 6847, 0], ['NSE', 'TEAMLEASE', datetime.date(2025, 11, 14), 1686.5999755859375, 1725.0, 1680.9000244140625, 1709.0, 6664, 0], ['NSE', 'TEAMLEASE', datetime.date(2025, 11, 17), 1720.0, 1720.0, 1676.0, 1686.199951171875, 10244, 0], ['NSE', 'TEAMLEASE', datetime.date(2025, 11, 18), 1690.5, 1698.0, 1672.0, 1692.9000244140625, 4778, 0], ['NSE', 'TEAMLEASE', datetime.date(2025, 11, 19), 1695.0, 1713.4000244140625, 1680.0, 1704.699951171875, 5759, 0], ['NSE', 'TEAMLEASE', datetime.date(2025, 11, 20), 1712.0, 1724.699951171875, 1674.9000244140625, 1679.800048828125, 4909, 0], ['NSE', 'TEAMLEASE', datetime.date(2025, 11, 21), 1694.5, 1703.0, 1652.0, 1657.9000244140625, 8695, 0], ['NSE', 'TEAMLEASE', datetime.date(2025, 11, 24), 1690.0, 1872.199951171875, 1630.0, 1686.5999755859375, 3450276, 0], ['NSE', 'TEAMLEASE', datetime.date(2025, 11, 25), 1690.0, 1750.0, 1671.0, 1695.699951171875, 467663, 0], ['NSE', 'TEAMLEASE', datetime.date(2025, 11, 26), 1709.300048828125, 1728.5, 1687.300048828125, 1707.0, 106854, 0], ['NSE', 'TEAMLEASE', datetime.date(2025, 11, 27), 1712.0, 1722.5999755859375, 1661.0, 1675.800048828125, 60737, 0], ['NSE', 'TEAMLEASE', datetime.date(2025, 11, 28), 1678.0, 1680.699951171875, 1640.0, 1647.300048828125, 31666, 0]]
Row  3777  :  TEAMLEASE.NS  :  19  records inserted
[['NSE', 'CREATIVE', datetime.date(2025, 11, 3), 698.9500122070312, 704.7000122070312, 675.3499755859375, 699.4500122070312, 35921, 0], ['NSE', 'CREATIVE', datetime.date(2025, 11, 4), 700.8499755859375, 719.5, 690.0499877929688, 715.9000244140625, 70788, 0], ['NSE', 'CREATIVE', datetime.date(2025, 11, 6), 715.2000122070312, 715.7000122070312, 675.0999755859375, 697.4500122070312, 26139, 0], ['NSE', 'CREATIVE', datetime.date(2025, 11, 7), 700.9500122070312, 701.5999755859375, 682.2000122070312, 696.0999755859375, 10830, 0], ['NSE', 'CREATIVE', datetime.date(2025, 11, 10), 707.0, 707.0, 683.3499755859375, 687.8499755859375, 32607, 0], ['NSE', 'CREATIVE', datetime.date(2025, 11, 11), 687.8499755859375, 699.7000122070312, 664.4500122070312, 693.3499755859375, 29490, 0], ['NSE', 'CREATIVE', datetime.date(2025, 11, 12), 723.0999755859375, 725.0, 676.3499755859375, 679.75, 33352, 0], ['NSE', 'CREATIVE', datetime.date(2025, 11, 13), 689.0, 699.5, 670.4500122070312, 682.3499755859375, 32401, 0], ['NSE', 'CREATIVE', datetime.date(2025, 11, 14), 685.0, 713.4500122070312, 676.5, 703.7999877929688, 32796, 0], ['NSE', 'CREATIVE', datetime.date(2025, 11, 17), 710.0, 714.4000244140625, 686.9500122070312, 704.2999877929688, 26007, 0], ['NSE', 'CREATIVE', datetime.date(2025, 11, 18), 710.0, 710.0, 685.3499755859375, 692.3499755859375, 9763, 0], ['NSE', 'CREATIVE', datetime.date(2025, 11, 19), 693.0499877929688, 699.5, 677.0, 694.0499877929688, 26111, 0], ['NSE', 'CREATIVE', datetime.date(2025, 11, 20), 686.1500244140625, 715.0, 686.1500244140625, 702.9500122070312, 12797, 0], ['NSE', 'CREATIVE', datetime.date(2025, 11, 21), 694.7000122070312, 697.25, 680.5499877929688, 685.4500122070312, 8250, 0], ['NSE', 'CREATIVE', datetime.date(2025, 11, 24), 692.0, 692.0, 675.3499755859375, 675.9500122070312, 4416, 0], ['NSE', 'CREATIVE', datetime.date(2025, 11, 25), 676.6500244140625, 704.0, 676.6500244140625, 692.8499755859375, 9439, 0], ['NSE', 'CREATIVE', datetime.date(2025, 11, 26), 677.0, 692.7000122070312, 677.0, 682.8499755859375, 7474, 0], ['NSE', 'CREATIVE', datetime.date(2025, 11, 27), 683.5499877929688, 689.9500122070312, 674.5999755859375, 677.4000244140625, 7311, 0], ['NSE', 'CREATIVE', datetime.date(2025, 11, 28), 681.4500122070312, 699.0, 677.5, 687.25, 3321, 0]]
Row  3778  :  CREATIVE.NS  :  19  records inserted
[['BSE', '524816', datetime.date(2025, 11, 3), 820.7142637438257, 831.9938320047482, 810.5326833687529, 829.59814453125, 63021, 0], ['BSE', '524816', datetime.date(2025, 11, 4), 823.5091801664884, 835.4874955143646, 817.4202275679296, 818.66796875, 18529, 0], ['BSE', '524816', datetime.date(2025, 11, 6), 822.4112391689337, 823.4094321714813, 797.2068658546061, 799.0036010742188, 88786, 0], ['BSE', '524816', datetime.date(2025, 11, 7), 799.8021077379917, 803.5453313311492, 793.7630525260035, 801.7485961914062, 24281, 0], ['BSE', '524816', datetime.date(2025, 11, 10), 807.4881988247258, 807.4881988247258, 791.5670090924339, 796.957275390625, 75482, 0], ['BSE', '524816', datetime.date(2025, 11, 11), 801.3991953553788, 801.3991953553788, 790.6686210114201, 791.4672241210938, 26380, 0], ['BSE', '524816', datetime.date(2025, 11, 12), 793.7131628136484, 827.2524221659042, 793.7131628136484, 821.7124633789062, 38398, 0], ['BSE', '524816', datetime.date(2025, 11, 13), 828.3504332108597, 832.5927534430926, 819.6662028871225, 824.5573120117188, 71682, 0], ['BSE', '524816', datetime.date(2025, 11, 14), 829.6481212950648, 829.6481212950648, 805.5916338758071, 813.6270751953125, 68621, 0], ['BSE', '524816', datetime.date(2025, 11, 17), 812.4791821990887, 824.4076004061374, 803.595240373371, 819.017333984375, 73485, 0], ['BSE', '524816', datetime.date(2025, 11, 18), 819.9157073225016, 823.2596293098626, 811.0317657644903, 812.4292602539062, 16975, 0], ['BSE', '524816', datetime.date(2025, 11, 19), 813.8766290019726, 846.4177569899259, 810.6824601778858, 828.5999755859375, 103103, 0], ['BSE', '524816', datetime.date(2025, 11, 20), 830.1500244140625, 887.5999755859375, 828.4500122070312, 869.2999877929688, 323055, 0], ['BSE', '524816', datetime.date(2025, 11, 21), 869.2999877929688, 872.0499877929688, 857.0, 864.4000244140625, 67476, 0], ['BSE', '524816', datetime.date(2025, 11, 24), 853.0, 864.0, 837.9000244140625, 842.0499877929688, 43189, 0], ['BSE', '524816', datetime.date(2025, 11, 25), 835.5999755859375, 850.25, 827.3499755859375, 833.9500122070312, 64950, 0], ['BSE', '524816', datetime.date(2025, 11, 26), 831.3499755859375, 937.0, 831.3499755859375, 926.9000244140625, 1611356, 0], ['BSE', '524816', datetime.date(2025, 11, 28), 888.5499877929688, 900.0, 868.75, 878.2999877929688, 108094, 0]]
Row  3779  :  524816.BO  :  18  records inserted
[['NSE', 'NATCOPHARM', datetime.date(2025, 11, 3), 818.4185430602861, 831.9939447839936, 808.4366121090684, 829.99755859375, 480835, 0], ['NSE', 'NATCOPHARM', datetime.date(2025, 11, 4), 823.609105100522, 835.6872782044607, 817.3205007351825, 818.3685913085938, 352816, 0], ['NSE', 'NATCOPHARM', datetime.date(2025, 11, 5), 818.3685913085938, 818.3685913085938, 818.3685913085938, 818.3685913085938, 0, 0], ['NSE', 'NATCOPHARM', datetime.date(2025, 11, 6), 825.206260675298, 825.206260675298, 793.7631775406117, 799.0535888671875, 666933, 0], ['NSE', 'NATCOPHARM', datetime.date(2025, 11, 7), 801.4991258176037, 803.5454093956872, 793.6632737797554, 801.0499267578125, 384061, 0], ['NSE', 'NATCOPHARM', datetime.date(2025, 11, 10), 806.6398119736147, 806.6398119736147, 791.6669156177757, 797.3566284179688, 374592, 0], ['NSE', 'NATCOPHARM', datetime.date(2025, 11, 11), 799.4528590543885, 801.7985884133808, 790.6188137755839, 791.5172119140625, 315001, 0], ['NSE', 'NATCOPHARM', datetime.date(2025, 11, 12), 795.9592055020506, 827.5020832186009, 795.7595546962756, 820.8640747070312, 896956, 0], ['NSE', 'NATCOPHARM', datetime.date(2025, 11, 13), 826.5038593662568, 830.4467341653573, 819.6662612281627, 824.6572265625, 457469, 0], ['NSE', 'NATCOPHARM', datetime.date(2025, 11, 14), 826.4040852787741, 828.5002664021322, 805.5418252849647, 811.181640625, 974189, 0], ['NSE', 'NATCOPHARM', datetime.date(2025, 11, 17), 811.1816548926118, 824.4077135949133, 804.1443447299799, 819.416748046875, 519967, 0], ['NSE', 'NATCOPHARM', datetime.date(2025, 11, 18), 820.4648394233717, 823.409521284547, 810.6326007292691, 813.0781860351562, 284672, 0], ['NSE', 'NATCOPHARM', datetime.date(2025, 11, 19), 816.5219539072277, 846.4677468378106, 809.9339038324481, 828.6500244140625, 2313933, 0], ['NSE', 'NATCOPHARM', datetime.date(2025, 11, 20), 831.7000122070312, 887.6500244140625, 828.2999877929688, 869.2999877929688, 7751429, 0], ['NSE', 'NATCOPHARM', datetime.date(2025, 11, 21), 869.0, 872.9000244140625, 857.0, 864.7999877929688, 731845, 0], ['NSE', 'NATCOPHARM', datetime.date(2025, 11, 24), 855.5, 864.0999755859375, 837.3499755859375, 841.25, 977040, 0], ['NSE', 'NATCOPHARM', datetime.date(2025, 11, 25), 841.25, 850.9500122070312, 826.9500122070312, 834.0, 465131, 0], ['NSE', 'NATCOPHARM', datetime.date(2025, 11, 26), 834.0, 938.1500244140625, 834.0, 927.4000244140625, 19483069, 0], ['NSE', 'NATCOPHARM', datetime.date(2025, 11, 27), 927.0, 934.5, 876.0, 882.75, 5461313, 0], ['NSE', 'NATCOPHARM', datetime.date(2025, 11, 28), 887.0999755859375, 900.9000244140625, 869.25, 877.25, 2143680, 0]]
Row  3780  :  NATCOPHARM.NS  :  20  records inserted
[['BSE', '507442', datetime.date(2025, 11, 3), 8.630000114440918, 8.630000114440918, 8.630000114440918, 8.630000114440918, 0, 0], ['BSE', '507442', datetime.date(2025, 11, 4), 8.630000114440918, 8.630000114440918, 8.630000114440918, 8.630000114440918, 0, 0], ['BSE', '507442', datetime.date(2025, 11, 5), 8.630000114440918, 8.630000114440918, 8.630000114440918, 8.630000114440918, 0, 0], ['BSE', '507442', datetime.date(2025, 11, 6), 8.630000114440918, 8.630000114440918, 8.630000114440918, 8.630000114440918, 0, 0], ['BSE', '507442', datetime.date(2025, 11, 7), 8.630000114440918, 8.630000114440918, 8.630000114440918, 8.630000114440918, 0, 0], ['BSE', '507442', datetime.date(2025, 11, 10), 8.630000114440918, 8.630000114440918, 8.630000114440918, 8.630000114440918, 0, 0], ['BSE', '507442', datetime.date(2025, 11, 11), 8.630000114440918, 8.630000114440918, 8.630000114440918, 8.630000114440918, 0, 0], ['BSE', '507442', datetime.date(2025, 11, 12), 8.630000114440918, 8.630000114440918, 8.630000114440918, 8.630000114440918, 0, 0], ['BSE', '507442', datetime.date(2025, 11, 13), 8.630000114440918, 8.630000114440918, 8.630000114440918, 8.630000114440918, 0, 0], ['BSE', '507442', datetime.date(2025, 11, 14), 8.630000114440918, 8.630000114440918, 8.630000114440918, 8.630000114440918, 0, 0], ['BSE', '507442', datetime.date(2025, 11, 17), 8.630000114440918, 8.630000114440918, 8.630000114440918, 8.630000114440918, 0, 0], ['BSE', '507442', datetime.date(2025, 11, 18), 8.630000114440918, 8.630000114440918, 8.630000114440918, 8.630000114440918, 0, 0], ['BSE', '507442', datetime.date(2025, 11, 19), 8.630000114440918, 8.630000114440918, 8.630000114440918, 8.630000114440918, 0, 0], ['BSE', '507442', datetime.date(2025, 11, 20), 8.630000114440918, 8.630000114440918, 8.630000114440918, 8.630000114440918, 0, 0], ['BSE', '507442', datetime.date(2025, 11, 21), 8.630000114440918, 8.630000114440918, 8.630000114440918, 8.630000114440918, 0, 0], ['BSE', '507442', datetime.date(2025, 11, 24), 8.630000114440918, 8.630000114440918, 8.630000114440918, 8.630000114440918, 0, 0], ['BSE', '507442', datetime.date(2025, 11, 25), 8.630000114440918, 8.630000114440918, 8.630000114440918, 8.630000114440918, 0, 0], ['BSE', '507442', datetime.date(2025, 11, 26), 8.630000114440918, 8.630000114440918, 8.630000114440918, 8.630000114440918, 0, 0], ['BSE', '507442', datetime.date(2025, 11, 28), 8.630000114440918, 8.630000114440918, 8.630000114440918, 8.630000114440918, 0, 0]]
Row  3781  :  507442.BO  :  19  records inserted
[['NSE', 'DHARSUGAR', datetime.date(2025, 11, 3), 8.550000190734863, 8.550000190734863, 8.550000190734863, 8.550000190734863, 0, 0], ['NSE', 'DHARSUGAR', datetime.date(2025, 11, 4), 8.550000190734863, 8.550000190734863, 8.550000190734863, 8.550000190734863, 0, 0], ['NSE', 'DHARSUGAR', datetime.date(2025, 11, 5), 8.550000190734863, 8.550000190734863, 8.550000190734863, 8.550000190734863, 0, 0], ['NSE', 'DHARSUGAR', datetime.date(2025, 11, 6), 8.550000190734863, 8.550000190734863, 8.550000190734863, 8.550000190734863, 0, 0], ['NSE', 'DHARSUGAR', datetime.date(2025, 11, 7), 8.550000190734863, 8.550000190734863, 8.550000190734863, 8.550000190734863, 0, 0], ['NSE', 'DHARSUGAR', datetime.date(2025, 11, 10), 8.550000190734863, 8.550000190734863, 8.550000190734863, 8.550000190734863, 0, 0], ['NSE', 'DHARSUGAR', datetime.date(2025, 11, 11), 8.550000190734863, 8.550000190734863, 8.550000190734863, 8.550000190734863, 0, 0], ['NSE', 'DHARSUGAR', datetime.date(2025, 11, 12), 8.550000190734863, 8.550000190734863, 8.550000190734863, 8.550000190734863, 0, 0], ['NSE', 'DHARSUGAR', datetime.date(2025, 11, 13), 8.550000190734863, 8.550000190734863, 8.550000190734863, 8.550000190734863, 0, 0], ['NSE', 'DHARSUGAR', datetime.date(2025, 11, 14), 8.550000190734863, 8.550000190734863, 8.550000190734863, 8.550000190734863, 0, 0], ['NSE', 'DHARSUGAR', datetime.date(2025, 11, 17), 8.550000190734863, 8.550000190734863, 8.550000190734863, 8.550000190734863, 0, 0], ['NSE', 'DHARSUGAR', datetime.date(2025, 11, 18), 8.550000190734863, 8.550000190734863, 8.550000190734863, 8.550000190734863, 0, 0], ['NSE', 'DHARSUGAR', datetime.date(2025, 11, 19), 8.550000190734863, 8.550000190734863, 8.550000190734863, 8.550000190734863, 0, 0], ['NSE', 'DHARSUGAR', datetime.date(2025, 11, 20), 8.550000190734863, 8.550000190734863, 8.550000190734863, 8.550000190734863, 0, 0], ['NSE', 'DHARSUGAR', datetime.date(2025, 11, 21), 8.550000190734863, 8.550000190734863, 8.550000190734863, 8.550000190734863, 0, 0], ['NSE', 'DHARSUGAR', datetime.date(2025, 11, 24), 8.550000190734863, 8.550000190734863, 8.550000190734863, 8.550000190734863, 0, 0], ['NSE', 'DHARSUGAR', datetime.date(2025, 11, 25), 8.550000190734863, 8.550000190734863, 8.550000190734863, 8.550000190734863, 0, 0], ['NSE', 'DHARSUGAR', datetime.date(2025, 11, 26), 8.550000190734863, 8.550000190734863, 8.550000190734863, 8.550000190734863, 0, 0], ['NSE', 'DHARSUGAR', datetime.date(2025, 11, 27), 8.550000190734863, 8.550000190734863, 8.550000190734863, 8.550000190734863, 0, 0], ['NSE', 'DHARSUGAR', datetime.date(2025, 11, 28), 8.550000190734863, 8.550000190734863, 8.550000190734863, 8.550000190734863, 0, 0]]
Row  3782  :  DHARSUGAR.NS  :  20  records inserted

$EQUITAS.NS: possibly delisted; no timezone found

[['NSE', 'PARKHOTELS', datetime.date(2025, 11, 3), 151.99000549316406, 152.5, 149.3000030517578, 151.16000366210938, 224371, 0], ['NSE', 'PARKHOTELS', datetime.date(2025, 11, 4), 151.0, 151.2899932861328, 147.52000427246094, 148.22999572753906, 343752, 0], ['NSE', 'PARKHOTELS', datetime.date(2025, 11, 5), 148.22999572753906, 148.22999572753906, 148.22999572753906, 148.22999572753906, 0, 0], ['NSE', 'PARKHOTELS', datetime.date(2025, 11, 6), 148.89999389648438, 148.89999389648438, 144.89999389648438, 145.1699981689453, 315498, 0], ['NSE', 'PARKHOTELS', datetime.date(2025, 11, 7), 144.39999389648438, 149.89999389648438, 144.10000610351562, 148.02000427246094, 297078, 0], ['NSE', 'PARKHOTELS', datetime.date(2025, 11, 10), 148.6999969482422, 151.08999633789062, 142.25, 144.61000061035156, 444482, 0], ['NSE', 'PARKHOTELS', datetime.date(2025, 11, 11), 142.4600067138672, 146.80999755859375, 142.4600067138672, 143.75, 482116, 0], ['NSE', 'PARKHOTELS', datetime.date(2025, 11, 12), 142.10000610351562, 142.80999755859375, 138.1999969482422, 139.97000122070312, 681894, 0], ['NSE', 'PARKHOTELS', datetime.date(2025, 11, 13), 140.89999389648438, 143.88999938964844, 139.97000122070312, 143.0500030517578, 275457, 0], ['NSE', 'PARKHOTELS', datetime.date(2025, 11, 14), 143.8800048828125, 143.8800048828125, 141.0500030517578, 141.6999969482422, 312840, 0], ['NSE', 'PARKHOTELS', datetime.date(2025, 11, 17), 141.35000610351562, 144.0, 141.0, 142.13999938964844, 721171, 0], ['NSE', 'PARKHOTELS', datetime.date(2025, 11, 18), 141.86000061035156, 143.10000610351562, 140.5, 141.86000061035156, 160791, 0], ['NSE', 'PARKHOTELS', datetime.date(2025, 11, 19), 141.89999389648438, 141.89999389648438, 139.66000366210938, 141.0500030517578, 196170, 0], ['NSE', 'PARKHOTELS', datetime.date(2025, 11, 20), 141.7899932861328, 141.7899932861328, 139.35000610351562, 139.6699981689453, 160773, 0], ['NSE', 'PARKHOTELS', datetime.date(2025, 11, 21), 139.64999389648438, 140.85000610351562, 138.39999389648438, 138.6999969482422, 167182, 0], ['NSE', 'PARKHOTELS', datetime.date(2025, 11, 24), 139.97999572753906, 140.0, 136.0500030517578, 136.64999389648438, 235341, 0], ['NSE', 'PARKHOTELS', datetime.date(2025, 11, 25), 136.97999572753906, 139.14999389648438, 135.60000610351562, 137.27999877929688, 193484, 0], ['NSE', 'PARKHOTELS', datetime.date(2025, 11, 26), 139.0800018310547, 139.39999389648438, 135.9499969482422, 136.6999969482422, 340699, 0], ['NSE', 'PARKHOTELS', datetime.date(2025, 11, 27), 137.58999633789062, 139.60000610351562, 136.75, 137.69000244140625, 292651, 0], ['NSE', 'PARKHOTELS', datetime.date(2025, 11, 28), 139.5, 139.5, 137.1699981689453, 138.25, 318269, 0]]
Row  3784  :  PARKHOTELS.NS  :  20  records inserted
[['BSE', '530073', datetime.date(2025, 11, 3), 398.45001220703125, 407.95001220703125, 395.75, 403.8999938964844, 15493, 0], ['BSE', '530073', datetime.date(2025, 11, 4), 404.45001220703125, 406.0, 394.5, 395.8500061035156, 14444, 0], ['BSE', '530073', datetime.date(2025, 11, 6), 404.95001220703125, 404.95001220703125, 369.0, 370.45001220703125, 21647, 0], ['BSE', '530073', datetime.date(2025, 11, 7), 368.0, 394.0, 368.0, 380.5, 115526, 0], ['BSE', '530073', datetime.date(2025, 11, 10), 369.1000061035156, 378.54998779296875, 347.3999938964844, 350.20001220703125, 50702, 0], ['BSE', '530073', datetime.date(2025, 11, 11), 350.3999938964844, 357.6499938964844, 343.0, 355.79998779296875, 29015, 0], ['BSE', '530073', datetime.date(2025, 11, 12), 353.20001220703125, 373.75, 353.20001220703125, 365.8500061035156, 16769, 0], ['BSE', '530073', datetime.date(2025, 11, 13), 367.45001220703125, 375.70001220703125, 362.25, 363.8500061035156, 23364, 0], ['BSE', '530073', datetime.date(2025, 11, 14), 360.6000061035156, 375.29998779296875, 357.3999938964844, 369.6499938964844, 27114, 0], ['BSE', '530073', datetime.date(2025, 11, 17), 370.3500061035156, 373.75, 363.70001220703125, 364.6499938964844, 8849, 0], ['BSE', '530073', datetime.date(2025, 11, 18), 365.0, 365.0, 357.3999938964844, 358.5, 23463, 0], ['BSE', '530073', datetime.date(2025, 11, 19), 358.5, 359.54998779296875, 342.6000061035156, 343.95001220703125, 13486, 0], ['BSE', '530073', datetime.date(2025, 11, 20), 342.6499938964844, 354.8500061035156, 342.6499938964844, 349.1499938964844, 10178, 0], ['BSE', '530073', datetime.date(2025, 11, 21), 346.6000061035156, 348.3999938964844, 340.6000061035156, 342.3500061035156, 29575, 0], ['BSE', '530073', datetime.date(2025, 11, 24), 341.8500061035156, 341.8500061035156, 324.25, 325.3500061035156, 14906, 0], ['BSE', '530073', datetime.date(2025, 11, 25), 325.3500061035156, 342.45001220703125, 324.1000061035156, 340.1499938964844, 53440, 0], ['BSE', '530073', datetime.date(2025, 11, 26), 340.20001220703125, 346.20001220703125, 339.0, 344.6499938964844, 12883, 0], ['BSE', '530073', datetime.date(2025, 11, 28), 341.20001220703125, 342.45001220703125, 331.79998779296875, 333.75, 11960, 0]]
Row  3785  :  530073.BO  :  18  records inserted
[['NSE', 'SANGHVIMOV', datetime.date(2025, 11, 3), 398.1000061035156, 407.70001220703125, 395.29998779296875, 403.3999938964844, 393342, 0], ['NSE', 'SANGHVIMOV', datetime.date(2025, 11, 4), 404.0, 406.0, 393.95001220703125, 395.54998779296875, 225995, 0], ['NSE', 'SANGHVIMOV', datetime.date(2025, 11, 5), 395.54998779296875, 395.54998779296875, 395.54998779296875, 395.54998779296875, 0, 0], ['NSE', 'SANGHVIMOV', datetime.date(2025, 11, 6), 396.0, 397.1499938964844, 368.29998779296875, 370.25, 341762, 0], ['NSE', 'SANGHVIMOV', datetime.date(2025, 11, 7), 370.25, 394.20001220703125, 366.0, 378.54998779296875, 711338, 0], ['NSE', 'SANGHVIMOV', datetime.date(2025, 11, 10), 370.0, 378.95001220703125, 347.29998779296875, 350.70001220703125, 959784, 0], ['NSE', 'SANGHVIMOV', datetime.date(2025, 11, 11), 350.1000061035156, 357.8999938964844, 343.20001220703125, 355.3500061035156, 378861, 0], ['NSE', 'SANGHVIMOV', datetime.date(2025, 11, 12), 355.3999938964844, 373.1000061035156, 355.29998779296875, 365.79998779296875, 407180, 0], ['NSE', 'SANGHVIMOV', datetime.date(2025, 11, 13), 366.8999938964844, 376.29998779296875, 362.1000061035156, 363.3999938964844, 310514, 0], ['NSE', 'SANGHVIMOV', datetime.date(2025, 11, 14), 363.29998779296875, 375.70001220703125, 357.1000061035156, 368.8500061035156, 390147, 0], ['NSE', 'SANGHVIMOV', datetime.date(2025, 11, 17), 369.95001220703125, 374.5, 363.1000061035156, 364.75, 241720, 0], ['NSE', 'SANGHVIMOV', datetime.date(2025, 11, 18), 367.45001220703125, 367.45001220703125, 357.1000061035156, 358.54998779296875, 151210, 0], ['NSE', 'SANGHVIMOV', datetime.date(2025, 11, 19), 356.70001220703125, 359.45001220703125, 342.6499938964844, 344.3500061035156, 355308, 0], ['NSE', 'SANGHVIMOV', datetime.date(2025, 11, 20), 344.0, 355.0, 343.3999938964844, 349.25, 231556, 0], ['NSE', 'SANGHVIMOV', datetime.date(2025, 11, 21), 346.1000061035156, 348.20001220703125, 340.70001220703125, 343.0, 180993, 0], ['NSE', 'SANGHVIMOV', datetime.date(2025, 11, 24), 341.6499938964844, 343.0, 323.29998779296875, 325.5, 357833, 0], ['NSE', 'SANGHVIMOV', datetime.date(2025, 11, 25), 325.0, 342.79998779296875, 322.0, 340.45001220703125, 303702, 0], ['NSE', 'SANGHVIMOV', datetime.date(2025, 11, 26), 342.95001220703125, 346.79998779296875, 337.04998779296875, 343.95001220703125, 158976, 0], ['NSE', 'SANGHVIMOV', datetime.date(2025, 11, 27), 343.95001220703125, 349.75, 338.3500061035156, 341.8999938964844, 147536, 0], ['NSE', 'SANGHVIMOV', datetime.date(2025, 11, 28), 340.1000061035156, 342.8999938964844, 330.8500061035156, 332.79998779296875, 214361, 0]]
Row  3786  :  SANGHVIMOV.NS  :  20  records inserted
[['NSE', 'DIACABS', datetime.date(2025, 11, 3), 152.5, 155.17999267578125, 151.0, 153.92999267578125, 950142, 0], ['NSE', 'DIACABS', datetime.date(2025, 11, 4), 155.7899932861328, 160.99000549316406, 154.07000732421875, 155.6999969482422, 2742290, 0], ['NSE', 'DIACABS', datetime.date(2025, 11, 5), 155.6999969482422, 155.6999969482422, 155.6999969482422, 155.6999969482422, 0, 0], ['NSE', 'DIACABS', datetime.date(2025, 11, 6), 155.97000122070312, 158.97999572753906, 148.17999267578125, 149.11000061035156, 2963302, 0], ['NSE', 'DIACABS', datetime.date(2025, 11, 7), 149.14999389648438, 153.0, 147.10000610351562, 152.0399932861328, 944141, 0], ['NSE', 'DIACABS', datetime.date(2025, 11, 10), 151.5, 151.60000610351562, 146.57000732421875, 147.38999938964844, 1137326, 0], ['NSE', 'DIACABS', datetime.date(2025, 11, 11), 148.5, 152.0500030517578, 144.69000244140625, 146.64999389648438, 1879078, 0], ['NSE', 'DIACABS', datetime.date(2025, 11, 12), 146.89999389648438, 148.61000061035156, 145.49000549316406, 147.30999755859375, 710519, 0], ['NSE', 'DIACABS', datetime.date(2025, 11, 13), 147.30999755859375, 154.89999389648438, 146.30999755859375, 150.6999969482422, 1625694, 0], ['NSE', 'DIACABS', datetime.date(2025, 11, 14), 151.5500030517578, 152.6300048828125, 148.14999389648438, 150.7100067138672, 615758, 0], ['NSE', 'DIACABS', datetime.date(2025, 11, 17), 150.7100067138672, 155.0, 150.1199951171875, 151.02000427246094, 782351, 0], ['NSE', 'DIACABS', datetime.date(2025, 11, 18), 153.99000549316406, 153.99000549316406, 147.0, 147.94000244140625, 855344, 0], ['NSE', 'DIACABS', datetime.date(2025, 11, 19), 148.49000549316406, 153.6999969482422, 146.10000610351562, 152.4600067138672, 1310655, 0], ['NSE', 'DIACABS', datetime.date(2025, 11, 20), 153.0, 153.2899932861328, 147.3800048828125, 148.3699951171875, 788437, 0], ['NSE', 'DIACABS', datetime.date(2025, 11, 21), 147.5500030517578, 148.82000732421875, 142.74000549316406, 144.86000061035156, 1094615, 0], ['NSE', 'DIACABS', datetime.date(2025, 11, 24), 144.5, 145.47000122070312, 139.6699981689453, 140.75, 1327188, 0], ['NSE', 'DIACABS', datetime.date(2025, 11, 25), 145.0, 145.0, 138.02000427246094, 140.11000061035156, 2248346, 0], ['NSE', 'DIACABS', datetime.date(2025, 11, 26), 140.3000030517578, 144.47999572753906, 139.50999450683594, 141.6699981689453, 1086644, 0], ['NSE', 'DIACABS', datetime.date(2025, 11, 27), 142.13999938964844, 143.0, 139.5, 142.17999267578125, 1352099, 0], ['NSE', 'DIACABS', datetime.date(2025, 11, 28), 142.8000030517578, 152.60000610351562, 141.24000549316406, 150.1199951171875, 3792880, 0]]
Row  3787  :  DIACABS.NS  :  20  records inserted
[['NSE', 'ASPINWALL', datetime.date(2025, 11, 3), 263.45001220703125, 272.8500061035156, 258.0, 271.5, 2473, 0], ['NSE', 'ASPINWALL', datetime.date(2025, 11, 4), 271.5, 271.5, 260.25, 262.54998779296875, 2454, 0], ['NSE', 'ASPINWALL', datetime.date(2025, 11, 6), 262.54998779296875, 266.95001220703125, 254.0, 256.45001220703125, 1276, 0], ['NSE', 'ASPINWALL', datetime.date(2025, 11, 7), 256.5, 258.8999938964844, 250.1999969482422, 255.0, 2599, 0], ['NSE', 'ASPINWALL', datetime.date(2025, 11, 10), 258.0, 260.0, 250.8000030517578, 253.1999969482422, 579, 0], ['NSE', 'ASPINWALL', datetime.date(2025, 11, 11), 253.1999969482422, 255.0, 251.5, 251.8000030517578, 447, 0], ['NSE', 'ASPINWALL', datetime.date(2025, 11, 12), 251.8000030517578, 256.75, 251.60000610351562, 255.64999389648438, 459, 0], ['NSE', 'ASPINWALL', datetime.date(2025, 11, 13), 256.3500061035156, 259.75, 251.5, 252.4499969482422, 713, 0], ['NSE', 'ASPINWALL', datetime.date(2025, 11, 14), 250.0, 254.5, 250.0, 252.10000610351562, 1173, 0], ['NSE', 'ASPINWALL', datetime.date(2025, 11, 17), 251.5, 284.0, 251.5, 268.70001220703125, 26160, 0], ['NSE', 'ASPINWALL', datetime.date(2025, 11, 18), 268.70001220703125, 271.95001220703125, 263.1000061035156, 264.54998779296875, 1287, 0], ['NSE', 'ASPINWALL', datetime.date(2025, 11, 19), 263.0, 263.04998779296875, 247.4499969482422, 252.35000610351562, 4757, 0], ['NSE', 'ASPINWALL', datetime.date(2025, 11, 20), 260.25, 260.75, 256.3999938964844, 259.1499938964844, 2636, 0], ['NSE', 'ASPINWALL', datetime.date(2025, 11, 21), 259.0, 259.0, 251.0500030517578, 254.85000610351562, 401, 0], ['NSE', 'ASPINWALL', datetime.date(2025, 11, 24), 262.8999938964844, 262.8999938964844, 251.39999389648438, 251.4499969482422, 1610, 0], ['NSE', 'ASPINWALL', datetime.date(2025, 11, 25), 251.4499969482422, 253.0, 244.1999969482422, 246.64999389648438, 2699, 0], ['NSE', 'ASPINWALL', datetime.date(2025, 11, 26), 246.6999969482422, 259.95001220703125, 245.1999969482422, 245.75, 6074, 0], ['NSE', 'ASPINWALL', datetime.date(2025, 11, 27), 245.3000030517578, 252.9499969482422, 240.4499969482422, 243.14999389648438, 6702, 0], ['NSE', 'ASPINWALL', datetime.date(2025, 11, 28), 249.4499969482422, 249.9499969482422, 244.0500030517578, 244.60000610351562, 4713, 0]]
Row  3788  :  ASPINWALL.NS  :  19  records inserted

$512381.BO: possibly delisted; no timezone found

[['NSE', 'STARTECK', datetime.date(2025, 11, 3), 311.04998779296875, 311.1499938964844, 295.95001220703125, 299.1000061035156, 21071, 0], ['NSE', 'STARTECK', datetime.date(2025, 11, 4), 293.04998779296875, 305.0, 293.04998779296875, 298.29998779296875, 8441, 0], ['NSE', 'STARTECK', datetime.date(2025, 11, 6), 297.04998779296875, 303.0, 296.04998779296875, 300.0, 23416, 0], ['NSE', 'STARTECK', datetime.date(2025, 11, 7), 300.04998779296875, 305.3500061035156, 298.6000061035156, 302.0, 29853, 0], ['NSE', 'STARTECK', datetime.date(2025, 11, 10), 298.04998779296875, 308.79998779296875, 294.95001220703125, 301.6000061035156, 18945, 0], ['NSE', 'STARTECK', datetime.date(2025, 11, 11), 305.04998779296875, 308.3500061035156, 298.3500061035156, 302.6000061035156, 31214, 0], ['NSE', 'STARTECK', datetime.date(2025, 11, 12), 302.6000061035156, 305.04998779296875, 298.0, 299.3999938964844, 22895, 0], ['NSE', 'STARTECK', datetime.date(2025, 11, 13), 299.79998779296875, 315.0, 299.1000061035156, 304.45001220703125, 24051, 0], ['NSE', 'STARTECK', datetime.date(2025, 11, 14), 308.04998779296875, 308.1000061035156, 290.0, 299.6499938964844, 15431, 0], ['NSE', 'STARTECK', datetime.date(2025, 11, 17), 301.1499938964844, 301.8999938964844, 295.0, 299.6499938964844, 9953, 0], ['NSE', 'STARTECK', datetime.date(2025, 11, 18), 301.0, 308.04998779296875, 295.25, 298.0, 1000, 0], ['NSE', 'STARTECK', datetime.date(2025, 11, 19), 305.04998779296875, 308.0, 298.0, 300.5, 302, 0], ['NSE', 'STARTECK', datetime.date(2025, 11, 20), 300.04998779296875, 302.20001220703125, 290.29998779296875, 297.20001220703125, 420, 0], ['NSE', 'STARTECK', datetime.date(2025, 11, 21), 302.04998779296875, 302.1000061035156, 296.1000061035156, 297.3999938964844, 15883, 0], ['NSE', 'STARTECK', datetime.date(2025, 11, 24), 305.0, 305.0, 295.8999938964844, 298.1499938964844, 7978, 0], ['NSE', 'STARTECK', datetime.date(2025, 11, 25), 305.1499938964844, 306.8999938964844, 293.6000061035156, 294.1000061035156, 8304, 0], ['NSE', 'STARTECK', datetime.date(2025, 11, 26), 298.0, 302.8999938964844, 291.1499938964844, 293.8500061035156, 8078, 0], ['NSE', 'STARTECK', datetime.date(2025, 11, 27), 296.6000061035156, 296.8500061035156, 292.6000061035156, 292.8500061035156, 17893, 0], ['NSE', 'STARTECK', datetime.date(2025, 11, 28), 292.6000061035156, 294.0, 281.1499938964844, 289.54998779296875, 10988, 0]]
Row  3790  :  STARTECK.NS  :  19  records inserted
[['BSE', '513269', datetime.date(2025, 11, 3), 400.1000061035156, 410.5, 396.95001220703125, 399.3999938964844, 11516, 0], ['BSE', '513269', datetime.date(2025, 11, 4), 402.04998779296875, 402.6000061035156, 392.70001220703125, 393.70001220703125, 5687, 0], ['BSE', '513269', datetime.date(2025, 11, 6), 392.79998779296875, 393.95001220703125, 378.0, 379.8500061035156, 5258, 0], ['BSE', '513269', datetime.date(2025, 11, 7), 377.20001220703125, 386.95001220703125, 369.70001220703125, 383.70001220703125, 13613, 0], ['BSE', '513269', datetime.date(2025, 11, 10), 370.5, 390.70001220703125, 370.5, 381.25, 8981, 0], ['BSE', '513269', datetime.date(2025, 11, 11), 382.6499938964844, 383.6499938964844, 377.70001220703125, 380.45001220703125, 3821, 0], ['BSE', '513269', datetime.date(2025, 11, 12), 374.0, 386.8500061035156, 374.0, 383.95001220703125, 4866, 0], ['BSE', '513269', datetime.date(2025, 11, 13), 383.1000061035156, 387.3999938964844, 379.20001220703125, 383.75, 5161, 0], ['BSE', '513269', datetime.date(2025, 11, 14), 399.0, 440.5, 377.1499938964844, 426.3999938964844, 259509, 0], ['BSE', '513269', datetime.date(2025, 11, 17), 435.45001220703125, 439.79998779296875, 423.0, 425.20001220703125, 25499, 0], ['BSE', '513269', datetime.date(2025, 11, 18), 427.6499938964844, 454.70001220703125, 424.8999938964844, 450.1000061035156, 56210, 0], ['BSE', '513269', datetime.date(2025, 11, 19), 453.54998779296875, 453.54998779296875, 437.3999938964844, 446.3500061035156, 24611, 0], ['BSE', '513269', datetime.date(2025, 11, 20), 450.5, 472.29998779296875, 449.1000061035156, 464.3999938964844, 84839, 0], ['BSE', '513269', datetime.date(2025, 11, 21), 463.6499938964844, 463.6499938964844, 448.79998779296875, 449.75, 26833, 0], ['BSE', '513269', datetime.date(2025, 11, 24), 449.95001220703125, 470.5, 449.6000061035156, 467.3500061035156, 42475, 0], ['BSE', '513269', datetime.date(2025, 11, 25), 479.0, 479.0, 460.1499938964844, 470.95001220703125, 33365, 0], ['BSE', '513269', datetime.date(2025, 11, 26), 478.8999938964844, 490.8999938964844, 470.3500061035156, 484.20001220703125, 36188, 0], ['BSE', '513269', datetime.date(2025, 11, 28), 472.45001220703125, 474.3500061035156, 465.3999938964844, 466.5, 9247, 0]]
Row  3791  :  513269.BO  :  18  records inserted
[['NSE', 'MANINDS', datetime.date(2025, 11, 3), 411.70001220703125, 411.70001220703125, 399.1000061035156, 400.3500061035156, 306027, 0], ['NSE', 'MANINDS', datetime.date(2025, 11, 4), 402.79998779296875, 404.54998779296875, 392.29998779296875, 394.04998779296875, 243273, 0], ['NSE', 'MANINDS', datetime.date(2025, 11, 6), 393.1000061035156, 394.95001220703125, 376.1000061035156, 379.20001220703125, 231080, 0], ['NSE', 'MANINDS', datetime.date(2025, 11, 7), 377.3500061035156, 386.0, 373.5, 383.8500061035156, 165093, 0], ['NSE', 'MANINDS', datetime.date(2025, 11, 10), 384.1000061035156, 390.3500061035156, 376.1000061035156, 381.1499938964844, 217274, 0], ['NSE', 'MANINDS', datetime.date(2025, 11, 11), 384.3500061035156, 384.3500061035156, 378.0, 379.8999938964844, 126628, 0], ['NSE', 'MANINDS', datetime.date(2025, 11, 12), 384.1000061035156, 388.0, 378.54998779296875, 383.45001220703125, 167530, 0], ['NSE', 'MANINDS', datetime.date(2025, 11, 13), 384.3500061035156, 388.5, 379.45001220703125, 385.20001220703125, 212657, 0], ['NSE', 'MANINDS', datetime.date(2025, 11, 14), 384.0, 440.0, 365.0, 426.54998779296875, 8127766, 0], ['NSE', 'MANINDS', datetime.date(2025, 11, 17), 430.0, 439.54998779296875, 422.5, 425.6000061035156, 556505, 0], ['NSE', 'MANINDS', datetime.date(2025, 11, 18), 428.6000061035156, 455.0, 424.0, 450.20001220703125, 1603712, 0], ['NSE', 'MANINDS', datetime.date(2025, 11, 19), 451.8999938964844, 451.8999938964844, 437.1499938964844, 447.0, 487793, 0], ['NSE', 'MANINDS', datetime.date(2025, 11, 20), 449.5, 472.3999938964844, 449.5, 464.0, 2097548, 0], ['NSE', 'MANINDS', datetime.date(2025, 11, 21), 463.0, 463.0, 449.0, 450.45001220703125, 469443, 0], ['NSE', 'MANINDS', datetime.date(2025, 11, 24), 452.6499938964844, 470.70001220703125, 447.79998779296875, 468.1499938964844, 946144, 0], ['NSE', 'MANINDS', datetime.date(2025, 11, 25), 466.04998779296875, 478.3999938964844, 461.70001220703125, 470.5, 797335, 0], ['NSE', 'MANINDS', datetime.date(2025, 11, 26), 475.0, 491.0, 469.45001220703125, 484.70001220703125, 1227447, 0], ['NSE', 'MANINDS', datetime.date(2025, 11, 27), 487.0, 487.0, 467.25, 472.45001220703125, 408305, 0], ['NSE', 'MANINDS', datetime.date(2025, 11, 28), 472.0, 475.0, 465.0, 466.3999938964844, 173720, 0]]
Row  3792  :  MANINDS.NS  :  19  records inserted

$530871.BO: possibly delisted; no timezone found

[['NSE', 'CHEMBOND', datetime.date(2025, 11, 3), 174.0, 174.0, 170.80999755859375, 172.50999450683594, 2610, 0], ['NSE', 'CHEMBOND', datetime.date(2025, 11, 4), 171.63999938964844, 174.0, 169.0399932861328, 170.7100067138672, 6746, 0], ['NSE', 'CHEMBOND', datetime.date(2025, 11, 5), 170.7100067138672, 170.7100067138672, 170.7100067138672, 170.7100067138672, 0, 0], ['NSE', 'CHEMBOND', datetime.date(2025, 11, 6), 171.67999267578125, 171.67999267578125, 165.0, 166.6300048828125, 5152, 0], ['NSE', 'CHEMBOND', datetime.date(2025, 11, 7), 166.0, 167.3800048828125, 162.99000549316406, 165.77000427246094, 3316, 0], ['NSE', 'CHEMBOND', datetime.date(2025, 11, 10), 163.0, 169.63999938964844, 163.0, 163.77999877929688, 5388, 0], ['NSE', 'CHEMBOND', datetime.date(2025, 11, 11), 163.77999877929688, 165.88999938964844, 161.41000366210938, 163.5, 5601, 0], ['NSE', 'CHEMBOND', datetime.date(2025, 11, 12), 163.16000366210938, 190.89999389648438, 163.16000366210938, 179.47999572753906, 61041, 0], ['NSE', 'CHEMBOND', datetime.date(2025, 11, 13), 182.1999969482422, 185.0, 170.0, 170.72999572753906, 19399, 0], ['NSE', 'CHEMBOND', datetime.date(2025, 11, 14), 170.10000610351562, 173.6699981689453, 167.4600067138672, 169.88999938964844, 4276, 0], ['NSE', 'CHEMBOND', datetime.date(2025, 11, 17), 172.75999450683594, 174.35000610351562, 170.5, 170.7899932861328, 3595, 0], ['NSE', 'CHEMBOND', datetime.date(2025, 11, 18), 168.1999969482422, 171.02000427246094, 164.75, 166.39999389648438, 6193, 0], ['NSE', 'CHEMBOND', datetime.date(2025, 11, 19), 165.57000732421875, 168.60000610351562, 165.55999755859375, 167.72000122070312, 1369, 0], ['NSE', 'CHEMBOND', datetime.date(2025, 11, 20), 167.02999877929688, 175.0, 165.91000366210938, 172.42999267578125, 6287, 0], ['NSE', 'CHEMBOND', datetime.date(2025, 11, 21), 171.9199981689453, 172.57000732421875, 167.0, 168.80999755859375, 1751, 0], ['NSE', 'CHEMBOND', datetime.date(2025, 11, 24), 168.80999755859375, 169.72999572753906, 163.5, 164.99000549316406, 4032, 0], ['NSE', 'CHEMBOND', datetime.date(2025, 11, 25), 165.0, 169.3000030517578, 162.0, 163.39999389648438, 5006, 0], ['NSE', 'CHEMBOND', datetime.date(2025, 11, 26), 166.8000030517578, 169.77999877929688, 162.0, 166.66000366210938, 5990, 0], ['NSE', 'CHEMBOND', datetime.date(2025, 11, 27), 167.8000030517578, 172.7899932861328, 164.99000549316406, 166.1699981689453, 5529, 0], ['NSE', 'CHEMBOND', datetime.date(2025, 11, 28), 165.0, 168.8000030517578, 160.0, 160.86000061035156, 9904, 0]]
Row  3794  :  CHEMBOND.NS  :  20  records inserted
[['NSE', 'NIVABUPA', datetime.date(2025, 11, 3), 75.29000091552734, 75.43000030517578, 72.0, 74.05999755859375, 4595778, 0], ['NSE', 'NIVABUPA', datetime.date(2025, 11, 4), 74.08999633789062, 77.48999786376953, 74.0, 76.4000015258789, 11992709, 0], ['NSE', 'NIVABUPA', datetime.date(2025, 11, 5), 76.4000015258789, 76.4000015258789, 76.4000015258789, 76.4000015258789, 0, 0], ['NSE', 'NIVABUPA', datetime.date(2025, 11, 6), 75.80000305175781, 76.2300033569336, 75.0, 75.43000030517578, 2291520, 0], ['NSE', 'NIVABUPA', datetime.date(2025, 11, 7), 75.0, 76.23999786376953, 74.0999984741211, 76.02999877929688, 1851081, 0], ['NSE', 'NIVABUPA', datetime.date(2025, 11, 10), 76.12000274658203, 76.93000030517578, 75.13999938964844, 76.0, 1391179, 0], ['NSE', 'NIVABUPA', datetime.date(2025, 11, 11), 76.22000122070312, 76.69999694824219, 75.80000305175781, 76.0199966430664, 1009035, 0], ['NSE', 'NIVABUPA', datetime.date(2025, 11, 12), 76.02999877929688, 76.94999694824219, 75.94999694824219, 76.44999694824219, 884073, 0], ['NSE', 'NIVABUPA', datetime.date(2025, 11, 13), 76.66000366210938, 76.66999816894531, 75.9800033569336, 76.08999633789062, 810010, 0], ['NSE', 'NIVABUPA', datetime.date(2025, 11, 14), 75.70999908447266, 77.13999938964844, 75.70999908447266, 76.56999969482422, 1005183, 0], ['NSE', 'NIVABUPA', datetime.date(2025, 11, 17), 76.9000015258789, 78.69000244140625, 76.72000122070312, 77.95999908447266, 1516385, 0], ['NSE', 'NIVABUPA', datetime.date(2025, 11, 18), 78.0999984741211, 78.26000213623047, 77.0999984741211, 77.41000366210938, 636771, 0], ['NSE', 'NIVABUPA', datetime.date(2025, 11, 19), 77.70999908447266, 77.75, 75.66999816894531, 76.02999877929688, 1403886, 0], ['NSE', 'NIVABUPA', datetime.date(2025, 11, 20), 76.05000305175781, 77.5, 76.05000305175781, 76.9000015258789, 640675, 0], ['NSE', 'NIVABUPA', datetime.date(2025, 11, 21), 76.9000015258789, 77.02999877929688, 75.31999969482422, 75.56999969482422, 646161, 0], ['NSE', 'NIVABUPA', datetime.date(2025, 11, 24), 75.0999984741211, 75.56999969482422, 74.0, 74.2699966430664, 596444, 0], ['NSE', 'NIVABUPA', datetime.date(2025, 11, 25), 74.27999877929688, 76.44999694824219, 74.0999984741211, 76.08000183105469, 1224852, 0], ['NSE', 'NIVABUPA', datetime.date(2025, 11, 26), 76.08000183105469, 76.83000183105469, 75.12000274658203, 75.70999908447266, 769421, 0], ['NSE', 'NIVABUPA', datetime.date(2025, 11, 27), 75.73999786376953, 76.1500015258789, 74.5999984741211, 74.7699966430664, 254026, 0], ['NSE', 'NIVABUPA', datetime.date(2025, 11, 28), 74.5, 75.05999755859375, 74.01000213623047, 74.33999633789062, 395518, 0]]
Row  3795  :  NIVABUPA.NS  :  20  records inserted
[['NSE', 'MITTAL', datetime.date(2025, 11, 3), 1.4800000190734863, 1.5099999904632568, 1.4700000286102295, 1.4800000190734863, 294555, 0], ['NSE', 'MITTAL', datetime.date(2025, 11, 4), 1.4900000095367432, 1.5800000429153442, 1.4900000095367432, 1.5, 1190289, 0], ['NSE', 'MITTAL', datetime.date(2025, 11, 5), 1.5, 1.5, 1.5, 1.5, 0, 0], ['NSE', 'MITTAL', datetime.date(2025, 11, 6), 1.5199999809265137, 1.5299999713897705, 1.4800000190734863, 1.4900000095367432, 382617, 0], ['NSE', 'MITTAL', datetime.date(2025, 11, 7), 1.4800000190734863, 1.5, 1.4800000190734863, 1.4900000095367432, 415009, 0], ['NSE', 'MITTAL', datetime.date(2025, 11, 10), 1.5, 1.5, 1.4800000190734863, 1.4900000095367432, 390794, 0], ['NSE', 'MITTAL', datetime.date(2025, 11, 11), 1.4800000190734863, 1.4900000095367432, 1.399999976158142, 1.4299999475479126, 1206866, 0], ['NSE', 'MITTAL', datetime.date(2025, 11, 12), 1.4299999475479126, 1.4700000286102295, 1.4299999475479126, 1.440000057220459, 535881, 0], ['NSE', 'MITTAL', datetime.date(2025, 11, 13), 1.4600000381469727, 1.4600000381469727, 1.440000057220459, 1.440000057220459, 281339, 0], ['NSE', 'MITTAL', datetime.date(2025, 11, 14), 1.4500000476837158, 1.4500000476837158, 1.4299999475479126, 1.4299999475479126, 662853, 0], ['NSE', 'MITTAL', datetime.date(2025, 11, 17), 1.440000057220459, 1.4500000476837158, 1.190000057220459, 1.3700000047683716, 2099745, 0], ['NSE', 'MITTAL', datetime.date(2025, 11, 18), 1.409999966621399, 1.409999966621399, 1.2300000190734863, 1.340000033378601, 772247, 0], ['NSE', 'MITTAL', datetime.date(2025, 11, 19), 1.309999942779541, 1.399999976158142, 1.2999999523162842, 1.3200000524520874, 1094310, 0], ['NSE', 'MITTAL', datetime.date(2025, 11, 20), 1.3200000524520874, 1.4500000476837158, 1.2999999523162842, 1.3600000143051147, 1296671, 0], ['NSE', 'MITTAL', datetime.date(2025, 11, 21), 1.350000023841858, 1.4199999570846558, 1.350000023841858, 1.399999976158142, 298442, 0], ['NSE', 'MITTAL', datetime.date(2025, 11, 24), 1.409999966621399, 1.409999966621399, 1.2999999523162842, 1.3600000143051147, 525748, 0], ['NSE', 'MITTAL', datetime.date(2025, 11, 25), 1.340000033378601, 1.3700000047683716, 1.3300000429153442, 1.350000023841858, 123410, 0], ['NSE', 'MITTAL', datetime.date(2025, 11, 26), 1.350000023841858, 1.350000023841858, 1.309999942779541, 1.340000033378601, 909198, 0], ['NSE', 'MITTAL', datetime.date(2025, 11, 27), 1.3600000143051147, 1.399999976158142, 1.309999942779541, 1.3200000524520874, 536638, 0], ['NSE', 'MITTAL', datetime.date(2025, 11, 28), 1.3200000524520874, 1.350000023841858, 1.3200000524520874, 1.3300000429153442, 300553, 0]]
Row  3796  :  MITTAL.NS  :  20  records inserted
[['BSE', '532817', datetime.date(2025, 11, 3), 10.0600004196167, 10.229999542236328, 9.979999542236328, 10.020000457763672, 5468, 0], ['BSE', '532817', datetime.date(2025, 11, 4), 9.920000076293945, 10.020000457763672, 9.609999656677246, 9.8100004196167, 26052, 0], ['BSE', '532817', datetime.date(2025, 11, 6), 9.949999809265137, 10.100000381469727, 9.699999809265137, 9.699999809265137, 14988, 0], ['BSE', '532817', datetime.date(2025, 11, 7), 9.5600004196167, 9.699999809265137, 9.5600004196167, 9.6899995803833, 6784, 0], ['BSE', '532817', datetime.date(2025, 11, 10), 9.84000015258789, 9.84000015258789, 9.520000457763672, 9.640000343322754, 12233, 0], ['BSE', '532817', datetime.date(2025, 11, 11), 9.739999771118164, 9.819999694824219, 9.619999885559082, 9.65999984741211, 6023, 0], ['BSE', '532817', datetime.date(2025, 11, 12), 9.65999984741211, 9.779999732971191, 9.520000457763672, 9.670000076293945, 16348, 0], ['BSE', '532817', datetime.date(2025, 11, 13), 9.069999694824219, 9.550000190734863, 9.069999694824219, 9.390000343322754, 12710, 0], ['BSE', '532817', datetime.date(2025, 11, 14), 9.970000267028809, 9.970000267028809, 9.100000381469727, 9.460000038146973, 234309, 0], ['BSE', '532817', datetime.date(2025, 11, 17), 9.319999694824219, 9.8100004196167, 9.279999732971191, 9.300000190734863, 60556, 0], ['BSE', '532817', datetime.date(2025, 11, 18), 9.199999809265137, 9.380000114440918, 9.119999885559082, 9.260000228881836, 30260, 0], ['BSE', '532817', datetime.date(2025, 11, 19), 9.5, 9.5, 9.109999656677246, 9.149999618530273, 11304, 0], ['BSE', '532817', datetime.date(2025, 11, 20), 9.100000381469727, 10.5, 8.470000267028809, 8.550000190734863, 225039, 0], ['BSE', '532817', datetime.date(2025, 11, 21), 9.0, 9.0, 8.770000457763672, 8.930000305175781, 55461, 0], ['BSE', '532817', datetime.date(2025, 11, 24), 8.470000267028809, 9.029999732971191, 8.470000267028809, 8.760000228881836, 18166, 0], ['BSE', '532817', datetime.date(2025, 11, 25), 9.0, 9.029999732971191, 8.760000228881836, 8.770000457763672, 8730, 0], ['BSE', '532817', datetime.date(2025, 11, 26), 8.75, 8.800000190734863, 8.649999618530273, 8.729999542236328, 1009, 0], ['BSE', '532817', datetime.date(2025, 11, 28), 8.649999618530273, 8.729999542236328, 8.510000228881836, 8.640000343322754, 7490, 0]]
Row  3797  :  532817.BO  :  18  records inserted
[['NSE', 'ORIENTALTL', datetime.date(2025, 11, 3), 10.109999656677246, 10.220000267028809, 9.65999984741211, 9.9399995803833, 161557, 0], ['NSE', 'ORIENTALTL', datetime.date(2025, 11, 4), 9.899999618530273, 9.989999771118164, 9.75, 9.819999694824219, 155955, 0], ['NSE', 'ORIENTALTL', datetime.date(2025, 11, 6), 9.819999694824219, 9.960000038146973, 9.680000305175781, 9.720000267028809, 202531, 0], ['NSE', 'ORIENTALTL', datetime.date(2025, 11, 7), 9.760000228881836, 9.760000228881836, 9.5, 9.640000343322754, 130713, 0], ['NSE', 'ORIENTALTL', datetime.date(2025, 11, 10), 9.899999618530273, 9.899999618530273, 9.600000381469727, 9.640000343322754, 125845, 0], ['NSE', 'ORIENTALTL', datetime.date(2025, 11, 11), 9.649999618530273, 9.8100004196167, 9.5, 9.609999656677246, 193308, 0], ['NSE', 'ORIENTALTL', datetime.date(2025, 11, 12), 9.539999961853027, 9.75, 9.470000267028809, 9.619999885559082, 87951, 0], ['NSE', 'ORIENTALTL', datetime.date(2025, 11, 13), 9.369999885559082, 9.520000457763672, 9.199999809265137, 9.380000114440918, 338293, 0], ['NSE', 'ORIENTALTL', datetime.date(2025, 11, 14), 9.380000114440918, 9.770000457763672, 9.050000190734863, 9.449999809265137, 1329484, 0], ['NSE', 'ORIENTALTL', datetime.date(2025, 11, 17), 9.6899995803833, 9.699999809265137, 9.210000038146973, 9.300000190734863, 477825, 0], ['NSE', 'ORIENTALTL', datetime.date(2025, 11, 18), 9.3100004196167, 9.40999984741211, 9.199999809265137, 9.220000267028809, 210645, 0], ['NSE', 'ORIENTALTL', datetime.date(2025, 11, 19), 9.390000343322754, 9.390000343322754, 9.100000381469727, 9.119999885559082, 219929, 0], ['NSE', 'ORIENTALTL', datetime.date(2025, 11, 20), 9.270000457763672, 10.550000190734863, 8.199999809265137, 8.5, 4473081, 0], ['NSE', 'ORIENTALTL', datetime.date(2025, 11, 21), 8.779999732971191, 9.0, 8.710000038146973, 8.930000305175781, 434557, 0], ['NSE', 'ORIENTALTL', datetime.date(2025, 11, 24), 9.0, 9.0, 8.710000038146973, 8.779999732971191, 210689, 0], ['NSE', 'ORIENTALTL', datetime.date(2025, 11, 25), 8.899999618530273, 9.010000228881836, 8.520000457763672, 8.720000267028809, 219646, 0], ['NSE', 'ORIENTALTL', datetime.date(2025, 11, 26), 8.720000267028809, 8.789999961853027, 8.539999961853027, 8.720000267028809, 144723, 0], ['NSE', 'ORIENTALTL', datetime.date(2025, 11, 27), 8.779999732971191, 8.850000381469727, 8.619999885559082, 8.649999618530273, 165711, 0], ['NSE', 'ORIENTALTL', datetime.date(2025, 11, 28), 8.670000076293945, 8.699999809265137, 8.520000457763672, 8.609999656677246, 127306, 0]]
Row  3798  :  ORIENTALTL.NS  :  19  records inserted
[['BSE', '533088', datetime.date(2025, 11, 3), 334.0, 345.0, 328.79998779296875, 330.95001220703125, 19129, 0], ['BSE', '533088', datetime.date(2025, 11, 4), 332.6499938964844, 334.3500061035156, 330.45001220703125, 331.29998779296875, 3529, 0], ['BSE', '533088', datetime.date(2025, 11, 6), 331.29998779296875, 331.29998779296875, 323.70001220703125, 324.5, 6452, 0], ['BSE', '533088', datetime.date(2025, 11, 7), 323.1000061035156, 323.5, 318.0, 319.1000061035156, 5643, 0], ['BSE', '533088', datetime.date(2025, 11, 10), 321.0, 322.5, 316.5, 317.20001220703125, 5941, 0], ['BSE', '533088', datetime.date(2025, 11, 11), 318.0, 318.6000061035156, 311.0, 313.75, 5715, 0], ['BSE', '533088', datetime.date(2025, 11, 12), 316.20001220703125, 317.29998779296875, 306.3500061035156, 313.04998779296875, 5905, 0], ['BSE', '533088', datetime.date(2025, 11, 13), 310.70001220703125, 317.79998779296875, 310.70001220703125, 312.70001220703125, 61401, 0], ['BSE', '533088', datetime.date(2025, 11, 14), 313.5, 315.0, 311.29998779296875, 313.29998779296875, 5055, 0], ['BSE', '533088', datetime.date(2025, 11, 17), 314.95001220703125, 322.0, 314.0, 317.6499938964844, 923077, 0], ['BSE', '533088', datetime.date(2025, 11, 18), 315.04998779296875, 340.0, 315.04998779296875, 333.29998779296875, 33795, 0], ['BSE', '533088', datetime.date(2025, 11, 19), 333.3500061035156, 336.8999938964844, 322.1499938964844, 323.25, 9872, 0], ['BSE', '533088', datetime.date(2025, 11, 20), 323.29998779296875, 345.25, 323.29998779296875, 333.79998779296875, 477345, 0], ['BSE', '533088', datetime.date(2025, 11, 21), 333.79998779296875, 333.79998779296875, 328.1499938964844, 329.79998779296875, 8761, 0], ['BSE', '533088', datetime.date(2025, 11, 24), 327.6000061035156, 329.75, 316.6000061035156, 319.04998779296875, 65317, 0], ['BSE', '533088', datetime.date(2025, 11, 25), 314.04998779296875, 322.20001220703125, 314.04998779296875, 317.79998779296875, 7429, 0], ['BSE', '533088', datetime.date(2025, 11, 26), 317.75, 325.0, 316.3999938964844, 322.25, 5927, 0], ['BSE', '533088', datetime.date(2025, 11, 28), 319.29998779296875, 321.79998779296875, 316.3500061035156, 317.45001220703125, 15548, 0]]
Row  3799  :  533088.BO  :  18  records inserted
[['NSE', 'MHRIL', datetime.date(2025, 11, 3), 342.70001220703125, 345.0, 328.5, 331.04998779296875, 432410, 0], ['NSE', 'MHRIL', datetime.date(2025, 11, 4), 331.0, 334.79998779296875, 329.0, 331.0, 58922, 0], ['NSE', 'MHRIL', datetime.date(2025, 11, 5), 331.0, 331.0, 331.0, 331.0, 0, 0], ['NSE', 'MHRIL', datetime.date(2025, 11, 6), 334.95001220703125, 335.0, 323.45001220703125, 324.6499938964844, 98333, 0], ['NSE', 'MHRIL', datetime.date(2025, 11, 7), 323.5, 325.95001220703125, 317.0, 318.75, 86052, 0], ['NSE', 'MHRIL', datetime.date(2025, 11, 10), 318.75, 322.0, 315.95001220703125, 316.79998779296875, 151147, 0], ['NSE', 'MHRIL', datetime.date(2025, 11, 11), 315.54998779296875, 319.3500061035156, 310.8500061035156, 313.79998779296875, 133181, 0], ['NSE', 'MHRIL', datetime.date(2025, 11, 12), 316.20001220703125, 317.70001220703125, 306.54998779296875, 312.6000061035156, 123191, 0], ['NSE', 'MHRIL', datetime.date(2025, 11, 13), 313.54998779296875, 317.6499938964844, 311.3500061035156, 312.45001220703125, 56457, 0], ['NSE', 'MHRIL', datetime.date(2025, 11, 14), 312.3999938964844, 314.95001220703125, 310.95001220703125, 313.0, 47697, 0], ['NSE', 'MHRIL', datetime.date(2025, 11, 17), 314.0, 322.04998779296875, 314.0, 317.25, 126024, 0], ['NSE', 'MHRIL', datetime.date(2025, 11, 18), 317.8999938964844, 340.6499938964844, 317.1000061035156, 333.1000061035156, 553456, 0], ['NSE', 'MHRIL', datetime.date(2025, 11, 19), 334.8999938964844, 337.0, 321.79998779296875, 323.45001220703125, 186538, 0], ['NSE', 'MHRIL', datetime.date(2025, 11, 20), 327.6000061035156, 345.95001220703125, 325.79998779296875, 334.25, 1412958, 0], ['NSE', 'MHRIL', datetime.date(2025, 11, 21), 333.70001220703125, 333.70001220703125, 327.95001220703125, 330.3999938964844, 119886, 0], ['NSE', 'MHRIL', datetime.date(2025, 11, 24), 329.5, 330.20001220703125, 316.1499938964844, 318.95001220703125, 312794, 0], ['NSE', 'MHRIL', datetime.date(2025, 11, 25), 317.0, 321.95001220703125, 315.8999938964844, 317.5, 118194, 0], ['NSE', 'MHRIL', datetime.date(2025, 11, 26), 316.3500061035156, 324.95001220703125, 316.3500061035156, 322.3999938964844, 89775, 0], ['NSE', 'MHRIL', datetime.date(2025, 11, 27), 324.8500061035156, 324.8500061035156, 317.29998779296875, 318.75, 46716, 0], ['NSE', 'MHRIL', datetime.date(2025, 11, 28), 320.6000061035156, 320.6000061035156, 316.8500061035156, 317.45001220703125, 52887, 0]]
Row  3800  :  MHRIL.NS  :  20  records inserted

$500249.BO: possibly delisted; no timezone found

[['NSE', 'KSB', datetime.date(2025, 11, 3), 792.0, 796.5999755859375, 782.9000244140625, 785.5499877929688, 29974, 0], ['NSE', 'KSB', datetime.date(2025, 11, 4), 789.7000122070312, 795.0, 770.0499877929688, 773.3499755859375, 43275, 0], ['NSE', 'KSB', datetime.date(2025, 11, 5), 773.3499755859375, 773.3499755859375, 773.3499755859375, 773.3499755859375, 0, 0], ['NSE', 'KSB', datetime.date(2025, 11, 6), 780.0, 781.7000122070312, 767.0, 769.0499877929688, 85441, 0], ['NSE', 'KSB', datetime.date(2025, 11, 7), 769.0499877929688, 770.0, 752.0, 757.0, 34697, 0], ['NSE', 'KSB', datetime.date(2025, 11, 10), 756.25, 761.0, 736.0499877929688, 745.0499877929688, 50155, 0], ['NSE', 'KSB', datetime.date(2025, 11, 11), 750.5, 775.0, 738.2999877929688, 764.6500244140625, 81540, 0], ['NSE', 'KSB', datetime.date(2025, 11, 12), 764.0, 767.3499755859375, 753.0499877929688, 764.4000244140625, 51221, 0], ['NSE', 'KSB', datetime.date(2025, 11, 13), 763.4500122070312, 767.9500122070312, 754.0, 759.0999755859375, 40173, 0], ['NSE', 'KSB', datetime.date(2025, 11, 14), 765.7999877929688, 765.7999877929688, 752.9500122070312, 759.9500122070312, 34567, 0], ['NSE', 'KSB', datetime.date(2025, 11, 17), 765.7999877929688, 768.0, 752.0, 754.6500244140625, 26449, 0], ['NSE', 'KSB', datetime.date(2025, 11, 18), 754.0, 759.0, 737.0999755859375, 739.5999755859375, 34903, 0], ['NSE', 'KSB', datetime.date(2025, 11, 19), 743.5, 745.1500244140625, 723.0, 724.2999877929688, 53697, 0], ['NSE', 'KSB', datetime.date(2025, 11, 20), 725.0999755859375, 734.7000122070312, 717.75, 721.3499755859375, 39331, 0], ['NSE', 'KSB', datetime.date(2025, 11, 21), 716.5, 725.0999755859375, 701.0999755859375, 715.0999755859375, 86040, 0], ['NSE', 'KSB', datetime.date(2025, 11, 24), 715.0999755859375, 759.7999877929688, 710.2999877929688, 744.5, 79317, 0], ['NSE', 'KSB', datetime.date(2025, 11, 25), 725.0499877929688, 754.8499755859375, 716.25, 748.25, 100011, 0], ['NSE', 'KSB', datetime.date(2025, 11, 26), 748.25, 748.25, 730.5499877929688, 740.1500244140625, 74966, 0], ['NSE', 'KSB', datetime.date(2025, 11, 27), 742.0, 745.9500122070312, 730.4500122070312, 741.5999755859375, 38877, 0], ['NSE', 'KSB', datetime.date(2025, 11, 28), 749.0, 786.2999877929688, 749.0, 767.8499755859375, 2347332, 0]]
Row  3802  :  KSB.NS  :  20  records inserted
[['BSE', '526521', datetime.date(2025, 11, 3), 67.94999694824219, 67.94999694824219, 64.76000213623047, 66.3499984741211, 23285, 0], ['BSE', '526521', datetime.date(2025, 11, 4), 66.3499984741211, 67.19999694824219, 64.87000274658203, 65.55999755859375, 9137, 0], ['BSE', '526521', datetime.date(2025, 11, 6), 64.61000061035156, 65.19999694824219, 64.44999694824219, 64.47000122070312, 7862, 0], ['BSE', '526521', datetime.date(2025, 11, 7), 63.7599983215332, 64.8499984741211, 63.31999969482422, 64.55000305175781, 7142, 0], ['BSE', '526521', datetime.date(2025, 11, 10), 64.0, 64.69000244140625, 63.84000015258789, 63.86000061035156, 1586, 0], ['BSE', '526521', datetime.date(2025, 11, 11), 63.459999084472656, 64.95999908447266, 63.45000076293945, 64.62999725341797, 290, 0], ['BSE', '526521', datetime.date(2025, 11, 12), 63.20000076293945, 65.79000091552734, 63.20000076293945, 64.79000091552734, 3711, 0], ['BSE', '526521', datetime.date(2025, 11, 13), 64.87000274658203, 65.0, 64.02999877929688, 64.38999938964844, 4385, 0], ['BSE', '526521', datetime.date(2025, 11, 14), 64.0, 64.91999816894531, 64.0, 64.37999725341797, 3022, 0], ['BSE', '526521', datetime.date(2025, 11, 17), 65.29000091552734, 65.29000091552734, 64.20999908447266, 64.41000366210938, 3874, 0], ['BSE', '526521', datetime.date(2025, 11, 18), 64.19999694824219, 64.44000244140625, 63.54999923706055, 64.06999969482422, 5081, 0], ['BSE', '526521', datetime.date(2025, 11, 19), 63.47999954223633, 64.04000091552734, 63.45000076293945, 63.7599983215332, 1018, 0], ['BSE', '526521', datetime.date(2025, 11, 20), 62.400001525878906, 64.25, 62.400001525878906, 63.54999923706055, 1284, 0], ['BSE', '526521', datetime.date(2025, 11, 21), 62.400001525878906, 63.130001068115234, 62.400001525878906, 62.779998779296875, 524, 0], ['BSE', '526521', datetime.date(2025, 11, 24), 62.779998779296875, 63.38999938964844, 62.220001220703125, 62.84000015258789, 3597, 0], ['BSE', '526521', datetime.date(2025, 11, 25), 61.0, 63.77000045776367, 61.0, 63.38999938964844, 2562, 0], ['BSE', '526521', datetime.date(2025, 11, 26), 63.400001525878906, 63.650001525878906, 62.279998779296875, 63.52000045776367, 7933, 0], ['BSE', '526521', datetime.date(2025, 11, 28), 63.79999923706055, 63.79999923706055, 63.2599983215332, 63.59000015258789, 1660, 0]]
Row  3803  :  526521.BO  :  18  records inserted
[['NSE', 'SANGHIIND', datetime.date(2025, 11, 3), 65.0999984741211, 66.94999694824219, 64.61000061035156, 66.4000015258789, 751133, 0], ['NSE', 'SANGHIIND', datetime.date(2025, 11, 4), 66.5199966430664, 67.36000061035156, 65.05000305175781, 65.58000183105469, 224978, 0], ['NSE', 'SANGHIIND', datetime.date(2025, 11, 6), 65.0, 65.58000183105469, 64.0, 64.55000305175781, 109517, 0], ['NSE', 'SANGHIIND', datetime.date(2025, 11, 7), 64.44999694824219, 65.30000305175781, 63.0099983215332, 64.3499984741211, 187551, 0], ['NSE', 'SANGHIIND', datetime.date(2025, 11, 10), 64.9000015258789, 64.9000015258789, 63.84000015258789, 64.22000122070312, 88747, 0], ['NSE', 'SANGHIIND', datetime.date(2025, 11, 11), 64.22000122070312, 64.6500015258789, 63.25, 64.41000366210938, 46325, 0], ['NSE', 'SANGHIIND', datetime.date(2025, 11, 12), 63.54999923706055, 65.5, 63.54999923706055, 64.86000061035156, 165413, 0], ['NSE', 'SANGHIIND', datetime.date(2025, 11, 13), 64.86000061035156, 65.1500015258789, 63.5, 64.31999969482422, 100423, 0], ['NSE', 'SANGHIIND', datetime.date(2025, 11, 14), 64.31999969482422, 64.8499984741211, 63.810001373291016, 64.66999816894531, 147425, 0], ['NSE', 'SANGHIIND', datetime.date(2025, 11, 17), 64.66999816894531, 65.0, 63.900001525878906, 64.47000122070312, 79570, 0], ['NSE', 'SANGHIIND', datetime.date(2025, 11, 18), 64.0, 65.0, 63.619998931884766, 63.86000061035156, 700312, 0], ['NSE', 'SANGHIIND', datetime.date(2025, 11, 19), 63.86000061035156, 64.48999786376953, 63.34000015258789, 63.790000915527344, 177954, 0], ['NSE', 'SANGHIIND', datetime.date(2025, 11, 20), 63.04999923706055, 64.25, 63.04999923706055, 63.7400016784668, 172988, 0], ['NSE', 'SANGHIIND', datetime.date(2025, 11, 21), 63.0099983215332, 63.72999954223633, 62.470001220703125, 62.810001373291016, 157606, 0], ['NSE', 'SANGHIIND', datetime.date(2025, 11, 24), 62.0, 63.400001525878906, 62.0, 62.869998931884766, 683420, 0], ['NSE', 'SANGHIIND', datetime.date(2025, 11, 25), 61.95000076293945, 64.25, 61.95000076293945, 63.5099983215332, 311264, 0], ['NSE', 'SANGHIIND', datetime.date(2025, 11, 26), 63.02000045776367, 64.01000213623047, 63.02000045776367, 63.65999984741211, 102952, 0], ['NSE', 'SANGHIIND', datetime.date(2025, 11, 27), 63.650001525878906, 63.900001525878906, 63.119998931884766, 63.5, 168150, 0], ['NSE', 'SANGHIIND', datetime.date(2025, 11, 28), 63.560001373291016, 63.9900016784668, 63.150001525878906, 63.63999938964844, 78968, 0]]
Row  3804  :  SANGHIIND.NS  :  19  records inserted
[['BSE', '533263', datetime.date(2025, 11, 3), 14.420000076293945, 14.420000076293945, 14.039999961853027, 14.350000381469727, 623419, 0], ['BSE', '533263', datetime.date(2025, 11, 4), 14.399999618530273, 14.760000228881836, 13.880000114440918, 13.979999542236328, 460005, 0], ['BSE', '533263', datetime.date(2025, 11, 6), 14.619999885559082, 14.6899995803833, 13.649999618530273, 13.8100004196167, 1095367, 0], ['BSE', '533263', datetime.date(2025, 11, 7), 13.8100004196167, 14.100000381469727, 13.420000076293945, 13.859999656677246, 332465, 0], ['BSE', '533263', datetime.date(2025, 11, 10), 13.859999656677246, 13.920000076293945, 13.640000343322754, 13.670000076293945, 139231, 0], ['BSE', '533263', datetime.date(2025, 11, 11), 13.59000015258789, 13.65999984741211, 13.390000343322754, 13.449999809265137, 177601, 0], ['BSE', '533263', datetime.date(2025, 11, 12), 13.449999809265137, 13.649999618530273, 13.449999809265137, 13.619999885559082, 267708, 0], ['BSE', '533263', datetime.date(2025, 11, 13), 13.640000343322754, 13.680000305175781, 13.479999542236328, 13.5, 238438, 0], ['BSE', '533263', datetime.date(2025, 11, 14), 13.479999542236328, 13.479999542236328, 13.25, 13.289999961853027, 97469, 0], ['BSE', '533263', datetime.date(2025, 11, 17), 13.319999694824219, 13.609999656677246, 13.109999656677246, 13.300000190734863, 197724, 0], ['BSE', '533263', datetime.date(2025, 11, 18), 13.229999542236328, 13.369999885559082, 13.069999694824219, 13.100000381469727, 99648, 0], ['BSE', '533263', datetime.date(2025, 11, 19), 13.100000381469727, 13.569999694824219, 13.050000190734863, 13.369999885559082, 265760, 0], ['BSE', '533263', datetime.date(2025, 11, 20), 13.510000228881836, 13.829999923706055, 13.119999885559082, 13.220000267028809, 246899, 0], ['BSE', '533263', datetime.date(2025, 11, 21), 13.199999809265137, 13.210000038146973, 13.050000190734863, 13.15999984741211, 151926, 0], ['BSE', '533263', datetime.date(2025, 11, 24), 13.279999732971191, 13.390000343322754, 12.930000305175781, 12.970000267028809, 127493, 0], ['BSE', '533263', datetime.date(2025, 11, 25), 12.90999984741211, 13.199999809265137, 12.760000228881836, 12.829999923706055, 182476, 0], ['BSE', '533263', datetime.date(2025, 11, 26), 12.930000305175781, 13.130000114440918, 12.90999984741211, 12.989999771118164, 248977, 0], ['BSE', '533263', datetime.date(2025, 11, 28), 13.25, 13.25, 12.779999732971191, 12.8100004196167, 607802, 0]]
Row  3805  :  533263.BO  :  18  records inserted
[['NSE', 'GREENPOWER', datetime.date(2025, 11, 3), 14.289999961853027, 14.40999984741211, 14.0600004196167, 14.34000015258789, 5839522, 0], ['NSE', 'GREENPOWER', datetime.date(2025, 11, 4), 14.930000305175781, 14.930000305175781, 13.869999885559082, 13.970000267028809, 7953216, 0], ['NSE', 'GREENPOWER', datetime.date(2025, 11, 5), 13.970000267028809, 13.970000267028809, 13.970000267028809, 13.970000267028809, 0, 0], ['NSE', 'GREENPOWER', datetime.date(2025, 11, 6), 14.600000381469727, 14.680000305175781, 13.5, 13.789999961853027, 8817348, 0], ['NSE', 'GREENPOWER', datetime.date(2025, 11, 7), 13.789999961853027, 14.119999885559082, 13.430000305175781, 13.859999656677246, 5278298, 0], ['NSE', 'GREENPOWER', datetime.date(2025, 11, 10), 13.890000343322754, 13.960000038146973, 13.600000381469727, 13.65999984741211, 2213599, 0], ['NSE', 'GREENPOWER', datetime.date(2025, 11, 11), 13.65999984741211, 13.680000305175781, 13.34000015258789, 13.460000038146973, 2466799, 0], ['NSE', 'GREENPOWER', datetime.date(2025, 11, 12), 13.460000038146973, 13.670000076293945, 13.430000305175781, 13.600000381469727, 2267271, 0], ['NSE', 'GREENPOWER', datetime.date(2025, 11, 13), 13.600000381469727, 13.670000076293945, 13.260000228881836, 13.479999542236328, 2502024, 0], ['NSE', 'GREENPOWER', datetime.date(2025, 11, 14), 13.449999809265137, 13.5, 13.25, 13.300000190734863, 1896791, 0], ['NSE', 'GREENPOWER', datetime.date(2025, 11, 17), 13.300000190734863, 13.600000381469727, 13.170000076293945, 13.289999961853027, 2100716, 0], ['NSE', 'GREENPOWER', datetime.date(2025, 11, 18), 13.289999961853027, 13.359999656677246, 13.050000190734863, 13.109999656677246, 1774437, 0], ['NSE', 'GREENPOWER', datetime.date(2025, 11, 19), 13.109999656677246, 13.5600004196167, 13.050000190734863, 13.34000015258789, 4130985, 0], ['NSE', 'GREENPOWER', datetime.date(2025, 11, 20), 13.390000343322754, 13.819999694824219, 13.109999656677246, 13.210000038146973, 3301708, 0], ['NSE', 'GREENPOWER', datetime.date(2025, 11, 21), 13.210000038146973, 13.239999771118164, 13.050000190734863, 13.149999618530273, 1753149, 0], ['NSE', 'GREENPOWER', datetime.date(2025, 11, 24), 13.399999618530273, 13.399999618530273, 12.90999984741211, 12.960000038146973, 2125247, 0], ['NSE', 'GREENPOWER', datetime.date(2025, 11, 25), 12.949999809265137, 13.300000190734863, 12.779999732971191, 12.859999656677246, 1955211, 0], ['NSE', 'GREENPOWER', datetime.date(2025, 11, 26), 12.979999542236328, 13.100000381469727, 12.920000076293945, 13.0, 1684272, 0], ['NSE', 'GREENPOWER', datetime.date(2025, 11, 27), 13.0, 13.119999885559082, 12.899999618530273, 12.949999809265137, 1104720, 0], ['NSE', 'GREENPOWER', datetime.date(2025, 11, 28), 13.100000381469727, 13.100000381469727, 12.770000457763672, 12.8100004196167, 2770330, 0]]
Row  3806  :  GREENPOWER.NS  :  20  records inserted

:

In [3]:
df_stockcode.shape

(3807, 3)

In [17]:
df_stockcode[df_stockcode['Symbol']=='FLFL']

              ISIN StockExchange Symbol
2072  INE452O01016           NSE   FLFL

In [11]:
df_stockcode[1:2]

           ISIN StockExchange     Symbol
1  IN9110D01011           NSE  GUJNREDVR

In [144]:
dat.info

{'address1': 'Kalpataru Synergy',
 'address2': '7th Floor Opp. Grand Hyatt Hotel, Vakola Santacruz (East)',
 'city': 'Mumbai',
 'zip': '400055',
 'country': 'India',
 'phone': '91 22 3064 2100',
 'website': 'https://www.kalpataruprojects.com',
 'industry': 'Engineering & Construction',
 'industryKey': 'engineering-construction',
 'industryDisp': 'Engineering & Construction',
 'sector': 'Industrials',
 'sectorKey': 'industrials',
 'sectorDisp': 'Industrials',
 'longBusinessSummary': 'Kalpataru Projects International Limited provides engineering, procurement, and construction (EPC) services for power transmission and distribution, buildings and factories, water, railways, oil and gas, and urban infrastructure sectors in India and internationally. The company operates in Engineering, Procurement and Construction; Developmental Project; and Others segments. It designs, tests, procures, fabricates, erects, installs, and commissions power transmission lines, substations, and underground cable works; executes civil works, design and build composite works, structural works, finishing works, utility installations, and area development for buildings and factories; and designs and builds water intake, pipeline installation, treatment, storage, supply, distribution, and operation and maintenance of water projects. The company also offers services under its railway arm, including overhead electrification, traction substations, station buildings, railway track laying, earthwork, workshops, signaling and telecommunication, power systems, and civil works with railway networks and projects; and EPC services for the design and construction of highways, bridges and flyovers, airports, metro rail corridor stations and transit terminals and hubs, as well as undertakes EPC contracting for cross-country pipelines, terminals, and gas gathering stations for the oil and gas sectors. In addition, it is involved in agri-storage infrastructure with value added services, such as testing and certification, collateral management, pest control activities, preservation, maintenance, and security services, as well as management and operation of warehouses; and operates biomass power generation plants. The company was formerly known as Kalpataru Power Transmission Limited and changed its name to Kalpataru Projects International Limited in May 2023. Kalpataru Projects International Limited was incorporated in 1981 and is based in Mumbai, India.',
 'fullTimeEmployees': 9881,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Manish Dashrathmal Mohnot CA, ICWA',
   'age': 52,
   'title': 'MD, CEO & Executive Director',
   'yearBorn': 1972,
   'fiscalYear': 2025,
   'totalPay': 217500000,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Shailendra Kumar Tripathi B. E. Civil',
   'age': 60,
   'title': 'Deputy MD & Additional Director',
   'yearBorn': 1964,
   'fiscalYear': 2025,
   'totalPay': 65000000,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Ram Avtar Patodia',
   'title': 'President of Finance & Accounts and CFO',
   'fiscalYear': 2025,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Saugata  Basu',
   'title': 'Chief Digital & Information Officer',
   'fiscalYear': 2025,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Shweta  Girotra',
   'title': 'Company Secretary & Compliance Officer',
   'fiscalYear': 2025,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. M. A. Baraiya',
   'title': 'Chief Human Resource Officer',
   'fiscalYear': 2025,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Kamal Kishore Jain',
   'age': 66,
   'title': 'Director of Integrity & Chief Ethics Officer',
   'yearBorn': 1958,
   'fiscalYear': 2025,
   'totalPay': 26400000,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Anand  Chopra',
   'title': 'Business Head of Renewable Power Generation - Biomass',
   'fiscalYear': 2025,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Ramesh  Bhootra',
   'title': 'Business Head of T&D International, BD and Subsidiaries',
   'fiscalYear': 2025,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Hitendra  Pooniwala',
   'title': 'Head of T&D International Business',
   'fiscalYear': 2025,
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'compensationAsOfEpochDate': 1767139200,
 'executiveTeam': [],
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 1292.9,
 'open': 1299.0,
 'dayLow': 1285.8,
 'dayHigh': 1306.7,
 'regularMarketPreviousClose': 1292.9,
 'regularMarketOpen': 1299.0,
 'regularMarketDayLow': 1285.8,
 'regularMarketDayHigh': 1306.7,
 'dividendRate': 9.0,
 'dividendYield': 0.7,
 'exDividendDate': 1750636800,
 'payoutRatio': 0.21260001,
 'fiveYearAvgDividendYield': 1.22,
 'beta': 0.364,
 'trailingPE': 30.57906,
 'forwardPE': 19.740618,
 'volume': 231061,
 'regularMarketVolume': 231061,
 'averageVolume': 355806,
 'averageVolume10days': 252300,
 'averageDailyVolume10Day': 252300,
 'bid': 0.0,
 'ask': 0.0,
 'marketCap': 221074194432,
 'fiftyTwoWeekLow': 786.3,
 'fiftyTwoWeekHigh': 1438.05,
 'priceToSalesTrailing12Months': 0.9249831,
 'fiftyDayAverage': 1213.242,
 'twoHundredDayAverage': 1113.4888,
 'trailingAnnualDividendRate': 0.0,
 'trailingAnnualDividendYield': 0.0,
 'currency': 'INR',
 'tradeable': False,
 'enterpriseValue': 246050717696,
 'profitMargins': 0.029560002,
 'floatShares': 112503246,
 'sharesOutstanding': 170772992,
 'heldPercentInsiders': 0.33636,
 'heldPercentInstitutions': 0.49994,
 'impliedSharesOutstanding': 170872000,
 'bookValue': 381.404,
 'priceToBook': 3.3922038,
 'lastFiscalYearEnd': 1743379200,
 'nextFiscalYearEnd': 1774915200,
 'mostRecentQuarter': 1751241600,
 'earningsQuarterlyGrowth': 1.297,
 'netIncomeToCommon': 7064900096,
 'trailingEps': 42.31,
 'forwardEps': 65.54,
 'enterpriseToRevenue': 1.029,
 'enterpriseToEbitda': 13.181,
 '52WeekChange': -0.07211244,
 'SandP52WeekChange': 0.16885936,
 'lastDividendValue': 9.0,
 'lastDividendDate': 1750636800,
 'quoteType': 'EQUITY',
 'currentPrice': 1293.8,
 'targetHighPrice': 1572.0,
 'targetLowPrice': 1235.0,
 'targetMeanPrice': 1408.3125,
 'targetMedianPrice': 1390.5,
 'recommendationKey': 'none',
 'numberOfAnalystOpinions': 16,
 'totalCash': 17585199104,
 'totalCashPerShare': 102.974,
 'ebitda': 18667374592,
 'totalDebt': 43135098880,
 'totalRevenue': 239003500544,
 'debtToEquity': 66.681,
 'revenuePerShare': 1431.926,
 'grossProfits': 63076098048,
 'earningsGrowth': 1.191,
 'revenueGrowth': 0.345,
 'grossMargins': 0.26391,
 'ebitdaMargins': 0.07811,
 'operatingMargins': 0.06415,
 'financialCurrency': 'INR',
 'symbol': 'KPIL.NS',
 'language': 'en-US',
 'region': 'US',
 'typeDisp': 'Equity',
 'quoteSourceName': 'Delayed Quote',
 'triggerable': True,
 'customPriceAlertConfidence': 'HIGH',
 'nameChangeDate': '2025-09-12',
 'cryptoTradeable': False,
 'regularMarketChange': 0.9000244,
 'regularMarketDayRange': '1285.8 - 1306.7',
 'fullExchangeName': 'NSE',
 'averageDailyVolume3Month': 355806,
 'fiftyTwoWeekLowChange': 507.50006,
 'fiftyTwoWeekLowChangePercent': 0.64542806,
 'fiftyTwoWeekRange': '786.3 - 1438.05',
 'fiftyTwoWeekHighChange': -144.25,
 'fiftyTwoWeekHighChangePercent': -0.10030945,
 'fiftyTwoWeekChangePercent': -7.211244,
 'earningsTimestamp': 1754560800,
 'earningsTimestampStart': 1762250400,
 'earningsTimestampEnd': 1762250400,
 'earningsCallTimestampStart': 1747625400,
 'earningsCallTimestampEnd': 1747625400,
 'isEarningsDateEstimate': False,
 'epsTrailingTwelveMonths': 42.31,
 'epsForward': 65.54,
 'epsCurrentYear': 57.68383,
 'priceEpsCurrentYear': 22.429163,
 'fiftyDayAverageChange': 80.558105,
 'fiftyDayAverageChangePercent': 0.066399045,
 'twoHundredDayAverageChange': 180.31128,
 'twoHundredDayAverageChangePercent': 0.16193363,
 'sourceInterval': 15,
 'exchangeDataDelayedBy': 15,
 'prevName': 'Kalpataru Power Transmission Limited',
 'exchange': 'NSI',
 'messageBoardId': 'finmb_9440441',
 'exchangeTimezoneName': 'Asia/Kolkata',
 'exchangeTimezoneShortName': 'IST',
 'gmtOffSetMilliseconds': 19800000,
 'market': 'in_market',
 'esgPopulated': False,
 'hasPrePostMarketData': False,
 'firstTradeDateMilliseconds': 1685418300000,
 'marketState': 'CLOSED',
 'corporateActions': [],
 'regularMarketTime': 1757671202,
 'regularMarketChangePercent': 0.06961284,
 'regularMarketPrice': 1293.8,
 'shortName': 'KALPATARU PROJECT INT LTD',
 'longName': 'Kalpataru Projects International Limited',
 'trailingPegRatio': None}

In [153]:
cedl.shape

(551, 9)

In [154]:
lo_daily_update.Create(cedl)

IntegrityError: (1062, "Duplicate entry 'NSE-KPIL-2023-05-30' for key 'stockdailyupdate.PRIMARY'")

In [147]:
cedl.fillna(0, inplace=True)
cedl.isna().sum()

StockExchange    0
Symbol           0
Date             0
Open             0
High             0
Low              0
Close            0
Volume           0
delivery         0
dtype: int64

In [100]:
dat = yf.download('570003.BO',period='1d',interval='1m')

C:\Users\Ravi\AppData\Local\Temp\ipykernel_20372\1355577963.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  dat = yf.download('570003.BO',period='1d',interval='1m')
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['570003.BO']: YFPricesMissingError('possibly delisted; no price data found  (period=1d) (Yahoo error = "No data found, symbol may be delisted")')

In [44]:
dat.columns[2][0]

'Low'

In [46]:
dat

Price,Close,High,Low,Open,Volume
Ticker,500295.BO,500295.BO,500295.BO,500295.BO,500295.BO
Datetime,,,,,
2025-09-12 13:30:00+00:00,450.950012,455.0,439.049988,439.049988,1217495

In [48]:
dat = yf.Ticker("500295.BO")

In [70]:
cedl = dat.history(period='10y')

cedl["Date"] = cedl.index
cedl["Date"] = cedl["Date"].dt.date
cedl.insert(0, "Date", cedl.pop("Date"))
cedl.pop("Dividends")
cedl.pop("Stock Splits")
cedl["delivery"] = 0
cedl.insert(0, "Symbol",dat.info["symbol"].split(".")[0])
cedl.insert(0, "StockExchange",get_exchange_from_ticker(dat))

In [71]:
cedl

,StockExchange,Symbol,Date,Open,High,Low,Close,Volume,Capital Gains,delivery
Date,,,,,,,,,,
2015-09-14 00:00:00-04:00,BSE,500295,2015-09-14,30.523004,31.856914,30.177757,31.699984,1111573,0.0,0
2015-09-15 00:00:00-04:00,BSE,500295,2015-09-15,31.699981,31.699981,30.303300,30.413151,912784,0.0,0
2015-09-16 00:00:00-04:00,BSE,500295,2015-09-16,31.291966,31.668601,30.523007,31.056570,896142,0.0,0
2015-09-17 00:00:00-04:00,BSE,500295,2015-09-17,31.056570,31.056570,31.056570,31.056570,0,0.0,0
2015-09-18 00:00:00-04:00,BSE,500295,2015-09-18,31.621526,31.919694,30.758408,31.087963,969355,0.0,0
...,...,...,...,...,...,...,...,...,...,...
2025-09-08 00:00:00-04:00,BSE,500295,2025-09-08,440.049988,442.450012,433.000000,434.399994,494056,0.0,0
2025-09-09 00:00:00-04:00,BSE,500295,2025-09-09,437.000000,437.700012,432.000000,432.500000,444474,0.0,0
2025-09-10 00:00:00-04:00,BSE,500295,2025-09-10,436.299988,437.200012,432.500000,433.649994,749401,0.0,0
2025-09-11 00:00:00-04:00,BSE,500295,2025-09-11,435.000000,439.750000,432.899994,437.600006,805830,0.0,0
2025-09-12 00:00:00-04:00,BSE,500295,2025-09-12,439.049988,455.000000,439.049988,450.950012,1217495,0.0,0

In [27]:
dat.info

{'quoteType': 'MUTUALFUND',
 'symbol': '500295.BO',
 'language': 'en-US',
 'region': 'US',
 'typeDisp': 'Fund',
 'quoteSourceName': 'Delayed Quote',
 'triggerable': False,
 'customPriceAlertConfidence': 'NONE',
 'epsTrailingTwelveMonths': 48.72,
 'sharesOutstanding': 3708509952,
 'bookValue': 106.26,
 'fiftyDayAverage': 279.106,
 'hasPrePostMarketData': False,
 'tradeable': False,
 'cryptoTradeable': False,
 'fiftyTwoWeekRange': '206.1 - 340.75',
 'fiftyTwoWeekLow': 206.1,
 'fiftyTwoWeekHigh': 340.75,
 'fiftyTwoWeekChangePercent': -6.884986,
 'earningsTimestampStart': 1713956340,
 'earningsTimestampEnd': 1714392000,
 'trailingAnnualDividendRate': 81.0,
 'fullExchangeName': 'YHD',
 'financialCurrency': 'INR',
 'averageDailyVolume3Month': 1309440,
 'averageDailyVolume10Day': 708186,
 'longName': 'Vedanta Limited',
 'marketState': 'CLOSED',
 'firstTradeDateMilliseconds': 663345000000,
 'priceHint': 2,
 'twoHundredDayAverage': 291.27676,
 'sourceInterval': 15,
 'exchangeDataDelayedBy': 0,
 'exchange': 'YHD',
 'messageBoardId': 'finmb_878252',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'gmtOffSetMilliseconds': -14400000,
 'market': 'us_market',
 'esgPopulated': False,
 'corporateActions': [],
 'regularMarketTime': 1561759658,
 'trailingPegRatio': None}

In [16]:
lo_daily_update.Create(cedl)

In [ ]:
df_vedl = dat.balance_sheet

In [163]:
#pip install nsepy

In [33]:
from nsepy import get_history
import datetime

data = get_history(
    symbol="VEDL",
    start=datetime.date(2025,1,1),
    end=datetime.date(2025,12,31)
)
print(data.head())

ValueError: cannot remove local variables from FrameLocalsProxy

# NSE Tools API

In [ ]:
#pip install nsetools
import nsetools as nse
from nsetools import Nse
import bsetools as bse

In [ ]:
nse1 = Nse()
#stock = nse1.get_quote('INFY')
#nse1.get_52_week_high()
nse1.get_top_gainers()
#print(stock)

In [ ]:
nse_stocks = nse.get_stock_codes()
len(nse_stocks)

In [ ]:
nse.get_all_index_quote()

In [177]:
import importlib
import calender
importlib.reload(calender)

In [178]:
import calender

In [174]:
calender.isLeapYear(1603)

False

In [180]:
calender.getYearPattern(1)

2

In [175]:
import datetime
print(datetime.date(1, 1, 1).strftime("%A"))

Monday

# Breeze-Connect API

In [ ]:
#pip install breeze-connect
import breeze_connect

# HTTP Call to API

In [51]:
import requests

headers = {
    "User-Agent": "Mozilla/5.0"
}
url = "https://www.nseindia.com/api/search/autocomplete?q=VEDL"
#url = "https://www.nseindia.com/get-quotes/equity?symbol=VEDL"

response = requests.get(url, headers=headers)
print(response.json())
print(response.status_code)

{'symbols': [{'symbol': 'VEDL', 'symbol_info': 'Vedanta Limited', 'symbol_suggest': [{'input': 'VEDL', 'weight': 20}, {'input': 'Vedanta Limited', 'weight': 15}], 'result_type': 'symbol', 'result_sub_type': 'equity', 'activeSeries': ['EQ', 'T0'], 'listing_date': '1998-05-13', 'url': '/get-quotes/equity?symbol=VEDL'}], 'mfsymbols': [], 'search_content': [{'title': 'List of Underlyings and Information', 'content': 'LIMITEDTITAN175TORRENT\nPHARMACEUTICALS LIMITEDTORNTPHARM176TRENT LIMITEDTRENT177TVS MOTOR COMPANY LIMITEDTVSMOTOR178ULTRATECH CEMENT LIMITED\nULTRACEMCO179UNITED BREWERIES LIMITEDUBL180UNITED SPIRITS LIMITEDMCDOWELL-N181UPL LIMITEDUPL182VEDANTA <b>LIMITEDVEDL183</b>', 'url': '/products-services/equity-derivatives-list-underlyings-information', 'result_type': 'content', 'result_sub_type': 'content'}], 'sitemap': []}
200

In [60]:
from datetime import datetime
a = response.json()
b = a['symbols'][0]['listing_date']
b = datetime.strptime(b, "%Y-%m-%d").date()
type(b)

datetime.date

In [68]:
import requests

headers = {
    "User-Agent": "Mozilla/5.0"
}
#url = "https://www.nseindia.com/api/search/autocomplete?q=VEDL"
url = "https://www.nseindia.com/get-quotes/equity?symbol=VEDL"

response = requests.get(url, headers=headers)
print(response.status_code)

200

# Others

In [3]:
def mixed_function(greeting, *args, **kwargs):
    print(greeting)
    for arg in args:
        print(f"Positional arg: {arg}")
    for key, value in kwargs.items():
        print(f"{key} = {value}")

mixed_function(
    "Hello!",
    "Alice", "Bob",
    age=25, city="Paris"
)

Hello!
Positional arg: Alice
Positional arg: Bob
age = 25
city = Paris

In [162]:
import importlib
import connection
importlib.reload(connection)

In [152]:
a = connection.RangeParser(connection.RangeParser.get_initial_rangetable())

In [159]:
filter = [
    connection.RangeTable(
        fieldname='CountryId',
        sign='I',
        option='EQ',
        low='1',
        high=''
    )
]

In [163]:
b = connection.RangeParser(filter)

In [164]:
b.get_parsed()

'CountryId = 1'

In [165]:
from moviepy.videotools import VideoFileClip

ModuleNotFoundError: No module named 'moviepy.videotools'

In [167]:
import moviepy
from pytube import YouTube

In [172]:
url = "https://www.youtube.com/watch?v=mr8GBzTsWqM"
yt = YouTube(url)

In [173]:
yt.title

HTTPError: HTTP Error 400: Bad Request

In [29]:
import requests

def get_share_capital(symbol: str):
    """
    Fetches face value, outstanding shares, and calculates share capital for an NSE stock.
    
    Args:
        symbol (str): Stock symbol as per NSE (e.g., 'VEDL', 'RELIANCE')
    
    Returns:
        dict: { 'face_value': float, 'outstanding_shares': int, 'share_capital': float }
    """
    url = f"https://www.nseindia.com/api/quote-equity?symbol={symbol}"
    headers = {"User-Agent": "Mozilla/5.0"}  # NSE blocks requests without UA
    
    session = requests.Session()
    session.headers.update(headers)
    res = session.get(url) #.json()
    print(res)
    """
    face_value = float(res["securityInfo"]["faceValue"])
    outstanding_shares = int(res["securityInfo"]["issuedSize"])
    share_capital = face_value * outstanding_shares
    
    return {
        "face_value": face_value,
        "outstanding_shares": outstanding_shares,
        "share_capital": share_capital
    }
    """

In [30]:
get_share_capital("VEDL")

<Response [401]>

In [ ]:
from mymodule.DatabaseConnection import CRUD
lo_country = CRUD('country')
lo_country.Read('')

         Field         Type Null  Key Default           Extra
0    CountryId          int   NO  PRI    None  auto_increment
1  CountryName  varchar(50)  YES         None

         Field         Type Null  Key Default           Extra
0    CountryId          int   NO  PRI    None  auto_increment
1  CountryName  varchar(50)  YES         None

:

In [3]:
from mymodule.DatabaseConnection import CRUD
lo_country = CRUD('v_blockdeal')

In [4]:
df = lo_country.Read('')

In [5]:
df.shape

(5150, 4)

In [7]:
import requests

url = "https://www.nseindia.com/api/historical/cm/equity"
params = {
    "symbol": "RELIANCE",
    "series": "EQ"
}

headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) "
                  "AppleWebKit/537.36 (KHTML, like Gecko) "
                  "Chrome/117.0.0.0 Safari/537.36",
    "Referer": "https://www.nseindia.com/"
}

session = requests.Session()
session.get("https://www.nseindia.com", headers=headers)  # to get cookies
response = session.get(url, headers=headers, params=params)

print(response.status_code)
print(response.json())

503

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [14]:
response.raw

In [25]:
import requests
from bs4 import BeautifulSoup

def get_cin_from_mca(company_name: str):
    """
    Fetches CIN (Corporate Identification Number) of an Indian company
    by scraping MCA portal search results.
    """
    try:
        # MCA company search URL
        url = "https://www.mca.gov.in/mcafoportal/viewCompanyMasterData.do"
        search_url = f"https://www.mca.gov.in/mcafoportal/findCompanyName.do"

        # Step 1: Search by name
        params = {"companyName": company_name}
        resp = requests.get(search_url, params=params, timeout=15)

        if resp.status_code != 200:
            raise Exception("Failed to reach MCA portal")

        soup = BeautifulSoup(resp.text, "html.parser")

        # Step 2: Try to find CIN in response (common pattern)
        cin_tag = soup.find(string=lambda s: "CIN" in s)  # Find line containing CIN
        if not cin_tag:
            print("CIN not found on MCA page.")
            return None

        # Step 3: Extract CIN
        cin_text = cin_tag.strip().split(":")[-1].strip()
        return cin_text

    except Exception as e:
        print(f"Error fetching CIN: {e}")
        return None

# Example
company_name = "Nestle India Limited"
cin = get_cin_from_mca(company_name)
print(f"{company_name} → CIN: {cin}")

Error fetching CIN: Failed to reach MCA portal
Nestle India Limited → CIN: None

In [205]:
# Update Dividend for Stocks
from mymodule.DatabaseConnection import CRUD
import yfinance as yf
import pandas as pd
import numpy as np

lo_stockcode = CRUD('StockExchange_stockcode')
df_stockcode = pd.DataFrame(lo_stockcode.Read(''))
df_sectorind = pd.DataFrame(columns=['sector','industry'])
sub = lambda a: 'NS' if a == 'NSE' else 'BO'

industry_set = set()
sector_set = set()

for i, code in df_stockcode[1151:].iterrows():
    if code['StockExchange'] != 'NSE':
        continue
    query_symbol = code['Symbol'] + '.' + sub(code['StockExchange'])
    #print(query_symbol)
    dat = yf.Ticker(query_symbol)
    
    if 'industry' in dat.info and 'sector' in dat.info:
        if dat.info['industry'] == '' or dat.info['sector'] == '':
            continue
        print(i, code['ISIN'], query_symbol)
        row = df_industry[df_industry['Name'] == dat.info['industry']]
        sector = row['SectorId'].values[0]
        industry = row['IndustryId'].values[0]
        ISIN = code['ISIN']
        sql = f'update market.stock set SectorId = {sector}, IndustryId = {industry} where ISIN = "{ISIN}"'
        
        lo_ind.cursor.execute(sql)
        lo_ind.connection.commit()
        #print(code['ISIN'])
        #print('Industry : ', dat.info['industry'])
        #row = df_industry[df_industry['Name'] == dat.info['industry']]
        #print( '\nSector ID : ', row['SectorId'].values[0], '\nIndustry ID : ', row['IndustryId'].values[0])

DataBase Disconnected
1151 INE201A01024 MANALIPETC.NS
1155 INE201K01015 EXPLEOSOL.NS
1156 INE201M01029 CLEDUCATE.NS
1157 INE201P01022 GRINFRA.NS
1158 INE202E01016 IREDA.NS
1160 INE202H01019 KERNEX.NS
1162 INE203A01020 ASTRAZEN.NS
1164 INE203G01027 IGL.NS
1165 INE203Y01012 SILLYMONKS.NS
1167 INE204A01010 IGPL.NS
1169 INE204E01012 AGARIND.NS
1171 INE205A01025 VEDL.NS
1173 INE205B01031 ELECON.NS
1175 INE205C01021 POLYMED.NS
1177 INE206B01013 ZODIACLOTH.NS
1178 INE206F01022 AIIL.NS
1180 INE206N01018 RELTD.NS
1182 INE207E01023 RAMRAT.NS
1184 INE208A01029 ASHOKLEY.NS
1186 INE208C01025 AEGISLOG.NS
1188 INE209A01019 SUNDROP.NS
1190 INE209B01025 RICOAUTO.NS
1192 INE209L01016 JWL.NS
1194 INE210A01017 WILLAMAGOR.NS
1196 INE210C01013 AROGRANITE.NS
1198 INE211B01039 PHOENIXLTD.NS
1200 INE211R01019 POWERMECH.NS
1202 INE212H01026 AIAENG.NS
1204 INE212I01016 SPAL.NS
1206 INE213A01029 ONGC.NS
1208 INE213C01025 BANCOINDIA.NS
1210 INE214A01019 CYBERTECH.NS
1212 INE214T01019 LTIM.NS
1214 INE215B01022 ORCHASP.NS
1216 INE215D01010 MAHEPC.NS
1217 INE215F01023 WIPL.NS
1219 INE215I01027 MAANALU.NS
1221 INE216A01030 BRITANNIA.NS
1223 INE216H01027 EDUCOMP.NS
1225 INE216P01012 AAVAS.NS
1227 INE217A01012 ZUARIIND.NS
1229 INE217B01036 KAJARIACER.NS
1231 INE217G01035 EQUIPPP.NS
1233 INE217K01011 RHFL.NS
1234 INE217L01019 SHRIRAMPPS.NS
1236 INE218C01016 AUSOMENT.NS
1238 INE218G01033 PALREDTEC.NS
1239 INE219Y01018 RMDRIP.NS
1241 INE220B01022 KPIL.NS
1243 INE220G01021 JSL.NS
1245 INE220J01025 FCONSUMER.NS
1246 INE220Q01020 MUFTI.NS
1248 INE221B01012 DYNAMATECH.NS
1250 INE221H01019 GTLINFRA.NS
1252 INE221J01015 SHARDACROP.NS
1255 INE224A01026 GREAVESCOT.NS
1256 INE224E01028 GATECH.NS
1258 INE224E01036 GATECHDVR.NS
1262 INE225D01027 SYMPHONY.NS
1264 INE226A01021 VOLTAS.NS
1266 INE226H01026 SADBHAV.NS
1268 INE227C01017 MMFL.NS
1270 INE227G01018 INDOWIND.NS
1271 INE227J01012 KALPATARU.NS
1272 INE227W01023 CLEAN.NS
1274 INE228A01035 USHAMART.NS
1276 INE228I01012 ASAHISONG.NS
1278 INE229A01017 ONWARDTEC.NS
1279 INE229C01021 SAGCEM.NS
1281 INE229H01012 NITINSPIN.NS
1283 INE230A01023 EIHOTEL.NS
1285 INE230B01021 CREATIVEYE.NS
1286 INE230R01035 RAMASTEEL.NS
1288 INE231C01019 SHREYANIND.NS
1290 INE231F01020 SASKEN.NS
1292 INE231G01010 ORBTEXP.NS
1294 INE232A01011 SHREDIGCEM.NS
1296 INE232I01014 SPARC.NS
1298 INE233A01035 GODREJIND.NS
1300 INE233B01017 BLUEDART.NS
1304 INE234I01028 KAUSHALYA.NS
1306 INE235A01022 FINCABLES.NS
1307 INE235C01028 SUMEETINDS.NS
1309 INE235C01036 SUMEETINDS.NS
1311 INE236A01020 HCL-INSYS.NS
1312 INE236E01022 ELLEN.NS
1314 INE236G01019 TVSELECT.NS
1315 INE236Y01012 NGIL.NS
1317 INE237A01028 KOTAKBANK.NS
1319 INE238A01034 AXISBANK.NS
1321 INE239A01024 NESTLEIND.NS
1323 INE239C01020 STYLAMIND.NS
1325 INE239D01028 OMINFRAL.NS
1327 INE240C01028 UMESLTD.NS
1329 INE242A01010 IOC.NS
1331 INE242C01024 ANANTRAJ.NS
1333 INE243D01012 BFUTILITIE.NS
1335 INE244A01016 DENORA.NS
1337 INE244B01030 PATELENG.NS

HTTP Error 404:

1340 INE244O01017 UNIPARTS.NS
1342 INE245A01021 TATAPOWER.NS
1344 INE245I01016 NAGREEKCAP.NS
1346 INE246B01019 RAMCOSYS.NS
1348 INE246F01010 GSPL.NS
1350 INE247D01039 JINDWORLD.NS
1352 INE247M01014 SPECIALITY.NS
1354 INE248A01017 ITI.NS
1356 INE249Z01020 MAZDOCK.NS
1358 INE250A01039 KIRLOSIND.NS
1360 INE250B01029 VINYLINDIA.NS
1362 INE250K01012 DLINKINDIA.NS
1363 INE250Z01010 INDOUS.NS
1365 INE251B01027 ZENTEC.NS
1366 INE251C01025 ABMINTLLTD.NS
1367 INE251H01024 GVKPIL.NS
1371 INE253B01015 21STCENMGM.NS
1372 INE254N01026 HNDFDS.NS
1374 INE255A01020 EPL.NS
1376 INE255D01024 GULPOLY.NS
1378 INE255X01014 MSTCLTD.NS
1379 INE255Z01019 E2E.NS
1381 INE256A01028 ZEEL.NS
1383 INE256C01024 TRIVENI.NS
1385 INE256H01015 DYNPRO.NS
1387 INE256Z01025 AKSHAR.NS
1389 INE257A01026 BHEL.NS
1391 INE258A01016 BEML.NS
1393 INE258B01022 FDC.NS
1395 INE258G01013 SUMICHEM.NS
1396 INE258Y01016 LGHL.NS
1398 INE259A01022 COLPAL.NS
1400 INE260B01028 GODFRYPHLP.NS
1402 INE260D01016 OLECTRA.NS
1404 INE262A01018 HMT.NS
1406 INE262H01021 PERSISTENT.NS
1407 INE262Z01023 LATTEYS.NS
1409 INE263A01024 BEL.NS
1410 INE263M01029 RUSTOMJEE.NS
1411 INE263W01010 MAHESHWARI.NS
1413 INE264T01014 CAPACITE.NS
1415 INE265F01028 ENIL.NS
1419 INE266F01018 APTECHT.NS
1420 INE266Y01019 DPABHUSHAN.NS
1422 INE267A01025 HINDZINC.NS
1424 INE267I01010 ARSSINFRA.NS
1426 INE268B01013 KREBSBIO.NS
1427 INE268H01044 NAVKARURB.NS
1428 INE268L01046 SHEKHAWATI.NS
1430 INE269A01021 SONATSOFTW.NS
1432 INE269B01029 LMW.NS
1436 INE270I01022 VISHNU.NS
1438 INE271B01025 MAHSEAMLES.NS
1440 INE271C01023 DLF.NS
1442 INE272L01022 SURANASOL.NS
1444 INE273D01019 AARVEEDEN.NS
1446 INE274C01019 WENDT.NS
1448 INE274F01020 WESTLIFE.NS
1452 INE274J01014 OIL.NS
1454 INE274V01019 SHANKARA.NS
1455 INE274Y01021 AJAXENGG.NS
1457 INE275B01026 HUHTAMAKI.NS
1459 INE275D01022 AMNPLST.NS
1461 INE276A01018 GARFIBRES.NS
1463 INE276C01014 EIHAHOTELS.NS
1465 INE276G01015 ASIANENE.NS
1467 INE277A01016 SWARAJENG.NS
1469 INE277B01014 PUNJABCHEM.NS
1470 INE277C01012 REGENCERAM.NS
1472 INE278B01020 RAMANEWS.NS
1474 INE278G01037 CYBERMEDIA.NS
1476 INE278H01035 SANDHAR.NS
1478 INE278M01019 NAVKARCORP.NS
1479 INE278R01034 DHARAN.NS
1480 INE278Y01022 CAMPUS.NS
1482 INE279A01012 UNIVCABLES.NS
1484 INE280A01028 TITAN.NS
1486 INE280H01015 SAHYADRI.NS
1488 INE281A01026 CENTEXT.NS
1490 INE281B01032 LLOYDSME.NS
1491 INE283A01014 PRECOT.NS
1493 INE283H01019 ROHLTD.NS
1495 INE284A01012 ESABINDIA.NS
1496 INE284H01025 DAMCAPITAL.NS
1497 INE284S01014 SJS.NS
1499 INE285A01027 ELGIEQUIP.NS
1503 INE285H01022 ATLANTAA.NS
1505 INE285J01028 SIS.NS
1507 INE285K01026 TECHNOE.NS
1509 INE286H01012 VISASTEEL.NS
1511 INE287B01021 SUBROS.NS
1512 INE287C01037 MICEL.NS
1514 INE287Z01012 GAYAHWS.NS
1516 INE288A01013 MAHSCOOTER.NS
1518 INE288B01029 DEEPAKNTR.NS
1520 INE289A01011 NAHARINDUS.NS
1522 INE289B01019 GICHSGFIN.NS
1524 INE289C01025 TEAMGTY.NS
1526 INE290A01027 NAHARSPING.NS
1527 INE290S01011 CARTRADE.NS
1529 INE291A01017 GRWRHITECH.NS
1531 INE291D01011 KDDL.NS
1532 INE291W01037 GLOBAL.NS
1534 INE292B01021 HBLENGINE.NS
1536 INE293A01013 ROLTA.NS
1538 INE293B01029 HAVISHA.NS
1542 INE294B01019 SMLISUZU.NS
1544 INE294G01026 ROML.NS
1546 INE294Z01018 ANUP.NS
1548 INE295A01018 EVERESTIND.NS
1550 INE295D01020 NACLIND.NS
1552 INE295F01017 BUTTERFLY.NS
1554 INE296A01032 BAJFINANCE.NS
1556 INE296C01020 FIBERWEB.NS
1558 INE296G01013 MUTHOOTCAP.NS
1560 INE296H01011 EMKAY.NS
1562 INE297H01019 GALLANTT.NS
1564 INE298A01020 CUMMINSIND.NS
1566 INE298G01027 AJMERA.NS
1568 INE298I01015 ARIES.NS
1570 INE298J01013 NAM-INDIA.NS
1571 INE299N01021 WAAREERTL.NS
1573 INE299U01018 CROMPTON.NS
1575 INE301A01014 RAYMOND.NS
1577 INE301D01026 RUBYMILLS.NS
1579 INE302A01020 EXIDEIND.NS
1581 INE303A01010 DICIND.NS
1583 INE303R01014 KALYANKJIL.NS
1585 INE304A01026 MUKANDLTD.NS
1586 INE304W01038 BLUESTONE.NS
1588 INE305A01015 TFCILTD.NS
1590 INE305C01029 PANAMAPET.NS
1592 INE306A01021 BAJAJHIND.NS
1594 INE306C01019 ENERGYDEV.NS
1596 INE306L01010 QUICKHEAL.NS
1598 INE306R01017 INTELLECT.NS
1600 INE308A01027 NAHARPOLY.NS
1602 INE308E01029 SVPGLOB.NS
1604 INE309M01020 PREMIERPOL.NS
1606 INE310A01015 NILKAMAL.NS
1608 INE310C01029 HINDCOMPOS.NS
1610 INE312C01025 SYNCOMF.NS
1613 INE314C01013 SOMATEX.NS
1615 INE314G01014 KALYANIFRG.NS
1617 INE314T01025 GOKULAGRO.NS
1619 INE316L01019 BHARATWIRE.NS
1621 INE317F01035 NESCO.NS
1622 INE317I01021 METROBRAND.NS
1624 INE318A01026 PIDILITIND.NS
1625 INE318D01020 ZENITHSTL.NS
1627 INE319B01014 BYKE.NS
1628 INE319Y01024 TIRUPATIFL.NS
1630 INE320B01020 CENTUM.NS
1632 INE320J01015 RITES.NS
1634 INE320L01011 DHUNINV.NS
1636 INE320X01016 SMSLIFE.NS
1638 INE321T01012 DOMS.NS
1640 INE322A01010 GILLETTE.NS
1642 INE323A01026 BOSCHLTD.NS
1643 INE323B01024 AVONMORE.NS
1645 INE323C01030 INDIANHUME.NS
1647 INE323I01011 PURVA.NS
1649 INE323J01019 SOMICONVEY.NS
1651 INE324A01032 JINDALSAW.NS
1653 INE324L01013 RPPINFRA.NS
1654 INE324X01026 SARVESHWAR.NS
1656 INE325A01013 TIMKEN.NS
1658 INE325C01035 DOLLAR.NS
1659 INE325D01025 SINDHUTRAD.NS
1661 INE326A01037 LUPIN.NS
1663 INE326B01035 ALMONDZ.NS
1664 INE326T01011 NIRAJISPAT.NS
1666 INE330H01018 RCOM.NS
1667 INE330T01021 HAPPYFORGE.NS
1669 INE331A01037 RAMCOCEM.NS
1671 INE332A01027 THOMASCOOK.NS
1673 INE332H01014 INDOTECH.NS
1675 INE334A01023 STERTOOLS.NS
1678 INE335A01020 SURYAROSNI.NS
1680 INE335K01011 COFFEEDAY.NS
1682 INE335W01016 GANGESSECU.NS
1683 INE335Y01020 IRCTC.NS
1685 INE336H01023 GAYAPROJ.NS
1686 INE336X01012 TOTAL.NS
1688 INE337A01034 LGBBROSLTD.NS
1690 INE337M01021 INDOTHAI.NS
1692 INE338A01024 TIRUMALCHM.NS
1694 INE338D01028 BODALCHEM.NS
1695 INE338H01029 CONCORDBIO.NS
1697 INE338I01027 MOTILALOFS.NS
1699 INE340A01012 BIRLACORPN.NS
1701 INE341R01014 DTIL.NS
1703 INE342A01018 PREMIER.NS
1704 INE342G01023 NIITMTS.NS
1706 INE342J01019 ZFCVINDIA.NS
1708 INE343B01030 RAJESHEXPO.NS
1709 INE343G01021 BHARTIHEXA.NS
1711 INE343H01029 SOLARINDS.NS
1712 INE344S01016 INFOBEAN.NS
1714 INE344T01014 BELLACASA.NS
1716 INE345A01011 HINDOILEXP.NS
1718 INE345B01019 CEREBRAINT.NS
1719 INE345H01024 CIFL.NS
1721 INE346W01013 APEX.NS
1723 INE347A01017 MANGLMCEM.NS
1725 INE347G01014 PETRONET.NS
1727 INE347W01011 MAGADSUGAR.NS
1729 INE348A01023 ASHAPURMIN.NS
1731 INE348B01021 CENTURYPLY.NS
1733 INE348L01012 MASFIN.NS
1735 INE349A01021 NRBBEARING.NS
1737 INE349W01017 AVADHSUGAR.NS
1738 INE349Y01013 IDEAFORGE.NS
1740 INE350C01017 OPTIEMUS.NS
1742 INE350H01032 BLKASHYAP.NS
1744 INE350Z01018 GLOSTERLTD.NS
1746 INE351A01035 UNICHEMLAB.NS
1748 INE351F01018 JPPOWER.NS
1750 INE353A01023 NDLVENTURE.NS
1752 INE353H01010 SGL.NS
1754 INE353K01014 ITDC.NS
1756 INE354C01027 BHAGERIA.NS
1758 INE355A01028 SOMANYCERA.NS
1760 INE356A01018 MPHASIS.NS
1762 INE358A01014 ABBOTINDIA.NS
1763 INE358U01012 ZOTA.NS
1765 INE360C01024 DPSCLTD.NS
1767 INE360L01017 FMNL.NS
1769 INE361B01024 DIVISLAB.NS
1770 INE362A01016 PVP.NS
1772 INE363A01022 ASIANHOTNR.NS
1774 INE363M01019 SHEMAROO.NS
1777 INE364A01020 JAYSREETEA.NS
1779 INE364U01010 ADANIGREEN.NS
1780 INE364Z01019 REPL.NS
1782 INE365B01017 DATAMATICS.NS
1784 INE365D01021 ASHIANA.NS
1785 INE365I01020 NBIFIN.NS
1787 INE366A01041 DWARKESH.NS
1789 INE366I01010 VRLLOG.NS
1791 INE367G01038 PFOCUS.NS
1793 INE368I01016 NIRAJ.NS
1794 INE368U01029 UNITEDPOLY.NS
1796 INE369A01029 EXCELINDUS.NS
1797 INE369C01017 NORBTEAEXP.NS
1799 INE369I01014 IL&FSENGG.NS
1801 INE370D01013 MANORG.NS
1803 INE370E01029 VIVIDHA.NS
1805 INE371A01025 GRAPHITE.NS
1807 INE371C01013 PODDARMENT.NS
1809 INE371P01015 AMBER.NS
1811 INE372A01015 APARINDS.NS
1812 INE372C01037 PRECWIRE.NS
1814 INE373A01013 BASF.NS
1816 INE374B01019 MUKTAARTS.NS
1817 INE375Y01018 RELIABLE.NS
1820 INE376G01013 BIOCON.NS
1822 INE377E01024 COASTCORP.NS
1823 INE377N01017 WAAREEENER.NS
1824 INE377Y01014 BAJAJHFL.NS
1826 INE378D01032 MADHUCON.NS
1827 INE379A01028 ITCHOTELS.NS
1829 INE382M01027 BARBEQUE.NS
1830 INE382T01030 GVPTECH.NS
1832 INE382Z01011 GRSE.NS
1834 INE383A01012 INDIACEM.NS
1836 INE383H01017 MALUPAPER.NS
1838 INE384A01010 RANEHOLDIN.NS
1840 INE384C01016 YUKEN.NS
1842 INE385C01021 SARDAEN.NS
1844 INE385I01010 ALPA.NS
1846 INE385W01011 DCAL.NS
1848 INE386A01023 VESUVIUS.NS
1850 INE386C01029 ASTRAMICRO.NS
1852 INE386D01027 SBCL.NS
1854 INE387A01021 SUNDRMFAST.NS
1856 INE387I01016 MAGNUM.NS
1858 INE388A01029 GANESHBE.NS
1860 INE388G01026 TICL.NS
1861 INE388Y01029 NYKAA.NS
1863 INE389C01015 MALLCOM.NS
1865 INE389H01022 KEC.NS
1867 INE389K01018 WELINV.NS
1869 INE390G01014 GPTINFRA.NS
1871 INE390H01020 KAMDHENU.NS
1873 INE391D01019 TRF.NS
1874 INE391J01032 JTLIND.NS
1876 INE392A01021 VISAKAIND.NS
1878 INE392B01011 PNC.NS
1880 INE393A01011 DELTAMAGNT.NS
1882 INE393P01035 DIAMONDYD.NS
1883 INE395H01011 STEELCITY.NS
1884 INE395N01027 TVSSCS.NS
1885 INE395U01014 NINSYS.NS
1887 INE397D01024 BHARTIARTL.NS
1889 INE397H01017 LOKESHMACH.NS
1891 INE398A01010 VENKEYS.NS
1892 INE398B01018 UMIYA-MRO.NS
1894 INE398R01022 SYNGENE.NS
1896 INE399C01030 SUPRAJIT.NS
1897 INE399G01023 RKFORGE.NS
1899 INE399K01017 RTNPOWER.NS
1901 INE399L01023 ATGL.NS
1903 INE401H01017 KKCL.NS
1904 INE403Y01018 INNOVANA.NS
1905 INE404A01024 ABSLAMC.NS
1907 INE405C01035 LINCOLN.NS
1909 INE405E01023 UNOMINDA.NS
1911 INE406A01037 AUROPHARMA.NS
1913 INE406M01024 ERIS.NS
1915 INE409B01013 SWELECTES.NS
1917 INE410B01037 VINATIORGA.NS
1919 INE410P01011 NH.NS
1921 INE411B01019 VENUSREM.NS
1923 INE411D01015 SKMEGGPROD.NS
1925 INE411H01032 RSYSTEMS.NS
1926 INE411U01027 BAJAJHCARE.NS
1927 INE411Y01011 DIL.NS
1928 INE412C01023 JMA.NS
1930 INE412G01024 BCLIND.NS
1931 INE412U01025 BIGBLOC.NS
1933 INE413B01023 RUCHINFRA.NS
1934 INE413G01022 TPLPLASTEH.NS
1936 INE414A01015 MADRASFERT.NS
1937 INE414B01021 ANTGRAPHIC.NS
1939 INE414D01027 BHAGCHEM.NS
1941 INE414G01012 MUTHOOTFIN.NS
1943 INE415A01038 AGI.NS
1945 INE415D01024 BHARATSE.NS
1947 INE415G01027 RVNL.NS
1949 INE415I01015 KIRIINDUS.NS
1951 INE416A01044 SABTNL.NS
1953 INE416D01022 BLISSGVS.NS
1956 INE417B01040 DSSL.NS
1958 INE417C01014 PILANIINVS.NS
1959 INE417T01026 POLICYBZR.NS
1961 INE418H01029 ALLCARGO.NS
1963 INE418L01021 NAZARA.NS
1964 INE418N01035 ESSENTIA.NS
1965 INE419A01022 KOTARISUG.NS
1967 INE419D01026 CLSEL.NS
1968 INE419M01027 TDPOWERSYS.NS
1970 INE419U01012 HAPPSTMNDS.NS
1971 INE420B01036 ARIHANTCAP.NS
1972 INE420C01059 PAISALO.NS
1974 INE421A01028 ABAN.NS
1976 INE421C01016 TVSSRICHAK.NS
1978 INE421D01022 CCL.NS
1981 INE423A01024 ADANIENT.NS
1982 INE423Y01016 SBFC.NS
1984 INE424C01010 GINNIFILA.NS
1986 INE424H01027 SUNTV.NS
1989 INE425B01027 BCG.NS
1991 INE425Y01011 RPSGVENT.NS
1993 INE426A01027 ALEMBICLTD.NS
1995 INE426D01013 GOACARBON.NS
1996 INE426Z01016 OBCL.NS
1998 INE427F01016 CHALET.NS
2000 INE428Q01011 SURYODAY.NS
2002 INE429E01023 SAFARI.NS
2004 INE429I01024 CCCL.NS
2005 INE430N01022 VISHWARAJ.NS
2006 INE431F01018 PKTEA.NS
2008 INE435A01051 ANDHRAPAP.NS
2010 INE435C01024 TEXINFRA.NS
2012 INE435G01025 DHANUKA.NS
2014 INE436A01026 ANSALAPI.NS
2016 INE437A01024 APOLLOHOSP.NS
2018 INE437B01014 KAKATCEM.NS
2020 INE438A01022 APOLLOTYRE.NS
2021 INE438K01021 KALAMANDIR.NS
2023 INE439A01020 ASAHIINDIA.NS
2025 INE439E01022 SKIPPER.NS
2026 INE439T01012 NITIRAJ.NS
2028 INE440A01010 ASHIMASYN.NS
2030 INE440L01017 TIJARIA.NS
2032 INE442H01029 ASHOKA.NS
2034 INE442P01014 SUYOG.NS
2036 INE445C01015 XPROINDIA.NS
2037 INE446A01025 ATLASCYCLE.NS
2039 INE448G01010 NATHBIOGEN.NS
2041 INE449A01011 AUTOAXLES.NS
2044 INE449G01018 AGRITECH.NS
2046 INE450D01021 PITTIENG.NS
2048 INE450E01029 SUKHJITS.NS
2050 INE450G01024 VIPCLOTHNG.NS
2052 INE450U01017 ROUTE.NS
2054 INE451A01017 FORCEMOT.NS
2055 INE451D01029 RAJRATAN.NS
2056 INE451F01024 APOLSINHOT.NS
2058 INE451L01014 MAHASTEEL.NS
2060 INE452L01012 INCREDIBLE.NS
2063 INE453B01029 COMPUSOFT.NS
2065 INE453D01025 SARLAPOLY.NS
2067 INE454M01024 NAGAFERT.NS
2068 INE454P01035 TRANSRAILL.NS
2071 INE455I01029 KSCL.NS
2073 INE455K01017 POLYCAB.NS
2076 INE456Z01021 MEDIASSIST.NS
2078 INE457A01014 MAHABANK.NS
2080 INE457F01013 SALZERELEC.NS
2082 INE457L01029 PGEL.NS
2084 INE458B01036 BHAGYANGR.NS
2085 INE458F01011 UNITEDTEA.NS
2087 INE459A01010 BANARISUG.NS
2089 INE460C01014 GANESHHOUC.NS
2091 INE460H01021 STARCEMENT.NS
2093 INE461B01014 REPRO.NS
2095 INE461C01038 GREENPLY.NS
2096 INE461D01028 HLEGLAS.NS
2098 INE462A01022 BAYERCROP.NS
2100 INE463A01038 BERGEPAINT.NS
2101 INE463V01026 ANANDRATHI.NS
2103 INE464A01036 BBL.NS
2105 INE465A01025 BHARATFORG.NS
2107 INE466L01038 360ONE.NS
2109 INE467B01029 TCS.NS
2111 INE470A01017 3MINDIA.NS
2113 INE470Y01017 NIACL.NS
2115 INE471W01019 PALASHSECU.NS
2117 INE472A01039 BLUESTARCO.NS
2118 INE472B01011 BLUECOAST.NS
2120 INE472M01018 MTEDUCARE.NS
2122 INE473A01011 LINDEINDIA.NS
2124 INE473B01035 HATSUN.NS
2126 INE473D01015 KINGFA.NS
2128 INE474C01023 REMSONSIND.NS
2130 INE474E01029 BHANDARI.NS
2131 INE474L01016 OMKARCHEM.NS
2132 INE474Q01031 MEDANTA.NS
2134 INE475B01022 HIKAL.NS
2136 INE475E01026 CAPLIPOINT.NS
2138 INE476A01022 CANBK.NS
2140 INE477A01020 CANFINHOME.NS
2142 INE477B01010 DVL.NS
2144 INE479D01038 KRITI.NS
2146 INE480C01038 SDBL.NS
2147 INE480M01011 THOMASCOTT.NS
2149 INE481G01011 ULTRACEMCO.NS
2151 INE481N01025 HOMEFIRST.NS
2153 INE481Y01014 GICRE.NS
2154 INE481Z01011 UNIINFO.NS
2156 INE482A01020 CEATLTD.NS
2158 INE482B01010 TERASOFT.NS
2160 INE482D01024 CARYSIL.NS
2162 INE482J01021 SHAH.NS
2164 INE483A01010 CENTRALBK.NS
2166 INE483B01026 ICIL.NS
2168 INE483C01032 TANLA.NS
2170 INE483S01020 INFIBEAM.NS
2171 INE484C01030 VEEDOL.NS
2173 INE484I01029 PRECAM.NS
2175 INE484J01027 GODREJPROP.NS
2177 INE485A01015 CENTENKA.NS
2179 INE485C01029 IOLCP.NS
2180 INE486A01021 CESC.NS
2181 INE486R01017 GPTHEALTH.NS
2182 INE486Y01013 TOUCHWOOD.NS
2183 INE488A01050 CHEMPLASTS.NS
2185 INE488B01017 TASTYBITE.NS
2187 INE488D01021 AVTNPL.NS
2189 INE488V01015 PSPPROJECT.NS
2191 INE489G01022 ANUHPHR.NS
2193 INE489L01022 IIFLCAPS.NS
2195 INE490G01020 MOIL.NS
2197 INE491A01021 CUB.NS
2198 INE491J01022 ASKAUTOLTD.NS
2199 INE491V01019 CROWN.NS
2201 INE492A01029 HEUBACHIND.NS
2204 INE494B01023 TVSMOTOR.NS
2206 INE495A01022 DALMIASUG.NS
2208 INE495B01038 SUVEN.NS
2210 INE495C01010 SANGAMIND.NS
2212 INE495P01012 BECTORFOOD.NS
2214 INE495S01016 HPL.NS
2216 INE497B01018 SEAMECLTD.NS
2218 INE497D01022 DAMODARIND.NS
2219 INE497S01012 GODAVARIB.NS
2221 INE498A01018 DCM.NS
2223 INE498B01024 SHOPERSTOP.NS
2225 INE498E01010 SALONA.NS
2227 INE498L01015 LTF.NS
2229 INE498Q01014 VINCOFE.NS
2231 INE499A01024 DCMSHRIRAM.NS
2233 INE500A01029 DCW.NS
2235 INE500L01026 SHK.NS
2236 INE500X01013 LEXUS.NS
2238 INE501A01019 DEEPAKFERT.NS
2240 INE501G01024 HTMEDIA.NS
2243 INE501Y01019 SCPL.NS
2245 INE503A01015 DCBBANK.NS
2246 INE503B01021 STEELXIND.NS
2248 INE505A01010 DMCC.NS
2250 INE505C01016 PRAENG.NS
2251 INE505V01016 EUROBOND.NS
2252 INE505Y01010 VINEETLAB.NS
2254 INE506A01018 DREDGECORP.NS
2255 INE506W01012 KRISHANA.NS
2257 INE506Z01015 DHRUV.NS
2259 INE508G01029 TIMETECHNO.NS
2260 INE508K01013 RHL.NS
2262 INE509F01029 CUPID.NS
2264 INE510A01028 ENGINERSIN.NS
2265 INE510W01014 INOXGREEN.NS
2267 INE511C01022 POONAWALLA.NS
2268 INE511Y01018 MMP.NS
2270 INE512B01022 FCSSOFT.NS
2271 INE513A01022 SCHAEFFLER.NS
2272 INE514Y01020 MOKSH.NS
2274 INE516A01017 UFLEX.NS
2276 INE516K01024 GOENKA.NS
2278 INE517B01013 TTML.NS
2280 INE517F01014 GPPL.NS
2282 INE518E01015 ZIMLAB.NS
2284 INE519A01011 FOSECOIND.NS
2286 INE519C01017 SUMMITSEC.NS
2288 INE520A01027 ZENSARTECH.NS
2290 INE520H01022 BEARDSELL.NS
2291 INE520Y01019 ICEMAKE.NS
2293 INE521J01018 CPCAP.NS
2295 INE522D01027 MANAPPURAM.NS
2297 INE522F01014 COALINDIA.NS
2299 INE523B01011 AKSHOPTFBR.NS
2301 INE524A01029 GABRIEL.NS
2303 INE524B01027 GANDHITUBE.NS
2305 INE524L01026 KRIDHANINF.NS
2307 INE526B01014 CALSOFT.NS
2308 INE526E01018 SHRIPISTON.NS
2311 INE527H01019 UFO.NS
2312 INE528A01020 GKWLIMITED.NS
2314 INE528G01035 YESBANK.NS
2316 INE529A01010 FMGOETZE.NS
2318 INE529D01014 PATINTLOG.NS
2320 INE529F01035 SIGIND.NS
2322 INE529I01021 KUANTUM.NS
2324 INE530B01024 IIFL.NS
2326 INE531A01024 KANSAINER.NS
2328 INE531E01026 HINDCOPPER.NS
2329 INE531F01015 NUVAMA.NS
2331 INE532F01054 EDELWEISS.NS
2333 INE533D01032 RAJRILTD.NS
2335 INE535D01037 ROTO.NS
2337 INE535F01024 RAJOOENG.NS
2339 INE536A01023 GRINDWELL.NS
2341 INE536H01010 CIEINDIA.NS
2343 INE538A01037 GFLLIMITED.NS
2345 INE539A01019 GHCL.NS
2347 INE539B01017 VIRINCHI.NS
2349 INE540A01017 GLFL.NS
2351 INE540G01014 AMBIKCO.NS
2353 INE540H01012 VOLTAMP.NS
2355 INE540L01014 ALKEM.NS
2357 INE541A01023 GMMPFAUDLR.NS
2360 INE542B01011 AKSHARCHEM.NS
2362 INE542C01019 NKIND.NS
2364 INE542W01025 KPIGREEN.NS
2365 INE542Z01028 KAPSTON.NS
2366 INE543V01017 ACEINTEG.NS
2368 INE544A01019 HARRMALAYA.NS
2370 INE544H01014 JHS.NS
2371 INE544R01021 GREENLAM.NS
2373 INE545A01024 HEG.NS
2375 INE545H01011 TIIL.NS
2377 INE545L01039 MANCREDIT.NS
2379 INE545U01014 BANDHANBNK.NS
2381 INE546C01010 PICCADIL.NS
2382 INE546V01010 EIFFL.NS
2384 INE546Y01022 PRAXIS.NS
2386 INE547B01028 XTGLOBAL.NS
2388 INE547E01014 IMPAL.NS
2390 INE548A01028 HFCL.NS
2392 INE548C01032 EMAMILTD.NS
2393 INE548Z01017 LAGNAM.NS
2395 INE549A01026 HCC.NS
2397 INE550B01022 HBSL.NS
2399 INE550C01020 URJA.NS
2400 INE550H01011 SUPREMEINF.NS
2402 INE551D01018 PAKKA.NS
2404 INE551W01018 UJJIVANSFB.NS
2406 INE552D01024 CONFIPET.NS
2407 INE552Z01027 ABDL.NS
2409 INE553C01016 NECCLTD.NS
2411 INE555B01013 AXISCADES.NS
2412 INE555Z01020 TARACHAND.NS
2414 INE557A01011 BIRLANU.NS
2416 INE557B01019 LIBERTSHOE.NS
2417 INE557Z01018 PIGL.NS
2421 INE558D01021 CORALFINAC.NS
2422 INE558R01013 HECPROJECT.NS
2424 INE559A01017 IFBIND.NS
2426 INE559D01011 CREST.NS
2428 INE559N01010 SRGHFL.NS
2429 INE559R01029 LANDMARK.NS
2431 INE560A01023 INDIAGLYCO.NS
2433 INE560K01014 PFS.NS
2435 INE561C01019 BHARATGEAR.NS
2437 INE561H01026 PARSVNATH.NS
2439 INE561M01018 ISHANCH.NS
2441 INE562A01011 INDIANB.NS
2443 INE562B01019 RAJSREESUG.NS
2444 INE562X01013 UNIVASTU.NS
2446 INE563J01010 ASTEC.NS
2448 INE565A01014 IOB.NS
2450 INE565L01011 ZEELEARN.NS
2452 INE565V01010 VALIANTORG.NS
2454 INE566K01011 ISFT.NS
2455 INE567A01028 NIPPOBATRY.NS
2456 INE568Z01015 URAVIDEF.NS
2458 INE569C01020 ORIENTCER.NS
2460 INE570A01022 IONEXCHANG.NS
2462 INE570D01018 ARROWGREEN.NS
2463 INE570L01029 SAILIFE.NS
2464 INE571A01038 IPCALAB.NS
2466 INE571B01036 JAYBARMARU.NS
2468 INE572A01036 JBCHEPHARM.NS
2470 INE572E01012 PNBHOUSING.NS
2472 INE572G01025 LANCORHOL.NS
2474 INE572J01011 SPANDANA.NS
2476 INE573A01042 JKTYRE.NS
2478 INE573K01025 RUSHIL.NS
2480 INE573R01012 SEYAIND.NS
2482 INE575C01027 INTLCONV.NS
2483 INE575P01011 STARHEALTH.NS
2485 INE576I01022 JKIL.NS
2487 INE576O01020 LXCHEM.NS
2489 INE577A01027 MUNJALSHOW.NS
2491 INE577L01016 STEL.NS
2493 INE578A01017 HEIDELBERG.NS
2495 INE579C01029 VIMTALABS.NS
2496 INE581X01021 GLOBE.NS
2498 INE583B01015 SANDESH.NS
2500 INE583C01021 DECCANCE.NS
2502 INE583D01011 UGROCAP.NS
2503 INE583L01014 AGSTRA.NS
2505 INE583R01029 PRITIKAUTO.NS
2507 INE583V01021 RADHIKAJWE.NS
2509 INE584A01023 NMDC.NS
2511 INE584F01014 MANGALAM.NS
2513 INE585B01010 MARUTI.NS
2515 INE586B01026 TAJGVK.NS
2517 INE586G01017 GULFPETRO.NS
2519 INE586V01016 TCIEXP.NS
2520 INE586X01012 GTECJAINX.NS
2522 INE587G01015 KAYA.NS
2524 INE589A01014 NLCINDIA.NS
2526 INE590L01019 VASWANI.NS
2527 INE591A01010 OILCOUNTUB.NS
2529 INE591D01014 DIAMINESQ.NS
2531 INE591G01025 COFORGE.NS
2533 INE592A01026 ORIENTPPR.NS
2535 INE592B01024 TTL.NS
2536 INE593W01028 FOCUS.NS
2538 INE594B01012 BSL.NS
2540 INE594H01019 THYROCARE.NS
2542 INE596F01018 PTCIL.NS

HTTP Error 404:

2546 INE596I01012 CAMS.NS
2548 INE597I01028 SHARDAMOTR.NS
2550 INE597J01018 SHALBY.NS
2552 INE597L01014 LOVABLE.NS
2554 INE598C01011 HISARMETAL.NS
2556 INE599M01018 JUSTDIAL.NS
2558 INE600A01035 PILITA.NS
2560 INE600K01018 GALAXYSURF.NS
2562 INE600L01024 LALPATHLAB.NS
2564 INE600Y01019 DYCL.NS
2565 INE602A01031 PCBL.NS
2567 INE602G01020 KITEX.NS
2568 INE602W01027 SENCO.NS
2570 INE603A01013 PRAKASH.NS
2572 INE603J01030 PIIND.NS
2574 INE606A01024 AMJLAND.NS
2575 INE607A01022 PRIMO.NS
2577 INE607D01018 ORIENTBELL.NS
2579 INE608A01012 PSB.NS
2581 INE609C01024 ORIENTLTD.NS
2585 INE610C01014 ARENTERP.NS
2586 INE610E01010 KALYANI.NS
2588 INE611A01016 RSWM.NS
2590 INE611L01021 INDTERRAIN.NS
2592 INE612J01015 REPCOHOME.NS
2594 INE613A01020 RALLIS.NS
2595 INE613B01010 ICDSLTD.NS
2596 INE613C01026 MCLOUD.NS
2598 INE614A01028 RAMCOIND.NS
2600 INE614B01018 KTKBANK.NS
2602 INE614G01033 RPOWER.NS
2604 INE615H01020 TITAGARH.NS
2606 INE615I01010 GLOBUSSPR.NS
2608 INE615P01015 QUESS.NS
2609 INE615R01029 TRU.NS
2610 INE616N01034 INOXINDIA.NS
2612 INE616Z01012 YASHO.NS
2614 INE617A01013 SEMAC.NS
2616 INE618L01018 5PAISA.NS
2617 INE618N01022 BALAXI.NS
2619 INE618R01015 SGFIN.NS
2621 INE619A01035 PATANJALI.NS
2623 INE619B01017 NEWGEN.NS
2625 INE619I01012 A2ZINFRA.NS
2627 INE621H01010 RELIGARE.NS
2629 INE621L01012 TEXRAIL.NS
2630 INE622H01018 INDOFARM.NS
2631 INE622W01025 ACMESOLAR.NS
2633 INE623A01011 SAKHTISUG.NS
2635 INE623B01027 FEL.NS
2637 INE624Z01016 SOLARA.NS
2639 INE625B01014 RANASUG.NS
2641 INE625G01013 WELENT.NS
2642 INE625X01018 SILVERTUC.NS
2644 INE626A01014 SAURASHCEM.NS
2646 INE626Z01029 HARDWYN.NS
2648 INE627H01017 CTE.NS
2650 INE628A01036 UPL.NS
2651 INE629D01020 BANSWRAS.NS
2653 INE630A01024 SESHAPAPER.NS
2655 INE630Y01024 MEDICO.NS
2657 INE631A01022 SHANTIGEAR.NS
2659 INE632C01026 VIDHIING.NS
2660 INE632X01030 SHRENIK.NS
2662 INE633B01018 POLYPLEX.NS
2664 INE634A01018 HONDAPOWER.NS
2666 INE634I01029 KNRCON.NS
2667 INE634S01028 MANKIND.NS
2668 INE635A01023 SHYAMTEL.NS
2670 INE635Q01029 GULFOILLUB.NS
2672 INE636A01039 MAWANASUG.NS
2674 INE637C01025 POKARNA.NS
2676 INE637H01024 SHIVAMAUTO.NS
2678 INE640A01023 SKFINDIA.NS
2679 INE640C01011 SHAHALLOYS.NS
2680 INE641C01019 KAVDEFENCE.NS
2682 INE642C01025 RUBFILA.NS
2683 INE642Y01029 HINDCON.NS
2684 INE642Z01026 AKI.NS
2686 INE643A01035 JTEKTINDIA.NS
2688 INE643K01018 ARIHANTSUP.NS
2690 INE644Y01017 SHIVAMILLS.NS
2692 INE645H01027 SUTLEJTEX.NS
2694 INE645S01016 ROLEXRINGS.NS
2695 INE645W01026 AIRAN.NS
2697 INE646B01010 MEDICAMEQ.NS
2698 INE646C01018 GROBTEA.NS
2699 INE646H01017 CAPITALSFB.NS
2701 INE646L01027 INDIGO.NS
2703 INE646X01014 ASTRON.NS
2705 INE647A01010 SRF.NS
2707 INE647O01011 ABFRL.NS
2708 INE648Z01023 ACCURACY.NS
2710 INE650K01021 SECURKLOUD.NS
2712 INE650L01011 BROOKS.NS
2715 INE652F01027 CCHHL.NS
2716 INE652Z01017 AVROIND.NS
2718 INE655A01013 STCINDIA.NS
2720 INE655B01011 BANARBEADS.NS
2722 INE658G01014 SALSTEEL.NS
2723 INE658T01017 WEALTH.NS
2725 INE659A01023 SUDARSCHEM.NS
2727 INE660A01013 SUNDARMFIN.NS
2729 INE660C01027 CENTRUM.NS
2731 INE661I01014 BGRENERGY.NS
2733 INE662A01027 SUPERSPIN.NS
2734 INE663A01033 SPLPETRO.NS
2736 INE663B01015 CONTROLPR.NS
2738 INE663F01032 NAUKRI.NS

HTTP Error 404:

2742 INE665J01013 VMART.NS
2744 INE665L01035 VARROC.NS
2746 INE666D01022 BORORENEW.NS
2747 INE666E01020 ACL.NS
2748 INE667G01023 SAKSOFT.NS
2749 INE668A01016 TMB.NS
2751 INE668D01028 DONEAR.NS
2753 INE668F01031 JYOTHYLAB.NS
2754 INE668G01021 ELDEHSG.NS
2757 INE669C01036 TECHM.NS
2759 INE669E01016 IDEA.NS
2760 INE669X01024 GEEKAYWIRE.NS
2762 INE670A01012 TATAELXSI.NS
2764 INE670K01029 LODHA.NS
2766 INE670X01014 LASA.NS
2768 INE671A01010 HONAUT.NS
2770 INE671H01015 SOBHA.NS
2772 INE672A01018 TATAINVEST.NS
2774 INE672B01032 MUNJALAU.NS
2775 INE673O01025 TBOTEK.NS
2778 INE674K01013 ABCAPITAL.NS
2780 INE675C01017 CIGNITITEC.NS
2781 INE676A01027 BBOX.NS
2782 INE677D01037 MASTERTR.NS
2785 INE679A01013 CSBBANK.NS
2786 INE679V01027 AVL.NS
2788 INE680A01011 DHANBANK.NS
2789 INE680Z01018 AVG.NS
2791 INE681B01017 INDRAMEDCO.NS
2793 INE681C01015 KEYFINSERV.NS
2794 INE682M01012 JLHL.NS
2796 INE683A01023 SOUTHBANK.NS
2798 INE683C01011 MAITHANALL.NS
2800 INE684F01012 FSL.NS
2802 INE685A01028 TORNTPHARM.NS
2804 INE686A01026 ITDCEM.NS
2806 INE686F01025 UBL.NS
2808 INE686Y01026 FINEORG.NS
2810 INE688A01022 TCI.NS
2812 INE688D01026 RESPONIND.NS
2814 INE688E01024 HERCULES.NS
2815 INE688J01023 EXCEL.NS
2816 INE688Y01022 DANGEE.NS
2818 INE689W01016 PRINCEPIPE.NS
2819 INE690A01028 TTKPRESTIG.NS
2821 INE691A01018 UCOBANK.NS
2823 INE691G01015 IMPEXFERRO.NS
2824 INE691Z01023 GANGAFORGE.NS
2826 INE692A01016 UNIONBANK.NS
2828 INE692B01014 MURUDCERA.NS
2830 INE692G01013 XCHANGING.NS
2832 INE692Z01013 AFFORDABLE.NS
2834 INE694A01020 UNITECH.NS
2836 INE694D01016 VADILALIND.NS
2838 INE694E01014 KANPRPLA.NS
2840 INE694N01015 HERANBA.NS
2842 INE695B01025 COUNCODOS.NS
2843 INE696F01016 JUNIPER.NS
2845 INE696K01024 PRAKASHSTL.NS
2846 INE696V01013 JAIPURKURT.NS
2847 INE697V01011 PANSARI.NS
2849 INE699B01027 SAMBHAAV.NS
2850 INE699H01024 AWL.NS
2852 INE700A01033 JUBLPHARMA.NS
2854 INE701A01023 VHL.NS
2856 INE702C01027 APLAPOLLO.NS
2858 INE703B01027 RATNAMANI.NS
2860 INE703H01016 HUBTOWN.NS
2862 INE704B01017 RACLGEAR.NS
2864 INE704H01022 CINELINE.NS
2866 INE704P01025 COCHINSHIP.NS
2868 INE705C01020 SHIVATEX.NS
2869 INE705X01026 GOYALALUM.NS
2872 INE707A01012 VINDHYATEL.NS
2874 INE707C01018 CAPTRUST.NS
2876 INE709A01018 VLSFINANCE.NS
2878 INE710A01016 VSTIND.NS
2880 INE711A01022 WALCHANNAG.NS
2882 INE712B01010 SUPERHOUSE.NS
2884 INE712K01011 SHREEPUSHK.NS
2886 INE713B01026 SURYALAXMI.NS
2888 INE713C01016 SURAJLTD.NS
2890 INE713T01028 APOLLO.NS
2892 INE715A01015 WHEELS.NS
2893 INE715B01021 ANDHRSUGAR.NS
2894 INE715Y01031 SHRADHA.NS
2896 INE716A01013 WHIRLPOOL.NS
2898 INE716B01029 TIPSMUSIC.NS
2900 INE717W01049 GANDHAR.NS
2902 INE718F01018 CSLFINANCE.NS
2904 INE718H01014 AUTOIND.NS
2905 INE718I01012 JSWCEMENT.NS
2906 INE720A01015 KOTHARIPET.NS
2908 INE721A01047 SHRIRAMFIN.NS
2909 INE721Z01010 AARON.NS
2910 INE722H01024 RGL.NS
2912 INE722J01012 RKDL.NS
2914 INE725A01030 NAVA.NS
2916 INE725E01024 ORISSAMINE.NS
2918 INE725G01011 ICRA.NS
2920 INE725L01011 KARMAENG.NS
2922 INE726G01019 ICICIPRULI.NS
2924 INE726L01019 DELPHIFX.NS
2926 INE726V01018 PRICOLLTD.NS
2928 INE727B01026 GENESYS.NS
2930 INE727S01012 BRNL.NS
2931 INE728Z01015 SOFTTECH.NS
2933 INE729D01010 KILITCH.NS
2935 INE730A01022 ORICONENT.NS
2937 INE731A01020 ARCHIES.NS
2938 INE731C01018 KHAITANLTD.NS
2940 INE731H01025 ACE.NS
2941 INE731U01028 DIGJAMLMTD.NS
2943 INE732A01036 KIRLOSBROS.NS
2945 INE732C01016 NCLIND.NS
2948 INE732I01013 ANGELONE.NS
2949 INE732S01012 SAKAR.NS
2951 INE733A01018 STARPAPER.NS
2953 INE733E01010 NTPC.NS
2955 INE734N01019 SNOWMAN.NS
2957 INE735M01018 SAMPANN.NS
2958 INE735W01017 UTKARSHBNK.NS
2959 INE736A01011 CDSL.NS
2961 INE737B01033 ADROITINFO.NS
2963 INE737D01021 MODISONLTD.NS
2965 INE737H01014 FIEMIND.NS
2966 INE737W01013 AKASH.NS
2968 INE738I01010 ECLERX.NS
2969 INE738V01013 ARTNIRMAN.NS
2971 INE739E01017 CERA.NS
2973 INE740D01017 NRAIL.NS
2974 INE740V01019 AGROPHOS.NS
2975 INE740X01023 LAL.NS
2977 INE741K01010 CREDITACC.NS
2979 INE741L01018 DUCON.NS
2981 INE742B01025 GUFICBIO.NS
2983 INE742C01031 JINDRILL.NS
2985 INE742F01042 ADANIPORTS.NS
2988 INE743M01012 RHIM.NS
2990 INE745B01028 KHAICHEM.NS
2992 INE745G01035 MCX.NS
2994 INE747B01016 NEXTMEDIA.NS
2996 INE747K01017 TARAPUR.NS
2998 INE748C01038 3IINFOLTD.NS
3000 INE748T01016 SIMBHALS.NS
3001 INE748Z01013 SUMIT.NS
3003 INE749A01030 JINDALSTEL.NS
3005 INE749B01020 ORTINGLOBE.NS
3007 INE750A01020 ORIENTHOT.NS
3009 INE750C01026 MARKSANS.NS
3011 INE750D01016 RELCHEMQ.NS
3013 INE750M01017 HEXATRADEX.NS
3015 INE751B01018 PIXTRANS.NS
3017 INE752E01010 POWERGRID.NS
3019 INE752G01015 MSPL.NS
3021 INE752H01013 CARERATING.NS
3023 INE752P01024 FRETAIL.NS
3025 INE753K01015 EMMBI.NS
3026 INE753U01022 DIVGIITTS.NS
3027 INE753W01010 SANGINITA.NS
3029 INE754A01055 SUBEXLTD.NS
3030 INE754X01016 AARVI.NS
3032 INE756C01015 NDGL.NS
3033 INE756I01012 HDBFS.NS
3035 INE757A01017 COSMOFIRST.NS
3037 INE757B01015 TRANSWORLD.NS
3039 INE758C01029 AHLUCONT.NS
3040 INE758E01017 JIOFIN.NS
3041 INE758T01015 ETERNAL.NS
3043 INE759A01021 MASTEK.NS
3045 INE759V01019 HEADSUP.NS
3047 INE760A01029 KOKUYOCMLN.NS
3048 INE760F01028 INDOAMIN.NS
3050 INE760L01018 TBZ.NS
3051 INE760W01023 RPPL.NS
3053 INE760Y01011 ASHOKAMET.NS
3055 INE761H01022 PAGEIND.NS
3059 INE763I01026 TARIL.NS
3061 INE764D01017 VSTTILLERS.NS
3063 INE764L01010 SADBHIN.NS
3065 INE765G01017 ICICIGI.NS
3067 INE766P01016 MAHLOG.NS
3069 INE767A01016 AARTIDRUGS.NS
3072 INE768C01010 ZYDUSWELL.NS
3074 INE769A01020 AARTIIND.NS
3076 INE771A01026 MIRZAINT.NS
3077 INE771F01025 FISCHER.NS
3078 INE772T01024 PVSL.NS
3080 INE773I01017 ALKALI.NS
3082 INE774D01024 M&MFIN.NS
3084 INE775A01035 MOTHERSON.NS
3086 INE776C01039 GMRAIRPORT.NS
3088 INE776I01010 MEP.NS
3089 INE777F01014 EXICOM.NS
3090 INE777K01022 RRKABEL.NS
3093 INE778B01029 ESTER.NS
3095 INE778K01012 EMAMIREAL.NS
3098 INE780C01023 JMFINANCIL.NS
3100 INE781A01025 INTENTECH.NS
3102 INE781B01015 NOIDATOLL.NS
3103 INE781S01027 VENTIVE.NS
3105 INE782A01015 JCHAC.NS
3107 INE782E01017 HESTERBIO.NS
3108 INE782X01033 SERVOTECH.NS
3110 INE783X01023 CHEMFAB.NS
3111 INE784B01035 WINSOME.NS
3112 INE784R01023 ARFIN.NS
3113 INE784W01015 MANOMAY.NS
3115 INE785A01026 JAYAGROGN.NS
3117 INE785M01021 PCJEWELLER.NS
3119 INE786A01032 JKLAKSHMI.NS
3121 INE786F01031 UTTAMSUGAR.NS
3122 INE786W01010 RKEC.NS
3124 INE787D01026 BALKRISIND.NS
3126 INE788H01017 HILTON.NS
3128 INE788J01021 SHIVALIK.NS
3130 INE789E01012 JKPAPER.NS
3132 INE790B01024 KCPSUGIND.NS
3134 INE790G01031 SHILPAMED.NS
3136 INE791A01024 BLBLIMITED.NS
3138 INE791I01019 BRIGADE.NS
3140 INE792B01012 AMBICAAGAR.NS
3142 INE792H01019 GLOBALVECT.NS
3144 INE792I01017 CORDSCABLE.NS
3145 INE792Z01011 SIRCA.NS
3147 INE793A01012 ACCELYA.NS
3149 INE794A01010 NEULANDLAB.NS
3151 INE794B01026 BALAJITELE.NS
3152 INE794W01014 MODTHREAD.NS
3154 INE795G01014 HDFCLIFE.NS
3156 INE796G01012 JINDALPHOT.NS
3157 INE797F01020 JUBLFOOD.NS
3159 INE797H01018 TGBHOTELS.NS
3161 INE798K01010 KRITINUT.NS
3163 INE800A01015 BIRLACABLE.NS
3165 INE800H01010 OMAXE.NS
3166 INE801L01010 AIROLAM.NS
3167 INE801V01019 LAXMICOT.NS
3169 INE802B01027 LINC.NS
3170 INE802C01033 SSWL.NS
3172 INE802W01023 BOHRAIND.NS
3173 INE803D01021 INDOBORAX.NS
3175 INE803H01014 RUCHIRA.NS
3177 INE804H01012 TFL.NS
3178 INE804L01022 MEDPLUS.NS
3180 INE805A01014 GOLDTECH.NS
3182 INE805C01028 KCP.NS
3184 INE805D01034 SUNTECK.NS
3186 INE806A01020 VIKASECO.NS
3188 INE806C01018 TIL.NS
3189 INE806T01020 SAPPHIRE.NS
3191 INE807F01027 SEQUENT.NS
3193 INE807K01035 SCHAND.NS
3195 INE809A01032 RAMAPHO.NS
3197 INE809I01019 ONMOBILE.NS
3198 INE810G01011 SHYAMMETL.NS
3200 INE811A01020 KIRLPNU.NS
3202 INE811K01011 PRESTIGE.NS
3204 INE812G01025 SMSPHARMA.NS
3206 INE813A01018 MAHLIFE.NS
3208 INE813H01021 TORNTPOWER.NS
3209 INE813V01022 MCL.NS
3211 INE814H01011 ADANIPOWER.NS
3213 INE816B01035 FILATEX.NS
3217 INE818A01017 SELAN.NS
3219 INE818B01023 PASUPTAC.NS
3221 INE818H01020 LTFOODS.NS
3222 INE818W01011 ESAFSFB.NS
3223 INE819L01012 ELGIRUBCO.NS
3224 INE819V01029 CPPLUS.NS
3225 INE820Y01021 AJOONI.NS
3227 INE821I01022 IRB.NS
3229 INE822C01015 TCPLPACK.NS
3231 INE822E01011 SUPREME.NS
3233 INE822G01016 ELECTHERM.NS
3235 INE823A01017 KOTHARIPRO.NS
3237 INE823G01014 JKCEMENT.NS
3239 INE824G01012 JSWHL.NS
3241 INE824Q01011 MANAKSTEEL.NS
3242 INE825A01020 VTL.NS
3243 INE825V01034 MANYAVAR.NS
3245 INE826C01016 GUJAPOLLO.NS
3247 INE828A01016 BIL.NS
3248 INE828O01033 MITCON.NS
3250 INE829A01014 BIOFILCHEM.NS
3252 INE830C01026 EMAMIPAP.NS
3254 INE830Q01018 MANAKCOAT.NS
3256 INE831A01028 MIRCELECTR.NS
3259 INE832A01018 MODIRUBBER.NS
3261 INE834I01025 KHADIM.NS
3263 INE834M01019 RTNINDIA.NS
3265 INE835A01029 VARDMNPOLY.NS
3267 INE835B01035 MOLDTECH.NS
3269 INE835D01023 HIRECT.NS
3271 INE835G01018 ALLDIGI.NS
3273 INE836A01035 BSOFT.NS
3275 INE836B01017 SATIN.NS
3277 INE836F01026 DISHTV.NS
3279 INE837H01020 ADVENZYMES.NS
3281 INE838B01013 BHARATRAS.NS
3283 INE838E01017 PONNIERODE.NS
3284 INE839G01010 JOCIL.NS
3286 INE839M01018 SCHNEIDER.NS
3288 INE840M01016 ZUARI.NS
3289 INE840Y01029 ONEPOINT.NS
3291 INE841B01017 INDBANK.NS
3292 INE841L01016 DEEDEV.NS
3294 INE842C01021 MINDACORP.NS
3296 INE843B01013 MAHAPEXLTD.NS
3297 INE843D01027 DCMSRIND.NS
3298 INE843S01025 SURAJEST.NS
3300 INE844A01013 PEARLPOLY.NS
3302 INE844K01012 BEDMUTHA.NS
3304 INE844O01030 GUJGASLTD.NS
3306 INE845D01014 GANECOS.NS
3308 INE846D01012 LORDSCHLO.NS
3310 INE847C01020 ROSSELLIND.NS
3312 INE848A01014 IZMO.NS
3314 INE848E01016 NHPC.NS
3316 INE849A01020 TRENT.NS
3318 INE849C01026 SHALPAINTS.NS
3320 INE849L01019 ORTEL.NS
3322 INE850D01014 GODREJAGRO.NS
3323 INE850E01012 LFIC.NS
3324 INE850M01015 NORTHARC.NS
3325 INE851I01011 UDS.NS
3326 INE852O01025 APTUS.NS
3328 INE854B01010 JAYNECOIND.NS
3330 INE854D01024 UNITDSPR.NS
3332 INE854S01022 GENCON.NS
3334 INE855B01025 RAIN.NS
3336 INE855C01015 WEBELSOLAR.NS
3337 INE855F01042 ASMS.NS
3338 INE855R01021 RADIANTCMS.NS
3340 INE858B01029 ISGEC.NS
3342 INE858F01012 NITCO.NS
3344 INE859A01011 PNBGILTS.NS
3346 INE859Q01017 MANAKALUCO.NS
3348 INE860A01027 HCLTECH.NS
3350 INE860T01019 SABEVENTS.NS
3352 INE861B01023 MOTOGENFIN.NS
3353 INE862Y01015 BANKA.NS
3355 INE863B01029 PREMEXPLN.NS
3357 INE863I01016 BANG.NS
3359 INE863T01013 JITFINFRA.NS
3362 INE864I01014 MTARTECH.NS
3364 INE864K01010 IRIS.NS
3365 INE864X01013 DPWIRES.NS
3367 INE865C01022 BIRLAMONEY.NS
3369 INE865T01018 PDMJEPAPER.NS
3371 INE866R01028 MATRIMONY.NS
3373 INE867A01022 MANUGRAPH.NS
3375 INE868B01028 NCC.NS
3377 INE869I01013 GTPL.NS
3378 INE869Y01010 TEMBO.NS
3380 INE870D01012 NFL.NS
3382 INE870H01013 NETWORK18.NS
3384 INE871C01038 AVANTIFEED.NS
3386 INE871H01011 GSS.NS
3388 INE871K01015 HMVL.NS
3389 INE871L01013 TVVISION.NS
3392 INE872H01027 LUMAXTECH.NS
3393 INE872J01023 DEVYANI.NS
3395 INE873D01024 INDOCO.NS
3397 INE874F01027 RADAAN.NS
3399 INE874I01013 RAMKY.NS
3401 INE875G01048 NDL.NS
3403 INE875R01011 BALKRISHNA.NS
3405 INE876N01018 ORIENTCEM.NS
3407 INE877F01012 PTC.NS
3409 INE877I01016 ARCHIDPLY.NS
3410 INE877V01027 SURAKSHA.NS

HTTP Error 404:

3414 INE878B01027 KEI.NS
3416 INE878E01021 SETCO.NS
3417 INE878H01024 INVENTURE.NS
3419 INE878I01022 BAFNAPH.NS
3421 INE878K01010 BFINVEST.NS
3423 INE879A01019 SHREERAMA.NS
3425 INE879E01037 KANANIIND.NS
3427 INE879I01012 DBREALTY.NS
3428 INE880J01026 JSWINFRA.NS
3430 INE880L01014 KIOCL.NS
3432 INE881D01027 OFSS.NS
3434 INE882A01013 MARALOVER.NS
3436 INE883A01011 MRF.NS
3437 INE883F01010 AADHARHFC.NS
3439 INE883N01014 PARAGMILK.NS
3441 INE884A01027 VAIBHAVGBL.NS
3444 INE885A01032 ARE&M.NS
3446 INE885E01042 MAZDA.NS
3447 INE885F01015 MASKINVEST.NS
3449 INE885H01029 SPORTKING.NS
3451 INE886A01014 IITL.NS
3452 INE886D01026 EFCIL.NS
3455 INE887E01022 NGLFINE.NS
3457 INE887G01027 GOKEX.NS
3460 INE888C01040 SADHNANIQ.NS
3464 INE890C01046 SANWARIA.NS
3466 INE891B01012 DCMFINSERV.NS
3468 INE891D01026 REDINGTON.NS
3470 INE893I01013 VASCONEQ.NS
3472 INE893J01029 MOLDTKPAC.NS
3473 INE894V01022 BELRISE.NS
3475 INE895B01021 RUPA.NS
3476 INE895W01019 PANACHE.NS
3478 INE896L01010 INDOSTAR.NS
3480 INE898S01029 AURUM.NS
3483 INE900B01029 KABRAEXTRU.NS
3485 INE900C01027 ASAL.NS
3486 INE900L01010 MBAPL.NS
3488 INE901L01018 APLLTD.NS
3490 INE902B01017 S&SPOWER.NS
3492 INE903D01011 MONARCH.NS
3493 INE903U01023 SIGNATURE.NS
3496 INE907A01026 KSL.NS
3498 INE908D01010 SHAKTIPUMP.NS
3499 INE908V01012 LIBAS.NS
3501 INE910C01018 TTKHLTCARE.NS
3503 INE911B01018 TCIFINANCE.NS
3505 INE912H01013 MBLINFRA.NS
3507 INE912L01015 ONELIFECAP.NS
3509 INE912T01018 RPEL.NS
3511 INE913H01037 ENDURANCE.NS
3513 INE914E01040 ALANKIT.NS
3515 INE914M01019 ASTERDM.NS
3517 INE915B01019 INDSWFTLAB.NS
3519 INE916G01016 GEECEE.NS
3521 INE916U01025 SFL.NS
3522 INE916Y01027 AFIL.NS
3524 INE917H01012 SRHHYPOLTD.NS
3526 INE917I01010 BAJAJ-AUTO.NS
3528 INE917M01012 DBL.NS
3529 INE918I01026 BAJAJFINSV.NS
3531 INE918N01018 VETO.NS
3532 INE918Z01012 KAYNES.NS
3534 INE919H01018 IMFA.NS
3536 INE919I01024 RADIOCITY.NS
3537 INE920A01037 DOLPHIN.NS
3539 INE921B01025 DBSTOCKBRO.NS
3541 INE922A01025 BEPL.NS
3543 INE922B01023 PANACEABIO.NS
3544 INE922K01024 INDIASHLTR.NS
3546 INE923A01015 SILINV.NS
3548 INE924D01017 THEINVEST.NS
3550 INE924H01018 TARMAT.NS
3552 INE925C01016 MADHAV.NS
3553 INE925R01014 CMSINFO.NS
3554 INE925Y01036 GODHA.NS
3556 INE926K01017 AHLEAST.NS
3558 INE926X01010 HGINFRA.NS
3560 INE927A01040 ROLLT.NS
3562 INE927C01020 DIGISPICE.NS
3563 INE927D01051 JBMA.NS
3564 INE930H01031 KPRMILL.NS
3566 INE930P01018 ANURAS.NS
3568 INE931S01010 ADANIENSOL.NS
3570 INE932A01024 PENIND.NS
3572 INE932C01012 TOKYOPLAST.NS
3574 INE932X01026 SHAREINDIA.NS
3576 INE933A01014 LYKALABS.NS
3578 INE933B01012 MEGASOFT.NS
3580 INE933K01021 BAJAJCON.NS
3582 INE933S01016 INDIAMART.NS
3583 INE933X01016 SHANTI.NS
3586 INE934S01014 GNA.NS
3588 INE935A01035 GLENMARK.NS
3590 INE935B01025 MOSCHIP.NS
3592 INE935N01020 DIXON.NS
3595 INE936B01015 NATCAPSUQ.NS
3597 INE937A01023 SPMLINFRA.NS
3599 INE937C01029 NILAINFRA.NS
3601 INE938A01021 LCCINFOTEC.NS
3603 INE939A01011 STAR.NS
3604 INE939X01013 MANBA.NS
3606 INE940H01022 PGIL.NS
3607 INE942C01045 GUJTHEM.NS
3609 INE942G01012 MCLEODRUSS.NS
3611 INE943D01017 MPSLTD.NS
3612 INE943P01029 AGARWALEYE.NS
3614 INE944F01028 RADICO.NS
3616 INE945H01013 V2RETAIL.NS
3618 INE946H01037 VIPULLTD.NS
3620 INE947A01014 SUNFLAG.NS
3622 INE947I01017 LOTUSEYE.NS
3624 INE947J01015 DEN.NS
3626 INE947Q01028 LAURUSLABS.NS
3628 INE948A01012 TRIGYN.NS
3630 INE949H01023 MANINFRA.NS
3632 INE949L01017 AUBANK.NS
3634 INE949P01018 GENUSPAPER.NS
3636 INE950I01011 DBCORP.NS
3638 INE950M01013 MONTECARLO.NS
3640 INE951D01028 ATULAUTO.NS
3642 INE951I01027 VGUARD.NS

HTTP Error 404:

3646 INE952H01027 RAJTV.NS
3647 INE953L01027 JSFB.NS
3648 INE953O01021 SANSERA.NS
3649 INE953R01016 PNGJL.NS
3651 INE954E01012 MOHITIND.NS
3653 INE955D01029 GENUSPOWER.NS
3654 INE955I01044 SEJALLTD.NS
3656 INE955V01021 ARVINDFASN.NS
3658 INE956G01038 WABAG.NS
3660 INE959A01019 PRIVISCL.NS
3662 INE959C01023 OAL.NS
3664 INE961D01019 UNIDT.NS
3665 INE961O01016 RAINBOW.NS
3667 INE962C01035 EASTSILK.NS
3669 INE962Y01021 IRCON.NS
3671 INE963C01033 FAZE3Q.NS
3673 INE964H01014 SEPC.NS
3674 INE964W01021 MKPL.NS
3675 INE965B01022 HYBRIDFIN.NS
3677 INE965H01011 SITINET.NS
3679 INE966A01022 DOLATALGO.NS
3681 INE966H01019 ZEEMEDIA.NS
3683 INE967C01018 KAMATHOTEL.NS
3684 INE967H01025 KIMS.NS
3687 INE970D01010 LOYALTEX.NS
3688 INE970N01027 SPCENET.NS
3690 INE970X01018 LEMONTREE.NS
3691 INE972X01022 VAISHALI.NS
3693 INE973A01010 GOLDENTOBC.NS
3695 INE974B01016 CHEVIOT.NS
3698 INE974X01010 TIINDIA.NS
3699 INE974Z01015 PRITI.NS
3701 INE975G01012 IL&FSTRANS.NS
3703 INE976A01021 WSTCSTPAPR.NS
3705 INE976E01023 FOODSIN.NS
3707 INE976G01028 RBLBANK.NS
3708 INE976R01025 AGIIL.NS
3709 INE976T01013 SAGARDEEP.NS
3710 INE977Y01011 BCONCEPTS.NS
3712 INE978A01027 HERITGFOOD.NS
3714 INE978G01016 SPLIL.NS
3715 INE979A01025 SAREGAMA.NS
3717 INE979R01011 SHYAMCENT.NS
3719 INE980O01024 JYOTICNC.NS
3720 INE980Y01015 SOUTHWEST.NS
3722 INE981B01011 CMICABLES.NS
3724 INE982B01027 ADFFOODS.NS
3726 INE982F01036 HATHWAY.NS
3727 INE982J01020 PAYTM.NS
3728 INE982V01025 JETFREIGHT.NS
3730 INE985A01022 SINCLAIR.NS
3732 INE985S01024 TEAMLEASE.NS
3733 INE985W01018 CREATIVE.NS
3735 INE987B01026 NATCOPHARM.NS
3738 INE988S01028 PARKHOTELS.NS
3740 INE989A01032 SANGHVIMOV.NS
3741 INE989C01038 DIACABS.NS
3742 INE991I01015 ASPINWALL.NS
3744 INE992I01013 STARTECK.NS
3746 INE993A01026 MANINDS.NS
3748 INE995D01025 CHEMBOND.NS
3749 INE995S01015 NIVABUPA.NS
3750 INE997Y01027 MITTAL.NS
3752 INE998H01012 ORIENTALTL.NS
3754 INE998I01010 MHRIL.NS
3756 INE999A01023 KSB.NS
3758 INE999B01013 SANGHIIND.NS
3760 INE999K01014 GREENPOWER.NS

In [257]:
lo_stock = CRUD('stock')
df_stock = lo_stock.Read('')

DataBase Disconnected

In [260]:
df_stock = df_stock[df_stock['SectorId'].isna()]

In [231]:
df_stock = df_stock[df_stock['SectorId'].isna()]

In [261]:
df_stock.shape

(72, 7)

In [ ]:
for i, code in df_stock.iterrows():
    try:
        dat = yf.Ticker(code['ISIN'])
    except ValueError as e:
        continue
    
    if 'industry' in dat.info and 'sector' in dat.info:
        if dat.info['industry'] == '' or dat.info['sector'] == '':
            continue
        print(i, code['ISIN'])
        row = df_industry[df_industry['Name'] == dat.info['industry']]
        sector = row['SectorId'].values[0]
        industry = row['IndustryId'].values[0]
        ISIN = code['ISIN']
        sql = f'update market.stock set SectorId = {sector}, IndustryId = {industry} where ISIN = "{ISIN}"'
        
        lo_ind.cursor.execute(sql)
        lo_ind.connection.commit()
        #print(code['ISIN'])
        #print('Industry : ', dat.info['industry'])
        #row = df_industry[df_industry['Name'] == dat.info['industry']]
        #print( '\nSector ID : ', row['SectorId'].values[0], '\nIndustry ID : ', row['IndustryId'].values[0])

:

In [256]:
df_temp[50:60]

,SectorId,Name,ParentSectorId,index,sector,industry
50,5,Energy,None,0,Energy,Oil & Gas Equipment & Services
51,5,Energy,None,0,Energy,Oil & Gas Refining & Marketing
52,5,Energy,None,0,Energy,Thermal Coal
53,5,Energy,None,0,Energy,Oil & Gas Integrated
54,5,Energy,None,0,Energy,Oil & Gas Drilling
55,6,Financial Services,None,0,Financial Services,Insurance - Reinsurance
56,6,Financial Services,None,0,Financial Services,Financial Conglomerates
57,6,Financial Services,None,0,Financial Services,Shell Companies
58,6,Financial Services,None,0,Financial Services,Insurance - Life
59,6,Financial Services,None,0,Financial Services,Insurance Brokers

In [237]:
lo_ind = CRUD('industry')

In [245]:
dat = yf.Ticker('500285')

In [246]:
dat.info

HTTP Error 404:

{'trailingPegRatio': None}

In [213]:
df_sector

    SectorId                    Name ParentSectorId
0          1         Basic Materials           None
1          2  Communication Services           None
2          3       Consumer Cyclical           None
3          4      Consumer Defensive           None
4          5                  Energy           None
5          6      Financial Services           None
6          7              Healthcare           None
7          8             Industrials           None
8          9             Real Estate           None
9         10              Technology           None
10        11               Utilities           None

In [214]:
df_temp[df_temp['SectorId'] == 3]

,SectorId,Name,ParentSectorId,index,sector,industry
18,3,Consumer Cyclical,None,0,Consumer Cyclical,Footwear & Accessories
19,3,Consumer Cyclical,None,0,Consumer Cyclical,Textile Manufacturing
20,3,Consumer Cyclical,None,0,Consumer Cyclical,Luxury Goods
21,3,Consumer Cyclical,None,0,Consumer Cyclical,Leisure
22,3,Consumer Cyclical,None,0,Consumer Cyclical,Apparel Manufacturing
23,3,Consumer Cyclical,None,0,Consumer Cyclical,Restaurants
24,3,Consumer Cyclical,None,0,Consumer Cyclical,Apparel Retail
25,3,Consumer Cyclical,None,0,Consumer Cyclical,Travel Services
26,3,Consumer Cyclical,None,0,Consumer Cyclical,Lodging
27,3,Consumer Cyclical,None,0,Consumer Cyclical,Specialty Retail
28,3,Consumer Cyclical,None,0,Consumer Cyclical,Auto Manufacturers
29,3,Consumer Cyclical,None,0,Consumer Cyclical,Resorts & Casinos
30,3,Consumer Cyclical,None,0,Consumer Cyclical,Department Stores
31,3,Consumer Cyclical,None,0,Consumer Cyclical,Home Improvement Retail
32,3,Consumer Cyclical,None,0,Consumer Cyclical,Internet Retail
33,3,Consumer Cyclical,None,0,Consumer Cyclical,"Furnishings, Fixtures & Appliances"
34,3,Consumer Cyclical,None,0,Consumer Cyclical,Auto Parts
35,3,Consumer Cyclical,None,0,Consumer Cyclical,Auto & Truck Dealerships
36,3,Consumer Cyclical,None,0,Consumer Cyclical,Packaging & Containers

In [216]:
df_industry[df_industry['SectorId'] == 3]

    IndustryId                                Name  SectorId
18          19              Footwear & Accessories         3
19          20               Textile Manufacturing         3
20          21                        Luxury Goods         3
21          22                             Leisure         3
22          23               Apparel Manufacturing         3
23          24                         Restaurants         3
24          25                      Apparel Retail         3
25          26                     Travel Services         3
26          27                             Lodging         3
27          28                    Specialty Retail         3
28          29                  Auto Manufacturers         3
29          30                   Resorts & Casinos         3
30          31                   Department Stores         3
31          32             Home Improvement Retail         3
32          33                     Internet Retail         3
33          34  Furnishings, Fixtures & Appliances         3
34          35                          Auto Parts         3
35          36            Auto & Truck Dealerships         3
36          37              Packaging & Containers         3

In [64]:
df_sectorind1.sort_values('sector', inplace=True)

In [68]:
df_sectorind1.reset_index(inplace=True)

In [70]:
df_sectorind1[:12]

    index           sector                          industry
0       0
1       0  Basic Materials  Other Industrial Metals & Mining
2       0  Basic Materials                            Copper
3       0  Basic Materials               Agricultural Inputs
4       0  Basic Materials                             Steel
5       0  Basic Materials    Other Precious Metals & Mining
6       0  Basic Materials                         Chemicals
7       0  Basic Materials                          Aluminum
8       0  Basic Materials               Specialty Chemicals
9       0  Basic Materials                Building Materials
10      0  Basic Materials          Lumber & Wood Production
11      0  Basic Materials            Paper & Paper Products

In [75]:
df_sectorind1[12:19]

    index                  sector                        industry
12      0  Communication Services                   Entertainment
13      0  Communication Services                      Publishing
14      0  Communication Services  Internet Content & Information
15      0  Communication Services  Electronic Gaming & Multimedia
16      0  Communication Services                    Broadcasting
17      0  Communication Services            Advertising Agencies
18      0  Communication Services                Telecom Services

In [79]:
df_sectorind1[19:38]

    index             sector                            industry
19      0  Consumer Cyclical              Footwear & Accessories
20      0  Consumer Cyclical               Textile Manufacturing
21      0  Consumer Cyclical                        Luxury Goods
22      0  Consumer Cyclical                             Leisure
23      0  Consumer Cyclical               Apparel Manufacturing
24      0  Consumer Cyclical                         Restaurants
25      0  Consumer Cyclical                      Apparel Retail
26      0  Consumer Cyclical                     Travel Services
27      0  Consumer Cyclical                             Lodging
28      0  Consumer Cyclical                    Specialty Retail
29      0  Consumer Cyclical                  Auto Manufacturers
30      0  Consumer Cyclical                   Resorts & Casinos
31      0  Consumer Cyclical                   Department Stores
32      0  Consumer Cyclical             Home Improvement Retail
33      0  Consumer Cyclical                     Internet Retail
34      0  Consumer Cyclical  Furnishings, Fixtures & Appliances
35      0  Consumer Cyclical                          Auto Parts
36      0  Consumer Cyclical            Auto & Truck Dealerships
37      0  Consumer Cyclical              Packaging & Containers

In [82]:
df_sectorind1[38:50]

    index              sector                             industry
38      0  Consumer Defensive  Beverages - Wineries & Distilleries
39      0  Consumer Defensive                        Confectioners
40      0  Consumer Defensive                    Food Distribution
41      0  Consumer Defensive                       Grocery Stores
42      0  Consumer Defensive        Education & Training Services
43      0  Consumer Defensive                  Beverages - Brewers
44      0  Consumer Defensive                              Tobacco
45      0  Consumer Defensive        Household & Personal Products
46      0  Consumer Defensive                       Packaged Foods
47      0  Consumer Defensive                      Discount Stores
48      0  Consumer Defensive            Beverages - Non-Alcoholic
49      0  Consumer Defensive                        Farm Products

In [84]:
df_sectorind1[50:56]

    index  sector                        industry
50      0  Energy                   Oil & Gas E&P
51      0  Energy  Oil & Gas Equipment & Services
52      0  Energy  Oil & Gas Refining & Marketing
53      0  Energy                    Thermal Coal
54      0  Energy            Oil & Gas Integrated
55      0  Energy              Oil & Gas Drilling

In [87]:
df_sectorind1[56:69]

    index              sector                          industry
56      0  Financial Services           Insurance - Reinsurance
57      0  Financial Services           Financial Conglomerates
58      0  Financial Services                   Shell Companies
59      0  Financial Services                  Insurance - Life
60      0  Financial Services                 Insurance Brokers
61      0  Financial Services           Insurance - Diversified
62      0  Financial Services   Insurance - Property & Casualty
63      0  Financial Services                  Mortgage Finance
64      0  Financial Services                   Capital Markets
65      0  Financial Services                   Credit Services
66      0  Financial Services  Financial Data & Stock Exchanges
67      0  Financial Services                  Asset Management
68      0  Financial Services                  Banks - Regional

In [91]:
df_sectorind1[69:80]

    index      sector                                  industry
69      0  Healthcare                      Medical Distribution
70      0  Healthcare  Drug Manufacturers - Specialty & Generic
71      0  Healthcare               Health Information Services
72      0  Healthcare                             Biotechnology
73      0  Healthcare              Drug Manufacturers - General
74      0  Healthcare            Medical Instruments & Supplies
75      0  Healthcare                          Healthcare Plans
76      0  Healthcare                    Diagnostics & Research
77      0  Healthcare                   Medical Care Facilities
78      0  Healthcare                           Medical Devices
79      0  Healthcare                  Pharmaceutical Retailers

In [98]:
df_sectorind1[80:105]

     index       sector                             industry
80       0  Industrials                  Consulting Services
81       0  Industrials       Staffing & Employment Services
82       0  Industrials       Pollution & Treatment Controls
83       0  Industrials                            Railroads
84       0  Industrials              Airports & Air Services
85       0  Industrials       Security & Protection Services
86       0  Industrials          Specialty Business Services
87       0  Industrials                        Conglomerates
88       0  Industrials            Rental & Leasing Services
89       0  Industrials       Specialty Industrial Machinery
90       0  Industrials        Building Products & Equipment
91       0  Industrials                             Trucking
92       0  Industrials           Engineering & Construction
93       0  Industrials                    Metal Fabrication
94       0  Industrials            Infrastructure Operations
95       0  Industrials        Business Equipment & Supplies
96       0  Industrials              Industrial Distribution
97       0  Industrials                      Marine Shipping
98       0  Industrials         Electrical Equipment & Parts
99       0  Industrials       Integrated Freight & Logistics
100      0  Industrials                     Waste Management
101      0  Industrials                  Tools & Accessories
102      0  Industrials                  Aerospace & Defense
103      0  Industrials  Farm & Heavy Construction Machinery
104      0  Industrials                             Airlines

In [100]:
df_sectorind1[105:108]

     index       sector                   industry
105      0  Real Estate  Real Estate - Diversified
106      0  Real Estate  Real Estate - Development
107      0  Real Estate       Real Estate Services

In [104]:
df_sectorind1[108:119]

     index      sector                             industry
108      0  Technology  Electronics & Computer Distribution
109      0  Technology                 Consumer Electronics
110      0  Technology                    Computer Hardware
111      0  Technology                                Solar
112      0  Technology            Software - Infrastructure
113      0  Technology               Software - Application
114      0  Technology                Electronic Components
115      0  Technology              Communication Equipment
116      0  Technology      Information Technology Services
117      0  Technology   Scientific & Technical Instruments
118      0  Technology  Semiconductor Equipment & Materials

In [105]:
df_sectorind1[119:]

     index     sector                                 industry
119      0  Utilities              Utilities - Regulated Water
120      0  Utilities  Utilities - Independent Power Producers
121      0  Utilities                Utilities - Regulated Gas
122      0  Utilities                    Utilities - Renewable
123      0  Utilities           Utilities - Regulated Electric

In [49]:

len(industry_set)

124

In [48]:
len(sector_set)

12

In [41]:
dat.info

{'address1': 'MGL House',
 'address2': 'Block G-33 Bandra-Kurla Complex Bandra (East)',
 'city': 'Mumbai',
 'zip': '400051',
 'country': 'India',
 'phone': '91 22 6678 5000',
 'fax': '91 22 2652 8925',
 'website': 'https://www.mahanagargas.com',
 'industry': 'Utilities - Regulated Gas',
 'industryKey': 'utilities-regulated-gas',
 'industryDisp': 'Utilities - Regulated Gas',
 'sector': 'Utilities',
 'sectorKey': 'utilities',
 'sectorDisp': 'Utilities',
 'longBusinessSummary': 'Mahanagar Gas Limited operates as a natural gas distribution company in India. The company supplies piped natural gas (PNG) to domestic households for cooking and water heating, as well as for nursing homes, flight kitchens, and places of worship; commercial establishments, including hospitals, hotels, restaurants, and charitable trusts; and industries, such as metals, pharmaceuticals, printing and dyeing, food and beverages, oil mills, FMCG product manufacturers, power generation, and air-conditioning. It also provides compressed natural gas to transport sector. In addition, it engages in sale of pipes and fittings required for construction of pipeline infrastructure. Further, the company supplies liquefied natural gas to heavy motor vehicles. The company operates 385 CNG filling stations with 2,399 dispensing points; 652 kilometers of steel pipeline; and 6887 kilometers of poly-ethylene pipeline. Mahanagar Gas Limited was incorporated in 1995 and is based in Mumbai, India.',
 'fullTimeEmployees': 579,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Ashu  Shinghal',
   'title': 'MD & Director',
   'fiscalYear': 2025,
   'totalPay': 13453000,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Sanjay Yeshwantrao Shende',
   'age': 59,
   'title': 'Deputy MD & Director',
   'yearBorn': 1965,
   'fiscalYear': 2025,
   'totalPay': 12014000,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Rajesh D. Patel',
   'age': 53,
   'title': 'Chief Financial Officer',
   'yearBorn': 1971,
   'fiscalYear': 2025,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Sitanshu Sekhar Roychowdhury',
   'title': 'Vice President of Operation & Maintenance',
   'fiscalYear': 2025,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Atul Trimbak Prabhu',
   'title': 'AVP of Internal Audit, Company Secretary & Compliance Officer',
   'fiscalYear': 2025,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Rajesh P. Wagle',
   'age': 58,
   'title': 'Senior Vice President of Marketing',
   'yearBorn': 1966,
   'fiscalYear': 2025,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Chakrapani  Atmakur',
   'age': 57,
   'title': 'Vice President of Human Resources & Corporate Social Responsibility',
   'yearBorn': 1967,
   'fiscalYear': 2025,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. T. L. Sharnagat',
   'age': 54,
   'title': 'Senior VP of Contracts & Procurement and Chief Risk Officer',
   'yearBorn': 1970,
   'fiscalYear': 2025,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Gurvinder Singh Anand',
   'age': 53,
   'title': 'Vice President of Projects',
   'yearBorn': 1971,
   'fiscalYear': 2025,
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'compensationAsOfEpochDate': 1767139200,
 'executiveTeam': [],
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 1210.8,
 'open': 1210.8,
 'dayLow': 1210.8,
 'dayHigh': 1244.0,
 'regularMarketPreviousClose': 1210.8,
 'regularMarketOpen': 1210.8,
 'regularMarketDayLow': 1210.8,
 'regularMarketDayHigh': 1244.0,
 'dividendRate': 30.0,
 'dividendYield': 2.48,
 'exDividendDate': 1755129600,
 'payoutRatio': 0.3041,
 'fiveYearAvgDividendYield': 2.32,
 'beta': 0.5,
 'trailingPE': 12.570936,
 'forwardPE': 22.139925,
 'volume': 312313,
 'regularMarketVolume': 312313,
 'averageVolume': 265379,
 'averageVolume10days': 215463,
 'averageDailyVolume10Day': 215463,
 'bid': 1240.4,
 'ask': 1240.6,
 'bidSize': 0,
 'askSize': 0,
 'marketCap': 129223204864,
 'fiftyTwoWeekLow': 1075.25,
 'fiftyTwoWeekHigh': 1586.9,
 'allTimeHigh': 1988.0,
 'allTimeLow': 492.65,
 'priceToSalesTrailing12Months': 1.6264312,
 'fiftyDayAverage': 1287.422,
 'twoHundredDayAverage': 1340.415,
 'trailingAnnualDividendRate': 18.0,
 'trailingAnnualDividendYield': 0.014866204,
 'currency': 'INR',
 'tradeable': False,
 'enterpriseValue': 108963635200,
 'profitMargins': 0.12267,
 'floatShares': 56786357,
 'sharesOutstanding': 98777778,
 'heldPercentInsiders': 0.4377,
 'heldPercentInstitutions': 0.28885,
 'impliedSharesOutstanding': 104170255,
 'bookValue': 628.586,
 'priceToBook': 1.973477,
 'lastFiscalYearEnd': 1743379200,
 'nextFiscalYearEnd': 1774915200,
 'mostRecentQuarter': 1759190400,
 'earningsQuarterlyGrowth': -0.325,
 'netIncomeToCommon': 9746700288,
 'trailingEps': 98.68,
 'forwardEps': 56.03,
 'enterpriseToRevenue': 1.371,
 'enterpriseToEbitda': 7.14,
 '52WeekChange': -0.116333365,
 'SandP52WeekChange': 0.14178503,
 'lastDividendValue': 18.0,
 'lastDividendDate': 1755129600,
 'quoteType': 'EQUITY',
 'currentPrice': 1240.5,
 'targetHighPrice': 1880.0,
 'targetLowPrice': 1095.0,
 'targetMeanPrice': 1466.3,
 'targetMedianPrice': 1512.5,
 'recommendationMean': 2.16667,
 'recommendationKey': 'buy',
 'numberOfAnalystOpinions': 30,
 'totalCash': 12986500096,
 'totalCashPerShare': 131.472,
 'ebitda': 15261700096,
 'totalDebt': 2206400000,
 'quickRatio': 0.961,
 'currentRatio': 1.084,
 'totalRevenue': 79451996160,
 'debtToEquity': 3.545,
 'revenuePerShare': 804.287,
 'returnOnAssets': 0.08853,
 'returnOnEquity': 0.16568,
 'grossProfits': 26584899584,
 'freeCashflow': -2880012544,
 'operatingCashflow': 11047400448,
 'earningsGrowth': -0.325,
 'revenueGrowth': 0.148,
 'grossMargins': 0.3346,
 'ebitdaMargins': 0.19208999,
 'operatingMargins': 0.11407,
 'financialCurrency': 'INR',
 'symbol': 'MGL.NS',
 'language': 'en-US',
 'region': 'US',
 'typeDisp': 'Equity',
 'quoteSourceName': 'Free Realtime Quote',
 'triggerable': True,
 'customPriceAlertConfidence': 'HIGH',
 'exchange': 'NSI',
 'messageBoardId': 'finmb_21817445',
 'exchangeTimezoneName': 'Asia/Kolkata',
 'exchangeTimezoneShortName': 'IST',
 'gmtOffSetMilliseconds': 19800000,
 'market': 'in_market',
 'esgPopulated': False,
 'regularMarketChangePercent': 2.4529195,
 'regularMarketPrice': 1240.5,
 'shortName': 'MAHANAGAR GAS LTD.',
 'longName': 'Mahanagar Gas Limited',
 'hasPrePostMarketData': False,
 'firstTradeDateMilliseconds': 1467344700000,
 'regularMarketChange': 29.699951,
 'regularMarketDayRange': '1210.8 - 1244.0',
 'fullExchangeName': 'NSE',
 'averageDailyVolume3Month': 265379,
 'fiftyTwoWeekLowChange': 165.25,
 'fiftyTwoWeekLowChangePercent': 0.15368518,
 'fiftyTwoWeekRange': '1075.25 - 1586.9',
 'fiftyTwoWeekHighChange': -346.40002,
 'fiftyTwoWeekHighChangePercent': -0.21828724,
 'fiftyTwoWeekChangePercent': -11.633337,
 'earningsTimestamp': 1761732000,
 'earningsTimestampStart': 1769508000,
 'earningsTimestampEnd': 1769508000,
 'earningsCallTimestampStart': 1761818400,
 'earningsCallTimestampEnd': 1761818400,
 'isEarningsDateEstimate': True,
 'epsTrailingTwelveMonths': 98.68,
 'epsForward': 56.03,
 'epsCurrentYear': 105.03,
 'priceEpsCurrentYear': 11.810911,
 'fiftyDayAverageChange': -46.921997,
 'fiftyDayAverageChangePercent': -0.03644648,
 'twoHundredDayAverageChange': -99.91504,
 'twoHundredDayAverageChangePercent': -0.07454038,
 'sourceInterval': 15,
 'exchangeDataDelayedBy': 15,
 'averageAnalystRating': '2.2 - Buy',
 'cryptoTradeable': False,
 'marketState': 'REGULAR',
 'corporateActions': [],
 'regularMarketTime': 1762841940,
 'trailingPegRatio': None}

In [106]:
lo_sector = CRUD('sector')

In [108]:
df_sector = lo_sector.Read('')

In [115]:
sectors = df_sectorind1['sector'].unique()

In [118]:
sectors = list(sectors)

In [119]:
sectors.remove('')

In [120]:
sectors

['Basic Materials',
 'Communication Services',
 'Consumer Cyclical',
 'Consumer Defensive',
 'Energy',
 'Financial Services',
 'Healthcare',
 'Industrials',
 'Real Estate',
 'Technology',
 'Utilities']

In [123]:
df_sector = pd.DataFrame({
    'SectorId': range(1, len(sectors) + 1),
    'Name': sectors,
    'ParentSectorId' : None}
)

In [124]:
lo_sector.Create(df_sector)

[[1, 'Basic Materials', None], [2, 'Communication Services', None], [3, 'Consumer Cyclical', None], [4, 'Consumer Defensive', None], [5, 'Energy', None], [6, 'Financial Services', None], [7, 'Healthcare', None], [8, 'Industrials', None], [9, 'Real Estate', None], [10, 'Technology', None], [11, 'Utilities', None]]

In [131]:
industry = list(df_temp['industry'].unique())

In [132]:
industry

['Other Industrial Metals & Mining',
 'Copper',
 'Agricultural Inputs',
 'Steel',
 'Other Precious Metals & Mining',
 'Chemicals',
 'Aluminum',
 'Specialty Chemicals',
 'Building Materials',
 'Lumber & Wood Production',
 'Paper & Paper Products',
 'Entertainment',
 'Publishing',
 'Internet Content & Information',
 'Electronic Gaming & Multimedia',
 'Broadcasting',
 'Advertising Agencies',
 'Telecom Services',
 'Footwear & Accessories',
 'Textile Manufacturing',
 'Luxury Goods',
 'Leisure',
 'Apparel Manufacturing',
 'Restaurants',
 'Apparel Retail',
 'Travel Services',
 'Lodging',
 'Specialty Retail',
 'Auto Manufacturers',
 'Resorts & Casinos',
 'Department Stores',
 'Home Improvement Retail',
 'Internet Retail',
 'Furnishings, Fixtures & Appliances',
 'Auto Parts',
 'Auto & Truck Dealerships',
 'Packaging & Containers',
 'Beverages - Wineries & Distilleries',
 'Confectioners',
 'Food Distribution',
 'Grocery Stores',
 'Education & Training Services',
 'Beverages - Brewers',
 'Tobacco',
 'Household & Personal Products',
 'Packaged Foods',
 'Discount Stores',
 'Beverages - Non-Alcoholic',
 'Farm Products',
 'Oil & Gas E&P',
 'Oil & Gas Equipment & Services',
 'Oil & Gas Refining & Marketing',
 'Thermal Coal',
 'Oil & Gas Integrated',
 'Oil & Gas Drilling',
 'Insurance - Reinsurance',
 'Financial Conglomerates',
 'Shell Companies',
 'Insurance - Life',
 'Insurance Brokers',
 'Insurance - Diversified',
 'Insurance - Property & Casualty',
 'Mortgage Finance',
 'Capital Markets',
 'Credit Services',
 'Financial Data & Stock Exchanges',
 'Asset Management',
 'Banks - Regional',
 'Medical Distribution',
 'Drug Manufacturers - Specialty & Generic',
 'Health Information Services',
 'Biotechnology',
 'Drug Manufacturers - General',
 'Medical Instruments & Supplies',
 'Healthcare Plans',
 'Diagnostics & Research',
 'Medical Care Facilities',
 'Medical Devices',
 'Pharmaceutical Retailers',
 'Consulting Services',
 'Staffing & Employment Services',
 'Pollution & Treatment Controls',
 'Railroads',
 'Airports & Air Services',
 'Security & Protection Services',
 'Specialty Business Services',
 'Conglomerates',
 'Rental & Leasing Services',
 'Specialty Industrial Machinery',
 'Building Products & Equipment',
 'Trucking',
 'Engineering & Construction',
 'Metal Fabrication',
 'Infrastructure Operations',
 'Business Equipment & Supplies',
 'Industrial Distribution',
 'Marine Shipping',
 'Electrical Equipment & Parts',
 'Integrated Freight & Logistics',
 'Waste Management',
 'Tools & Accessories',
 'Aerospace & Defense',
 'Farm & Heavy Construction Machinery',
 'Airlines',
 'Real Estate - Diversified',
 'Real Estate - Development',
 'Real Estate Services',
 'Electronics & Computer Distribution',
 'Consumer Electronics',
 'Computer Hardware',
 'Solar',
 'Software - Infrastructure',
 'Software - Application',
 'Electronic Components',
 'Communication Equipment',
 'Information Technology Services',
 'Scientific & Technical Instruments',
 'Semiconductor Equipment & Materials',
 'Utilities - Regulated Water',
 'Utilities - Independent Power Producers',
 'Utilities - Regulated Gas',
 'Utilities - Renewable',
 'Utilities - Regulated Electric']

In [127]:
industry.remove('')

In [129]:
df_temp = pd.merge(df_sector, df_sectorind1, left_on='Name', right_on='sector', how='inner')

In [130]:
df_temp

,SectorId,Name,ParentSectorId,index,sector,industry
0,1,Basic Materials,None,0,Basic Materials,Other Industrial Metals & Mining
1,1,Basic Materials,None,0,Basic Materials,Copper
2,1,Basic Materials,None,0,Basic Materials,Agricultural Inputs
3,1,Basic Materials,None,0,Basic Materials,Steel
4,1,Basic Materials,None,0,Basic Materials,Other Precious Metals & Mining
...,...,...,...,...,...,...
118,11,Utilities,None,0,Utilities,Utilities - Regulated Water
119,11,Utilities,None,0,Utilities,Utilities - Independent Power Producers
120,11,Utilities,None,0,Utilities,Utilities - Regulated Gas
121,11,Utilities,None,0,Utilities,Utilities - Renewable
122,11,Utilities,None,0,Utilities,Utilities - Regulated Electric

In [133]:
df_industry = pd.DataFrame({
    'IndustryId': range(1, len(industry) + 1),
    'Name': df_temp['industry'],
    'SectorId': df_temp['SectorId']
}
)

In [134]:
df_industry

     IndustryId                                     Name  SectorId
0             1         Other Industrial Metals & Mining         1
1             2                                   Copper         1
2             3                      Agricultural Inputs         1
3             4                                    Steel         1
4             5           Other Precious Metals & Mining         1
..          ...                                      ...       ...
118         119              Utilities - Regulated Water        11
119         120  Utilities - Independent Power Producers        11
120         121                Utilities - Regulated Gas        11
121         122                    Utilities - Renewable        11
122         123           Utilities - Regulated Electric        11

[123 rows x 3 columns]

In [135]:
lo_ind = CRUD('Industry')

In [136]:
lo_ind.Create(df_industry)

[[1, 'Other Industrial Metals & Mining', 1], [2, 'Copper', 1], [3, 'Agricultural Inputs', 1], [4, 'Steel', 1], [5, 'Other Precious Metals & Mining', 1], [6, 'Chemicals', 1], [7, 'Aluminum', 1], [8, 'Specialty Chemicals', 1], [9, 'Building Materials', 1], [10, 'Lumber & Wood Production', 1], [11, 'Paper & Paper Products', 1], [12, 'Entertainment', 2], [13, 'Publishing', 2], [14, 'Internet Content & Information', 2], [15, 'Electronic Gaming & Multimedia', 2], [16, 'Broadcasting', 2], [17, 'Advertising Agencies', 2], [18, 'Telecom Services', 2], [19, 'Footwear & Accessories', 3], [20, 'Textile Manufacturing', 3], [21, 'Luxury Goods', 3], [22, 'Leisure', 3], [23, 'Apparel Manufacturing', 3], [24, 'Restaurants', 3], [25, 'Apparel Retail', 3], [26, 'Travel Services', 3], [27, 'Lodging', 3], [28, 'Specialty Retail', 3], [29, 'Auto Manufacturers', 3], [30, 'Resorts & Casinos', 3], [31, 'Department Stores', 3], [32, 'Home Improvement Retail', 3], [33, 'Internet Retail', 3], [34, 'Furnishings, Fixtures & Appliances', 3], [35, 'Auto Parts', 3], [36, 'Auto & Truck Dealerships', 3], [37, 'Packaging & Containers', 3], [38, 'Beverages - Wineries & Distilleries', 4], [39, 'Confectioners', 4], [40, 'Food Distribution', 4], [41, 'Grocery Stores', 4], [42, 'Education & Training Services', 4], [43, 'Beverages - Brewers', 4], [44, 'Tobacco', 4], [45, 'Household & Personal Products', 4], [46, 'Packaged Foods', 4], [47, 'Discount Stores', 4], [48, 'Beverages - Non-Alcoholic', 4], [49, 'Farm Products', 4], [50, 'Oil & Gas E&P', 5], [51, 'Oil & Gas Equipment & Services', 5], [52, 'Oil & Gas Refining & Marketing', 5], [53, 'Thermal Coal', 5], [54, 'Oil & Gas Integrated', 5], [55, 'Oil & Gas Drilling', 5], [56, 'Insurance - Reinsurance', 6], [57, 'Financial Conglomerates', 6], [58, 'Shell Companies', 6], [59, 'Insurance - Life', 6], [60, 'Insurance Brokers', 6], [61, 'Insurance - Diversified', 6], [62, 'Insurance - Property & Casualty', 6], [63, 'Mortgage Finance', 6], [64, 'Capital Markets', 6], [65, 'Credit Services', 6], [66, 'Financial Data & Stock Exchanges', 6], [67, 'Asset Management', 6], [68, 'Banks - Regional', 6], [69, 'Medical Distribution', 7], [70, 'Drug Manufacturers - Specialty & Generic', 7], [71, 'Health Information Services', 7], [72, 'Biotechnology', 7], [73, 'Drug Manufacturers - General', 7], [74, 'Medical Instruments & Supplies', 7], [75, 'Healthcare Plans', 7], [76, 'Diagnostics & Research', 7], [77, 'Medical Care Facilities', 7], [78, 'Medical Devices', 7], [79, 'Pharmaceutical Retailers', 7], [80, 'Consulting Services', 8], [81, 'Staffing & Employment Services', 8], [82, 'Pollution & Treatment Controls', 8], [83, 'Railroads', 8], [84, 'Airports & Air Services', 8], [85, 'Security & Protection Services', 8], [86, 'Specialty Business Services', 8], [87, 'Conglomerates', 8], [88, 'Rental & Leasing Services', 8], [89, 'Specialty Industrial Machinery', 8], [90, 'Building Products & Equipment', 8], [91, 'Trucking', 8], [92, 'Engineering & Construction', 8], [93, 'Metal Fabrication', 8], [94, 'Infrastructure Operations', 8], [95, 'Business Equipment & Supplies', 8], [96, 'Industrial Distribution', 8], [97, 'Marine Shipping', 8], [98, 'Electrical Equipment & Parts', 8], [99, 'Integrated Freight & Logistics', 8], [100, 'Waste Management', 8], [101, 'Tools & Accessories', 8], [102, 'Aerospace & Defense', 8], [103, 'Farm & Heavy Construction Machinery', 8], [104, 'Airlines', 8], [105, 'Real Estate - Diversified', 9], [106, 'Real Estate - Development', 9], [107, 'Real Estate Services', 9], [108, 'Electronics & Computer Distribution', 10], [109, 'Consumer Electronics', 10], [110, 'Computer Hardware', 10], [111, 'Solar', 10], [112, 'Software - Infrastructure', 10], [113, 'Software - Application', 10], [114, 'Electronic Components', 10], [115, 'Communication Equipment', 10], [116, 'Information Technology Services', 10], [117, 'Scientific & Technical Instruments', 10], [118, 'Semiconductor Equipment & Materials', 10], [119, 'Utilities - Regulated Water', 11], [120, 'Utilities - Independent Power Producers', 11], [121, 'Utilities - Regulated Gas', 11], [122, 'Utilities - Renewable', 11], [123, 'Utilities - Regulated Electric', 11]]

In [4]:
from mymodule.DatabaseConnection import CRUD
lo_ind = CRUD('industry')
lo_ind.execute_query("Describe market.industry")

DataBase Disconnected

AttributeError: 'CRUD' object has no attribute 'execute_query'

In [5]:
from mymodule.DatabaseConnection import DBConnection

In [8]:
lo_object = DBConnection(schema = 'INFORMATION_SCHEMA')

Exception ignored in: <function DBConnection.__del__ at 0x000002664AD74CC0>
Traceback (most recent call last):
  File "c:\Projects\Market\mymodule\DatabaseConnection.py", line 27, in __del__
    def get_initial_rangetable():
AttributeError: 'DBConnection' object has no attribute 'connection'

TypeError: DBConnection.__init__() got an unexpected keyword argument 'schema'

In [9]:
yf

NameError: name 'yf' is not defined