# Money Control API

In [ ]:
from moneycontrol.moneycontrol_api import get_news, get_latest_news, get_business_news
import moneycontrol.moneycontrol_api as mc

In [80]:
print(mc.date_text)
print(mc.html_parser)
print(mc.link_text)
print(mc.news_type)
print(mc.title_text)
print(mc.url)

Date:
html.parser
Link:
News Type:
Title:
['https://www.moneycontrol.com/news', 'https://www.moneycontrol.com/news/business', 'https://www.moneycontrol.com/news/latest-news/']

In [81]:
get_business_news()

{'News Type:': 'Business News',
 'Title:': 'Shringar House of Mangalsutra to be second IPO hitting Dalal Street on September 10',
 'Link:': 'https://www.moneycontrol.com/news/business/ipo/shringar-house-of-mangalsutra-to-be-second-ipo-hitting-dalal-street-on-september-10-13513893.html',
 'Date:': None}

In [82]:
get_latest_news()

{'News Type:': 'Latest News',
 'Title:': '‘Hurried trail will affect rights, bail not a universal rule’: Delhi HC order denying bail to Umar, Sharjeel and others in 2020 Delhi riots case',
 'Link:': 'https://www.moneycontrol.com/news/india/hurried-trail-will-affect-rights-bail-not-a-universal-rule-delhi-hc-order-denying-bail-to-umar-sharjeel-and-others-in-2020-delhi-riots-case-13513944.html',
 'Date:': 'September 02, 2025 09:31 PM'}

In [83]:
get_news()

Money Control API has only news APIs.<br/>
Still, It returns only the link. And must be scraped and parsed via Beautiful Soup

# Yahoo Finance API

In [31]:
import yfinance as yf

DataBase Disconnected

In [32]:
dat = yf.Ticker("VEDL.NS")

In [33]:
dat.info

{'address1': 'Unit 103, Corporate Avenue',
 'address2': '1st Floor, C wing Atul Projects, Chakala Andheri (East)',
 'city': 'Mumbai',
 'zip': '400093',
 'country': 'India',
 'phone': '91 22 6643 4500',
 'fax': '91 22 6643 4530',
 'website': 'https://www.vedantalimited.com',
 'industry': 'Other Industrial Metals & Mining',
 'industryKey': 'other-industrial-metals-mining',
 'industryDisp': 'Other Industrial Metals & Mining',
 'sector': 'Basic Materials',
 'sectorKey': 'basic-materials',
 'sectorDisp': 'Basic Materials',
 'longBusinessSummary': 'Vedanta Limited, a diversified natural resources company, explores, extracts, and processes minerals, and oil and gas in India, Europe, China, the United States, Mexico, and internationally. The company operates through seven reportable segments: Copper, Aluminium, Iron Ore, Power, Zinc India, Zinc International, Oil and Gas, and Others. It explores, produces, and sells oil and gas, zinc, lead, silver, copper, aluminum, steel, pig iron, chrome ores, and metallurgical coke. The company also operates a thermal coal-based commercial power facility of 600 megawatts (MW) at Jharsuguda in Odisha; a 1,200 MW thermal coal-based power plants in the Chhattisgarh; 1,980 MW thermal coal- based commercial power facilities in Punjab; wind power plants; a 1,000 MW coal-based power plant at Nellore, Andhra Pradesh; and power plants located at Mettur Dam in the state of Tamil Nadu in southern India. In addition, it manufactures and supplies billets, TMT bars, wire rods, and ductile iron pipes; mechanizes coal handling facilities and upgrades general cargo berth for handling coal at the outer harbor of Visakhapatnam Port on the east coast of India; offers port/berth services; and manufactures glass substrates, semiconductor, display glass panels, ferro alloys, and slag cements. The company was formerly known as Sesa Sterlite Limited and changed its name to Vedanta Limited in March 2015. The company was founded in 1954 and is headquartered in Mumbai, India.',
 'fullTimeEmployees': 17332,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Navin Kumar Agarwal',
   'age': 63,
   'title': 'Executive Vice Chairman',
   'yearBorn': 1961,
   'fiscalYear': 2025,
   'totalPay': 235165277,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Arun  Misra',
   'age': 59,
   'title': 'CEO of Zinc Business & Executive Director',
   'yearBorn': 1965,
   'fiscalYear': 2025,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Ajay Kumar Goel',
   'age': 49,
   'title': 'Chief Financial Officer',
   'yearBorn': 1975,
   'fiscalYear': 2025,
   'totalPay': 2970000,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Charanjit  Singh',
   'title': 'Group Head of Investor Relations',
   'fiscalYear': 2025,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Prerna  Halwasiya',
   'title': 'Deputy Head Investor Relations, Company Secretary & Compliance Officer',
   'fiscalYear': 2025,
   'totalPay': 4635176,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Swapnil  Patil',
   'title': 'Head of Commodities Procurement- Pig Iron Business',
   'fiscalYear': 2025,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Manish  Gupta',
   'age': 56,
   'title': 'Head of Ports',
   'yearBorn': 1968,
   'fiscalYear': 2025,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Deodatta  Padgaonkar',
   'age': 50,
   'title': 'Senior VP of MAS & Risk Officer',
   'yearBorn': 1974,
   'fiscalYear': 2025,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Pushpender  Singla',
   'age': 41,
   'title': 'Chief Financial Officer of Zinc International Division & CMT',
   'yearBorn': 1983,
   'fiscalYear': 2025,
   'totalPay': 16000000,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Navin Kumar Jaju',
   'age': 42,
   'title': 'Chief Executive Officer of Sesa Goa Iron Ore',
   'yearBorn': 1982,
   'fiscalYear': 2025,
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'auditRisk': 5,
 'boardRisk': 10,
 'compensationRisk': 4,
 'shareHolderRightsRisk': 4,
 'overallRisk': 10,
 'governanceEpochDate': 1759276800,
 'compensationAsOfEpochDate': 1767139200,
 'executiveTeam': [],
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 464.85,
 'open': 464.85,
 'dayLow': 464.5,
 'dayHigh': 479.9,
 'regularMarketPreviousClose': 464.85,
 'regularMarketOpen': 464.85,
 'regularMarketDayLow': 464.5,
 'regularMarketDayHigh': 479.9,
 'dividendRate': 51.5,
 'dividendYield': 11.08,
 'exDividendDate': 1756166400,
 'payoutRatio': 1.0647,
 'fiveYearAvgDividendYield': 16.0,
 'beta': 0.894,
 'trailingPE': 12.694071,
 'forwardPE': 9.527615,
 'volume': 21400794,
 'regularMarketVolume': 21400794,
 'averageVolume': 8574153,
 'averageVolume10days': 11335690,
 'averageDailyVolume10Day': 11335690,
 'bid': 0.0,
 'ask': 0.0,
 'bidSize': 0,
 'askSize': 0,
 'marketCap': 1839203221504,
 'fiftyTwoWeekLow': 363.0,
 'fiftyTwoWeekHigh': 526.95,
 'allTimeHigh': 526.95,
 'allTimeLow': 0.9275,
 'priceToSalesTrailing12Months': 1.197936,
 'fiftyDayAverage': 442.59,
 'twoHundredDayAverage': 437.9495,
 'trailingAnnualDividendRate': 39.5,
 'trailingAnnualDividendYield': 0.08497365,
 'currency': 'INR',
 'tradeable': False,
 'enterpriseValue': 2529873887232,
 'profitMargins': 0.09488,
 'floatShares': 1616958769,
 'sharesOutstanding': 3905304540,
 'heldPercentInsiders': 0.58525,
 'heldPercentInstitutions': 0.21212,
 'impliedSharesOutstanding': 3913285694,
 'bookValue': 105.52,
 'priceToBook': 4.4631352,
 'lastFiscalYearEnd': 1743379200,
 'nextFiscalYearEnd': 1774915200,
 'mostRecentQuarter': 1751241600,
 'earningsQuarterlyGrowth': -0.117,
 'netIncomeToCommon': 145669996544,
 'trailingEps': 37.1,
 'forwardEps': 49.43,
 'lastSplitFactor': '10:1',
 'lastSplitDate': 1218153600,
 'enterpriseToRevenue': 1.648,
 'enterpriseToEbitda': 5.989,
 '52WeekChange': -0.0586648,
 'SandP52WeekChange': 0.17904854,
 'lastDividendValue': 16.0,
 'lastDividendDate': 1756166400,
 'quoteType': 'EQUITY',
 'currentPrice': 470.95,
 'targetHighPrice': 601.0,
 'targetLowPrice': 435.0,
 'targetMeanPrice': 502.7857,
 'targetMedianPrice': 500.0,
 'recommendationMean': 1.85714,
 'recommendationKey': 'buy',
 'numberOfAnalystOpinions': 14,
 'totalCash': 187619999744,
 'totalCashPerShare': 48.039,
 'ebitda': 422392496128,
 'totalDebt': 752740007936,
 'totalRevenue': 1535310036992,
 'debtToEquity': 140.037,
 'revenuePerShare': 394.091,
 'grossProfits': 750229979136,
 'earningsGrowth': -0.161,
 'revenueGrowth': 0.062,
 'grossMargins': 0.48865002,
 'ebitdaMargins': 0.27512,
 'operatingMargins': 0.18951,
 'financialCurrency': 'INR',
 'symbol': 'VEDL.NS',
 'language': 'en-US',
 'region': 'US',
 'typeDisp': 'Equity',
 'quoteSourceName': 'Delayed Quote',
 'triggerable': True,
 'customPriceAlertConfidence': 'HIGH',
 'exchange': 'NSI',
 'messageBoardId': 'finmb_878252',
 'exchangeTimezoneName': 'Asia/Kolkata',
 'exchangeTimezoneShortName': 'IST',
 'gmtOffSetMilliseconds': 19800000,
 'market': 'in_market',
 'esgPopulated': False,
 'shortName': 'VEDANTA LIMITED',
 'longName': 'Vedanta Limited',
 'regularMarketDayRange': '464.5 - 479.9',
 'fullExchangeName': 'NSE',
 'averageDailyVolume3Month': 8574153,
 'fiftyTwoWeekLowChange': 107.95001,
 'fiftyTwoWeekLowChangePercent': 0.29738295,
 'fiftyTwoWeekRange': '363.0 - 526.95',
 'fiftyTwoWeekHighChange': -56.0,
 'fiftyTwoWeekHighChangePercent': -0.10627194,
 'fiftyTwoWeekChangePercent': -5.86648,
 'earningsTimestamp': 1753956000,
 'earningsTimestampStart': 1762423200,
 'earningsTimestampEnd': 1762423200,
 'earningsCallTimestampStart': 1753961400,
 'earningsCallTimestampEnd': 1753961400,
 'isEarningsDateEstimate': True,
 'corporateActions': [],
 'regularMarketTime': 1759485600,
 'regularMarketChangePercent': 1.3122526,
 'regularMarketPrice': 470.95,
 'marketState': 'CLOSED',
 'epsTrailingTwelveMonths': 37.1,
 'epsForward': 49.43,
 'epsCurrentYear': 42.65769,
 'priceEpsCurrentYear': 11.040215,
 'fiftyDayAverageChange': 28.360016,
 'fiftyDayAverageChangePercent': 0.0640774,
 'twoHundredDayAverageChange': 33.00052,
 'twoHundredDayAverageChangePercent': 0.07535234,
 'sourceInterval': 15,
 'exchangeDataDelayedBy': 15,
 'averageAnalystRating': '1.9 - Buy',
 'cryptoTradeable': False,
 'hasPrePostMarketData': False,
 'firstTradeDateMilliseconds': 820467900000,
 'regularMarketChange': 6.100006,
 'trailingPegRatio': None}

In [34]:
print(dat.info['marketCap'])
print(dat.info["sharesOutstanding"] * 461.3)
print(dat.info['floatShares'])
print(dat.info['currentPrice'])
print(dat.info['bookValue'])
print(dat.info['beta'])
print(dat.info['regularMarketPrice'])

1839203221504
1801516984302.0
1616958769
470.95
105.52
0.894
470.95

In [35]:
dat.get_news()

[{'id': '6ce1125e-bd45-3fe8-ad79-b4d48402b2e8',
  'content': {'id': '6ce1125e-bd45-3fe8-ad79-b4d48402b2e8',
   'contentType': 'STORY',
   'title': 'Indian Government denies Vedanta’s Cambay basin block extension',
   'description': '',
   'summary': 'Despite the lapse of the PSC in 2023, Vedanta continued operations while awaiting a decision on its extension application.',
   'pubDate': '2025-09-23T09:23:15Z',
   'displayTime': '2025-09-23T09:23:15Z',
   'isHosted': True,
   'bypassModal': False,
   'previewUrl': None,
   'thumbnail': {'originalUrl': 'https://media.zenfs.com/en/offshore_technology_431/89cb34f16817c320bc7c6e90cad3f808',
    'originalWidth': 1440,
    'originalHeight': 810,
    'caption': 'Vedanta Cairn held a 40% stake in the block',
    'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/C3qVre.yD41ITsIKmHJCaA--~B/aD04MTA7dz0xNDQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/offshore_technology_431/89cb34f16817c320bc7c6e90cad3f808',
      'width': 1440,
      'height': 810,
      'tag': 'original'},
     {'url': 'https://s.yimg.com/uu/api/res/1.2/MHryNOKuDls2wvXQLonMWw--~B/Zmk9c3RyaW07aD0xMjg7dz0xNzA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/offshore_technology_431/89cb34f16817c320bc7c6e90cad3f808',
      'width': 170,
      'height': 128,
      'tag': '170x128'}]},
   'provider': {'displayName': 'Offshore Technology',
    'url': 'https://www.globaldata.com/'},
   'canonicalUrl': {'url': 'https://www.offshore-technology.com/news/indian-government-denies-vedantas-cambay-basin-block-extension/',
    'site': 'finance',
    'region': 'US',
    'lang': 'en-US'},
   'clickThroughUrl': {'url': 'https://finance.yahoo.com/news/indian-government-denies-vedanta-cambay-092315463.html',
    'site': 'finance',
    'region': 'US',
    'lang': 'en-US'},
   'metadata': {'editorsPick': False},
   'finance': {'premiumFinance': {'isPremiumNews': False,
     'isPremiumFreeNews': False}},
   'storyline': None}},
 {'id': 'd0b31fd6-3a89-3795-9d16-e66c86d3083f',
  'content': {'id': 'd0b31fd6-3a89-3795-9d16-e66c86d3083f',
   'contentType': 'STORY',
   'title': 'Vedanta declared preferred bidder for manganese block in India’s Andhra Pradesh',
   'description': '',
   'summary': 'The Punnam manganese block, covering an area of 152ha, is currently at the G4 level of exploration.',
   'pubDate': '2025-09-22T09:16:28Z',
   'displayTime': '2025-09-22T09:16:28Z',
   'isHosted': True,
   'bypassModal': False,
   'previewUrl': None,
   'thumbnail': {'originalUrl': 'https://media.zenfs.com/en/mining_technology_700/895c70ae76a124474049f49faf11a724',
    'originalWidth': 1440,
    'originalHeight': 810,
    'caption': 'The granting of the composite licence for the manganese block is contingent upon several conditions. Credit: RHJPhtotos/Shutterstock.com.',
    'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/F5mWRkZ5zywWgAzv90v9HA--~B/aD04MTA7dz0xNDQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/mining_technology_700/895c70ae76a124474049f49faf11a724',
      'width': 1440,
      'height': 810,
      'tag': 'original'},
     {'url': 'https://s.yimg.com/uu/api/res/1.2/ktyGFnCw9KvNY5MVch_uIQ--~B/Zmk9c3RyaW07aD0xMjg7dz0xNzA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/mining_technology_700/895c70ae76a124474049f49faf11a724',
      'width': 170,
      'height': 128,
      'tag': '170x128'}]},
   'provider': {'displayName': 'Mining Technology',
    'url': 'https://www.globaldata.com/'},
   'canonicalUrl': {'url': 'https://www.mining-technology.com/news/vedanta-preferred-bidder-manganese-block-india-andhra-pradesh/',
    'site': 'finance',
    'region': 'US',
    'lang': 'en-US'},
   'clickThroughUrl': {'url': 'https://finance.yahoo.com/news/vedanta-declared-preferred-bidder-manganese-091628135.html',
    'site': 'finance',
    'region': 'US',
    'lang': 'en-US'},
   'metadata': {'editorsPick': False},
   'finance': {'premiumFinance': {'isPremiumNews': False,
     'isPremiumFreeNews': False}},
   'storyline': None}},
 {'id': '7db5d0a2-6f1b-3871-b56b-f899633c2db9',
  'content': {'id': '7db5d0a2-6f1b-3871-b56b-f899633c2db9',
   'contentType': 'STORY',
   'title': "Singapore reviewing short seller claim against India's Vedanta, documents show",
   'description': '',
   'summary': 'The Singapore Police Force is reviewing a complaint by short seller Viceroy Research that natural resources conglomerate Vedanta Ltd improperly funded its 2024 dividend, documents viewed by Reuters show.  Vedanta Ltd told Reuters it had paid all dividends in full compliance with applicable laws, calling Viceroy\'s allegations "baseless".  "We maintain that the allegations in the short seller\'s dubious \'reports\' are malicious and ill-informed, and the company unequivocally rejects them," the company said.',
   'pubDate': '2025-09-19T08:19:29Z',
   'displayTime': '2025-09-19T08:19:29Z',
   'isHosted': True,
   'bypassModal': False,
   'previewUrl': None,
   'thumbnail': {'originalUrl': 'https://media.zenfs.com/en/reuters.com/a07efae962d936eb4bb3af16a665f64d',
    'originalWidth': 800,
    'originalHeight': 562,
    'caption': 'FILE PHOTO: A bird flies past the logo of Vedanta installed on the facade of its headquarters in Mumbai, India January 31, 2018. REUTERS/Danish Siddiqui/File Photo',
    'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/qRcjbd4n6mDR46riI6OkOw--~B/aD01NjI7dz04MDA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/reuters.com/a07efae962d936eb4bb3af16a665f64d',
      'width': 800,
      'height': 562,
      'tag': 'original'},
     {'url': 'https://s.yimg.com/uu/api/res/1.2/bb.U8i85aLsytxSt_EYQdw--~B/Zmk9c3RyaW07aD0xMjg7dz0xNzA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/reuters.com/a07efae962d936eb4bb3af16a665f64d',
      'width': 170,
      'height': 128,
      'tag': '170x128'}]},
   'provider': {'displayName': 'Reuters', 'url': 'https://www.reuters.com/'},
   'canonicalUrl': {'url': 'https://sg.finance.yahoo.com/news/singapore-reviewing-short-seller-claim-081929748.html',
    'site': 'finance',
    'region': 'SG',
    'lang': 'en-SG'},
   'clickThroughUrl': {'url': 'https://finance.yahoo.com/news/singapore-reviewing-short-seller-claim-081929748.html',
    'site': 'finance',
    'region': 'US',
    'lang': 'en-US'},
   'metadata': {'editorsPick': False},
   'finance': {'premiumFinance': {'isPremiumNews': False,
     'isPremiumFreeNews': False}},
   'storyline': None}},
 {'id': '6f6cf105-748e-3cf1-9dba-ee2231a23171',
  'content': {'id': '6f6cf105-748e-3cf1-9dba-ee2231a23171',
   'contentType': 'STORY',
   'title': 'Indian miner Vedanta to continue coal as primary energy source – report',
   'description': '',
   'summary': 'Vedanta aims to reduce its reliance on coal to 50–60% within three to four years by integrating more renewable sources.',
   'pubDate': '2025-09-17T11:55:06Z',
   'displayTime': '2025-09-17T11:55:06Z',
   'isHosted': True,
   'bypassModal': False,
   'previewUrl': None,
   'thumbnail': {'originalUrl': 'https://media.zenfs.com/en/mining_technology_700/aa2dd05f434d564e75e87180dda29bc0',
    'originalWidth': 1440,
    'originalHeight': 810,
    'caption': 'Vedanta aims to reduce dependence on coal within three to four years. Credit: New Africa/Shutterstock.com.',
    'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/OsspcpU3bP.45QqDX5fXdQ--~B/aD04MTA7dz0xNDQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/mining_technology_700/aa2dd05f434d564e75e87180dda29bc0',
      'width': 1440,
      'height': 810,
      'tag': 'original'},
     {'url': 'https://s.yimg.com/uu/api/res/1.2/eNWz44fHnNCtOBDRTehm.w--~B/Zmk9c3RyaW07aD0xMjg7dz0xNzA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/mining_technology_700/aa2dd05f434d564e75e87180dda29bc0',
      'width': 170,
      'height': 128,
      'tag': '170x128'}]},
   'provider': {'displayName': 'Mining Technology',
    'url': 'https://www.globaldata.com/'},
   'canonicalUrl': {'url': 'https://www.mining-technology.com/news/vedanta-to-continue-coal-as-primary-source/',
    'site': 'finance',
    'region': 'US',
    'lang': 'en-US'},
   'clickThroughUrl': {'url': 'https://finance.yahoo.com/news/indian-miner-vedanta-continue-coal-115506785.html',
    'site': 'finance',
    'region': 'US',
    'lang': 'en-US'},
   'metadata': {'editorsPick': False},
   'finance': {'premiumFinance': {'isPremiumNews': False,
     'isPremiumFreeNews': False}},
   'storyline': None}},
 {'id': '45cd6b7a-b149-3d1f-b11c-ea3c493f086f',
  'content': {'id': '45cd6b7a-b149-3d1f-b11c-ea3c493f086f',
   'contentType': 'STORY',
   'title': "India's Vedanta to keep coal as base energy source amid clean energy push",
   'description': '',
   'summary': 'Indian mining and metals conglomerate Vedanta Ltd will continue to rely on coal as its primary energy source for mining operations, while aiming to increase the share of renewable sources in its energy mix, a top executive said on Tuesday.  "Coal will be, for us in Vedanta, the baseload contributor," Naidoo said.',
   'pubDate': '2025-09-16T16:45:28Z',
   'displayTime': '2025-09-16T16:45:28Z',
   'isHosted': True,
   'bypassModal': False,
   'previewUrl': None,
   'thumbnail': {'originalUrl': 'https://media.zenfs.com/en/reuters.com/75f1c58fef1a59bf27b4fac6d085e5bd',
    'originalWidth': 800,
    'originalHeight': 562,
    'caption': 'FILE PHOTO: A bird flies past the logo of Vedanta installed on the facade of its headquarters in Mumbai, India January 31, 2018. REUTERS/Danish Siddiqui/File Photo',
    'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/Q79G4yzYmB9raDdUwtrQRw--~B/aD01NjI7dz04MDA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/reuters.com/75f1c58fef1a59bf27b4fac6d085e5bd',
      'width': 800,
      'height': 562,
      'tag': 'original'},
     {'url': 'https://s.yimg.com/uu/api/res/1.2/wOXe945QR2SZKZFQkUcORQ--~B/Zmk9c3RyaW07aD0xMjg7dz0xNzA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/reuters.com/75f1c58fef1a59bf27b4fac6d085e5bd',
      'width': 170,
      'height': 128,
      'tag': '170x128'}]},
   'provider': {'displayName': 'Reuters', 'url': 'https://www.reuters.com/'},
   'canonicalUrl': {'url': 'https://sg.finance.yahoo.com/news/indias-vedanta-keep-coal-energy-164528945.html',
    'site': 'finance',
    'region': 'SG',
    'lang': 'en-SG'},
   'clickThroughUrl': {'url': 'https://finance.yahoo.com/news/indias-vedanta-keep-coal-energy-164528945.html',
    'site': 'finance',
    'region': 'US',
    'lang': 'en-US'},
   'metadata': {'editorsPick': False},
   'finance': {'premiumFinance': {'isPremiumNews': False,
     'isPremiumFreeNews': False}},
   'storyline': None}},
 {'id': 'e4d2b2b3-ed14-377a-829f-d8cce2c23bfa',
  'content': {'id': 'e4d2b2b3-ed14-377a-829f-d8cce2c23bfa',
   'contentType': 'STORY',
   'title': 'Vedanta faces government objections over demerger',
   'description': '',
   'summary': 'The government accused Vedanta of altering the demerger scheme post-approval from the SEBI.',
   'pubDate': '2025-08-21T11:04:19Z',
   'displayTime': '2025-08-21T11:04:19Z',
   'isHosted': True,
   'bypassModal': False,
   'previewUrl': None,
   'thumbnail': {'originalUrl': 'https://media.zenfs.com/en/mining_technology_700/824bfc723f63a83e75927a6a1dbb5168',
    'originalWidth': 1440,
    'originalHeight': 810,
    'caption': 'In December',
    'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/1S8jmDFgE_bMcmjYozfjUg--~B/aD04MTA7dz0xNDQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/mining_technology_700/824bfc723f63a83e75927a6a1dbb5168',
      'width': 1440,
      'height': 810,
      'tag': 'original'},
     {'url': 'https://s.yimg.com/uu/api/res/1.2/FvgttjtO.gEen9uV5QX3wQ--~B/Zmk9c3RyaW07aD0xMjg7dz0xNzA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/mining_technology_700/824bfc723f63a83e75927a6a1dbb5168',
      'width': 170,
      'height': 128,
      'tag': '170x128'}]},
   'provider': {'displayName': 'Mining Technology',
    'url': 'https://www.globaldata.com/'},
   'canonicalUrl': {'url': 'https://www.mining-technology.com/news/vedanta-restructuring-four-new-entities/',
    'site': 'finance',
    'region': 'US',
    'lang': 'en-US'},
   'clickThroughUrl': {'url': 'https://finance.yahoo.com/news/vedanta-faces-government-objections-over-110419966.html',
    'site': 'finance',
    'region': 'US',
    'lang': 'en-US'},
   'metadata': {'editorsPick': False},
   'finance': {'premiumFinance': {'isPremiumNews': False,
     'isPremiumFreeNews': False}},
   'storyline': None}},
 {'id': '1f2987c7-ac1d-3c47-abf2-70f647068105',
  'content': {'id': '1f2987c7-ac1d-3c47-abf2-70f647068105',
   'contentType': 'STORY',
   'title': "Indian miner Vedanta's demerger faces government pushback, CNBC-TV18 reports",
   'description': '',
   'summary': 'At a hearing conducted by the National Company Law Tribunal, the Indian government alleged that Vedanta modified the demerger scheme after securing a no objection certificate from the Securities and Exchange Board of India, CNBC said.  The NCLT is a quasi-judicial body that adjudicates matters related to companies.',
   'pubDate': '2025-08-20T07:24:46Z',
   'displayTime': '2025-08-20T07:24:46Z',
   'isHosted': True,
   'bypassModal': False,
   'previewUrl': None,
   'thumbnail': {'originalUrl': 'https://media.zenfs.com/en/reuters.com/931b05b19a1019e9d6e6a4e00b930bf2',
    'originalWidth': 800,
    'originalHeight': 562,
    'caption': 'A bird flies past the logo of Vedanta installed on the facade of its headquarters in Mumbai',
    'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/O6hmY6_i9uUdv5gDDAhrCA--~B/aD01NjI7dz04MDA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/reuters.com/931b05b19a1019e9d6e6a4e00b930bf2',
      'width': 800,
      'height': 562,
      'tag': 'original'},
     {'url': 'https://s.yimg.com/uu/api/res/1.2/iqUp_NaUDoVRfDqexh_qAg--~B/Zmk9c3RyaW07aD0xMjg7dz0xNzA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/reuters.com/931b05b19a1019e9d6e6a4e00b930bf2',
      'width': 170,
      'height': 128,
      'tag': '170x128'}]},
   'provider': {'displayName': 'Reuters', 'url': 'https://www.reuters.com/'},
   'canonicalUrl': {'url': 'https://sg.finance.yahoo.com/news/indian-miner-vedantas-demerger-faces-072446876.html',
    'site': 'finance',
    'region': 'SG',
    'lang': 'en-SG'},
   'clickThroughUrl': {'url': 'https://finance.yahoo.com/news/indian-miner-vedantas-demerger-faces-072446876.html',
    'site': 'finance',
    'region': 'US',
    'lang': 'en-US'},
   'metadata': {'editorsPick': False},
   'finance': {'premiumFinance': {'isPremiumNews': False,
     'isPremiumFreeNews': False}},
   'storyline': None}},
 {'id': 'a6559edb-c802-3abe-9e46-e54ce17aa365',
  'content': {'id': 'a6559edb-c802-3abe-9e46-e54ce17aa365',
   'contentType': 'STORY',
   'title': 'Vedanta, PureTech’s microbiome startup, to cut staff after study setback',
   'description': '',
   'summary': 'The result marks the latest failure for a microbiome\xa0therapy in inflammatory bowel disease, which has long been a top target of Vedanta and other companies like it.',
   'pubDate': '2025-08-14T07:53:00Z',
   'displayTime': '2025-08-14T07:53:00Z',
   'isHosted': True,
   'bypassModal': False,
   'previewUrl': None,
   'thumbnail': {'originalUrl': 'https://media.zenfs.com/en/biopharma_dive_768/46df78207e3a4a06b689530c193e2cba',
    'originalWidth': 1600,
    'originalHeight': 900,
    'caption': '',
    'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/0Ov3HHt7mhwhgLNvk20ytg--~B/aD05MDA7dz0xNjAwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/biopharma_dive_768/46df78207e3a4a06b689530c193e2cba',
      'width': 1600,
      'height': 900,
      'tag': 'original'},
     {'url': 'https://s.yimg.com/uu/api/res/1.2/uTf3NtXwRVyNjE7aX.I4Rg--~B/Zmk9c3RyaW07aD0xMjg7dz0xNzA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/biopharma_dive_768/46df78207e3a4a06b689530c193e2cba',
      'width': 170,
      'height': 128,
      'tag': '170x128'}]},
   'provider': {'displayName': 'BioPharma Dive',
    'url': 'https://biopharmadive.com/'},
   'canonicalUrl': {'url': 'https://www.biopharmadive.com/news/vedanta-layoffs-ulcerative-colitis-study-results-microbiome-puretech/757650/',
    'site': 'finance',
    'region': 'US',
    'lang': 'en-US'},
   'clickThroughUrl': {'url': 'https://finance.yahoo.com/news/vedanta-puretech-microbiome-startup-cut-075300234.html',
    'site': 'finance',
    'region': 'US',
    'lang': 'en-US'},
   'metadata': {'editorsPick': False},
   'finance': {'premiumFinance': {'isPremiumNews': False,
     'isPremiumFreeNews': False}},
   'storyline': None}},
 {'id': 'e201f443-7916-3dfd-9ecd-6dc0c232082d',
  'content': {'id': 'e201f443-7916-3dfd-9ecd-6dc0c232082d',
   'contentType': 'STORY',
   'title': 'Asian Energy Services secures $100m integrated service contract from Vedanta',
   'description': '',
   'summary': 'The order, which includes field development and O&M services, will be executed over a period of 57 months.',
   'pubDate': '2025-07-28T11:05:02Z',
   'displayTime': '2025-07-28T11:05:02Z',
   'isHosted': True,
   'bypassModal': False,
   'previewUrl': None,
   'thumbnail': {'originalUrl': 'https://media.zenfs.com/en/offshore_technology_431/58bb700807892d69cb8bf4795c740ec5',
    'originalWidth': 1440,
    'originalHeight': 810,
    'caption': 'Asian Energy Services offers integrated oil and gas services such as 2D and 3D seismic geographical data acquisition. Credit: T. Schneider/Shutterstock.com.',
    'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/ATjwSBHsOtZuYvZHDpVh7Q--~B/aD04MTA7dz0xNDQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/offshore_technology_431/58bb700807892d69cb8bf4795c740ec5',
      'width': 1440,
      'height': 810,
      'tag': 'original'},
     {'url': 'https://s.yimg.com/uu/api/res/1.2/cgPyTi6PuhyCCBkxMd8jAQ--~B/Zmk9c3RyaW07aD0xMjg7dz0xNzA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/offshore_technology_431/58bb700807892d69cb8bf4795c740ec5',
      'width': 170,
      'height': 128,
      'tag': '170x128'}]},
   'provider': {'displayName': 'Offshore Technology',
    'url': 'https://www.globaldata.com/'},
   'canonicalUrl': {'url': 'https://www.offshore-technology.com/news/asian-energy-services-vedanta-contract/',
    'site': 'finance',
    'region': 'US',
    'lang': 'en-US'},
   'clickThroughUrl': {'url': 'https://finance.yahoo.com/news/asian-energy-services-secures-100m-110502510.html',
    'site': 'finance',
    'region': 'US',
    'lang': 'en-US'},
   'metadata': {'editorsPick': False},
   'finance': {'premiumFinance': {'isPremiumNews': False,
     'isPremiumFreeNews': False}},
   'storyline': None}},
 {'id': '508cb0f5-85ee-3ee5-98ee-ad887363fddf',
  'content': {'id': '508cb0f5-85ee-3ee5-98ee-ad887363fddf',
   'contentType': 'STORY',
   'title': 'Vedanta plans Zambian smelter refurbishment to boost copper output',
   'description': '',
   'summary': "Despite ambitions to reach an annual production of 300,000t, KCM's current output is less than 10% of this target.",
   'pubDate': '2025-07-17T11:29:33Z',
   'displayTime': '2025-07-17T11:29:33Z',
   'isHosted': True,
   'bypassModal': False,
   'previewUrl': None,
   'thumbnail': {'originalUrl': 'https://media.zenfs.com/en/mining_technology_700/82d4018b8171868e941b74ed41826939',
    'originalWidth': 1440,
    'originalHeight': 810,
    'caption': 'Vedanta',
    'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/fSfH2iwC3kwKj7jzRDFxww--~B/aD04MTA7dz0xNDQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/mining_technology_700/82d4018b8171868e941b74ed41826939',
      'width': 1440,
      'height': 810,
      'tag': 'original'},
     {'url': 'https://s.yimg.com/uu/api/res/1.2/zOjj7n.KVlmC2TyjrDc6tA--~B/Zmk9c3RyaW07aD0xMjg7dz0xNzA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/mining_technology_700/82d4018b8171868e941b74ed41826939',
      'width': 170,
      'height': 128,
      'tag': '170x128'}]},
   'provider': {'displayName': 'Mining Technology',
    'url': 'https://www.globaldata.com/'},

In [36]:
dat.actions

                           Dividends  Stock Splits
Date
1998-08-03 00:00:00+05:30     0.0625           0.0
1999-08-30 00:00:00+05:30     0.0625           0.0
2000-04-13 00:00:00+05:30     0.0375           0.0
2001-07-23 00:00:00+05:30     0.0750           0.0
2002-06-20 00:00:00+05:30     0.0750           0.0
2003-09-09 00:00:00+05:30     0.0625           0.0
2004-02-12 00:00:00+05:30     0.0500           0.0
2004-06-28 00:00:00+05:30     0.2000           0.0
2005-01-06 00:00:00+05:30     0.1250           0.0
2005-02-16 00:00:00+05:30     0.0000           2.0
2005-07-11 00:00:00+05:30     1.0000           0.0
2006-03-13 00:00:00+05:30     0.7500           0.0
2006-12-04 00:00:00+05:30     1.2500           0.0
2007-02-19 00:00:00+05:30     0.7500           0.0
2007-09-21 00:00:00+05:30     1.2500           0.0
2008-02-06 00:00:00+05:30     0.7500           0.0
2008-07-11 00:00:00+05:30     1.5000           0.0
2008-08-08 00:00:00+05:30     0.0000          10.0
2009-07-31 00:00:00+05:30     2.2500           0.0
2010-07-02 00:00:00+05:30     3.2500           0.0
2011-06-30 00:00:00+05:30     3.5000           0.0
2012-02-01 00:00:00+05:30     2.0000           0.0
2012-06-08 00:00:00+05:30     2.0000           0.0
2013-05-31 00:00:00+05:30     0.1000           0.0
2013-11-06 00:00:00+05:30     1.5000           0.0
2014-07-04 00:00:00+05:30     1.7500           0.0
2014-11-03 00:00:00+05:30     1.7500           0.0
2015-07-06 00:00:00+05:30     2.3500           0.0
2015-10-30 00:00:00+05:30     3.5000           0.0
2016-11-07 00:00:00+05:30     1.7500           0.0
2017-04-11 00:00:00+05:30    17.7000           0.0
2018-03-20 00:00:00+05:30    21.2000           0.0
2018-11-06 00:00:00+05:30    17.0000           0.0
2019-03-13 00:00:00+05:30     1.8500           0.0
2020-03-05 00:00:00+05:30     3.9000           0.0
2020-10-28 00:00:00+05:30     9.5000           0.0
2021-09-08 00:00:00+05:30    18.5000           0.0
2021-12-17 00:00:00+05:30    13.5000           0.0
2022-03-09 00:00:00+05:30    13.0000           0.0
2022-05-06 00:00:00+05:30    31.5000           0.0
2022-07-26 00:00:00+05:30    19.5000           0.0
2022-11-29 00:00:00+05:30    17.5000           0.0
2023-02-03 00:00:00+05:30    12.5000           0.0
2023-04-06 00:00:00+05:30    20.5000           0.0
2023-05-30 00:00:00+05:30    18.5000           0.0
2023-12-27 00:00:00+05:30    11.0000           0.0
2024-05-24 00:00:00+05:30    11.0000           0.0
2024-08-02 00:00:00+05:30     4.0000           0.0
2024-09-10 00:00:00+05:30    20.0000           0.0
2024-12-24 00:00:00+05:30     8.5000           0.0
2025-06-24 00:00:00+05:30     7.0000           0.0
2025-08-26 00:00:00+05:30    16.0000           0.0

In [89]:
dat.analyst_price_targets

{'current': 431.6,
 'high': 601.0,
 'low': 435.0,
 'mean': 503.86667,
 'median': 500.0}

In [90]:
dat.balance_sheet

,2025-03-31,2024-03-31,2023-03-31,2022-03-31,2021-03-31
Treasury Shares Number,5.083517e+06,7.866397e+06,4.005075e+06,8.693406e+06,NaN
Ordinary Shares Number,3.905305e+09,3.709340e+09,3.713194e+09,3.708506e+09,NaN
Share Issued,3.910388e+09,3.717206e+09,3.717199e+09,3.717199e+09,NaN
Net Debt,6.985900e+11,6.894500e+11,5.924600e+11,4.441300e+11,NaN
Total Debt,7.518500e+11,7.277000e+11,6.661800e+11,5.355800e+11,NaN
...,...,...,...,...,...
Cash Cash Equivalents And Short Term Investments,2.105400e+11,1.742300e+11,1.851500e+11,4.016800e+11,NaN
Other Short Term Investments,1.706100e+11,1.461100e+11,1.158900e+11,3.149700e+11,NaN
Cash And Cash Equivalents,3.993000e+10,2.812000e+10,6.926000e+10,8.671000e+10,NaN
Cash Equivalents,9.130000e+09,1.290000e+09,8.480000e+09,3.263000e+10,NaN
Cash Financial,3.080000e+10,2.683000e+10,6.078000e+10,5.408000e+10,NaN

In [91]:
dat.balancesheet

,2025-03-31,2024-03-31,2023-03-31,2022-03-31,2021-03-31
Treasury Shares Number,5.083517e+06,7.866397e+06,4.005075e+06,8.693406e+06,NaN
Ordinary Shares Number,3.905305e+09,3.709340e+09,3.713194e+09,3.708506e+09,NaN
Share Issued,3.910388e+09,3.717206e+09,3.717199e+09,3.717199e+09,NaN
Net Debt,6.985900e+11,6.894500e+11,5.924600e+11,4.441300e+11,NaN
Total Debt,7.518500e+11,7.277000e+11,6.661800e+11,5.355800e+11,NaN
...,...,...,...,...,...
Cash Cash Equivalents And Short Term Investments,2.105400e+11,1.742300e+11,1.851500e+11,4.016800e+11,NaN
Other Short Term Investments,1.706100e+11,1.461100e+11,1.158900e+11,3.149700e+11,NaN
Cash And Cash Equivalents,3.993000e+10,2.812000e+10,6.926000e+10,8.671000e+10,NaN
Cash Equivalents,9.130000e+09,1.290000e+09,8.480000e+09,3.263000e+10,NaN
Cash Financial,3.080000e+10,2.683000e+10,6.078000e+10,5.408000e+10,NaN

In [92]:
dat.calendar

{'Ex-Dividend Date': datetime.date(2025, 8, 26),
 'Earnings Date': [datetime.date(2025, 7, 31)],
 'Earnings High': None,
 'Earnings Low': None,
 'Earnings Average': None,
 'Revenue High': 373900000000,
 'Revenue Low': 373900000000,
 'Revenue Average': 373900000000}

In [95]:
dat.capital_gains

Series([], dtype: object)

In [96]:
dat.cash_flow

,2025-03-31,2024-03-31,2023-03-31,2022-03-31,2021-03-31
Free Cash Flow,2.255700e+11,1.890200e+11,1.927800e+11,2.433300e+11,NaN
Repurchase Of Capital Stock,-4.200000e+08,-2.000000e+09,0.000000e+00,NaN,0.0
Repayment Of Debt,-3.830900e+11,-3.143300e+11,-2.973400e+11,-3.909500e+11,NaN
Issuance Of Debt,3.967700e+11,3.624800e+11,4.247000e+11,3.504700e+11,NaN
Issuance Of Capital Stock,8.458000e+10,-2.000000e+09,0.000000e+00,NaN,0.0
...,...,...,...,...,...
Gain Loss On Investment Securities,-2.970000e+09,-3.460000e+09,-7.400000e+08,-2.090000e+09,NaN
Net Foreign Currency Exchange Gain Loss,5.700000e+08,2.630000e+09,4.920000e+09,2.350000e+09,NaN
Gain Loss On Sale Of PPE,-1.910000e+09,1.140000e+09,9.000000e+07,-1.280000e+09,NaN
Gain Loss On Sale Of Business,NaN,-1.780000e+09,0.000000e+00,NaN,NaN
Net Income From Continuing Operations,2.687700e+11,2.036500e+11,2.027600e+11,3.296400e+11,NaN

In [97]:
dat.cashflow

,2025-03-31,2024-03-31,2023-03-31,2022-03-31,2021-03-31
Free Cash Flow,2.255700e+11,1.890200e+11,1.927800e+11,2.433300e+11,NaN
Repurchase Of Capital Stock,-4.200000e+08,-2.000000e+09,0.000000e+00,NaN,0.0
Repayment Of Debt,-3.830900e+11,-3.143300e+11,-2.973400e+11,-3.909500e+11,NaN
Issuance Of Debt,3.967700e+11,3.624800e+11,4.247000e+11,3.504700e+11,NaN
Issuance Of Capital Stock,8.458000e+10,-2.000000e+09,0.000000e+00,NaN,0.0
...,...,...,...,...,...
Gain Loss On Investment Securities,-2.970000e+09,-3.460000e+09,-7.400000e+08,-2.090000e+09,NaN
Net Foreign Currency Exchange Gain Loss,5.700000e+08,2.630000e+09,4.920000e+09,2.350000e+09,NaN
Gain Loss On Sale Of PPE,-1.910000e+09,1.140000e+09,9.000000e+07,-1.280000e+09,NaN
Gain Loss On Sale Of Business,NaN,-1.780000e+09,0.000000e+00,NaN,NaN
Net Income From Continuing Operations,2.687700e+11,2.036500e+11,2.027600e+11,3.296400e+11,NaN

In [99]:
dat.dividends

Date
1998-08-03 00:00:00+05:30     0.0625
1999-08-30 00:00:00+05:30     0.0625
2000-04-13 00:00:00+05:30     0.0375
2001-07-23 00:00:00+05:30     0.0750
2002-06-20 00:00:00+05:30     0.0750
2003-09-09 00:00:00+05:30     0.0625
2004-02-12 00:00:00+05:30     0.0500
2004-06-28 00:00:00+05:30     0.2000
2005-01-06 00:00:00+05:30     0.1250
2005-07-11 00:00:00+05:30     1.0000
2006-03-13 00:00:00+05:30     0.7500
2006-12-04 00:00:00+05:30     1.2500
2007-02-19 00:00:00+05:30     0.7500
2007-09-21 00:00:00+05:30     1.2500
2008-02-06 00:00:00+05:30     0.7500
2008-07-11 00:00:00+05:30     1.5000
2009-07-31 00:00:00+05:30     2.2500
2010-07-02 00:00:00+05:30     3.2500
2011-06-30 00:00:00+05:30     3.5000
2012-02-01 00:00:00+05:30     2.0000
2012-06-08 00:00:00+05:30     2.0000
2013-05-31 00:00:00+05:30     0.1000
2013-11-06 00:00:00+05:30     1.5000
2014-07-04 00:00:00+05:30     1.7500
2014-11-03 00:00:00+05:30     1.7500
2015-07-06 00:00:00+05:30     2.3500
2015-10-30 00:00:00+05:30     3.5000
2016-11-07 00:00:00+05:30     1.7500
2017-04-11 00:00:00+05:30    17.7000
2018-03-20 00:00:00+05:30    21.2000
2018-11-06 00:00:00+05:30    17.0000
2019-03-13 00:00:00+05:30     1.8500
2020-03-05 00:00:00+05:30     3.9000
2020-10-28 00:00:00+05:30     9.5000
2021-09-08 00:00:00+05:30    18.5000
2021-12-17 00:00:00+05:30    13.5000
2022-03-09 00:00:00+05:30    13.0000
2022-05-06 00:00:00+05:30    31.5000
2022-07-26 00:00:00+05:30    19.5000
2022-11-29 00:00:00+05:30    17.5000
2023-02-03 00:00:00+05:30    12.5000
2023-04-06 00:00:00+05:30    20.5000
2023-05-30 00:00:00+05:30    18.5000
2023-12-27 00:00:00+05:30    11.0000
2024-05-24 00:00:00+05:30    11.0000
2024-08-02 00:00:00+05:30     4.0000
2024-09-10 00:00:00+05:30    20.0000
2024-12-24 00:00:00+05:30     8.5000
2025-06-24 00:00:00+05:30     7.0000
2025-08-26 00:00:00+05:30    16.0000
Name: Dividends, dtype: float64

In [100]:
dat.earnings

c:\Projects\Market\venv\Lib\site-packages\yfinance\scrapers\fundamentals.py:36: DeprecationWarning: 'Ticker.earnings' is deprecated as not available via API. Look for "Net Income" in Ticker.income_stmt.
  warnings.warn("'Ticker.earnings' is deprecated as not available via API. Look for \"Net Income\" in Ticker.income_stmt.", DeprecationWarning)

In [101]:
dat.earnings_dates

                           EPS Estimate  Reported EPS  Surprise(%) Event Type
Earnings Date
2025-04-30 15:03:00+05:30         10.63          8.85       -16.77   Earnings
2025-01-31 14:42:00+05:30          8.90          9.02         1.35   Earnings
2024-11-08 14:22:00+05:30          6.03          4.50       -25.41   Earnings
2024-08-06 14:05:00+05:30          5.25          9.64        83.62   Earnings
2024-04-25 16:52:00+05:30          4.40          4.14        -5.91   Earnings
2024-01-25 15:52:00+05:30          3.10          5.38        73.55   Earnings
2023-07-21 18:31:00+05:30           NaN          2.30          NaN   Earnings
2023-05-12 15:20:00+05:30          6.50          8.62        32.62   Earnings

In [104]:
dat.earnings_history

            epsActual  epsEstimate  epsDifference  surprisePercent
quarter
2024-09-30       8.20        6.700           1.50           0.2239
2024-12-31       9.02        8.050           0.97           0.1205
2025-03-31       8.85        8.675           0.17           0.0202
2025-06-30       8.09        7.750           0.34           0.0439

In [105]:
dat.earnings_estimate

            avg   low  high  yearAgoEps  numberOfAnalysts  growth
period
0q          NaN   NaN   NaN         NaN               NaN     NaN
+1q         NaN   NaN   NaN         NaN               NaN     NaN
0y      42.3408  32.4  50.3     34.9696              14.0  0.2108
+1y     50.0175  40.1  62.0     42.3408              13.0  0.1813

In [106]:
dat.eps_revisions

        upLast7days  upLast30days  downLast30days  downLast7Days
period
0q              NaN           NaN             NaN            NaN
+1q             NaN           NaN             NaN            NaN
0y              1.0           5.0             6.0            0.0
+1y             0.0           3.0             6.0            1.0

In [107]:
dat.eps_trend

        current  7daysAgo  30daysAgo  60daysAgo  90daysAgo
period
0q          NaN       NaN        NaN        NaN        NaN
+1q         NaN       NaN        NaN        NaN        NaN
0y      42.3408  42.34027   42.72434   42.93667   42.32970
+1y     50.0175  50.02001   51.88565   51.87205   51.73359

In [108]:
dat.financials

,2025-03-31,2024-03-31,2023-03-31,2022-03-31,2021-03-31
Tax Effect Of Unusual Items,4.941600e+09,8.601000e+09,-6.328000e+08,-1.822800e+09,NaN
Tax Rate For Calcs,2.400000e-01,3.000000e-01,2.800000e-01,2.800000e-01,NaN
Normalized EBITDA,4.483300e+11,3.667500e+11,3.694500e+11,4.703200e+11,NaN
Total Unusual Items,2.059000e+10,2.867000e+10,-2.260000e+09,-6.510000e+09,NaN
Total Unusual Items Excluding Goodwill,2.059000e+10,2.867000e+10,-2.260000e+09,-6.510000e+09,NaN
Net Income From Continuing Operation Net Minority Interest,1.498800e+11,4.239000e+10,1.057400e+11,1.880200e+11,NaN
Reconciled Depreciation,1.113900e+11,1.074400e+11,1.059700e+11,8.919000e+10,NaN
Reconciled Cost Of Revenue,8.901400e+11,8.492600e+11,9.151500e+11,6.970000e+11,NaN
EBITDA,4.689200e+11,3.954200e+11,3.671900e+11,4.638100e+11,NaN
EBIT,3.575300e+11,2.879800e+11,2.612200e+11,3.746200e+11,NaN
Net Interest Income,-7.526000e+10,-7.779000e+10,-3.963000e+10,-2.905000e+10,NaN
Interest Expense,8.876000e+10,8.433000e+10,5.846000e+10,4.498000e+10,NaN
Interest Income,2.388000e+10,1.686000e+10,2.262000e+10,1.885000e+10,NaN
Normalized Income,1.342316e+11,2.232100e+10,1.073672e+11,1.927072e+11,NaN
Net Income From Continuing And Discontinued Operation,1.498800e+11,4.239000e+10,1.057400e+11,1.880200e+11,NaN
Total Expenses,1.193660e+12,1.169650e+12,1.211190e+12,9.518200e+11,NaN
Rent Expense Supplemental,6.200000e+08,5.500000e+08,6.100000e+08,3.800000e+08,NaN
Total Operating Income As Reported,NaN,NaN,NaN,3.896270e+11,1.868520e+11
Diluted Average Shares,3.877900e+09,3.746400e+09,3.733900e+09,3.732037e+09,NaN
Basic Average Shares,3.846300e+09,3.717900e+09,3.709700e+09,3.706288e+09,NaN
Diluted EPS,3.865000e+01,1.133000e+01,2.832000e+01,5.038000e+01,NaN
Basic EPS,3.897000e+01,1.142000e+01,2.850000e+01,5.073000e+01,NaN
Diluted NI Availto Com Stockholders,1.498800e+11,4.239000e+10,1.057400e+11,1.880200e+11,NaN
Net Income Common Stockholders,1.498800e+11,4.239000e+10,1.057400e+11,1.880200e+11,NaN
Otherunder Preferred Stock Dividend,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN
Net Income,1.498800e+11,4.239000e+10,1.057400e+11,1.880200e+11,NaN
Minority Interests,-5.547000e+10,-3.300000e+10,-3.929000e+10,-4.908000e+10,NaN
Net Income Including Noncontrolling Interests,2.053500e+11,7.539000e+10,1.450300e+11,2.371000e+11,NaN
Net Income Extraordinary,-7.320000e+09,-6.520000e+10,2.740000e+09,NaN,NaN
Net Income Continuous Operations,2.053500e+11,7.539000e+10,1.450300e+11,2.371000e+11,NaN
Earnings From Equity Interest Net Of Tax,NaN,NaN,NaN,1.000000e+07,-1.000000e+07
Tax Provision,6.342000e+10,1.282600e+11,5.770000e+10,9.255000e+10,NaN
Pretax Income,2.687700e+11,2.036500e+11,2.027600e+11,3.296400e+11,NaN
Other Income Expense,NaN,NaN,NaN,-3.630000e+08,1.131300e+10
Other Non Operating Income Expenses,5.000000e+09,2.090000e+09,2.210000e+09,1.310000e+09,NaN
Special Income Charges,2.059000e+10,2.867000e+10,-2.260000e+09,-6.510000e+09,NaN
Other Special Charges,3.100000e+08,-2.682000e+10,9.790000e+09,6.400000e+09,NaN
Write Off,NaN,NaN,1.100000e+08,1.100000e+08,NaN
Impairment Of Capital Assets,-2.090000e+10,-1.850000e+09,-7.530000e+09,1.220000e+09,NaN
Restructuring And Mergern Acquisition,NaN,NaN,NaN,0.000000e+00,-1.232000e+09
Gain On Sale Of Security,NaN,NaN,NaN,-3.630000e+08,1.008100e+10
Net Non Operating Interest Income Expense,-7.526000e+10,-7.779000e+10,-3.963000e+10,-2.905000e+10,NaN
Total Other Finance Cost,1.038000e+10,1.032000e+10,3.790000e+09,2.920000e+09,NaN
Interest Expense Non Operating,8.876000e+10,8.433000e+10,5.846000e+10,4.498000e+10,NaN
Interest Income Non Operating,2.388000e+10,1.686000e+10,2.262000e+10,1.885000e+10,NaN
Operating Income,3.135900e+11,2.482800e+11,2.428500e+11,3.601000e+11,NaN
Operating Expense,3.035200e+11,3.203900e+11,2.960400e+11,2.548200e+11,NaN
Other Operating Expenses,2.705400e+11,2.836000e+11,2.547400e+11,2.120500e+11,NaN
Selling General And Administration,2.272000e+10,2.566000e+10,3.148000e+10,3.213000e+10,NaN
Selling And Marketing Expense,2.036000e+10,2.288000e+10,2.856000e+10,2.944000e+10,NaN
General And Administrative Expense,2.360000e+09,2.780000e+09,2.920000e+09,2.690000e+09,NaN
Other Gand A,NaN,NaN,NaN,5.020400e+10,3.946300e+10
Rent And Landing Fees,6.200000e+08,5.500000e+08,6.100000e+08,3.800000e+08,NaN
Salaries And Wages,NaN,NaN,NaN,2.811000e+10,2.861000e+10
Gross Profit,6.171100e+11,5.686700e+11,5.388900e+11,6.149200e+11,NaN
Cost Of Revenue,8.901400e+11,8.492600e+11,9.151500e+11,6.970000e+11,NaN
Total Revenue,1.507250e+12,1.417930e+12,1.454040e+12,1.311920e+12,NaN
Operating Revenue,1.507250e+12,1.417930e+12,1.454040e+12,1.311920e+12,NaN

In [4]:
#dat.info
#dat.calendar
#dat.analyst_price_targets
#dat.quarterly_income_stmt
dat.history(period='5d')
#dat.option_chain(dat.options[0]).calls

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2025-09-08 00:00:00+05:30,441.000000,441.950012,433.350006,434.399994,11885826,0.0,0.0
2025-09-09 00:00:00+05:30,435.000000,437.899994,431.950012,432.799988,6379983,0.0,0.0
2025-09-10 00:00:00+05:30,435.000000,437.500000,432.000000,433.700012,5516735,0.0,0.0
2025-09-11 00:00:00+05:30,434.049988,439.799988,432.950012,437.700012,6964582,0.0,0.0
2025-09-12 00:00:00+05:30,440.000000,455.000000,439.100006,450.899994,15838929,0.0,0.0

import importlib
import mymodule.DatabaseConnection  # first import
importlib.reload(mymodule.DatabaseConnection)

In [ ]:
# Update Dividend for Stocks
from mymodule.DatabaseConnection import CRUD
import yfinance as yf
import pandas as pd
import numpy as np

lo_stockcode = CRUD('StockExchange_stockcode')
df_stockcode = pd.DataFrame(lo_stockcode.Read(''))

sub = lambda a: 'NS' if a == 'NSE' else 'BO'

lo_div = CRUD('dividends')
df_dividends = pd.DataFrame(lo_div.Read(''))

for i, code in df_stockcode[1:].iterrows():
    if code['StockExchange'] != 'NSE':
        continue
    query_symbol = code['Symbol'] + '.' + sub(code['StockExchange'])
    print(query_symbol)
    dat = yf.Ticker(query_symbol)
    dividend = pd.DataFrame(dat.dividends)
    if len(dat.dividends) > 0:
        dividend['ISIN'] = code['ISIN']
        dividend['RecordDate'] = dividend.index.date
        dividend['dividend'] = (dividend['Dividends'])
        df_dividends = pd.concat([df_dividends, dividend[df_dividends.columns]])

df_dividends.reset_index(drop=True, inplace=True)
lo_div.Create(df_dividends)

DataBase Disconnected
DataBase Disconnected
JISLDVREQS.NS

C:\Users\Ravi\AppData\Local\Temp\ipykernel_41312\426574245.py:26: FutureWarning: The behavior of array concatenation with empty entries is deprecated. In a future version, this will no longer exclude empty items when determining the result dtype. To retain the old behavior, exclude the empty entries before the concat operation.
  df_dividends = pd.concat([df_dividends, dividend[df_dividends.columns]])
C:\Users\Ravi\AppData\Local\Temp\ipykernel_41312\426574245.py:26: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_dividends = pd.concat([df_dividends, dividend[df_dividends.columns]])

FELDVR.NS
KRBL.NS
RELIANCE.NS
SJVN.NS
MGL.NS
SIEMENS.NS
PROTEAN.NS
AVANTEL.NS
AMDIND.NS
ASTRAL.NS
ARVEE.NS
CRISIL.NS
GEOJITFSL.NS
FEDFINA.NS
IDBI.NS
SRPL.NS
INFY.NS
TREJHARA.NS
SVLL.NS
BIKAJI.NS
MEGASTAR.NS
HARIOMPIPE.NS
PRUDENT.NS
ACUTAAS.NS
SWIGGY.NS
OSWALSEEDS.NS
STOVEKRAFT.NS
RAJMET.NS
SONAMLTD.NS
CRAFTSMAN.NS
SWSOLAR.NS
INTERARCH.NS
DHARMAJ.NS
AHLADA.NS
SGIL.NS
DALBHARAT.NS
HILINFRA.NS
NILASPACES.NS
UNIECOM.NS
MANORAMA.NS
AFFLE.NS
FLAIR.NS
AKG.NS
ABINFRA.NS
KRITIKA.NS
AFSL.NS
ENTERO.NS
PRSMJOHNSN.NS
ZYDUSLIFE.NS
TEJASNET.NS
LTTS.NS
BALUFORGE.NS
TEGA.NS
ACC.NS
KSHITIJPOL.NS
ONESOURCE.NS
TECILCHEM.NS
TINNARUBR.NS
MANAKSIA.NS
DABUR.NS
DNAMEDIA.NS
GESHIP.NS
SMLT.NS
SUVIDHAA.NS
LT.NS
SBICARD.NS
JSWSTEEL.NS
HSCL.NS
SASTASUNDR.NS
STANLEY.NS
AWHCL.NS
AARTECH.NS
VMM.NS
BBTCL.NS
RITCO.NS
SPECTRUM.NS
STYLEBAAZA.NS
IRISDOREME.NS
SILGO.NS
SKYGOLD.NS
MARINE.NS
VINNY.NS
SRD.NS
XELPMOC.NS
EMUDHRA.NS
SPENCERS.NS
RECLTD.NS
BAIDFIN.NS
INSPIRISYS.NS
GOKUL.NS
ASIANPAINT.NS
DODLA.NS
EUROTEXIND.NS
ASIANTILES.NS
IEX.NS
NSIL.NS
NECLIFE.NS
SETUINFRA.NS
AEROFLEX.NS
PRUDMOULI.NS
GRAVITA.NS
CONSOFINVT.NS
GOLDIAM.NS
ARTEMISMED.NS
GSFC.NS
RCF.NS
MAXHEALTH.NS
BANKBARODA.NS
BPCL.NS
KICL.NS
ROSSARI.NS
ANMOL.NS
AXITA.NS
NOVAAGRI.NS
RAYMONDLSL.NS
AZAD.NS
BOROSCI.NS
FINOPB.NS
BOROLTD.NS
FIRSTCRY.NS
WEL.NS
EMIL.NS
HINDUNILVR.NS
HUDCO.NS
AJANTPHARM.NS
BOMDYEING.NS
PRIMESECU.NS
BSHSL.NS
ARVIND.NS
PTL.NS
ARVSMART.NS
AERONEU.NS
SOTL.NS
RELINFRA.NS
GAEL.NS
KARURVYSYA.NS
UNIENTER.NS
CEWATER.NS
HINDALCO.NS
TVTODAY.NS
IFCI.NS
CINEVISTA.NS
JAMNAAUTO.NS
JASH.NS
JUBLCPL.NS
RETAIL.NS
MAXESTATES.NS
VLEGOV.NS
DGCONTENT.NS
GODIGIT.NS
BRIGHOTEL.NS
ALIVUS.NS
COHANCE.NS
DRCSYSTEMS.NS
UNIVPHOTO.NS
CHEMCON.NS
HDFCBANK.NS
MAYURUNIQ.NS
SUZLON.NS
TREEHOUSE.NS
DHAMPURSUG.NS
ESCORTS.NS
GTL.NS
IVP.NS
VIJAYA.NS
SUNPHARMA.NS
PARAS.NS
ADOR.NS
NELCO.NS
FCL.NS
RIIL.NS
MUTHOOTMF.NS
GRASIM.NS
GILLANDERS.NS
NIBL.NS
JAGSNPHARM.NS
VHLTD.NS
NAVINFLUOR.NS
HIMATSEIDE.NS
WOCKPHARMA.NS
NAHARCAP.NS
SBC.NS
KPITTECH.NS
PAR.NS
ETHOSLTD.NS
PPL.NS
ELIN.NS
BBTC.NS
IVC.NS
BALAMINES.NS
RML.NS
VSSL.NS
VAKRANGEE.NS
WINDMACHIN.NS
CAMLINFINE.NS
BESTAGRO.NS
INDHOTEL.NS
IRFC.NS
ODIGMA.NS
VIPIND.NS
ABREL.NS
KEEPLEARN.NS
CYIENTDLM.NS
REFEX.NS
SANOFI.NS
ZENITHEXPO.NS
IEL.NS
CIPLA.NS
SIMPLEXINF.NS
LAOPALA.NS
HINDWAREAP.NS
RATNAVEER.NS
IGCL.NS
SBGLP.NS
HPIL.NS
LIKHITHA.NS
NAVNETEDUL.NS
KHANDSE.NS
FLEXITUFF.NS
DEVIT.NS
INDIANCARD.NS
FORTIS.NS
SBIN.NS
ALICON.NS
POCL.NS
EQUITASBNK.NS
TRIDENT.NS
AEROENTER.NS
TPHQ.NS
INDGN.NS
EICHERMOT.NS
HAL.NS
WONDERLA.NS
INOXWIND.NS
CGPOWER.NS
CANTABIL.NS
GLAND.NS
EMBDL.NS
ECOSMOBLTY.NS
OSIAHYPER.NS
INDIQUBE.NS
LAXMIINDIA.NS
GEMAROMA.NS
SHANTIGOLD.NS
SHREECEM.NS
JAICORPLTD.NS
INSECTICID.NS
BILVYAPAR.NS
MENONBE.NS
UGARSUGAR.NS
APCL.NS
EPIGRAL.NS
SUNDRMBRAK.NS
ASALCBR.NS
SONACOMS.NS
COMSYN.NS
PRAJIND.NS
PARACABLES.NS
WIPRO.NS
SICALLOG.NS
GMBREW.NS
HCG.NS
SIYSIL.NS
IFBAGRO.NS
GOCLCORP.NS
VIKRAMSOLR.NS
AMBUJACEM.NS
GATEWAY.NS
ZAGGLE.NS
EASEMYTRIP.NS
NDRAUTO.NS
SUPRIYA.NS
PAVNAIND.NS
RBA.NS
IRMENERGY.NS
POWERINDIA.NS
WEIZMANIND.NS
KOHINOOR.NS
LLOYDSENT.NS
LLOYDSE-RE.NS

LLOYDSE-RE.NS: Period 'max' is invalid, must be one of: 1d, 5d

TATASTEEL.NS
KOPRAN.NS
WEWIN.NS
MOREPENLAB.NS
THEMISMED.NS
PLASTIBLEN.NS
BALPHARMA.NS
BANKINDIA.NS
RACE.NS
CHAMBLFERT.NS
THANGAMAYL.NS
ELECTCAST.NS
KESORAMIND.NS
ANIKINDS.NS
RENUKA.NS
AAKASH.NS
PARADEEP.NS
DRREDDY.NS
STLTECH.NS
MUFIN.NS
DCMNVL.NS
KRSNAA.NS
MBEL.NS
SANSTAR.NS
SAMHI.NS
GREENPANEL.NS
SCODATUBES.NS
ICICIBANK.NS
OMAXAUTO.NS
JAIBALAJI.NS
TATACHEM.NS
INDNIPPON.NS
IDFCFIRSTB.NS
HEXT.NS
ALPSINDUS.NS
OBEROIRLTY.NS
LLOYDSENGG.NS
HINDPETRO.NS
KOLTEPATIL.NS
UTIAMC.NS
INDUSINDBK.NS
PPAP.NS
NBCC.NS
NUCLEUS.NS
VCL.NS
AMRUTANJAN.NS
SREEL.NS
MIDHANI.NS
RVHL.NS
AARTISURF.NS
ATAM.NS
FLUOROCHEM.NS
INDIGOPNTS.NS
AKUMS.NS
SIGMA.NS
DCI.NS
VPRPL.NS
CEIGALL.NS
HEMIPROP.NS
ATALREAL.NS
MGEL.NS
THELEELA.NS
KRONOX.NS
DJML.NS
BANSALWIRE.NS
GOCOLORS.NS
PREMIERENE.NS
KAMOPAINTS.NS
SECMARK.NS
MAPMYINDIA.NS
AETHER.NS
PROSTARM.NS
JUBLINGREA.NS
OSWALPUMPS.NS
MUKKA.NS
MAXIND.NS
ADL.NS
KMEW.NS
WCIL.NS
RATEGAIN.NS
MOL.NS
GMRP&UI.NS
ANTHEM.NS
SIGACHI.NS
AAATECH.NS
IPL.NS
KSOLVES.NS
RVTH.NS
RAILTEL.NS
PPLPHARMA.NS
FAIRCHEMOR.NS
NURECA.NS
INNOVACAP.NS
SYRMA.NS
HMAAGRO.NS
BTML.NS
TARC.NS
NPST.NS
DEEPINDS.NS
MOTISONS.NS
MSUMI.NS
EPACK.NS
EXXARO.NS
KRISHIVAL.NS
UMAEXPORTS.NS
TATVA.NS
HPAL.NS
ALLTIME.NS
WINDLAS.NS
ARISINFRA.NS
MOBIKWIK.NS
TRACXN.NS
DDEVPLSTIK.NS
IXIGO.NS
PRABHA.NS
DBOL.NS
LATENTVIEW.NS
PLAZACABLE.NS
AEGISVOPAK.NS
VERANDA.NS
DATAPATTNS.NS
RPTECH.NS
LICI.NS
HONASA.NS
JSLL.NS
VENUSPIPES.NS
NRL.NS
YATHARTH.NS
SANATHAN.NS
YATRA.NS
DREAMFOLKS.NS
GSLSU.NS
HARSHA.NS
GARUDA.NS
VALIANTLAB.NS
BLUEJET.NS
EUREKAFORB.NS
SIGNPOST.NS
DCXINDIA.NS
MVGJL.NS
BAJEL.NS
GOPAL.NS
AVALON.NS
ATHERENERG.NS
EIEL.NS
CELLO.NS
IKIO.NS
TIPSFILMS.NS
AARTIPHARM.NS
QUADFUTURE.NS
OLAELEC.NS
REDTAPE.NS
SGLTL.NS
JGCHEM.NS
REGAAL.NS
PYRAMID.NS
USK.NS
RISHABH.NS
BLAL.NS
SMARTWORKS.NS
BLSE.NS
ATL.NS
NSLNISP.NS
RKSWAMY.NS
NETWEB.NS
TREL.NS
KROSS.NS
BAJAJINDEF.NS
JNKINDIA.NS
ROSSTECH.NS
NTPCGREEN.NS
DBEIL.NS
EMSLIMITED.NS
GHCLTEXTIL.NS
SCILAL.NS
RBZJEWEL.NS
OCCLLTD.NS
ORIENTTECH.NS
SSDL.NS
DIGIDRIVE.NS
PLATIND.NS
KRN.NS
SUNCLAY.NS
IGIL.NS
KRYSTAL.NS
ARKADE.NS
VSTL.NS
DENTA.NS
SRM.NS
PATELRMART.NS
SENORES.NS
GALAPREC.NS
TOLINS.NS
STALLION.NS
BALAJEE.NS
VRAJ.NS
CRIZAC.NS
QPOWER.NS
CHEMBONDCH.NS
MAMATA.NS
UNIMECH.NS
BLUSPRING.NS
DIGITIDE.NS
BLACKBUCK.NS
SANOFICONR.NS
GLOBALE.NS
MFML.NS
GLOBECIVIL.NS
HYUNDAI.NS
CARRARO.NS
LOTUSDEV.NS
SAGILITY.NS
LAXMIDENTL.NS
ATUL.NS
WSI.NS
M&M.NS
GRANULES.NS
AFCONS.NS
HLVLTD.NS
CHOICEIN.NS
GODREJCP.NS
ADSL.NS
MRPL.NS
SMCGLOBAL.NS
TRAVELFOOD.NS
TVSHLTD.NS
3PLAND.NS
SELMC.NS
RPGLIFE.NS
ANKITMETAL.NS
HITECH.NS
TNPL.NS
WANBURY.NS
SUNDARAM.NS
AWFIS.NS
SCI.NS
ARMANFIN.NS
BPL.NS
MINDTECK.NS
CONCOR.NS
63MOONS.NS
PDSL.NS
MHLXMIRU.NS
LAMBODHARA.NS
METROPOLIS.NS
SIKKO.NS
GNFC.NS
SAIL.NS
LICHSGFIN.NS
IKS.NS
APCOTEXIND.NS
BAGFILMS.NS
VARDHACRLC.NS
ABB.NS
CURAA.NS
NARMADA.NS
BAJAJHLDNG.NS
NUVOCO.NS
BSE.NS
BALRAMCHIN.NS
CARBORUNIV.NS
HITECHCORP.NS
CHOLAFIN.NS
JSWENERGY.NS
INDUSTOWER.NS
THEJO.NS
ESSARSHPNG.NS
NAGREEKEXP.NS
TAINWALCHM.NS
MMTC.NS
SBILIFE.NS
STEELCAS.NS
DELTACORP.NS
PASHUPATI.NS
EIDPARRY.NS
APOLLOPIPE.NS
YAARI.NS
HITECHGEAR.NS
HDFCAMC.NS
GOODLUCK.NS
KPEL.NS
EVEREADY.NS
FIVESTAR.NS
ACI.NS
GAIL.NS
SINTERCOM.NS
SAMBHV.NS
SURANAT&P.NS
GMDCLTD.NS
RELAXO.NS
AURIONPRO.NS
AKZOINDIA.NS
TI.NS
IFGLEXPOR.NS
KECL.NS
PFC.NS
CYIENT.NS
NEOGEN.NS
ALPHAGEO.NS
GRPLTD.NS
PENINLAND.NS
KANORICHEM.NS
KFINTECH.NS
NATIONALUM.NS
UCAL.NS
BVCL.NS
FUSION.NS
PEL.NS
TNTELE.NS
TEXMOPIPES.NS
OSWALAGRO.NS
TAKE.NS
LYPSAGEMS.NS
TATATECH.NS
SULA.NS
ORIENTELEC.NS
OSWALGREEN.NS
CUBEXTUB.NS
20MICRONS.NS
TARSONS.NS
KIRLOSENG.NS
SPIC.NS
JPOLYINVST.NS
TNPETRO.NS
IBULHSGFIN.NS

$IBULHSGFIN.NS: possibly delisted; no timezone found

DELHIVERY.NS
CHOLAHLDNG.NS
SANDUMA.NS
NIBE.NS
ABLBL.NS
ALKYLAMINE.NS
LUXIND.NS
TATACOMM.NS
SHAILY.NS
THERMAX.NS
ACLGATI.NS
UYFINCORP.NS
TRITURBINE.NS
MTNL.NS
BLS.NS
ITC.NS
TATAMOTORS.NS
ALBERTDAVD.NS
NDTV.NS
MACPOWER.NS
INDORAMA.NS
PIONEEREMB.NS
KMSUGAR.NS
HEROMOTOCO.NS
EIMCOELECO.NS
GLAXO.NS
VIJIFIN.NS
PNB.NS
NIITLTD.NS
MORARJEE.NS
VIKASLIFE.NS
GIPCL.NS
LUMAXIND.NS
PARASPETRO.NS
NOCIL.NS
BALMLAWRIE.NS
KELLTONTEC.NS
RSSOFTWARE.NS
J&KBANK.NS
EMCURE.NS
COROMANDEL.NS
BORANA.NS
SATIA.NS
HGS.NS
SALASAR.NS
FEDERALBNK.NS
BDL.NS
CASTROLIND.NS
IMAGICAA.NS
SIL.NS
JISLJALEQS.NS
BATAINDIA.NS
HAVELLS.NS
INGERRAND.NS
GPIL.NS
CHENNPETRO.NS
SMARTLINK.NS
PGHH.NS
DAVANGERE.NS
MFSL.NS
CGCL.NS
PFIZER.NS
MARATHON.NS
FINPIPE.NS
EKC.NS
DIFFNKG.NS
FILATFASH.NS
CELEBRITY.NS
GUJALKALI.NS
BASML.NS
TALBROAUTO.NS
FACT.NS
IGARASHI.NS
VERTOZ.NS
STYRENIX.NS
NELCAST.NS
EBGNG.NS
SAKUMA.NS
ORCHPHARMA.NS
WELCORP.NS
PVRINOX.NS
HDIL.NS
TATACONSUM.NS
WELSPUNLIV.NS
GRMOVER.NS
DMART.NS
AYMSYNTEX.NS
BAJAJELEC.NS
SUPREMEIND.NS
PNCINFRA.NS
PROZONER.NS
MARICO.NS
WORTH.NS
JYOTISTRUC.NS
JINDALPOLY.NS
LPDC.NS
AAREYDRUGS.NS
PGHL.NS
ADVANIHOTR.NS
JAGRAN.NS
SHREEJISPG.NS
ENRIN.NS
RAYMONDREL.NS
GVT&D.NS
VBL.NS
MANALIPETC.NS
EXPLEOSOL.NS
CLEDUCATE.NS
GRINFRA.NS
IREDA.NS
KERNEX.NS
SUNDARMHLD.NS
ASTRAZEN.NS
IGL.NS
SILLYMONKS.NS
IGPL.NS
AGARIND.NS
VEDL.NS
ELECON.NS
POLYMED.NS
ZODIACLOTH.NS
AIIL.NS
RELTD.NS
RAMRAT.NS
ASHOKLEY.NS
AEGISLOG.NS
SUNDROP.NS
RICOAUTO.NS
JWL.NS
WILLAMAGOR.NS
AROGRANITE.NS
PHOENIXLTD.NS
POWERMECH.NS
AIAENG.NS
SPAL.NS
ONGC.NS
BANCOINDIA.NS
CYBERTECH.NS
LTIM.NS
ORCHASP.NS
MAHEPC.NS
WIPL.NS
MAANALU.NS
BRITANNIA.NS
AAVAS.NS
ZUARIIND.NS
KAJARIACER.NS
EQUIPPP.NS
RHFL.NS
SHRIRAMPPS.NS
AUSOMENT.NS
PALREDTEC.NS
RMDRIP.NS
KPIL.NS
JSL.NS
MUFTI.NS
DYNAMATECH.NS
GTLINFRA.NS
SHARDACROP.NS
GREAVESCOT.NS
GATECH.NS
GATECHDVR.NS
SYMPHONY.NS
VOLTAS.NS
SADBHAV.NS
MMFL.NS
INDOWIND.NS
KALPATARU.NS
CLEAN.NS
USHAMART.NS
ASAHISONG.NS
ONWARDTEC.NS
SAGCEM.NS
NITINSPIN.NS
EIHOTEL.NS
CREATIVEYE.NS
RAMASTEEL.NS
SHREYANIND.NS
SASKEN.NS
ORBTEXP.NS
SHREDIGCEM.NS
SPARC.NS
GODREJIND.NS
BLUEDART.NS
KAUSHALYA.NS
FINCABLES.NS
SUMEETINDS.NS
HCL-INSYS.NS
ELLEN.NS
TVSELECT.NS
NGIL.NS
KOTAKBANK.NS
AXISBANK.NS
NESTLEIND.NS
STYLAMIND.NS
OMINFRAL.NS
UMESLTD.NS
IOC.NS
ANANTRAJ.NS
BFUTILITIE.NS
DENORA.NS
PATELENG.NS
UNIPARTS.NS
TATAPOWER.NS
NAGREEKCAP.NS
RAMCOSYS.NS
GSPL.NS
JINDWORLD.NS
SPECIALITY.NS
ITI.NS
MAZDOCK.NS
KIRLOSIND.NS
VINYLINDIA.NS
DLINKINDIA.NS
INDOUS.NS
ZENTEC.NS
ABMINTLLTD.NS
GVKPIL.NS
HINDMOTORS.NS
21STCENMGM.NS
HNDFDS.NS
EPL.NS
GULPOLY.NS
MSTCLTD.NS
E2E.NS
ZEEL.NS
TRIVENI.NS
DYNPRO.NS
AKSHAR.NS
BHEL.NS
BEML.NS
FDC.NS
SUMICHEM.NS
LGHL.NS
COLPAL.NS
GODFRYPHLP.NS
OLECTRA.NS
HMT.NS
PERSISTENT.NS
LATTEYS.NS
BEL.NS
RUSTOMJEE.NS
MAHESHWARI.NS
CAPACITE.NS
ENIL.NS
APTECHT.NS
DPABHUSHAN.NS
HINDZINC.NS
ARSSINFRA.NS
KREBSBIO.NS
NAVKARURB.NS
SHEKHAWATI.NS
SONATSOFTW.NS
LMW.NS
ALOKTEXT.NS

$ALOKTEXT.NS: possibly delisted; no timezone found

VISHNU.NS
MAHSEAMLES.NS
DLF.NS
SURANASOL.NS
AARVEEDEN.NS
WENDT.NS
WESTLIFE.NS
DHANI.NS
OIL.NS
SHANKARA.NS
AJAXENGG.NS
HUHTAMAKI.NS
AMNPLST.NS
GARFIBRES.NS
EIHAHOTELS.NS
ASIANENE.NS
SWARAJENG.NS
PUNJABCHEM.NS
REGENCERAM.NS
RAMANEWS.NS
CYBERMEDIA.NS
SANDHAR.NS
NAVKARCORP.NS
DHARAN.NS
CAMPUS.NS
UNIVCABLES.NS
TITAN.NS
SAHYADRI.NS
CENTEXT.NS
LLOYDSME.NS
PRECOT.NS
ROHLTD.NS
ESABINDIA.NS
DAMCAPITAL.NS
SJS.NS
ELGIEQUIP.NS
SPICEJET.NS
ATLANTAA.NS
SIS.NS
TECHNOE.NS
VISASTEEL.NS
SUBROS.NS
MICEL.NS
GAYAHWS.NS
MAHSCOOTER.NS
DEEPAKNTR.NS
NAHARINDUS.NS
GICHSGFIN.NS
TEAMGTY.NS
NAHARSPING.NS
CARTRADE.NS
GRWRHITECH.NS
KDDL.NS
GLOBAL.NS
HBLENGINE.NS
ROLTA.NS
HAVISHA.NS
SMLISUZU.NS
ROML.NS
ANUP.NS
EVERESTIND.NS
NACLIND.NS
BUTTERFLY.NS
BAJFINANCE.NS
FIBERWEB.NS
MUTHOOTCAP.NS
EMKAY.NS
GALLANTT.NS
CUMMINSIND.NS
AJMERA.NS
ARIES.NS
NAM-INDIA.NS
WAAREERTL.NS
CROMPTON.NS
RAYMOND.NS
RUBYMILLS.NS
EXIDEIND.NS
DICIND.NS
KALYANKJIL.NS
MUKANDLTD.NS
BLUESTONE.NS
TFCILTD.NS
PANAMAPET.NS
BAJAJHIND.NS
ENERGYDEV.NS
QUICKHEAL.NS
INTELLECT.NS
NAHARPOLY.NS
SVPGLOB.NS
PREMIERPOL.NS
NILKAMAL.NS
HINDCOMPOS.NS
SYNCOMF.NS
SOMATEX.NS
KALYANIFRG.NS
GOKULAGRO.NS
BHARATWIRE.NS
NESCO.NS
METROBRAND.NS
PIDILITIND.NS
ZENITHSTL.NS
BYKE.NS
TIRUPATIFL.NS
CENTUM.NS
RITES.NS
DHUNINV.NS
SMSLIFE.NS
DOMS.NS
GILLETTE.NS
BOSCHLTD.NS
AVONMORE.NS
INDIANHUME.NS
PURVA.NS
SOMICONVEY.NS
JINDALSAW.NS
RPPINFRA.NS
SARVESHWAR.NS
TIMKEN.NS
DOLLAR.NS
SINDHUTRAD.NS
LUPIN.NS
ALMONDZ.NS
NIRAJISPAT.NS
RCOM.NS
HAPPYFORGE.NS
RAMCOCEM.NS
THOMASCOOK.NS
INDOTECH.NS
STERTOOLS.NS
SURYAROSNI.NS
COFFEEDAY.NS
GANGESSECU.NS
IRCTC.NS
GAYAPROJ.NS
TOTAL.NS
LGBBROSLTD.NS
INDOTHAI.NS
TIRUMALCHM.NS
BODALCHEM.NS
CONCORDBIO.NS
MOTILALOFS.NS
BIRLACORPN.NS
DTIL.NS
PREMIER.NS
NIITMTS.NS
ZFCVINDIA.NS
RAJESHEXPO.NS
BHARTIHEXA.NS
SOLARINDS.NS
INFOBEAN.NS
BELLACASA.NS
HINDOILEXP.NS
CEREBRAINT.NS
CIFL.NS
APEX.NS
MANGLMCEM.NS
PETRONET.NS
MAGADSUGAR.NS
ASHAPURMIN.NS
CENTURYPLY.NS
MASFIN.NS
NRBBEARING.NS
AVADHSUGAR.NS
IDEAFORGE.NS
OPTIEMUS.NS
BLKASHYAP.NS
GLOSTERLTD.NS
UNICHEMLAB.NS
JPPOWER.NS
NDLVENTURE.NS
SGL.NS
ITDC.NS
BHAGERIA.NS
SOMANYCERA.NS
MPHASIS.NS
ABBOTINDIA.NS
ZOTA.NS
DPSCLTD.NS
FMNL.NS
DIVISLAB.NS
PVP.NS
ASIANHOTNR.NS
SHEMAROO.NS
JAYSREETEA.NS
ADANIGREEN.NS
REPL.NS
DATAMATICS.NS
ASHIANA.NS
NBIFIN.NS
DWARKESH.NS
VRLLOG.NS
PFOCUS.NS
NIRAJ.NS
UNITEDPOLY.NS
EXCELINDUS.NS
NORBTEAEXP.NS
IL&FSENGG.NS
MANORG.NS
VIVIDHA.NS
GRAPHITE.NS
PODDARMENT.NS
AMBER.NS
APARINDS.NS
PRECWIRE.NS
BASF.NS
MUKTAARTS.NS
RELIABLE.NS
BIOCON.NS
COASTCORP.NS
WAAREEENER.NS
BAJAJHFL.NS
MADHUCON.NS
ITCHOTELS.NS
BARBEQUE.NS
GVPTECH.NS
GRSE.NS
INDIACEM.NS
MALUPAPER.NS
RANEHOLDIN.NS
YUKEN.NS
SARDAEN.NS
ALPA.NS
DCAL.NS
VESUVIUS.NS
ASTRAMICRO.NS
SBCL.NS
SUNDRMFAST.NS
MAGNUM.NS
GANESHBE.NS
TICL.NS
NYKAA.NS
MALLCOM.NS
KEC.NS
WELINV.NS
GPTINFRA.NS
KAMDHENU.NS
TRF.NS
JTLIND.NS
VISAKAIND.NS
PNC.NS
DELTAMAGNT.NS
DIAMONDYD.NS
STEELCITY.NS
TVSSCS.NS
NINSYS.NS
BHARTIARTL.NS
LOKESHMACH.NS
VENKEYS.NS
UMIYA-MRO.NS
SYNGENE.NS
SUPRAJIT.NS
RKFORGE.NS
RTNPOWER.NS
ATGL.NS
KKCL.NS
INNOVANA.NS
ABSLAMC.NS
LINCOLN.NS
UNOMINDA.NS
AUROPHARMA.NS
ERIS.NS
SWELECTES.NS
VINATIORGA.NS
NH.NS
VENUSREM.NS
SKMEGGPROD.NS
RSYSTEMS.NS
BAJAJHCARE.NS
DIL.NS
JMA.NS
BCLIND.NS
BIGBLOC.NS
RUCHINFRA.NS
TPLPLASTEH.NS
MADRASFERT.NS
ANTGRAPHIC.NS
BHAGCHEM.NS
MUTHOOTFIN.NS
AGI.NS
BHARATSE.NS
RVNL.NS
KIRIINDUS.NS
SABTNL.NS
BLISSGVS.NS
DSSL.NS
PILANIINVS.NS
POLICYBZR.NS
ALLCARGO.NS
NAZARA.NS
ESSENTIA.NS
KOTARISUG.NS
CLSEL.NS
TDPOWERSYS.NS
HAPPSTMNDS.NS
ARIHANTCAP.NS
PAISALO.NS
ABAN.NS
TVSSRICHAK.NS
CCL.NS
ADANIENT.NS
SBFC.NS
GINNIFILA.NS
SUNTV.NS
BCG.NS
RPSGVENT.NS
ALEMBICLTD.NS
GOACARBON.NS
OBCL.NS
CHALET.NS
SURYODAY.NS
SAFARI.NS
CCCL.NS
VISHWARAJ.NS
PKTEA.NS
ANDHRAPAP.NS
TEXINFRA.NS
DHANUKA.NS
ANSALAPI.NS
APOLLOHOSP.NS
KAKATCEM.NS
APOLLOTYRE.NS
KALAMANDIR.NS
ASAHIINDIA.NS
SKIPPER.NS
NITIRAJ.NS
ASHIMASYN.NS
TIJARIA.NS
ASHOKA.NS
SUYOG.NS
XPROINDIA.NS
ATLASCYCLE.NS
NATHBIOGEN.NS
AUTOAXLES.NS
AGRITECH.NS
PITTIENG.NS
SUKHJITS.NS
VIPCLOTHNG.NS
ROUTE.NS
FORCEMOT.NS
RAJRATAN.NS
APOLSINHOT.NS
MAHASTEEL.NS
INCREDIBLE.NS
COMPUSOFT.NS
SARLAPOLY.NS
NAGAFERT.NS
TRANSRAILL.NS
KSCL.NS
POLYCAB.NS
MEDIASSIST.NS
MAHABANK.NS
SALZERELEC.NS
PGEL.NS
BHAGYANGR.NS
UNITEDTEA.NS
BANARISUG.NS
GANESHHOUC.NS
STARCEMENT.NS
REPRO.NS
GREENPLY.NS
HLEGLAS.NS
BAYERCROP.NS
BERGEPAINT.NS
ANANDRATHI.NS
BBL.NS
BHARATFORG.NS
360ONE.NS
TCS.NS
3MINDIA.NS
NIACL.NS
PALASHSECU.NS
BLUESTARCO.NS
BLUECOAST.NS
MTEDUCARE.NS
LINDEINDIA.NS
HATSUN.NS
KINGFA.NS
REMSONSIND.NS
BHANDARI.NS
OMKARCHEM.NS
MEDANTA.NS
HIKAL.NS
CAPLIPOINT.NS
CANBK.NS
CANFINHOME.NS
DVL.NS
KRITI.NS
SDBL.NS
THOMASCOTT.NS
ULTRACEMCO.NS
HOMEFIRST.NS
GICRE.NS
UNIINFO.NS
CEATLTD.NS
TERASOFT.NS
CARYSIL.NS
SHAH.NS
CENTRALBK.NS
ICIL.NS
TANLA.NS
INFIBEAM.NS
VEEDOL.NS
PRECAM.NS
GODREJPROP.NS
CENTENKA.NS
IOLCP.NS
CESC.NS
GPTHEALTH.NS
TOUCHWOOD.NS
CHEMPLASTS.NS
TASTYBITE.NS
AVTNPL.NS
PSPPROJECT.NS
ANUHPHR.NS
IIFLCAPS.NS
MOIL.NS
CUB.NS
ASKAUTOLTD.NS
CROWN.NS
HEUBACHIND.NS
TVSMOTOR.NS
DALMIASUG.NS
SUVEN.NS
SANGAMIND.NS
BECTORFOOD.NS
HPL.NS
SEAMECLTD.NS
DAMODARIND.NS
GODAVARIB.NS
DCM.NS
SHOPERSTOP.NS
SALONA.NS
LTF.NS
VINCOFE.NS
DCMSHRIRAM.NS
DCW.NS
SHK.NS
LEXUS.NS
DEEPAKFERT.NS
HTMEDIA.NS
SCPL.NS
DCBBANK.NS
STEELXIND.NS
DMCC.NS
PRAENG.NS
EUROBOND.NS
VINEETLAB.NS
DREDGECORP.NS
KRISHANA.NS
DHRUV.NS
TIMETECHNO.NS
RHL.NS
CUPID.NS
ENGINERSIN.NS
INOXGREEN.NS
POONAWALLA.NS
MMP.NS
FCSSOFT.NS
SCHAEFFLER.NS
MOKSH.NS
UFLEX.NS
GOENKA.NS
TTML.NS
GPPL.NS
ZIMLAB.NS
FOSECOIND.NS
SUMMITSEC.NS
ZENSARTECH.NS
BEARDSELL.NS
ICEMAKE.NS
CPCAP.NS
MANAPPURAM.NS
COALINDIA.NS
AKSHOPTFBR.NS
GABRIEL.NS
GANDHITUBE.NS
KRIDHANINF.NS
CALSOFT.NS
SHRIPISTON.NS
UFO.NS
GKWLIMITED.NS
YESBANK.NS
FMGOETZE.NS
PATINTLOG.NS
SIGIND.NS
KUANTUM.NS
IIFL.NS
KANSAINER.NS
HINDCOPPER.NS
NUVAMA.NS
EDELWEISS.NS
RAJRILTD.NS
ROTO.NS
RAJOOENG.NS
GRINDWELL.NS
CIEINDIA.NS
GFLLIMITED.NS
GHCL.NS
VIRINCHI.NS
GLFL.NS
AMBIKCO.NS
VOLTAMP.NS
ALKEM.NS
GMMPFAUDLR.NS
AKSHARCHEM.NS
NKIND.NS
KPIGREEN.NS
KAPSTON.NS
ACEINTEG.NS
HARRMALAYA.NS
JHS.NS
GREENLAM.NS
HEG.NS
TIIL.NS
MANCREDIT.NS
BANDHANBNK.NS
PICCADIL.NS
EIFFL.NS
PRAXIS.NS
XTGLOBAL.NS
IMPAL.NS
HFCL.NS
EMAMILTD.NS
LAGNAM.NS
HCC.NS
HBSL.NS
URJA.NS
SUPREMEINF.NS
PAKKA.NS
UJJIVANSFB.NS
CONFIPET.NS
ABDL.NS
NECCLTD.NS
AXISCADES.NS
TARACHAND.NS
BIRLANU.NS
LIBERTSHOE.NS
PIGL.NS
MANGCHEFER.NS
CORALFINAC.NS
HECPROJECT.NS
IFBIND.NS
CREST.NS
SRGHFL.NS
LANDMARK.NS
INDIAGLYCO.NS
PFS.NS
BHARATGEAR.NS
PARSVNATH.NS
ISHANCH.NS
INDIANB.NS
RAJSREESUG.NS
UNIVASTU.NS
ASTEC.NS
IOB.NS
ZEELEARN.NS
VALIANTORG.NS
ISFT.NS
NIPPOBATRY.NS
URAVIDEF.NS
ORIENTCER.NS
IONEXCHANG.NS
ARROWGREEN.NS
SAILIFE.NS
IPCALAB.NS
JAYBARMARU.NS
JBCHEPHARM.NS
PNBHOUSING.NS
LANCORHOL.NS
SPANDANA.NS
JKTYRE.NS
RUSHIL.NS
SEYAIND.NS
INTLCONV.NS
STARHEALTH.NS
JKIL.NS
LXCHEM.NS
MUNJALSHOW.NS
STEL.NS
HEIDELBERG.NS
VIMTALABS.NS
GLOBE.NS
SANDESH.NS
DECCANCE.NS
UGROCAP.NS
AGSTRA.NS
PRITIKAUTO.NS
RADHIKAJWE.NS
NMDC.NS
MANGALAM.NS
MARUTI.NS
TAJGVK.NS
GULFPETRO.NS
TCIEXP.NS
GTECJAINX.NS
KAYA.NS
NLCINDIA.NS
VASWANI.NS
OILCOUNTUB.NS
DIAMINESQ.NS
COFORGE.NS
ORIENTPPR.NS
TTL.NS
FOCUS.NS
BSL.NS
THYROCARE.NS
PTCIL.NS
HOVS.NS
CAMS.NS
SHARDAMOTR.NS
SHALBY.NS
LOVABLE.NS
HISARMETAL.NS
JUSTDIAL.NS
PILITA.NS
GALAXYSURF.NS
LALPATHLAB.NS
DYCL.NS
PCBL.NS
KITEX.NS
SENCO.NS
PRAKASH.NS
PIIND.NS
AMJLAND.NS
PRIMO.NS
ORIENTBELL.NS
PSB.NS
ORIENTLTD.NS
GUJRAFFIA.NS
ARENTERP.NS
KALYANI.NS
RSWM.NS
INDTERRAIN.NS
REPCOHOME.NS
RALLIS.NS
ICDSLTD.NS
MCLOUD.NS
RAMCOIND.NS
KTKBANK.NS
RPOWER.NS
TITAGARH.NS
GLOBUSSPR.NS
QUESS.NS
TRU.NS
INOXINDIA.NS
YASHO.NS
SEMAC.NS
5PAISA.NS
BALAXI.NS
SGFIN.NS
PATANJALI.NS
NEWGEN.NS
A2ZINFRA.NS
RELIGARE.NS
TEXRAIL.NS
INDOFARM.NS
ACMESOLAR.NS
SAKHTISUG.NS
FEL.NS
SOLARA.NS
RANASUG.NS
WELENT.NS
SILVERTUC.NS
SAURASHCEM.NS
HARDWYN.NS
CTE.NS
UPL.NS
BANSWRAS.NS
SESHAPAPER.NS
MEDICO.NS
SHANTIGEAR.NS
VIDHIING.NS
SHRENIK.NS
POLYPLEX.NS
HONDAPOWER.NS
KNRCON.NS
MANKIND.NS
SHYAMTEL.NS
GULFOILLUB.NS
MAWANASUG.NS
POKARNA.NS
SHIVAMAUTO.NS
SKFINDIA.NS
SHAHALLOYS.NS
KAVDEFENCE.NS
RUBFILA.NS
HINDCON.NS
AKI.NS
JTEKTINDIA.NS
ARIHANTSUP.NS
SHIVAMILLS.NS
SUTLEJTEX.NS
ROLEXRINGS.NS
AIRAN.NS
MEDICAMEQ.NS
GROBTEA.NS
CAPITALSFB.NS
INDIGO.NS
ASTRON.NS
SRF.NS
ABFRL.NS
ACCURACY.NS
SECURKLOUD.NS
BROOKS.NS
CCHHL.NS
AVROIND.NS
STCINDIA.NS
BANARBEADS.NS
SALSTEEL.NS
WEALTH.NS
SUDARSCHEM.NS
SUNDARMFIN.NS
CENTRUM.NS
BGRENERGY.NS
SUPERSPIN.NS
SPLPETRO.NS
CONTROLPR.NS
NAUKRI.NS
SWANENERGY.NS
VMART.NS
VARROC.NS
BORORENEW.NS
ACL.NS
SAKSOFT.NS
TMB.NS
DONEAR.NS
JYOTHYLAB.NS
ELDEHSG.NS
TECHM.NS
IDEA.NS
GEEKAYWIRE.NS
TATAELXSI.NS
LODHA.NS
LASA.NS
HONAUT.NS
SOBHA.NS
TATAINVEST.NS
MUNJALAU.NS
TBOTEK.NS
ABCAPITAL.NS
CIGNITITEC.NS
BBOX.NS
MASTERTR.NS
CSBBANK.NS
AVL.NS
DHANBANK.NS
AVG.NS
INDRAMEDCO.NS
KEYFINSERV.NS
JLHL.NS
SOUTHBANK.NS
MAITHANALL.NS
FSL.NS
TORNTPHARM.NS
ITDCEM.NS
UBL.NS
FINEORG.NS
TCI.NS
RESPONIND.NS
HERCULES.NS
EXCEL.NS
DANGEE.NS
PRINCEPIPE.NS
TTKPRESTIG.NS
UCOBANK.NS
IMPEXFERRO.NS
GANGAFORGE.NS
UNIONBANK.NS
MURUDCERA.NS
XCHANGING.NS
AFFORDABLE.NS
UNITECH.NS
VADILALIND.NS
KANPRPLA.NS
HERANBA.NS
COUNCODOS.NS
JUNIPER.NS
PRAKASHSTL.NS
JAIPURKURT.NS
PANSARI.NS
SAMBHAAV.NS
AWL.NS
JUBLPHARMA.NS
VHL.NS
APLAPOLLO.NS
RATNAMANI.NS
HUBTOWN.NS
RACLGEAR.NS
CINELINE.NS
COCHINSHIP.NS
SHIVATEX.NS
GOYALALUM.NS
VINDHYATEL.NS
CAPTRUST.NS
VLSFINANCE.NS
VSTIND.NS
WALCHANNAG.NS
SUPERHOUSE.NS
SHREEPUSHK.NS
SURYALAXMI.NS
SURAJLTD.NS
APOLLO.NS
WHEELS.NS
ANDHRSUGAR.NS
SHRADHA.NS
WHIRLPOOL.NS
TIPSMUSIC.NS
GANDHAR.NS
CSLFINANCE.NS
AUTOIND.NS
JSWCEMENT.NS
KOTHARIPET.NS
SHRIRAMFIN.NS
AARON.NS
RGL.NS
RKDL.NS
NAVA.NS
ORISSAMINE.NS
ICRA.NS
KARMAENG.NS
ICICIPRULI.NS
DELPHIFX.NS
PRICOLLTD.NS
GENESYS.NS
BRNL.NS
SOFTTECH.NS
KILITCH.NS
ORICONENT.NS
ARCHIES.NS
KHAITANLTD.NS
ACE.NS
DIGJAMLMTD.NS
KIRLOSBROS.NS
NCLIND.NS
ANGELONE.NS
SAKAR.NS
STARPAPER.NS
NTPC.NS
SNOWMAN.NS
SAMPANN.NS
UTKARSHBNK.NS
CDSL.NS
ADROITINFO.NS
MODISONLTD.NS
FIEMIND.NS
AKASH.NS
ECLERX.NS
ARTNIRMAN.NS
CERA.NS
NRAIL.NS
AGROPHOS.NS
LAL.NS
CREDITACC.NS
DUCON.NS
GUFICBIO.NS
JINDRILL.NS
ADANIPORTS.NS
RHIM.NS
KHAICHEM.NS
MCX.NS
NEXTMEDIA.NS
TARAPUR.NS
3IINFOLTD.NS
SIMBHALS.NS
SUMIT.NS
JINDALSTEL.NS
ORTINGLOBE.NS
ORIENTHOT.NS
MARKSANS.NS
RELCHEMQ.NS
HEXATRADEX.NS
PIXTRANS.NS
POWERGRID.NS
MSPL.NS
CARERATING.NS
FRETAIL.NS
EMMBI.NS
DIVGIITTS.NS
SANGINITA.NS
SUBEXLTD.NS
AARVI.NS
NDGL.NS
HDBFS.NS
COSMOFIRST.NS
TRANSWORLD.NS
AHLUCONT.NS
JIOFIN.NS
ETERNAL.NS
MASTEK.NS
HEADSUP.NS
KOKUYOCMLN.NS
INDOAMIN.NS
TBZ.NS
RPPL.NS
ASHOKAMET.NS
PAGEIND.NS
ZODIAC.NS
TARIL.NS
VSTTILLERS.NS
SADBHIN.NS
ICICIGI.NS
MAHLOG.NS
AARTIDRUGS.NS
ZYDUSWELL.NS
AARTIIND.NS
MIRZAINT.NS
FISCHER.NS
PVSL.NS
ALKALI.NS
M&MFIN.NS
MOTHERSON.NS
GMRINFRA.NS

$GMRINFRA.NS: possibly delisted; no timezone found

MEP.NS
EXICOM.NS
RRKABEL.NS
ESTER.NS
EMAMIREAL.NS
JMFINANCIL.NS
INTENTECH.NS
NOIDATOLL.NS
VENTIVE.NS
JCHAC.NS
HESTERBIO.NS
SERVOTECH.NS
CHEMFAB.NS
WINSOME.NS
ARFIN.NS
MANOMAY.NS
JAYAGROGN.NS
PCJEWELLER.NS
JKLAKSHMI.NS
UTTAMSUGAR.NS
RKEC.NS
BALKRISIND.NS
HILTON.NS
SHIVALIK.NS
JKPAPER.NS
KCPSUGIND.NS
SHILPAMED.NS
BLBLIMITED.NS
BRIGADE.NS
AMBICAAGAR.NS
GLOBALVECT.NS
CORDSCABLE.NS
SIRCA.NS
ACCELYA.NS
NEULANDLAB.NS
BALAJITELE.NS
MODTHREAD.NS
HDFCLIFE.NS
JINDALPHOT.NS
JUBLFOOD.NS
TGBHOTELS.NS
KRITINUT.NS
BIRLACABLE.NS
OMAXE.NS
AIROLAM.NS
LAXMICOT.NS
LINC.NS
SSWL.NS
BOHRAIND.NS
INDOBORAX.NS
RUCHIRA.NS
TFL.NS
MEDPLUS.NS
GOLDTECH.NS
KCP.NS
SUNTECK.NS
VIKASECO.NS
TIL.NS
SAPPHIRE.NS
SEQUENT.NS
SCHAND.NS
RAMAPHO.NS
ONMOBILE.NS
SHYAMMETL.NS
KIRLPNU.NS
PRESTIGE.NS
SMSPHARMA.NS
MAHLIFE.NS
TORNTPOWER.NS
MCL.NS
ADANIPOWER.NS
FILATEX.NS
SELAN.NS
PASUPTAC.NS
LTFOODS.NS
ESAFSFB.NS
ELGIRUBCO.NS
CPPLUS.NS
AJOONI.NS
IRB.NS
TCPLPACK.NS
SUPREME.NS
ELECTHERM.NS
KOTHARIPRO.NS
JKCEMENT.NS
JSWHL.NS
MANAKSTEEL.NS
VTL.NS
MANYAVAR.NS
GUJAPOLLO.NS
BIL.NS
MITCON.NS
BIOFILCHEM.NS
EMAMIPAP.NS
MANAKCOAT.NS
MIRCELECTR.NS
MODIRUBBER.NS
KHADIM.NS
RTNINDIA.NS
VARDMNPOLY.NS
MOLDTECH.NS
HIRECT.NS
ALLDIGI.NS
BSOFT.NS
SATIN.NS
DISHTV.NS
ADVENZYMES.NS
BHARATRAS.NS
PONNIERODE.NS
JOCIL.NS
SCHNEIDER.NS
ZUARI.NS
ONEPOINT.NS
INDBANK.NS
DEEDEV.NS
MINDACORP.NS
MAHAPEXLTD.NS
DCMSRIND.NS
SURAJEST.NS
PEARLPOLY.NS
BEDMUTHA.NS
GUJGASLTD.NS
GANECOS.NS
LORDSCHLO.NS
ROSSELLIND.NS
IZMO.NS
NHPC.NS
TRENT.NS
SHALPAINTS.NS
ORTEL.NS
GODREJAGRO.NS
LFIC.NS
NORTHARC.NS
UDS.NS
APTUS.NS
JAYNECOIND.NS
UNITDSPR.NS
GENCON.NS
RAIN.NS
WEBELSOLAR.NS
ASMS.NS
RADIANTCMS.NS
ISGEC.NS
NITCO.NS
PNBGILTS.NS
MANAKALUCO.NS
HCLTECH.NS
SABEVENTS.NS
MOTOGENFIN.NS
BANKA.NS
PREMEXPLN.NS
BANG.NS
JITFINFRA.NS
MTARTECH.NS
IRIS.NS
DPWIRES.NS
BIRLAMONEY.NS
PDMJEPAPER.NS
MATRIMONY.NS
MANUGRAPH.NS
NCC.NS
GTPL.NS
TEMBO.NS
NFL.NS
NETWORK18.NS
AVANTIFEED.NS
GSS.NS
HMVL.NS
TVVISION.NS
LUMAXTECH.NS
DEVYANI.NS
INDOCO.NS
RADAAN.NS
RAMKY.NS
NDL.NS
BALKRISHNA.NS
ORIENTCEM.NS
PTC.NS
ARCHIDPLY.NS
SURAKSHA.NS
GEPIL.NS
KEI.NS
SETCO.NS
INVENTURE.NS
BAFNAPH.NS
BFINVEST.NS
SHREERAMA.NS
KANANIIND.NS
DBREALTY.NS
JSWINFRA.NS
KIOCL.NS
OFSS.NS
MARALOVER.NS
MRF.NS
AADHARHFC.NS
PARAGMILK.NS
VAIBHAVGBL.NS
ARE&M.NS
MAZDA.NS
MASKINVEST.NS
SPORTKING.NS
IITL.NS
EFCIL.NS
NGLFINE.NS
GOKEX.NS
SADHNANIQ.NS
SANWARIA.NS
DCMFINSERV.NS
REDINGTON.NS
VASCONEQ.NS
MOLDTKPAC.NS
BELRISE.NS
RUPA.NS
PANACHE.NS
INDOSTAR.NS
AURUM.NS
KABRAEXTRU.NS
ASAL.NS
MBAPL.NS
APLLTD.NS
S&SPOWER.NS
MONARCH.NS
SIGNATURE.NS
KSL.NS
SHAKTIPUMP.NS
LIBAS.NS
TTKHLTCARE.NS
TCIFINANCE.NS
MBLINFRA.NS
ONELIFECAP.NS
RPEL.NS
ENDURANCE.NS
ALANKIT.NS
ASTERDM.NS
INDSWFTLAB.NS
GEECEE.NS
SFL.NS
AFIL.NS
SRHHYPOLTD.NS
BAJAJ-AUTO.NS
DBL.NS
BAJAJFINSV.NS
VETO.NS
KAYNES.NS
IMFA.NS
RADIOCITY.NS
DOLPHIN.NS
DBSTOCKBRO.NS
BEPL.NS
PANACEABIO.NS
INDIASHLTR.NS
SILINV.NS
THEINVEST.NS
TARMAT.NS
MADHAV.NS
CMSINFO.NS
GODHA.NS
AHLEAST.NS
HGINFRA.NS
ROLLT.NS
DIGISPICE.NS
JBMA.NS
KPRMILL.NS
ANURAS.NS
ADANIENSOL.NS
PENIND.NS
TOKYOPLAST.NS
SHAREINDIA.NS
LYKALABS.NS
MEGASOFT.NS
BAJAJCON.NS
INDIAMART.NS
SHANTI.NS
GNA.NS
GLENMARK.NS
MOSCHIP.NS
DIXON.NS
NATCAPSUQ.NS
SPMLINFRA.NS
NILAINFRA.NS
LCCINFOTEC.NS
STAR.NS
MANBA.NS
PGIL.NS
GUJTHEM.NS
MCLEODRUSS.NS
MPSLTD.NS
AGARWALEYE.NS
RADICO.NS
V2RETAIL.NS
VIPULLTD.NS
SUNFLAG.NS
LOTUSEYE.NS
DEN.NS
LAURUSLABS.NS
TRIGYN.NS
MANINFRA.NS
AUBANK.NS
GENUSPAPER.NS
DBCORP.NS
MONTECARLO.NS
ATULAUTO.NS
VGUARD.NS
HINDNATGLS.NS
RAJTV.NS
JSFB.NS
SANSERA.NS
PNGJL.NS
MOHITIND.NS
GENUSPOWER.NS
SEJALLTD.NS
ARVINDFASN.NS
WABAG.NS
PRIVISCL.NS
OAL.NS
UNIDT.NS
RAINBOW.NS
EASTSILK.NS
IRCON.NS
FAZE3Q.NS
SEPC.NS
MKPL.NS
HYBRIDFIN.NS
SITINET.NS
DOLATALGO.NS
ZEEMEDIA.NS
KAMATHOTEL.NS
KIMS.NS
LOYALTEX.NS
SPCENET.NS
LEMONTREE.NS
VAISHALI.NS
GOLDENTOBC.NS
CHEVIOT.NS
TIINDIA.NS
PRITI.NS
IL&FSTRANS.NS
WSTCSTPAPR.NS
FOODSIN.NS
RBLBANK.NS
AGIIL.NS
SAGARDEEP.NS
BCONCEPTS.NS
HERITGFOOD.NS
SPLIL.NS
SAREGAMA.NS
SHYAMCENT.NS
JYOTICNC.NS
SOUTHWEST.NS
ADFFOODS.NS
HATHWAY.NS
PAYTM.NS
JETFREIGHT.NS
SINCLAIR.NS
TEAMLEASE.NS
CREATIVE.NS
NATCOPHARM.NS
PARKHOTELS.NS
SANGHVIMOV.NS
DIACABS.NS
ASPINWALL.NS
STARTECK.NS
MANINDS.NS
CHEMBOND.NS
NIVABUPA.NS
MITTAL.NS
ORIENTALTL.NS
MHRIL.NS
KSB.NS
SANGHIIND.NS
GREENPOWER.NS

In [ ]:
# To Upate Daily stock Price
from mymodule.DatabaseConnection import CRUD
import yfinance as yf

lo_stockcode = CRUD('StockExchange_stockcode')
df_stockcode = pd.DataFrame(lo_stockcode.Read(''))

lo_daily_update = CRUD("StockDailyUpdate")

sub = lambda a: 'NS' if a == 'NSE' else 'BO'

def get_exchange_from_ticker(ticker: yfinance.ticker.Ticker) -> str:
    if str(ticker.info['symbol']).endswith(".NS"):
        return "NSE"
    elif str(ticker.info['symbol']).endswith(".BO"):
        return "BSE"
    return "UNKNOWN"


for i, code in df_stockcode.iterrows():
    query_symbol = code['Symbol'] + '.' + sub(code['StockExchange'])
    dat = yf.Ticker(query_symbol)
    cedl = dat.history(period='10y')
    #print(query_symbol)
    if cedl.shape[0] > 0:
        cedl["Date"] = cedl.index
        cedl["Date"] = cedl["Date"].dt.date
        cedl.insert(0, "Date", cedl.pop("Date"))
        #cedl.pop("Dividends")
        #cedl.pop("Stock Splits")
        cedl["delivery"] = 0
        cedl.insert(0, "Symbol",dat.info["symbol"].split(".")[0])
        cedl.insert(0, "StockExchange",get_exchange_from_ticker(dat))
        cedl = cedl[['StockExchange','Symbol','Date','Open','High','Low','Close','Volume','delivery']]
        cedl.fillna(0, inplace=True)
        lo_daily_update.Create(cedl)
        print('Row ',i,' : ',query_symbol, " : ",cedl.shape[0], " records inserted")
        #del cedl

Row  1211  :  532508.BO  :  2497  records inserted
Row  1212  :  JSL.NS  :  2468  records inserted
Row  1213  :  533400.BO  :  2508  records inserted
Row  1214  :  MUFTI.NS  :  425  records inserted
Row  1215  :  505242.BO  :  2497  records inserted
Row  1216  :  DYNAMATECH.NS  :  2468  records inserted

$532775.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1218  :  GTLINFRA.NS  :  2468  records inserted
Row  1219  :  538666.BO  :  2497  records inserted
Row  1220  :  SHARDACROP.NS  :  2468  records inserted
Row  1221  :  532988.BO  :  2398  records inserted
Row  1222  :  501455.BO  :  2497  records inserted
Row  1223  :  GREAVESCOT.NS  :  2468  records inserted
Row  1224  :  GATECH.NS  :  451  records inserted
Row  1225  :  570005.BO  :  1974  records inserted
Row  1226  :  GATECHDVR.NS  :  527  records inserted
Row  1227  :  530131.BO  :  2483  records inserted
Row  1228  :  517385.BO  :  2497  records inserted
Row  1229  :  SYMPHONY.NS  :  2468  records inserted

$500575.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1231  :  VOLTAS.NS  :  2468  records inserted

$532710.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1233  :  SADBHAV.NS  :  2468  records inserted
Row  1234  :  522241.BO  :  2505  records inserted
Row  1235  :  MMFL.NS  :  2468  records inserted

$532894.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1237  :  INDOWIND.NS  :  2468  records inserted
Row  1238  :  KALPATARU.NS  :  53  records inserted
Row  1239  :  CLEAN.NS  :  1029  records inserted
Row  1240  :  517146.BO  :  2497  records inserted
Row  1241  :  USHAMART.NS  :  2468  records inserted
Row  1242  :  532853.BO  :  2497  records inserted
Row  1243  :  ASAHISONG.NS  :  2468  records inserted
Row  1244  :  517536.BO  :  2497  records inserted
Row  1245  :  ONWARDTEC.NS  :  2468  records inserted
Row  1246  :  SAGCEM.NS  :  2468  records inserted

$532698.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1248  :  NITINSPIN.NS  :  2468  records inserted
Row  1249  :  500840.BO  :  2497  records inserted
Row  1250  :  EIHOTEL.NS  :  2468  records inserted
Row  1251  :  532392.BO  :  2497  records inserted
Row  1252  :  CREATIVEYE.NS  :  2467  records inserted
Row  1253  :  RAMASTEEL.NS  :  2468  records inserted
Row  1254  :  516016.BO  :  2497  records inserted
Row  1255  :  SHREYANIND.NS  :  2468  records inserted

$532663.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1257  :  SASKEN.NS  :  2468  records inserted

$512626.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1259  :  ORBTEXP.NS  :  2468  records inserted
Row  1260  :  502180.BO  :  2497  records inserted
Row  1261  :  SHREDIGCEM.NS  :  1504  records inserted
Row  1262  :  532872.BO  :  2497  records inserted
Row  1263  :  SPARC.NS  :  2468  records inserted

$500164.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1265  :  GODREJIND.NS  :  2468  records inserted

$526612.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1267  :  BLUEDART.NS  :  2468  records inserted
Row  1268  :  500672.BO  :  2497  records inserted

$532925.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1270  :  KAUSHALYA.NS  :  2468  records inserted

$500144.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1272  :  FINCABLES.NS  :  2468  records inserted
Row  1273  :  514211.BO  :  2514  records inserted
Row  1274  :  SUMEETINDS.NS  :  2468  records inserted
Row  1275  :  500179.BO  :  2497  records inserted
Row  1276  :  HCL-INSYS.NS  :  2468  records inserted
Row  1277  :  ELLEN.NS  :  53  records inserted
Row  1278  :  532513.BO  :  2497  records inserted
Row  1279  :  TVSELECT.NS  :  2468  records inserted
Row  1280  :  NGIL.NS  :  1007  records inserted

$500247.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1282  :  KOTAKBANK.NS  :  2468  records inserted

$532215.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1284  :  AXISBANK.NS  :  2468  records inserted
Row  1285  :  500790.BO  :  2514  records inserted
Row  1286  :  NESTLEIND.NS  :  2468  records inserted
Row  1287  :  526951.BO  :  2497  records inserted
Row  1288  :  STYLAMIND.NS  :  1020  records inserted
Row  1289  :  531092.BO  :  2497  records inserted
Row  1290  :  OMINFRAL.NS  :  2468  records inserted
Row  1291  :  532398.BO  :  2497  records inserted
Row  1292  :  UMESLTD.NS  :  2468  records inserted
Row  1293  :  530965.BO  :  2497  records inserted
Row  1294  :  IOC.NS  :  2468  records inserted

$515055.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1296  :  ANANTRAJ.NS  :  2468  records inserted
Row  1297  :  532430.BO  :  2497  records inserted
Row  1298  :  BFUTILITIE.NS  :  2468  records inserted
Row  1299  :  590031.BO  :  2497  records inserted
Row  1300  :  DENORA.NS  :  2468  records inserted
Row  1301  :  531120.BO  :  2497  records inserted
Row  1302  :  PATELENG.NS  :  2468  records inserted
Row  1303  :  532987.BO  :  2398  records inserted
Row  1304  :  UNIPARTS.NS  :  682  records inserted

$500400.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1306  :  TATAPOWER.NS  :  2468  records inserted
Row  1307  :  532895.BO  :  2499  records inserted
Row  1308  :  NAGREEKCAP.NS  :  2467  records inserted

$532370.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1310  :  RAMCOSYS.NS  :  2468  records inserted

$532702.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1312  :  GSPL.NS  :  2468  records inserted
Row  1313  :  531543.BO  :  2510  records inserted
Row  1314  :  JINDWORLD.NS  :  2468  records inserted
Row  1315  :  534425.BO  :  2497  records inserted
Row  1316  :  SPECIALITY.NS  :  2468  records inserted

$523610.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1318  :  ITI.NS  :  2468  records inserted

$543237.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1320  :  MAZDOCK.NS  :  1220  records inserted
Row  1321  :  500243.BO  :  2497  records inserted
Row  1322  :  KIRLOSIND.NS  :  2468  records inserted
Row  1323  :  524129.BO  :  2497  records inserted
Row  1324  :  VINYLINDIA.NS  :  2468  records inserted
Row  1325  :  533146.BO  :  2497  records inserted
Row  1326  :  DLINKINDIA.NS  :  2468  records inserted
Row  1327  :  INDOUS.NS  :  237  records inserted
Row  1328  :  533339.BO  :  2497  records inserted
Row  1329  :  ZENTEC.NS  :  2468  records inserted
Row  1330  :  ABMINTLLTD.NS  :  2275  records inserted
Row  1331  :  GVKPIL.NS  :  2468  records inserted
Row  1332  :  500500.BO  :  2497  records inserted
Row  1333  :  HINDMOTORS.NS  :  2468  records inserted
Row  1334  :  526921.BO  :  2498  records inserted
Row  1335  :  21STCENMGM.NS  :  1895  records inserted
Row  1336  :  HNDFDS.NS  :  684  records inserted

$500135.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1338  :  EPL.NS  :  2468  records inserted

$532457.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1340  :  GULPOLY.NS  :  2468  records inserted

$542597.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1342  :  MSTCLTD.NS  :  1597  records inserted
Row  1343  :  E2E.NS  :  1802  records inserted
Row  1344  :  505537.BO  :  2497  records inserted
Row  1345  :  ZEEL.NS  :  2468  records inserted
Row  1346  :  532356.BO  :  2497  records inserted
Row  1347  :  TRIVENI.NS  :  2468  records inserted

$532707.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1349  :  DYNPRO.NS  :  2016  records inserted

$541303.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1351  :  AKSHAR.NS  :  821  records inserted

$500103.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1353  :  BHEL.NS  :  2468  records inserted

$500048.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1355  :  BEML.NS  :  2468  records inserted

$531599.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1357  :  FDC.NS  :  2468  records inserted

$542920.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1359  :  SUMICHEM.NS  :  1396  records inserted
Row  1360  :  LGHL.NS  :  1331  records inserted
Row  1361  :  500830.BO  :  2497  records inserted
Row  1362  :  COLPAL.NS  :  2468  records inserted

$500163.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1364  :  GODFRYPHLP.NS  :  2468  records inserted

$532439.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1366  :  OLECTRA.NS  :  2468  records inserted

$500191.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1368  :  HMT.NS  :  2468  records inserted
Row  1369  :  533179.BO  :  2500  records inserted
Row  1370  :  PERSISTENT.NS  :  2468  records inserted
Row  1371  :  LATTEYS.NS  :  1785  records inserted

$500049.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1373  :  BEL.NS  :  2468  records inserted
Row  1374  :  RUSTOMJEE.NS  :  694  records inserted
Row  1375  :  MAHESHWARI.NS  :  2102  records inserted
Row  1376  :  540710.BO  :  1985  records inserted
Row  1377  :  CAPACITE.NS  :  1970  records inserted

$532700.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1379  :  ENIL.NS  :  2468  records inserted

$505710.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1381  :  532475.BO  :  2497  records inserted
Row  1382  :  APTECHT.NS  :  2468  records inserted
Row  1383  :  DPABHUSHAN.NS  :  1950  records inserted

$500188.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1385  :  HINDZINC.NS  :  2468  records inserted
Row  1386  :  533163.BO  :  2501  records inserted
Row  1387  :  ARSSINFRA.NS  :  2468  records inserted

$524518.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1389  :  KREBSBIO.NS  :  2196  records inserted
Row  1390  :  NAVKARURB.NS  :  163  records inserted
Row  1391  :  SHEKHAWATI.NS  :  1974  records inserted
Row  1392  :  532221.BO  :  2497  records inserted
Row  1393  :  SONATSOFTW.NS  :  2468  records inserted
Row  1394  :  500252.BO  :  2497  records inserted
Row  1395  :  LMW.NS  :  2468  records inserted
Row  1396  :  521070.BO  :  2497  records inserted

$ALOKTEXT.NS: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")
$516072.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1399  :  VISHNU.NS  :  2468  records inserted

$500265.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1401  :  MAHSEAMLES.NS  :  2468  records inserted

$532868.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1403  :  DLF.NS  :  2468  records inserted
Row  1404  :  533298.BO  :  2497  records inserted
Row  1405  :  SURANASOL.NS  :  2468  records inserted
Row  1406  :  514274.BO  :  2497  records inserted
Row  1407  :  AARVEEDEN.NS  :  2468  records inserted

$505412.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1409  :  WENDT.NS  :  2468  records inserted
Row  1410  :  505533.BO  :  2497  records inserted
Row  1411  :  WESTLIFE.NS  :  1504  records inserted

$532960.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1413  :  DHANI.NS  :  2468  records inserted
Row  1414  :  533106.BO  :  2506  records inserted
Row  1415  :  OIL.NS  :  2468  records inserted
Row  1416  :  540425.BO  :  2035  records inserted
Row  1417  :  SHANKARA.NS  :  2088  records inserted
Row  1418  :  AJAXENGG.NS  :  142  records inserted

$509820.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1420  :  HUHTAMAKI.NS  :  2468  records inserted

$506248.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1422  :  AMNPLST.NS  :  455  records inserted

$509557.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1424  :  GARFIBRES.NS  :  2468  records inserted
Row  1425  :  523127.BO  :  2506  records inserted
Row  1426  :  EIHAHOTELS.NS  :  2468  records inserted

$530355.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1428  :  ASIANENE.NS  :  932  records inserted

$500407.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1430  :  SWARAJENG.NS  :  2468  records inserted
Row  1431  :  506618.BO  :  2497  records inserted
Row  1432  :  PUNJABCHEM.NS  :  2442  records inserted
Row  1433  :  REGENCERAM.NS  :  2466  records inserted
Row  1434  :  500356.BO  :  2497  records inserted
Row  1435  :  RAMANEWS.NS  :  2468  records inserted

$532640.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1437  :  CYBERMEDIA.NS  :  2467  records inserted

$541163.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1439  :  SANDHAR.NS  :  1843  records inserted
Row  1440  :  539332.BO  :  2497  records inserted
Row  1441  :  NAVKARCORP.NS  :  2468  records inserted
Row  1442  :  DHARAN.NS  :  61  records inserted
Row  1443  :  CAMPUS.NS  :  831  records inserted
Row  1444  :  504212.BO  :  2497  records inserted
Row  1445  :  UNIVCABLES.NS  :  2468  records inserted

$500114.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1447  :  TITAN.NS  :  2468  records inserted

$532841.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1449  :  SAHYADRI.NS  :  603  records inserted
Row  1450  :  500083.BO  :  2497  records inserted
Row  1451  :  CENTEXT.NS  :  2468  records inserted
Row  1452  :  512455.BO  :  2497  records inserted
Row  1453  :  LLOYDSME.NS  :  535  records inserted
Row  1454  :  PRECOT.NS  :  2468  records inserted

$532699.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1456  :  ROHLTD.NS  :  2468  records inserted

$500133.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1458  :  ESABINDIA.NS  :  2468  records inserted
Row  1459  :  DAMCAPITAL.NS  :  179  records inserted
Row  1460  :  SJS.NS  :  949  records inserted

$522074.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1462  :  ELGIEQUIP.NS  :  2468  records inserted
Row  1463  :  500285.BO  :  2466  records inserted
Row  1464  :  SPICEJET.NS  :  116  records inserted

$532759.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1466  :  ATLANTAA.NS  :  2468  records inserted
Row  1467  :  540673.BO  :  2016  records inserted
Row  1468  :  SIS.NS  :  2000  records inserted

$542141.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1470  :  TECHNOE.NS  :  2468  records inserted

$532721.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1472  :  VISASTEEL.NS  :  2468  records inserted

$517168.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1474  :  SUBROS.NS  :  2468  records inserted
Row  1475  :  MICEL.NS  :  2468  records inserted

$541546.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1477  :  GAYAHWS.NS  :  1781  records inserted
Row  1478  :  500266.BO  :  2497  records inserted
Row  1479  :  MAHSCOOTER.NS  :  2468  records inserted

$506401.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1481  :  DEEPAKNTR.NS  :  2468  records inserted
Row  1482  :  519136.BO  :  2497  records inserted
Row  1483  :  NAHARINDUS.NS  :  2468  records inserted
Row  1484  :  511676.BO  :  2497  records inserted
Row  1485  :  GICHSGFIN.NS  :  2468  records inserted
Row  1486  :  511559.BO  :  2498  records inserted
Row  1487  :  TEAMGTY.NS  :  2468  records inserted
Row  1488  :  500296.BO  :  2497  records inserted
Row  1489  :  NAHARSPING.NS  :  2468  records inserted
Row  1490  :  CARTRADE.NS  :  1007  records inserted

$500655.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1492  :  GRWRHITECH.NS  :  893  records inserted

$532054.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1494  :  KDDL.NS  :  2329  records inserted
Row  1495  :  GLOBAL.NS  :  2100  records inserted
Row  1496  :  517271.BO  :  2497  records inserted
Row  1497  :  HBLENGINE.NS  :  188  records inserted

$500366.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1499  :  ROLTA.NS  :  2468  records inserted
Row  1500  :  531322.BO  :  2498  records inserted
Row  1501  :  HAVISHA.NS  :  1833  records inserted
Row  1502  :  500102.BO  :  2514  records inserted
Row  1503  :  505192.BO  :  2497  records inserted
Row  1504  :  SMLISUZU.NS  :  2468  records inserted
Row  1505  :  533093.BO  :  2497  records inserted
Row  1506  :  ROML.NS  :  2467  records inserted
Row  1507  :  542460.BO  :  1631  records inserted
Row  1508  :  ANUP.NS  :  1615  records inserted
Row  1509  :  508906.BO  :  2497  records inserted
Row  1510  :  EVERESTIND.NS  :  2468  records inserted

$524709.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1512  :  NACLIND.NS  :  2085  records inserted
Row  1513  :  517421.BO  :  2497  records inserted
Row  1514  :  BUTTERFLY.NS  :  2468  records inserted
Row  1515  :  500034.BO  :  2514  records inserted
Row  1516  :  BAJFINANCE.NS  :  2468  records inserted

$507910.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1518  :  FIBERWEB.NS  :  884  records inserted

$511766.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1520  :  MUTHOOTCAP.NS  :  2468  records inserted
Row  1521  :  532737.BO  :  2497  records inserted
Row  1522  :  EMKAY.NS  :  2468  records inserted

$532726.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1524  :  GALLANTT.NS  :  2468  records inserted
Row  1525  :  500480.BO  :  2497  records inserted
Row  1526  :  CUMMINSIND.NS  :  2468  records inserted
Row  1527  :  513349.BO  :  2497  records inserted
Row  1528  :  AJMERA.NS  :  2468  records inserted

$532935.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1530  :  ARIES.NS  :  2468  records inserted

$540767.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1532  :  NAM-INDIA.NS  :  1942  records inserted
Row  1533  :  WAAREERTL.NS  :  107  records inserted
Row  1534  :  539876.BO  :  2329  records inserted
Row  1535  :  CROMPTON.NS  :  2309  records inserted

$500330.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1537  :  RAYMOND.NS  :  2468  records inserted
Row  1538  :  503169.BO  :  2497  records inserted
Row  1539  :  RUBYMILLS.NS  :  2468  records inserted

$500086.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1541  :  EXIDEIND.NS  :  2468  records inserted
Row  1542  :  500089.BO  :  2498  records inserted
Row  1543  :  DICIND.NS  :  2468  records inserted

$543278.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1545  :  KALYANKJIL.NS  :  1105  records inserted

$500460.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1547  :  MUKANDLTD.NS  :  2468  records inserted
Row  1548  :  BLUESTONE.NS  :  19  records inserted
Row  1549  :  526650.BO  :  2497  records inserted
Row  1550  :  TFCILTD.NS  :  2468  records inserted
Row  1551  :  524820.BO  :  2497  records inserted
Row  1552  :  PANAMAPET.NS  :  2468  records inserted

$500032.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1554  :  BAJAJHIND.NS  :  2468  records inserted
Row  1555  :  532219.BO  :  2497  records inserted
Row  1556  :  ENERGYDEV.NS  :  2468  records inserted
Row  1557  :  539678.BO  :  2389  records inserted
Row  1558  :  QUICKHEAL.NS  :  2364  records inserted
Row  1559  :  538835.BO  :  2497  records inserted
Row  1560  :  INTELLECT.NS  :  2468  records inserted
Row  1561  :  523391.BO  :  2497  records inserted
Row  1562  :  NAHARPOLY.NS  :  2468  records inserted
Row  1563  :  505590.BO  :  2498  records inserted
Row  1564  :  SVPGLOB.NS  :  1032  records inserted
Row  1565  :  514354.BO  :  2508  records inserted
Row  1566  :  PREMIERPOL.NS  :  2468  records inserted

$523385.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1568  :  NILKAMAL.NS  :  2468  records inserted
Row  1569  :  509635.BO  :  2497  records inserted
Row  1570  :  HINDCOMPOS.NS  :  2468  records inserted

$524470.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1572  :  SYNCOMF.NS  :  698  records inserted

$532706.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")
$521034.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1575  :  SOMATEX.NS  :  2468  records inserted
Row  1576  :  513509.BO  :  2498  records inserted
Row  1577  :  KALYANIFRG.NS  :  2467  records inserted
Row  1578  :  539725.BO  :  2372  records inserted
Row  1579  :  GOKULAGRO.NS  :  2348  records inserted
Row  1580  :  539799.BO  :  2359  records inserted
Row  1581  :  BHARATWIRE.NS  :  2336  records inserted
Row  1582  :  505355.BO  :  2497  records inserted
Row  1583  :  NESCO.NS  :  2468  records inserted
Row  1584  :  METROBRAND.NS  :  923  records inserted

$500331.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1586  :  PIDILITIND.NS  :  2468  records inserted
Row  1587  :  ZENITHSTL.NS  :  2467  records inserted
Row  1588  :  531373.BO  :  2497  records inserted
Row  1589  :  BYKE.NS  :  2468  records inserted
Row  1590  :  TIRUPATIFL.NS  :  1958  records inserted

$517544.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1592  :  CENTUM.NS  :  2468  records inserted

$541556.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1594  :  RITES.NS  :  1778  records inserted
Row  1595  :  533336.BO  :  2497  records inserted
Row  1596  :  DHUNINV.NS  :  2468  records inserted

$540679.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1598  :  SMSLIFE.NS  :  1995  records inserted

$506579.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1600  :  DOMS.NS  :  429  records inserted

$507815.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1602  :  GILLETTE.NS  :  2468  records inserted
Row  1603  :  500530.BO  :  2497  records inserted
Row  1604  :  BOSCHLTD.NS  :  2468  records inserted
Row  1605  :  AVONMORE.NS  :  665  records inserted
Row  1606  :  504741.BO  :  2497  records inserted
Row  1607  :  INDIANHUME.NS  :  2468  records inserted

$532891.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1609  :  PURVA.NS  :  2468  records inserted

$533001.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1611  :  SOMICONVEY.NS  :  2264  records inserted
Row  1612  :  500378.BO  :  2508  records inserted
Row  1613  :  JINDALSAW.NS  :  2468  records inserted
Row  1614  :  533284.BO  :  2497  records inserted
Row  1615  :  RPPINFRA.NS  :  2468  records inserted
Row  1616  :  SARVESHWAR.NS  :  1851  records inserted
Row  1617  :  522113.BO  :  2497  records inserted
Row  1618  :  TIMKEN.NS  :  2468  records inserted

$541403.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1620  :  DOLLAR.NS  :  2077  records inserted
Row  1621  :  SINDHUTRAD.NS  :  553  records inserted
Row  1622  :  500257.BO  :  2497  records inserted
Row  1623  :  LUPIN.NS  :  2468  records inserted
Row  1624  :  531400.BO  :  2506  records inserted
Row  1625  :  ALMONDZ.NS  :  2468  records inserted
Row  1626  :  NIRAJISPAT.NS  :  374  records inserted

$532712.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1628  :  RCOM.NS  :  2468  records inserted
Row  1629  :  HAPPYFORGE.NS  :  425  records inserted
Row  1630  :  500260.BO  :  2497  records inserted
Row  1631  :  RAMCOCEM.NS  :  2468  records inserted

$500413.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1633  :  THOMASCOOK.NS  :  2468  records inserted
Row  1634  :  532717.BO  :  2497  records inserted
Row  1635  :  INDOTECH.NS  :  2468  records inserted
Row  1636  :  530759.BO  :  2497  records inserted
Row  1637  :  STERTOOLS.NS  :  2468  records inserted
Row  1638  :  539874.BO  :  2002  records inserted

$500336.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1640  :  SURYAROSNI.NS  :  2468  records inserted
Row  1641  :  539436.BO  :  2464  records inserted
Row  1642  :  COFFEEDAY.NS  :  2436  records inserted
Row  1643  :  540647.BO  :  2024  records inserted
Row  1644  :  GANGESSECU.NS  :  2008  records inserted
Row  1645  :  IRCTC.NS  :  1468  records inserted

$532767.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1647  :  GAYAPROJ.NS  :  2468  records inserted
Row  1648  :  TOTAL.NS  :  2001  records inserted
Row  1649  :  500250.BO  :  2497  records inserted
Row  1650  :  LGBBROSLTD.NS  :  2468  records inserted
Row  1651  :  533676.BO  :  2514  records inserted
Row  1652  :  INDOTHAI.NS  :  2468  records inserted
Row  1653  :  500412.BO  :  2497  records inserted
Row  1654  :  TIRUMALCHM.NS  :  2468  records inserted

$524370.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1656  :  BODALCHEM.NS  :  2468  records inserted
Row  1657  :  CONCORDBIO.NS  :  512  records inserted
Row  1658  :  532892.BO  :  2504  records inserted
Row  1659  :  MOTILALOFS.NS  :  2468  records inserted
Row  1660  :  500335.BO  :  2497  records inserted
Row  1661  :  BIRLACORPN.NS  :  2468  records inserted
Row  1662  :  538902.BO  :  2497  records inserted
Row  1663  :  DTIL.NS  :  2468  records inserted

$500540.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1665  :  PREMIER.NS  :  2467  records inserted
Row  1666  :  NIITMTS.NS  :  514  records inserted
Row  1667  :  533023.BO  :  2497  records inserted
Row  1668  :  ZFCVINDIA.NS  :  2468  records inserted
Row  1669  :  531500.BO  :  2497  records inserted
Row  1670  :  RAJESHEXPO.NS  :  2468  records inserted
Row  1671  :  BHARTIHEXA.NS  :  354  records inserted
Row  1672  :  532725.BO  :  2497  records inserted
Row  1673  :  SOLARINDS.NS  :  2468  records inserted
Row  1674  :  INFOBEAN.NS  :  2013  records inserted
Row  1675  :  539399.BO  :  2446  records inserted
Row  1676  :  BELLACASA.NS  :  40  records inserted

$500186.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1678  :  HINDOILEXP.NS  :  2468  records inserted
Row  1679  :  532413.BO  :  2497  records inserted
Row  1680  :  CEREBRAINT.NS  :  2468  records inserted
Row  1681  :  CIFL.NS  :  103  records inserted
Row  1682  :  540692.BO  :  1999  records inserted
Row  1683  :  APEX.NS  :  1984  records inserted
Row  1684  :  502157.BO  :  2497  records inserted
Row  1685  :  MANGLMCEM.NS  :  2468  records inserted

$532522.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1687  :  PETRONET.NS  :  2468  records inserted
Row  1688  :  540650.BO  :  2025  records inserted
Row  1689  :  MAGADSUGAR.NS  :  2009  records inserted
Row  1690  :  527001.BO  :  2497  records inserted
Row  1691  :  ASHAPURMIN.NS  :  2468  records inserted
Row  1692  :  532548.BO  :  2497  records inserted
Row  1693  :  CENTURYPLY.NS  :  2468  records inserted
Row  1694  :  540749.BO  :  1968  records inserted
Row  1695  :  MASFIN.NS  :  1954  records inserted
Row  1696  :  530367.BO  :  2497  records inserted
Row  1697  :  NRBBEARING.NS  :  2468  records inserted
Row  1698  :  540649.BO  :  2022  records inserted
Row  1699  :  AVADHSUGAR.NS  :  2006  records inserted
Row  1700  :  IDEAFORGE.NS  :  541  records inserted
Row  1701  :  530135.BO  :  2497  records inserted
Row  1702  :  OPTIEMUS.NS  :  2002  records inserted

$532719.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1704  :  BLKASHYAP.NS  :  2468  records inserted

$542351.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1706  :  GLOSTERLTD.NS  :  345  records inserted

$506690.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1708  :  UNICHEMLAB.NS  :  2468  records inserted
Row  1709  :  532627.BO  :  2497  records inserted
Row  1710  :  JPPOWER.NS  :  2468  records inserted
Row  1711  :  500189.BO  :  2497  records inserted
Row  1712  :  NDLVENTURE.NS  :  684  records inserted
Row  1713  :  532730.BO  :  2497  records inserted
Row  1714  :  SGL.NS  :  2468  records inserted
Row  1715  :  532189.BO  :  2497  records inserted
Row  1716  :  ITDC.NS  :  2152  records inserted

$530803.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1718  :  BHAGERIA.NS  :  2355  records inserted
Row  1719  :  531548.BO  :  2497  records inserted
Row  1720  :  SOMANYCERA.NS  :  2468  records inserted

$526299.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1722  :  MPHASIS.NS  :  2468  records inserted
Row  1723  :  500488.BO  :  2497  records inserted
Row  1724  :  ABBOTINDIA.NS  :  2468  records inserted
Row  1725  :  ZOTA.NS  :  2064  records inserted
Row  1726  :  539841.BO  :  2325  records inserted
Row  1727  :  DPSCLTD.NS  :  2468  records inserted
Row  1728  :  533296.BO  :  2497  records inserted
Row  1729  :  FMNL.NS  :  2468  records inserted

$532488.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1731  :  DIVISLAB.NS  :  2468  records inserted
Row  1732  :  PVP.NS  :  2466  records inserted
Row  1733  :  500023.BO  :  2497  records inserted
Row  1734  :  ASIANHOTNR.NS  :  2468  records inserted
Row  1735  :  538685.BO  :  2497  records inserted
Row  1736  :  SHEMAROO.NS  :  2468  records inserted
Row  1737  :  540621.BO  :  1364  records inserted

$509715.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1739  :  JAYSREETEA.NS  :  2468  records inserted

$541450.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1741  :  ADANIGREEN.NS  :  1789  records inserted
Row  1742  :  REPL.NS  :  1760  records inserted
Row  1743  :  532528.BO  :  2497  records inserted
Row  1744  :  DATAMATICS.NS  :  2468  records inserted
Row  1745  :  523716.BO  :  2497  records inserted
Row  1746  :  ASHIANA.NS  :  2468  records inserted
Row  1747  :  NBIFIN.NS  :  2169  records inserted

$532610.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1749  :  DWARKESH.NS  :  2468  records inserted
Row  1750  :  539118.BO  :  2514  records inserted
Row  1751  :  VRLLOG.NS  :  2468  records inserted

$532748.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1753  :  PFOCUS.NS  :  2468  records inserted

$532986.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1755  :  NIRAJ.NS  :  1226  records inserted
Row  1756  :  UNITEDPOLY.NS  :  2099  records inserted
Row  1757  :  500650.BO  :  2497  records inserted
Row  1758  :  EXCELINDUS.NS  :  2468  records inserted
Row  1759  :  NORBTEAEXP.NS  :  2467  records inserted
Row  1760  :  532907.BO  :  2498  records inserted
Row  1761  :  IL&FSENGG.NS  :  2468  records inserted
Row  1762  :  514418.BO  :  2497  records inserted
Row  1763  :  MANORG.NS  :  957  records inserted

$506146.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1765  :  VIVIDHA.NS  :  2468  records inserted

$509488.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1767  :  GRAPHITE.NS  :  2468  records inserted

$524570.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1769  :  PODDARMENT.NS  :  2180  records inserted

$540902.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1771  :  AMBER.NS  :  1883  records inserted
Row  1772  :  532259.BO  :  2497  records inserted
Row  1773  :  APARINDS.NS  :  2468  records inserted
Row  1774  :  PRECWIRE.NS  :  2468  records inserted

$500042.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1776  :  BASF.NS  :  2468  records inserted

$532357.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1778  :  MUKTAARTS.NS  :  2468  records inserted
Row  1779  :  RELIABLE.NS  :  1955  records inserted

$521082.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")
$532523.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1782  :  BIOCON.NS  :  2468  records inserted

$501831.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1784  :  COASTCORP.NS  :  973  records inserted
Row  1785  :  WAAREEENER.NS  :  220  records inserted
Row  1786  :  BAJAJHFL.NS  :  249  records inserted
Row  1787  :  531497.BO  :  2497  records inserted
Row  1788  :  MADHUCON.NS  :  2468  records inserted
Row  1789  :  ITCHOTELS.NS  :  155  records inserted

$543283.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1791  :  BARBEQUE.NS  :  1099  records inserted
Row  1792  :  GVPTECH.NS  :  2100  records inserted
Row  1793  :  542011.BO  :  1712  records inserted
Row  1794  :  GRSE.NS  :  1703  records inserted

$530005.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1796  :  INDIACEM.NS  :  2468  records inserted

$532728.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1798  :  MALUPAPER.NS  :  2468  records inserted
Row  1799  :  505800.BO  :  2497  records inserted
Row  1800  :  RANEHOLDIN.NS  :  2468  records inserted

$522108.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1802  :  YUKEN.NS  :  998  records inserted

$504614.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1804  :  SARDAEN.NS  :  2468  records inserted

$532878.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1806  :  ALPA.NS  :  2468  records inserted
Row  1807  :  540701.BO  :  2497  records inserted
Row  1808  :  DCAL.NS  :  2468  records inserted

$520113.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1810  :  VESUVIUS.NS  :  2468  records inserted
Row  1811  :  532493.BO  :  2497  records inserted
Row  1812  :  ASTRAMICRO.NS  :  2468  records inserted
Row  1813  :  513097.BO  :  2497  records inserted
Row  1814  :  SBCL.NS  :  1046  records inserted

$500403.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1816  :  SUNDRMFAST.NS  :  2468  records inserted
Row  1817  :  532896.BO  :  2497  records inserted
Row  1818  :  MAGNUM.NS  :  2468  records inserted

$500153.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1820  :  GANESHBE.NS  :  989  records inserted
Row  1821  :  532738.BO  :  2497  records inserted
Row  1822  :  TICL.NS  :  2468  records inserted
Row  1823  :  NYKAA.NS  :  952  records inserted
Row  1824  :  539400.BO  :  2470  records inserted
Row  1825  :  MALLCOM.NS  :  894  records inserted
Row  1826  :  532714.BO  :  2497  records inserted
Row  1827  :  KEC.NS  :  2468  records inserted
Row  1828  :  533252.BO  :  2498  records inserted
Row  1829  :  WELINV.NS  :  2468  records inserted
Row  1830  :  533761.BO  :  2505  records inserted
Row  1831  :  GPTINFRA.NS  :  2269  records inserted

$532741.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1833  :  KAMDHENU.NS  :  2468  records inserted

$505854.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1835  :  TRF.NS  :  2468  records inserted
Row  1836  :  JTLIND.NS  :  921  records inserted
Row  1837  :  509055.BO  :  2497  records inserted
Row  1838  :  VISAKAIND.NS  :  2468  records inserted

$532387.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1840  :  PNC.NS  :  2468  records inserted
Row  1841  :  504286.BO  :  2497  records inserted
Row  1842  :  DELTAMAGNT.NS  :  2468  records inserted
Row  1843  :  540724.BO  :  1977  records inserted
Row  1844  :  DIAMONDYD.NS  :  1963  records inserted
Row  1845  :  STEELCITY.NS  :  2101  records inserted
Row  1846  :  TVSSCS.NS  :  504  records inserted
Row  1847  :  NINSYS.NS  :  632  records inserted

$532454.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1849  :  BHARTIARTL.NS  :  2468  records inserted
Row  1850  :  532740.BO  :  2497  records inserted
Row  1851  :  LOKESHMACH.NS  :  2468  records inserted

$523261.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1853  :  VENKEYS.NS  :  2468  records inserted
Row  1854  :  UMIYA-MRO.NS  :  109  records inserted
Row  1855  :  539268.BO  :  2497  records inserted
Row  1856  :  SYNGENE.NS  :  2468  records inserted
Row  1857  :  532509.BO  :  2497  records inserted
Row  1858  :  SUPRAJIT.NS  :  2468  records inserted
Row  1859  :  RKFORGE.NS  :  2468  records inserted
Row  1860  :  533122.BO  :  2497  records inserted
Row  1861  :  RTNPOWER.NS  :  2468  records inserted

$542066.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1863  :  ATGL.NS  :  1695  records inserted

$532732.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1865  :  KKCL.NS  :  2468  records inserted
Row  1866  :  INNOVANA.NS  :  1914  records inserted
Row  1867  :  ABSLAMC.NS  :  972  records inserted

$531633.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1869  :  LINCOLN.NS  :  2407  records inserted
Row  1870  :  532539.BO  :  2497  records inserted
Row  1871  :  UNOMINDA.NS  :  2468  records inserted
Row  1872  :  524804.BO  :  2497  records inserted
Row  1873  :  AUROPHARMA.NS  :  2468  records inserted
Row  1874  :  540596.BO  :  2044  records inserted
Row  1875  :  ERIS.NS  :  2029  records inserted
Row  1876  :  532051.BO  :  2497  records inserted
Row  1877  :  SWELECTES.NS  :  2468  records inserted
Row  1878  :  524200.BO  :  2497  records inserted
Row  1879  :  VINATIORGA.NS  :  2468  records inserted
Row  1880  :  539551.BO  :  2418  records inserted
Row  1881  :  NH.NS  :  2394  records inserted
Row  1882  :  526953.BO  :  2497  records inserted
Row  1883  :  VENUSREM.NS  :  2468  records inserted
Row  1884  :  532143.BO  :  2497  records inserted
Row  1885  :  SKMEGGPROD.NS  :  2468  records inserted

$532735.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1887  :  RSYSTEMS.NS  :  2468  records inserted
Row  1888  :  BAJAJHCARE.NS  :  942  records inserted
Row  1889  :  DIL.NS  :  1787  records inserted
Row  1890  :  JMA.NS  :  2468  records inserted

$524332.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1892  :  BCLIND.NS  :  1120  records inserted
Row  1893  :  BIGBLOC.NS  :  2231  records inserted
Row  1894  :  509020.BO  :  2497  records inserted
Row  1895  :  RUCHINFRA.NS  :  2468  records inserted
Row  1896  :  TPLPLASTEH.NS  :  2468  records inserted
Row  1897  :  590134.BO  :  2497  records inserted
Row  1898  :  MADRASFERT.NS  :  2468  records inserted
Row  1899  :  ANTGRAPHIC.NS  :  2467  records inserted

$531719.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1901  :  BHAGCHEM.NS  :  968  records inserted
Row  1902  :  533398.BO  :  2497  records inserted
Row  1903  :  MUTHOOTFIN.NS  :  2468  records inserted
Row  1904  :  500187.BO  :  2497  records inserted
Row  1905  :  AGI.NS  :  2468  records inserted
Row  1906  :  523229.BO  :  2466  records inserted
Row  1907  :  BHARATSE.NS  :  118  records inserted

$542649.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1909  :  RVNL.NS  :  1589  records inserted
Row  1910  :  532967.BO  :  2497  records inserted
Row  1911  :  KIRIINDUS.NS  :  2468  records inserted
Row  1912  :  530943.BO  :  2499  records inserted
Row  1913  :  SABTNL.NS  :  2468  records inserted

$506197.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1915  :  BLISSGVS.NS  :  2468  records inserted
Row  1916  :  533261.BO  :  2502  records inserted
Row  1917  :  532365.BO  :  2497  records inserted
Row  1918  :  DSSL.NS  :  2468  records inserted
Row  1919  :  539883.BO  :  2497  records inserted
Row  1920  :  PILANIINVS.NS  :  2468  records inserted
Row  1921  :  POLICYBZR.NS  :  949  records inserted

$532749.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1923  :  ALLCARGO.NS  :  2468  records inserted

$543280.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1925  :  NAZARA.NS  :  1104  records inserted
Row  1926  :  ESSENTIA.NS  :  2467  records inserted
Row  1927  :  KOTARISUG.NS  :  2468  records inserted

$530307.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1929  :  CLSEL.NS  :  1076  records inserted
Row  1930  :  TDPOWERSYS.NS  :  2468  records inserted

$543227.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1932  :  HAPPSTMNDS.NS  :  1236  records inserted
Row  1933  :  ARIHANTCAP.NS  :  1053  records inserted
Row  1934  :  PAISALO.NS  :  2468  records inserted
Row  1935  :  523204.BO  :  2497  records inserted
Row  1936  :  ABAN.NS  :  2468  records inserted

$509243.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1938  :  TVSSRICHAK.NS  :  2468  records inserted
Row  1939  :  519600.BO  :  2497  records inserted
Row  1940  :  CCL.NS  :  2468  records inserted

$504966.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1942  :  512599.BO  :  2497  records inserted
Row  1943  :  ADANIENT.NS  :  2468  records inserted
Row  1944  :  SBFC.NS  :  509  records inserted
Row  1945  :  590025.BO  :  2497  records inserted
Row  1946  :  GINNIFILA.NS  :  2468  records inserted

$532733.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1948  :  SUNTV.NS  :  2468  records inserted
Row  1949  :  513335.BO  :  2389  records inserted
Row  1950  :  532368.BO  :  2507  records inserted
Row  1951  :  BCG.NS  :  2468  records inserted
Row  1952  :  542333.BO  :  1650  records inserted
Row  1953  :  RPSGVENT.NS  :  1639  records inserted

$506235.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1955  :  ALEMBICLTD.NS  :  2468  records inserted
Row  1956  :  509567.BO  :  2497  records inserted
Row  1957  :  GOACARBON.NS  :  2468  records inserted
Row  1958  :  OBCL.NS  :  850  records inserted
Row  1959  :  542399.BO  :  1641  records inserted
Row  1960  :  CHALET.NS  :  1630  records inserted

$543279.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1962  :  SURYODAY.NS  :  1105  records inserted

$523025.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1964  :  SAFARI.NS  :  1488  records inserted

$532902.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1966  :  CCCL.NS  :  2466  records inserted
Row  1967  :  VISHWARAJ.NS  :  1467  records inserted
Row  1968  :  PKTEA.NS  :  2468  records inserted
Row  1969  :  502330.BO  :  2507  records inserted
Row  1970  :  ANDHRAPAP.NS  :  2468  records inserted
Row  1971  :  505400.BO  :  2497  records inserted
Row  1972  :  TEXINFRA.NS  :  2468  records inserted

$507717.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1974  :  DHANUKA.NS  :  2468  records inserted
Row  1975  :  500013.BO  :  2504  records inserted
Row  1976  :  ANSALAPI.NS  :  2468  records inserted

$508869.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1978  :  APOLLOHOSP.NS  :  2468  records inserted
Row  1979  :  500234.BO  :  2497  records inserted
Row  1980  :  KAKATCEM.NS  :  2468  records inserted

$500877.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  1982  :  APOLLOTYRE.NS  :  2468  records inserted
Row  1983  :  KALAMANDIR.NS  :  485  records inserted
Row  1984  :  515030.BO  :  2497  records inserted
Row  1985  :  ASAHIINDIA.NS  :  2468  records inserted
Row  1986  :  538562.BO  :  2497  records inserted
Row  1987  :  SKIPPER.NS  :  2468  records inserted
Row  1988  :  NITIRAJ.NS  :  2100  records inserted
Row  1989  :  514286.BO  :  2497  records inserted
Row  1990  :  ASHIMASYN.NS  :  2468  records inserted
Row  1991  :  533629.BO  :  2499  records inserted
Row  1992  :  TIJARIA.NS  :  2468  records inserted
Row  1993  :  533271.BO  :  2497  records inserted
Row  1994  :  ASHOKA.NS  :  2468  records inserted
Row  1995  :  537259.BO  :  2466  records inserted
Row  1996  :  SUYOG.NS  :  268  records inserted
Row  1997  :  590013.BO  :  2497  records inserted
Row  1998  :  XPROINDIA.NS  :  2468  records inserted
Row  1999  :  ATLASCYCLE.NS  :  2467  records inserted
Row  2000  :  537291.BO  :  2497  records inserted
Row  2001  :  NATHBIOGEN.NS  :  2468  records inserted

$505010.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2003  :  AUTOAXLES.NS  :  2468  records inserted

$526173.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2005  :  537292.BO  :  2497  records inserted
Row  2006  :  AGRITECH.NS  :  2468  records inserted
Row  2007  :  513519.BO  :  2497  records inserted
Row  2008  :  PITTIENG.NS  :  2468  records inserted

$524542.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2010  :  SUKHJITS.NS  :  706  records inserted
Row  2011  :  532613.BO  :  2497  records inserted
Row  2012  :  VIPCLOTHNG.NS  :  2468  records inserted

$543228.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2014  :  ROUTE.NS  :  1234  records inserted

$500033.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2016  :  FORCEMOT.NS  :  1463  records inserted
Row  2017  :  RAJRATAN.NS  :  1319  records inserted
Row  2018  :  APOLSINHOT.NS  :  2468  records inserted
Row  2019  :  513554.BO  :  2499  records inserted
Row  2020  :  MAHASTEEL.NS  :  2274  records inserted
Row  2021  :  538365.BO  :  2498  records inserted
Row  2022  :  INCREDIBLE.NS  :  2274  records inserted
Row  2023  :  536507.BO  :  2499  records inserted
Row  2024  :  532339.BO  :  2497  records inserted
Row  2025  :  COMPUSOFT.NS  :  2468  records inserted
Row  2026  :  526885.BO  :  2497  records inserted
Row  2027  :  SARLAPOLY.NS  :  2468  records inserted
Row  2028  :  539917.BO  :  2497  records inserted
Row  2029  :  NAGAFERT.NS  :  2468  records inserted
Row  2030  :  TRANSRAILL.NS  :  179  records inserted
Row  2031  :  532532.BO  :  2504  records inserted

$532899.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2033  :  KSCL.NS  :  2468  records inserted

$542652.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2035  :  POLYCAB.NS  :  1586  records inserted
Row  2036  :  539597.BO  :  1805  records inserted

$519588.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2038  :  MEDIASSIST.NS  :  407  records inserted

$532525.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2040  :  MAHABANK.NS  :  2468  records inserted

$517059.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2042  :  SALZERELEC.NS  :  2418  records inserted
Row  2043  :  533581.BO  :  2505  records inserted
Row  2044  :  PGEL.NS  :  2468  records inserted
Row  2045  :  512296.BO  :  2497  records inserted
Row  2046  :  BHAGYANGR.NS  :  2468  records inserted
Row  2047  :  UNITEDTEA.NS  :  2468  records inserted
Row  2048  :  500041.BO  :  2501  records inserted
Row  2049  :  BANARISUG.NS  :  2468  records inserted
Row  2050  :  526367.BO  :  2497  records inserted
Row  2051  :  GANESHHOUC.NS  :  2468  records inserted
Row  2052  :  540575.BO  :  2053  records inserted
Row  2053  :  STARCEMENT.NS  :  2037  records inserted

$532687.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2055  :  REPRO.NS  :  2468  records inserted

$526797.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2057  :  GREENPLY.NS  :  2468  records inserted
Row  2058  :  HLEGLAS.NS  :  1128  records inserted
Row  2059  :  506285.BO  :  2497  records inserted
Row  2060  :  BAYERCROP.NS  :  2468  records inserted

$509480.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2062  :  BERGEPAINT.NS  :  2468  records inserted
Row  2063  :  ANANDRATHI.NS  :  929  records inserted

$503960.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2065  :  BBL.NS  :  2468  records inserted

$500493.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2067  :  BHARATFORG.NS  :  2468  records inserted

$542772.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2069  :  360ONE.NS  :  1483  records inserted

$532540.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2071  :  TCS.NS  :  2468  records inserted

$523395.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2073  :  3MINDIA.NS  :  2468  records inserted
Row  2074  :  540769.BO  :  1950  records inserted
Row  2075  :  NIACL.NS  :  1937  records inserted
Row  2076  :  540648.BO  :  2024  records inserted
Row  2077  :  PALASHSECU.NS  :  2008  records inserted
Row  2078  :  500067.BO  :  2497  records inserted
Row  2079  :  BLUESTARCO.NS  :  2468  records inserted
Row  2080  :  BLUECOAST.NS  :  2468  records inserted
Row  2081  :  534312.BO  :  2502  records inserted
Row  2082  :  MTEDUCARE.NS  :  2468  records inserted
Row  2083  :  523457.BO  :  2497  records inserted
Row  2084  :  LINDEINDIA.NS  :  2468  records inserted

$531531.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2086  :  HATSUN.NS  :  2468  records inserted
Row  2087  :  524019.BO  :  2497  records inserted
Row  2088  :  KINGFA.NS  :  2468  records inserted
Row  2089  :  530919.BO  :  2505  records inserted
Row  2090  :  REMSONSIND.NS  :  2468  records inserted

$512608.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2092  :  BHANDARI.NS  :  2132  records inserted
Row  2093  :  OMKARCHEM.NS  :  2468  records inserted
Row  2094  :  MEDANTA.NS  :  698  records inserted

$524735.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2096  :  HIKAL.NS  :  2468  records inserted

$524742.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2098  :  CAPLIPOINT.NS  :  2468  records inserted
Row  2099  :  532483.BO  :  2503  records inserted
Row  2100  :  CANBK.NS  :  2468  records inserted

$511196.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2102  :  CANFINHOME.NS  :  2468  records inserted
Row  2103  :  523736.BO  :  2497  records inserted
Row  2104  :  DVL.NS  :  2468  records inserted

$526423.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2106  :  KRITI.NS  :  2466  records inserted
Row  2107  :  507514.BO  :  2504  records inserted
Row  2108  :  SDBL.NS  :  2468  records inserted
Row  2109  :  THOMASCOTT.NS  :  2467  records inserted
Row  2110  :  532538.BO  :  2497  records inserted
Row  2111  :  ULTRACEMCO.NS  :  2468  records inserted

$543259.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2113  :  HOMEFIRST.NS  :  1141  records inserted
Row  2114  :  540755.BO  :  1963  records inserted
Row  2115  :  GICRE.NS  :  1950  records inserted
Row  2116  :  UNIINFO.NS  :  1853  records inserted
Row  2117  :  500878.BO  :  2497  records inserted
Row  2118  :  CEATLTD.NS  :  2468  records inserted
Row  2119  :  533982.BO  :  2497  records inserted
Row  2120  :  TERASOFT.NS  :  2153  records inserted

$524091.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2122  :  CARYSIL.NS  :  1154  records inserted
Row  2123  :  533275.BO  :  2497  records inserted
Row  2124  :  SHAH.NS  :  531  records inserted

$532885.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2126  :  CENTRALBK.NS  :  2468  records inserted
Row  2127  :  521016.BO  :  2497  records inserted
Row  2128  :  ICIL.NS  :  2468  records inserted

$532790.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2130  :  TANLA.NS  :  2468  records inserted
Row  2131  :  539807.BO  :  2358  records inserted
Row  2132  :  INFIBEAM.NS  :  2335  records inserted
Row  2133  :  VEEDOL.NS  :  2468  records inserted
Row  2134  :  539636.BO  :  2396  records inserted
Row  2135  :  PRECAM.NS  :  2372  records inserted
Row  2136  :  533150.BO  :  2497  records inserted
Row  2137  :  GODREJPROP.NS  :  2468  records inserted

$500280.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2139  :  CENTENKA.NS  :  2468  records inserted
Row  2140  :  524164.BO  :  2510  records inserted
Row  2141  :  IOLCP.NS  :  2468  records inserted
Row  2142  :  CESC.NS  :  2468  records inserted
Row  2143  :  GPTHEALTH.NS  :  381  records inserted
Row  2144  :  TOUCHWOOD.NS  :  1909  records inserted
Row  2145  :  CHEMPLASTS.NS  :  1005  records inserted

$519091.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2147  :  TASTYBITE.NS  :  2096  records inserted

$519105.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2149  :  AVTNPL.NS  :  2468  records inserted
Row  2150  :  540544.BO  :  2067  records inserted
Row  2151  :  PSPPROJECT.NS  :  2052  records inserted
Row  2152  :  506260.BO  :  2468  records inserted
Row  2153  :  ANUHPHR.NS  :  182  records inserted

$542773.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2155  :  IIFLCAPS.NS  :  201  records inserted
Row  2156  :  533286.BO  :  2497  records inserted
Row  2157  :  MOIL.NS  :  2468  records inserted
Row  2158  :  532210.BO  :  2497  records inserted
Row  2159  :  CUB.NS  :  2468  records inserted
Row  2160  :  ASKAUTOLTD.NS  :  448  records inserted
Row  2161  :  CROWN.NS  :  2099  records inserted
Row  2162  :  506390.BO  :  2497  records inserted
Row  2163  :  HEUBACHIND.NS  :  2468  records inserted

$532301.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")
$532343.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2166  :  TVSMOTOR.NS  :  2468  records inserted
Row  2167  :  500097.BO  :  2497  records inserted
Row  2168  :  DALMIASUG.NS  :  2468  records inserted

$530239.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2170  :  SUVEN.NS  :  2468  records inserted
Row  2171  :  514234.BO  :  2497  records inserted
Row  2172  :  SANGAMIND.NS  :  2468  records inserted

$543253.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2174  :  BECTORFOOD.NS  :  1168  records inserted
Row  2175  :  540136.BO  :  2230  records inserted
Row  2176  :  HPL.NS  :  2211  records inserted

$526807.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2178  :  SEAMECLTD.NS  :  2468  records inserted
Row  2179  :  521220.BO  :  2497  records inserted
Row  2180  :  DAMODARIND.NS  :  2273  records inserted
Row  2181  :  GODAVARIB.NS  :  218  records inserted

$502820.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2183  :  DCM.NS  :  2468  records inserted

$532638.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2185  :  SHOPERSTOP.NS  :  2468  records inserted
Row  2186  :  590056.BO  :  2497  records inserted
Row  2187  :  SALONA.NS  :  2468  records inserted
Row  2188  :  533519.BO  :  2497  records inserted
Row  2189  :  LTF.NS  :  2468  records inserted
Row  2190  :  538920.BO  :  1510  records inserted
Row  2191  :  VINCOFE.NS  :  226  records inserted
Row  2192  :  523367.BO  :  2497  records inserted
Row  2193  :  DCMSHRIRAM.NS  :  2468  records inserted

$500117.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2195  :  DCW.NS  :  2468  records inserted
Row  2196  :  539450.BO  :  2452  records inserted
Row  2197  :  SHK.NS  :  2429  records inserted
Row  2198  :  LEXUS.NS  :  1991  records inserted

$500645.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2200  :  DEEPAKFERT.NS  :  2468  records inserted

$532662.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2202  :  HTMEDIA.NS  :  2468  records inserted
Row  2203  :  540653.BO  :  1954  records inserted
Row  2204  :  540757.BO  :  1960  records inserted
Row  2205  :  SCPL.NS  :  696  records inserted
Row  2206  :  532772.BO  :  2497  records inserted
Row  2207  :  DCBBANK.NS  :  2468  records inserted
Row  2208  :  STEELXIND.NS  :  2015  records inserted
Row  2209  :  506405.BO  :  2497  records inserted
Row  2210  :  DMCC.NS  :  938  records inserted
Row  2211  :  531746.BO  :  2497  records inserted
Row  2212  :  PRAENG.NS  :  2468  records inserted
Row  2213  :  EUROBOND.NS  :  910  records inserted
Row  2214  :  VINEETLAB.NS  :  1053  records inserted
Row  2215  :  523618.BO  :  2497  records inserted
Row  2216  :  DREDGECORP.NS  :  2468  records inserted
Row  2217  :  KRISHANA.NS  :  2111  records inserted

$541302.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2219  :  DHRUV.NS  :  942  records inserted
Row  2220  :  532856.BO  :  2497  records inserted
Row  2221  :  TIMETECHNO.NS  :  2468  records inserted
Row  2222  :  RHL.NS  :  592  records inserted

$530843.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2224  :  CUPID.NS  :  2223  records inserted
Row  2225  :  532178.BO  :  2497  records inserted
Row  2226  :  ENGINERSIN.NS  :  2468  records inserted
Row  2227  :  INOXGREEN.NS  :  695  records inserted
Row  2228  :  524000.BO  :  2497  records inserted
Row  2229  :  POONAWALLA.NS  :  2468  records inserted
Row  2230  :  MMP.NS  :  1824  records inserted

$532666.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2232  :  FCSSOFT.NS  :  2468  records inserted
Row  2233  :  SCHAEFFLER.NS  :  2468  records inserted
Row  2234  :  MOKSH.NS  :  1900  records inserted

$500148.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2236  :  UFLEX.NS  :  2468  records inserted
Row  2237  :  533189.BO  :  2500  records inserted
Row  2238  :  GOENKA.NS  :  2468  records inserted

$532371.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2240  :  TTML.NS  :  2468  records inserted
Row  2241  :  533248.BO  :  2497  records inserted
Row  2242  :  GPPL.NS  :  2468  records inserted

$541400.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2244  :  ZIMLAB.NS  :  693  records inserted
Row  2245  :  500150.BO  :  2497  records inserted
Row  2246  :  FOSECOIND.NS  :  2468  records inserted
Row  2247  :  533306.BO  :  2497  records inserted
Row  2248  :  SUMMITSEC.NS  :  2468  records inserted
Row  2249  :  504067.BO  :  2497  records inserted
Row  2250  :  ZENSARTECH.NS  :  2468  records inserted
Row  2251  :  539447.BO  :  2180  records inserted
Row  2252  :  BEARDSELL.NS  :  2468  records inserted
Row  2253  :  ICEMAKE.NS  :  1917  records inserted
Row  2254  :  533260.BO  :  2498  records inserted
Row  2255  :  CPCAP.NS  :  126  records inserted
Row  2256  :  531213.BO  :  2497  records inserted
Row  2257  :  MANAPPURAM.NS  :  2468  records inserted
Row  2258  :  533278.BO  :  2497  records inserted
Row  2259  :  COALINDIA.NS  :  2468  records inserted

$532351.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2261  :  AKSHOPTFBR.NS  :  2468  records inserted

$505714.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2263  :  GABRIEL.NS  :  2468  records inserted
Row  2264  :  513108.BO  :  2498  records inserted
Row  2265  :  GANDHITUBE.NS  :  2468  records inserted
Row  2266  :  533482.BO  :  2497  records inserted
Row  2267  :  KRIDHANINF.NS  :  2411  records inserted
Row  2268  :  532386.BO  :  2497  records inserted
Row  2269  :  CALSOFT.NS  :  2468  records inserted
Row  2270  :  SHRIPISTON.NS  :  2290  records inserted
Row  2271  :  532660.BO  :  2514  records inserted
Row  2272  :  539141.BO  :  2497  records inserted
Row  2273  :  UFO.NS  :  2468  records inserted
Row  2274  :  GKWLIMITED.NS  :  2468  records inserted

$532648.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2276  :  YESBANK.NS  :  2468  records inserted
Row  2277  :  505744.BO  :  2497  records inserted
Row  2278  :  FMGOETZE.NS  :  2468  records inserted

$526381.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2280  :  PATINTLOG.NS  :  2468  records inserted
Row  2281  :  512131.BO  :  2497  records inserted
Row  2282  :  SIGIND.NS  :  2468  records inserted
Row  2283  :  532937.BO  :  2497  records inserted
Row  2284  :  KUANTUM.NS  :  1462  records inserted
Row  2285  :  532636.BO  :  2498  records inserted
Row  2286  :  IIFL.NS  :  2468  records inserted
Row  2287  :  500165.BO  :  2497  records inserted
Row  2288  :  KANSAINER.NS  :  2468  records inserted
Row  2289  :  513599.BO  :  2497  records inserted
Row  2290  :  HINDCOPPER.NS  :  2468  records inserted
Row  2291  :  NUVAMA.NS  :  481  records inserted
Row  2292  :  532922.BO  :  2497  records inserted
Row  2293  :  EDELWEISS.NS  :  2468  records inserted
Row  2294  :  500168.BO  :  2497  records inserted
Row  2295  :  RAJRILTD.NS  :  2468  records inserted

$517500.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2297  :  ROTO.NS  :  842  records inserted
Row  2298  :  522257.BO  :  2466  records inserted
Row  2299  :  RAJOOENG.NS  :  76  records inserted
Row  2300  :  506076.BO  :  2497  records inserted
Row  2301  :  GRINDWELL.NS  :  2468  records inserted
Row  2302  :  532756.BO  :  2497  records inserted
Row  2303  :  CIEINDIA.NS  :  2468  records inserted

$500173.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2305  :  GFLLIMITED.NS  :  2468  records inserted

$500171.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2307  :  GHCL.NS  :  2468  records inserted

$532372.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2309  :  VIRINCHI.NS  :  587  records inserted

$500174.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2311  :  GLFL.NS  :  2467  records inserted

$531978.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2313  :  AMBIKCO.NS  :  2468  records inserted

$532757.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2315  :  VOLTAMP.NS  :  2468  records inserted
Row  2316  :  539523.BO  :  2426  records inserted
Row  2317  :  ALKEM.NS  :  2403  records inserted

$505255.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2319  :  GMMPFAUDLR.NS  :  1861  records inserted

$518029.BO: possibly delisted; no price data found  (period=10y)
$524598.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2322  :  AKSHARCHEM.NS  :  2092  records inserted

$519494.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2324  :  NKIND.NS  :  2336  records inserted
Row  2325  :  533107.BO  :  2514  records inserted
Row  2326  :  KPIGREEN.NS  :  1024  records inserted
Row  2327  :  KAPSTON.NS  :  1830  records inserted
Row  2328  :  ACEINTEG.NS  :  2018  records inserted
Row  2329  :  500467.BO  :  2497  records inserted
Row  2330  :  HARRMALAYA.NS  :  2468  records inserted

$532771.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2332  :  JHS.NS  :  2468  records inserted
Row  2333  :  GREENLAM.NS  :  2468  records inserted

$509631.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2335  :  HEG.NS  :  2468  records inserted

$532804.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2337  :  TIIL.NS  :  2468  records inserted
Row  2338  :  505850.BO  :  2466  records inserted
Row  2339  :  MANCREDIT.NS  :  270  records inserted

$541153.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2341  :  BANDHANBNK.NS  :  1845  records inserted
Row  2342  :  530305.BO  :  2466  records inserted
Row  2343  :  PICCADIL.NS  :  52  records inserted
Row  2344  :  EIFFL.NS  :  2089  records inserted

$540901.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2346  :  PRAXIS.NS  :  1882  records inserted
Row  2347  :  531225.BO  :  2466  records inserted
Row  2348  :  XTGLOBAL.NS  :  246  records inserted

$590065.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2350  :  IMPAL.NS  :  2468  records inserted

$500183.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2352  :  HFCL.NS  :  2468  records inserted
Row  2353  :  531162.BO  :  2497  records inserted
Row  2354  :  EMAMILTD.NS  :  2468  records inserted
Row  2355  :  LAGNAM.NS  :  1715  records inserted

$500185.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2357  :  HCC.NS  :  2468  records inserted

$532216.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2359  :  HBSL.NS  :  2467  records inserted
Row  2360  :  526987.BO  :  2497  records inserted
Row  2361  :  URJA.NS  :  2093  records inserted
Row  2362  :  SUPREMEINF.NS  :  2468  records inserted

$516030.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2364  :  PAKKA.NS  :  539  records inserted

$542904.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2366  :  UJJIVANSFB.NS  :  1427  records inserted

$526829.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2368  :  CONFIPET.NS  :  1211  records inserted
Row  2369  :  ABDL.NS  :  301  records inserted
Row  2370  :  534615.BO  :  2497  records inserted
Row  2371  :  NECCLTD.NS  :  2355  records inserted
Row  2372  :  532395.BO  :  2497  records inserted
Row  2373  :  AXISCADES.NS  :  2468  records inserted
Row  2374  :  TARACHAND.NS  :  1845  records inserted
Row  2375  :  509675.BO  :  2497  records inserted
Row  2376  :  BIRLANU.NS  :  109  records inserted
Row  2377  :  526596.BO  :  2497  records inserted
Row  2378  :  LIBERTSHOE.NS  :  2468  records inserted
Row  2379  :  PIGL.NS  :  1816  records inserted
Row  2380  :  530011.BO  :  2497  records inserted
Row  2381  :  MANGCHEFER.NS  :  2468  records inserted
Row  2382  :  531556.BO  :  2498  records inserted
Row  2383  :  CORALFINAC.NS  :  2092  records inserted
Row  2384  :  HECPROJECT.NS  :  2096  records inserted

$505726.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2386  :  IFBIND.NS  :  2468  records inserted
Row  2387  :  511413.BO  :  2497  records inserted
Row  2388  :  CREST.NS  :  2468  records inserted
Row  2389  :  534680.BO  :  2498  records inserted
Row  2390  :  SRGHFL.NS  :  506  records inserted
Row  2391  :  LANDMARK.NS  :  673  records inserted
Row  2392  :  500201.BO  :  2514  records inserted
Row  2393  :  INDIAGLYCO.NS  :  2468  records inserted
Row  2394  :  533344.BO  :  2497  records inserted
Row  2395  :  PFS.NS  :  2468  records inserted
Row  2396  :  505688.BO  :  2497  records inserted
Row  2397  :  BHARATGEAR.NS  :  2468  records inserted

$532780.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2399  :  PARSVNATH.NS  :  2468  records inserted
Row  2400  :  531109.BO  :  2466  records inserted
Row  2401  :  ISHANCH.NS  :  118  records inserted

$532814.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2403  :  INDIANB.NS  :  2468  records inserted
Row  2404  :  500354.BO  :  2497  records inserted
Row  2405  :  RAJSREESUG.NS  :  2468  records inserted
Row  2406  :  UNIVASTU.NS  :  1781  records inserted
Row  2407  :  533138.BO  :  2497  records inserted
Row  2408  :  ASTEC.NS  :  2468  records inserted

$532388.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2410  :  IOB.NS  :  2468  records inserted
Row  2411  :  533287.BO  :  2497  records inserted
Row  2412  :  ZEELEARN.NS  :  2468  records inserted
Row  2413  :  540145.BO  :  2222  records inserted
Row  2414  :  VALIANTORG.NS  :  1225  records inserted
Row  2415  :  533181.BO  :  2497  records inserted
Row  2416  :  ISFT.NS  :  2468  records inserted
Row  2417  :  NIPPOBATRY.NS  :  2468  records inserted
Row  2418  :  URAVIDEF.NS  :  1833  records inserted
Row  2419  :  504879.BO  :  2497  records inserted
Row  2420  :  ORIENTCER.NS  :  522  records inserted
Row  2421  :  500214.BO  :  2497  records inserted
Row  2422  :  IONEXCHANG.NS  :  880  records inserted

$516064.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2424  :  ARROWGREEN.NS  :  2468  records inserted
Row  2425  :  SAILIFE.NS  :  185  records inserted
Row  2426  :  IPCALAB.NS  :  2468  records inserted
Row  2427  :  520066.BO  :  2497  records inserted
Row  2428  :  JAYBARMARU.NS  :  2468  records inserted
Row  2429  :  506943.BO  :  2497  records inserted
Row  2430  :  JBCHEPHARM.NS  :  2468  records inserted
Row  2431  :  540173.BO  :  2206  records inserted
Row  2432  :  PNBHOUSING.NS  :  2190  records inserted

$509048.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2434  :  LANCORHOL.NS  :  374  records inserted

$542759.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2436  :  SPANDANA.NS  :  1504  records inserted
Row  2437  :  530007.BO  :  2497  records inserted
Row  2438  :  JKTYRE.NS  :  2468  records inserted
Row  2439  :  533470.BO  :  2506  records inserted
Row  2440  :  RUSHIL.NS  :  2468  records inserted
Row  2441  :  524324.BO  :  2134  records inserted
Row  2442  :  SEYAIND.NS  :  1527  records inserted

$509709.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2444  :  INTLCONV.NS  :  989  records inserted
Row  2445  :  STARHEALTH.NS  :  931  records inserted

$532940.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2447  :  JKIL.NS  :  2468  records inserted

$543277.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2449  :  LXCHEM.NS  :  1106  records inserted
Row  2450  :  520043.BO  :  2497  records inserted
Row  2451  :  MUNJALSHOW.NS  :  2468  records inserted
Row  2452  :  533316.BO  :  2497  records inserted
Row  2453  :  STEL.NS  :  2468  records inserted
Row  2454  :  500292.BO  :  2497  records inserted
Row  2455  :  HEIDELBERG.NS  :  2468  records inserted
Row  2456  :  524394.BO  :  2514  records inserted
Row  2457  :  VIMTALABS.NS  :  2468  records inserted
Row  2458  :  GLOBE.NS  :  1768  records inserted

$526725.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2460  :  SANDESH.NS  :  2468  records inserted

$502137.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2462  :  DECCANCE.NS  :  2468  records inserted

$511742.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2464  :  UGROCAP.NS  :  1013  records inserted
Row  2465  :  AGSTRA.NS  :  896  records inserted
Row  2466  :  539359.BO  :  2363  records inserted
Row  2467  :  PRITIKAUTO.NS  :  1014  records inserted
Row  2468  :  540125.BO  :  2235  records inserted
Row  2469  :  RADHIKAJWE.NS  :  781  records inserted
Row  2470  :  526371.BO  :  2510  records inserted
Row  2471  :  NMDC.NS  :  2468  records inserted

$532637.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2473  :  MANGALAM.NS  :  2468  records inserted

$532500.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2475  :  MARUTI.NS  :  2468  records inserted

$532390.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2477  :  TAJGVK.NS  :  2468  records inserted

$532543.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2479  :  GULFPETRO.NS  :  2468  records inserted
Row  2480  :  540212.BO  :  2179  records inserted
Row  2481  :  TCIEXP.NS  :  2163  records inserted
Row  2482  :  GTECJAINX.NS  :  484  records inserted
Row  2483  :  539276.BO  :  2498  records inserted
Row  2484  :  KAYA.NS  :  2468  records inserted

$513683.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2486  :  NLCINDIA.NS  :  2468  records inserted
Row  2487  :  533576.BO  :  2497  records inserted
Row  2488  :  VASWANI.NS  :  2468  records inserted
Row  2489  :  OILCOUNTUB.NS  :  2468  records inserted

$500120.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2491  :  DIAMINESQ.NS  :  482  records inserted

$532541.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2493  :  COFORGE.NS  :  2468  records inserted
Row  2494  :  502420.BO  :  2497  records inserted
Row  2495  :  ORIENTPPR.NS  :  2468  records inserted

$514142.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2497  :  TTL.NS  :  2468  records inserted
Row  2498  :  FOCUS.NS  :  2008  records inserted

$514045.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2500  :  BSL.NS  :  2468  records inserted
Row  2501  :  539871.BO  :  2333  records inserted
Row  2502  :  THYROCARE.NS  :  2313  records inserted
Row  2503  :  539006.BO  :  2497  records inserted
Row  2504  :  PTCIL.NS  :  560  records inserted

$532761.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2506  :  HOVS.NS  :  2468  records inserted

$543232.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2508  :  CAMS.NS  :  1225  records inserted
Row  2509  :  535602.BO  :  2514  records inserted
Row  2510  :  SHARDAMOTR.NS  :  2468  records inserted

$540797.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2512  :  SHALBY.NS  :  1913  records inserted
Row  2513  :  533343.BO  :  2497  records inserted
Row  2514  :  LOVABLE.NS  :  2468  records inserted

$590018.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2516  :  HISARMETAL.NS  :  2148  records inserted
Row  2517  :  535648.BO  :  2497  records inserted
Row  2518  :  JUSTDIAL.NS  :  2468  records inserted
Row  2519  :  500327.BO  :  2497  records inserted
Row  2520  :  PILITA.NS  :  2468  records inserted

$540935.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2522  :  GALAXYSURF.NS  :  1876  records inserted
Row  2523  :  539524.BO  :  2426  records inserted
Row  2524  :  LALPATHLAB.NS  :  2403  records inserted

$540795.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2526  :  DYCL.NS  :  774  records inserted
Row  2527  :  PCBL.NS  :  2468  records inserted
Row  2528  :  521248.BO  :  2510  records inserted
Row  2529  :  KITEX.NS  :  2468  records inserted
Row  2530  :  SENCO.NS  :  536  records inserted
Row  2531  :  506022.BO  :  2497  records inserted
Row  2532  :  PRAKASH.NS  :  2468  records inserted
Row  2533  :  523642.BO  :  2497  records inserted
Row  2534  :  PIIND.NS  :  2468  records inserted
Row  2535  :  500343.BO  :  2497  records inserted
Row  2536  :  AMJLAND.NS  :  2468  records inserted
Row  2537  :  PRIMO.NS  :  102  records inserted
Row  2538  :  530365.BO  :  2497  records inserted
Row  2539  :  ORIENTBELL.NS  :  2468  records inserted
Row  2540  :  533295.BO  :  2497  records inserted
Row  2541  :  PSB.NS  :  2468  records inserted
Row  2542  :  526325.BO  :  2497  records inserted
Row  2543  :  ORIENTLTD.NS  :  2467  records inserted
Row  2544  :  523836.BO  :  2465  records inserted
Row  2545  :  GUJRAFFIA.NS  :  1673  records inserted
Row  2546  :  526662.BO  :  2499  records inserted
Row  2547  :  ARENTERP.NS  :  1940  records inserted
Row  2548  :  KALYANI.NS  :  52  records inserted
Row  2549  :  500350.BO  :  2497  records inserted
Row  2550  :  RSWM.NS  :  2468  records inserted
Row  2551  :  533329.BO  :  2497  records inserted
Row  2552  :  INDTERRAIN.NS  :  2468  records inserted
Row  2553  :  535322.BO  :  2497  records inserted
Row  2554  :  REPCOHOME.NS  :  2468  records inserted

$500355.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2556  :  RALLIS.NS  :  2468  records inserted
Row  2557  :  ICDSLTD.NS  :  1038  records inserted
Row  2558  :  MCLOUD.NS  :  148  records inserted

$532369.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2560  :  RAMCOIND.NS  :  2468  records inserted
Row  2561  :  532652.BO  :  2497  records inserted
Row  2562  :  KTKBANK.NS  :  2468  records inserted

$532939.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2564  :  RPOWER.NS  :  2468  records inserted
Row  2565  :  532966.BO  :  2497  records inserted
Row  2566  :  TITAGARH.NS  :  2468  records inserted
Row  2567  :  533104.BO  :  2497  records inserted
Row  2568  :  GLOBUSSPR.NS  :  2468  records inserted
Row  2569  :  539978.BO  :  2289  records inserted
Row  2570  :  QUESS.NS  :  2268  records inserted
Row  2571  :  TRU.NS  :  651  records inserted
Row  2572  :  INOXINDIA.NS  :  428  records inserted

$541167.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2574  :  YASHO.NS  :  506  records inserted
Row  2575  :  505368.BO  :  2500  records inserted
Row  2576  :  SEMAC.NS  :  2468  records inserted

$540776.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2578  :  5PAISA.NS  :  1934  records inserted
Row  2579  :  BALAXI.NS  :  2419  records inserted
Row  2580  :  539199.BO  :  2464  records inserted
Row  2581  :  SGFIN.NS  :  27  records inserted

$500368.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2583  :  PATANJALI.NS  :  2468  records inserted

$540900.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2585  :  NEWGEN.NS  :  1884  records inserted
Row  2586  :  533292.BO  :  2497  records inserted
Row  2587  :  A2ZINFRA.NS  :  2468  records inserted

$532915.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2589  :  RELIGARE.NS  :  2468  records inserted
Row  2590  :  533326.BO  :  2497  records inserted
Row  2591  :  TEXRAIL.NS  :  2468  records inserted
Row  2592  :  INDOFARM.NS  :  172  records inserted
Row  2593  :  ACMESOLAR.NS  :  208  records inserted
Row  2594  :  507315.BO  :  2497  records inserted
Row  2595  :  SAKHTISUG.NS  :  2468  records inserted
Row  2596  :  523574.BO  :  2497  records inserted
Row  2597  :  FEL.NS  :  2468  records inserted

$541540.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2599  :  SOLARA.NS  :  1782  records inserted

$507490.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2601  :  RANASUG.NS  :  2468  records inserted
Row  2602  :  532553.BO  :  2497  records inserted
Row  2603  :  WELENT.NS  :  2468  records inserted
Row  2604  :  SILVERTUC.NS  :  1922  records inserted
Row  2605  :  502175.BO  :  2497  records inserted
Row  2606  :  SAURASHCEM.NS  :  383  records inserted

$541276.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2608  :  HARDWYN.NS  :  847  records inserted

$532801.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2610  :  CTE.NS  :  2468  records inserted
Row  2611  :  512070.BO  :  2498  records inserted
Row  2612  :  UPL.NS  :  2468  records inserted
Row  2613  :  BANSWRAS.NS  :  2468  records inserted
Row  2614  :  502450.BO  :  2497  records inserted
Row  2615  :  SESHAPAPER.NS  :  2468  records inserted

$540937.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2617  :  MEDICO.NS  :  818  records inserted
Row  2618  :  522034.BO  :  2497  records inserted
Row  2619  :  SHANTIGEAR.NS  :  2468  records inserted

$531717.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2621  :  VIDHIING.NS  :  2355  records inserted
Row  2622  :  SHRENIK.NS  :  2016  records inserted

$524051.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2624  :  POLYPLEX.NS  :  2468  records inserted
Row  2625  :  522064.BO  :  2497  records inserted
Row  2626  :  HONDAPOWER.NS  :  2468  records inserted

$532942.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2628  :  KNRCON.NS  :  2468  records inserted
Row  2629  :  MANKIND.NS  :  583  records inserted
Row  2630  :  SHYAMTEL.NS  :  2466  records inserted
Row  2631  :  538567.BO  :  2497  records inserted
Row  2632  :  GULFOILLUB.NS  :  2468  records inserted

$523371.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2634  :  MAWANASUG.NS  :  2468  records inserted

$532486.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2636  :  POKARNA.NS  :  2271  records inserted
Row  2637  :  532776.BO  :  2497  records inserted
Row  2638  :  SHIVAMAUTO.NS  :  2468  records inserted
Row  2639  :  500472.BO  :  2497  records inserted
Row  2640  :  SKFINDIA.NS  :  2468  records inserted
Row  2641  :  SHAHALLOYS.NS  :  2468  records inserted
Row  2642  :  KAVDEFENCE.NS  :  65  records inserted
Row  2643  :  500367.BO  :  2466  records inserted
Row  2644  :  RUBFILA.NS  :  271  records inserted
Row  2645  :  HINDCON.NS  :  1855  records inserted
Row  2646  :  AKI.NS  :  603  records inserted
Row  2647  :  520057.BO  :  2497  records inserted
Row  2648  :  JTEKTINDIA.NS  :  2468  records inserted
Row  2649  :  506194.BO  :  2497  records inserted
Row  2650  :  ARIHANTSUP.NS  :  2092  records inserted

$540961.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2652  :  SHIVAMILLS.NS  :  1864  records inserted

$532782.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2654  :  SUTLEJTEX.NS  :  2468  records inserted
Row  2655  :  533320.BO  :  2285  records inserted
Row  2656  :  ROLEXRINGS.NS  :  1015  records inserted
Row  2657  :  AIRAN.NS  :  2012  records inserted

$531146.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2659  :  MEDICAMEQ.NS  :  961  records inserted
Row  2660  :  GROBTEA.NS  :  2266  records inserted
Row  2661  :  CAPITALSFB.NS  :  392  records inserted
Row  2662  :  539448.BO  :  2456  records inserted
Row  2663  :  INDIGO.NS  :  2431  records inserted

$540824.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2665  :  ASTRON.NS  :  1904  records inserted
Row  2666  :  503806.BO  :  2497  records inserted
Row  2667  :  SRF.NS  :  2468  records inserted
Row  2668  :  535755.BO  :  2497  records inserted
Row  2669  :  ABFRL.NS  :  2468  records inserted
Row  2670  :  ACCURACY.NS  :  1773  records inserted
Row  2671  :  512161.BO  :  2497  records inserted
Row  2672  :  SECURKLOUD.NS  :  2468  records inserted
Row  2673  :  533543.BO  :  2497  records inserted
Row  2674  :  BROOKS.NS  :  2468  records inserted
Row  2675  :  506079.BO  :  2503  records inserted
Row  2676  :  526550.BO  :  2497  records inserted
Row  2677  :  CCHHL.NS  :  2468  records inserted
Row  2678  :  AVROIND.NS  :  1749  records inserted
Row  2679  :  512531.BO  :  2497  records inserted
Row  2680  :  STCINDIA.NS  :  2468  records inserted
Row  2681  :  526849.BO  :  2497  records inserted
Row  2682  :  BANARBEADS.NS  :  2468  records inserted

$532604.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2684  :  SALSTEEL.NS  :  2468  records inserted
Row  2685  :  WEALTH.NS  :  2096  records inserted
Row  2686  :  506655.BO  :  2497  records inserted
Row  2687  :  SUDARSCHEM.NS  :  2468  records inserted
Row  2688  :  590071.BO  :  2497  records inserted
Row  2689  :  SUNDARMFIN.NS  :  2468  records inserted

$501150.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2691  :  CENTRUM.NS  :  1841  records inserted

$532930.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2693  :  BGRENERGY.NS  :  2468  records inserted
Row  2694  :  521180.BO  :  2497  records inserted
Row  2695  :  SUPERSPIN.NS  :  2468  records inserted
Row  2696  :  SPLPETRO.NS  :  2468  records inserted
Row  2697  :  522295.BO  :  2497  records inserted
Row  2698  :  CONTROLPR.NS  :  2279  records inserted

$532777.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2700  :  NAUKRI.NS  :  2468  records inserted
Row  2701  :  503310.BO  :  2497  records inserted
Row  2702  :  SWANENERGY.NS  :  2468  records inserted
Row  2703  :  534976.BO  :  2514  records inserted
Row  2704  :  VMART.NS  :  2468  records inserted
Row  2705  :  541578.BO  :  1788  records inserted
Row  2706  :  VARROC.NS  :  1774  records inserted

$502219.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2708  :  BORORENEW.NS  :  1805  records inserted
Row  2709  :  ACL.NS  :  2468  records inserted
Row  2710  :  SAKSOFT.NS  :  2468  records inserted
Row  2711  :  TMB.NS  :  741  records inserted

$512519.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2713  :  DONEAR.NS  :  2468  records inserted

$532926.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2715  :  JYOTHYLAB.NS  :  2468  records inserted
Row  2716  :  ELDEHSG.NS  :  847  records inserted

$509069.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")
$532755.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2719  :  TECHM.NS  :  2468  records inserted

$532822.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2721  :  IDEA.NS  :  2468  records inserted
Row  2722  :  GEEKAYWIRE.NS  :  1990  records inserted

$500408.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2724  :  TATAELXSI.NS  :  2468  records inserted

$543287.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2726  :  LODHA.NS  :  1092  records inserted
Row  2727  :  540702.BO  :  1987  records inserted
Row  2728  :  LASA.NS  :  1972  records inserted
Row  2729  :  517174.BO  :  2497  records inserted
Row  2730  :  HONAUT.NS  :  2468  records inserted

$532784.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2732  :  SOBHA.NS  :  2468  records inserted

$501301.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2734  :  TATAINVEST.NS  :  2468  records inserted

$520059.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2736  :  MUNJALAU.NS  :  2468  records inserted
Row  2737  :  TBOTEK.NS  :  333  records inserted

$513010.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2739  :  540691.BO  :  2000  records inserted
Row  2740  :  ABCAPITAL.NS  :  1986  records inserted
Row  2741  :  534758.BO  :  2497  records inserted
Row  2742  :  CIGNITITEC.NS  :  2468  records inserted
Row  2743  :  BBOX.NS  :  2468  records inserted
Row  2744  :  MASTERTR.NS  :  208  records inserted

$532760.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")
$542867.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2747  :  CSBBANK.NS  :  1433  records inserted
Row  2748  :  AVL.NS  :  212  records inserted

$532180.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2750  :  DHANBANK.NS  :  2468  records inserted
Row  2751  :  AVG.NS  :  1825  records inserted

$532150.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2753  :  INDRAMEDCO.NS  :  2468  records inserted
Row  2754  :  512597.BO  :  2497  records inserted
Row  2755  :  KEYFINSERV.NS  :  2467  records inserted
Row  2756  :  JLHL.NS  :  491  records inserted
Row  2757  :  532218.BO  :  2497  records inserted
Row  2758  :  SOUTHBANK.NS  :  2468  records inserted
Row  2759  :  590078.BO  :  2497  records inserted
Row  2760  :  MAITHANALL.NS  :  2468  records inserted

$532809.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2762  :  FSL.NS  :  2468  records inserted
Row  2763  :  500420.BO  :  2497  records inserted
Row  2764  :  TORNTPHARM.NS  :  2468  records inserted

$509496.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2766  :  ITDCEM.NS  :  2468  records inserted
Row  2767  :  532478.BO  :  2497  records inserted
Row  2768  :  UBL.NS  :  2468  records inserted
Row  2769  :  541557.BO  :  1791  records inserted
Row  2770  :  FINEORG.NS  :  1779  records inserted

$532349.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2772  :  TCI.NS  :  2468  records inserted

$505509.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2774  :  RESPONIND.NS  :  2468  records inserted

$505720.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2776  :  HERCULES.NS  :  2468  records inserted
Row  2777  :  EXCEL.NS  :  2468  records inserted
Row  2778  :  DANGEE.NS  :  1725  records inserted

$542907.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2780  :  PRINCEPIPE.NS  :  1416  records inserted
Row  2781  :  TTKPRESTIG.NS  :  2468  records inserted
Row  2782  :  532505.BO  :  2497  records inserted
Row  2783  :  UCOBANK.NS  :  2468  records inserted
Row  2784  :  532614.BO  :  2498  records inserted
Row  2785  :  IMPEXFERRO.NS  :  2468  records inserted
Row  2786  :  GANGAFORGE.NS  :  1761  records inserted

$532477.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2788  :  UNIONBANK.NS  :  2468  records inserted
Row  2789  :  515037.BO  :  2497  records inserted
Row  2790  :  MURUDCERA.NS  :  2468  records inserted
Row  2791  :  532616.BO  :  2497  records inserted
Row  2792  :  XCHANGING.NS  :  2468  records inserted
Row  2793  :  541402.BO  :  1794  records inserted
Row  2794  :  AFFORDABLE.NS  :  220  records inserted

$507878.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2796  :  UNITECH.NS  :  2468  records inserted
Row  2797  :  519156.BO  :  2497  records inserted
Row  2798  :  VADILALIND.NS  :  2468  records inserted

$507779.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2800  :  KANPRPLA.NS  :  1162  records inserted

$543266.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2802  :  HERANBA.NS  :  1119  records inserted

$531624.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2804  :  COUNCODOS.NS  :  2468  records inserted
Row  2805  :  JUNIPER.NS  :  382  records inserted
Row  2806  :  533239.BO  :  2497  records inserted
Row  2807  :  PRAKASHSTL.NS  :  2467  records inserted
Row  2808  :  JAIPURKURT.NS  :  1368  records inserted
Row  2809  :  PANSARI.NS  :  2095  records inserted
Row  2810  :  511630.BO  :  2497  records inserted
Row  2811  :  SAMBHAAV.NS  :  2468  records inserted
Row  2812  :  AWL.NS  :  890  records inserted
Row  2813  :  530019.BO  :  2497  records inserted
Row  2814  :  JUBLPHARMA.NS  :  2468  records inserted
Row  2815  :  500439.BO  :  2497  records inserted
Row  2816  :  VHL.NS  :  2468  records inserted
Row  2817  :  533758.BO  :  2497  records inserted
Row  2818  :  APLAPOLLO.NS  :  2468  records inserted
Row  2819  :  520111.BO  :  2497  records inserted
Row  2820  :  RATNAMANI.NS  :  2468  records inserted
Row  2821  :  532799.BO  :  2497  records inserted
Row  2822  :  HUBTOWN.NS  :  2468  records inserted
Row  2823  :  520073.BO  :  2466  records inserted
Row  2824  :  RACLGEAR.NS  :  199  records inserted
Row  2825  :  532807.BO  :  2497  records inserted
Row  2826  :  CINELINE.NS  :  2468  records inserted
Row  2827  :  540678.BO  :  2015  records inserted
Row  2828  :  COCHINSHIP.NS  :  1999  records inserted
Row  2829  :  511108.BO  :  2497  records inserted
Row  2830  :  SHIVATEX.NS  :  2468  records inserted
Row  2831  :  GOYALALUM.NS  :  707  records inserted
Row  2832  :  519307.BO  :  2466  records inserted
Row  2833  :  517015.BO  :  2497  records inserted
Row  2834  :  VINDHYATEL.NS  :  2468  records inserted

$511505.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2836  :  CAPTRUST.NS  :  2140  records inserted
Row  2837  :  511333.BO  :  2497  records inserted
Row  2838  :  VLSFINANCE.NS  :  2468  records inserted
Row  2839  :  509966.BO  :  2507  records inserted
Row  2840  :  VSTIND.NS  :  2468  records inserted
Row  2841  :  507410.BO  :  2497  records inserted
Row  2842  :  WALCHANNAG.NS  :  2468  records inserted
Row  2843  :  523283.BO  :  2497  records inserted
Row  2844  :  SUPERHOUSE.NS  :  2468  records inserted
Row  2845  :  539334.BO  :  2497  records inserted
Row  2846  :  SHREEPUSHK.NS  :  2468  records inserted
Row  2847  :  521200.BO  :  2497  records inserted
Row  2848  :  SURYALAXMI.NS  :  2468  records inserted
Row  2849  :  531638.BO  :  2465  records inserted
Row  2850  :  SURAJLTD.NS  :  261  records inserted

$540879.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2852  :  APOLLO.NS  :  1888  records inserted

$590073.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2854  :  WHEELS.NS  :  2468  records inserted
Row  2855  :  ANDHRSUGAR.NS  :  2468  records inserted
Row  2856  :  SHRADHA.NS  :  1915  records inserted

$500238.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2858  :  WHIRLPOOL.NS  :  2468  records inserted
Row  2859  :  532375.BO  :  2497  records inserted
Row  2860  :  TIPSMUSIC.NS  :  2468  records inserted

$505890.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2862  :  GANDHAR.NS  :  443  records inserted

$530067.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2864  :  CSLFINANCE.NS  :  778  records inserted

$532797.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2866  :  AUTOIND.NS  :  2468  records inserted
Row  2867  :  JSWCEMENT.NS  :  21  records inserted
Row  2868  :  KOTHARIPET.NS  :  2468  records inserted
Row  2869  :  511218.BO  :  2510  records inserted
Row  2870  :  SHRIRAMFIN.NS  :  2468  records inserted
Row  2871  :  AARON.NS  :  1725  records inserted
Row  2872  :  RGL.NS  :  2468  records inserted
Row  2873  :  533294.BO  :  2498  records inserted
Row  2874  :  RKDL.NS  :  2468  records inserted
Row  2875  :  513023.BO  :  2510  records inserted
Row  2876  :  NAVA.NS  :  2468  records inserted
Row  2877  :  590086.BO  :  2497  records inserted
Row  2878  :  ORISSAMINE.NS  :  2468  records inserted

$532835.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2880  :  ICRA.NS  :  2468  records inserted
Row  2881  :  533451.BO  :  2499  records inserted
Row  2882  :  KARMAENG.NS  :  2468  records inserted
Row  2883  :  540133.BO  :  2232  records inserted
Row  2884  :  ICICIPRULI.NS  :  2214  records inserted
Row  2885  :  533452.BO  :  2498  records inserted
Row  2886  :  DELPHIFX.NS  :  2468  records inserted
Row  2887  :  540293.BO  :  2497  records inserted
Row  2888  :  PRICOLLTD.NS  :  2468  records inserted

$506109.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2890  :  GENESYS.NS  :  2468  records inserted
Row  2891  :  540700.BO  :  1990  records inserted
Row  2892  :  BRNL.NS  :  1975  records inserted
Row  2893  :  SOFTTECH.NS  :  1803  records inserted
Row  2894  :  524500.BO  :  2497  records inserted
Row  2895  :  KILITCH.NS  :  2468  records inserted

$513121.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2897  :  ORICONENT.NS  :  2468  records inserted

$532212.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2899  :  ARCHIES.NS  :  2468  records inserted
Row  2900  :  KHAITANLTD.NS  :  2467  records inserted

$532762.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2902  :  ACE.NS  :  2468  records inserted
Row  2903  :  DIGJAMLMTD.NS  :  1999  records inserted
Row  2904  :  500241.BO  :  2497  records inserted
Row  2905  :  KIRLOSBROS.NS  :  2468  records inserted

$502168.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2907  :  NCLIND.NS  :  2468  records inserted
Row  2908  :  532479.BO  :  2230  records inserted

$543235.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2910  :  ANGELONE.NS  :  1225  records inserted
Row  2911  :  SAKAR.NS  :  2099  records inserted
Row  2912  :  516022.BO  :  2499  records inserted
Row  2913  :  STARPAPER.NS  :  2468  records inserted

$532555.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2915  :  NTPC.NS  :  2468  records inserted
Row  2916  :  538635.BO  :  2497  records inserted
Row  2917  :  SNOWMAN.NS  :  2468  records inserted
Row  2918  :  534598.BO  :  2497  records inserted
Row  2919  :  SAMPANN.NS  :  2468  records inserted
Row  2920  :  UTKARSHBNK.NS  :  531  records inserted
Row  2921  :  CDSL.NS  :  2029  records inserted

$532172.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2923  :  ADROITINFO.NS  :  2450  records inserted

$506261.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2925  :  MODISONLTD.NS  :  1083  records inserted

$532768.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2927  :  FIEMIND.NS  :  2468  records inserted
Row  2928  :  AKASH.NS  :  2101  records inserted

$532927.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2930  :  ECLERX.NS  :  2468  records inserted
Row  2931  :  ARTNIRMAN.NS  :  2100  records inserted
Row  2932  :  532443.BO  :  2497  records inserted
Row  2933  :  CERA.NS  :  2468  records inserted

$516082.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2935  :  NRAIL.NS  :  2088  records inserted
Row  2936  :  AGROPHOS.NS  :  2102  records inserted
Row  2937  :  LAL.NS  :  602  records inserted

$541770.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2939  :  CREDITACC.NS  :  1743  records inserted
Row  2940  :  534674.BO  :  2497  records inserted
Row  2941  :  DUCON.NS  :  2468  records inserted

$509079.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2943  :  GUFICBIO.NS  :  2468  records inserted
Row  2944  :  511034.BO  :  2497  records inserted
Row  2945  :  JINDRILL.NS  :  2468  records inserted
Row  2946  :  532921.BO  :  2497  records inserted
Row  2947  :  ADANIPORTS.NS  :  2468  records inserted
Row  2948  :  513446.BO  :  1989  records inserted
Row  2949  :  534076.BO  :  2497  records inserted
Row  2950  :  RHIM.NS  :  2468  records inserted

$507794.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2952  :  KHAICHEM.NS  :  1206  records inserted
Row  2953  :  534091.BO  :  2497  records inserted
Row  2954  :  MCX.NS  :  2468  records inserted
Row  2955  :  532416.BO  :  2499  records inserted
Row  2956  :  NEXTMEDIA.NS  :  2468  records inserted
Row  2957  :  533203.BO  :  2497  records inserted
Row  2958  :  TARAPUR.NS  :  2466  records inserted
Row  2959  :  532629.BO  :  2515  records inserted
Row  2960  :  3IINFOLTD.NS  :  2468  records inserted
Row  2961  :  539742.BO  :  2497  records inserted
Row  2962  :  SIMBHALS.NS  :  2468  records inserted
Row  2963  :  SUMIT.NS  :  1720  records inserted
Row  2964  :  532286.BO  :  2497  records inserted
Row  2965  :  JINDALSTEL.NS  :  2468  records inserted
Row  2966  :  539287.BO  :  2499  records inserted
Row  2967  :  ORTINGLOBE.NS  :  260  records inserted

$500314.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2969  :  ORIENTHOT.NS  :  2468  records inserted

$524404.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2971  :  MARKSANS.NS  :  2468  records inserted

$503162.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2973  :  RELCHEMQ.NS  :  819  records inserted
Row  2974  :  534328.BO  :  2497  records inserted
Row  2975  :  HEXATRADEX.NS  :  2468  records inserted

$500333.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2977  :  PIXTRANS.NS  :  837  records inserted

$532898.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2979  :  POWERGRID.NS  :  2468  records inserted
Row  2980  :  532650.BO  :  2497  records inserted
Row  2981  :  MSPL.NS  :  2468  records inserted
Row  2982  :  534804.BO  :  2497  records inserted
Row  2983  :  CARERATING.NS  :  2468  records inserted
Row  2984  :  540064.BO  :  2269  records inserted
Row  2985  :  FRETAIL.NS  :  2235  records inserted
Row  2986  :  533161.BO  :  2497  records inserted
Row  2987  :  EMMBI.NS  :  2468  records inserted
Row  2988  :  DIVGIITTS.NS  :  618  records inserted
Row  2989  :  SANGINITA.NS  :  2101  records inserted
Row  2990  :  532348.BO  :  2497  records inserted
Row  2991  :  SUBEXLTD.NS  :  2468  records inserted
Row  2992  :  AARVI.NS  :  1961  records inserted
Row  2993  :  538598.BO  :  2497  records inserted
Row  2994  :  NDGL.NS  :  2233  records inserted
Row  2995  :  HDBFS.NS  :  52  records inserted

$508814.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  2997  :  COSMOFIRST.NS  :  2468  records inserted
Row  2998  :  520151.BO  :  2497  records inserted
Row  2999  :  TRANSWORLD.NS  :  227  records inserted

$532811.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3001  :  AHLUCONT.NS  :  2468  records inserted
Row  3002  :  JIOFIN.NS  :  506  records inserted
Row  3003  :  ETERNAL.NS  :  109  records inserted
Row  3004  :  523704.BO  :  2497  records inserted
Row  3005  :  MASTEK.NS  :  2468  records inserted
Row  3006  :  540210.BO  :  2180  records inserted
Row  3007  :  HEADSUP.NS  :  2164  records inserted
Row  3008  :  523207.BO  :  2497  records inserted
Row  3009  :  KOKUYOCMLN.NS  :  2468  records inserted
Row  3010  :  INDOAMIN.NS  :  836  records inserted
Row  3011  :  534369.BO  :  2497  records inserted
Row  3012  :  TBZ.NS  :  2468  records inserted
Row  3013  :  RPPL.NS  :  1712  records inserted

$540923.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3015  :  ASHOKAMET.NS  :  548  records inserted

$532827.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3017  :  PAGEIND.NS  :  2468  records inserted
Row  3018  :  ZODIAC.NS  :  1490  records inserted

$541179.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")
$532928.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3021  :  TARIL.NS  :  2467  records inserted
Row  3022  :  531266.BO  :  2497  records inserted
Row  3023  :  VSTTILLERS.NS  :  2468  records inserted
Row  3024  :  539346.BO  :  2495  records inserted
Row  3025  :  SADBHIN.NS  :  2466  records inserted
Row  3026  :  540716.BO  :  1983  records inserted
Row  3027  :  ICICIGI.NS  :  1968  records inserted
Row  3028  :  540768.BO  :  1951  records inserted
Row  3029  :  MAHLOG.NS  :  1938  records inserted
Row  3030  :  524348.BO  :  2497  records inserted
Row  3031  :  AARTIDRUGS.NS  :  2468  records inserted
Row  3032  :  531518.BO  :  2466  records inserted
Row  3033  :  531335.BO  :  2498  records inserted
Row  3034  :  ZYDUSWELL.NS  :  2468  records inserted
Row  3035  :  524208.BO  :  2497  records inserted
Row  3036  :  AARTIIND.NS  :  2468  records inserted
Row  3037  :  526642.BO  :  2497  records inserted
Row  3038  :  MIRZAINT.NS  :  2468  records inserted
Row  3039  :  FISCHER.NS  :  46  records inserted
Row  3040  :  PVSL.NS  :  369  records inserted
Row  3041  :  533029.BO  :  2497  records inserted
Row  3042  :  ALKALI.NS  :  2468  records inserted
Row  3043  :  532720.BO  :  2497  records inserted
Row  3044  :  M&MFIN.NS  :  2468  records inserted

$517334.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3046  :  MOTHERSON.NS  :  2468  records inserted

$532754.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")
$GMRINFRA.NS: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3049  :  539126.BO  :  2500  records inserted
Row  3050  :  MEP.NS  :  2468  records inserted
Row  3051  :  EXICOM.NS  :  378  records inserted
Row  3052  :  RRKABEL.NS  :  486  records inserted
Row  3053  :  526576.BO  :  2504  records inserted
Row  3054  :  500136.BO  :  2497  records inserted
Row  3055  :  ESTER.NS  :  2468  records inserted
Row  3056  :  533218.BO  :  2498  records inserted
Row  3057  :  EMAMIREAL.NS  :  2468  records inserted

$541700.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3059  :  523405.BO  :  2497  records inserted
Row  3060  :  JMFINANCIL.NS  :  2468  records inserted

$532326.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3062  :  INTENTECH.NS  :  2096  records inserted
Row  3063  :  532481.BO  :  2497  records inserted
Row  3064  :  NOIDATOLL.NS  :  2468  records inserted
Row  3065  :  VENTIVE.NS  :  178  records inserted
Row  3066  :  523398.BO  :  2497  records inserted
Row  3067  :  JCHAC.NS  :  2468  records inserted

$524669.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3069  :  HESTERBIO.NS  :  2468  records inserted
Row  3070  :  SERVOTECH.NS  :  1386  records inserted

$541269.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3072  :  CHEMFAB.NS  :  1826  records inserted
Row  3073  :  WINSOME.NS  :  2466  records inserted
Row  3074  :  ARFIN.NS  :  37  records inserted
Row  3075  :  MANOMAY.NS  :  655  records inserted
Row  3076  :  524330.BO  :  2497  records inserted
Row  3077  :  JAYAGROGN.NS  :  2468  records inserted
Row  3078  :  534809.BO  :  2510  records inserted
Row  3079  :  PCJEWELLER.NS  :  2468  records inserted

$500380.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3081  :  JKLAKSHMI.NS  :  2468  records inserted
Row  3082  :  532729.BO  :  2497  records inserted
Row  3083  :  UTTAMSUGAR.NS  :  2468  records inserted
Row  3084  :  RKEC.NS  :  1960  records inserted
Row  3085  :  502355.BO  :  2497  records inserted
Row  3086  :  BALKRISIND.NS  :  2468  records inserted

$532847.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3088  :  HILTON.NS  :  2468  records inserted
Row  3089  :  539148.BO  :  2497  records inserted
Row  3090  :  SHIVALIK.NS  :  932  records inserted
Row  3091  :  532162.BO  :  2497  records inserted
Row  3092  :  JKPAPER.NS  :  2468  records inserted
Row  3093  :  533192.BO  :  2497  records inserted
Row  3094  :  KCPSUGIND.NS  :  2468  records inserted
Row  3095  :  530549.BO  :  2498  records inserted
Row  3096  :  SHILPAMED.NS  :  2468  records inserted
Row  3097  :  532290.BO  :  2497  records inserted
Row  3098  :  BLBLIMITED.NS  :  2468  records inserted

$532929.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3100  :  BRIGADE.NS  :  2468  records inserted
Row  3101  :  532335.BO  :  2497  records inserted
Row  3102  :  AMBICAAGAR.NS  :  2466  records inserted
Row  3103  :  532773.BO  :  2497  records inserted
Row  3104  :  GLOBALVECT.NS  :  2468  records inserted
Row  3105  :  532941.BO  :  2497  records inserted
Row  3106  :  CORDSCABLE.NS  :  2468  records inserted
Row  3107  :  SIRCA.NS  :  1792  records inserted
Row  3108  :  532268.BO  :  2497  records inserted
Row  3109  :  ACCELYA.NS  :  2468  records inserted
Row  3110  :  524558.BO  :  2497  records inserted
Row  3111  :  NEULANDLAB.NS  :  2468  records inserted

$532382.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3113  :  BALAJITELE.NS  :  2468  records inserted
Row  3114  :  MODTHREAD.NS  :  390  records inserted
Row  3115  :  540777.BO  :  1946  records inserted
Row  3116  :  HDFCLIFE.NS  :  1933  records inserted
Row  3117  :  532624.BO  :  2498  records inserted
Row  3118  :  JINDALPHOT.NS  :  2468  records inserted
Row  3119  :  JUBLFOOD.NS  :  2468  records inserted
Row  3120  :  532845.BO  :  2497  records inserted
Row  3121  :  TGBHOTELS.NS  :  2468  records inserted
Row  3122  :  533210.BO  :  2497  records inserted
Row  3123  :  KRITINUT.NS  :  726  records inserted
Row  3124  :  500060.BO  :  2497  records inserted
Row  3125  :  BIRLACABLE.NS  :  2468  records inserted

$532880.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3127  :  OMAXE.NS  :  2468  records inserted
Row  3128  :  AIROLAM.NS  :  1961  records inserted
Row  3129  :  LAXMICOT.NS  :  2010  records inserted

$531241.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3131  :  LINC.NS  :  2468  records inserted
Row  3132  :  SSWL.NS  :  2468  records inserted

$532617.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3134  :  BOHRAIND.NS  :  2012  records inserted
Row  3135  :  INDOBORAX.NS  :  857  records inserted

$532785.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3137  :  RUCHIRA.NS  :  2468  records inserted

$532812.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3139  :  TFL.NS  :  2467  records inserted
Row  3140  :  MEDPLUS.NS  :  922  records inserted

$531439.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3142  :  GOLDTECH.NS  :  2468  records inserted

$590066.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3144  :  KCP.NS  :  2468  records inserted

$512179.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3146  :  SUNTECK.NS  :  2468  records inserted
Row  3147  :  530961.BO  :  2497  records inserted
Row  3148  :  VIKASECO.NS  :  2468  records inserted

$505196.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3150  :  TIL.NS  :  2468  records inserted
Row  3151  :  SAPPHIRE.NS  :  946  records inserted
Row  3152  :  512529.BO  :  2497  records inserted
Row  3153  :  SEQUENT.NS  :  2350  records inserted
Row  3154  :  540497.BO  :  2081  records inserted
Row  3155  :  SCHAND.NS  :  2066  records inserted

$524037.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3157  :  RAMAPHO.NS  :  767  records inserted

$532944.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3159  :  ONMOBILE.NS  :  2468  records inserted
Row  3160  :  SHYAMMETL.NS  :  1046  records inserted

$505283.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3162  :  KIRLPNU.NS  :  591  records inserted
Row  3163  :  533274.BO  :  2497  records inserted
Row  3164  :  PRESTIGE.NS  :  2468  records inserted

$532815.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3166  :  SMSPHARMA.NS  :  2468  records inserted
Row  3167  :  532313.BO  :  2497  records inserted
Row  3168  :  MAHLIFE.NS  :  2468  records inserted
Row  3169  :  532779.BO  :  2497  records inserted
Row  3170  :  TORNTPOWER.NS  :  2468  records inserted
Row  3171  :  MCL.NS  :  2102  records inserted
Row  3172  :  533096.BO  :  2497  records inserted
Row  3173  :  ADANIPOWER.NS  :  2468  records inserted

$526227.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3175  :  FILATEX.NS  :  2468  records inserted

$532307.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")
$532931.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3178  :  530075.BO  :  2497  records inserted
Row  3179  :  SELAN.NS  :  2468  records inserted

$500456.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3181  :  PASUPTAC.NS  :  971  records inserted

$532783.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3183  :  LTFOODS.NS  :  459  records inserted
Row  3184  :  ESAFSFB.NS  :  455  records inserted
Row  3185  :  ELGIRUBCO.NS  :  2468  records inserted
Row  3186  :  CPPLUS.NS  :  28  records inserted
Row  3187  :  AJOONI.NS  :  1898  records inserted

$532947.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3189  :  IRB.NS  :  2468  records inserted

$523301.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3191  :  TCPLPACK.NS  :  1955  records inserted
Row  3192  :  530677.BO  :  2465  records inserted
Row  3193  :  SUPREME.NS  :  152  records inserted
Row  3194  :  526608.BO  :  2497  records inserted
Row  3195  :  ELECTHERM.NS  :  2468  records inserted

$530299.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3197  :  KOTHARIPRO.NS  :  2468  records inserted
Row  3198  :  532644.BO  :  2497  records inserted
Row  3199  :  JKCEMENT.NS  :  2468  records inserted

$532642.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3201  :  JSWHL.NS  :  2468  records inserted
Row  3202  :  539044.BO  :  2497  records inserted
Row  3203  :  MANAKSTEEL.NS  :  2468  records inserted
Row  3204  :  VTL.NS  :  2468  records inserted
Row  3205  :  MANYAVAR.NS  :  884  records inserted
Row  3206  :  522217.BO  :  2499  records inserted
Row  3207  :  GUJAPOLLO.NS  :  2468  records inserted

$526666.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3209  :  BIL.NS  :  2468  records inserted
Row  3210  :  MITCON.NS  :  2100  records inserted
Row  3211  :  524396.BO  :  2497  records inserted
Row  3212  :  BIOFILCHEM.NS  :  2010  records inserted
Row  3213  :  533208.BO  :  2466  records inserted
Row  3214  :  EMAMIPAP.NS  :  1533  records inserted
Row  3215  :  539046.BO  :  2497  records inserted
Row  3216  :  MANAKCOAT.NS  :  2467  records inserted
Row  3217  :  500279.BO  :  2497  records inserted
Row  3218  :  MIRCELECTR.NS  :  2468  records inserted
Row  3219  :  539043.BO  :  2515  records inserted
Row  3220  :  500890.BO  :  2498  records inserted
Row  3221  :  MODIRUBBER.NS  :  1786  records inserted

$540775.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3223  :  KHADIM.NS  :  1936  records inserted
Row  3224  :  534597.BO  :  2497  records inserted
Row  3225  :  RTNINDIA.NS  :  2468  records inserted
Row  3226  :  514175.BO  :  2503  records inserted
Row  3227  :  VARDMNPOLY.NS  :  2468  records inserted

$526263.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3229  :  MOLDTECH.NS  :  2271  records inserted
Row  3230  :  504036.BO  :  2497  records inserted
Row  3231  :  HIRECT.NS  :  2468  records inserted

$532633.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3233  :  ALLDIGI.NS  :  244  records inserted
Row  3234  :  532400.BO  :  2497  records inserted
Row  3235  :  BSOFT.NS  :  2468  records inserted
Row  3236  :  539404.BO  :  2471  records inserted
Row  3237  :  SATIN.NS  :  2468  records inserted

$532839.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3239  :  DISHTV.NS  :  2468  records inserted
Row  3240  :  540025.BO  :  2275  records inserted
Row  3241  :  ADVENZYMES.NS  :  2254  records inserted
Row  3242  :  590021.BO  :  2497  records inserted
Row  3243  :  BHARATRAS.NS  :  2468  records inserted
Row  3244  :  532460.BO  :  2497  records inserted
Row  3245  :  PONNIERODE.NS  :  2467  records inserted
Row  3246  :  JOCIL.NS  :  2468  records inserted
Row  3247  :  534139.BO  :  2497  records inserted
Row  3248  :  SCHNEIDER.NS  :  2468  records inserted
Row  3249  :  534742.BO  :  2497  records inserted
Row  3250  :  ZUARI.NS  :  2468  records inserted
Row  3251  :  ONEPOINT.NS  :  1907  records inserted
Row  3252  :  511473.BO  :  2497  records inserted
Row  3253  :  INDBANK.NS  :  2468  records inserted
Row  3254  :  DEEDEV.NS  :  305  records inserted
Row  3255  :  538962.BO  :  2497  records inserted
Row  3256  :  MINDACORP.NS  :  2468  records inserted
Row  3257  :  523384.BO  :  2497  records inserted
Row  3258  :  MAHAPEXLTD.NS  :  1840  records inserted
Row  3259  :  DCMSRIND.NS  :  921  records inserted
Row  3260  :  SURAJEST.NS  :  426  records inserted
Row  3261  :  523260.BO  :  2497  records inserted
Row  3262  :  PEARLPOLY.NS  :  2468  records inserted
Row  3263  :  533270.BO  :  2499  records inserted
Row  3264  :  BEDMUTHA.NS  :  2468  records inserted
Row  3265  :  539336.BO  :  2495  records inserted
Row  3266  :  GUJGASLTD.NS  :  2467  records inserted
Row  3267  :  514167.BO  :  2497  records inserted
Row  3268  :  GANECOS.NS  :  2468  records inserted

$500284.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3270  :  LORDSCHLO.NS  :  501  records inserted
Row  3271  :  533168.BO  :  2497  records inserted
Row  3272  :  ROSSELLIND.NS  :  2468  records inserted
Row  3273  :  532341.BO  :  2497  records inserted
Row  3274  :  IZMO.NS  :  2468  records inserted
Row  3275  :  533098.BO  :  2497  records inserted
Row  3276  :  NHPC.NS  :  2468  records inserted

$500251.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3278  :  TRENT.NS  :  2468  records inserted
Row  3279  :  509874.BO  :  2497  records inserted
Row  3280  :  SHALPAINTS.NS  :  2468  records inserted
Row  3281  :  539015.BO  :  2510  records inserted
Row  3282  :  ORTEL.NS  :  2467  records inserted
Row  3283  :  540743.BO  :  1970  records inserted
Row  3284  :  GODREJAGRO.NS  :  1956  records inserted
Row  3285  :  LFIC.NS  :  2468  records inserted
Row  3286  :  NORTHARC.NS  :  243  records inserted
Row  3287  :  UDS.NS  :  481  records inserted
Row  3288  :  APTUS.NS  :  1005  records inserted
Row  3289  :  522285.BO  :  2497  records inserted
Row  3290  :  JAYNECOIND.NS  :  2468  records inserted

$532432.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3292  :  UNITDSPR.NS  :  319  records inserted
Row  3293  :  539407.BO  :  2392  records inserted
Row  3294  :  GENCON.NS  :  1132  records inserted

$500339.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3296  :  RAIN.NS  :  2468  records inserted
Row  3297  :  517498.BO  :  2497  records inserted
Row  3298  :  WEBELSOLAR.NS  :  2468  records inserted
Row  3299  :  ASMS.NS  :  2468  records inserted
Row  3300  :  RADIANTCMS.NS  :  665  records inserted
Row  3301  :  533033.BO  :  2497  records inserted
Row  3302  :  ISGEC.NS  :  1081  records inserted

$532722.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3304  :  NITCO.NS  :  2468  records inserted

$532366.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3306  :  PNBGILTS.NS  :  2468  records inserted
Row  3307  :  539045.BO  :  2497  records inserted
Row  3308  :  MANAKALUCO.NS  :  2468  records inserted

$532281.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3310  :  HCLTECH.NS  :  2468  records inserted
Row  3311  :  540081.BO  :  2245  records inserted
Row  3312  :  SABEVENTS.NS  :  2223  records inserted
Row  3313  :  501343.BO  :  2498  records inserted
Row  3314  :  MOTOGENFIN.NS  :  2468  records inserted
Row  3315  :  BANKA.NS  :  1863  records inserted

$526247.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3317  :  PREMEXPLN.NS  :  2284  records inserted

$532946.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3319  :  BANG.NS  :  2468  records inserted

$540311.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3321  :  JITFINFRA.NS  :  2113  records inserted

$500231.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")
$543270.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3324  :  MTARTECH.NS  :  1114  records inserted
Row  3325  :  540735.BO  :  1972  records inserted
Row  3326  :  IRIS.NS  :  954  records inserted
Row  3327  :  DPWIRES.NS  :  1961  records inserted
Row  3328  :  532974.BO  :  2497  records inserted
Row  3329  :  BIRLAMONEY.NS  :  2468  records inserted
Row  3330  :  539785.BO  :  2361  records inserted
Row  3331  :  PDMJEPAPER.NS  :  2338  records inserted
Row  3332  :  540704.BO  :  1987  records inserted
Row  3333  :  MATRIMONY.NS  :  1972  records inserted
Row  3334  :  505324.BO  :  2497  records inserted
Row  3335  :  MANUGRAPH.NS  :  2468  records inserted
Row  3336  :  500294.BO  :  2497  records inserted
Row  3337  :  NCC.NS  :  2468  records inserted
Row  3338  :  540602.BO  :  2042  records inserted
Row  3339  :  GTPL.NS  :  2027  records inserted
Row  3340  :  TEMBO.NS  :  1738  records inserted

$523630.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3342  :  NFL.NS  :  2468  records inserted

$532798.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3344  :  NETWORK18.NS  :  2468  records inserted
Row  3345  :  512573.BO  :  2497  records inserted
Row  3346  :  AVANTIFEED.NS  :  2468  records inserted
Row  3347  :  532951.BO  :  2497  records inserted
Row  3348  :  GSS.NS  :  2468  records inserted
Row  3349  :  533217.BO  :  2497  records inserted
Row  3350  :  HMVL.NS  :  2468  records inserted
Row  3351  :  TVVISION.NS  :  2223  records inserted

$523756.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")
$532796.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3354  :  LUMAXTECH.NS  :  2468  records inserted
Row  3355  :  DEVYANI.NS  :  1010  records inserted

$532612.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3357  :  INDOCO.NS  :  2468  records inserted
Row  3358  :  590070.BO  :  2501  records inserted
Row  3359  :  RADAAN.NS  :  2468  records inserted
Row  3360  :  533262.BO  :  2497  records inserted
Row  3361  :  RAMKY.NS  :  2468  records inserted
Row  3362  :  532641.BO  :  2507  records inserted
Row  3363  :  NDL.NS  :  2468  records inserted
Row  3364  :  539251.BO  :  2498  records inserted
Row  3365  :  BALKRISHNA.NS  :  2468  records inserted
Row  3366  :  535754.BO  :  2497  records inserted
Row  3367  :  ORIENTCEM.NS  :  2468  records inserted

$532524.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3369  :  PTC.NS  :  2468  records inserted

$532994.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3371  :  ARCHIDPLY.NS  :  2468  records inserted
Row  3372  :  SURAKSHA.NS  :  193  records inserted
Row  3373  :  532309.BO  :  2497  records inserted
Row  3374  :  GEPIL.NS  :  2468  records inserted
Row  3375  :  517569.BO  :  2497  records inserted
Row  3376  :  KEI.NS  :  2468  records inserted

$505075.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3378  :  SETCO.NS  :  2274  records inserted
Row  3379  :  INVENTURE.NS  :  2468  records inserted
Row  3380  :  532989.BO  :  2501  records inserted
Row  3381  :  BAFNAPH.NS  :  2467  records inserted
Row  3382  :  533303.BO  :  2497  records inserted
Row  3383  :  BFINVEST.NS  :  2468  records inserted

$532310.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3385  :  SHREERAMA.NS  :  2468  records inserted

$506184.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3387  :  KANANIIND.NS  :  2467  records inserted
Row  3388  :  533160.BO  :  2497  records inserted
Row  3389  :  DBREALTY.NS  :  2468  records inserted
Row  3390  :  JSWINFRA.NS  :  477  records inserted
Row  3391  :  540680.BO  :  2008  records inserted
Row  3392  :  KIOCL.NS  :  2174  records inserted
Row  3393  :  532466.BO  :  2497  records inserted
Row  3394  :  OFSS.NS  :  2468  records inserted
Row  3395  :  521018.BO  :  2498  records inserted
Row  3396  :  MARALOVER.NS  :  2468  records inserted

$500290.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3398  :  MRF.NS  :  2468  records inserted
Row  3399  :  AADHARHFC.NS  :  333  records inserted
Row  3400  :  539889.BO  :  2325  records inserted
Row  3401  :  PARAGMILK.NS  :  2305  records inserted
Row  3402  :  532156.BO  :  2497  records inserted
Row  3403  :  VAIBHAVGBL.NS  :  2468  records inserted

$500245.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3405  :  500008.BO  :  2497  records inserted
Row  3406  :  ARE&M.NS  :  466  records inserted

$523792.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3408  :  MAZDA.NS  :  2193  records inserted
Row  3409  :  MASKINVEST.NS  :  2204  records inserted
Row  3410  :  539221.BO  :  2192  records inserted
Row  3411  :  SPORTKING.NS  :  756  records inserted

$501295.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3413  :  IITL.NS  :  2467  records inserted
Row  3414  :  EFCIL.NS  :  18  records inserted
Row  3415  :  532800.BO  :  2276  records inserted

$524774.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3417  :  NGLFINE.NS  :  787  records inserted
Row  3418  :  532630.BO  :  2497  records inserted
Row  3419  :  GOKEX.NS  :  2468  records inserted
Row  3420  :  523628.BO  :  2502  records inserted

$506642.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3422  :  SADHNANIQ.NS  :  585  records inserted
Row  3423  :  531879.BO  :  1841  records inserted
Row  3424  :  522263.BO  :  1844  records inserted

$519260.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3426  :  SANWARIA.NS  :  2468  records inserted
Row  3427  :  511611.BO  :  2497  records inserted
Row  3428  :  DCMFINSERV.NS  :  2467  records inserted

$532805.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3430  :  REDINGTON.NS  :  2468  records inserted
Row  3431  :  533156.BO  :  2497  records inserted
Row  3432  :  VASCONEQ.NS  :  2468  records inserted
Row  3433  :  533080.BO  :  2497  records inserted
Row  3434  :  MOLDTKPAC.NS  :  2468  records inserted
Row  3435  :  BELRISE.NS  :  77  records inserted
Row  3436  :  533552.BO  :  2497  records inserted
Row  3437  :  RUPA.NS  :  2468  records inserted
Row  3438  :  PANACHE.NS  :  2071  records inserted

$541336.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3440  :  INDOSTAR.NS  :  1809  records inserted
Row  3441  :  539289.BO  :  2497  records inserted
Row  3442  :  AURUM.NS  :  2468  records inserted
Row  3443  :  533644.BO  :  2515  records inserted
Row  3444  :  524109.BO  :  2497  records inserted
Row  3445  :  KABRAEXTRU.NS  :  2468  records inserted

$520119.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3447  :  ASAL.NS  :  2468  records inserted
Row  3448  :  MBAPL.NS  :  2225  records inserted
Row  3449  :  533573.BO  :  2497  records inserted
Row  3450  :  APLLTD.NS  :  2468  records inserted
Row  3451  :  517273.BO  :  2497  records inserted
Row  3452  :  S&SPOWER.NS  :  1352  records inserted

$511551.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3454  :  MONARCH.NS  :  912  records inserted
Row  3455  :  SIGNATURE.NS  :  485  records inserted
Row  3456  :  537766.BO  :  2466  records inserted
Row  3457  :  500235.BO  :  2497  records inserted
Row  3458  :  KSL.NS  :  2468  records inserted
Row  3459  :  531431.BO  :  2510  records inserted
Row  3460  :  SHAKTIPUMP.NS  :  2468  records inserted
Row  3461  :  LIBAS.NS  :  2102  records inserted
Row  3462  :  507747.BO  :  2497  records inserted
Row  3463  :  TTKHLTCARE.NS  :  2468  records inserted
Row  3464  :  501242.BO  :  2503  records inserted
Row  3465  :  TCIFINANCE.NS  :  2468  records inserted
Row  3466  :  533152.BO  :  2497  records inserted
Row  3467  :  MBLINFRA.NS  :  2468  records inserted
Row  3468  :  533632.BO  :  2497  records inserted
Row  3469  :  ONELIFECAP.NS  :  2468  records inserted
Row  3470  :  539837.BO  :  2326  records inserted
Row  3471  :  RPEL.NS  :  275  records inserted
Row  3472  :  540153.BO  :  2219  records inserted
Row  3473  :  ENDURANCE.NS  :  2202  records inserted
Row  3474  :  531082.BO  :  2497  records inserted
Row  3475  :  ALANKIT.NS  :  2468  records inserted

$540975.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3477  :  ASTERDM.NS  :  1865  records inserted
Row  3478  :  532305.BO  :  2497  records inserted
Row  3479  :  INDSWFTLAB.NS  :  2468  records inserted
Row  3480  :  532764.BO  :  2497  records inserted
Row  3481  :  GEECEE.NS  :  2468  records inserted
Row  3482  :  540203.BO  :  2183  records inserted
Row  3483  :  SFL.NS  :  2166  records inserted
Row  3484  :  AFIL.NS  :  304  records inserted
Row  3485  :  532842.BO  :  2497  records inserted
Row  3486  :  SRHHYPOLTD.NS  :  2468  records inserted
Row  3487  :  532977.BO  :  2497  records inserted
Row  3488  :  BAJAJ-AUTO.NS  :  2468  records inserted
Row  3489  :  540047.BO  :  2267  records inserted
Row  3490  :  DBL.NS  :  2246  records inserted
Row  3491  :  BAJAJFINSV.NS  :  2468  records inserted
Row  3492  :  539331.BO  :  2497  records inserted
Row  3493  :  VETO.NS  :  2468  records inserted
Row  3494  :  KAYNES.NS  :  696  records inserted
Row  3495  :  533047.BO  :  2497  records inserted
Row  3496  :  IMFA.NS  :  2468  records inserted
Row  3497  :  540366.BO  :  2117  records inserted
Row  3498  :  RADIOCITY.NS  :  2100  records inserted
Row  3499  :  DOLPHIN.NS  :  2467  records inserted
Row  3500  :  530393.BO  :  2497  records inserted
Row  3501  :  DBSTOCKBRO.NS  :  2467  records inserted

$500052.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3503  :  BEPL.NS  :  2468  records inserted

$531349.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3505  :  PANACEABIO.NS  :  2468  records inserted
Row  3506  :  INDIASHLTR.NS  :  429  records inserted
Row  3507  :  521194.BO  :  2497  records inserted
Row  3508  :  SILINV.NS  :  2468  records inserted

$530023.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3510  :  THEINVEST.NS  :  2005  records inserted
Row  3511  :  532869.BO  :  2497  records inserted
Row  3512  :  TARMAT.NS  :  2468  records inserted
Row  3513  :  515093.BO  :  2499  records inserted
Row  3514  :  MADHAV.NS  :  2468  records inserted
Row  3515  :  CMSINFO.NS  :  916  records inserted
Row  3516  :  GODHA.NS  :  1804  records inserted
Row  3517  :  533227.BO  :  2497  records inserted
Row  3518  :  AHLEAST.NS  :  2468  records inserted

$541019.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3520  :  HGINFRA.NS  :  1857  records inserted

$502448.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3522  :  ROLLT.NS  :  2180  records inserted

$517214.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3524  :  DIGISPICE.NS  :  2468  records inserted
Row  3525  :  JBMA.NS  :  2468  records inserted
Row  3526  :  KPRMILL.NS  :  2468  records inserted

$543275.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3528  :  ANURAS.NS  :  1107  records inserted
Row  3529  :  539254.BO  :  2497  records inserted
Row  3530  :  ADANIENSOL.NS  :  509  records inserted
Row  3531  :  513228.BO  :  2497  records inserted
Row  3532  :  PENIND.NS  :  2468  records inserted
Row  3533  :  500418.BO  :  2499  records inserted
Row  3534  :  TOKYOPLAST.NS  :  2468  records inserted
Row  3535  :  540725.BO  :  1983  records inserted
Row  3536  :  SHAREINDIA.NS  :  1234  records inserted
Row  3537  :  500259.BO  :  2497  records inserted
Row  3538  :  LYKALABS.NS  :  2468  records inserted
Row  3539  :  532408.BO  :  2497  records inserted
Row  3540  :  MEGASOFT.NS  :  2468  records inserted
Row  3541  :  533229.BO  :  2497  records inserted
Row  3542  :  BAJAJCON.NS  :  2468  records inserted

$542726.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3544  :  INDIAMART.NS  :  1534  records inserted
Row  3545  :  SHANTI.NS  :  2003  records inserted
Row  3546  :  526235.BO  :  2514  records inserted
Row  3547  :  540124.BO  :  2236  records inserted
Row  3548  :  GNA.NS  :  2217  records inserted

$532296.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3550  :  GLENMARK.NS  :  2468  records inserted
Row  3551  :  532407.BO  :  2466  records inserted
Row  3552  :  MOSCHIP.NS  :  150  records inserted
Row  3553  :  540699.BO  :  1990  records inserted
Row  3554  :  DIXON.NS  :  1975  records inserted

$540798.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3556  :  524654.BO  :  2466  records inserted
Row  3557  :  NATCAPSUQ.NS  :  143  records inserted
Row  3558  :  500402.BO  :  2497  records inserted
Row  3559  :  SPMLINFRA.NS  :  2468  records inserted

$530377.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3561  :  NILAINFRA.NS  :  2468  records inserted
Row  3562  :  532019.BO  :  2497  records inserted
Row  3563  :  LCCINFOTEC.NS  :  2466  records inserted
Row  3564  :  532531.BO  :  2497  records inserted
Row  3565  :  STAR.NS  :  2468  records inserted
Row  3566  :  MANBA.NS  :  239  records inserted
Row  3567  :  532808.BO  :  2497  records inserted
Row  3568  :  PGIL.NS  :  2468  records inserted
Row  3569  :  GUJTHEM.NS  :  135  records inserted
Row  3570  :  532654.BO  :  2497  records inserted
Row  3571  :  MCLEODRUSS.NS  :  2468  records inserted
Row  3572  :  532440.BO  :  2497  records inserted
Row  3573  :  MPSLTD.NS  :  2468  records inserted
Row  3574  :  AGARWALEYE.NS  :  151  records inserted

$532497.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3576  :  RADICO.NS  :  2468  records inserted
Row  3577  :  532867.BO  :  2497  records inserted
Row  3578  :  V2RETAIL.NS  :  2468  records inserted

$511726.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3580  :  VIPULLTD.NS  :  2468  records inserted
Row  3581  :  500404.BO  :  2497  records inserted
Row  3582  :  SUNFLAG.NS  :  2468  records inserted

$532998.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3584  :  LOTUSEYE.NS  :  2468  records inserted
Row  3585  :  533137.BO  :  2497  records inserted
Row  3586  :  DEN.NS  :  2468  records inserted
Row  3587  :  540222.BO  :  2176  records inserted
Row  3588  :  LAURUSLABS.NS  :  2161  records inserted
Row  3589  :  517562.BO  :  2497  records inserted
Row  3590  :  TRIGYN.NS  :  2468  records inserted
Row  3591  :  533169.BO  :  2497  records inserted
Row  3592  :  MANINFRA.NS  :  2468  records inserted
Row  3593  :  540611.BO  :  2038  records inserted
Row  3594  :  AUBANK.NS  :  2022  records inserted
Row  3595  :  538961.BO  :  2497  records inserted
Row  3596  :  GENUSPAPER.NS  :  2468  records inserted
Row  3597  :  533151.BO  :  2497  records inserted
Row  3598  :  DBCORP.NS  :  2468  records inserted
Row  3599  :  538836.BO  :  2497  records inserted
Row  3600  :  MONTECARLO.NS  :  2468  records inserted

$531795.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3602  :  ATULAUTO.NS  :  2468  records inserted

$532953.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3604  :  VGUARD.NS  :  2468  records inserted
Row  3605  :  515145.BO  :  2507  records inserted
Row  3606  :  HINDNATGLS.NS  :  2468  records inserted

$532826.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3608  :  RAJTV.NS  :  2468  records inserted
Row  3609  :  JSFB.NS  :  392  records inserted
Row  3610  :  SANSERA.NS  :  983  records inserted
Row  3611  :  PNGJL.NS  :  245  records inserted

$531453.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3613  :  MOHITIND.NS  :  2467  records inserted
Row  3614  :  530343.BO  :  2497  records inserted
Row  3615  :  GENUSPOWER.NS  :  2468  records inserted
Row  3616  :  SEJALLTD.NS  :  2467  records inserted

$542484.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3618  :  ARVINDFASN.NS  :  1611  records inserted
Row  3619  :  533269.BO  :  2497  records inserted
Row  3620  :  WABAG.NS  :  2468  records inserted
Row  3621  :  530117.BO  :  2497  records inserted
Row  3622  :  PRIVISCL.NS  :  2468  records inserted

$500078.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3624  :  OAL.NS  :  1345  records inserted

$522014.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3626  :  UNIDT.NS  :  1230  records inserted
Row  3627  :  RAINBOW.NS  :  830  records inserted

$590022.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3629  :  EASTSILK.NS  :  2466  records inserted

$541956.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3631  :  IRCON.NS  :  1719  records inserted

$530079.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3633  :  FAZE3Q.NS  :  698  records inserted

$532945.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3635  :  SEPC.NS  :  2468  records inserted
Row  3636  :  MKPL.NS  :  2008  records inserted
Row  3637  :  HYBRIDFIN.NS  :  686  records inserted
Row  3638  :  532795.BO  :  2501  records inserted
Row  3639  :  SITINET.NS  :  2468  records inserted

$505526.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3641  :  DOLATALGO.NS  :  1504  records inserted
Row  3642  :  532794.BO  :  2497  records inserted
Row  3643  :  ZEEMEDIA.NS  :  2468  records inserted
Row  3644  :  526668.BO  :  2497  records inserted
Row  3645  :  KAMATHOTEL.NS  :  2468  records inserted
Row  3646  :  KIMS.NS  :  1044  records inserted

$506074.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")
$514036.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3649  :  LOYALTEX.NS  :  764  records inserted
Row  3650  :  SPCENET.NS  :  2467  records inserted

$541233.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3652  :  LEMONTREE.NS  :  1838  records inserted
Row  3653  :  VAISHALI.NS  :  1992  records inserted
Row  3654  :  500151.BO  :  2502  records inserted
Row  3655  :  GOLDENTOBC.NS  :  2468  records inserted

$526817.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3657  :  CHEVIOT.NS  :  801  records inserted
Row  3658  :  531337.BO  :  2466  records inserted
Row  3659  :  540762.BO  :  1957  records inserted
Row  3660  :  TIINDIA.NS  :  1944  records inserted
Row  3661  :  PRITI.NS  :  1774  records inserted
Row  3662  :  533177.BO  :  2497  records inserted
Row  3663  :  IL&FSTRANS.NS  :  2468  records inserted
Row  3664  :  500444.BO  :  2497  records inserted
Row  3665  :  WSTCSTPAPR.NS  :  2468  records inserted

$507552.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3667  :  FOODSIN.NS  :  948  records inserted
Row  3668  :  540065.BO  :  2253  records inserted
Row  3669  :  RBLBANK.NS  :  2233  records inserted
Row  3670  :  AGIIL.NS  :  292  records inserted
Row  3671  :  SAGARDEEP.NS  :  2020  records inserted
Row  3672  :  BCONCEPTS.NS  :  1892  records inserted

$519552.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3674  :  HERITGFOOD.NS  :  2468  records inserted

$532651.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3676  :  SPLIL.NS  :  2468  records inserted
Row  3677  :  SAREGAMA.NS  :  2468  records inserted
Row  3678  :  539252.BO  :  2497  records inserted
Row  3679  :  SHYAMCENT.NS  :  2468  records inserted
Row  3680  :  509077.BO  :  2022  records inserted
Row  3681  :  JYOTICNC.NS  :  411  records inserted
Row  3682  :  SOUTHWEST.NS  :  1870  records inserted

$517330.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3684  :  519183.BO  :  2497  records inserted
Row  3685  :  ADFFOODS.NS  :  2468  records inserted
Row  3686  :  533162.BO  :  2497  records inserted
Row  3687  :  HATHWAY.NS  :  2468  records inserted
Row  3688  :  PAYTM.NS  :  946  records inserted
Row  3689  :  JETFREIGHT.NS  :  2101  records inserted

$523023.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3691  :  SINCLAIR.NS  :  355  records inserted
Row  3692  :  539658.BO  :  2392  records inserted
Row  3693  :  TEAMLEASE.NS  :  2368  records inserted
Row  3694  :  CREATIVE.NS  :  2009  records inserted
Row  3695  :  524816.BO  :  2497  records inserted
Row  3696  :  NATCOPHARM.NS  :  2468  records inserted
Row  3697  :  507442.BO  :  2514  records inserted
Row  3698  :  539844.BO  :  1746  records inserted
Row  3699  :  PARKHOTELS.NS  :  394  records inserted
Row  3700  :  530073.BO  :  2507  records inserted
Row  3701  :  SANGHVIMOV.NS  :  2468  records inserted
Row  3702  :  DIACABS.NS  :  2468  records inserted
Row  3703  :  ASPINWALL.NS  :  2287  records inserted

$512381.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3705  :  STARTECK.NS  :  834  records inserted
Row  3706  :  513269.BO  :  2497  records inserted
Row  3707  :  MANINDS.NS  :  2468  records inserted

$530871.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3709  :  CHEMBOND.NS  :  1443  records inserted
Row  3710  :  NIVABUPA.NS  :  207  records inserted
Row  3711  :  MITTAL.NS  :  1832  records inserted
Row  3712  :  532817.BO  :  2497  records inserted
Row  3713  :  ORIENTALTL.NS  :  2468  records inserted
Row  3714  :  533088.BO  :  2497  records inserted
Row  3715  :  MHRIL.NS  :  2468  records inserted

$500249.BO: possibly delisted; no price data found  (period=10y) (Yahoo error = "No data found, symbol may be delisted")

Row  3717  :  KSB.NS  :  2468  records inserted
Row  3718  :  526521.BO  :  2497  records inserted
Row  3719  :  SANGHIIND.NS  :  2468  records inserted
Row  3720  :  533263.BO  :  2497  records inserted
Row  3721  :  GREENPOWER.NS  :  2468  records inserted

In [144]:
dat.info

{'address1': 'Kalpataru Synergy',
 'address2': '7th Floor Opp. Grand Hyatt Hotel, Vakola Santacruz (East)',
 'city': 'Mumbai',
 'zip': '400055',
 'country': 'India',
 'phone': '91 22 3064 2100',
 'website': 'https://www.kalpataruprojects.com',
 'industry': 'Engineering & Construction',
 'industryKey': 'engineering-construction',
 'industryDisp': 'Engineering & Construction',
 'sector': 'Industrials',
 'sectorKey': 'industrials',
 'sectorDisp': 'Industrials',
 'longBusinessSummary': 'Kalpataru Projects International Limited provides engineering, procurement, and construction (EPC) services for power transmission and distribution, buildings and factories, water, railways, oil and gas, and urban infrastructure sectors in India and internationally. The company operates in Engineering, Procurement and Construction; Developmental Project; and Others segments. It designs, tests, procures, fabricates, erects, installs, and commissions power transmission lines, substations, and underground cable works; executes civil works, design and build composite works, structural works, finishing works, utility installations, and area development for buildings and factories; and designs and builds water intake, pipeline installation, treatment, storage, supply, distribution, and operation and maintenance of water projects. The company also offers services under its railway arm, including overhead electrification, traction substations, station buildings, railway track laying, earthwork, workshops, signaling and telecommunication, power systems, and civil works with railway networks and projects; and EPC services for the design and construction of highways, bridges and flyovers, airports, metro rail corridor stations and transit terminals and hubs, as well as undertakes EPC contracting for cross-country pipelines, terminals, and gas gathering stations for the oil and gas sectors. In addition, it is involved in agri-storage infrastructure with value added services, such as testing and certification, collateral management, pest control activities, preservation, maintenance, and security services, as well as management and operation of warehouses; and operates biomass power generation plants. The company was formerly known as Kalpataru Power Transmission Limited and changed its name to Kalpataru Projects International Limited in May 2023. Kalpataru Projects International Limited was incorporated in 1981 and is based in Mumbai, India.',
 'fullTimeEmployees': 9881,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Manish Dashrathmal Mohnot CA, ICWA',
   'age': 52,
   'title': 'MD, CEO & Executive Director',
   'yearBorn': 1972,
   'fiscalYear': 2025,
   'totalPay': 217500000,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Shailendra Kumar Tripathi B. E. Civil',
   'age': 60,
   'title': 'Deputy MD & Additional Director',
   'yearBorn': 1964,
   'fiscalYear': 2025,
   'totalPay': 65000000,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Ram Avtar Patodia',
   'title': 'President of Finance & Accounts and CFO',
   'fiscalYear': 2025,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Saugata  Basu',
   'title': 'Chief Digital & Information Officer',
   'fiscalYear': 2025,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Shweta  Girotra',
   'title': 'Company Secretary & Compliance Officer',
   'fiscalYear': 2025,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. M. A. Baraiya',
   'title': 'Chief Human Resource Officer',
   'fiscalYear': 2025,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Kamal Kishore Jain',
   'age': 66,
   'title': 'Director of Integrity & Chief Ethics Officer',
   'yearBorn': 1958,
   'fiscalYear': 2025,
   'totalPay': 26400000,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Anand  Chopra',
   'title': 'Business Head of Renewable Power Generation - Biomass',
   'fiscalYear': 2025,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Ramesh  Bhootra',
   'title': 'Business Head of T&D International, BD and Subsidiaries',
   'fiscalYear': 2025,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Hitendra  Pooniwala',
   'title': 'Head of T&D International Business',
   'fiscalYear': 2025,
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'compensationAsOfEpochDate': 1767139200,
 'executiveTeam': [],
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 1292.9,
 'open': 1299.0,
 'dayLow': 1285.8,
 'dayHigh': 1306.7,
 'regularMarketPreviousClose': 1292.9,
 'regularMarketOpen': 1299.0,
 'regularMarketDayLow': 1285.8,
 'regularMarketDayHigh': 1306.7,
 'dividendRate': 9.0,
 'dividendYield': 0.7,
 'exDividendDate': 1750636800,
 'payoutRatio': 0.21260001,
 'fiveYearAvgDividendYield': 1.22,
 'beta': 0.364,
 'trailingPE': 30.57906,
 'forwardPE': 19.740618,
 'volume': 231061,
 'regularMarketVolume': 231061,
 'averageVolume': 355806,
 'averageVolume10days': 252300,
 'averageDailyVolume10Day': 252300,
 'bid': 0.0,
 'ask': 0.0,
 'marketCap': 221074194432,
 'fiftyTwoWeekLow': 786.3,
 'fiftyTwoWeekHigh': 1438.05,
 'priceToSalesTrailing12Months': 0.9249831,
 'fiftyDayAverage': 1213.242,
 'twoHundredDayAverage': 1113.4888,
 'trailingAnnualDividendRate': 0.0,
 'trailingAnnualDividendYield': 0.0,
 'currency': 'INR',
 'tradeable': False,
 'enterpriseValue': 246050717696,
 'profitMargins': 0.029560002,
 'floatShares': 112503246,
 'sharesOutstanding': 170772992,
 'heldPercentInsiders': 0.33636,
 'heldPercentInstitutions': 0.49994,
 'impliedSharesOutstanding': 170872000,
 'bookValue': 381.404,
 'priceToBook': 3.3922038,
 'lastFiscalYearEnd': 1743379200,
 'nextFiscalYearEnd': 1774915200,
 'mostRecentQuarter': 1751241600,
 'earningsQuarterlyGrowth': 1.297,
 'netIncomeToCommon': 7064900096,
 'trailingEps': 42.31,
 'forwardEps': 65.54,
 'enterpriseToRevenue': 1.029,
 'enterpriseToEbitda': 13.181,
 '52WeekChange': -0.07211244,
 'SandP52WeekChange': 0.16885936,
 'lastDividendValue': 9.0,
 'lastDividendDate': 1750636800,
 'quoteType': 'EQUITY',
 'currentPrice': 1293.8,
 'targetHighPrice': 1572.0,
 'targetLowPrice': 1235.0,
 'targetMeanPrice': 1408.3125,
 'targetMedianPrice': 1390.5,
 'recommendationKey': 'none',
 'numberOfAnalystOpinions': 16,
 'totalCash': 17585199104,
 'totalCashPerShare': 102.974,
 'ebitda': 18667374592,
 'totalDebt': 43135098880,
 'totalRevenue': 239003500544,
 'debtToEquity': 66.681,
 'revenuePerShare': 1431.926,
 'grossProfits': 63076098048,
 'earningsGrowth': 1.191,
 'revenueGrowth': 0.345,
 'grossMargins': 0.26391,
 'ebitdaMargins': 0.07811,
 'operatingMargins': 0.06415,
 'financialCurrency': 'INR',
 'symbol': 'KPIL.NS',
 'language': 'en-US',
 'region': 'US',
 'typeDisp': 'Equity',
 'quoteSourceName': 'Delayed Quote',
 'triggerable': True,
 'customPriceAlertConfidence': 'HIGH',
 'nameChangeDate': '2025-09-12',
 'cryptoTradeable': False,
 'regularMarketChange': 0.9000244,
 'regularMarketDayRange': '1285.8 - 1306.7',
 'fullExchangeName': 'NSE',
 'averageDailyVolume3Month': 355806,
 'fiftyTwoWeekLowChange': 507.50006,
 'fiftyTwoWeekLowChangePercent': 0.64542806,
 'fiftyTwoWeekRange': '786.3 - 1438.05',
 'fiftyTwoWeekHighChange': -144.25,
 'fiftyTwoWeekHighChangePercent': -0.10030945,
 'fiftyTwoWeekChangePercent': -7.211244,
 'earningsTimestamp': 1754560800,
 'earningsTimestampStart': 1762250400,
 'earningsTimestampEnd': 1762250400,
 'earningsCallTimestampStart': 1747625400,
 'earningsCallTimestampEnd': 1747625400,
 'isEarningsDateEstimate': False,
 'epsTrailingTwelveMonths': 42.31,
 'epsForward': 65.54,
 'epsCurrentYear': 57.68383,
 'priceEpsCurrentYear': 22.429163,
 'fiftyDayAverageChange': 80.558105,
 'fiftyDayAverageChangePercent': 0.066399045,
 'twoHundredDayAverageChange': 180.31128,
 'twoHundredDayAverageChangePercent': 0.16193363,
 'sourceInterval': 15,
 'exchangeDataDelayedBy': 15,
 'prevName': 'Kalpataru Power Transmission Limited',
 'exchange': 'NSI',
 'messageBoardId': 'finmb_9440441',
 'exchangeTimezoneName': 'Asia/Kolkata',
 'exchangeTimezoneShortName': 'IST',
 'gmtOffSetMilliseconds': 19800000,
 'market': 'in_market',
 'esgPopulated': False,
 'hasPrePostMarketData': False,
 'firstTradeDateMilliseconds': 1685418300000,
 'marketState': 'CLOSED',
 'corporateActions': [],
 'regularMarketTime': 1757671202,
 'regularMarketChangePercent': 0.06961284,
 'regularMarketPrice': 1293.8,
 'shortName': 'KALPATARU PROJECT INT LTD',
 'longName': 'Kalpataru Projects International Limited',
 'trailingPegRatio': None}

In [153]:
cedl.shape

(551, 9)

In [154]:
lo_daily_update.Create(cedl)

IntegrityError: (1062, "Duplicate entry 'NSE-KPIL-2023-05-30' for key 'stockdailyupdate.PRIMARY'")

In [147]:
cedl.fillna(0, inplace=True)
cedl.isna().sum()

StockExchange    0
Symbol           0
Date             0
Open             0
High             0
Low              0
Close            0
Volume           0
delivery         0
dtype: int64

In [100]:
dat = yf.download('570003.BO',period='1d',interval='1m')

C:\Users\Ravi\AppData\Local\Temp\ipykernel_20372\1355577963.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  dat = yf.download('570003.BO',period='1d',interval='1m')
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['570003.BO']: YFPricesMissingError('possibly delisted; no price data found  (period=1d) (Yahoo error = "No data found, symbol may be delisted")')

In [44]:
dat.columns[2][0]

'Low'

In [46]:
dat

Price,Close,High,Low,Open,Volume
Ticker,500295.BO,500295.BO,500295.BO,500295.BO,500295.BO
Datetime,,,,,
2025-09-12 13:30:00+00:00,450.950012,455.0,439.049988,439.049988,1217495

In [48]:
dat = yf.Ticker("500295.BO")

In [70]:
cedl = dat.history(period='10y')

cedl["Date"] = cedl.index
cedl["Date"] = cedl["Date"].dt.date
cedl.insert(0, "Date", cedl.pop("Date"))
cedl.pop("Dividends")
cedl.pop("Stock Splits")
cedl["delivery"] = 0
cedl.insert(0, "Symbol",dat.info["symbol"].split(".")[0])
cedl.insert(0, "StockExchange",get_exchange_from_ticker(dat))

In [71]:
cedl

,StockExchange,Symbol,Date,Open,High,Low,Close,Volume,Capital Gains,delivery
Date,,,,,,,,,,
2015-09-14 00:00:00-04:00,BSE,500295,2015-09-14,30.523004,31.856914,30.177757,31.699984,1111573,0.0,0
2015-09-15 00:00:00-04:00,BSE,500295,2015-09-15,31.699981,31.699981,30.303300,30.413151,912784,0.0,0
2015-09-16 00:00:00-04:00,BSE,500295,2015-09-16,31.291966,31.668601,30.523007,31.056570,896142,0.0,0
2015-09-17 00:00:00-04:00,BSE,500295,2015-09-17,31.056570,31.056570,31.056570,31.056570,0,0.0,0
2015-09-18 00:00:00-04:00,BSE,500295,2015-09-18,31.621526,31.919694,30.758408,31.087963,969355,0.0,0
...,...,...,...,...,...,...,...,...,...,...
2025-09-08 00:00:00-04:00,BSE,500295,2025-09-08,440.049988,442.450012,433.000000,434.399994,494056,0.0,0
2025-09-09 00:00:00-04:00,BSE,500295,2025-09-09,437.000000,437.700012,432.000000,432.500000,444474,0.0,0
2025-09-10 00:00:00-04:00,BSE,500295,2025-09-10,436.299988,437.200012,432.500000,433.649994,749401,0.0,0
2025-09-11 00:00:00-04:00,BSE,500295,2025-09-11,435.000000,439.750000,432.899994,437.600006,805830,0.0,0
2025-09-12 00:00:00-04:00,BSE,500295,2025-09-12,439.049988,455.000000,439.049988,450.950012,1217495,0.0,0

In [27]:
dat.info

{'quoteType': 'MUTUALFUND',
 'symbol': '500295.BO',
 'language': 'en-US',
 'region': 'US',
 'typeDisp': 'Fund',
 'quoteSourceName': 'Delayed Quote',
 'triggerable': False,
 'customPriceAlertConfidence': 'NONE',
 'epsTrailingTwelveMonths': 48.72,
 'sharesOutstanding': 3708509952,
 'bookValue': 106.26,
 'fiftyDayAverage': 279.106,
 'hasPrePostMarketData': False,
 'tradeable': False,
 'cryptoTradeable': False,
 'fiftyTwoWeekRange': '206.1 - 340.75',
 'fiftyTwoWeekLow': 206.1,
 'fiftyTwoWeekHigh': 340.75,
 'fiftyTwoWeekChangePercent': -6.884986,
 'earningsTimestampStart': 1713956340,
 'earningsTimestampEnd': 1714392000,
 'trailingAnnualDividendRate': 81.0,
 'fullExchangeName': 'YHD',
 'financialCurrency': 'INR',
 'averageDailyVolume3Month': 1309440,
 'averageDailyVolume10Day': 708186,
 'longName': 'Vedanta Limited',
 'marketState': 'CLOSED',
 'firstTradeDateMilliseconds': 663345000000,
 'priceHint': 2,
 'twoHundredDayAverage': 291.27676,
 'sourceInterval': 15,
 'exchangeDataDelayedBy': 0,
 'exchange': 'YHD',
 'messageBoardId': 'finmb_878252',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'gmtOffSetMilliseconds': -14400000,
 'market': 'us_market',
 'esgPopulated': False,
 'corporateActions': [],
 'regularMarketTime': 1561759658,
 'trailingPegRatio': None}

In [16]:
lo_daily_update.Create(cedl)

In [ ]:
df_vedl = dat.balance_sheet

In [163]:
#pip install nsepy

In [33]:
from nsepy import get_history
import datetime

data = get_history(
    symbol="VEDL",
    start=datetime.date(2025,1,1),
    end=datetime.date(2025,12,31)
)
print(data.head())

ValueError: cannot remove local variables from FrameLocalsProxy

# NSE Tools API

In [ ]:
#pip install nsetools
import nsetools as nse
from nsetools import Nse
import bsetools as bse

In [ ]:
nse1 = Nse()
#stock = nse1.get_quote('INFY')
#nse1.get_52_week_high()
nse1.get_top_gainers()
#print(stock)

In [ ]:
nse_stocks = nse.get_stock_codes()
len(nse_stocks)

In [ ]:
nse.get_all_index_quote()

In [177]:
import importlib
import calender
importlib.reload(calender)

In [178]:
import calender

In [174]:
calender.isLeapYear(1603)

False

In [180]:
calender.getYearPattern(1)

2

In [175]:
import datetime
print(datetime.date(1, 1, 1).strftime("%A"))

Monday

# Breeze-Connect API

In [ ]:
#pip install breeze-connect
import breeze_connect

# HTTP Call to API

In [67]:
import requests

headers = {
    "User-Agent": "Mozilla/5.0"
}
url = "https://www.nseindia.com/api/search/autocomplete?q=VEDL"
#url = "https://www.nseindia.com/get-quotes/equity?symbol=VEDL"

response = requests.get(url, headers=headers)
print(response.json())
print(response.status_code)

{'symbols': [{'symbol': 'VEDL', 'symbol_info': 'Vedanta Limited', 'symbol_suggest': [{'input': 'VEDL', 'weight': 20}, {'input': 'Vedanta Limited', 'weight': 15}], 'result_type': 'symbol', 'result_sub_type': 'equity', 'activeSeries': ['EQ', 'T0'], 'listing_date': '1998-05-13', 'url': '/get-quotes/equity?symbol=VEDL'}], 'mfsymbols': [], 'search_content': [{'title': 'List of Underlyings and Information', 'content': 'LIMITEDTITAN175TORRENT\nPHARMACEUTICALS LIMITEDTORNTPHARM176TRENT LIMITEDTRENT177TVS MOTOR COMPANY LIMITEDTVSMOTOR178ULTRATECH CEMENT LIMITED\nULTRACEMCO179UNITED BREWERIES LIMITEDUBL180UNITED SPIRITS LIMITEDMCDOWELL-N181UPL LIMITEDUPL182VEDANTA <b>LIMITEDVEDL183</b>', 'url': '/products-services/equity-derivatives-list-underlyings-information', 'result_type': 'content', 'result_sub_type': 'content'}], 'sitemap': []}
200

In [68]:
import requests

headers = {
    "User-Agent": "Mozilla/5.0"
}
#url = "https://www.nseindia.com/api/search/autocomplete?q=VEDL"
url = "https://www.nseindia.com/get-quotes/equity?symbol=VEDL"

response = requests.get(url, headers=headers)
print(response.status_code)

200

# Others

In [3]:
def mixed_function(greeting, *args, **kwargs):
    print(greeting)
    for arg in args:
        print(f"Positional arg: {arg}")
    for key, value in kwargs.items():
        print(f"{key} = {value}")

mixed_function(
    "Hello!",
    "Alice", "Bob",
    age=25, city="Paris"
)

Hello!
Positional arg: Alice
Positional arg: Bob
age = 25
city = Paris

In [162]:
import importlib
import connection
importlib.reload(connection)

In [152]:
a = connection.RangeParser(connection.RangeParser.get_initial_rangetable())

In [159]:
filter = [
    connection.RangeTable(
        fieldname='CountryId',
        sign='I',
        option='EQ',
        low='1',
        high=''
    )
]

In [163]:
b = connection.RangeParser(filter)

In [164]:
b.get_parsed()

'CountryId = 1'

In [165]:
from moviepy.videotools import VideoFileClip

ModuleNotFoundError: No module named 'moviepy.videotools'

In [167]:
import moviepy
from pytube import YouTube

In [172]:
url = "https://www.youtube.com/watch?v=mr8GBzTsWqM"
yt = YouTube(url)

In [173]:
yt.title

HTTPError: HTTP Error 400: Bad Request

In [29]:
import requests

def get_share_capital(symbol: str):
    """
    Fetches face value, outstanding shares, and calculates share capital for an NSE stock.
    
    Args:
        symbol (str): Stock symbol as per NSE (e.g., 'VEDL', 'RELIANCE')
    
    Returns:
        dict: { 'face_value': float, 'outstanding_shares': int, 'share_capital': float }
    """
    url = f"https://www.nseindia.com/api/quote-equity?symbol={symbol}"
    headers = {"User-Agent": "Mozilla/5.0"}  # NSE blocks requests without UA
    
    session = requests.Session()
    session.headers.update(headers)
    res = session.get(url) #.json()
    print(res)
    """
    face_value = float(res["securityInfo"]["faceValue"])
    outstanding_shares = int(res["securityInfo"]["issuedSize"])
    share_capital = face_value * outstanding_shares
    
    return {
        "face_value": face_value,
        "outstanding_shares": outstanding_shares,
        "share_capital": share_capital
    }
    """

In [30]:
get_share_capital("VEDL")

<Response [401]>