In [5]:
import pymysql

In [6]:
connection = pymysql.connect(
    host='localhost',
    user='root',
    password='Abdec@90',
    database='market',
    cursorclass=pymysql.cursors.DictCursor
)

In [ ]:
try:
    with connection.cursor() as cursor:
        # Example query
        sql = "SELECT * FROM Country;"
        #sql = "DESCRIBE Country;"
        cursor.execute(sql)
        results = cursor.fetchall()
        for row in results:
            print((row))
finally:
    pass
    #connection.close()

In [190]:
import requests
from datetime import datetime

headers = {
    "User-Agent": "Mozilla/5.0"
}
url = "https://www.nseindia.com/api/search/autocomplete?q=VEDL"
response = requests.get(url, headers=headers)

a = response.json()
b = a['symbols'][0]['listing_date']
ListingDate = datetime.strptime(b, "%Y-%m-%d").date()

ISIN = 'INE205A01025'

values = (ListingDate, ISIN)

In [21]:
try:
    with connection.cursor() as cursor:
        # Example query
        sql = "Update stock set ListingDate = %s where ISIN = %s"
        cursor.execute(sql, values)
        connection.commit()
        results = cursor.rowcount
        print(results)
finally:
    pass
    #connection.close()

0

In [13]:
import requests
from datetime import datetime

In [ ]:
def get_listing_date(ISIN, symbol):
    

    headers = {
        "User-Agent": "Mozilla/5.0"
    }
    url = f"https://www.nseindia.com/api/search/autocomplete?q={symbol}"
    response = requests.get(url, headers=headers)

    a = response.json()
    b = a['symbols'][0]['listing_date']
    ListingDate = datetime.strptime(b, "%Y-%m-%d").date()

    values = (ListingDate, ISIN)
    return values

In [1]:
from mymodule.DatabaseConnection import CRUD

In [10]:
from dotenv import load_dotenv
load_dotenv()

True

In [11]:
os.environ['database']

NameError: name 'os' is not defined

In [2]:
lo_stock = CRUD('Stock')

market

In [4]:
df_stock = lo_stock.Read('')

In [6]:
lo_sestockcode = CRUD('stockexchange_stockcode')

market

In [7]:
df_sestockcode = lo_sestockcode.Read('')

In [ ]:
try:
    with connection.cursor() as cursor:
        # Example query
        sql = "Update stock set ListingDate = %s where ISIN = %s"
        cursor.execute(sql, values)
        connection.commit()
        results = cursor.rowcount
        print(results)
finally:
    pass
    #connection.close()

In [ ]:
try:
    with connection.cursor() as cursor:
        # Example query
        sql = "Update stock set ListingDate = %s where ISIN = %s"
        for i, row in df_sestockcode.iterrows():
            if row['StockExchange'] == 'NSE':
                values = get_listing_date(row['ISIN'], row['Symbol'])
                cursor.execute(sql, values)
                connection.commit()
finally:
    pass

2011-11-30
2009-02-13
2002-01-21
1995-11-29
2010-05-20
2016-07-01
1995-09-06
2025-02-06
2024-07-31
2007-03-19
2007-03-20
2021-03-22
1995-06-28
2005-07-01
2023-11-30
1995-09-20
2018-02-05
1995-02-08
2018-12-28
2023-04-21
2022-11-16
2022-02-16
2022-04-13
2022-05-20
2021-09-14
2024-11-13
2018-06-20
2021-02-05
2021-02-16
2022-04-07
2021-03-25
2019-08-20
2024-08-26
2022-12-08
2021-01-28
2021-07-28
2019-01-22
2025-08-12
2018-12-28
2024-08-13
2022-07-01
2019-08-08
2023-12-01
2021-02-16
2024-11-08
2022-05-04
2022-12-23
2024-02-16
2003-08-20
2000-04-18
2017-06-27
2016-09-23
2024-04-29
2021-12-13
1996-11-20
2022-07-27
2025-01-24
1995-12-06
2025-04-17
2008-01-08
1999-04-28
2017-12-11
2006-11-27
2021-11-25
2021-03-31
2004-06-23
2020-03-16
2005-03-23
2007-03-02
2010-10-05
2024-06-28
2021-01-01
2023-07-10
2024-12-18
2022-11-23
2022-04-12
2025-03-28
2024-09-06
2021-02-22
2018-10-10
2023-01-06
2020-12-02
2022-11-28
2024-10-09
2019-02-04
2022-06-01
2019-01-25
2008-03-12
2023-01-20
2006-10-30
2008-06-04
1995-05-31
2021-06-28
1996-01-31
2007-08-23
2017-10-23
2003-11-17
2005-07-18
2011-10-04
2023-08-31
1995-05-10
2010-11-16
2005-03-29
2005-08-29
2020-01-23
1995-09-06
1998-01-07
2020-08-21
1997-02-19
1995-09-13
2011-01-14
2020-07-23
2021-06-04
2022-06-21
2024-01-31
2024-09-05
2023-12-28
2024-06-07
2021-11-12
2020-07-22
2024-08-13
2022-01-17
2022-10-17
1995-07-06
2017-05-19
2000-05-29
1995-04-26
2005-06-17
2020-10-28
1995-02-08
2007-01-29
2015-08-26
2023-01-12
1995-06-28
1995-02-08
2000-10-11
2000-07-26
2004-01-23
2024-12-27
1997-01-08
2004-01-16
1995-04-26
2000-05-02
2010-12-10
2019-10-30
2025-02-14
2024-06-26
2023-10-30
2023-08-14
2019-06-18
2024-05-23
2025-07-31
2021-08-06
2020-03-09
2021-03-10
2020-02-14
2020-10-01
1995-11-08
2012-09-25
2005-10-19
2011-08-26
1995-03-29
1995-03-01
1995-03-29
1995-09-13
2021-09-14
1995-02-08
2021-10-01
1995-05-10
2003-05-28
2015-01-15
1995-11-29
2023-12-26
1995-05-10
2009-12-14
2013-04-09
2000-03-01
2024-04-03
2007-06-01
1995-02-08
2000-02-23
2008-03-11
2021-11-23
2019-04-22
2019-05-16
2022-05-30
2019-06-14
2022-12-30
1996-04-03
1999-09-15
2007-04-05
2005-08-30
2012-05-17
2006-04-03
2011-08-17
2015-01-20
2024-04-10
1996-07-03
2021-01-29
2024-12-12
2005-03-02
2003-06-27
1995-03-01
2023-07-10
2009-12-03
2003-05-19
1996-07-10
2022-12-27
1995-02-08
2004-03-09
2007-03-16
2019-12-26
2023-09-11
2025-07-03
2023-02-10
2022-11-07
2020-10-15
1995-02-08
2001-02-07
2011-10-19
2022-02-15
1997-01-08
2007-05-09
1995-03-01
2006-09-29
2023-03-06
2020-11-02
2001-02-21
2022-11-21
2009-01-30
2024-05-13
2004-09-07
2018-03-28
2014-05-09
2015-04-09
1995-03-01
2010-10-12
2020-11-20
2007-03-23
2024-09-04
2019-04-05
2025-07-30
2025-08-05
2025-08-26
2025-08-01
1995-04-26
1997-11-26
2007-05-30
2006-09-27
2015-03-09
2010-08-23
2017-04-10
2021-08-18
1996-07-17
2020-02-12
2021-06-24
2024-01-23
1995-10-11
2007-01-03
1995-11-08
2023-10-12
1995-08-23
2016-03-30
2007-01-29
1996-04-03
2014-06-26
2025-08-26
1998-02-18
2022-03-22
2023-09-22
2021-03-19
2020-07-30
2021-12-28
2023-06-01
2020-12-14
2023-10-26
2020-03-30
1995-05-10
1999-10-20
2024-10-17
2025-08-25
1998-11-18
1999-06-09
2017-08-09
1999-11-24
2007-04-02
2006-12-28
2006-05-08
1997-04-30
2023-05-09
1995-06-14
2010-02-19
2003-06-20
1995-09-06
2008-05-21
2005-10-31
2020-09-29
2022-05-27
2003-05-30
2000-12-08
2023-11-06
2019-07-16
2021-08-16
2025-08-06
2024-07-26
2023-09-22
2019-10-23
2025-06-04
1997-09-17
2003-02-20
2003-12-09
1999-04-01
1997-05-07
2015-11-06
2025-02-19
2000-03-21
2010-10-20
2016-07-18
1998-06-17
2007-12-13
2020-10-12
1998-01-28
2008-01-11
2012-04-12
2002-12-19
2022-04-19
2015-01-02
2014-01-01
2018-04-04
2020-12-18
2020-07-14
2023-05-10
2019-10-16
2021-02-02
2024-08-06
2020-10-19
2022-10-19
2023-09-05
2024-08-08
2020-10-22
2023-05-12
2020-12-23
2025-06-02
2024-06-10
2022-12-05
2024-07-10
2021-11-30
2024-09-03
2023-01-24
2023-10-16
2021-12-21
2022-06-03
2025-06-03
2021-03-19
2025-06-20
2024-03-07
2020-08-28
2020-10-01
2024-11-14
2024-09-24
2021-12-17
2021-08-18
2022-03-23
2025-07-21

KeyboardInterrupt:

In [4]:
get_listing_date('PAGEIND')

2007-03-16

In [2]:
import pandas as pd

In [199]:
df_bulk = pd.read_csv('.\Data\Block Deal\BSE\Block_01Jan2000to05Oct2025.csv', dtype={'Security Code':object}, parse_dates=['Deal Date'], dayfirst=True)

<>:1: SyntaxWarning: invalid escape sequence '\D'
<>:1: SyntaxWarning: invalid escape sequence '\D'
C:\Users\Ravi\AppData\Local\Temp\ipykernel_40268\3096419382.py:1: SyntaxWarning: invalid escape sequence '\D'
  df_bulk = pd.read_csv('.\Data\Block Deal\BSE\Block_01Jan2000to05Oct2025.csv', dtype={'Security Code':object}, parse_dates=['Deal Date'], dayfirst=True)

In [4]:
df_bulk.head()

,Deal Date,Security Code,Company,Client Name,Deal Type,Quantity,Price
0,29-11-2005,523886,MICROINK,BILAKHIA HOLDINGS PVT LTD,S,1378031,640.0
1,29-11-2005,523886,MICROINK,MUMBAI INTEGRATED SEZ LTD,P,1172000,640.0
2,29-11-2005,507878,UNITECH,PRAKAUSLI INVESTMENT INDIA PVT LTD,P,235000,650.0
3,29-11-2005,507878,UNITECH,UNIBUILD ENGG AND CONSTURCTION,S,235000,650.0
4,29-11-2005,523886,MICROINK,NARENDRA DHARMSINGH DESAI,P,126031,640.0

In [5]:
df_bulk['Client Name'].unique()

array(['BILAKHIA HOLDINGS PVT LTD', 'MUMBAI INTEGRATED SEZ LTD',
       'PRAKAUSLI INVESTMENT INDIA PVT LTD', ...,
       'NEO INFRA INCOME OPPORTUNITIES FUND',
       'PICO CAPITAL PRIVATE LIMITED',
       'B ARUNKUMAR CAPITAL & CREDIT SERVICES PVT LTD'],
      shape=(5358,), dtype=object)

In [6]:
df_bulk.shape

(21460, 7)

In [7]:
from mymodule.DatabaseConnection import CRUD

In [8]:
lo_client = CRUD('client')

In [9]:
df_client = lo_client.Read('')

In [10]:
i = 0
for name in df_bulk['Client Name'].unique():
    df_client.loc[i] = [i+1, name]
    i = i + 1
print(i)

5358

In [11]:
df_client.shape

(5358, 2)

In [12]:
df_client[1400:1410]

      client_id                                             name
1400       1401                          SESA RESOURCES LIIMITED
1401       1402                                BINITABEN K PATEL
1402       1403                           TRUST FINSTOCK PVT LTD
1403       1404                                   DHRUV  SAWHNEY
1404       1405                                    RATI  SAWHNEY
1405       1406               UMANANDA TRADE AND FINANCE LIMITED
1406       1407                         DHANKARI INVESTMENTS LTD
1407       1408  BHUPATI INVESTMENTS AND FINANCE PRIVATE LIMITED
1408       1409                               RAHUL VINOD PODDAR
1409       1410                          VISHAL FURNISHINGS LTD.

In [50]:
rows = 5100
lo_client.Create(df_client[rows:])

In [45]:
df_client[rows:rows+1]

      client_id                                               name
4743       4744  INTERNATIONAL MONETARY FUND (IN RESPECT OF THE...

In [52]:
lo_stockcode = CRUD('stockexchange_stockcode')

In [53]:
df_stock = lo_stockcode.Read('')

In [82]:
df_stock.shape

(3722, 3)

In [83]:
df_stock[df_stock['Symbol']=='500295'] #['ISIN'][0]

              ISIN StockExchange  Symbol
1140  INE205A01025           BSE  500295

In [120]:
dealtype = lambda x: 'B' if x == 'P' else x

In [ ]:
df_client[df_client['name'] == row['Client Name']['client_id'][0]]

'B'

In [264]:
lo_blockdeal = CRUD('blockdeal')
#df_blockdeal = lo_blockdeal.Read('')

DataBase Disconnected

In [216]:
df_blockdeal.shape

(0, 7)

In [217]:
df_blockdeal.dtypes

ISIN             object
DealDate         object
StockExchange    object
Client           object
DealType         object
Quantity         object
price            object
dtype: object

In [223]:
count = 0
df_blockdeal = pd.DataFrame(columns={
    'ISIN':object,
    'DealDate':"datetime64[ns]",
    'StockExchange':object,
    'Client':object,
    'DealType':object,
    'Quantity':"int64",
    'price':"float64"})
for i, row in df_bulk.iterrows():
    a = df_stock[df_stock['Symbol']==row['Security Code']]
    if a.shape[0] == 0:
        continue
    else:
        list1 = [a['ISIN'].values[0], 
                 datetime.date(row['Deal Date']), 
                 'BSE', 
                 int(df_client[df_client['name'] == row['Client Name']]['client_id'].values[0]),
                 dealtype(row['Deal Type']),
                 row['Quantity'],
                 row['Price']
                 ]
        df_blockdeal.loc[count] = list1
        count = count + 1

print(count)

16343

In [236]:
#df_blockdeal['Client'] = df_blockdeal['Client'].astype(object)
df_blockdeal["DealDate"] = pd.to_datetime(df_blockdeal['DealDate'], format="%Y-%m-%d", errors="coerce")
df_blockdeal.dtypes

ISIN                     object
DealDate         datetime64[ns]
StockExchange            object
Client                   object
DealType                 object
Quantity                  int64
price                   float64
DealDate1        datetime64[ns]
dtype: object

In [238]:
df_blockdeal.drop(['DealDate1'], axis=1, inplace=True)

In [247]:
df_bulk[:20]

,Deal Date,Security Code,Company,Client Name,Deal Type,Quantity,Price
0,2005-11-29,523886,MICROINK,BILAKHIA HOLDINGS PVT LTD,S,1378031,640.00
1,2005-11-29,523886,MICROINK,MUMBAI INTEGRATED SEZ LTD,P,1172000,640.00
2,2005-11-29,507878,UNITECH,PRAKAUSLI INVESTMENT INDIA PVT LTD,P,235000,650.00
3,2005-11-29,507878,UNITECH,UNIBUILD ENGG AND CONSTURCTION,S,235000,650.00
4,2005-11-29,523886,MICROINK,NARENDRA DHARMSINGH DESAI,P,126031,640.00
5,2005-11-29,507878,UNITECH,MILLENIUM CONSTURCTION PVT LTD,S,93468,650.00
6,2005-11-29,507878,UNITECH,PRAKAUSLI INVESTMENT INDIA LTD,P,93468,650.00
7,2005-11-29,523886,MICROINK,KAMAL VISARIA HUF,P,80000,640.00
8,2005-12-05,532129,HEXAWARE,IRVINE LIMITED,S,2500000,104.00
9,2005-12-05,532129,HEXAWARE,UBS SECURITIES ASIA LIMITED.,P,2500000,104.00
10,2005-12-05,500325,RELIANCE,EKLAVYA MERCANTILE PRIVATE LTD,P,80063,846.65
11,2005-12-05,500325,RELIANCE,SPARK TRADECOM PRIVATE LTD,S,80063,846.65
12,2005-12-05,500325,RELIANCE,BHUMIKA TRADING PVT LTD,P,67063,847.00
13,2005-12-05,500325,RELIANCE,PLATINUM COMMERCIALS PVT LTD,S,67063,847.00
14,2005-12-05,500325,RELIANCE,NEELAM MERCANTILE PVT LTD,S,60063,847.55
15,2005-12-05,500325,RELIANCE,EKANSHA ENTERPRISES PVT LTD,P,60063,847.55
16,2005-12-07,532129,HEXAWARE,IRVINE LIMITED,S,2500000,108.25
17,2005-12-07,532129,HEXAWARE,MACQUARIE BANK LTD,P,2500000,108.25
18,2005-12-08,500325,RELIANCE,EKLAVYA MERCANTILE PRIVATE LTD,P,1200000,847.85
19,2005-12-08,500325,RELIANCE,SPARK TRADECOM PRIVATE LTD,S,1200000,847.85

In [257]:
import uuid

In [258]:
df_blockdeal['UUID'] = [uuid.uuid4() for _ in range(len(df_blockdeal))]

In [260]:
cols = ["UUID"] + [col for col in df_blockdeal.columns if col != "UUID"]
df_blockdeal = df_blockdeal[cols]

In [261]:
df_blockdeal.head()

,UUID,ISIN,DealDate,StockExchange,Client,DealType,Quantity,price
0,cd4f63b7-b589-4e17-9ebd-ebb2d0169922,INE694A01020,2005-11-29,BSE,3,B,235000,650.00
1,a36c146a-f1d4-4d1e-a39c-3fc192ba2b6f,INE694A01020,2005-11-29,BSE,4,S,235000,650.00
2,61890f1b-b266-4037-b1ec-a1c0a1998d79,INE694A01020,2005-11-29,BSE,6,S,93468,650.00
3,956eae46-13f1-4a63-9ab1-8a52471dc398,INE694A01020,2005-11-29,BSE,7,B,93468,650.00
4,fdaf92fd-6e11-476e-b177-f37c9a90fb1e,INE002A01018,2005-12-05,BSE,11,B,80063,846.65

In [ ]:
row = 20
lo_blockdeal.Create(df_blockdeal[row:])

:

In [255]:
df_blockdeal[1:row+1]

            ISIN   DealDate StockExchange Client DealType  Quantity   price
1   INE694A01020 2005-11-29           BSE      4        S    235000  650.00
2   INE694A01020 2005-11-29           BSE      6        S     93468  650.00
3   INE694A01020 2005-11-29           BSE      7        B     93468  650.00
4   INE002A01018 2005-12-05           BSE     11        B     80063  846.65
5   INE002A01018 2005-12-05           BSE     12        S     80063  846.65
6   INE002A01018 2005-12-05           BSE     13        B     67063  847.00
7   INE002A01018 2005-12-05           BSE     14        S     67063  847.00
8   INE002A01018 2005-12-05           BSE     15        S     60063  847.55
9   INE002A01018 2005-12-05           BSE     16        B     60063  847.55
10  INE002A01018 2005-12-08           BSE     11        B   1200000  847.85
11  INE002A01018 2005-12-08           BSE     12        S   1200000  847.85
12  INE002A01018 2005-12-08           BSE     18        S    807063  844.15
13  INE002A01018 2005-12-08           BSE     19        B    807063  844.15
14  INE002A01018 2005-12-08           BSE     20        S    807002  847.45
15  INE002A01018 2005-12-08           BSE     11        B    807002  847.45

In [234]:
df_blockdeal.loc[0]['DealDate']

datetime.date(2005, 11, 29)

In [115]:
df_bulk.sample(2)

,Deal Date,Security Code,Company,Client Name,Deal Type,Quantity,Price
3123,21-11-2012,505533,WESTLIFE,HORIZON IMPEX PVT LTD,P,400000,152.2
9554,17-06-2020,509930,SUPREMEIND,VENKTESH INVESTMENT AND TRADING COMPANY PRIVAT...,S,1225000,1080.0